<div data-scope-path="summit_customer_props/edit">
  <h1><%= @store_prop.name %>情報編集（サミットエナジー）</h1>
  <%= render "shared/header" %>


  <%= form_with model: @summit_customer_prop,  class: "form-frame", local: true do |f| %>
  <%= render "shared/error_messages", model: f.object %>
  <table>
  <%# 1列目th %>
    <tr>
      <th><label class="form-text">お客様番号</label></th>
      <th><label class="form-text">前電気会社</label></th>
      <th><label class="form-text">需要家名</label></th>
    </tr>
  <%# 1列目td %>
    <tr>
        <td><%= f.text_field :customer_num , class: "form-input" %></td>
        <td><%= f.text_field :before_electric , class: "form-input" %></td>
        <td><%= f.text_field :claim_house , class: "form-input" %></td>
    </tr>
  <%# 2列目th %>
    <tr>
      <th><label class="form-text">お客様番号</label></th>
      <th><label class="form-text">前電気会社</label></th>
    </tr>
  <%# 2列目td %>
    <tr>
      <td><%= f.text_field :claim_address, class: "form-input" %></td>
      <td><%= f.text_field :contract_name, class: "form-input" %></td>
    </tr>
  </table>
  
    <%= f.submit "登録", class: "submit-btn" %>
  <% end %>
</div>