<%= render "shared/header" %>

<div class="main">
  <%= render "shared/side_bar" %>
  <main class="right-bar">
    <h1 class="sub-title">サミット全体獲得詳細</h1>

    <h1 class="show-title">月間平均</h1>

    <table class="show-table">
      <tr>
          <th class="show-th"></th>
        <% @amount_month.each do |amount| %>
          <th class="show-th"><%= amount[0][0] %>年<%= amount[0][1] %>月</td>
        <% end %>
      </tr>        

      <tr>
          <th class="show-th">従量電灯</th>
          <% @metered_month.each do |metered| %>
            <td class="show-td"><%= metered[1] %>kVA</td>
          <% end %>
      </tr>

      <tr>
          <th class="show-th">低圧電力</th>
        <% @low_voltage_month.each do |low_voltage| %>
          <td class="show-td"><%= low_voltage[1] %>kW</td>
        <% end %>
      </tr>


      <tr>
          <th class="show-th">使用量</th>
        <% @amount_month.each do |amount| %>
          <td class="show-td"><%= amount[1] %>kWh</td>
        <% end %>
      </tr>
    </table>

    <h2 class="show-title">入金</h2>
    <table class="show-table">
      <tr>
        <th class="show-th"></th>
        <% Summit.group("YEAR(start)").group("MONTH(start)").where.not(start: nil).each do |summit| %>
        <th class="show-th">
          <%= summit.start.year %>年<%= summit.start.month + 1 %>月
        </th>
        <% end %>
      </tr>
      <tr>
        <% low_voltage_claim_expected = [] %>
        <th class="show-th">低圧電力入金予定</th>
        <% @low_voltage_claim_expected.each do |amount| %>
          <% low_voltage_claim_expected << [amount[0],(amount[1] * 0.02 / 12).round] %>
          <td class="show-td"><%= (amount[1] * 0.02 / 12).round %>円</td>
        <% end %>
      </tr>
      <tr>
        <th class="show-th">低圧電力入金額</th>
        <td class="show-td"></td>
      </tr>
      <tr>
        <% metered_claim_expected = [] %>
        <th class="show-th">従量電灯入金予定</th>
        <% @metered_claim_expected.each do |amount| %>
          <% metered_claim_expected << [amount[0],(amount[1] * 0.07 / 12).round] %>
          <td class="show-td"><%= (amount[1] * 0.07 / 12).round %>円</td>
        <% end %>
      </tr>
      <tr>
        <th class="show-th">従量電灯入金額</th>
        <td class="show-td"></td>
      </tr>

        

          
      
    </table>

  <h2 class="show-title">月毎の各電力の平均容量</h2>
  <%= column_chart @chart %>
  <h2 class="show-title">月毎の各電力>の平均使用量</h2>
  <%= area_chart @amount_chart %>
  <h2 class="show-title">月毎の請求予測額</h2>
  <%= line_chart [
    { name: "予測請求額(従量電灯)",data: metered_claim_expected },
    { name: "予測請求額(低圧電力)",data: low_voltage_claim_expected }
  ] %>



  </main>
</div>