<div data-scope-path="shared/header">
  <h1>対応履歴</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
<div data-scope-path="shared/side_bar">
  <%= render "shared/sidebar" %>
</div>
<div class="main">
  <div data-scope-path="shares/show">
    <h2><%= @summit_customer_prop.store_name %></h2>
    <% @summit_customer_props.each do |summit_customer_prop| %>
    <article class="section">
    <h2>作成日：<%= summit_customer_prop.response_datetime %></h2>
      <table>
      <tr>
      <th>対応種類</th>
      <td><%= summit_customer_prop.history_class %></td>
      </tr>
      <tr>
      <th>対応内容</th>
      <td><%= summit_customer_prop.next_request %></td>
      </tr>
      <tr>
      <th>次回対応依頼</th>
      <td><%= summit_customer_prop.response_remarks %></td>
      </tr>
      </table>
    </article>
    <% end %>
    </div>
  </div>
</div>