<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>PayPay一覧</h1>
  <%= render "shared/header" %>
</div>

<div style="display:flex;">
<div data-scope-path="shared/side_bar">
  <%= render "shared/sidebar" %>
</div>
<div data-scope-path="shares/index">
<div class="main">
<% if current_user.position_sub == "管理" %>
  <%= form_with url: import_paypays_path do |f| %>
    <table class="csv-tb">
      <tr>
        <td class="csv-label" >CSV</td>
        <td class=""><%= f.file_field :file, accept: ".csv", class: "csv-input" %></td>
        <td class="result"><%= f.submit  "インポート", class: "result-btn",data: { confirm: 'インポートしますか？',disable_with: "インポート中" } %></td>
        </tr>
      </table>
    <% end %>
<% end %>

  <p class="nav-text">こちらから確認したい情報を絞り込んでください</p>
      <%= javascript_pack_tag 'search' %>
      <article id='search'><%# 検索フォーム %>
        <button @click="active" v-if="!isActive" class="active-btn">詳細検索表示</button>
        <button @click="active" v-if="isActive" class="active-btn">詳細検索表示中</button>
        <div v-if="isActive" class="s-form"><%# 検索フォームの外枠 %>
          <%= search_form_for @q do |f| %>
            <p class="s-text">検索したい内容を入力してください。</p>
            <hr>
          <div class="s-flex"><%# 検索フォーム %>
            <div class="user-form"><%# ユーザー情報 %>
              <p class="s-label">獲得者</p>
              <p class="s-text-field"><%= f.text_field :user_name_cont, class: "s-text-input" %></p>
              <p class="s-label">拠点</p>
              <p class="s-slct-field"><%= f.select :user_base_cont,{"中部SS": "中部SS","関東SS": "関東SS","関西SS": "関西SS","2次店": "2次店"},{include_blank: true},{ class: "s-slct-input"} %></p>
            </div><%# ユーザー情報 %>
            <div class="product-form"><%# 商材情報 %>
              <table class="s-tb">
                <thead>
                  <tr class="s-tr">
                    <th class="s-th">項目</th>
                    <th class="s-th">検索内容</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="s-tr">
                    <td class="s-td">店舗</td>
                    <td class="s-td">
                      <%= f.select :store_prop_head_store_null,{"本店": true,"複数店": false},{include_blank: true},{ class: "t-input"} %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">獲得日</td>
                    <td class="s-td">
                      <%= f.date_field :date_eq, class: "t-input" %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">獲得日（範囲）</td>
                    <td class="s-td">
                      <%= f.date_field :date_gteq, class: "s-input" %>〜
                      <%= f.date_field :date_lteq, class: "s-input" %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">審査完了日</td>
                    <td class="s-td">
                      <%= f.date_field :result_point_gteq, class: "s-input" %>〜
                      <%= f.date_field :result_point_lteq, class: "s-input" %>
                    </td>
                  </tr>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">審査ステータス</td>
                    <td class="s-td">
                      <%= 
                        f.select :status_eq,
                        options_from_collection_for_select(Paypay.select(:status)
                        .distinct,:status, :status),
                        {include_blank: true},
                        {class: "t-input"} 
                      %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">後確状況</td>
                    <td class="s-td">
                      <%= 
                        f.select :remarks_eq,
                        options_from_collection_for_select(Paypay.select(:remarks)
                        .distinct,:remarks, :remarks),
                        {include_blank: true},
                        {class: "t-input"} 
                      %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">入金日</td>
                    <td class="s-td">
                      <%= f.date_field :payment_gteq, class: "s-input" %>〜
                      <%= f.date_field :payment_lteq, class: "s-input" %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div><%# 商材情報 %>
          </div><%# 検索フォーム %>
          <%= f.submit "検索",data: {disable_with: "検索中"} ,class: "s-btn" %>
          <button class="s-reset-btn"><%= link_to "解除", paypays_path, class: "reset-link" %></button>
          <% end %>
          
        </div><%# /検索フォームの外枠 %>
        <div v-else>
          <%= search_form_for @q do |f| %>
              <%= f.text_field :store_prop_name_or_customer_num_cont, placeholder: "キーワードから探す", class: "input-box" %>
              <%= f.submit "検索",data: {disable_with: "検索中"} ,class: "search-btn" %>
          <% end %>
        </div>
      </article>
          <hr>
  <% if @paypays.empty? %>
    <div class="warning"><%= alert %></div>
  <% else %>
      <h1>獲得日：<%= @paypays.minimum(:date) %>（<%= days[@paypays.minimum(:date).wday] %>）〜<%= @paypays.maximum(:date) %>（<%= days[@paypays.maximum(:date).wday] %>）</h1>
    <table>
      <tr>
        <th class="search-th">獲得数</th>
        <th class="search-th">審査待ち</th>
        <th class="search-th">審査完了</th>
        <th class="search-th">審査中</th>
        <th class="search-th">上位店NG</th>
      </tr>
      <tr>
        <td><%= @paypays.length %></td>
        <td><%= 
          @paypays.where(status: "審査待ち").length +
          @paypays.where(status: "30手動審査待ち").length 
        %></td>
        <td><%= @paypays.where(status: "60審査可決").length %></td>
        <td><%= 
          @paypays.where(status: "110審査留保（営業）_40手動審査中").length + 
          @paypays.where(status: "100審査留保（CS）_40手動審査中").length +
          @paypays.where(status: "40手動審査中").length 
          %></td>
        <td><%= 
          @paypays.where(status: "70審査否決").length +
          @paypays.where(status: "90審査取消").length
        %></td>
      </tr>
    </table>
    <table class="out-tb">
    <thead>
      <tr >
        <th class="out-tb">管理番号</th>
        <th class="out-tb">法人/個人</th>
        <th class="out-tb">店舗名</th>
        <th class="out-tb">獲得日</th>
        <th class="out-tb">獲得者</th>
        <th class="out-tb">後確状況</th>
        <th class="out-tb">審査ステータス</th>
        <th class="out-tb">審査完了日</th>
        <th class="out-tb"></th>
      </tr>
    </thead>
    <tbody>
      <% @paypays_data.each do |paypay| %>
      <tr >
        <td ><%= paypay.customer_num %></td>
        <td ><%= paypay.store_prop.race %></td>
        <td ><%= paypay.store_prop.name %></td>
        <td ><%= paypay.date %></td>
        <td ><%= paypay.user.name %></td>
        <td ><%= paypay.remarks %></td>
        <td ><%= paypay.status %></td>
        <td ><%= paypay.result_point %></td>
        <td ><%= link_to "詳細",  paypay_path(paypay.id) ,class: "link" %></td>
      </tr>
      <% end %>
    </tbody>
    </table>
  <div class="kaminari-page">
    <%= paginate @paypays_data %>
  </div>
  <% end %>
  </div>
  </div>
</div>