<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>PayPay一覧</h1>
  <%= render "shared/header" %>
</div>

<div style="display:flex;">
<div data-scope-path="shared/side_bar">
  <%= render "shared/sidebar" %>
</div>
<div data-scope-path="paypays/index">
<div class="main">
  <%= form_with url: import_paypays_path do |f| %>
    <table class="csv-tb">
      <tr>
        <td class="csv-label" >CSV</td>
        <td class=""><%= f.file_field :file, accept: ".csv", class: "input" %></td>
        <td class="result"><%= f.submit  "インポート", class: "result-btn",data: { confirm: 'インポートしますか？',disable_with: "インポート中" } %></td>
        </tr>
      </table>
    <% end %>
    <p class="nav-text">こちらから確認したい情報を絞り込んでください</p>
    <%= search_form_for @q do |f| %>
      <table >
        <tr >
          <th class="search-head" rowspan="2" >検索</th>
          <th colspan="2" class="search-th">獲得日付</th>
          <th class="search-th">店舗名</th>
          <th class="search-th">獲得者</th>
          <th class="search-th">審査ステータス</th>
          <td class="result"><%= f.submit "絞込み", data: {disable_with: "絞り込み中"},class: "result-btn" %></td>
        </tr>
        <tr >
          <td ><%= f.date_field :date_gteq, class: "input" %>~</td>
          <td ><%= f.date_field :date_lteq, class: "input" %></td>
          <td ><%= f.text_field :store_prop_name_cont, class: "input" %></td>
          <td ><%= f.text_field :user_name_cont, class: "input" %></td>
          <td ><%= f.select :status_eq, options_from_collection_for_select(Paypay.select(:status).distinct,:status, :status),{include_blank: true}, {class: "input"} %></td>
          <td class="reset"><%= link_to "絞込みリセット", paypays_path, class: "reset-link" %></td>
        </tr>
    </table>
    <% end %>
  <% if @paypays.empty? %>
    <div class="warning"><%= alert %></div>
  <% else %>
      <h1>表示範囲：<%= @paypays.minimum(:date) %>（<%= days[@paypays.minimum(:date).wday] %>）〜<%= @paypays.maximum(:date) %>（<%= days[@paypays.maximum(:date).wday] %>）</h1>
    <table>
      <tr>
        <th class="search-th">審査待ち</th>
        <th class="search-th">審査完了</th>
        <th class="search-th">自社不備</th>
        <th class="search-th">上位店不備</th>
        <th class="search-th">上位店NG</th>
      </tr>
      <tr>
        <td><%= @paypays.where(status: "審査待ち").length %></td>
        <td><%= @paypays.where(status: "審査完了").length %></td>
        <td><%= @paypays.where(status: "自社不備").length %></td>
        <td><%= @paypays.where(status: "上位店不備").length %></td>
        <td><%= @paypays.where(status: "上位店NG").length %></td>
      </tr>
    </table>
    <table class="out-tb">
    <thead>
      <tr >
        <th class="out-tb"></th>
        <th class="out-tb">ID</th>
        <th class="out-tb"><%= sort_link(@q, :date, "獲得日",{}, {class: "reset-link"}) %></th>
        <th class="out-tb">法人/個人</th>
        <th class="out-tb">店舗名</th>
        <th class="out-tb">審査ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @paypays_data.each do |paypay| %>
      <tr >
        <td ><%= link_to "詳細",  paypay_path(paypay.id) ,class: "link" %></td>
        <td ><%= paypay.id %></td>
        <td ><%= paypay.date %></td>
        <td ><%= paypay.store_prop.race %></td>
        <td ><%= paypay.store_prop.name %></td>
        <td ><%= paypay.status %></td>
      </tr>
      <% end %>
    </tbody>
    </table>
  <div class="kaminari-page">
    <%= paginate @paypays_data %>
  </div>
  <% end %>
  </div>
  </div>
</div>