<div data-scope-path="paypays/index">
  <h1 class="sub-title">PayPay一覧</h1>
  <%= render "shared/header" %>
    <%= search_form_for @q do |f| %>
      <table>
        <tr >
        <th class="search1">獲得日付</th>
        <td ><%= f.date_field :date_gteq, class: "input" %>~</td>
        <td ><%= f.date_field :date_lt, class: "input" %></td>
        </tr>
      </table>
      <table >
        <tr >
          <th class="search1">獲得者</th>
          <th class="search1">審査ステータス</th>
          <th class="search1">商流</th>
          <td class="result"><%= f.submit "絞込み", class: "result-btn" %></td>
        </tr>
        <tr >
          <td ><%= f.text_field :user_name_cont, class: "input" %></td>
          <td ><%= f.select :status_eq, options_from_collection_for_select(Paypay.select(:status).distinct,:status, :status),{include_blank: true}, {class: "input"} %></td>
          <td ><%= f.select :client_eq, {"マックスサポート": "マックスサポート"}, {include_blank: true}, {class: "input"} %></td>
          <td class="reset"><%= link_to "絞込みリセット", paypays_path, class: "reset-link" %></td>
        </tr>
    </table>
    <% end %>
  <% if @paypays.empty? %>
  <% else %>
    <table>
      <tr >
        <th></th>
        <th ><%= sort_link(@q, :date, "獲得日",{}, {class: "reset-link"}) %></th>
        <th >法人/個人</th>
        <th >店舗名</th>
        <th >審査ステータス</th>
      </tr>
      <% @paypays.each do |paypay| %>
      <tr >
        <td ><%= link_to "詳細",  paypay_path(paypay.id) ,class: "link" %></td>
        <td ><%= paypay.date %></td>
        <td ><%= paypay.store_prop.race %></td>
        <td ><%= paypay.store_prop.name %></td>
        <td ><%= paypay.status %></td>
      </tr>
      <% end %>
    </table>
  <% end %>
  </div>
</main>