<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1 class="sub-title">楽天ペイ不備内訳</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
<div data-scope-path="shared/side_bar">
  <%= render "shared/sidebar" %>
</div>
<div data-scope-path="shares/index">
<hr>
<%= render "shared/rakuten_pay_links" %>
<hr>
<div class="link-flex">
  <%# 不備カテゴリー変数 %>
    <% 
      
    %>
  <%# /不備カテゴリー変数 %>
  <div><%# 拠点別件数 %>
    <h2>◆拠点別件数</h2>
    <table>
      <tr>
        <th>項目</th>
        <% @bases.each do |base| %>
        <th><%= base %></th>
        <% end %>
        <th>合計</th>
      </tr>
      <tr>
        <td>不備①</td>
        <% @bases.each do |base| %>
        <td><%= @rakuten_pays_def1.where(user: {base: base}).length.to_s(:delimited) %>件</td>
        <% end %>
        <td><%= @rakuten_pays_def1.length.to_s(:delimited) %></td>
      </tr>
      <tr>
        <td>不備②</td>
        <% @bases.each do |base| %>
        <td><%= @rakuten_pays_def2.where(user: {base: base}).length.to_s(:delimited) %>件</td>
        <% end %>
        <td><%= @rakuten_pays_def2.length.to_s(:delimited) %></td>
      </tr>
    </table>
  </div><%# 拠点別件数 %>
</div>
<div class="link-flex"><%# 不備内訳大枠 %>
  <div><%# 不備内訳① %>
    <h2>◆不備内訳①</h2>
    <table>
        <th >不備番号</th>
        <th >不備内容</th>
        <th >件数</th>
        <th >解消数</th>
        <th >取消数</th>
        <th >取消率</th>
        <% def1_pie_chart = [] %>
        <% def1_cancel_pie_chart = [] %>
        <% @rakuten_pays_def1.group(:def_status).zip(@rakuten_pays_def1.group(:def_status).count).each do |rakuten_pay, r_len| %>
        <% def1_pie_chart << [@def_category[:"#{rakuten_pay.def_status}"],r_len[1]] %>
      <tr>  
        <td><%= rakuten_pay.def_status %></td>
        <td><%= @def_category[:"#{rakuten_pay.def_status}"] %></td>
        <td><%= r_len[1] %>件</td>
        <td><%= @rakuten_pays_def1.where(def_status: r_len[0]).where(status: "OK").length  %>件</td>
        <td><%= def_cancel_len = @rakuten_pays_def1.where(def_status: r_len[0]).where(status: "申込取消").or(@rakuten_pays_def1.where(def_status: r_len[0]).where(status: "申込取消（不備）")).length  %>件</td>
        <% def1_cancel_pie_chart << [@def_category[:"#{rakuten_pay.def_status}"], def_cancel_len] %>
        <td><%= (def_cancel_len.to_f / r_len[1] * 100).round(1) %>%</td>
      </tr>
        <% end %> 
      <tr>
        <td></td>
        <td>合計</td>
        <td><%= @rakuten_pays_def1.length.to_s(:delimited) %>件</td>
        <td><%= @rakuten_pays_def1.where(status: "OK").length  %>件</td>
        <td><%= def_cancel_all_len = @rakuten_pays_def1.where(status: "申込取消").or(@rakuten_pays_def1.where(status: "申込取消（不備）")).length  %>件</td>
        <td><%= (def_cancel_all_len.to_f / @rakuten_pays_def1.length * 100).round(1) %>%</td>
      </tr>
    </table>
  </div><%# 不備内訳① %>
  <div><%# 不備内訳② %>
    <h2>◆不備内訳②</h2>
    <table>
        <th >不備番号</th>
        <th >不備内容</th>
        <th >件数</th>
        <% @rakuten_pays_def2.group(:def_status2).zip(@rakuten_pays_def2.group(:def_status2).count).each do |rakuten_pay, r_len| %>
      <tr>  
        <td><%= rakuten_pay.def_status2 %></td>
        <td><%= @def_category[:"#{rakuten_pay.def_status2}"] %></td>
        <td><%= r_len[1] %>件</td>
        <% end %> 
      </tr>
      <tr>
        <td></td>
        <td>合計</td>
        <td><%= @rakuten_pays_def2.length.to_s(:delimited) %>件</td>
      </tr>
    </table>
  </div><%# 不備内訳② %>
  <div ><%# 円グラフ %>
    <div>
    <h2>◆不備①件数内訳</h2>
    <%= pie_chart def1_pie_chart ,width: "40vw" %>
    </div>
    <hr>
    <div>
    <h2 >◆不備①取消件数内訳</h2>
    <%= pie_chart def1_cancel_pie_chart, width: "40vw" %>
    </div>
  </div><%# /円グラフ %>
</div><%# 不備内訳大枠 %>
<hr>

<hr>
<h2>◆不備発生推移</h2><br>
<%= line_chart @def_graph %>
<div class="link-flex">
  <div>
    <h2>◆月間不備発生件数</h2>
    <table>
      <tr>
        <% month_ary = [] %><%# 月間 %>
        <% @rakuten_pays_def.group("YEAR(client_def_date)").group("MONTH(client_def_date)").count.each do |month| %>
        <th class="green-th">
          <%= month[0][0] %>年
          <%= month[0][1] %>月
          <% month_ary << "#{month[0][0]}年#{month[0][1]}月" %>
        </th>
        <% end %>
        <th class="green-th">合計</th>
      </tr>
      <tr>
          <% @rakuten_pays_def.group("YEAR(client_def_date)").group("MONTH(client_def_date)").count.each do |rakuten_def| %>
          <td><%= rakuten_def[1] %>件</td>
          <% end %>
        <td><%= @rakuten_pays_def.length %>件</td>
      </tr>
    </table>
  </div>
  <div>
    <% if @rakuten_pays_def.where.not(client_def_solution: nil).length != 0 %>
      <h2>◆月間不備解消件数</h2>
      <table>
        <tr>
          <% month_ary = [] %><%# 月間 %>
          <% @rakuten_pays_def.where.not(client_def_solution: nil).where.not(status: "申込取消").where.not(status: "申込取消（不備）").group("YEAR(client_def_solution)").group("MONTH(client_def_solution)").count.each do |month| %>
          <th class="green-th">
            <%= month[0][0] %>年
            <%= month[0][1] %>月
            <% month_ary << "#{month[0][0]}年#{month[0][1]}月"  %>
          </th>
          <% end %>
          <th class="green-th">合計</th>
        </tr>
        <tr>
            <% @rakuten_pays_def.where.not(client_def_solution: nil).where.not(status: "申込取消").where.not(status: "申込取消（不備）").group("YEAR(client_def_solution)").group("MONTH(client_def_solution)").count.each do |rakuten_def| %>
              <td><%= rakuten_def[1] %>件</td>
            <% end %>
          <td><%= @rakuten_pays_def.where.not(client_def_solution: nil).where.not(status: "申込取消").where.not(status: "申込取消（不備）").length %>件</td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
  <div>
    <% if @rakuten_pays_def.where.not(client_def_solution: nil).length != 0 %>
      <h2>◆月間不備→申込取消件数</h2>
      <table>
        <tr>
          <% month_ary = [] %><%# 月間 %>
          <% @rakuten_pays_def.where.not(client_def_solution: nil).where(status: "申込取消").group("YEAR(client_def_solution)").group("MONTH(client_def_solution)").or(@rakuten_pays_def.where.not(client_def_solution: nil).where(status: "申込取消（不備）").group("YEAR(client_def_solution)").group("MONTH(client_def_solution)")).count.each do |month| %>
          <th class="green-th">
            <%= month[0][0] %>年
            <%= month[0][1] %>月
            <% month_ary << "#{month[0][0]}年#{month[0][1]}月"  %>
          </th>
          <% end %>
          <th class="green-th">合計</th>
        </tr>
        <tr>
            <% @rakuten_pays_def.where.not(client_def_solution: nil).where(status: "申込取消").group("YEAR(client_def_solution)").group("MONTH(client_def_solution)").or(@rakuten_pays_def.where.not(client_def_solution: nil).where(status: "申込取消（不備）").group("YEAR(client_def_solution)").group("MONTH(client_def_solution)")).count.each do |rakuten_def| %>
              <td><%= rakuten_def[1] %>件</td>
            <% end %>
          <td><%= @rakuten_pays_def.where.not(client_def_solution: nil).where(status: "申込取消").or(@rakuten_pays_def.where.not(client_def_solution: nil).where(status: "申込取消（不備）")).length %>件</td>
        </tr>
      </table>
    <% end %>
  </div>
  <h2 class="red">※こちらは発生、もしくは解消された月毎で表示しております。</h2><br>
</div>
