<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1 class="sub-title">楽天ペイ不備内訳</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
<div data-scope-path="shared/side_bar">
  <%= render "shared/sidebar" %>
</div>
<div data-scope-path="shares/index">
<hr>
<%= render "shared/rakuten_pay_links" %>
<hr>
<div class="link-flex">
  <div>
  <h2>◆拠点別件数</h2>
  <table>
    <tr>
      <% @bases.each do |base| %>
      <th><%= base %></th>
      <% end %>
    </tr>
    <tr>
      <% @bases.each do |base| %>
      <td><%= @rakuten_pays_def.where(status: "1次審査不備").where(user: {base: base}).length %>件</td>
      <% end %>
    </tr>
  </table>
  </div>
</div>
<h2>◆不備内訳</h2>
<table>
  <tr>  
    <th>合計</th>
    <% @rakuten_pays_def.where(status: "1次審査不備").group(:def_status).each do |rakuten_pay| %>
    <th><%= rakuten_pay.def_status %></th>
    <% end %>
  </tr>
  <tr>
    <td><%= @rakuten_pays_def.where(status: "1次審査不備").length %>件</td>
    <% @rakuten_pays_def.where(status: "1次審査不備").group(:def_status).count.each do |rakuten_pay| %>
    <td><%= rakuten_pay[1] %>件</td>
    <% end %>
  </tr>
</table>

<hr>
<h2>◆不備発生推移</h2><br>
<%= line_chart @def_graph %>
<div class="link-flex">
  <div>
    <h2>◆月間不備発生件数</h2>
    <table>
      <tr>
        <% month_ary = [] %><%# 月間 %>
        <% @rakuten_pays_def.group("YEAR(client_def_date)").group("MONTH(client_def_date)").count.each do |month| %>
        <th class="green-th">
          <%= month[0][0] %>年
          <%= month[0][1] %>月
          <% month_ary << "#{month[0][0]}年#{month[0][1]}月"  %>
        </th>
        <% end %>
        <th class="green-th">合計</th>
      </tr>
      <tr>
          <% @rakuten_pays_def.group("YEAR(client_def_date)").group("MONTH(client_def_date)").count.each do |rakuten_def| %>
              <td><%= rakuten_def[1] %>件</td>
          <% end %>
        <td><%= @rakuten_pays_def.length %>件</td>
      </tr>
    </table>
  </div>
  <div>
    <% if @rakuten_pays_def.where.not(client_def_solution: nil).length != 0 %>
      <h2>◆月間不備解消件数</h2>
      <table>
        <tr>
          <% month_ary = [] %><%# 月間 %>
          <% @rakuten_pays_def.where.not(client_def_solution: nil).where.not(status: "申込取消").where.not(status: "申込取消（不備）").group("YEAR(client_def_solution)").group("MONTH(client_def_solution)").count.each do |month| %>
          <th class="green-th">
            <%= month[0][0] %>年
            <%= month[0][1] %>月
            <% month_ary << "#{month[0][0]}年#{month[0][1]}月"  %>
          </th>
          <% end %>
          <th class="green-th">合計</th>
        </tr>
        <tr>
            <% @rakuten_pays_def.where.not(client_def_solution: nil).where.not(status: "申込取消").where.not(status: "申込取消（不備）").group("YEAR(client_def_solution)").group("MONTH(client_def_solution)").count.each do |rakuten_def| %>
              <td><%= rakuten_def[1] %>件</td>
            <% end %>
          <td><%= @rakuten_pays_def.where.not(client_def_solution: nil).where.not(status: "申込取消").where.not(status: "申込取消（不備）").length %>件</td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
</div>
