<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1 class="sub-title">楽天ペイ一覧</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
<div data-scope-path="shared/side_bar">
  <%= render "shared/sidebar" %>
</div>
<div data-scope-path="rakuten_pays/index">
<div class="main">
  <%= form_with url: import_rakuten_pays_path do |f| %>
    <table class="csv-tb">
      <tr>
        <td class="csv-label" >CSV</td>
        <td class=""><%= f.file_field :file, accept: ".csv", class: "input" %></td>
        <td class="result"><%= f.submit  "インポート", class: "result-btn",data: { confirm: 'インポートしますか？',disable_with: "インポート中" } %></td>
        </tr>
      </table>
    <% end %>
    <%= search_form_for @q do |f| %>
      <table >
        <tr >
          <th class="search-head" rowspan="2" >検索</th>
          <th colspan="2" class="search-th">獲得日付</th>
          <th class="search-th">獲得者</th>
          <th class="search-th">審査ステータス</th>
          <td class="result"><%= f.submit "絞込み", class: "result-btn" %></td>
        </tr>
        <tr >
        <td ><%= f.date_field :date_gteq, class: "input" %>~</td>
        <td ><%= f.date_field :date_lt, class: "input" %></td>
          <td ><%= f.text_field :user_name_cont, class: "input" %></td>
          <td ><%= f.select :status_eq, options_from_collection_for_select(RakutenPay.select(:status).distinct,:status, :status),{include_blank: true}, {class: "input"} %></td>
          <td class="reset"><%= link_to "絞込みリセット", rakuten_pays_path, class: "reset-link" %></td>
        </tr>
    </table>
    <% end %>
  <% if @rakuten_pays.empty? %>
    <div class="warning"><%= alert %></div>
  <% else %>
      <h1>表示範囲：<%= @rakuten_pays.minimum(:date) %>（<%= days[@rakuten_pays.minimum(:date).wday] %>）〜<%= @rakuten_pays.maximum(:date) %>（<%= days[@rakuten_pays.maximum(:date).wday] %>）</h1>
    <table >
      <tr>
        <th class="search-th">獲得数</th>
        <th class="search-th">未処理</th>
        <th class="search-th">審査待ち</th>
        <th class="search-th">審査完了</th>
        <th class="search-th">複数店舗</th>
      </tr>
      <tr>
        <td><%= @rakuten_pays.length %></td>
        <td><%= @rakuten_pays.where(status: "未処理").length %></td>
        <td><%= @rakuten_pays.where(status: "審査待ち").length %></td>
        <td><%= @rakuten_pays.where(status: "審査完了").length %></td>
        <td><%= @rakuten_pays.where(status: "複数店舗").length %></td>
      </tr>
      <tr>
        <th class="search-th">自社不備</th>
        <th class="search-th">上位店不備</th>
        <th class="search-th">上位店NG</th>
      </tr>
      <tr>
        <td><%= @rakuten_pays.where(status: "自社不備").length %></td>
        <td><%= @rakuten_pays.where(status: "上位店不備").length %></td>
        <td><%= @rakuten_pays.where(status: "上位店NG").length %></td>
      </tr>
    </table>
    <table class="out-tb">
      <thead>
      <tr >
        <th class="out-th"></th>
        <th class="out-th"><%= sort_link(@q, :date, "獲得日",{}, {class: "reset-link"}) %></th>
        <th class="out-th">店舗名</th>
        <th class="out-th">獲得者</th>
        <th class="out-th">審査ステータス</th>
        <th class="out-th">情報不備</th>
        <th class="out-th">上位店共有日</th>
      </tr>
      </thead>
      <tbody>
      <% @rakuten_pays_data.each do |rakuten_pay| %>
      <tr >
        <td ><%= link_to "詳細",  rakuten_pay_path(rakuten_pay.id) ,class: "link" %></td>
        <td ><%= rakuten_pay.date %></td>
        <td ><%= rakuten_pay.store_prop.name %></td>
        <td ><%= rakuten_pay.user.name %></td>
        <td ><%= rakuten_pay.status %></td>
        <td ><%= rakuten_pay.deficiency_info %></td>
        <td ><%= rakuten_pay.share %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  <div class="kaminari-page">
    <%= paginate @rakuten_pays_data %>
  </div>
  <% end %>
  </div>
  </div>
</div>