<div data-scope-path="shared/header">
  <h1><%= @store_prop.name %>情報入力（楽天ペイ）</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;"><%# フレックス %>
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div data-scope-path="shared/form"><%# CSSスコープ %>
    <div class="form-main"><%# フォーム外枠 %>
      <div class="form-title">
        <h2>獲得情報</h2>
      </div>
      <%= form_with model: @rakuten_pay,  class: "form-frame", local: true do |f| %>
        <%= render "shared/error_messages", model: f.object %>
        <%= f.hidden_field :store_prop_id, value: @store_prop.id %>
        <%= f.hidden_field :valuation, value: 4000 %>
        <%= f.hidden_field :profit, value: 12272 %>
        <%= f.hidden_field :status_update,value: Date.today %>
        <div class="form">
            <p><%= f.label :client, "商流", class: "form-text" %></p>
            <p><%= f.collection_select(:client, RakutenPay.select(:client).distinct, :client, :client,{}, {class: "date-input"})%></p>
        </div>
        <div class="form">
            <p><%= f.label :date, "獲得日", class: "form-text" %></p>
            <p><%= f.date_field :date,class: "date-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :share, "上位店共有日", class: "form-text" %></p>
            <p><%= f.date_field :share,class: "date-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :customer_num, "お客様番号", class: "form-text" %></p>
            <p><%= f.text_field :customer_num , class: "input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :user_id, "獲得者", class: "form-text" %></p>
            <p><%= f.collection_select(:user_id, @users, :id, :name,{}, {class: "date-input"})%></p>
        </div>
        <div class="form">
            <p><%= f.label :status, "審査ステータス", class: "form-text" %></p>
            <p><%= f.collection_select(:status, RakutenPay.select(:status).distinct, :status, :status,{}, {class: "date-input"})%></p>
        </div>
        <div class="form">
            <p><%= f.label :result_point, "審査通過日", class: "form-text" %></p>
            <p><%= f.date_field :result_point,class: "date-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :deficiency_info, "自社不備内容", class: "form-text" %></p>
            <p><%= f.text_field :deficiency_info,class: "date-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :deficiency, "自社不備発生日", class: "form-text" %></p>
            <p><%= f.date_field :deficiency,class: "date-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :deficiency_solution, "自社不備解消日", class: "form-text" %></p>
            <p><%= f.date_field :deficiency_solution,class: "date-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :client_def_date, "上位店不備発生日", class: "form-text" %></p>
            <p><%= f.date_field :client_def_date,class: "date-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :client_def_solution, "上位店不備解消日", class: "form-text" %></p>
            <p><%= f.date_field :client_def_solution,class: "date-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :payment_deadline, "入金期限", class: "form-text" %></p>
            <p><%= f.date_field :payment_deadline,class: "date-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :payment_flag, "入金フラグ", class: "form-text" %></p>
            <p><%= f.collection_select(:payment_flag, RakutenPay.select(:payment_flag).distinct, :payment_flag, :payment_flag,{}, {class: "date-input"})%></p>
        </div>
    </div><%# フォーム外枠 %>
        <div class="form-submit">
            <%= f.submit "登録", class: "submit-btn",data: { confirm: "登録してもよろしいですか？" }  %>
        </div>
    <% end %>
  </div><%# CSSスコープ %>
</div><%# フレックス %>