<div data-scope-path="shared/header">
  <h1>目標売上(基準値)編集</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;"><%# フレックス %>
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div data-scope-path="shared/form"><%# CSSスコープ %>
    <div class="form-main"><%# フォーム外枠 %>
      <div class="form-title">
        <h2>登録情報(目標売上<%= @baseline_sale.sales_goal %>の基準値: <%= @baseline_metric.metric_name %>)</h2>
      </div>
    <%= form_with model: [@baseline_sale, @baseline_metric], class: "form-frame", local: true do |f| %>
        <div class="form">
            <%= render "shared/error_messages", model: f.object %>
            <%= f.hidden_field :metric_name , value: @baseline_metric.metric_name %>
            <%= f.hidden_field :baseline_sale_id , value: @baseline_sale.id %>
            <p><%= f.label :metric_val, "目標基準値", class: "form-text" %></p>
            <p><%= f.number_field :metric_val, step: :any, class: "date-input" %></p>
            <p><%= f.label :metric_per, "目標基準値(率)", class: "form-text" %></p>
            <p><%= f.number_field :metric_per, class: "date-input" %></p>
        </div>
    </div><%# フォーム外枠 %>
        <div class="form-submit">
            <%= f.submit "登録", class: "submit-btn",data: { confirm: "登録してもよろしいですか？" }  %>
        </div>
    <% end %>
  </div><%# CSSスコープ %>
</div><%# フレックス %>