<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>会議資料</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
<div data-scope-path="shared/side_bar">
  <%= render "shared/sidebar" %>
</div>
  <div data-scope-path="display_periods/index">
    <h2>表示フィルター</h2>
    <div class="btn-form">
      <button id="chart-button">早見</button>
      <button id="cash-button">キャッシュ実売/経費</button>
      <button id="show-button">個別実売詳細</button>
    </div>
    <h2>
      <%= link_to "<<",display_periods_path(month:@month.prev_month), class:"link" %>
      <%= @month.month %>月 (<%= @minimum_date_cash.strftime("%m月%d日") %>〜<%= @maximum_date_cash.strftime("%m月%d日") %>)
      <%= link_to ">>",display_periods_path(month:@month.next_month), class:"link" %>
    </h2>
    <div style="display:flex;">
      <div><%= render "display_period_parts/cash_meeting_show" %></div>
    </div>
  </div>
</div>