<%# サミット個別獲得案件一覧 %>
<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>明細一覧</h1>
  <%= render "shared/header" %>
</div>
<div data-scope-path="users/show"><%# users/showスコープ頭 %>
    <h2>
      <%= @user.name %>
      <%= link_to "<<",billing_data_result_summits_path(user_id: @user.id,month:@month.prev_month),"data-turbolinks": false, class:"link" %>
      <%= @billing_month %> 明細一覧
      <%= link_to ">>",billing_data_result_summits_path(user_id: @user.id,month:@month.next_month),"data-turbolinks": false, class:"link" %>
    </h2><br>
    <%= render "shared/summit_result_links" %>

  <table>
    <tr>
      <th class="date-th" colspan="3">明細件数</th>
      <th class="date-th" colspan="2">平均使用量</th>
      <th class="date-th" colspan="2">平均手数料</th>
      <th class="date-th" colspan="2">合計</th>
    </tr>
    <tr>
      <th class="date-th">合計</th>
      <% 3.times do %>
      <th class="date-th">従量</th>
      <th class="date-th">低圧</th>
      <% end %>
      <th class="date-th">使用量</th>
      <th class="date-th">手数料</th>
    </tr>
    <tr>
      <td class="date-td"><%= @summits.length %></td>
      <td class="date-td"><%= @summits.where("contract_type LIKE ?", "%従量%").length %></td>
      <td class="date-td"><%= @summits.where("contract_type LIKE ?", "%低圧%").length %></td>
      <td class="date-td"><%= @summits.where("contract_type LIKE ?", "%従量%").average(:total_use).round() rescue 0 %>kWh</td>
      <td class="date-td"><%= @summits.where("contract_type LIKE ?", "%低圧%").average(:total_use).round() rescue 0 %>kWh</td>
      <td class="date-td">¥<%= @summits.where("contract_type LIKE ?", "%従量%").average(:commission).round() rescue 0 %></td>
      <td class="date-td">¥<%= @summits.where("contract_type LIKE ?", "%低圧%").average(:commission).round() rescue 0 %></td>
      <td class="date-td"><%= @summits.sum(:total_use).to_s(:delimited) rescue 0 %>kWh</td>
      <td class="date-td">¥<%= @summits.sum(:commission).to_s(:delimited) rescue 0 %></td>
    </tr>
  </table>

  <% if @summits.present? %>
  <h2>◆明細一覧(<%= @summits.length %>件)</h2>
  <div class="index-form">
  <table>
    <tr>
      <th class="date-th">No</th>
      <th class="date-th">店舗名</th>
      <th class="date-th">請求月</th>
      <th class="date-th">契約種別</th>
      <th class="date-th">使用量(kWh)</th>
      <th class="date-th">請求額</th>
      <th class="date-th">手数料</th>
      <th class="date-th">報酬率</th>
      <th class="date-th">詳細</th>
    </tr>
    <% @summits.each_with_index do |s, i| %>
    <tr>
      <td class="date-td"><%= i + 1 %></td>
      <td class="date-td"><%= s.store_name %></td>
      <td class="date-td"><%= s.billing_date %></td>
      <td class="date-td"><%= s.contract_type %></td>
      <td class="date-td"><%= s.total_use %></td>
      <td class="date-td"><%= s.billing_amount.to_s(:delimited) rescue 0 %></td>
      <td class="date-td"><%= s.commission.to_s(:delimited) rescue 0 %></td>
      <td class="date-td"><%= s.rate %></td>
      <td class="date-td"><%= link_to "詳細", summit_billing_amount_path(s.id), "data-turbolinks": false, class: "link" %></td>
    </tr>
    <% end %>
  </table>
  </div>
  <% else %>
  <p class="caution-text">※まだ<%= @month.month %>月はまだ明細が発行されておりません。</p>
  <% end %>

    <p class="nav-text">
      グラフ：
      <select class="graph-slct" id="summit-graph-change" >
        <option value="手数料">手数料（合計）</option>
        <option value="従量電灯（件数）">獲得数（合計）</option>
        <option value="従量電灯手数料（平均）">手数料（平均）</option>
        <option value="従量電灯使用量（平均）">使用量（平均）</option>
      </select>
    </p>
    <div class="graph-form" id="metered-graph">
      <h2>◆<%= @month.year %>年：獲得推移</h2><br>
      <%= column_chart @count_chart %>
      <table>
        <tr>
          <th class="date-th">項目</th>
          <% @counter_m.each do |col| %>
          <th class="date-th"><%= col[0] %></th>
          <% end %>
        </tr>
        <tr>
          <th class="date-th">従量電灯</th>
          <% @counter_m.each do |count| %>
          <td class="date-td"><%= count[1].round().to_s(:delimited) %></td>
          <% end %>
        </tr>
        <tr>
          <th class="date-th">低圧電力</th>
          <% (@counter_m.length - @counter_m.length).times do %>
          <td class="date-td">0</td>
          <% end %>
          <% @counter_l.each do |count| %>
          <td class="date-td"><%= count[1].round().to_s(:delimited) %></td>
          <% end %>
        </tr>
      </table>
    </div>
  <div class="graph-form-first" id="commission-graph">
    <h2>◆<%= @month.year %>年：手数料（合計）</h2><br>
    <%= column_chart   @commission_chart,options = {
      thousands: ",",
      suffix: "円",
      xtitle: "請求月",
    } 
    %>
      <table>
        <tr>
          <th class="date-th">項目</th>
          <% @commission_sum_m.each do |col| %>
          <th class="date-th"><%= col[0] %></th>
          <% end %>
        </tr>
        <tr>
          <th class="date-th">従量電灯</th>
          <% @commission_sum_m.each do |commission| %>
          <td class="date-td">¥<%= commission[1].round().to_s(:delimited) %></td>
          <% end %>
        </tr>
        <tr>
          <th class="date-th">低圧電力</th>
          <% (@commission_sum_m.length - @commission_sum_l.length).times do %>
          <td class="date-td">0</td>
          <% end %>
          <% @commission_sum_l.each do |commission| %>
          <td class="date-td">¥<%= commission[1].round().to_s(:delimited) %></td>
          <% end %>
        </tr>
      </table>
  </div>
  <div class="graph-form" id="commission-ave-graph">
    <h2>◆<%= @month.year %>年：手数料（平均）</h2><br>
    <%= column_chart   @commission_ave_chart,options = {
      thousands: ",",
      suffix: "円",
      xtitle: "請求月",
    } 
    %>
  <table>
    <tr>
      <th class="date-th">項目</th>
      <% @commission_m_ave.each do |col| %>
      <th class="date-th"><%= col[0] %></th>
      <% end %>
    </tr>
    <tr>
      <th class="date-th">従量電灯</th>
      <% @commission_m_ave.each do |commission_ave| %>
      <td class="date-td">¥<%= commission_ave[1].round().to_s(:delimited) %></td>
      <% end %>
    </tr>
    <tr>
      <th class="date-th">低圧電力</th>
      <% (@commission_m_ave.length - @commission_l_ave.length).times do %>
      <td class="date-td">¥0</td>
      <% end %>
      <% @commission_l_ave.each do |commission_ave| %>
      <td class="date-td">¥<%= commission_ave[1].round().to_s(:delimited) %></td>
      <% end %>
    </tr>
  </table>
  </div>
  <div class="graph-form" id="total-use-ave-graph">
    <h2>◆<%= @month.year %>年：使用料（平均）</h2><br>
    <%= column_chart   @total_use_ave_chart,options = {
      thousands: ",",
      suffix: "kWh",
      xtitle: "請求月",
    } 
    %>
  
  <table>
    <tr>
      <th class="date-th">項目</th>
      <% @total_use_m_ave.each do |col| %>
      <th class="date-th"><%= col[0] %></th>
      <% end %>
    </tr>
    <tr>
      <th class="date-th">従量電灯</th>
      <% @total_use_m_ave.each do |total_use_ave| %>
      <td class="date-td"><%= total_use_ave[1].round(1) %>kWh</td>
      <% end %>
    </tr>
    <tr>
      <th class="date-th">低圧電力</th>
      <% (@total_use_m_ave.length - @total_use_m_ave.length).times do %>
      <td class="date-td">0kWh</td>
      <% end %>
      <% @total_use_l_ave.each do |total_use_ave| %>
      <td class="date-td"><%= total_use_ave[1].round(1) %>kWh</td>
      <% end %>
    </tr>
  </table>
  </div>

</div>