<div data-scope-path="results/new">
  <h1>サミット切り返し</h1>
  <%= render "shared/header" %>
  <%= form_with model: @result_summit,url: result_result_summits_create_path(@result.id), local: true, class: "form-frame", local: true do |f| %>
    <%= render "shared/error_messages", model: f.object %>
    <%= f.hidden_field :result_id, value: @result.id %>
  <h1>（決済者面会-フルトーク）</h1>
    <div style="display: flex;">
    <div><h2>０１：何故見せないと</h2>
    <table>
      <tr>
        <th ><%= f.label :out_interview_01, "決済者面会", class: "form-text" %></th>
        <th ><%= f.label :out_full_talk_01, "フルトーク", class: "form-text" %></th>
      <tr>
        <td><%= f.number_field :out_interview_01, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_full_talk_01, class: "form-input-num" %></td>
      </tr>
    </table></div>
    <div><h2>０２：君は誰？</h2>
    <table>
      <tr >
        <th ><%= f.label :out_interview_02, "決済者面会", class: "form-text" %></th>
        <th ><%= f.label :out_full_talk_02, "フルトーク", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_interview_02, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_full_talk_02, class: "form-input-num" %></td>
      </tr>
    </table></div>
    </div>
    <div style="display: flex;">
    <div><h2>０３：明細ない</h2>
    <table>
      <tr >
        <th ><%= f.label :out_interview_03, "決済者面会", class: "form-text" %></th>
        <th ><%= f.label :out_full_talk_03, "フルトーク", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_interview_03, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_full_talk_03, class: "form-input-num" %></td>
      </tr>
    </table></div>
    <div><h2>０４：忙しい</h2>
    <table>
      <tr >
        <th ><%= f.label :out_interview_04, "決済者面会", class: "form-text" %></th>
        <th ><%= f.label :out_full_talk_04, "フルトーク", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_interview_04, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_full_talk_04, class: "form-input-num" %></td>
      </tr>
    </table></div>
    </div>
    <div style="display: flex;">
    <div><h2>０５：電気断ってる</h2>
    <table>
      <tr >
        <th ><%= f.label :out_interview_05, "決済者面会", class: "form-text" %></th>
        <th ><%= f.label :out_full_talk_05, "フルトーク", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_interview_05, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_full_talk_05, class: "form-input-num" %></td>
      </tr>
    </table></div>
    <div><h2>０６：ペロ</h2>
    <table>
      <tr >
        <th ><%= f.label :out_interview_06, "決済者面会", class: "form-text" %></th>
        <th ><%= f.label :out_full_talk_06, "フルトーク", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_interview_06, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_full_talk_06, class: "form-input-num" %></td>
      </tr>
    </table></div>
    </div>
  <h1>（フルトーク-成約）</h1>
    <div style="display: flex;">
    <div><h2>０７：口座拒否</h2>
    <table>
      <tr >
        <th ><%= f.label :out_full_talk_07, "フルトーク", class: "form-text" %></th>
        <th ><%= f.label :out_get_07, "成約", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_full_talk_07, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_get_07, class: "form-input-num" %></td>
      </tr>
    </table></div>
    <div><h2>０８：忙しい</h2>
    <table>
      <tr>
        <th ><%= f.label :out_full_talk_08, "フルトーク", class: "form-text" %></th>
        <th ><%= f.label :out_get_08, "成約", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_full_talk_08, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_get_08, class: "form-input-num" %></td>
      </tr>
    </table></div>
    </div>
    <div style="display: flex;">
    <div><h2>０９：怪しい</h2>
    <table>
      <tr>
        <th ><%= f.label :out_full_talk_09, "フルトーク", class: "form-text" %></th>
        <th ><%= f.label :out_get_09, "成約", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_full_talk_09, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_get_09, class: "form-input-num" %></td>
      </tr>
    </table></div>
    <div><h2>１０：検討する</h2>
    <table>
      <tr>
        <th ><%= f.label :out_full_talk_10, "フルトーク", class: "form-text" %></th>
        <th ><%= f.label :out_get_10, "成約", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_full_talk_10, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_get_10, class: "form-input-num" %></td>
      </tr>
    </table></div>
    </div>
    <div style="display: flex;">
    <div><h2>１１：まとめてるからいい</h2>
    <table>
      <tr>
        <th ><%= f.label :out_full_talk_11, "フルトーク", class: "form-text" %></th>
        <th ><%= f.label :out_get_11, "成約", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_full_talk_11, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_get_11, class: "form-input-num" %></td>
      </tr>
    </table></div>
    <div><h2>１２：下がってるからいい</h2>
    <table>
      <tr>
        <th ><%= f.label :out_full_talk_12, "フルトーク", class: "form-text" %></th>
        <th ><%= f.label :out_get_12, "成約", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_full_talk_12, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_get_12, class: "form-input-num" %></td>
      </tr>
    </table></div>
    </div>
    <div style="display: flex;">
    <div><h2>１３：既存のまま</h2>
    <table>
      <tr>
        <th ><%= f.label :out_full_talk_13, "フルトーク", class: "form-text" %></th>
        <th ><%= f.label :out_get_13, "成約", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_full_talk_14, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_get_14, class: "form-input-num" %></td>
      </tr>
    </table></div>
    <div><h2>１４：メアドなし</h2>
    <table>
      <tr>
        <th ><%= f.label :out_full_talk_14, "フルトーク", class: "form-text" %></th>
        <th ><%= f.label :out_get_14, "成約", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_full_talk_14, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_get_14, class: "form-input-num" %></td>
      </tr>
    </table></div>
    </div>
    <div style="display: flex;">
    <div><h2>１５：情報不足</h2>
    <table>
      <tr>
        <th ><%= f.label :out_full_talk_15, "フルトーク", class: "form-text" %></th>
        <th ><%= f.label :out_get_15, "成約", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_full_talk_15, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_get_15, class: "form-input-num" %></td>
      </tr>
    </table></div>
    <div><h2>１６：ペロ</h2>
    <table>
      <tr>
        <th ><%= f.label :out_full_talk_16, "フルトーク", class: "form-text" %></th>
        <th ><%= f.label :out_get_16, "成約", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_full_talk_16, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_get_16, class: "form-input-num" %></td>
      </tr>
    </table></div>
    </div>
  <%= f.submit "登録",data: { confirm: "登録してもよろしいですか？" }, class: "submit-btn" %>
  <% end %>