<%# サミット個別獲得案件一覧 %>
<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>個別廃止案件</h1>
  <%= render "shared/header" %>
</div>
<div data-scope-path="users/show"><%# users/showスコープ頭 %>
    <h2>
      <%= @user.name %>
      <%= link_to "<<",repeal_data_result_summits_path(user_id: @user.id,month:@month.prev_month), class:"link" %>
      <%= @month.year %>年<%= @month.month %>月 獲得詳細
      <%= link_to ">>",repeal_data_result_summits_path(user_id: @user.id,month:@month.next_month), class:"link" %>
    </h2><br>
    <%= render "shared/summit_result_links" %>

  <table>
    <tr>
      <th class="date-th">No</th>
      <th class="date-th">kintone連携</th>
      <th class="date-th">店舗名</th>
      <th class="date-th">獲得日</th>
      <th class="date-th">解約ステータス</th>
      <th class="date-th">解約申込（異動日）</th>
      <th class="date-th">契約種別</th>
      <th class="date-th">解約申込事業者</th>
      <th class="date-th">請求回数</th>
      <th class="date-th">詳細</th>
    </tr>
    <% @summits.each_with_index do |s, i| %>
    <tr>
      <td class="date-td"><%= i + 1 %></td>
      <% if s.summit_client.present? %>
      <td class="date-td">連携済</td>
      <% else %>
      <td class="date-td red">未携済</td>
      <% end %>
      <td class="date-td"><%= s.store_prop.name %></td>
      <td class="date-td"><%= s.date %></td>
      <td class="date-td"><%= s.summit_client.cancel_status rescue "" %></td>
      <td class="date-td"><%= s.summit_client.cancel rescue "" %></td>
      <td class="date-td"><%= s.contract_type %></td>
      <td class="date-td"><%= s.summit_client.cancel_app_company rescue "" %></td>
      <td class="date-td"><%= s.summit_billing_amounts.length rescue 0 %>回</td>
      <td class="date-td"><%= link_to "詳細", summit_path(s.id), "data-turbolinks": false, class: "link" %></td>
    </tr>
    <% end %>
  </table>
    <h2>◆<%= @month.year %>年：廃止件数</h2>
      <table>
        <tr>
          <th class="date-th">契約種別</th>
          <% cnt = 0 %>
          <% 12.times do  %>
          <th class="date-th"><%= cnt += 1 %>月</th>
          <% end %>
          <th class="date-th">合計</th>
        </tr>
        <tr>
          <td class="date-td">従量電灯</td>
          <% cnt = 1 %>
          <% metered_sum = 0 %>
          <% 12.times do %>
          <% if @metered_month_group[cnt].nil? %>
            <td class="date-td">0</td>
          <% else %>
            <td class="date-td"><%= @metered_month_group[cnt] %></td>
            <% metered_sum += @metered_month_group[cnt] %>
          <% end %>
          <% cnt += 1 %>
          <% end %>
          <td class="date-td"><%= metered_sum %></td>
        </tr>
        <tr>
          <td class="date-td">低圧電力</td>
          <% cnt = 1 %>
          <% low_voltage_sum = 0 %>
          <% 12.times do %>
          <% if @low_voltage_month_group[cnt].nil? %>
            <td class="date-td">0</td>
          <% else %>
            <td class="date-td"><%= @low_voltage_month_group[cnt] %></td>
            <% low_voltage_sum += @low_voltage_month_group[cnt] %>
          <% end %>
          <% cnt += 1 %>
          <% end %>
          <td class="date-td"><%= low_voltage_sum %></td>
        </tr>
      </table>
</div>