<h2></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :base, "拠点" %> <br />
    <%= f.select :base, {"中部": "中部", "関西": "関西"} %>
  </div>

  <div class="field">
    <%= f.label :team, "チーム" %><br />
    <%= f.select :team, {"藤崎": "藤崎","宮崎": "宮崎", "渋谷": "渋谷", "太田": "太田"} %>
  </div>



  <div class="actions">
    <%= f.submit "編集" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
