<div data-scope-path="shared/header">
  <h1>その他獲得情報入力</h1>
  <%= render "shared/header" %>
</div>

<div style="display:flex;">
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div data-scope-path="shared/form">
  <div class="form-main">
    <div class="form-title">
      <h1><%= @user.name %>獲得商材（<%= link_to "商材追加", new_select_column_path(category: "その他商材名"),"data-turbolinks": false, class:"link" %>）</h1>
    </div>
  <%= form_with(model: @other_product, date: {remote: false}) do |f| %>
  <%= render "shared/error_messages", model: f.object %>
  <h1>商材情報</h1>
    
    <%= f.hidden_field :user_id, value: @user.id %>
  <div class="form">
      <p><%= f.label :request, "日付", class: "form-text" %></p>
      <p><%= f.date_field :date , value: Date.today, class: "date-input" %></p>
  </div>
  <div class="form">
      <p><%= f.label :product_name, "商材名", class: "form-text" %></p>
      <p><%= f.collection_select(:product_name, @select_columns.select(:name).distinct, :name, :name,{include_blank: true}, {class: "date-input"})%></p>
  </div>
  <div class="form">
      <p><%= f.label :product_len, "獲得数", class: "form-text" %></p>
      <p><%= f.number_field :product_len ,class: "input", min: 0 %></p>
  </div>
  <div class="form">
      <p><%= f.label :valuation, "評価売", class: "form-text" %></p>
      <p><%= f.number_field :valuation ,class: "input", min: 0 %></p>
  </div>
  <% if current_user.position_sub == "管理" %>
  <div class="form">
      <p><%= f.label :profit, "実売", class: "form-text" %></p>
      <p><%= f.number_field :profit ,class: "input", min: 0 %></p>
  </div>
  <% end %>
  <div class="form-submit">
    <%= f.submit "登録", class: "submit-btn",data: { confirm: "登録してもよろしいですか？" }  %>
  </div>
  <% end %>
  </div>
  </div>
</div>