<div data-scope-path="aupays/edit">
  <h1><%= @aupay.store_prop.name %>情報入力（auペイ）</h1>
  <%= render "shared/header" %>
      
  <%= form_with url: import_aupays_path do |f| %>
    <table >
      <tr>
        <th class="csv">CSV取り込み</th>
        <td><%= f.file_field :file, accept: ".csv", class: "input" %></td>
        <td class="result"><%= f.submit  "インポート", class: "result-btn",data: { confirm: 'インポートしますか？' } %></td>
        <td class="reset"><%= link_to "店舗一覧に戻る", root_path ,class: "reset-link" %></td>
      </tr>
    </table>
  <% end %>
  <%= form_with model: @aupay,  class: "form-frame", local: true do |f| %>
    <%= render "shared/error_messages", model: f.object %>
    <div class="nav">
      <div>
      <%# 1列目 %>
        <%= f.label :user_id, "獲得者", class: "form-text" %>
        <%= f.collection_select(:user_id, @users, :id, :name,{}, {class: "form-input"})%>

        <%= f.label :status, "審査ステータス", class: "form-text" %>
        <%= f.select :status, {"未審査": "未審査", "自社不備": "自社不備","上位店NG": "上位店NG", "審査完了": "審査完了",
        "決済完了": "決済完了", "入金確認済": "入金確認済"} ,{}, {class: "form-input"} %>

        <%= f.label :settlement_deadline, "決済期限", class: "form-text" %>
        <%= f.date_field :settlement_deadline , class: "form-input2" %>
      </div>
      <div>
      <%# 2列目 %>
        <%= f.label :get_date, "獲得日", class: "form-text" %>
        <%= f.date_field :get_date , class: "form-input2" %>

        <%= f.label :valuation_profit, "評価売上", class: "form-text" %>
        <%= f.number_field :valuation_profit , class: "form-input2" %>

        <%= f.label :payment, "入金日", class: "form-text" %>
        <%= f.date_field :payment , class: "form-input2" %>
      </div>
      <div>
      <%# 3列目 %>
        <%= f.label :customer_num, "お客様番号", class: "form-text" %>
        <%= f.text_field :customer_num , class: "form-input2" %>

        <%= f.label :actual_profit, "実売上", class: "form-text" %>
        <%= f.number_field :actual_profit , class: "form-input2" %>

        <%= f.label :description, "備考", class: "form-text" %>
        <%= f.text_field :description , class: "form-input2" %>
      </div>
      <div>
      <%# 4列目 %>
        <%= f.label :client, "商流", class: "form-text" %>
        <%= f.select :client, {"メルヴェイユ": "メルヴェイユ"} ,{}, {class: "form-input"} %>

        <%= f.label :settlement, "決済日", class: "form-text" %>
        <%= f.date_field :settlement , class: "form-input2" %>
      </div>
  </div>
    <%= f.submit "登録", class: "submit-btn" %>
  <% end %>
</div>