<div data-scope-path="aupays/index">
  <h1>auペイ一覧</h1>
<%= render "shared/header" %>
<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
    <%= search_form_for @q do |f| %>
      <table>
        <tr >
          <th class="search1">獲得日付</th>
          <td ><%= f.date_field :get_date_gteq, class: "input" %>~</td>
          <td ><%= f.date_field :get_date_lteq, class: "input" %></td>
          <th class="search1">決済期限</th>
          <td ><%= f.date_field :settlement_gteq, class: "input" %>~</td>
          <td ><%= f.date_field :settlement_lteq, class: "input" %></td>
        </tr>
      </table>
      <table >
        <tr >
          <th class="search1">獲得者</th>
          <th class="search1">審査ステータス</th>
          <th class="search1">商流</th>
          <td class="result"><%= f.submit "絞込み", class: "result-btn" %></td>
        </tr>
        <tr >
          <td ><%= f.text_field :user_name_cont, class: "input" %></td>
          <td ><%= f.select :status_eq, options_from_collection_for_select(Aupay.select(:status).distinct,:status, :status),{include_blank: true}, {class: "input"} %></td>
          <td ><%= f.select :client_eq, {"マックスサポート": "マックスサポート", "USEN": "USEN","メルヴェイユ": "メルヴェイユ",
      "ウィンクルム": "ウィンクルム"}, {include_blank: true}, {class: "input"} %></td>
          <td class="reset"><%= link_to "絞込みリセット", aupays_path, class: "reset-link" %></td>
        </tr>
      </table>
    <% end %>

    <hr>

    <% if @aupays.empty? %>
    <% else %>
      <h1>表示範囲：<%= @aupays.minimum(:get_date) %>（<%= days[@aupays.minimum(:get_date).wday] %>〜<%= @aupays.maximum(:get_date) %>（<%= days[@aupays.maximum(:get_date).wday] %>）</h1>
      <table >
        <tr >
          <th class="search3">実売上合計</th>
          <th class="search3">実売上平均</th>
          <th class="search3">営業日数</th>
        </tr>
        <tr >
          <td ><%= aupay_sum = @aupays.where.not(status: "上位店不備").where.not(status: "自社不備").where.not(status: "上位店NG").where.not(status: "自社NG").sum(:actual_profit) %></td>
          <td ><%= aupay_sum / @aupays.group(:get_date).length %></td>
          <td ><%= @aupays.group(:get_date).length %>日</td>
        </tr>
        <tr >
          <th class="search2">獲得件数</th>
          <th class="search2">決済待ち</th>
          <th class="search2">決済完了</th>
          <th class="search2">決済期限切れ(仮)</th>
          <th class="search2">入金完了</th>
          <th class="search2">未審査数</th>
          <th class="search2">上位店不備</th>
          <th class="search2">自社不備</th>
          <th class="search2">上位店NG</th>
          <th class="search2">自社NG</th>
        </tr>
        <tr >
          <td ><%= @aupays.length %></td>
          <td ><%= @aupays.where(status: "入金待ち").where(settlement: nil).length %></td>
          <td ><%= @aupays.where.not(settlement: nil).length %></td>
          <td ><%= @aupays.where(status: "入金待ち").where(settlement: nil).where(settlement_deadline: Time.now.years_ago(5)..Time.now).length %></td>
          <td ><%= @aupays.where.not(payment: nil).length %></td>
          <td ><%= @aupays.where(status: '未審査').length %></td>
          <td ><%= @aupays.where(status: '上位店不備' ).length %></td>
          <td ><%= @aupays.where(status: '自社不備' ).length %></td>
          <td ><%= @aupays.where(status: '上位店NG' ).length %></td>
          <td ><%= @aupays.where(status: '自社NG' ).length %></td>
        </tr>
        <tr>

        </tr>
        <tr>

        </tr>
      </table>
      <table >

    <tr >
      <th ></th>
      <th ><%= sort_link(@q, :get_date, "獲得日",{},{class: "index-sort"}) %></th>
      <th >獲得者</th>
      <th >法人/個人</th>
      <th >店舗名</th>
      <th >審査ステータス</th>
      <th >初回決済日</th>
      <th >決済期限</th>
      <th >入金日</th>
    </tr>
    <% @aupays.find_each do |aupay| %>
    <tr >
      <td ><%= link_to "詳細",  aupay_path(aupay.id) ,class: "index-link" %></td>
      <td ><%= aupay.get_date.month %>月<%= aupay.get_date.day %>日</td>
      <td ><%= aupay.user.name %></td>
      <td ><%= aupay.store_prop.race %></td>
      <td ><%= aupay.store_prop.name %></td>
      <td ><%= aupay.status %></td>
      <td ><%= aupay.settlement %></td>
      <td ><%= aupay.settlement_deadline %></td>
      <td ><%= aupay.payment %></td>
    </tr>
    <% end %>
    </table>
  <% end %>
</div>
