<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>auペイ一覧</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
<div data-scope-path="shared/side_bar">
  <%= render "shared/sidebar" %>
</div>
<div data-scope-path="shares/index">
<div class="main">
  <% if current_user.name == "管理用" || current_user.name == "キャッシュ管理" %>
    <%= form_with url: import_aupays_path do |f| %>
      <table class="csv-tb">
        <tr>
          <td class="csv-label">CSV</td>
          <td class=""><%= f.file_field :file, accept: ".csv", class: "input" %></td>
          <td class="result"><%= f.submit  "インポート", class: "result-btn",data: { confirm: 'インポートしますか？', disable_with: "インポート中" } %></td>
        </tr>
      </table>
    <% end %>
  <% end %>
    <p class="nav-text">こちらから確認したい情報を絞り込んでください</p>
      <%= javascript_pack_tag 'search' %>
      <article id='search'><%# 検索フォーム %>
        <button @click="active" v-if="!isActive" class="active-btn">詳細検索表示</button>
        <button @click="active" v-if="isActive" class="active-btn">詳細検索表示中</button>
        <div v-if="isActive" class="s-form"><%# 検索フォームの外枠 %>
          
          <%= search_form_for @q do |f| %>
            <p class="s-text">検索したい内容を入力してください。</p>
            <hr>
          <div class="s-flex"><%# 検索フォーム %>
            <div class="user-form"><%# ユーザー情報 %>
              <p class="s-label">獲得者</p>
              <p class="s-text-field"><%= f.text_field :user_name_cont, class: "s-text-input" %></p>
              <p class="s-label">決済者</p>
              <p class="s-text-field"><%= f.text_field :settlementer_name_cont, class: "s-text-input" %></p>
              <p class="s-label">拠点</p>
              <p class="s-slct-field"><%= f.select :user_base_cont,{"中部SS": "中部SS","関東SS": "関東SS","関西SS": "関西SS","2次店": "2次店"},{include_blank: true},{ class: "s-slct-input"} %></p>
              <p class="s-label">獲得不備内容（含む）</p>
              <p class="s-text-field"><%= f.text_field :deficiency_remarks_cont, class: "s-text-input" %></p>
              <p class="s-label">獲得不備内容（頭文字一致）</p>
              <p class="s-text-field"><%= f.text_field :deficiency_remarks_start, class: "s-text-input" %></p>
              <p class="s-label">獲得不備内容（頭文字不一致）</p>
              <p class="s-text-field"><%= f.text_field :deficiency_remarks_not_start, class: "s-text-input" %></p>
              <p class="s-label">決済不備内容（含む）</p>
              <p class="s-text-field"><%= f.text_field :deficiency_remarks_settlement_cont, class: "s-text-input" %></p>
            </div><%# ユーザー情報 %>
            <div class="product-form"><%# 商材情報 %>
              <table class="s-tb">
                <thead>
                  <tr class="s-tr">
                    <th class="s-th">項目</th>
                    <th class="s-th">検索内容</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="s-tr">
                    <td class="s-td">店舗</td>
                    <td class="s-td">
                      <%= f.select :store_prop_head_store_null,{"本店": true,"複数店": false},{include_blank: true},{ class: "t-input"} %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">獲得日</td>
                    <td class="s-td">
                      <%= f.date_field :date_eq, class: "t-input" %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">獲得日（範囲））</td>
                    <td class="s-td">
                      <%= f.date_field :date_gteq, class: "s-input" %>〜
                      <%= f.date_field :date_lteq, class: "s-input" %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">審査完了日</td>
                    <td class="s-td">
                      <%= f.date_field :result_point_gteq, class: "s-input" %>〜
                      <%= f.date_field :result_point_lteq, class: "s-input" %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">初回決済日</td>
                    <td class="s-td">
                      <%= f.date_field :settlement_gteq, class: "s-input" %>〜
                      <%= f.date_field :settlement_lteq, class: "s-input" %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">アクセプタンス</td>
                    <td class="s-td">
                      <%= f.date_field :picture_gteq, class: "s-input" %>〜
                      <%= f.date_field :picture_lteq, class: "s-input" %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">決済完了</td>
                    <td class="s-td">
                      <%= f.date_field :status_update_settlement_gteq, class: "s-input" %>〜
                      <%= f.date_field :status_update_settlement_lteq, class: "s-input" %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">決済期限</td>
                    <td class="s-td">
                      <%= f.date_field :settlement_deadline_gteq, class: "s-input" %>〜
                      <%= f.date_field :settlement_deadline_lteq, class: "s-input" %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">審査ステータス</td>
                    <td class="s-td">
                      <%= 
                        f.select :status_eq,
                        options_from_collection_for_select(Aupay.select(:status)
                        .distinct,:status, :status),
                        {include_blank: true},
                        {class: "t-input"} 
                      %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">決済ステータス</td>
                    <td class="s-td">
                      <%= 
                        f.select :status_settlement_eq,
                        options_from_collection_for_select(Aupay.select(:status_settlement)
                        .distinct,:status_settlement, :status_settlement),
                        {include_blank: true},
                        {class: "t-input"}
                      %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div><%# 商材情報 %>
          </div><%# 検索フォーム %>
          <hr>
          <%= f.submit "検索",data: {disable_with: "検索中"} ,class: "s-btn" %>
          <button class="s-reset-btn"><%= link_to "解除", aupays_path, class: "reset-link" %></button>
          <% end %>
        </div><%# /検索フォームの外枠 %>
        <div v-else>
          <%= search_form_for @q do |f| %>
              <%= f.text_field :store_prop_name_or_customer_num_cont, placeholder: "キーワードから探す", class: "input-box" %>
              <%= f.submit "検索",data: {disable_with: "検索中"} ,class: "search-btn" %>
          <% end %>
        </div>
      </article><%# /検索フォーム %>

    <%= alert %>
    <hr>
    <% if @aupays.empty? %>
    
    <% else %>
      <h1>獲得日：<%= @aupays.minimum(:date) %>（<%= days[@aupays.minimum(:date).wday] %>〜<%= @aupays.maximum(:date) %>（<%= days[@aupays.maximum(:date).wday] %>）</h1>

        <% settlement_subject = @aupays.where(status: "審査通過").length %>
        <% settlement_done = @aupays.where.not(settlement: nil).length %>
        <% 
          slmt_dead = 
            @aupays.where(status: "審査通過")
            .where.not(status_settlement: "完了")
            .where(settlement_deadline: @aupays.minimum(:date)..Date.today).length  
        %>
        <% 
          aupay_sum = @aupays.where.not(status: "申込取消").where.not(status: "不合格").where.not(status: "自社不備").sum(:profit_new) 
        %>
        <% hubi = @aupays.where(status: '自社不備' ).length %>
        <% client_hubi = @aupays.where(status: '差し戻し' ).length %>
        <% 
          client_ng = 
            @aupays.where(status: '不合格' ).length + 
            @aupays.where(status: '重複対象外' ).length + 
            @aupays.where(status: '報酬対象外' ).length + 
            @aupays.where(status: '報酬対象外（登録期限切れ）' ).length +
            @aupays.where(status: '解約' ).length +
            @aupays.where(status: '本店NG' ).length +
            @aupays.where(status: '自社NG' ).length
        %>
        <% cancel = @aupays.where(status: '申込取消' ).length %>
      <table>
        <tr>
          <th colspan="7" class="search-th">獲得ステータス</th>
        </tr>
        <tr>
          <th class="search-th">　　　　獲得件数　　　　</th>
          <th class="search-th">　　　　審査通過　　　　</th>
          <th class="search-th">　　　　審査待ち　　　　</th>
          <th class="search-th">　　　　不備　　　　</th>
          <th class="search-th">NG</th>
          <th class="search-th">　　　　複数追加　　　　</th>
          <th class="search-th">　　　　複数追加待ち　　　　</th>
        </tr>
        <tr>
          <td class="search-td"><%= @aupays.length %></td>
          <td class="search-td"><%= @aupays.where(status: '審査通過' ).length %></td>
          <td class="search-td"><%= @aupays.where(status: '審査待ち').length + @aupays.where(status: '未審査').length %></td>
          <td class="search-td"><%= hubi + client_hubi %></td>
          <td class="search-td"><%= client_ng %></td>
          <td class="search-td"><%= @aupays.where.not(store_props: {head_store: nil}).where.not(share: nil).length %></td>
          <td class="search-td"><%= @aupays.where.not(store_props: {head_store: nil}).where(status: "本店審査待ち").length %></td>
        </tr>
        <tr>
          <th colspan="4" class="search-th">決済内訳</th>
        </tr>
        <tr>
          <th class="search-th">　　　　決済対象　　　　</th>
          <th class="search-th">　　　　決済完了　　　　</th>
          <th class="search-th">　　　　決済期限切れ件数　　　　</th>
          <th class="search-th">決済完了率（決済完了÷決済対象）</th>
        </tr>
        <tr>
          <td class="search-td"><%= settlement_subject %></td>
          <td class="search-td"><%= settlement_done %></td>
          <td class="search-td"><%= slmt_dead %></td>
          <td class="search-td"><%= number_to_percentage(settlement_done.to_f / settlement_subject.to_f * 100, precision: 1) rescue "-" %></td>
        </tr>
        <tr>
          <th colspan="5" class="search-th">不備・NG内訳</th>
        </tr>
        <tr >
          <th class="search-th">自社不備</th>
          <th class="search-th">上位店不備</th>
          <th class="search-th">不備率（不備率÷獲得数）</th>
          <th class="search-th">上位店NG</th>
          <th class="search-th">NG率（NG÷獲得数）</th>
        </tr>
        <tr >
          <td class="search-td"><%= hubi %></td>
          <td class="search-td"><%= client_hubi %></td>
          <td class="search-td"><%= number_to_percentage( (hubi + client_hubi).to_f / @aupays.length.to_f * 100, precision: 1) rescue "-" %></td>
          <td class="search-td"><%= client_ng %></td>
          <td class="search-td"><%= number_to_percentage( (client_ng + cancel).to_f / @aupays.length.to_f * 100, precision: 1) rescue "-" %></td>
        </tr>
    </table>
    <table class="out-tb">
    <thead>
    <tr >
      <th class="out-th"></th>
      <th class="out-th">ID</th>
      <th class="out-th">本店名</th>
      <th class="out-th">店舗名</th>
      <th class="out-th">獲得者</th>
      <th class="out-th">獲得日</th>
      <th class="out-th">共有日</th>
      <th class="out-th">審査ステータス</th>
      <th class="out-th"><%= sort_link(@q, :result_point, "審査完了日",{},{class: "reset-link"}) %></th>
      <th class="out-th">キット発送日</th>
      <th class="out-th">決済対応者</th>
      <th class="out-th">初回決済日</th>
      <th class="out-th">アクセプタンス</th>
      <th class="out-th">決済ステータス</th>
      <th class="out-th">決済完了日</th>
      <th class="out-th">決済期限</th>
      <th class="out-th">不備内容(新規)</th>
      <th class="out-th">不備内容(決済)</th>
    </tr>
    </thead>
    <tbody>
    <% @aupays_data.find_each do |aupay| %>
    <tr >
      <td ><%= link_to "　詳細　",  aupay_path(aupay.id) ,class: "link" %></td>
      <td ><%= aupay.id %></td>
      <% if @aupays.find_by(store_props: {head_store: aupay.store_prop.name}).present? %>
        <td class="index-td">複数店本店</td>
      <% elsif aupay.store_prop.head_store.blank? %>
        <td class="index-td"></td>
      <% else %>
        <td class="index-td">本店名：<%= aupay.store_prop.head_store %></td>
      <% end %>
      <td ><%= aupay.store_prop.name %></td>
      <td ><%= aupay.user.name %></td>
      <td ><%= aupay.date %></td>
      <td ><%= aupay.share %></td>
      <td ><%= aupay.status %></td>
      <td ><%= aupay.result_point %></td>
      <td ><%= aupay.shipment %></td>
      <td ><%= aupay.settlementer.name rescue ' ' %></td>
      <td ><%= aupay.settlement %></td>
      <td ><%= aupay.picture %></td>
      <td ><%= aupay.status_settlement %></td>
      <td ><%= aupay.status_update_settlement %></td>
      <td ><%= aupay.settlement_deadline %></td>
      <td class="td-remarks"><%= aupay.deficiency_remarks %></td>
      <td class="td-remarks"><%= aupay.deficiency_remarks_settlement %></td>
    </tr>
    <% end %>
    </tbody>
    </table>
  <div class="kaminari-page">
  <%= paginate @aupays_data %>
  </div>
  <% end %>
  </div>
  </div>
</div>
