<div data-scope-path="aupays/show">
  <h1>auペイ詳細</h1>
  <%= render "shared/header" %>
    <table >
    <tr>
      <th colspan="4">店舗詳細</th>
    </tr>
    <tr>
    <th >店舗名</th>
    <td ><%= @aupay.store_prop.name %></td>
    </tr>
    <th >属性</th>
    <td ><%= @aupay.store_prop.race %></td>
    <th >業種</th>
    <td ><%= @aupay.store_prop.industry %></td>
    <tr>
    </tr>
    <tr>
    <th >店舗代表</th>
    <td ><%= @aupay.store_prop.person_main %></td>
    <th >店舗担当</th>
    <td ><%= @aupay.store_prop.person_sub %></td>
    </tr>
    <tr>
      <th >店舗住所</th>
    <td colspan="3"><%= @aupay.store_prop.prefecture %><%= @aupay.store_prop.city %><%= @aupay.store_prop.municipalities %><%= @aupay.store_prop.address %><%= @aupay.store_prop.building_name %></td>
    </tr>
    </table>
    <table >
    </table>
    <h1 >連絡先</h1>
    <table >
    <th >電話番号1</th>
    <td ><%= @aupay.store_prop.phone_number_1 %></td>
    <th >電話番号2</th>
    <td ><%= @aupay.store_prop.phone_number_2 %></td>
    </tr>
    <tr>
    <th >メールアドレス１</th>
      <td ><%= @aupay.store_prop.mail_1 %></td>
    <th >メールアドレス２</th>
      <td ><%= @aupay.store_prop.mail_2 %></td>
    </tr>
    <tr>
    <th >好適時間</th>
    <td ><%= @aupay.store_prop.suitable_time %></td>
    <th >定休日</th>
    <td ><%= @aupay.store_prop.holiday %></td>
    </tr>
    <tr>
    <th>備考</th>
    <td colspan="2"><%= @aupay.store_prop.description %></td>
    <td ><%= link_to "店舗情報編集", edit_store_prop_path(@aupay.store_prop.id), class: "link" %></td>
    </tr>
    </table>
    <h1 >auペイ</h1>
      
    <table >
    <tr>
    </tr>
    </table>

    <table >
    <tr>
    <th >獲得日</th>
      <td ><%= @aupay.get_date %></td>
      <th >獲得者</th>
      <td ><%= @aupay.user.name %></td>
      <th >管理番号</th>
      <td ><%= @aupay.customer_num %></td>
    </tr>
    <tr>
      <th >商流</th>
      <td ><%= @aupay.client %></td>
      <th >審査ステータス</th>
      <td ><%= @aupay.status %></td>
      <th >入金日</th>
      <td ><%= @aupay.payment %></td>
    </tr>
    <tr>
    </tr>
    <tr>
      <th >決済日</th>
      <td ><%= @aupay.settlement %></td>
      <th >決済期限</th>
      <td ><%= @aupay.settlement_deadline %></td>
      <th >備考</th>
      <td ><%= @aupay.description %></td>
    </tr>
    <tr>
      <th >評価売上</th>
      <td ><%= @aupay.valuation_profit %></td>
      <th >実売上</th>
      <td ><%= @aupay.actual_profit %></td>
      <td ><%= link_to "aupay情報編集", edit_aupay_path, class: "link" %></td>
    </tr>
    </table>
</div>

