<%= render "shared/header" %>
<main class="main">
  <%= render "shared/side_bar" %>
  <div class="right-bar">
  <h1 class="sub-title">クレーム一覧（SS）</h1>


    


  <%= search_form_for @q do |f| %>
      <table class="search-table">
        <tr class="search-tr">
        <th class="search-th"><%= f.label :date, "入電日(月)", class: "search-label" %></th>
        <td class="search-td"><%= f.date_select :date_during_month, {discard_day: true} ,{class: "search-date-select"} %></td>
          <th class="search-th"><%= f.label :date, "入電日(期間)", class: "search-label" %></th>
          <td class="search-td"><%= f.date_field :date_gteq, class: "search-date" %>~</td>
          <td class="search-td"><%= f.date_field :date_lteq, class: "search-date" %></td>
        </tr>
      </table>
      <table class="search-table">
        <tr class="search-tr">
          <th class="search-th"><%= f.label :user_name, "訪問員", class: "search-label" %></th>
          <th class="search-th"><%= f.label :product, "商材", class: "search-label" %></th>
          <th class="search-th"><%= f.label :category, "直入電orメール", class: "search-label" %></th>
          <th class="search-th"><%= f.label :content_type, "クレーム", class: "search-label" %></th>
          <td class="search-result"><%= f.submit "絞込み", class: "search-btn" %></td>

        </tr>
        <tr class="search-tr">
          <td class="search-td"><%= f.text_field :user_name_cont, class: "search-input" %></td>
         <td class="search-td"><%= f.search_field :product_cont, class: "search-input" %></td>
          <td class="search-td"><%= f.select :category_eq, {"直入電": "直入電", "メール": "メール"},{include_blank: true}, {class: "search-input"} %></td>
         <td class="search-td"><%= f.select :content_type_not_eq, {"クレーム": "クレーム", "問い合わせ": "問い合わせ"},{include_blank: true},{class: "search-input"} %></td>
          <td class="search-reset"><%= link_to "絞込みリセット", trouble_sses_path, class: "reset-link" %></td>
        </tr>
      </table>
  <% end %>

  <hr>
  <% if @trouble_sses.empty? %>
  <%# 拠点全体売上 %>
  <% else %>    
 
    <table class="search-table">
      <tr>
        <th class="search-th">件数</th>
        <th class="search-th">問い合わせ</th>
        <th class="search-th">クレーム</th>
        </tr>

      <tr class="search-tr">
        <td class="search-td"><%= @trouble_sses.length %></td>
        <td class="search-td"><%= @trouble_sses.where(content_type: '問い合わせ').length %></td>
        <td class="search-td"><%= @trouble_sses.where(content_type: 'クレーム').length %></td>
      </tr>
    </table>
  <div data-scope-path="trouble-sses/index">
    <table>
      <tr>
        <th>　　　</th>
        <th>　　　</th>
        <th>クレームor問い合わせ</th>
        <th>入電日</th>
        <th>店舗名</th>
        <th>獲得or未獲得</th>
        <th>担当者名</th>
        <th>直入電orメール</th>
        <th>商材</th>
        <th>営業担当者</th>
        <th>入電対応者</th>
        <th>内容</th>
        <th>対応日</th>
        <th>対応結果</th>
        <th>備考</th>
      </tr>
    <% @trouble_sses.find_each do |t| %>
      <tr>
        <td><%= link_to "編集", edit_trouble_ss_path(t.store_prop.id),class: "link" %></td>
        <td><%= link_to "詳細", store_prop_path(t.store_prop.id),class: "link" %></td>
        <td><%= t.content_type %></td>
        <td><%= t.date.year %>年<%= t.date.month %>月<%= t.date.day %>日</td>
        <td><%= t.store_prop.name %></td>
        <td><%= t.get_status%></td>
        <td><%= t.customer_name %></td>
        <td><%= t.category %></td>
        <td><%= t.product %></td>
        <td><%= t.user.name %></td>
        <td><%= t.confirmer %></td>
        <td><%= t.customer_opinion %></td>
        <% if t.contact_date.nil? %>
        <td>未連絡</td>
        <% else %>
        <td><%= t.contact_date.year %>年<%= t.contact_date.month %>月<%= t.contact_date.day %>日</td>
        <% end %>
        <td><%= t.result %></td>
        <td><%= t.remarks %></td>
      </tr>

    <% end %>
    </table>

  <% end %>
  </div>
  </div>
</main>