<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<% if (current_user.name == "管理用") || (current_user.name == "佐藤健二") || (current_user.name == "三宅翔馬") %>
<div data-scope-path="shared/header">
  <h1>dメル明細資料</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div data-scope-path="shares/index">
    <hr>
      <%= render "shared/payment_links" %>
    <hr>
    <% if current_user.position_sub == "管理" %>
      <%= form_with url: import_payment_dmers_path do |f| %>
        <table class="csv-tb">
          <tr>
            <td class="csv-label">CSV</td>

            <td ><%= f.file_field :file , accept: ".csv",class: "input" %></td>

            <td class="result"><%= f.submit  "インポート", class: "result-btn",data: { confirm: 'インポートしますか？', disable_with: "インポート中" } %></td>
          </tr>
        </table>
      <% end %>
    <% end %>
    <%= alert %>
    <h2 class="">
      <%= link_to "<<",payment_dmers_path(month:@month.prev_month),"data-turbolinks": false, class:"link" %>
      <%= @month.month %>月dメル明細
      <%= link_to ">>",payment_dmers_path(month:@month.next_month),"data-turbolinks": false, class:"link" %>
    </h2>
    <hr>
    <%# 変数 %>
      <% billing_slmt = @payments_monthly.where(result_category: "獲得手数料・初回決済手数料") %>
      <% billing_pic = @payments_monthly.where(result_category: "ステッカー連携手数料") %>
      <% billing_slmt2nd = @payments_monthly.where(result_category: "2回目決済手数料") %>
      <% billing_sticker = @payments_monthly.where(result_category: "事前QR申込インセンティブ") %>
    <%# /変数 %>
    <table>
      <tr>
      <th class="green-th">項目</th>
      <th class="green-th">合計</th>
      <th class="green-th">審査完了+決済</th>
      <th class="green-th">アクセプタンス合格</th>
      <th class="green-th">2回目決済</th>
      <th class="green-th">ステッカー</th>
      </tr>
      <tr>
        <td class="">件数</td>
        <td class=""><%= @payments_monthly.length.to_s(:delimited) %></td>
        <td class=""><%= billing_slmt.length.to_s(:delimited) %></td>
        <td class=""><%= billing_pic.length.to_s(:delimited) %></td>
        <td class=""><%= billing_slmt2nd.length.to_s(:delimited) %></td>
        <td class=""><%= billing_sticker.length.to_s(:delimited) %></td>
      </tr>
      <tr>
        <td class="">手数料</td>
        <td class=""><%= @payments_monthly.sum(:price).to_s(:delimited) %></td>
        <td class=""><%= billing_slmt.sum(:price).to_s(:delimited) %></td>
        <td class=""><%= billing_pic.sum(:price).to_s(:delimited) %></td>
        <td class=""><%= billing_slmt2nd.sum(:price).to_s(:delimited) %></td>
        <td class=""><%= billing_sticker.sum(:price).to_s(:delimited) %></td>
      </tr>
    </table>
    <hr>
    
    <h2>◆当付ミス？（審査完了+初回決済）</h2>
    <table>
      <tr>
        <th>No</th>
        <th>商流</th>
        <th>管理番号</th>
        <th>店舗名</th>
        <th>会社名</th>
        <th>手数料</th>
        <th>成果になった日</th>
        <th>自社入金予想日</th>
        <th>入金日</th>
      </tr>
      <% cnt = 0 %>
      <% flag = "" %>
      <% result_date = "" %>
      <% @dmer_result1.each do |dmer| %>
        <% if (dmer.settlement >= dmer.result_point) %>
        <% flag = dmer.settlement.since(1.month).month %>
        <% result_date = dmer.settlement %>
        <% elsif (dmer.result_point > dmer.settlement) %>
        <% flag = dmer.result_point.since(1.month).month %>
        <% result_date = dmer.result_point %>
        <% else %>
        <% flag = "" %>
        <% end %>
        <% billing_doubt = billing_slmt.find_by(dmer_id: dmer.id) %>
        <% if billing_doubt.nil? %>
        <tr>
          <td><%= cnt += 1 %></td>
          <td><%= dmer.client %></td>
          <td><%= dmer.controll_num %></td>
          <td><%= dmer.store_prop.name %></td>
          <td><%= billing_doubt.company rescue "" %></td>
          <td><%= billing_doubt.price rescue "" %></td>
          <td><%= result_date rescue "" %></td>
          <td><%= flag %>月</td>
          <% if billing_doubt.nil? %>
          <td class="red">データなし</td>
          <% else %>
          <td><%= billing_doubt.payment.month %>月</td>
          <% end %>
        </tr>
        <% end %>
      <% end %>
    </table>
    <hr>
    
    <h2>◆当付ミス？（アクセプタンス合格）</h2>
    <table>
      <tr>
        <th>No</th>
        <th>商流</th>
        <th>管理番号</th>
        <th>店舗名</th>
        <th>会社名</th>
        <th>手数料</th>
        <th>成果になった日</th>
        <th>自社入金予想日</th>
        <th>入金日</th>
      </tr>
      <% cnt = 0 %>
      <% flag = "" %>
      <% result_date = "" %>
      <% @dmer_result2.each do |dmer| %>
        <% flag = dmer.status_update_settlement.since(1.month).month %>
        <% result_date = dmer.status_update_settlement %>
        <% billing_doubt = billing_pic.find_by(dmer_id: dmer.id) %>
        <% if billing_doubt.nil? %>
        <tr>
          <td><%= cnt += 1 %></td>
          <td><%= dmer.client %></td>
          <td><%= dmer.controll_num %></td>
          <td><%= dmer.store_prop.name %></td>
          <td><%= billing_doubt.company rescue "" %></td>
          <td><%= billing_doubt.price rescue "" %></td>
          <td><%= result_date rescue "" %></td>
          <td><%= flag %>月</td>
          <% if billing_doubt.nil? %>
          <td class="red">データなし</td>
          <% else %>
          <td><%= billing_doubt.payment.month %>月</td>
          <% end %>
        </tr>
        <% end %>
      <% end %>
    </table>
    <hr>
    
    <h2>◆当付ミス？（2回目決済）</h2>
    <table>
      <tr>
        <th>No</th>
        <th>商流</th>
        <th>管理番号</th>
        <th>店舗名</th>
        <th>会社名</th>
        <th>手数料</th>
        <th>成果になった日</th>
        <th>自社入金予想日</th>
        <th>入金日</th>
      </tr>
      <% cnt = 0 %>
      <% flag = "" %>
      <% result_date = "" %>
      <% @dmer_result3.each do |dmer| %>
        <% if dmer.settlement_second >= dmer.status_update_settlement %>
        <% flag = dmer.settlement_second.since(2.month).month %>
        <% result_date = dmer.settlement_second %>
        <% elsif dmer.status_update_settlement > dmer.settlement_second %>
        <% flag = dmer.status_update_settlement.since(2.month).month %>
        <% result_date = dmer.status_update_settlement %>
        <% else %>
        <% flag = "" %>
        <% end %>
        <% billing_doubt = billing_slmt2nd.find_by(dmer_id: dmer.id) %>
        <% if billing_doubt.nil? %>
        <tr>
          <td><%= cnt += 1 %></td>
          <td><%= dmer.client %></td>
          <td><%= dmer.controll_num %></td>
          <td><%= dmer.store_prop.name %></td>
          <td><%= billing_doubt.company rescue "" %></td>
          <td><%= billing_doubt.price rescue "" %></td>
          <td><%= result_date rescue "" %></td>
          <td><%= flag %>月</td>
          <% if billing_doubt.nil? %>
          <td class="red">データなし</td>
          <% else %>
          <td><%= billing_doubt.payment.month %>月</td>
          <% end %>
        </tr>
        <% end %>
      <% end %>
    </table>
  <%= alert %>
  </div>
</div>
<% end %>