<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<% if current_user.position_sub == "管理" %>
<div data-scope-path="shared/header">
  <h1>dメル未入金一覧</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
  <div data-scope-path="shared/side_bar_humbarger">
    <%= render "shared/sidebar" %>
  </div>
  <div data-scope-path="shares/index">
    <hr>
      <%= render "shared/payment_links" %>
    <hr>
    <h2 class="">
      <%= link_to "<<",not_payment_payment_dmers_path(month:@month.prev_year),"data-turbolinks": false, class:"link" %>
      <%= @month.year %>年dメル未入金確認
      <%= link_to ">>",not_payment_payment_dmers_path(month:@month.next_year),"data-turbolinks": false, class:"link" %>
    </h2>
    <hr>
    <table>
      <tr>
        <th rowspan="2" colspan="2"></th>
        <th colspan="24">入金月</th>
      </tr>
      <tr>
        <% @period.each do |month| %>
        <th colspan="2"><%= month.strftime("%Y年%m月") %></th>
        <% end %>
      </tr>
      <tr>
        <th>成果</th>
        <th>項目</th>
        <% @period.each do |month| %>
        <th>件数</th>
        <th>手数料</th>
        <% end %>
      </tr>
      <tr class="payment-tr">
        <td class="head-td-odd" rowspan="3">審査通過+決済</td>
        <td>成果</td>
        <% result1_ary = [] %>
        <% @period.each do |month| %>
        <%# 変数 %>
          <% result_month = month.prev_month %>
          <% 
            result1 = 
              @dmers.where(result_point: result_month.beginning_of_month..result_month.end_of_month).where(settlement: ..result_month.end_of_month)
              .where(settlement_deadline: result_month.beginning_of_month..)
              .or(
                @dmers.where(result_point: ...result_month.beginning_of_month).where(settlement: result_month.beginning_of_month..result_month.end_of_month)
                .where(settlement_deadline: result_month.beginning_of_month..)
              )
          %>
        <%# /変数 %>
        <td><%= result1.length %></td>
        <td><%= (result1.length * 14000).to_s(:delimited) %></td>
        <% result1_ary << result1 %>
        <% end %>
      </tr>
      <tr class="payment-tr">
        <td>明細</td>
        <% @period.each do |month| %>
        <td><%= @payments_result1.where(payment: month.beginning_of_month..month.end_of_month).length %></td>
        <td><%= @payments_result1.where(payment: month.beginning_of_month..month.end_of_month).sum(:price).to_s(:delimited) %></td>
        <% end %>
      </tr>
      <tr class="payment-tr foot-tr">
        <td>未入金</td>
        <% result1_ary.each do |result1| %>
        <td class="red"><%= 
          result1.length -
          result1.where(payment_dmers: {result_category: "獲得手数料・初回決済手数料"}).length 
        %></td>
        <td class="red"><%= 
          ((result1.length * 14000) -
          (result1.where(payment_dmers: {result_category: "獲得手数料・初回決済手数料"}).length * 14000)).to_s(:delimited)
        %></td>
        <% end %>
      </tr>
      <tr class="payment-tr">
        <td class="head-td-even" rowspan="4">アクセプタンス合格</td>
        <td>成果</td>
        <% result2_ary = [] %>
        <% @period.each do |month| %>
        <%# 変数 %>
          <% result_month = month.prev_month %>
          <% 
            result2 = 
              @dmers.where(status_update_settlement: result_month.beginning_of_month..result_month.end_of_month).where(settlement: ..result_month.end_of_month).where(status_settlement: "完了")
              .or(
                @dmers.where(status_update_settlement: ...result_month.beginning_of_month).where(result_point: result_month.beginning_of_month..result_month.end_of_month).where(status_settlement: "完了")

              )
          %>
        <%# /変数 %>
        <td><%= result2.length %></td>
        <td><%= result2.sum(:profit_settlement).to_s(:delimited) %></td>
        <% result2_ary << result2 %>
        <% end %>
      </tr>
      <tr class="payment-tr">
        <td>明細</td>
        <% @period.each do |month| %>
        <td><%= @payments_result2.where(payment: month.beginning_of_month..month.end_of_month).length %></td>
        <td><%= @payments_result2.where(payment: month.beginning_of_month..month.end_of_month).sum(:price) %></td>
        <% end %>
      </tr>
      <tr></tr><%# foot-trの色を適用するため %>
      <tr class="payment-tr foot-tr">
        <td>未入金</td>
        <% result2_ary.each do |result2| %>
        <td class="red"><%= 
          result2.length -
          result2.where(payment_dmers: {result_category: "ステッカー連携手数料"}).length 
        %></td>
        <td class="red"><%= 
          (result2.sum(:profit_settlement) -
          result2.where(payment_dmers: {result_category: "ステッカー連携手数料"}).sum(:profit_settlement)).to_s(:delimited)
        %></td>
        <% end %>
      </tr>
      <tr class="payment-tr">
        <td class="head-td-odd" rowspan="4">2回目決済</td>
        <td>成果</td>
        <% result3_ary = [] %>
        <% @period.each do |month| %>
        <%# 変数 %>
          <% result_month = month.ago(2.month) %>
          <% 
            result3 = 
              @dmers.where(settlement_second: result_month.beginning_of_month..result_month.end_of_month)
              .where(status_update_settlement: ..result_month.end_of_month)
              .where(status_settlement: "完了")
              .or(
                @dmers.where(settlement_second: ...result_month.beginning_of_month)
                .where(status_update_settlement: result_month.beginning_of_month..result_month.end_of_month)
                .where(settlement_deadline: result_month.beginning_of_month..)
                .where(status_settlement: "完了")
              )
          %>
        <%# /変数 %>
        <td><%= result3.length %></td>
        <td><%= (result3.length * 5000).to_s(:delimited) %></td>
        <% result3_ary << result3 %>
        <% end %>
      </tr>
      <tr class="payment-tr">
        <td>明細</td>
        <% @period.each do |month| %>
        <td><%= @payments_result3.where(payment: month.beginning_of_month..month.end_of_month).length %></td>
        <td><%= @payments_result3.where(payment: month.beginning_of_month..month.end_of_month).sum(:price).to_s(:delimited) %></td>
        <% end %>
      </tr>
      <tr></tr><%# foot-trの色を適用するため %>
      <tr class="payment-tr foot-tr">
        <td>未入金</td>
        <% result3_ary.each do |result3| %>
        <td class="red"><%= 
          result3.length -
          result3.where(payment_dmers: {result_category: "2回目決済手数料"}).length 
        %></td>
        <td class="red"><%= 
          ((result3.length * 5000)  -
          result3.where(payment_dmers: {result_category: "2回目決済手数料"}).sum(:profit_second_settlement)).to_s(:delimited)
        %></td>
        <% end %>
      </tr>
    </table>
  </div>
</div>
<% end %>