<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1 class="sub-title">サミットエナジー明細分析（<%= @base %>）</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div data-scope-path="shares/date-progress">
    <p class="caution-txt"><%= alert %></p>
    <%= render 'shared/summit_links' %>
    <h2>
      <%= link_to "<<",base_summit_date_progresses_path(month: @month.ago(1.month),base: @base), class:"link","data-turbolinks": false %>
      <%= @month.month %>月（請求月：<%= @year_month %>）
      <%= link_to ">>",base_summit_date_progresses_path(month: @month.since(1.month),base: @base), class:"link","data-turbolinks": false %>
    </h2>
  <hr>
    <h2>◆<%= @base %>明細結果（地域参照）</h2>
    <table class="progress-tb">
      <thead>
        <tr>
          <th class="progress-th1" colspan="3">基本情報</th>
          <th class="progress-th1" colspan="2">合計件数</th>
          <th class="progress-th1" colspan="2">合計使用量</th>
          <th class="progress-th1" colspan="2">請求額</th>
          <th class="progress-th1" colspan="3">合計手数料</th>
          <th class="progress-th1" colspan="2">初回発行明細</th>
        </tr>
        <tr>
          <th class="progress-th2">所属拠点</th>
          <th class="progress-th2">ユーザー名</th>
          <th class="progress-th2">役職</th>
          <th class="progress-th2">従量</th>
          <th class="progress-th2">低圧</th>
          <% 3.times do %>
          <th class="progress-th2">従量</th>
          <th class="progress-th2">低圧</th>
          <% end %>
          <th class="progress-th2">従量+低圧</th>
          <th class="progress-th2">従量</th>
          <th class="progress-th2">低圧</th>
        </tr>
      </thead>
      <tbody>
        <% @users_base.each do |user| %>
        <tr class="progress-tr">
          <td class="progress-td"><%= user.user.base %></td>
          <td class="progress-td"><%= user.user.name %></td>
          <td class="progress-td"><%= user.user.position_sub %></td>
          <td class="progress-td"><%= @billings.where(user_id: user.user_id).where("contract_type LIKE ?","%従量%").length %></td>
          <td class="progress-td"><%= @billings.where(user_id: user.user_id).where("contract_type LIKE ?","%低圧%").length %></td>
          <td class="progress-td"><%= @billings.where(user_id: user.user_id).where("contract_type LIKE ?","%従量%").sum(:total_use).to_s(:delimited) %></td>
          <td class="progress-td"><%= @billings.where(user_id: user.user_id).where("contract_type LIKE ?","%低圧%").sum(:total_use).to_s(:delimited) %></td>
          <td class="progress-td"><%= @billings.where(user_id: user.user_id).where("contract_type LIKE ?","%従量%").sum(:billing_amount).to_s(:delimited) %></td>
          <td class="progress-td"><%= @billings.where(user_id: user.user_id).where("contract_type LIKE ?","%低圧%").sum(:billing_amount).to_s(:delimited) %></td>
          <td class="progress-td"><%= @billings.where(user_id: user.user_id).where("contract_type LIKE ?","%従量%").sum(:commission).to_s(:delimited) %></td>
          <td class="progress-td"><%= @billings.where(user_id: user.user_id).where("contract_type LIKE ?","%低圧%").sum(:commission).to_s(:delimited) %></td>
          <td class="progress-td"><%= @billings.where(user_id: user.user_id).sum(:commission).to_s(:delimited) %></td>
          <td class="progress-td"><%= @billings.where(user_id: user.user_id).where("contract_type LIKE ?","%従量%").where(first_flag: "初回").length %></td>
          <td class="progress-td"><%= @billings.where(user_id: user.user_id).where("contract_type LIKE ?","%低圧%").where(first_flag: "初回").length %></td>
        </tr>
        <% end %>
        <tr class="sum-tr">
          <td class="progress-td" colspan="3">合計</td>
          <td class="progress-td"><%= @billings.where("contract_type LIKE ?","%従量%").length %></td>
          <td class="progress-td"><%= @billings.where("contract_type LIKE ?","%低圧%").length %></td>
          <td class="progress-td"><%= @billings.where("contract_type LIKE ?","%従量%").sum(:total_use).to_s(:delimited) %></td>
          <td class="progress-td"><%= @billings.where("contract_type LIKE ?","%低圧%").sum(:total_use).to_s(:delimited) %></td>
          <td class="progress-td"><%= @billings.where("contract_type LIKE ?","%従量%").sum(:billing_amount).to_s(:delimited) %></td>
          <td class="progress-td"><%= @billings.where("contract_type LIKE ?","%低圧%").sum(:billing_amount).to_s(:delimited) %></td>
          <td class="progress-td"><%= @billings.where("contract_type LIKE ?","%従量%").sum(:commission).to_s(:delimited) %></td>
          <td class="progress-td"><%= @billings.where("contract_type LIKE ?","%低圧%").sum(:commission).to_s(:delimited) %></td>
          <td class="progress-td"><%= @billings.sum(:commission).to_s(:delimited) %></td>
          <td class="progress-td"><%= @billings.where("contract_type LIKE ?","%従量%").where(first_flag: "初回").length %></td>
          <td class="progress-td"><%= @billings.where("contract_type LIKE ?","%低圧%").where(first_flag: "初回").length %></td>
        </tr>
      </tbody>
    </table>
    <% if @billings.present? %><%# @current_progressがあるか判別 %>
      <h2>
      グラフ：
      <select class="graph-slct" id="summit-graph-change" >
        <option value="手数料">手数料（合計）</option>
        <option value="従量電灯（件数）">従量電灯（件数）</option>
        <option value="低圧電灯（件数）">低圧電灯（件数）</option>
        <option value="従量電灯手数料（平均）">手数料（平均）</option>
        <option value="請求額（平均）">請求額（平均）</option>
        <option value="従量電灯使用量（平均）">使用量（平均）</option>
      </select>
      </h2>
      <div class="graph-form-first" id="commission-graph">
        <h2>◆<%= @month.year %>年：手数料（合計）</h2><br>
        <%= line_chart @billings_commission,options = {
          thousands: ",",
          suffix: "円",
          xtitle: "請求月",
        } 
        %>
        <h2>従量手数料（合計）</h2>
        <table class="progress-tb">
          <tr>
            <th class="progress-th2">拠点</th>
            <% @month_metered_all.group(:billing_date).each do |c|  %>
              <th class="progress-th2"><%= c.billing_date %></th>
            <% end %>
          </tr>
          <% @bases.each do |base| %>
          <tr class="progress-tr">
            <td class="progress-td"><%= base %></td>
              <% if @month_metered_all.where(base: base).group(:billing_date).length == 0 %>
                <% @month_metered_all.group(:billing_date).length.times do %>
                <td class="progress-td"></td>
                <% end %>
              <% else @month_metered_all.where(base: base).group(:billing_date).length != @month_metered_all.group(:billing_date).length %>
                <% (@month_metered_all.group(:billing_date).length - @month_metered_all.where(base: base).group(:billing_date).length).times do %>
                  <td class="progress-td"></td>
                <% end %>
              <% end %>
              <% @month_metered_all.where(base: base).group(:billing_date).average(:commission).each do |c|  %>
              <td class="progress-td"><%= c[1].round().to_s(:delimited) %></td>
              <% end %>
          </tr>
          <% end %>
          <tr class="sum-tr">
            <td class="progress-td">全体</td>
              <% (@month_metered_all.group(:billing_date).length - @month_metered_all.group(:billing_date).length).times do %>
              <td class="progress-td"></td>
              <% end %>
              <% @month_metered_all.group(:billing_date).average(:commission).each do |c|  %>
              <td class="progress-td"><%= c[1].round().to_s(:delimited) %></td>
              <% end %>
          </tr>
          <tr >
            <td class="difference-td">全体<%= @month_metered_all.first.billing_date %>との比較（％）</td>
            <% cnt = 0 %>
            <% target_commission = 0 %>
              <% @month_metered_all.group(:billing_date).average(:commission).each do |c|  %>
                <% if cnt == 0 %>
                  <td class="difference-td"><% target_commission = c[1].round() %></td>
                  <% cnt += 1 %>
                <% else %>
                  <td class="difference-td"><%= number_to_percentage((c[1].round().to_f / target_commission).round(2) * 100,precision: 0) %></td>
                <% end %>
              <% end %>
          </tr>
        </table>

        <h2>低圧電力手数料（合計）</h2>
        <table class="progress-tb">
          <tr>
            <th class="progress-th2">拠点</th>
            <% @month_low_voltage_all.group(:billing_date).each do |c|  %>
              <th class="progress-th2"><%= c.billing_date %></th>
            <% end %>
          </tr>
          <% @bases.each do |base| %>
          <tr class="progress-tr">
            <td class="progress-td"><%= base %></td>
              <% if @month_low_voltage_all.where(base: base).group(:billing_date).length == 0 %>
                <% @month_low_voltage_all.group(:billing_date).length.times do %>
                <td class="progress-td"></td>
                <% end %>
              <% else @month_low_voltage_all.where(base: base).group(:billing_date).length != @month_low_voltage_all.group(:billing_date).length %>
                <% (@month_low_voltage_all.group(:billing_date).length - @month_low_voltage_all.where(base: base).group(:billing_date).length).times do %>
                  <td class="progress-td"></td>
                <% end %>
              <% end %>
              <% @month_low_voltage_all.where(base: base).group(:billing_date).average(:commission).each do |c|  %>
              <td class="progress-td"><%= c[1].round().to_s(:delimited) %></td>
              <% end %>
          </tr>
          <% end %>
          <tr class="sum-tr">
            <td class="progress-td">全体</td>
              <% (@month_low_voltage_all.group(:billing_date).length - @month_low_voltage_all.group(:billing_date).length).times do %>
              <td class="progress-td"></td>
              <% end %>
              <% @month_low_voltage_all.group(:billing_date).average(:commission).each do |c|  %>
              <td class="progress-td"><%= c[1].round().to_s(:delimited) %></td>
              <% end %>
          </tr>
          <tr >
            <td class="difference-td">全体<%=@month_low_voltage_all.first.billing_date %>との比較（％）</td>
            <% cnt = 0 %>
            <% target_commission = 0 %>
              <% @month_low_voltage_all.group(:billing_date).average(:commission).each do |c|  %>
                <% if cnt == 0 %>
                  <td class="difference-td"><% target_commission = c[1].round() %></td>
                  <% cnt += 1 %>
                <% else %>
                  <td class="difference-td"><%= number_to_percentage((c[1].round().to_f / target_commission).round(2) * 100,precision: 0) %></td>
                <% end %>
              <% end %>
          </tr>
        </table>
      </div>
      <div class="graph-form" id="metered-graph">
        <h2>◆<%= @month.year %>年：従量電灯（件数）</h2><br>
        <%= line_chart @billings_metered ,options = {
          thousands: ",",
          suffix: "件",
          xtitle: "請求月",

          } %>

        <h2>従量件数</h2>
        <table class="progress-tb">
          <tr>
            <th class="progress-th2">拠点</th>
            <% @billings_metered_data.group(:billing_date).each do |c|  %>
              <th class="progress-th2"><%= c.billing_date %></th>
            <% end %>
          </tr>
          <% @bases.each do |base| %>
          <tr class="progress-tr">
            <td class="progress-td"><%= base %></td>
              <% if @billings_metered_data.where(base: base).group(:billing_date).length == 0 %>
                <% @billings_metered_data.group(:billing_date).length.times do %>
                <td class="progress-td"></td>
                <% end %>
              <% else @billings_metered_data.where(base: base).group(:billing_date).length != @billings_metered_data.group(:billing_date).length %>
                <% (@billings_metered_data.group(:billing_date).length - @billings_metered_data.where(base: base).group(:billing_date).length).times do %>
                  <td class="progress-td"></td>
                <% end %>
              <% end %>
              <% @billings_metered_data.where(base: base).group(:billing_date).count.each do |c|  %>
              <td class="progress-td"><%= c[1].to_s(:delimited) %></td>
              <% end %>
          </tr>
          <% end %>
          <tr class="sum-tr">
            <td class="progress-td">全体</td>
              <% (@billings_metered_data.group(:billing_date).length - @billings_metered_data.group(:billing_date).length).times do %>
              <td class="progress-td"></td>
              <% end %>
              <% @billings_metered_data.group(:billing_date).count.each do |c|  %>
              <td class="progress-td"><%= c[1].to_i %></td>
              <% end %>
          </tr>
          <tr >
            <td class="difference-td">全体増加数</td>
            <% target = 0 %>
            <% target_2 = 0 %>
              <% @billings_metered_data.group(:billing_date).count.each do |c|  %>
                  <% target = c[1].to_i %>
                  <td class="difference-td"><%= target - target_2 %></td>
                  <% target_2 = c[1].to_i %>
              <% end %>
          </tr>
        </table>
      </div>
      <div class="graph-form" id="low-voltage-graph">
        <h2>◆<%= @month.year %>年：低圧電力（件数）</h2><br>
        <%= line_chart @billings_low_voltage ,options = {
          thousands: ",",
          suffix: "件",
          xtitle: "請求月",
          } %>
        <h2>低圧件数</h2>
        <table class="progress-tb">
          <tr>
            <th class="progress-th2">拠点</th>
            <% @billings_low_voltage_data.group(:billing_date).each do |c|  %>
              <th class="progress-th2"><%= c.billing_date %></th>
            <% end %>
          </tr>
          <% @bases.each do |base| %>
          <tr class="progress-tr">
            <td class="progress-td"><%= base %></td>
              <% if @billings_low_voltage_data.where(base: base).group(:billing_date).length == 0 %>
                <% @billings_low_voltage_data.group(:billing_date).length.times do %>
                <td class="progress-td"></td>
                <% end %>
              <% else @billings_low_voltage_data.where(base: base).group(:billing_date).length != @billings_low_voltage_data.group(:billing_date).length %>
                <% (@billings_low_voltage_data.group(:billing_date).length - @billings_low_voltage_data.where(base: base).group(:billing_date).length).times do %>
                  <td class="progress-td"></td>
                <% end %>
              <% end %>
              <% @billings_low_voltage_data.where(base: base).group(:billing_date).count.each do |c|  %>
              <td class="progress-td"><%= c[1].to_s(:delimited) %></td>
              <% end %>
          </tr>
          <% end %>
          <tr class="sum-tr">
            <td class="progress-td">全体</td>
              <% (@billings_low_voltage_data.group(:billing_date).length - @billings_low_voltage_data.group(:billing_date).length).times do %>
              <td class="progress-td"></td>
              <% end %>
              <% @billings_low_voltage_data.group(:billing_date).count.each do |c|  %>
              <td class="progress-td"><%= c[1].to_i %></td>
              <% end %>
          </tr>
          <tr >
            <td class="difference-td">全体増加数</td>
            <% target = 0 %>
            <% target_2 = 0 %>
              <% @billings_low_voltage_data.group(:billing_date).count.each do |c|  %>
                  <% target = c[1].to_i %>
                  <td class="difference-td"><%= target - target_2 %></td>
                  <% target_2 = c[1].to_i %>
              <% end %>
          </tr>
        </table>
      </div>
      <div class="graph-form" id="commission-ave-graph">
        <h2>◆<%= @month.year %>年：従量電灯手数料（平均）</h2><br>
        <%= line_chart @commission_ave ,options = {
          thousands: ",",
          label: "平均手数料",
          suffix: "円",
          xtitle: "請求月",
          round: 0
          } %>
        <h2>従量手数料（平均）</h2>
        <table class="progress-tb">
          <tr>
            <th class="progress-th2">拠点</th>
            <% @month_metered.group(:billing_date).each do |c|  %>
              <th class="progress-th2"><%= c.billing_date %></th>
            <% end %>
          </tr>
          <% @bases.each do |base| %>
          <tr class="progress-tr">
            <td class="progress-td"><%= base %></td>
              <% if @month_metered.where(base: base).group(:billing_date).length == 0 %>
                <% @month_metered.group(:billing_date).length.times do %>
                <td class="progress-td"></td>
                <% end %>
              <% else @month_metered.where(base: base).group(:billing_date).length != @month_metered.group(:billing_date).length %>
                <% (@month_metered.group(:billing_date).length - @month_metered.where(base: base).group(:billing_date).length).times do %>
                  <td class="progress-td"></td>
                <% end %>
              <% end %>
              <% @month_metered.where(base: base).group(:billing_date).average(:commission).each do |c|  %>
              <td class="progress-td"><%= c[1].round().to_s(:delimited) %></td>
              <% end %>
          </tr>
          <% end %>
          <tr class="sum-tr">
            <td class="progress-td">全体</td>
              <% (@month_metered.group(:billing_date).length - @month_metered.group(:billing_date).length).times do %>
              <td class="progress-td"></td>
              <% end %>
              <% @month_metered.group(:billing_date).average(:commission).each do |c|  %>
              <td class="progress-td"><%= c[1].round().to_s(:delimited) %></td>
              <% end %>
          </tr>
          <tr >
            <td class="difference-td">全体<%= @month_metered.first.billing_date %>との比較（％）</td>
            <% cnt = 0 %>
            <% target_commission = 0 %>
              <% @month_metered.group(:billing_date).average(:commission).each do |c|  %>
                <% if cnt == 0 %>
                  <td class="difference-td"><% target_commission = c[1].round() %></td>
                  <% cnt += 1 %>
                <% else %>
                  <td class="difference-td"><%= number_to_percentage((c[1].round().to_f / target_commission).round(2) * 100,precision: 0) %></td>
                <% end %>
              <% end %>
          </tr>
        </table>

        <h2>低圧電力手数料（平均）</h2>
        <table class="progress-tb">
          <tr>
            <th class="progress-th2">拠点</th>
            <% @month_low_voltage.group(:billing_date).each do |c|  %>
              <th class="progress-th2"><%= c.billing_date %></th>
            <% end %>
          </tr>
          <% @bases.each do |base| %>
          <tr class="progress-tr">
            <td class="progress-td"><%= base %></td>
              <% if @month_low_voltage.where(base: base).group(:billing_date).length == 0 %>
                <% @month_low_voltage.group(:billing_date).length.times do %>
                <td class="progress-td"></td>
                <% end %>
              <% else @month_low_voltage.where(base: base).group(:billing_date).length != @month_low_voltage.group(:billing_date).length %>
                <% (@month_low_voltage.group(:billing_date).length - @month_low_voltage.where(base: base).group(:billing_date).length).times do %>
                  <td class="progress-td"></td>
                <% end %>
              <% end %>
              <% @month_low_voltage.where(base: base).group(:billing_date).average(:commission).each do |c|  %>
              <td class="progress-td"><%= c[1].round().to_s(:delimited) %></td>
              <% end %>
          </tr>
          <% end %>
          <tr class="sum-tr">
            <td class="progress-td">全体</td>
              <% (@month_low_voltage.group(:billing_date).length - @month_low_voltage.group(:billing_date).length).times do %>
              <td class="progress-td"></td>
              <% end %>
              <% @month_low_voltage.group(:billing_date).average(:commission).each do |c|  %>
              <td class="progress-td"><%= c[1].round().to_s(:delimited) %></td>
              <% end %>
          </tr>
          <tr >
            <td class="difference-td">全体<%=@month_low_voltage.first.billing_date %>との比較（％）</td>
            <% cnt = 0 %>
            <% target_commission = 0 %>
              <% @month_low_voltage.group(:billing_date).average(:commission).each do |c|  %>
                <% if cnt == 0 %>
                  <td class="difference-td"><% target_commission = c[1].round() %></td>
                  <% cnt += 1 %>
                <% else %>
                  <td class="difference-td"><%= number_to_percentage((c[1].round().to_f / target_commission).round(2) * 100,precision: 0) %></td>
                <% end %>
              <% end %>
          </tr>
        </table>

        <h2>◆<%= @month.year %>年：従量電灯手数料（地域別平均）</h2><br>
        <%= line_chart @commission_ave_area ,options = {
          thousands: ",",
          label: "平均手数料",
          suffix: "円",
          xtitle: "請求月",
          round: 0
          } %>
      </div>

      <div class="graph-form" id="billings-ave-graph">
        <h2>◆<%= @month.year %>年：請求額（平均）</h2><br>
        <%= line_chart @billing_amount_ave ,options = {
          thousands: ",",
          label: "平均請求額",
          suffix: "円",
          xtitle: "請求月",
          round: 0
          } %>
      </div>
      <div class="graph-form" id="total-use-ave-graph">
        <h2>◆<%= @month.year %>年：使用量（平均）</h2><br>
        <%= line_chart @tota_use_ave_graph ,options = {
          thousands: ",",
          label: "平均使用量",
          suffix: "kWh",
          xtitle: "請求月",
          round: 1
          } %>

        <h2>従量使用料（平均）</h2>
        <table class="progress-tb">
          <tr>
            <th class="progress-th2">拠点</th>
            <% @month_metered.group(:billing_date).each do |c|  %>
              <th class="progress-th2"><%= c.billing_date %></th>
            <% end %>
          </tr>
          <% @bases.each do |base| %>
          <tr class="progress-tr">
            <td class="progress-td"><%= base %></td>
              <% if @month_metered.where(base: base).group(:billing_date).length == 0 %>
                <% @month_metered.group(:billing_date).length.times do %>
                <td class="progress-td"></td>
                <% end %>
              <% else @month_metered.where(base: base).group(:billing_date).length != @month_metered.group(:billing_date).length %>
                <% (@month_metered.group(:billing_date).length - @month_metered.where(base: base).group(:billing_date).length).times do %>
                  <td class="progress-td"></td>
                <% end %>
              <% end %>
              <% @month_metered.where(base: base).group(:billing_date).average(:total_use).each do |c|  %>
              <td class="progress-td"><%= c[1].round().to_s(:delimited) %></td>
              <% end %>
          </tr>
          <% end %>
          <tr class="sum-tr">
            <td class="progress-td">全体</td>
              <% (@month_metered.group(:billing_date).length - @month_metered.group(:billing_date).length).times do %>
              <td class="progress-td"></td>
              <% end %>
              <% @month_metered.group(:billing_date).average(:total_use).each do |c|  %>
              <td class="progress-td"><%= c[1].round().to_s(:delimited) %></td>
              <% end %>
          </tr>
        </table>

        <h2>低圧電力使用料（平均）</h2>
        <table class="progress-tb">
          <tr>
            <th class="progress-th2">拠点</th>
            <% @month_low_voltage.group(:billing_date).each do |c|  %>
              <th class="progress-th2"><%= c.billing_date %></th>
            <% end %>
          </tr>
          <% @bases.each do |base| %>
          <tr class="progress-tr">
            <td class="progress-td"><%= base %></td>
              <% if @month_low_voltage.where(base: base).group(:billing_date).length == 0 %>
                <% @month_low_voltage.group(:billing_date).length.times do %>
                <td class="progress-td"></td>
                <% end %>
              <% else @month_low_voltage.where(base: base).group(:billing_date).length != @month_low_voltage.group(:billing_date).length %>
                <% (@month_low_voltage.group(:billing_date).length - @month_low_voltage.where(base: base).group(:billing_date).length).times do %>
                  <td class="progress-td"></td>
                <% end %>
              <% end %>
              <% @month_low_voltage.where(base: base).group(:billing_date).average(:total_use).each do |c|  %>
              <td class="progress-td"><%= c[1].round().to_s(:delimited) %></td>
              <% end %>
          </tr>
          <% end %>
          <tr class="sum-tr">
            <td class="progress-td">全体</td>
              <% (@month_low_voltage.group(:billing_date).length - @month_low_voltage.group(:billing_date).length).times do %>
              <td class="progress-td"></td>
              <% end %>
              <% @month_low_voltage.group(:billing_date).average(:total_use).each do |c|  %>
              <td class="progress-td"><%= c[1].round().to_s(:delimited) %></td>
              <% end %>
          </tr>
        </table>
      </div>
    <% end %>
  </div>
</div>