<div data-scope-path="stocks/new">
  <h1 class="show-title">新規情報入力（ぷらねす在庫）</h1>
  <%= render "shared/header" %>

  <%= form_with model: @stock, class: "form-frame", local: true do |f| %>
    <%= render "shared/error_messages",model: f.object %>
  <div class="nav">
  <%# 1列目 %>
    <div>
      <%= f.label :status, "ステータス", class: "form-text" %>
      <%= f.select :status , {"○": "○", "×": "×"},{include_blank: "選択してください"}, {class: "form-input2"} %>

      <%= f.label :mail, "メールアドレス", class: "form-text" %>
      <%= f.text_field :mail , class: "form-input" %>
    </div>
  <%# 2列目 %>
    <div>
      <%= f.label :stock_num, "在庫番号", class: "form-text" %>
      <%= f.text_field :stock_num , class: "form-input" %>

      <%= f.label :remarks, "備考", class: "form-text" %>
      <%= f.text_field :remarks , class: "form-input" %>
    </div>
  <%# 3列目 %>
    <div>
      <%= f.label :mac_num, "MAC番号", class: "form-text" %>
      <%= f.text_field :mac_num , class: "form-input" %>
    </div>
  </div>
    <%= f.submit "登録", class: "submit-btn" %>
  <% end %>
</div>