<div data-scope-path="users/index">

  <h1>ユーザー一覧</h1>
  <%= render "shared/header" %>
  <% if current_user.name == "管理用" %>
  
  <% end %>
  <%= search_form_for @q do |f| %>
  <table>
    <tr>
      <th class="search">訪問員</th>
      <th class="search">拠点</th>
      <th class="search">担当商材</th>
      <th class="search">付与権限</th>
      <th class="search">グループ</th>
      <td class="result"><%= f.submit "絞込み", class: "result-btn" %></td>
    </tr>
    <tr>
      <td ><%= f.search_field :name_cont, class: "input" %></td>
      <td class="search-td"><%= f.select :base_eq, options_from_collection_for_select(User.where.not(base: "中部N").where.not(base: "関西N").where.not(base: "退職").select(:base).distinct, :base, :base), {prompt: "全拠点"},{class: "input"} %></td>
      <td class="search-td"><%= f.select :base_sub_eq, options_from_collection_for_select(User.where.not(base: "中部N").where.not(base: "関西N").where.not(base: "退職").select(:base_sub).distinct, :base_sub, :base_sub), {prompt: "全商材"},{class: "input"} %></td>
      <td class="search-td"><%= f.select :position_eq, options_from_collection_for_select(User.where.not(base: "中部N").where.not(base: "関西N").where.not(base: "退職").select(:position).distinct, :position, :position), {prompt: ""},{class: "input"} %></td>
      <td class="search-td"><%= f.select :group_eq, options_from_collection_for_select(User.where.not(base: "中部N").where.not(base: "関西N").where.not(base: "退職").select(:group).distinct, :group, :group), {prompt: "全グループ"},{class: "input"} %></td>
        <td  class="reset"><%= link_to "絞込みリセット", users_path ,class: "reset-link" %></td>
    </tr>
  </table>
  <% end %>
  <hr>
  <p><%= alert %></p>
  <% if @users.empty? %>
  <% else %>
  <table>
    <tr>
      <th></th>
      <th>名前</th>
      <th>拠点</th>
      <th>担当商材</th>
      <th>グループ①</th>
      <th>グループ②</th>
      <th>メールアドレス</th>
      <th>権限</th>
    </tr>
  <% @users.each do |user| %>
    <tr>
    <% if current_user.name == "管理用" %>
      <td><%= link_to "編集", edit_user_path(user.id), class: "link" %></td>
    <% else %>
      <td></td>
    <% end %>
      <td><%= user.name %></td>
      <td><%= user.base %></td>
      <td><%= user.base_sub %></td>
      <td><%= user.group %></td>
      <td><%= user.team %></td>
      <td><%= user.email %></td>
      <td><%= user.position %></td>
    </tr>
  <% end %>
  </table>
  <% end %>
</div>