<%= render "shared/header" %>

<div class="main">
  <%= render "shared/side_bar" %>
  <main class="right-bar">
    <h1 class="sub-title">利益表</h1>

    <h2 class="show-title">サミット基準値検索</h2>

    <%= search_form_for @s, url: users_path do |f| %>
    <table class="search-frame">
      <tr>

        <th class="search-th"><%= f.label :user_id, "獲得者", class: "search-label" %></th>
        <td class="search-td"><%= f.select :user_id_eq, options_from_collection_for_select(User.joins(:summit_results).where.not(base: "退職").distinct, :id, :name), {prompt: "全体"},{class: "search-input"} %></td>
        <th class="search-th"><%= f.label :date, "獲得日付", class: "search-label" %></th>
        <td class="search-td"><%= f.date_field :date_gteq, class: "search-date" %>〜</td>
        <td class="search-td"><%= f.date_field :date_lteq, class: "search-date" %></td>
        <th class="search-th"><%= f.label :date, "獲得月", class: "search-label" %></th>
        <td class="search-td"><%= f.date_select :date_during_month, {discard_day: true} ,{class: "search-date-select"} %></td>
        <td class="search-result"><%= f.submit "絞込み" , class: "search-btn" %></td>

        <td class="search-reset"><%= link_to "絞込みリセット", users_path, class: "reset-link" %></td>
      </tr>
      <tr>

      </tr>
    </table>
    <% end %>
    <h2 class="show-title">キャッシュレス検索</h2>

    <%= search_form_for @c, as: :c, url: users_path do |f| %>
    <table class="search-frame">
      <tr>

        <th class="search-th"><%= f.label :user_id, "獲得者", class: "search-label" %></th>
        <td class="search-td"><%= f.select :user_id_eq, options_from_collection_for_select(User.joins(:cashless_results).where.not(base: "退職").distinct, :id, :name), {prompt: "全体"},{class: "search-input"} %></td>
        <th class="search-th"><%= f.label :date, "獲得日付", class: "search-label" %></th>
        <td class="search-td"><%= f.date_field :date_gteq, class: "search-date" %>〜</td>
        <td class="search-td"><%= f.date_field :date_lteq, class: "search-date" %></td>
        <th class="search-th"><%= f.label :date, "獲得月", class: "search-label" %></th>
        <td class="search-td"><%= f.date_select :date_during_month, {discard_day: true} ,{class: "search-date-select"} %></td>
        <td class="search-result"><%= f.submit "絞込み" , class: "search-btn" %></td>

        <td class="search-reset"><%= link_to "絞込みリセット", users_path, class: "reset-link" %></td>
      </tr>
      <tr>

      </tr>
    </table>
    <% end %>
    <h2 class="show-title">パンダ検索</h2>

    <%= search_form_for @p, url: users_path do |f| %>
    <table class="search-frame">
      <tr>

        <th class="search-th"><%= f.label :user_id, "獲得者", class: "search-label" %></th>
        <td class="search-td"><%= f.select :user_id_eq, options_from_collection_for_select(User.joins(:panda_results).where.not(base: "退職").distinct, :id, :name), {prompt: "全体"},{class: "search-input"} %></td>
        <th class="search-th"><%= f.label :date, "獲得日付", class: "search-label" %></th>
        <td class="search-td"><%= f.date_field :date_gteq, class: "search-date" %>〜</td>
        <td class="search-td"><%= f.date_field :date_lteq, class: "search-date" %></td>
        <th class="search-th"><%= f.label :date, "獲得月", class: "search-label" %></th>
        <td class="search-td"><%= f.date_select :date_during_month, {discard_day: true} ,{class: "search-date-select"} %></td>
        <td class="search-result"><%= f.submit "絞込み" , class: "search-btn" %></td>

        <td class="search-reset"><%= link_to "絞込みリセット", users_path, class: "reset-link" %></td>
      </tr>
      <tr>

      </tr>
    </table>
    <% end %>

    <hr>
    <% if @summit_results.empty? %>
    <% else %>

    <h2 class="sub-title">表示範囲：<%= @summit_results.minimum(:date) %>〜<%= @summit_results.maximum(:date) %></h2>
    
 
    <table class="result-table">
      <tr>
        <th class="summit-th">基準値</th>
        <th class="summit-th">訪問数</th>
        <th class="summit-th">面接率</th>
        <th class="summit-th">対面数</th>
        <th class="summit-th">フル率</th>
        <th class="summit-th">フル数</th>
        <th class="summit-th">成約率</th>
        <th class="summit-th">成約数</th>

        <th class="summit-th">NG件数</th>
        <th class="summit-th">明細なし</th>
        <th class="summit-th">口座なし</th>
        <th class="summit-th">建物一括</th>

      </tr>
      <tr>
      <% summit_visit = @summit_results.sum(:first_visit).to_f + @summit_results.sum(:latter_visit).to_f %>
      <% summit_interview = @summit_results.sum(:first_interview).to_f + @summit_results.sum(:latter_interview).to_f %>
      <% summit_full_talk = @summit_results.sum(:first_full_talk).to_f + @summit_results.sum(:latter_full_talk).to_f %>
      <% summit_get = @summit_results.sum(:summit).to_f %>
      <td class="summit-td"></td>
      <td class="summit-td"><%= ( summit_visit / @summit_results.length).round(1) %></td>
      <td class="summit-td"><%= number_to_percentage(summit_interview / summit_visit * 100, precision: 1) rescue 0 %></td>
      <td class="summit-td"><%=  (summit_interview / @summit_results.length).round(1) %></td>
      <td class="summit-td"><%= number_to_percentage(summit_full_talk / summit_interview * 100 , precision: 1) rescue 0 %></td>
      <td class="summit-td"><%= ( summit_full_talk / @summit_results.length).round(1) %></td>
      <td class="summit-td"><%= number_to_percentage(summit_get / summit_full_talk * 100, precision: 1) rescue 0 %></td>
      <td class="summit-td"><%= ( summit_get / @summit_results.length).round(1) rescue 0 %></td>
      <td class="summit-td"><%=  %></td>
      <td class="summit-td"><%= @summit_results.sum(:ng_detail) %></td>
      <td class="summit-td"><%= @summit_results.sum(:ng_cash) %></td>
      <td class="summit-td"><%= @summit_results.sum(:ng_building) %></td>
      </tr>
    </table>
    <table class="result-table">

      <tr>
        <th class="summit-th2">切り返し成約率</th>
        <th class="summit-th2">引き落とし拒否</th>
        <th class="summit-th2">忙しい</th>
        <th class="summit-th2">怪しい</th>
        <th class="summit-th2">検討したい</th>
        <th class="summit-th2">変えたくない</th>
        <th class="summit-th2">その他</th>
        <th class="summit-th2">ペロ</th>
      </tr>

      <tr>
        <td class="summit-td"></td>
        <td class="summit-td"><%= number_to_percentage(@summit_results.sum(:reject_cash_get).to_f / @summit_results.sum(:reject_cash_full_talk) *100,precision: 1) rescue 0 %></td>
        <td class="summit-td"><%= number_to_percentage(@summit_results.sum(:busy_get).to_f / @summit_results.sum(:busy_full_talk) * 100, precision: 1) rescue 0 %></td>
        <td class="summit-td"><%= number_to_percentage(@summit_results.sum(:doubt_get).to_f / @summit_results.sum(:doubt_full_talk) * 100, precision: 1) rescue 0 %></td>
        <td class="summit-td"><%= number_to_percentage(@summit_results.sum(:yet_get).to_f / @summit_results.sum(:yet_get) * 100,precision: 1) rescue 0 %></td>
        <td class="summit-td"><%= number_to_percentage(@summit_results.sum(:not_change_get).to_f / @summit_results.sum(:not_change_get) * 100,precision: 1) rescue 0 %></td>
        <td class="summit-td"><%= number_to_percentage(@summit_results.sum(:other_get).to_f / @summit_results.sum(:other_full_talk) * 100, precision: 1) rescue 0 %></td>
        <td class="summit-td"><%= number_to_percentage(@summit_results.sum(:easy_get).to_f / @summit_results.sum(:easy_full_talk) * 100,precision: 1) rescue 0 %></td>
      </tr>
    </table>
    <table class="result-table">

      <tr>
      <%# 大枠基準値 %>
        <th class="summit-th3">日付</th>
        <th class="summit-th3">合計訪問数</th>
        <th class="summit-th3">合計対面数</th>
        <th class="summit-th3">合計フル数</th>
        <th class="summit-th3">成約数</th>
        <th class="summit-th3">前半</th>
        <th class="summit-th3">訪問数</th>
        <th class="summit-th3">対面数</th>
        <th class="summit-th3">フル数</th>
        <th class="summit-th3">成約数</th>
        <th class="summit-th3">後半</th>
        <th class="summit-th3">訪問数</th>
        <th class="summit-th3">対面数</th>
        <th class="summit-th3">フル数</th>
        <th class="summit-th3">成約数</th>
      <%# 店舗別基準値 %>
        <th class="summit-th3">喫茶・カフェ</th>
          <th class="summit-th3">訪問数</th>
          <th class="summit-th3">対面数</th>
          <th class="summit-th3">フル数</th>
          <th class="summit-th3">成約数</th>
        <th class="summit-th3">その他飲食</th>
          <th class="summit-th3">訪問数</th>
          <th class="summit-th3">対面数</th>
          <th class="summit-th3">フル数</th>
          <th class="summit-th3">成約数</th>
        <th class="summit-th3">車屋</th>
          <th class="summit-th3">訪問数</th>
          <th class="summit-th3">対面数</th>
          <th class="summit-th3">フル数</th>
          <th class="summit-th3">成約数</th>
        <th class="summit-th3">その他小売</th>
          <th class="summit-th3">訪問数</th>
          <th class="summit-th3">対面数</th>
          <th class="summit-th3">フル数</th>
          <th class="summit-th3">成約数</th>
        <th class="summit-th3">理容・美容</th>
          <th class="summit-th3">訪問数</th>
          <th class="summit-th3">対面数</th>
          <th class="summit-th3">フル数</th>
          <th class="summit-th3">成約数</th>
        <th class="summit-th3">整体・鍼灸</th>
          <th class="summit-th3">訪問数</th>
          <th class="summit-th3">対面数</th>
          <th class="summit-th3">フル数</th>
          <th class="summit-th3">成約数</th>
        <th class="summit-th3">その他サービス</th>
          <th class="summit-th3">訪問数</th>
          <th class="summit-th3">対面数</th>
          <th class="summit-th3">フル数</th>
          <th class="summit-th3">成約数</th>
      <%# 切り返し %>
        <th class="summit-th3">明細なし</th>
        <th class="summit-th3">口座なし</th>
        <th class="summit-th3">建物一括</th>
        <th class="summit-th3">引き落とし拒否</th>
          <th class="summit-th3">対面数</th>
          <th class="summit-th3">フル数</th>
          <th class="summit-th3">成約数</th>
        <th class="summit-th3">忙しい</th>
          <th class="summit-th3">対面数</th>
          <th class="summit-th3">フル数</th>
          <th class="summit-th3">成約数</th>
        <th class="summit-th3">怪しい</th>
          <th class="summit-th3">対面数</th>
          <th class="summit-th3">フル数</th>
          <th class="summit-th3">成約数</th>
        <th class="summit-th3">検討したい</th>
          <th class="summit-th3">対面数</th>
          <th class="summit-th3">フル数</th>
          <th class="summit-th3">成約数</th>
        <th class="summit-th3">変えたくない</th>
          <th class="summit-th3">対面数</th>
          <th class="summit-th3">フル数</th>
          <th class="summit-th3">成約数</th>
        <th class="summit-th3">その他</th>
          <th class="summit-th3">対面数</th>
          <th class="summit-th3">フル数</th>
          <th class="summit-th3">成約数</th>
        <th class="summit-th3">ペロ</th>
          <th class="summit-th3">対面数</th>
          <th class="summit-th3">フル数</th>
          <th class="summit-th3">成約数</th>

      </tr>
      <tr>
        <% @summit_results.each do |summit| %>
      <%# 大枠基準値 %>
        <td class="summit-td"><%= summit.date.month %>月<%= summit.date.day %>日</td>
        <td class="summit-td"><%= summit.first_visit + summit.latter_visit %></td>
        <td class="summit-td"><%= summit.first_interview + summit.latter_interview %></td>
        <td class="summit-td"><%= summit.first_full_talk + summit.latter_full_talk %></td>
        <td class="summit-td"><%= summit.first_get + summit.latter_get %></td>
        <td class="summit-td"><%#前半%></td>
        <td class="summit-td"><%= summit.first_visit  %></td>
        <td class="summit-td"><%= summit.first_interview %></td>
        <td class="summit-td"><%= summit.first_full_talk %></td>
        <td class="summit-td"><%= summit.first_get %></td>

        <td class="summit-td"><%#前半%></td>
        <td class="summit-td"><%= summit.latter_visit %></td>
        <td class="summit-td"><%= summit.latter_interview %></td>
        <td class="summit-td"><%= summit.latter_full_talk %></td>
        <td class="summit-td"><%= summit.latter_get %></td>
        
      <%# 店舗別基準値 %>
        <td class="summit-td"><%#喫茶・カフェ%></td>
        <td class="summit-td"><%= summit.cafe_visit %></td>
        <td class="summit-td"><%= summit.cafe_interview %></td>
        <td class="summit-td"><%= summit.cafe_full_talk %></td>
        <td class="summit-td"><%= summit.cafe_get %></td>
        <td class="summit-td"><%#その他飲食%></td>
        <td class="summit-td"><%= summit.other_food_visit %></td>
        <td class="summit-td"><%= summit.other_food_interview %></td>
        <td class="summit-td"><%= summit.other_food_full_talk %></td>
        <td class="summit-td"><%= summit.other_food_get %></td>
        <td class="summit-td"><%#車屋%></td>
        <td class="summit-td"><%= summit.car_visit %></td>
        <td class="summit-td"><%= summit.car_interview %></td>
        <td class="summit-td"><%= summit.car_full_talk %></td>
        <td class="summit-td"><%= summit.car_get %></td>
        <td class="summit-td"><%#その他小売%></td>
        <td class="summit-td"><%= summit.other_retail_visit %></td>
        <td class="summit-td"><%= summit.other_retail_interview %></td>
        <td class="summit-td"><%= summit.other_retail_full_talk %></td>
        <td class="summit-td"><%= summit.other_retail_get %></td>
        <td class="summit-td"><%#理容・美容%></td>
        <td class="summit-td"><%= summit.hair_salon_visit %></td>
        <td class="summit-td"><%= summit.hair_salon_interview %></td>
        <td class="summit-td"><%= summit.hair_salon_full_talk %></td>
        <td class="summit-td"><%= summit.hair_salon_get %></td>
        <td class="summit-td"><%#整体・鍼灸%></td>
        <td class="summit-td"><%= summit.manipulative_visit %></td>
        <td class="summit-td"><%= summit.manipulative_interview %></td>
        <td class="summit-td"><%= summit.manipulative_full_talk %></td>
        <td class="summit-td"><%= summit.manipulative_get %></td>
        <td class="summit-td"><%#その他・サービス%></td>
        <td class="summit-td"><%= summit.other_service_visit %></td>
        <td class="summit-td"><%= summit.other_service_interview %></td>
        <td class="summit-td"><%= summit.other_service_full_talk %></td>
        <td class="summit-td"><%= summit.other_service_get %></td>
      <%# 切り返し %>
        <%# NG %>
        <td class="summit-td"><%= summit.ng_detail %></td>
        <td class="summit-td"><%= summit.ng_cash %></td>
        <td class="summit-td"><%= summit.ng_building %></td>
        <td class="summit-td"><%# 引き落とし拒否 %></td>
        <td class="summit-td"><%= summit.reject_cash_interview %></td>
        <td class="summit-td"><%= summit.reject_cash_full_talk %></td>
        <td class="summit-td"><%= summit.reject_cash_get %></td>
        <td class="summit-td"><%# 忙しい %></td>
        <td class="summit-td"><%= summit.busy_interview %></td>
        <td class="summit-td"><%= summit.busy_full_talk %></td>
        <td class="summit-td"><%= summit.busy_get %></td>
        <td class="summit-td"><%# 怪しい %></td>
        <td class="summit-td"><%= summit.doubt_interview %></td>
        <td class="summit-td"><%= summit.doubt_full_talk %></td>
        <td class="summit-td"><%= summit.doubt_get %></td>
        <td class="summit-td"><%# 検討したい %></td>
        <td class="summit-td"><%= summit.yet_interview %></td>
        <td class="summit-td"><%= summit.yet_full_talk %></td>
        <td class="summit-td"><%= summit.yet_get %></td>
        <td class="summit-td"><%# 変えたくない %></td>
        <td class="summit-td"><%= summit.not_change_interview %></td>
        <td class="summit-td"><%= summit.not_change_full_talk %></td>
        <td class="summit-td"><%= summit.not_change_get %></td>
        <td class="summit-td"><%# その他 %></td>
        <td class="summit-td"><%= summit.other_interview %></td>
        <td class="summit-td"><%= summit.other_full_talk %></td>
        <td class="summit-td"><%= summit.other_get %></td>
        <td class="summit-td"><%# ペロ %></td>
        <td class="summit-td"><%= summit.easy_interview %></td>
        <td class="summit-td"><%= summit.easy_full_talk %></td>
        <td class="summit-td"><%= summit.easy_get %></td>
      </tr>
        <% end %>
    </table>

    <% end %>


</div>
  </main>