<div data-scope-path="shared/header">
  <h1>マイページ</h1>
  <%= render "shared/header" %>
</div>

<div style="display:flex;">
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div data-scope-path="users/show">
  <div class="main">
    <h2>
      <%= @user.name %>
      <%= link_to "<<",user_path(@user.id,month:@month.prev_month), class:"link" %>
      <%= @month.year %>年<%= @month.month %>月 不備・NG一覧
      <%= link_to ">>",user_path(@user.id,month:@month.next_month), class:"link" %>
    </h2><br>
    <h1>不備・NG一覧</h1>
      <div class="group1">
      <h2 class="hubi-title">不備対応中</h2>
        <table>
          <thead>
          <tr>
            <th>詳細</th>
            <th>商材</th>
            <th>商流</th>
            <th>店舗名</th>
            <th>獲得日</th>
            <th>ステータス</th>
          </tr>
          </thead>
          <tbody>
          <tr>
          <% @dmer_hubi.each do |dmer| %>
              <td><%= link_to "詳細", dmer_path(dmer.id), class: "link" %></td>
              <td>dメル</td>
              <td><%= dmer.client %></td>
              <td><%= dmer.store_prop.name %></td>
              <td><%= dmer.date %></td>
              <td><%= dmer.status %></td>
          </tr>
          <% end %>
          <tr>
          <% @aupay_hubi.each do |aupay| %>
            <td><%= link_to "詳細", aupay_path(aupay.id), class: "link" %></td>
            <td>auPay</td>
            <td><%= aupay.client %></td>
            <td><%= aupay.store_prop.name %></td>
            <td><%= aupay.date %></td>
            <td><%= aupay.status %></td>
          </tr>
          <% end %>
          <tr>
          <% @rakuten_pay_hubi.each do |rakuten_pay| %>
            <td><%= link_to "詳細", rakuten_pay_path(rakuten_pay.id), class: "link" %></td>
            <td>楽天ペイ</td>
            <td><%= rakuten_pay.client %></td>
            <td><%= rakuten_pay.store_prop.name %></td>
            <td><%= rakuten_pay.date %></td>
            <td><%= rakuten_pay.status %></td>
          </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="group1">
      <h2 class="ng-title">審査NG</h2>
        <table>
          <thead>
            <tr>
              <th>詳細</th>
              <th>商材</th>
              <th>商流</th>
              <th>店舗名</th>
              <th>獲得日</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <% @dmer_ng.each do |dmer| %>
              <td><%= link_to "詳細", dmer_path(dmer.id), class: "link" %></td>
              <td>dメル</td>
              <td><%= dmer.client %></td>
              <td><%= dmer.store_prop.name %></td>
              <td><%= dmer.date %></td>
              <td><%= dmer.status %></td>
            </tr>
            <% end %>
          <tr>
          <% @aupay_ng.each do |aupay| %>
            <td><%= link_to "詳細", aupay_path(aupay.id), class: "link" %></td>
            <td>auPay</td>
            <td><%= aupay.client %></td>
            <td><%= aupay.store_prop.name %></td>
            <td><%= aupay.date %></td>
            <td><%= aupay.status %></td>
          </tr>
          <% end %>
          <tr>
          <% @rakuten_pay_ng.each do |rakuten_pay| %>
              <td><%= link_to "詳細", rakuten_pay_path(rakuten_pay.id), class: "link" %></td>
              <td>楽天ペイ</td>
              <td><%= rakuten_pay.client %></td>
              <td><%= rakuten_pay.store_prop.name %></td>
              <td><%= rakuten_pay.date %></td>
              <td><%= rakuten_pay.status %></td>
          </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <h1>複数店情報</h1>
      <div class="group1">
      <h2>複数店追加待ち</h2>
          <table>
            <thead>
              <tr>
              <th>詳細</th>
              <th>商材</th>
              <th>商流</th>
              <th>店舗名</th>
              <th>獲得日</th>
              <th>ステータス</th>
              <th>本店ステータス</th>
              </tr>
            </thead>
            <tbody>
            <% @dmer_db_wait.each do |dmer| %>
              <tr>
              <td><%= link_to "詳細", dmer_path(dmer.id), class: "link" %></td>
              <td>dメル</td>
              <td><%= dmer.client %></td>
              <td><%= dmer.store_prop.name %></td>
              <td><%= dmer.date %></td>
              <td><%= dmer.status %></td>
              <td><%= StoreProp.find_by(name: dmer.store_prop.head_store).dmer.status %></td>
              </tr>
            <% end %>
            <% @aupay_db_wait.each do |aupay| %>
              <tr>
              <td><%= link_to "詳細", aupay_path(aupay.id), class: "link" %></td>
              <td><%= aupay.store_prop.name %></td>
              <td><%= aupay.date %></td>
              <td><%= aupay.status %></td>
              <td><%= StoreProp.find_by(name: aupay.store_prop.head_store).aupay.status %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
      </div>
      <div class="group1">
        <h2>複数店追加済み</h2>
          <table>
            <thead>
              <tr>
              <th>詳細</th>
              <th>商材</th>
              <th>商流</th>
              <th>店舗名</th>
              <th>獲得日</th>
              <th>ステータス</th>
              <th>上位店連携日</th>
              </tr>
            </thead>
            <tbody>
            <% @dmer_db_done.each do |dmer| %>
              <tr>
              <td><%= link_to "詳細", dmer_path(dmer.id), class: "link" %></td>
              <td>dメル</td>
              <td><%= dmer.client %></td>
              <td><%= dmer.store_prop.name %></td>
              <td><%= dmer.date %></td>
              <td><%= dmer.status %></td>
              <td><%= dmer.share %></td>
              </tr>
            <% end %>
            <% @aupay_db_done.each do |aupay| %>
              <tr>
              <td><%= link_to "詳細", aupay_path(aupay.id), class: "link" %></td>
              <td>auPay</td>
              <td><%= aupay.client %></td>
              <td><%= aupay.store_prop.name %></td>
              <td><%= aupay.date %></td>
              <td><%= aupay.status %></td>
              <td><%= aupay.share %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
      </div>
    <h1>審査結果別月の案件一覧</h1>
      <div class="group1">
        <h2>審査別月（増加）</h2>
          <table>
            <thead>
              <tr>
              <th>詳細</th>
              <th>商材</th>
              <th>商流</th>
              <th>店舗名</th>
              <th>獲得日</th>
              <th>ステータス</th>
              <th>審査完了日</th>
              </tr>
            </thead>
            <tbody>
          <% @dmer_status_done.each do |dmer| %>
            <tr>
            <td><%= link_to "詳細", dmer_path(dmer.id), class: "link" %></td>
            <td>dメル</td>
            <td><%= dmer.client %></td>
            <td><%= dmer.store_prop.name %></td>
            <td><%= dmer.date %></td>
            <td><%= dmer.status %></td>
            <td><%= dmer.result_point %></td>
            </tr>
          <% end %>
            <tr>
          <% @aupay_status_done.each do |aupay| %>
            <td><%= link_to "詳細", aupay_path(aupay.id), class: "link" %></td>
            <td>auPay</td>
            <td><%= aupay.client %></td>
            <td><%= aupay.store_prop.name %></td>
            <td><%= aupay.date %></td>
            <td><%= aupay.status %></td>
            <td><%= aupay.result_point %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
        <h2 class="ng-title">審査別月（減少）</h2>
        <table>
          <thead>
            <tr>
            <th>詳細</th>
            <th>商材</th>
            <th>商流</th>
            <th>店舗名</th>
            <th>獲得日</th>
            <th>ステータス</th>
            <th>審査完了日</th>
            </tr>
          </thead>
          <tbody>
          <tr>
          <% @dmer_status_undone.each do |dmer| %>
            <td><%= link_to "詳細", dmer_path(dmer.id), class: "link" %></td>
            <td>dメル</td>
            <td><%= dmer.client %></td>
            <td><%= dmer.store_prop.name %></td>
            <td><%= dmer.date %></td>
            <td><%= dmer.status %></td>
            <td><%= dmer.result_point %></td>
          </tr>
          <% end %>
          <tr>
          <% @aupay_status_undone.each do |aupay| %>
            <td><%= link_to "詳細", aupay_path(aupay.id), class: "link" %></td>
            <td>auPay</td>
            <td><%= aupay.client %></td>
            <td><%= aupay.store_prop.name %></td>
            <td><%= aupay.date %></td>
            <td><%= aupay.status %></td>
            <td><%= aupay.result_point %></td>
          </tr>
          <% end %>
          </tbody>
        </table>
  </div>
</div>

