<div data-scope-path="shared/header">
  <h1>マイページ</h1>
  <%= render "shared/header" %>
</div>

<div style="display:flex;">
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div data-scope-path="users/show">
  <div class="main">
    <h2>
      <%= @user.name %>
      <%= link_to "<<",user_path(@user.id,month:@month.prev_month), class:"link" %>
      <%= @month.year %>年<%= @month.month %>月 不備・NG一覧
      <%= link_to ">>",user_path(@user.id,month:@month.next_month), class:"link" %>
    </h2>


    <div style="display:flex;">
      <div class="group1">
      <h2 class="hubi-title">dメル不備対応中(<%= @dmer_hubi.length %>件)</h2>
        <table>
        <% if @dmer_hubi.length != 0 %>
          <thead>
            <tr>
              <th>詳細</th>
              <th>店舗名</th>
              <th>獲得日</th>
              <th>ステータス</th>
            </tr>
          </thead>
        <% end %>
          <tbody>
          <% @dmer_hubi.each do |dmer| %>
            <tr>
              <td><%= link_to "詳細", dmer_path(dmer.id), class: "link" %></td>
              <td><%= dmer.store_prop.name %></td>
              <td><%= dmer.date %></td>
              <td><%= dmer.status %></td>
          <% end %>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="group1">
      <h2 class="ng-title">dメル審査NG(<%= @dmer_ng.length %>件)</h2>
        <table>
        <% if @dmer_ng.length != 0 %>
          <thead>
            <tr>
              <th>詳細</th>
              <th>店舗名</th>
              <th>獲得日</th>
              <th>ステータス</th>
            </tr>
          </thead>
        <% end %>
          <tbody>
          <% @dmer_ng.each do |dmer| %>
            <tr>
              <td><%= link_to "詳細", dmer_path(dmer.id), class: "link" %></td>
              <td><%= dmer.store_prop.name %></td>
              <td><%= dmer.date %></td>
              <td><%= dmer.status %></td>
          <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div style="display:flex;">
      <div class="group1">
      <h2 class="hubi-title">auPay不備対応中(<%= @aupay_hubi.length %>件)</h2>
        <table>
        <% if @aupay_hubi.length != 0 %>
          <thead>
            <tr>
              <th>詳細</th>
              <th>店舗名</th>
              <th>獲得日</th>
              <th>ステータス</th>
            </tr>
          </thead>
        <% end %>
          <tbody>
          <% @aupay_hubi.each do |aupay| %>
            <tr>
              <td><%= link_to "詳細", aupay_path(aupay.id), class: "link" %></td>
              <td><%= aupay.store_prop.name %></td>
              <td><%= aupay.date %></td>
              <td><%= aupay.status %></td>
          <% end %>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="group1">
      <h2 class="ng-title">auPay審査NG(<%= @aupay_ng.length %>件)</h2>
      <table>
      <% if @aupay_ng.length != 0 %>
        <thead>
          <tr>
            <th>詳細</th>
            <th>店舗名</th>
            <th>獲得日</th>
            <th>ステータス</th>
          </tr>
        </thead>
      <% end %>
        <tbody>
        <% @aupay_ng.each do |aupay| %>
          <tr>
            <td><%= link_to "詳細", aupay_path(aupay.id), class: "link" %></td>
            <td><%= aupay.store_prop.name %></td>
            <td><%= aupay.date %></td>
            <td><%= aupay.status %></td>
        <% end %>
          </tr>
        </tbody>
      </table>
      </div>
    </div>

    <div style="display:flex;">
      <div class="group1">
      <h2 class="hubi-title">楽天Pay不備(<%= @rakuten_pay_hubi.length %>件)</h2>
        <table>
        <% if @rakuten_pay_hubi.length != 0 %>
          <thead>
            <tr>
              <th>詳細</th>
              <th>店舗名</th>
              <th>獲得日</th>
              <th>ステータス</th>
            </tr>
          </thead>
        <% end %>
          <tbody>
          <% @rakuten_pay_hubi.each do |rakuten_pay| %>
            <tr>
              <td><%= link_to "詳細", rakuten_pay_path(rakuten_pay.id), class: "link" %></td>
              <td><%= rakuten_pay.store_prop.name %></td>
              <td><%= rakuten_pay.date %></td>
              <td><%= rakuten_pay.status %></td>
          <% end %>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="group1">
      </div>
    </div>
  </div>
</div>

