<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<% if current_user.position_sub == "管理" %>
  <div data-scope-path="shared/header">
    <h1>楽天ペイ未入金一覧</h1>
    <%= render "shared/header" %>
  </div>
  <div style="display:flex;">
    <div data-scope-path="shared/side_bar_humbarger">
      <%= render "shared/sidebar" %>
    </div>
    <div data-scope-path="shares/index">
      <hr>
        <%= render "shared/payment_links" %>
      <hr>
      <h2 class="">
        <%= link_to "<<",not_payment_payment_rakuten_pays_path(month:@month.prev_year),"data-turbolinks": false, class:"link" %>
        <%= @month.year %>年楽天ペイ未入金確認
        <%= link_to ">>",not_payment_payment_rakuten_pays_path(month:@month.next_year),"data-turbolinks": false, class:"link" %>
      </h2>
      <hr>
      <table>
        <tr>
          <th rowspan="2" colspan="2"></th>
          <th colspan="24">入金月</th>
        </tr>
        <tr>
          <% @period.each do |month| %>
           <th colspan="2"><%= month.strftime("%Y年%m月") %></th>
          <% end %>
        </tr>
        <tr>
          <th>成果</th>
          <th>項目</th>
          <% @period.each do |month| %>
            <th>件数</th>
            <th>手数料</th>
          <% end %>
        </tr>
        <tr class="payment-tr">
          <td class="head-td-odd" rowspan="3">審査完了</td>
          <td>成果</td>
          <% result_ary = [] %>
          <% @period.each do |month| %>
            <%# 変数 %>
              <% result_month = month.ago(2.month) %>
              <% if (2023 == month.year) && (month.month == 1) %><%# 2023年1月明細 %>
                <% start_date = Date.new(result_month.year, result_month.month,16) %>
                <% end_date = Date.new(result_month.year, result_month.next_month.month,15) %>
                <% result = @rakuten_pays.where("? >= share", Date.new(2022,12,31)).where(result_point: start_date..end_date) %>
              <% elsif (2023 == month.year) && (month.month == 2) %><%# 2023年2月明細 %>
                <% start_date = Date.new(result_month.prev_month.year, result_month.prev_month.month,16) %>
                <% end_date = Date.new(result_month.year, result_month.month,15) %>
                <% 
                  result = 
                    @rakuten_pays.where(result_point: result_month.beginning_of_month..result_month.end_of_month).or(
                      @rakuten_pays.where("share > ?", Date.new(2022,12,31)).where(result_point: start_date..end_date)
                    )
                %>
              <% elsif 2023 > result_month.year %><%# 2022年12月以前の明細 %>
                <% start_date = Date.new(result_month.year, result_month.month,16) %>
                <% end_date = Date.new(result_month.next_month.year, result_month.next_month.month,15) %>
                <% result = @rakuten_pays.where(result_point: start_date..end_date) %>
              <% else %>
                <% result = @rakuten_pays.where(result_point: result_month.beginning_of_month..result_month.end_of_month) %>
              <% end %>
            <%# /変数 %>
            <td><%= result.length %></td>
            <td><%= result.sum(:profit).to_s(:delimited) %></td>
            <% result_ary << result %>
          <% end %>
        </tr>
        <tr class="payment-tr">
          <td>明細</td>
          <% @period.each do |month| %>
          <td><%= @payments_result.where(payment: month.beginning_of_month..month.end_of_month).length %></td>
          <td><%= @payments_result.where(payment: month.beginning_of_month..month.end_of_month).sum(:price).to_s(:delimited) %></td>
          <% end %>
        </tr>
        <tr class="payment-tr foot-tr">
          <td>未入金</td>
          <% result_ary.each do |result| %>
          <td class="red"><%= result.where(payment_rakuten_pay: {id: nil}).length %></td>
          <td class="red"><%= result.where(payment_rakuten_pay: {id: nil}).sum(:profit).to_s(:delimited)
          %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
<% end %>