<div class="link-flex">
  <div class="section">
    <h2>キャッシュ明細一覧</h2>
    <p class="link-text"><%= link_to "入金精査", payment_cashes_path ,"data-turbolinks": false, class: "index-link" %></p>
    <p class="link-text"><%= link_to "dメル明細資料", payment_dmers_path ,"data-turbolinks": false, class: "index-link" %></p>
    <p class="link-text"><%= link_to "楽天ペイ明細資料", payment_rakuten_pays_path ,"data-turbolinks": false, class: "index-link" %></p>
    <p class="link-text"><%= link_to "AirPay明細資料", payment_airpays_path ,"data-turbolinks": false, class: "index-link" %></p>
    <p class="link-text"><%= link_to "PayPay明細資料", payment_paypays_path ,"data-turbolinks": false, class: "index-link" %></p>
    
  </div>
  <div class="section">
    <h2>未入金確認</h2>
    <p class="link-text"><%= link_to "dメル", not_payment_payment_dmers_path ,"data-turbolinks": false, class: "index-link" %></p>
    <p class="link-text"><%= link_to "楽天ペイ", not_payment_payment_rakuten_pays_path ,"data-turbolinks": false, class: "index-link" %></p>
    <p class="link-text"><%= link_to "AirPay", not_payment_payment_airpays_path ,"data-turbolinks": false, class: "index-link" %></p>
    <p class="link-text"><%= link_to "PayPay", not_payment_payment_paypays_path ,"data-turbolinks": false, class: "index-link" %></p>
    
  </div>
  <div class="section">
    <h2>　</h2>
  </div>
</div>