    
<div class="link-flex">
    <div class="section">
        <h2>各種一覧</h2>
        <p class="link-text"><%= link_to "新規登録", new_praness_path ,"data-turbolinks": false, class: "index-link" %></p>
        <p class="link-text"><%= link_to "一覧", pranesses_path ,"data-turbolinks": false, class: "index-link" %></p>
        <p class="link-text"><%= link_to "請求書", payment_pranesses_path,"data-turbolinks": false, class: "index-link" %></p>
    </div>
    <div class="section">
        <h2>その他詳細</h2>
        <p class="link-text"><%= link_to "獲得早見表", simplified_chart_pranesses_path,"data-turbolinks": false, class: "index-link" %></p>
        <p class="link-text"><%= link_to "年間売上", year_profit_payment_pranesses_path,"data-turbolinks": false, class: "index-link" %></p>
        <p class="link-text"><%= link_to "未入金案件一覧", not_payment_payment_pranesses_path,"data-turbolinks": false, class: "index-link" %></p>
    </div>
</div>
<hr>
    