<div class="link-flex">
  <div class="section">
    <h2>各種一覧</h2>
    <p class="link-text"><%= link_to "一覧", rakuten_pays_path ,"data-turbolinks": false, class: "index-link" %></p>
    <p class="link-text"><%= link_to "不備内訳（過去）", deficiency_rakuten_pays_path ,"data-turbolinks": false, class: "index-link" %></p>
    <p class="link-text"><%= link_to "不備内訳", deficiency_new_rakuten_pays_path ,"data-turbolinks": false, class: "index-link" %></p>
  </div>
  <div class="section">
    <h2>　</h2>
    <p class="link-text"><%= link_to "早見", simple_conf_rakuten_pays_path ,"data-turbolinks": false, class: "index-link" %></p>
    <% if current_user.position == "権限①" %>
    <p class="link-text"><%= link_to "CSV出力",index_export_rakuten_pays_path(format: :csv,month: @month), data: {confirm: "CSVを出力しますか？"}, class: "index-link",id:'download-csv' %></p>
    <% end %>
  </div>
</div>