<div class="link-flex">
  <div class="section">
    <h2><%= @month.strftime("%Y年%m月") %>利益表</h2>
    <% bases = ["中部SS", "関西SS", "関東SS", "九州SS", "2次店"] %>
    <% bases.each do |base| %>
      <p class="link-text"><%= link_to base,base_profit_results_path(base: base,month: @month),class: "index-link" %></p>
    <% end %>
    
  </div>
  <div class="section">
    <h2><%= Date.today.strftime("%m月%d日") %>：日報</h2>
    <% bases.each do |base| %>
    <p class="link-text"><%= link_to "#{base}日報", daily_report_results_path(month: Date.today,base_category: base),class: "index-link" %></p>
    <% end %>
  </div>
  <div class="section">
    <h2>その他項目</h2>
    <p class="link-text"><%= link_to "利益表", results_path(month: @month),class: "index-link" %></p>
    <p class="link-text"><%= link_to "ランキング", ranking_results_path(month: @month),class: "index-link" %></p>
    <p class="link-text"><%= link_to "利益計算用終着", gross_profit_results_path(month: @month),class: "index-link" %></p>
    <p class="link-text"><%= link_to "月間獲得早見", monthly_progress_results_path(date: @month),class: "index-link","data-turbolinks": false %></p>
    <p class="link-text"><%= link_to "拠点基準値・生産性", base_productivity_results_path,class: "index-link","data-turbolinks": false %></p>
    <p class="link-text"><%= link_to "個別基準値・生産性", person_productivity_results_path,class: "index-link","data-turbolinks": false %></p>
  </div>
</div>