<nav class="left-bar">
    <table class="table">
    <tr class="table-row">
    <td class="tdata"><%= link_to "トップページ", root_path , class: "side-link" %></td>
    </tr>
    <tr class="table-row">
      <td class="tdata"><%= link_to "dメル一覧", dmers_path, class: "side-link" %></td>
    </tr>
    <tr class="table-row">
      <td class="tdata"><%= link_to "aupay一覧", dmers_path, class: "side-link" %></td>
    </tr>
    <tr class="table-row">
      <td class="tdata"><%= link_to "paypay一覧", dmers_path, class: "side-link" %></td>
    </tr>
    <tr class="table-row">
      <td class="tdata"><%= link_to "楽天ペイ一覧", dmers_path, class: "side-link" %></td>
    </tr>
    <tr class="table-row">
      <td class="tdata"><%= link_to "ぷらねす一覧", pranesses_path, class: "side-link" %></td>
    </tr>
    <tr class="table-row">
      <td class="tdata"><%= link_to "ぷらねす在庫", stocks_path, class: "side-link" %></td>
    </tr>
    <tr class="table-row">
      <td class="tdata"><%= link_to "サミットエナジー", dmers_path, class: "side-link" %></td>
    </tr>

    </table>
  </nav>