<header>
    <header>
     <!-- ロゴ -->
     <h1 class="logo">

     </h1>
     <!-- ハンバーガーメニュー -->
     <div class="drawer">
     <!-- ハンバーガーメニューの表示・非表示を切り替えるチェックボックス -->
     <input type="checkbox" name="navToggle" id="navToggle" class="nav-toggle">
     <!-- ハンバーガーメニューのアイコン -->
     <label for="navToggle" class="btn-burger">
        <span class="icon"></span>
     </label>
<nav class="nav">
  <ul class="nav-list">
    <h3>メニュー</h3>
      <label class="header-label" id="lists1">店舗情報/商材</label>
        <ul class="dropdown" id="pull-down1" >
          <li id="lists1"><%= link_to "店舗一覧", store_props_path , class: "side-link" %></li>
          <li id="lists1"><%= link_to "dメル一覧", dmers_path, class: "side-link" %></li>
          <li id="lists1"><%= link_to "aupay一覧", aupays_path, class: "side-link" %></li>
          <li id="lists1"><%= link_to "PayPay一覧", paypays_path, class: "side-link" %></li>
          <li id="lists1"><%= link_to "楽天ペイ一覧", rakuten_pays_path, class: "side-link" %></li>
          <li id="lists1"><%= link_to "楽天フェムト", rakuten_casas_path, class: "side-link" %></li>
          <li id="lists1"><%= link_to "過去獲得店舗一覧", product_checkers_path, class: "side-link" %></li>
          <li id="lists1"><%= link_to "不備一覧", def_respondings_path, class: "side-link" %></li>
          <li id="lists1"><%= link_to "決済一覧", settlements_path, class: "side-link" %></li>
        </ul>
      <label class="header-label" id="lists2">利益表</label>
        <ul class="dropdown" id="pull-down2">
          <li id="lists2"><%= link_to "SS利益表", results_path,class: "side-link"%></li>
          <% if current_user.position == "権限①" %>
          <li id="lists2"><%= link_to "会議資料", display_periods_path,class: "side-link"%></li>
          <% end %>
          <li id="lists2"><%= link_to "評価売上結果一覧", result_sales_path,class: "side-link"%></li>
        </ul>
      <label class="header-label" id="lists3">終着報告/シフト</label>
      <ul class="dropdown" id="pull-down3">
        <li id="lists3"><%= link_to "SS終着報告", new_result_path, class: "side-link" %></li>
        <li id="lists3"><%= link_to "シフト申請/確認", shifts_path, class: "side-link" %></li>
        <li id="lists3"><%= link_to "ユーザー情報", users_path, class: "side-link" %></li>
      </ul>
  </ul>
</nav>
</header>