  <nav class="left-bar">
    <table class="side-table">
    <tr class="side-tr">
    <td class="side-thead"><%= link_to "店舗一覧", root_path , class: "side-link" %></td>
    </tr>
    
    <tr class="side-tr">
      <td class="side-thead"><%= link_to "dメル一覧", dmers_path, class: "side-link" %></td>

    </tr>
    <tr class="side-tr">
      <td class="side-thead"><%= link_to "aupay一覧", aupays_path, class: "side-link" %></td>
    </tr>

    <tr class="side-tr">
      <td class="side-thead"><%= link_to "paypay一覧", paypays_path, class: "side-link" %></td>
    </tr>

    <tr class="side-tr">
      <td class="side-thead"><%= link_to "ぷらねす一覧", pranesses_path, class: "side-link" %></td>
    </tr>

    <tr class="side-tr">
      <td class="side-thead"><%= link_to "ぷらねす在庫", stocks_path, class: "side-link" %></td>
    </tr>

    <tr class="side-tr">
      <td class="side-thead"><%= link_to "サミットエナジー一覧", summits_path, class: "side-link" %></td>
    </tr>

    <tr class="side-tr">
      <td class="side-thead"><%= link_to "フードパンダ一覧", pandas_path, class: "side-link" %></td>
    </tr>

    <tr class="side-tr">
      <td class="side-thead"><%= link_to "楽天カーサ一覧", rakuten_casas_path, class: "side-link" %></td>
    </tr>

    <tr class="side-tr">
      <td class="side-thead"><%= link_to "SS利益表", results_path, class: "side-link" %></td>
    </tr>

    <tr class="side-tr">
      <td class="side-thead"><%= link_to "SS客対応", trouble_sses_path, class: "side-link" %></td>
    </tr>

    <tr class="side-tr">
      <td class="side-thead"><%= link_to "N利益表", n_results_path, class: "side-link" %></td>
    </tr>
    <tr class="side-tr">
      <td class="side-thead"><%= link_to "N客対応", trouble_ns_path, class: "side-link" %></td>
    </tr>

    <tr class="side-tr">
      <td class="side-thead"><%= link_to "シフト", shifts_path, class: "side-link" %></td>
    </tr>

    </table>
  </nav>