    <div class="result-flex "><%# 切り替え %>
      <div class="btn-form">
        <button class="display-btn">
          <%= link_to "サミット一覧", summits_path(month: @month),"data-turbolinks": false, class: "reset-link" %>
        </button>
        <button class="display-btn">
          <%= link_to "獲得詳細", person_data_result_summits_path(user_id: @user.id,month: @month),"data-turbolinks": false, class: "reset-link" %>
        </button>
        <button class="display-btn">
          <%= link_to "利益表", result_summit_path(@user.id,month: @month),"data-turbolinks": false, class: "reset-link" %>
        </button>
        <button class="display-btn">
          <%= link_to "廃止案件一覧", repeal_data_result_summits_path(user_id: @user.id,month: @month),"data-turbolinks": false, class: "reset-link" %>
        </button>
        <button class="display-btn">
          <%= link_to "SWエラー", sw_error_data_result_summits_path(user_id: @user.id,month: @month),"data-turbolinks": false, class: "reset-link" %>
        </button>
        <button class="display-btn">
          <%= link_to "支払遅延一覧", error_history_data_result_summits_path(user_id: @user.id,month: @month),"data-turbolinks": false, class: "reset-link" %>
        </button>
        <button class="display-btn">
          <%= link_to "対応履歴", customer_prop_data_result_summits_path(user_id: @user.id,month: @month),"data-turbolinks": false, class: "reset-link" %>
        </button>
        <button class="display-btn">
          <%= link_to "明細一覧", billing_data_result_summits_path(user_id: @user.id,month: @month),"data-turbolinks": false, class: "reset-link" %>
        </button>
        <button class="display-btn">
          <%= link_to "売上予測", prediction_data_result_summits_path(user_id: @user.id,month: @month),"data-turbolinks": false, class: "reset-link" %>
        </button>
      </div>
    </div><%# /切り替え %>