<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
    <div><%#日々進捗の区切り%>
      <h2 class="date-title">日々進捗（<%= @start_date %>〜<%= @end_date %>）</h2>
      <div class="
        content
        scrollbar
        scrollbar-thumb-rounded
        scrollbar-thumb-gray
      "><%# スクロールバー %>
        <table class="date-tb">
          <thead class="date-thead">
            <tr>
            <%# 大枠基準値（見出し） %>
                <th class="date-th"><span class="date-span">日付</span></th>
                <th class="date-th"><span class="date-span">曜日</span></th>
                <th class="date-th"><span class="date-span">予定シフト</span></th>
                <th class="date-th"><span class="date-span">消化シフト</span></th>
                <th class="date-th"><span class="date-span">帯同</span></th>
                <th class="date-th"><span class="date-span">エリア</span></th>
                <th class="date-th"><span class="date-span">売上（終着で入力）</span></th>
                <th class="date-th"><span class="date-span">売上（商材情報から）</span></th>
                <th class="date-th"><span class="date-span">合計訪問</span></th>
                <th class="date-th"><span class="date-span">合計対応</span></th>
                <th class="date-th"><span class="date-span">合計対面</span></th>
                <th class="date-th"><span class="date-span">合計フル</span></th>
                <th class="date-th"><span class="date-span">合計成約</span></th>
                <th class="date-th"><span class="date-span">前半訪問</span></th>
                <th class="date-th"><span class="date-span">前半対応</span></th>
                <th class="date-th"><span class="date-span">前半対面</span></th>
                <th class="date-th"><span class="date-span">前半フル</span></th>
                <th class="date-th"><span class="date-span">前半成約</span></th>
                <th class="date-th"><span class="date-span">後半訪問</span></th>
                <th class="date-th"><span class="date-span">後半対応</span></th>
                <th class="date-th"><span class="date-span">後半対面</span></th>
                <th class="date-th"><span class="date-span">後半フル</span></th>
                <th class="date-th"><span class="date-span">後半成約</span></th>
            <%# 店舗別基準値（見出し） %>
              <th class="date-th head-th"><span class="date-span">店舗別基準値</span></th>
              <th class="date-th"><span class="date-span">喫茶・カフェ訪問</span></th>
              <th class="date-th"><span class="date-span">喫茶・カフェ獲得</span></th>
              <th class="date-th"><span class="date-span">その他飲食訪問</span></th>
              <th class="date-th"><span class="date-span">その他飲食獲得</span></th>
              <th class="date-th"><span class="date-span">車屋訪問</span></th>
              <th class="date-th"><span class="date-span">車屋獲得</span></th>
              <th class="date-th"><span class="date-span">その他小売訪問</span></th>
              <th class="date-th"><span class="date-span">その他小売獲得</span></th>
              <th class="date-th"><span class="date-span">理容・美容訪問</span></th>
              <th class="date-th"><span class="date-span">理容・美容獲得</span></th>
              <th class="date-th"><span class="date-span">整体・鍼灸訪問</span></th>
              <th class="date-th"><span class="date-span">整体・鍼灸獲得</span></th>
              <th class="date-th"><span class="date-span">その他サービス訪問</span></th>
              <th class="date-th"><span class="date-span">その他サービス獲得</span></th>
                <th class="head-th date-th"><span class="date-span">切り返し<span class="date-span"></th>
                <th class="date-th"><span class="date-span">０１：どういうこと？対面<span class="date-span"></th>
                <th class="date-th"><span class="date-span">０１：どういうこと？フル</span></th>
                <th class="date-th"><span class="date-span">０１：どういうこと？成約</span></th>
                <th class="date-th"><span class="date-span">０２：君は誰？協会？対面<span class="date-span"></th>
                <th class="date-th"><span class="date-span">０２：君は誰？協会？フル</span></th>
                <th class="date-th"><span class="date-span">０２：君は誰？協会？成約</span></th>
                <th class="date-th"><span class="date-span">０３：もらうだけ？対面<span class="date-span"></th>
                <th class="date-th"><span class="date-span">０３：もらうだけ？フル</span></th>
                <th class="date-th"><span class="date-span">０３：もらうだけ？成約</span></th>
                <th class="date-th"><span class="date-span">０４：PayPayのみ対面<span class="date-span"></th>
                <th class="date-th"><span class="date-span">０４：PayPayのみフル</span></th>
                <th class="date-th"><span class="date-span">０４：PayPayのみ成約</span></th>
                <th class="date-th"><span class="date-span">０５：AirPayのみ対面<span class="date-span"></th>
                <th class="date-th"><span class="date-span">０５：AirPayのみフル</span></th>
                <th class="date-th"><span class="date-span">０５：AirPayのみ成約</span></th>
                <th class="date-th"><span class="date-span">０６：カードのみ対面<span class="date-span"></th>
                <th class="date-th"><span class="date-span">０６：カードのみフル</span></th>
                <th class="date-th"><span class="date-span">０６：カードのみ成約</span></th>
                <th class="date-th"><span class="date-span">０７：先延ばし対面<span class="date-span"></th>
                <th class="date-th"><span class="date-span">０７：先延ばしフル</span></th>
                <th class="date-th"><span class="date-span">０７：先延ばし成約</span></th>
                <th class="date-th"><span class="date-span">０８：現金のみ対面<span class="date-span"></th>
                <th class="date-th"><span class="date-span">０８：現金のみフル</span></th>
                <th class="date-th"><span class="date-span">０８：現金のみ成約</span></th>
                <th class="date-th"><span class="date-span">０９：忙しい対面<span class="date-span"></th>
                <th class="date-th"><span class="date-span">０９：忙しいフル</span></th>
                <th class="date-th"><span class="date-span">０９：忙しい成約</span></th>
                <th class="date-th"><span class="date-span">１０：面倒くさい対面<span class="date-span"></th>
                <th class="date-th"><span class="date-span">１０：面倒くさいフル</span></th>
                <th class="date-th"><span class="date-span">１０：面倒くさい成約</span></th>
                <th class="date-th"><span class="date-span">１１：情報不足対面<span class="date-span"></th>
                <th class="date-th"><span class="date-span">１１：情報不足フル</span></th>
                <th class="date-th"><span class="date-span">１１：情報不足成約</span></th>
                <th class="date-th"><span class="date-span">１２：ペロ対面<span class="date-span"></th>
                <th class="date-th"><span class="date-span">１２：ペロフル</span></th>
                <th class="date-th"><span class="date-span">１２：ペロ成約</span></th>
                <th class="date-th"><span class="date-span">１３：その他対面<span class="date-span"></th>
                <th class="date-th"><span class="date-span">１３：その他フル</span></th>
                <th class="date-th"><span class="date-span">１３：その他成約</span></th>
                <th class="date-th"><span class="date-span">１８：UsenPay対面<span class="date-span"></th>
                <th class="date-th"><span class="date-span">１８：UsenPayフル</span></th>
                <th class="date-th"><span class="date-span">１８：UsenPay成約</span></th>
                <th class="date-th"><span class="date-span">１９：AirPay導入訪問<span class="date-span"></th>
                <th class="date-th"><span class="date-span">１９：AirPay導入対面</span></th>
                <th class="date-th"><span class="date-span">１９：AirPay導入成約</span></th>
                <th class="date-th"><span class="date-span">２０：出前館フル</span></th>
                <th class="date-th"><span class="date-span">２０：出前館成約</span></th>
                <th class="head-th date-th"><span class="date-span">時間別基準値</span></th>
                <th class="date-th"><span class="date-span">10時訪問</span></th>
                <th class="date-th"><span class="date-span">10時成約</span></th>
                <th class="date-th"><span class="date-span">11時訪問</span></th>
                <th class="date-th"><span class="date-span">11時成約</span></th>
                <th class="date-th"><span class="date-span">12時訪問</span></th>
                <th class="date-th"><span class="date-span">12時成約</span></th>
                <th class="date-th"><span class="date-span">13時訪問</span></th>
                <th class="date-th"><span class="date-span">13時成約</span></th>
                <th class="date-th"><span class="date-span">14時訪問</span></th>
                <th class="date-th"><span class="date-span">14時成約</span></th>
                <th class="date-th"><span class="date-span">15時訪問</span></th>
                <th class="date-th"><span class="date-span">15時成約</span></th>
                <th class="date-th"><span class="date-span">16時訪問</span></th>
                <th class="date-th"><span class="date-span">16時成約</span></th>
                <th class="date-th"><span class="date-span">17時訪問</span></th>
                <th class="date-th"><span class="date-span">17時成約</span></th>
                <th class="date-th"><span class="date-span">18時訪問</span></th>
                <th class="date-th"><span class="date-span">18時成約</span></th>
                <th class="date-th"><span class="date-span">19時訪問</span></th>
                <th class="date-th"><span class="date-span">19時成約</span></th>
                <th class="date-th"><span class="date-span">獲得商材</span></th>
                <th class="date-th" colspan=""><span class="date-span">切り返し入力/編集</span></th>
                <th class="date-th"><span class="date-span">削除</span></th>
            </tr>
          </thead>
          <tbody id="">
          <% @date_period.each do |d| %>
            <tr class="date-tr">
            <%#日付%>
              <th class="date-th"><span class="date-span"><%= d.month %>月<%= d.day %>日</span></th>
              <% if days[d.wday] == "日" %>
              <th class="date-th" style="color:red;"><span class="date-span"><%= days[d.wday] %></span></th>
              <% else %>
              <th class="date-th"><span class="date-span"><%= days[d.wday] %></span></th>
              <% end %>
              <%# その日の予定シフト %>
              <% shift = Shift.find_by(user_id: @user.id,start_time: d) %>
              <% if shift.present? %>
              <td class="date-td"><span class="date-span"><%= link_to shift.shift.slice(-2,2), edit_shift_path(shift.id), class: "link" %></span></td>
              <% else %>
              <td class="date-td"><span class="date-span"><%= link_to "未申請", new_shift_path(user_id: @user.id, date: d),class: "link"  %></span></td>
              <% end %>
              <%# その日の消化シフト %>
              <% result = Result.includes(:result_cash).find_by(user_id: @user.id,date: d)  %>
              <% if result.present? %><%# 消化シフトが入力されている場合 %>
              <td class="date-td race-border"><span class="date-span"><%= link_to result.shift.slice(-2,2), edit_result_path(result.id),class: "link" %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.ojt.name rescue "" %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.area rescue "" %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.profit.round().to_s(:delimited) rescue 0 %></td><%# 営業予想 %>
                <% 
                  date_valuation =  
                    @dmers.where(date: d).sum(:valuation_new) + 
                    @dmers_slmt.where(picture: d).sum(:valuation_settlement) +
                    @dmers_slmt.where(settlement_second: d).sum(:valuation_second_settlement) +
                    @aupays_slmt.where(picture: d).sum(:valuation_settlement) +
                    @rakuten_pays.where(date: d).sum(:valuation) + 
                    @paypays.where(date: d).sum(:valuation) +
                    (@airpays.where(date: d).length * @airpay_price) +
                    @demaekan.where(date: d).sum(:valuation) +
                    @other_products.where(date: d).sum(:valuation) +
                    @itss.where(date: d).sum(:valuation)
                %>
              <td class="date-td race-border"><span class="date-span"><%= date_valuation %></td><%# 実際の売上 %>
            <%# 合計 %>
              <td class="date-td"><span class="date-span"><%= result.first_total_visit.to_i + result.latter_total_visit.to_i %></span></td>
              <td class="date-td"><span class="date-span"><%= result.first_visit.to_i + result.latter_visit.to_i %></td>
              <td class="date-td"><span class="date-span"><%= result.first_interview.to_i + result.latter_interview.to_i %></span></td>
              <td class="date-td"><span class="date-span"><%= result.first_full_talk.to_i + result.latter_full_talk.to_i %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.first_get.to_i + result.latter_get.to_i %></td>
            <%#前半%>
              <td class="date-td"><span class="date-span"><%= result.first_total_visit.to_i %></span></td>
              <td class="date-td"><span class="date-span"><%= result.first_visit.to_i  %></td>
              <td class="date-td"><span class="date-span"><%= result.first_interview.to_i  %></span></td>
              <td class="date-td"><span class="date-span"><%= result.first_full_talk.to_i  %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.first_get.to_i %></td>
            <%# 後半 %>
              <td class="date-td"><span class="date-span"><%= result.latter_total_visit.to_i %></span></td>
              <td class="date-td"><span class="date-span"><%= result.latter_visit.to_i %></span></td>
              <td class="date-td"><span class="date-span"><%= result.latter_interview.to_i %></span></td>
              <td class="date-td"><span class="date-span"><%= result.latter_full_talk.to_i %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.latter_get.to_i %></span></td>
            <%# 店舗別基準値(値) %>
              <th class="th-blank"></th>
              <%# 喫茶・カフェ %>
              <td class="date-td"><span class="date-span"><%= result.cafe_visit.to_i %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.cafe_get.to_i %></span></td>
              <%#その他飲食%>
              <td class="date-td"><span class="date-span"><%= result.other_food_visit.to_i %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.other_food_get.to_i %></span></td>
              <%#車屋%>
              <td class="date-td"><span class="date-span"><%= result.car_visit.to_i %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.car_get.to_i %></span></td>
              <%#その他小売%>
              <td class="date-td"><span class="date-span"><%= result.other_retail_visit.to_i %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.other_retail_get.to_i %></span></td>
              <%#理容・美容%>
              <td class="date-td"><span class="date-span"><%= result.hair_salon_visit.to_i %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.hair_salon_get.to_i %></span></td>
              <%#整体・鍼灸%>
              <td class="date-td"><span class="date-span"><%= result.manipulative_visit.to_i %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.manipulative_get.to_i %></span></td>
              <%#その他・サービス%>
              <td class="date-td"><span class="date-span"><%= result.other_service_visit.to_i %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.other_service_get.to_i %></span></td>
            <%# キャッシュレス切り返し %>
              <th class="th-blank"></th>
              <%#どういうこと？%>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_01.to_i rescue 0 %></span></td>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_01.to_i rescue 0 %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.result_cash.out_get_01.to_i rescue 0 %></span></td>
              <%#君は誰？%>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_02.to_i rescue 0 %></span></td>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_02.to_i rescue 0 %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.result_cash.out_get_02.to_i rescue 0 %></span></td>
              <%#もうらだけでいいの？%>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_03.to_i rescue 0 %></span></td>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_03.to_i rescue 0 %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.result_cash.out_get_03.to_i rescue 0 %></span></td>
              <%#PayPayのみ%>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_04.to_i rescue 0 %></span></td>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_04.to_i rescue 0 %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.result_cash.out_get_04.to_i rescue 0 %></span></td>
              <%#AirPayのみ%>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_05.to_i rescue 0 %></span></td>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_05.to_i rescue 0 %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.result_cash.out_get_05.to_i rescue 0 %></span></td>
              <%#カードのみ%>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_06.to_i rescue 0 %></span></td>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_06.to_i rescue 0 %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.result_cash.out_get_06.to_i rescue 0 %></span></td>
              <%#先延ばし%>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_07.to_i rescue 0 %></span></td>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_07.to_i rescue 0 %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.result_cash.out_get_07.to_i rescue 0 %></span></td>
              <%#現金のみ%>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_08.to_i rescue 0 %></span></td>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_08.to_i rescue 0 %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.result_cash.out_get_08.to_i rescue 0 %></span></td>
              <%#忙しい%>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_09.to_i rescue 0 %></span></td>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_09.to_i rescue 0 %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.result_cash.out_get_09.to_i rescue 0 %></span></td>
              <%#面倒くさい%>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_10.to_i rescue 0 %></span></td>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_10.to_i rescue 0 %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.result_cash.out_get_10.to_i rescue 0 %></span></td>
              <%#情報不足%>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_11.to_i rescue 0 %></span></td>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_11.to_i rescue 0 %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.result_cash.out_get_11.to_i rescue 0 %></span></td>
              <%#ペロ%>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_12.to_i rescue 0 %></span></td>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_12.to_i rescue 0 %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.result_cash.out_get_12.to_i rescue 0 %></span></td>
              <%#その他%>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_13.to_i rescue 0 %></span></td>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_13.to_i rescue 0 %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.result_cash.out_get_13.to_i rescue 0 %></td>
              <%#USENPAY基準値%>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_18.to_i rescue 0 %></span></td>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_18.to_i rescue 0 %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.result_cash.out_get_18.to_i rescue 0 %></td>
              <%#全導入AirPay入り%>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_19.to_i rescue 0 %></span></td>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_19.to_i rescue 0 %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.result_cash.out_get_19.to_i rescue 0 %></td>
              <%#出前館%>
              <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_20.to_i rescue 0 %></span></td>
              <td class="date-td race-border"><span class="date-span"><%= result.result_cash.out_get_20.to_i rescue 0 %></td>
            <%# 時間別基準値 %>
            <th class="blank-th"></th>
            <td class="date-td"><span class="date-span">
              <%= result.visit10.to_i %>
            </span></td>
            <td class="date-td race-border"><span class="date-span">
              <%= result.get10.to_i %>
            </span></td>
            <td class="date-td"><span class="date-span">
              <%= result.visit11.to_i %>
            </span></td>
            <td class="date-td race-border"><span class="date-span">
              <%= result.get11.to_i %>
            </span></td>
            <td class="date-td"><span class="date-span">
              <%= result.visit12.to_i %>
            </span></td>
            <td class="date-td race-border"><span class="date-span">
              <%= result.get12.to_i %>
            </span></td>
            <td class="date-td"><span class="date-span">
              <%= result.visit13.to_i %>
            </span></td>
            <td class="date-td race-border"><span class="date-span">
              <%= result.get13.to_i %>
            </span></td>
            <td class="date-td"><span class="date-span">
              <%= result.visit14.to_i %>
            </span></td>
            <td class="date-td race-border"><span class="date-span">
              <%= result.get14.to_i %>
            </span></td>
            <td class="date-td"><span class="date-span">
              <%= result.visit15.to_i %>
            </span></td>
            <td class="date-td race-border"><span class="date-span">
              <%= result.get15.to_i %>
            </span></td>
            <td class="date-td"><span class="date-span">
              <%= result.visit16.to_i %>
            </span></td>
            <td class="date-td race-border"><span class="date-span">
              <%= result.get16.to_i %>
            </span></td>
            <td class="date-td"><span class="date-span">
              <%= result.visit17.to_i %>
            </span></td>
            <td class="date-td race-border"><span class="date-span">
              <%= result.get17.to_i %>
            </span></td>
            <td class="date-td"><span class="date-span">
              <%= result.visit18.to_i %>
            </span></td>
            <td class="date-td race-border"><span class="date-span">
              <%= result.get18.to_i %>
            </span></td>
            <td class="date-td"><span class="date-span">
              <%= result.visit19.to_i %>
            </span></td>
            <td class="date-td race-border"><span class="date-span">
              <%= result.get19.to_i %>
            </span></td>
            <%# /時間別基準値 %>
            <%# 獲得商材 %>
            <td class="date-td race-border"><span class="date-span">
              <% if result.result_cash.present? %>
                <% if result.result_cash.dmer.present? %>
                  dメル<%= result.result_cash.dmer %><br>
                <% end %>
                <% if result.result_cash.aupay.present? %>
                  auPay<%= result.result_cash.aupay %><br>
                <% end %>
                <% if result.result_cash.paypay.present? %>
                  PayPay<%= result.result_cash.paypay %><br>
                <% end %>
                <% if result.result_cash.rakuten_pay.present? %>
                  楽天ペイ<%= result.result_cash.rakuten_pay %><br>
                <% end %>
                <% if result.result_cash.airpay.present? %>
                  AirPay<%= result.result_cash.airpay %><br>
                <% end %>
                <% if result.result_cash.other_product1.present? %>
                  UsenPay<%= result.result_cash.other_product1 %><br>
                <% end %>
              <% end %>
              <% dmer_slmt = Dmer.where(user_id: result.user_id).where(settlement: result.date).length %>
              <% aupay_slmt = Aupay.where(user_id: result.user_id).where(settlement: result.date).length %>
              <% if dmer_slmt != 0 %>
                dメル決済<%= dmer_slmt %><br>
              <% end %>
              <% if aupay_slmt != 0 %>
                au決済<%= aupay_slmt %><br>
              <% end %>
            </span></td>
            <%# 編集や削除 %>
            <% if result.shift == "キャッシュレス新規" || result.shift == "キャッシュレス決済" %>
              <% if result.result_cash.present? %>
              <td class="date-td race-border" ><span class="date-span"><%= link_to "切り返し編集", edit_result_cash_path(result.result_cash.id),class: "link" rescue "error" %></span></td>
              <% else %>
              <td class="date-td race-border" ><span class="date-span"><%= link_to "切り返し入力", result_result_cashes_new_path(result.id),class: "link" rescue "error" %></span></td>
              <% end %>
            <% else %>
            <td class="total-td race-border"></td>
            <% end %>
            <td class="date-td race-border"><span class="date-span"><%= link_to "削除", result_path(result.id),method: :delete,data: {confirm: "#{result.date.strftime("%Y年%m月%d日")}の終着を削除してもよろしいですか？"},class: "link" %></span></td>
            <% else %><%# 消化シフトが未入力の場合 %>
                <td class="date-td"><span class="date-span"><%= link_to "未申請", new_result_path(user_id: @user.id, date: d),class: "link"  %></span></td>
                <% 19.times do %><%# 消化シフトより下 %>
                <td class="date-td"><span class="date-span"></span></td>
                <% end %>
                <th class="th-blank"></th>
                <% 14.times do %><%# 店舗別基準値 %>
                <td class="date-td"><span class="date-span"></span></td>
                <% end %>
                <th class="th-blank"></th>
                <% 47.times do %><%# 切り返し %>
                <td class="date-td"><span class="date-span"></span></td>
                <% end %>
                <th class="th-blank"></th>
                <% 20.times do %><%# 時間別基準値 %>
                <td class="date-td"><span class="date-span"></span></td>
                <% end %>
                <% 3.times do %>
                <td class="date-td"><span class="date-span"></span></td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div><%# スクロールバー %>
    </div><%#/日々進捗の区切り%>
