<div><%# 個人切り返し %>
  <h2>切り返し</h2>
  <table class="total-tb">
    <thead>
    <tr>
      <th class="total-th">項目</th>
      <th class="total-th">内訳</th>
      <th class="total-th">合計</th>
      <th class="total-th">平均</th>
      <th class="total-th">成約率</th>
    </tr>
    </thead>
    <tbody>
    <% cnt = 1 %>
    <% @out_ary.each do |out_name| %>
      <% if 10 > cnt %>
      <tr>
      <th rowspan="3" class="total-th"><%= out_name %></th>
        <th class="total-th">対面</th>
        <td class="total-td"><%= @results.sum("out_interview_0#{cnt}") rescue 0 %></td>
        <td class="total-td"><%= (@results.sum("out_interview_0#{cnt}").to_f / @shift_digestion_new).round(2) rescue 0 %></td>
        <td class="total-td">-</td>
      </tr>
      <tr>
        <th class="total-th">フル</th>
        <td class="total-td"><%= @results.sum("out_full_talk_0#{cnt}") rescue 0 %></td>
        <td class="total-td"><%= (@results.sum("out_full_talk_0#{cnt}").to_f / @shift_digestion_new).round(2) rescue 0 %></td>
        <td class="total-td"><%= number_to_percentage(@results.sum("out_full_talk_0#{cnt}").to_f / @results.sum("out_interview_0#{cnt}").to_f * 100,precision: 1) rescue 0 %></td>
      </tr>
      <tr>
        <th class="total-th">成約</th>
        <td class="total-td"><%= @results.sum("out_get_0#{cnt}") rescue 0 %></td>
        <td class="total-td"><%= (@results.sum("out_get_0#{cnt}").to_f/ @shift_digestion_new).round(2) rescue 0 %></td>
        <td class="total-td"><%= number_to_percentage(@results.sum("out_get_0#{cnt}").to_f / @results.sum("out_full_talk_0#{cnt}").to_f * 100,precision: 1) rescue 0 %></td>
      </tr>
      <% else %>
      <tr>
      <th rowspan="3" class="total-th"><%= out_name %></th>
        <th class="total-th">対面</th>
        <td class="total-td"><%= @results.sum("out_interview_#{cnt}") rescue 0 %></td>
        <td class="total-td"><%= (@results.sum("out_interview_#{cnt}").to_f / @shift_digestion_new).round(2) rescue 0 %></td>
        <td class="total-td">-</td>
      </tr>
      <tr>
        <th class="total-th">フル</th>
        <td class="total-td"><%= @results.sum("out_full_talk_#{cnt}") rescue 0 %></td>
        <td class="total-td"><%= (@results.sum("out_full_talk_#{cnt}").to_f / @shift_digestion_new).round(2) rescue 0 %></td>
        <td class="total-td"><%= number_to_percentage(@results.sum("out_full_talk_#{cnt}").to_f / @results.sum("out_interview_#{cnt}").to_f * 100,precision: 1) rescue 0 %></td>
      </tr>
      <tr>
        <th class="total-th">成約</th>
        <td class="total-td"><%= @results.sum("out_get_#{cnt}") rescue 0 %></td>
        <td class="total-td"><%= (@results.sum("out_get_#{cnt}").to_f/ @shift_digestion_new).round(2) rescue 0 %></td>
        <td class="total-td"><%= number_to_percentage(@results.sum("out_get_#{cnt}").to_f / @results.sum("out_full_talk_#{cnt}").to_f * 100,precision: 1) rescue 0 %></td>
      </tr>
      <% end %>
      <% cnt += 1 %>
    <% end %>
    <tbody>
  </table>
</div>
