<% if @results.where(shift: "キャッシュレス新規").present? %>
  <% @weeks_hash.each do |weeks| %><%# 前月と当月のデータを取り出す %>
    <div><%# 週間基準値 %>
      <h2>週間基準値（<%= weeks[:date] %>）</h2>
      <p class="caution-text">※こちらの情報に増減は含まれておりません</p>
      <p class="caution-text">※こちらの生産性は不備・NGも件に含まれております。</p>
      <% if weeks[:results].where(shift: "キャッシュレス新規").present? %>
        <table>
          <thead>
            <tr><%# 項目 %>
              <th class="total-th" colspan="2">期間</th>
              <th class="total-th">消化シフト</th>
              <th class="total-th">売上</th>
              <th class="total-th">平均</th>
              <th class="total-th">dメル生産性</th>
              <th class="total-th">AirPay生産性</th>
              <th class="total-th" colspan="2">aオーナー不在</th>
              <th class="total-th" colspan="2">b対面</th>
              <th class="total-th" colspan="2">cフル</th>
              <th class="total-th" colspan="2">d1情報聞いた</th>
              <th class="total-th" colspan="2">d2認証キー回収</th>
              <th class="total-th" colspan="2">e成約</th>
            </tr><%# /項目 %>
          </thead>
          <tbody>
            <%# 目標変数 %>
              <% goal_valuations = 1200000 %>
              <% goal_ave = 67500 %>
              <% goal_dmer = 2.5 %>
              <% goal_airpay = 2.5 %>
              <%# 基準値 %>
              <% goal_total_visit = 20 %>
              <% goal_visit = 10 %>
              <% goal_visit_rate = 50 %>
              <% goal_interview = 7 %>
              <% goal_interview_rate = 70 %>
              <% goal_full_talk = 5 %>
              <% goal_full_talk_rate = 70 %>
              <% goal_full_talk2 = 3.5 %>
              <% goal_full_talk2_rate = 70 %>
              <% goal_get = 2.8 %>
              <% goal_get_rate = 40 %>
            <%# 死守変数 %>
              <% dg_valuations = 800000 %>
              <% dg_ave = 40500 %>
              <% dg_dmer = 1.5 %>
              <% dg_airpay = 1.5 %>
              <%# 基準値 %>
              <% dg_total_visit = 20 %>
              <% dg_visit = 10 %>
              <% dg_visit_rate = 50 %>
              <% dg_interview = 6 %>
              <% dg_interview_rate = 60 %>
              <% dg_full_talk = 3.6 %>
              <% dg_full_talk_rate = 60 %>
              <% dg_full_talk2 = 2.1 %>
              <% dg_full_talk2_rate = 60 %>
              <% dg_get = 1.8 %>
              <% dg_get_rate = 30 %>
            <tr><%# 目標 %>
              <td colspan="2" class="total-td" style="color:blue;">目標</td>
              <td class="total-td"></td>
              <td class="total-td" style="color:blue;"><%= goal_valuations.to_s(:delimited)  %></td>
              <td class="total-td" style="color:blue;"><%= goal_ave.to_s(:delimited)  %></td>
              <td class="total-td" style="color:blue;"><%= goal_dmer.to_s(:delimited)  %></td>
              <td class="total-td" style="color:blue;"><%= goal_airpay.to_s(:delimited)  %></td>
              <td class="total-td" colspan="2" style="color:blue;"><%= goal_total_visit.to_s(:delimited)  %></td>
              <td class="total-td" colspan="" style="color:blue;"><%= goal_visit.to_s(:delimited)  %></td>
              <td class="total-td" style="color:blue;"><%= goal_visit_rate  %>%</td>
              <td class="total-td" style="color:blue;"><%= goal_interview  %></td>
              <td class="total-td" style="color:blue;"><%= goal_interview_rate  %>%</td>
              <td class="total-td" style="color:blue;"><%= goal_full_talk %></td>
              <td class="total-td" style="color:blue;"><%= goal_full_talk_rate  %>%</td>
              <td class="total-td" style="color:blue;"><%= goal_full_talk2 %></td>
              <td class="total-td" style="color:blue;"><%= goal_full_talk2_rate  %>%</td>
              <td class="total-td" style="color:blue;"><%= goal_get %></td>
              <td class="total-td" style="color:blue;"><%= goal_get_rate %>%</td>
            </tr><%# /目標 %>
            <tr><%# 死守 %>
              <td colspan="2" class="total-td" style="color:red;">死守</td>
              <td class="total-td" ></td>
              <td class="total-td" style="color:red;"><%= dg_valuations.to_s(:delimited)  %></td>
              <td class="total-td" style="color:red;"><%= dg_ave.to_s(:delimited)  %></td>
              <td class="total-td" style="color:red;"><%= dg_dmer.to_s(:delimited)  %></td>
              <td class="total-td" style="color:red;"><%= dg_airpay.to_s(:delimited)  %></td>
              <td class="total-td" colspan="2" style="color:red;"><%= dg_total_visit.to_s(:delimited)  %></td>
              <td class="total-td" colspan="" style="color:red;"><%= dg_visit.to_s(:delimited)  %></td>
              <td class="total-td" style="color:red;"><%= dg_visit_rate  %>%</td>
              <td class="total-td" style="color:red;"><%= dg_interview  %></td>
              <td class="total-td" style="color:red;"><%= dg_interview_rate  %>%</td>
              <td class="total-td" style="color:red;"><%= dg_full_talk %></td>
              <td class="total-td" style="color:red;"><%= dg_full_talk_rate  %>%</td>
              <td class="total-td" style="color:red;"><%= dg_full_talk2 %></td>
              <td class="total-td" style="color:red;"><%= dg_full_talk2_rate  %>%</td>
              <td class="total-td" style="color:red;"><%= dg_get %></td>
              <td class="total-td" style="color:red;"><%= dg_get_rate %>%</td>
            </tr><%# /死守 %>
            <%# 商材（週間の評価売上変数） %>
              <% week_cnt = 1 %>
              <% week_sum_shift = 0 %>
              <% dmer_sum_len_week = 0 %>
              <% airpay_sum_len_week = 0 %>
              <% week_sum_valuations = 0 %>
              <%# 基準値 %>
              <% week_sum_total_visit = 0 %>
              <% week_sum_visit = 0 %>
              <% week_sum_interview = 0 %>
              <% week_sum_full_talk = 0 %>
              <% week_sum_full_talk2 = 0 %>
              <% week_sum_get = 0 %>
            <% weeks[:list].each do |week| %>
              <% if week.where(shift: "キャッシュレス新規").empty? %>
              <% else %>
              <% week_valuations = 0 %>
              <% week_ave = 0 %>
              <%# dメル新規獲得数と売上 %>
                <% dmer_len_week = week.includes(:result_cash).sum(:dmer) %>
                <% dmer_valuations_week = dmer_len_week * @dmer1_price rescue 0 %>
                <% week_valuations += dmer_valuations_week %>
                <% dmer_sum_len_week += dmer_len_week %>
              <%# AirPay %>
                <% airpay_len_week = week.includes(:result_cash).sum(:airpay) %>
                <% airpay_sum_len_week += airpay_len_week %>
                <% airpay_valuations_week = airpay_len_week * @airpay_price rescue 0 %>
                <% week_valuations += airpay_valuations_week %>
              <%# シフト %>
                <% week_shift = week.where(shift: "キャッシュレス新規").length rescue 0 %>
              <%# 基準値 %>
                <% week_total_visit = week.sum(:first_total_visit) + week.sum(:latter_total_visit) rescue 0 %>
                <% week_visit = week.sum(:first_visit) + week.sum(:latter_visit) rescue 0 %>
                <% week_interview = week.sum(:first_interview) + week.sum(:latter_interview) rescue 0 %>
                <% week_full_talk = week.sum(:first_full_talk) + week.sum(:latter_full_talk) rescue 0 %>
                <% week_full_talk2 = week.sum(:first_full_talk2) + week.sum(:latter_full_talk2) rescue 0 %>
                <% week_get = week.sum(:first_get) + week.sum(:latter_get) %>
              <%# 合計 %>
                <% week_sum_shift += week_shift %>
                <% week_sum_valuations += week_valuations %>
                <%# 基準値 %>
                <% week_sum_total_visit += week_total_visit %>
                <% week_sum_visit += week_visit %>
                <% week_sum_interview += week_interview %>
                <% week_sum_full_talk += week_full_talk %>
                <% week_sum_full_talk2 += week_full_talk2 %>
                <% week_sum_get += week_get %>
              <%# 平均 %>
              <% if week_shift == 0 %>
                <% week_total_visit_ave = 0 %>
                <% week_visit_ave = 0 %>
                <% week_interview_ave = 0 %>
                <% week_full_talk_ave = 0 %>
                <% week_full_talk2_ave = 0 %>
                <% week_get_ave = 0 %>
              <% else %>
                <% week_total_visit_ave = week_total_visit.to_f / week_shift rescue 0 %>
                <% week_visit_ave = week_visit.to_f / week_shift rescue 0 %>
                <% week_interview_ave = week_interview.to_f / week_shift rescue 0 %>
                <% week_full_talk_ave = week_full_talk.to_f / week_shift rescue 0 %>
                <% week_full_talk2_ave = week_full_talk2.to_f / week_shift rescue 0 %>
                <% week_get_ave = week_get.to_f / week_shift rescue 0 %>
              <% end %>
              <tr><%# 週間基準値ボディー %>
                  <td class="total-td"><%= week_cnt %>週目</td>
                  <td class="total-td">（<%= week.minimum(:date).strftime('%m/%d') rescue "不明" %>-<%= week.maximum(:date).strftime('%m/%d') rescue "不明" %>）</td>
                  <td class="total-td"><%= week_shift %></td>
                  <td class="total-td"><%= week_valuations.to_s(:delimited) %></td>
                  <% if week_valuations / week_shift >= goal_ave %>
                  <td class="total-td" style="color:blue;"><%= (week_valuations / week_shift).round().to_s(:delimited) rescue "NaN" %></td>
                  <% elsif dg_ave > week_valuations / week_shift %>
                  <td class="total-td" style="color:red;"><%= (week_valuations / week_shift).round().to_s(:delimited) rescue "NaN" %></td>
                  <% else %>
                  <td class="total-td"><%= (week_valuations / week_shift).round().to_s(:delimited) rescue "NaN" %></td>
                  <% end %>
                  <%# dメル %>
                  <% dmer_len_week_ave = dmer_len_week.to_f / week_shift rescue 0 %>
                  <% if dmer_len_week_ave >= goal_dmer %>
                  <td class="total-td" style="color:blue;"><%= (dmer_len_week_ave).round(1) rescue "NaN" %></td>
                  <% elsif dg_dmer > dmer_len_week_ave %>
                  <td class="total-td" style="color:red;"><%= (dmer_len_week_ave).round(1) rescue "NaN" %></td>
                  <% else %>
                  <td class="total-td"><%= (dmer_len_week_ave).round(1) rescue "NaN" %></td>
                  <% end %>
                  <%# AirPay %>
                  <% if airpay_len_week.to_f / week_shift >= goal_airpay %>
                  <td class="total-td" style="color:blue;"><%= (airpay_len_week.to_f / week_shift).round(1) rescue "NaN" %></td>
                  <% elsif dg_airpay > airpay_len_week.to_f / week_shift %>
                  <td class="total-td" style="color:red;"><%= (airpay_len_week.to_f / week_shift).round(1) rescue "NaN" %></td>
                  <% else %>
                  <td class="total-td" ><%= (airpay_len_week.to_f / week_shift).round(1) rescue "NaN" %></td>
                  <% end %>
                  <%# 基準値（aオーナー不在） %>
                  <% if week_total_visit_ave >= goal_visit %>
                  <td class="total-td" colspan="2" style="color:blue;"><%= week_total_visit_ave.round(1).to_s(:delimited) rescue "NaN" %></td>
                  <% elsif dg_visit > week_total_visit_ave %>
                  <td class="total-td" colspan="2" style="color:red;"><%= week_total_visit_ave.round(1).to_s(:delimited) rescue "NaN" %></td>
                  <% else %>
                  <td class="total-td" colspan="2"><%= week_total_visit_ave.round(1).to_s(:delimited) rescue "NaN" %></td>
                  <% end %>
                  <%# 基準値（d対面） %>
                  <% if week_visit_ave >= goal_visit %>
                  <td class="total-td" style="color:blue;"><%= week_visit_ave.round(1) rescue "NaN" %></td>
                  <% elsif dg_visit > week_visit_ave %>
                  <td class="total-td" style="color:red;"><%= week_visit_ave.round(1) rescue "NaN" %></td>
                  <% else %>
                  <td class="total-td"><%= week_visit_ave.round(1) rescue "NaN" %></td>
                  <% end %>
                  <%# 対面率 %>
                  <% visit_per = week_visit_ave / week_total_visit_ave * 100 rescue 0 %>
                  <% if visit_per.present? && (visit_per >= goal_visit) %>
                  <td class="total-td" style="color: blue;"><%= number_to_percentage(visit_per, precision: 0) rescue "NaN" %></td>
                  <% elsif dg_visit_rate > (visit_per) %>
                  <td class="total-td" style="color: red;"><%= number_to_percentage(visit_per, precision: 0) rescue 0 %></td>
                  <% else %>
                  <td class="total-td"><%= number_to_percentage(visit_per, precision: 0) rescue 0 %></td>
                  <% end %>
                  <%# 基準値（cフル） %>
                  <% if week_interview_ave >= goal_interview %>
                  <td class="total-td" style="color:blue;"><%= week_interview_ave.round(1) rescue "NaN" %></td>
                  <% elsif dg_interview > week_interview_ave %>
                  <td class="total-td" style="color:red;"><%= week_interview_ave.round(1) rescue "NaN" %></td>
                  <% else %>
                  <td class="total-td"><%= week_interview_ave.round(1) rescue "NaN" %></td>
                  <% end %>
                  <%# フル率 %>
                  <% interview_per = week_interview_ave / week_visit_ave * 100 rescue 0 %>
                  <% if interview_per.present? && (interview_per >= goal_interview_rate) %>
                  <td class="total-td" style="color: blue;"><%= number_to_percentage(interview_per, precision: 0) rescue "NaN" %></td>
                  <% elsif dg_interview_rate > (interview_per) %>
                  <td class="total-td" style="color: red;"><%= number_to_percentage(interview_per, precision: 0) rescue 0 %></td>
                  <% else %>
                  <td class="total-td"><%= number_to_percentage(interview_per, precision: 0) rescue 0 %></td>
                  <% end %>
                  <%# 基準値（d1情報聞いた） %>
                  <% if week_full_talk_ave >= goal_full_talk %>
                  <td class="total-td" style="color:blue;"><%= week_full_talk_ave.round(1) rescue 0 %></td>
                  <% elsif dg_interview > week_full_talk_ave %>
                  <td class="total-td" style="color:red;"><%= week_full_talk_ave.round(1) rescue 0 %></td>
                  <% else %>
                  <td class="total-td"><%= week_full_talk_ave.round(1) rescue 0 %></td>
                  <% end %>
                  <%# 情報聞いた率 %>
                  <% full_talk_per = week_full_talk_ave / week_interview_ave * 100 rescue 0 %>
                  <% if full_talk_per.present? && (full_talk_per >= goal_full_talk_rate) %>
                  <td class="total-td" style="color:blue;"><%= number_to_percentage(full_talk_per, precision: 0) rescue 0 %></td>
                  <% elsif full_talk_per.present? && (dg_full_talk_rate > full_talk_per)  %>
                  <td class="total-td" style="color:red;"><%= number_to_percentage(full_talk_per, precision: 0) rescue 0 %></td>
                  <% else %>
                  <td class="total-td"><%= number_to_percentage(full_talk_per, precision: 0) rescue 0 %></td>
                  <% end %>
                  <%# 基準値（d2認証キー回収) %>
                  <% if week_full_talk2_ave >= goal_full_talk %>
                  <td class="total-td" style="color:blue;"><%= week_full_talk2_ave.round(1) rescue 0 %></td>
                  <% elsif dg_interview > week_full_talk2_ave %>
                  <td class="total-td" style="color:red;"><%= week_full_talk2_ave.round(1) rescue 0 %></td>
                  <% else %>
                  <td class="total-td"><%= week_full_talk2_ave.round(1) rescue 0 %></td>
                  <% end %>
                  <%# 認証キー回収率 %>
                  <% full_talk2_per = week_full_talk2_ave / week_full_talk_ave * 100 rescue 0 %>
                  <% if full_talk2_per.present? && (full_talk2_per >= goal_full_talk2_rate) %>
                  <td class="total-td" style="color:blue;"><%= number_to_percentage(full_talk2_per, precision: 0) rescue 0 %></td>
                  <% elsif full_talk2_per.present? && (dg_full_talk2_rate > full_talk2_per)  %>
                  <td class="total-td" style="color:red;"><%= number_to_percentage(full_talk2_per, precision: 0) rescue 0 %></td>
                  <% else %>
                  <td class="total-td"><%= number_to_percentage(full_talk2_per, precision: 0) rescue 0 %></td>
                  <% end %>
                  <%# 基準値（成約） %>
                  <% if week_get >= goal_get %>
                  <td class="total-td" style="color:blue;"><%= week_get_ave.round(1) rescue "NaN" %></td>
                  <% elsif dg_get > week_get %>
                  <td class="total-td" style="color:red;"><%= week_get_ave.round(1) rescue "NaN" %></td>
                  <% else %>
                  <td class="total-td"><%= week_get_ave.round(1) rescue "NaN" %></td>
                  <% end %>
                  <%# 成約率 %>
                  <% get_per = week_get_ave / week_interview_ave * 100 rescue 0 %>
                  <% if get_per >= goal_get_rate %>
                  <td class="total-td" style="color:blue;"><%= number_to_percentage(get_per, precision: 0) rescue "NaN" %></td>
                  <% elsif dg_get_rate > get_per %>
                  <td class="total-td" style="color:red;"><%= number_to_percentage(get_per, precision: 0) rescue "NaN" %></td>
                  <% else %>
                  <td class="total-td"><%= number_to_percentage(get_per, precision: 0) rescue "NaN" %></td>
                  <% end %>
                </tr><%# 週間基準値ボディー %>
                  <% week_cnt += 1 %>
              <% end %>  
            <% end %>
              <%# 合計変数 %>
              <% week_sum_total_visit_ave = week_sum_total_visit.to_f / week_sum_shift rescue 0 %>
              <% week_sum_visit_ave = week_sum_visit.to_f / week_sum_shift rescue 0 %>
              <% week_sum_interview_ave = week_sum_interview.to_f / week_sum_shift rescue 0 %>
              <% week_sum_full_talk_ave = week_sum_full_talk.to_f / week_sum_shift rescue 0 %>
              <% week_sum_full_talk2_ave = week_sum_full_talk2.to_f / week_sum_shift rescue 0 %>
              <% week_sum_get_ave = week_sum_get.to_f / week_sum_shift %>
              <tr><%# 合計基準値ボディー %>
                <td class="total-td" colspan="2">合計</td>
                <td class="total-td"><%= week_sum_shift %></td>
                <td class="total-td"><%= week_sum_valuations.to_s(:delimited) %></td>
                <%# 売上 %>
                <% if week_sum_valuations / week_sum_shift >= goal_ave %>
                <td class="total-td" style="color:blue;"><%= (week_sum_valuations / week_sum_shift).round(1) rescue "NaN" %></td>
                <% elsif dg_ave > week_sum_valuations / week_sum_shift %>
                <td class="total-td" style="color:red;"><%= (week_sum_valuations / week_sum_shift).round(1) rescue "NaN" %></td>
                <% else %>
                <td class="total-td" ><%= (week_sum_valuations / week_sum_shift).round(1) rescue "NaN" %></td>
                <% end %>
                <%# dメル %>
                <% if dmer_sum_len_week.to_f / week_sum_shift >= goal_dmer %>
                <td class="total-td" style="color:blue;"><%= (dmer_sum_len_week.to_f / week_sum_shift).round(1) rescue "NaN" %></td>
                <% elsif dg_dmer > dmer_sum_len_week.to_f / week_sum_shift %>
                <td class="total-td" style="color:red;"><%= (dmer_sum_len_week.to_f / week_sum_shift).round(1) rescue "NaN" %></td>
                <% else %>
                <td class="total-td"><%= (dmer_sum_len_week.to_f / week_sum_shift).round(1) rescue "NaN" %></td>
                <% end %>
                <%# AirPay %>
                <% if airpay_sum_len_week.to_f / week_sum_shift >= goal_airpay %>
                <td class="total-td" style="color: blue;"><%= (airpay_sum_len_week.to_f / week_sum_shift).round(1) rescue "NaN" %></td>
                <% elsif dg_airpay > airpay_sum_len_week.to_f / week_sum_shift %>
                <td class="total-td" style="color: red;"><%= (airpay_sum_len_week.to_f / week_sum_shift).round(1) rescue "NaN" %></td>
                <% else %>
                <td class="total-td"><%= (airpay_sum_len_week.to_f / week_sum_shift).round(1) rescue "NaN" %></td>
                <% end %>
                <%# 基準値（オーナー不在） %>
                <% if week_sum_total_visit_ave >= goal_total_visit %>
                <td class="total-td"  colspan="2" style="color: blue;"><%= week_sum_total_visit_ave.round(1) rescue "NaN" %></td>
                <% elsif dg_visit > week_sum_total_visit_ave %>
                <td class="total-td"  colspan="2" style="color: red;"><%= week_sum_total_visit_ave.round(1) rescue "NaN" %></td>
                <% else %>
                <td class="total-td" colspan="2"><%= week_sum_total_visit_ave.round(1) rescue "NaN" %></td>
                <% end %>
                <%# 基準値（対面） %>
                <% if week_sum_visit_ave >= goal_visit %>
                <td class="total-td" style="color: blue;"><%= week_sum_visit_ave.round(1) rescue "NaN" %></td>
                <% elsif dg_visit > week_sum_visit_ave.round(1) %>
                <td class="total-td" style="color: red;"><%= week_sum_visit_ave.round(1) rescue "NaN" %></td>
                <% else %>
                <td class="total-td"><%= week_sum_visit_ave.round(1) rescue "NaN" %></td>
                <% end %>

                <% if week_sum_visit_ave / week_sum_total_visit_ave * 100 >= goal_interview_rate %>
                <td class="total-td" style="color:blue;"><%= number_to_percentage(week_sum_visit_ave / week_sum_total_visit_ave * 100, precision: 0) rescue "NaN" %></td>
                <% elsif dg_interview_rate > week_sum_visit_ave / week_sum_total_visit_ave * 100 %>
                <td class="total-td" style="color:red;"><%= number_to_percentage(week_sum_visit_ave / week_sum_total_visit_ave * 100, precision: 0) rescue "NaN" %></td>
                <% else %>
                <td class="total-td"><%= number_to_percentage(week_sum_visit_ave / week_sum_total_visit_ave * 100, precision: 0) rescue "NaN" %></td>
                <% end %>
                <%# 基準値（フル） %>
                <% if week_sum_interview_ave >= goal_interview %>
                <td class="total-td" style="color: blue;"><%= week_sum_interview_ave.round(1) rescue "NaN" %></td>
                <% elsif dg_interview > week_sum_interview_ave.round(1) %>
                <td class="total-td" style="color: red;"><%= week_sum_interview_ave.round(1) rescue "NaN" %></td>
                <% else %>
                <td class="total-td"><%= week_sum_interview_ave.round(1) rescue "NaN" %></td>
                <% end %>
                <%# 基準値（フル率） %>
                <% if week_sum_interview_ave / week_sum_visit_ave * 100 >= goal_interview_rate %>
                <td class="total-td" style="color:blue;"><%= number_to_percentage(week_sum_interview_ave / week_sum_visit_ave * 100, precision: 0) rescue "NaN" %></td>
                <% elsif dg_interview_rate > week_sum_interview_ave / week_sum_visit_ave * 100 %>
                <td class="total-td" style="color:red;"><%= number_to_percentage(week_sum_interview_ave / week_sum_visit_ave * 100, precision: 0) rescue "NaN" %></td>
                <% else %>
                <td class="total-td"><%= number_to_percentage(week_sum_interview_ave / week_sum_visit_ave * 100, precision: 0) rescue "NaN" %></td>
                <% end %>
                <%# 基準値(d1情報聞いた) %>
                <% if week_sum_full_talk_ave >= goal_full_talk %>
                <td class="total-td" style="color: blue;"><%= week_sum_full_talk_ave.round(1) rescue "NaN" %></td>
                <% elsif dg_full_talk > week_sum_full_talk_ave %>
                <td class="total-td" style="color: red;"><%= week_sum_full_talk_ave.round(1) rescue "NaN" %></td>
                <% else %>
                <td class="total-td"><%= week_sum_full_talk_ave.round(1) rescue 0 %></td>
                <% end %>
                <%# 基準値(d1情報聞いた率) %>
                <% week_hikaku = week_sum_full_talk_ave / week_sum_interview_ave.to_f * 100 rescue 0 %>
                <% if week_hikaku.present? && (week_hikaku >= goal_full_talk_rate) %>        
                <td class="total-td" style="color:blue;"><%= number_to_percentage((week_sum_full_talk_ave / week_sum_interview_ave).to_f * 100, precision: 0) rescue "NaN" %></td>
                <% elsif dg_full_talk_rate > week_sum_full_talk_ave / week_sum_interview_ave.to_f * 100 %>
                <td class="total-td" style="color:red;"><%= number_to_percentage((week_sum_full_talk_ave / week_sum_interview_ave).to_f * 100, precision: 0) rescue "NaN" %></td>
                <% else %>
                <td class="total-td"><%= number_to_percentage((week_sum_full_talk_ave / week_sum_interview_ave).to_f * 100, precision: 0) rescue "NaN" %></td>
                <% end %> 
                <%# 基準値(d2認証キー回収) %>
                <% if week_sum_full_talk2_ave >= goal_full_talk2 %>
                <td class="total-td" style="color: blue;"><%= week_sum_full_talk2_ave.round(1) rescue "NaN" %></td>
                <% elsif dg_full_talk > week_sum_full_talk2_ave %>
                <td class="total-td" style="color: red;"><%= week_sum_full_talk2_ave.round(1) rescue "NaN" %></td>
                <% else %>
                <td class="total-td"><%= week_sum_full_talk2_ave.round(1) rescue 0 %></td>
                <% end %>
                <%# 基準値(d1認証キー回収率) %>
                <% week_hikaku = week_sum_full_talk2_ave / week_sum_full_talk_ave.to_f * 100 rescue 0 %>
                <% if week_hikaku.present? && (week_hikaku >= goal_full_talk_rate) %>        
                <td class="total-td" style="color:blue;"><%= number_to_percentage((week_sum_full_talk2_ave / week_sum_full_talk_ave).to_f * 100, precision: 0) rescue "NaN" %></td>
                <% elsif dg_full_talk_rate > week_sum_full_talk2_ave / week_sum_full_talk_ave.to_f * 100 %>
                <td class="total-td" style="color:red;"><%= number_to_percentage((week_sum_full_talk2_ave / week_sum_full_talk_ave).to_f * 100, precision: 0) rescue "NaN" %></td>
                <% else %>
                <td class="total-td"><%= number_to_percentage((week_sum_full_talk2_ave / week_sum_full_talk_ave).to_f * 100, precision: 0) rescue "NaN" %></td>
                <% end %> 
                <%# 基準値(e成約) %>
                <% if week_sum_get_ave >= goal_get %>
                <td class="total-td" style="color: blue;"><%= week_sum_get_ave.round(1) rescue "NaN" %></td>
                <% elsif dg_get > week_sum_get_ave %>
                <td class="total-td" style="color: red;"><%= week_sum_get_ave.round(1) rescue "NaN" %></td>
                <% else %>
                <td class="total-td"><%= week_sum_get_ave.round(1) rescue "NaN" %></td>
                <% end %>
                <%# 基準値(e成約率) %>
                <% if week_sum_get_ave / week_sum_interview_ave * 100 >= goal_get_rate %>
                <td class="total-td" style="color: blue;"><%= number_to_percentage(week_sum_get_ave / week_sum_interview_ave * 100, precision: 0) rescue "NaN" %></td>
                <% elsif dg_get_rate > week_sum_get_ave / week_sum_interview_ave * 100 %>
                <td class="total-td" style="color: red;"><%= number_to_percentage(week_sum_get_ave / week_sum_interview_ave * 100, precision: 0) rescue "NaN" %></td>
                <% else %>
                <td class="total-td"><%= number_to_percentage(week_sum_get_ave / week_sum_interview_ave * 100, precision: 0) rescue "NaN" %></td>
                <% end %>
              </tr><%# /合計基準値ボディー %>
            </tbody>
        </table>
      <% else %>
        <p class="caution-text">※新規シフトの終着が入力されておりません。</p>
      <% end %>
    </div><%# /週間基準値 %>
  <% end %><%# /前月と当月のデータを取り出す %>
<% else %>
  <p class="caution-text">※新規シフトの終着が入力されておりません。</p>
<% end %>
