<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>週間基準値・生産性確認</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;"><%# 右側ヘッダーより下の全体 %>
  <%# サイドメニュー %>
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div class="main"><%# 右側のメイン情報 %>
    <div data-scope-path="shares/index"><%# 利益表関連のメニュー %>
      <%= render "shared/result_links" %>
    </div><%# /利益表関連のメニュー %>
    <hr>
    <div data-scope-path="results/base_productivity"><%# 生産性基準値 %>
      <div class="nav-text" style="color: red;"><%= alert %></div><%# エラー時のアラート %>
      <div><%# 検索 %>
        <%= form_with url: base_productivity_results_path, local: true, method: :get do |f| %>
            <p class="nav-text red">※こちらから確認したい範囲と拠点を選択してください。</p>
            <table class="s-tb">
              <tr class="">
                <th class="s-th">項目</th>
                <th class="s-th">拠点/個人</th>
                <th class="s-th">ユーザー名</th>
                <th class="s-th" colspan="2">日付</th>
              </tr>
              <tr class="">
                <th class="s-th">検索値</th>
                <td class="s-td"><%= f.select :s_base ,{
                  "全拠点": "","中部SS": "中部SS","関西SS": "関西SS","関東SS": "関東SS", "九州SS": "九州SS", "2次店": "2次店"
                },{selected: params[:s_base]},{class:"s-input"} %></td>
                <td class="s-td"><%= f.text_field :s_username ,{class:"s-input"} %></td>
                <td class="s-td"><%= f.date_field :s_start_date, value: params[:s_start_date],class:"s-input" %>~</td>
                <td class="s-td"><%= f.date_field :s_end_date, value: params[:s_end_date],class:"s-input" %></td>
              </tr>
              <tr class="">
                <th class="s-th">比較値</th>
                <td class="s-td"><%= f.select :t_base ,{
                  "なし": "なし","全拠点": "","中部SS": "中部SS","関西SS": "関西SS","関東SS": "関東SS", "九州SS": "九州SS", "2次店": "2次店"
                },{selected: params[:t_base]},{class:"s-input"} %></td>
                <td class="s-td"><%= f.text_field :t_username ,{class:"s-input"} %></td>
                <td class="s-td"><%= f.date_field :t_start_date, value: params[:t_start_date],class:"s-input" %>~</td>
                <td class="s-td"><%= f.date_field :t_end_date, value: params[:t_end_date],class:"s-input" %></td>
              </tr>
              <tr>
                <td class="no-slid-td" colspan="3"></td>
                <td class="s-submit"><%= f.submit "絞込", data: {disable_with: "絞込中"},class: "s-btn" %></td>
                <td class="s-reset"><%= link_to "リセット",base_productivity_results_path,class:"reset-link","data-turbolinks": false %></td>
              </tr>
            </table>
        <% end %>
      </div><%# /検索 %>
      <% if (@s_start_date.present?) && (@s_end_date.present?) && (@s_end_date >= @s_start_date)  %><%# 検索値が正常に入力されていることを確認 %>
        <% if @title.present? and @t_title.blank? %><%# 拠点情報が入力されていることの確認 %>
          <h2><%= @title %>（<%= @s_start_date %>〜<%= @s_end_date %>）</h2>
        <% elsif @t_title.present? %><%# ない場合全拠点として対応 %>
          <p class="nav-text">
            <%= @title %>（<%= @s_start_date %>〜<%= @s_end_date %>）
          </p>
          <p class="nav-text">
            <%= @t_title %>（<%= @t_start_date %>〜<%= @t_end_date %>）
          </p>
        <% end %><%# /拠点情報が入力されていることの確認 %>
        <hr>
        <%# 基準値 %>
        <p class="nav-text">◆基準値</p>
        <table>
          <thead>
            <tr>
              <th colspan="3">基本情報</th>
              <th colspan="11">基準値</th>
            </tr>
            <tr>
              <th>人員</th>
              <th>消化シフト数</th>
              <th>オーナー不在</th>
              <th>対面</th>
              <th>対面率</th>
              <th>フル数</th>
              <th>フル率</th>
              <th>情報聞いた数</th>
              <th>情報聞いた率</th>
              <th>認証キー回収</th>
              <th>認証キー回収率</th>
              <th>成約数</th>
              <th>成約率</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @results.group(:user_id).length %></td>
              <td><%= @results.length %></td>
              <%# オーナー不在 %>
              <td><%= total_visit_ave = ((@results.sum(:first_total_visit) + @results.sum(:latter_total_visit)).to_f / @results.length).round(1) rescue 0 %></td>
              <%# 対面 %>
              <td><%= visit_ave = ((@results.sum(:first_visit) + @results.sum(:latter_visit)).to_f / @results.length).round(1) rescue 0 %></td>
              <td><%= (visit_ave / total_visit_ave * 100).round() rescue 0 %>%</td>
              <%# フル %>
              <td><%= interview_ave = ((@results.sum(:first_interview) + @results.sum(:latter_interview)).to_f / @results.length).round(1) rescue 0 %></td>
              <td><%= (interview_ave / visit_ave * 100).round() rescue 0 %>%</td>
              <%# 情報聞いた:d1 %>
              <td><%= full_talk_ave =  ((@results.sum(:first_full_talk) + @results.sum(:latter_full_talk)).to_f / @results.length).round(1) rescue 0 %></td>
              <td><%= (full_talk_ave / interview_ave * 100).round() rescue 0 %>%</td>
              <%# 認証キー回収:d2 %>
              <td><%= full_talk2_ave =  ((@results.sum(:first_full_talk2) + @results.sum(:latter_full_talk2)).to_f / @results.length).round(1) rescue 0 %></td>
              <td><%= (full_talk2_ave / full_talk_ave * 100).round() rescue 0 %>%</td>
              <%# 成約 %>
              <td><%= get_ave = ((@results.sum(:first_get) + @results.sum(:latter_get)).to_f / @results.length).round(1) rescue 0 %></td>
              <td><%= (get_ave / interview_ave * 100).round() rescue 0 %>%</td>
            </tr>
          </tbody>
        </table>
        <%# /基準値 %>

        <% out_cnt = 0 %>
        <% @type_results_list.each do |type_results_ary| %>
          <% if out_cnt == 0 %>
            <% baseline_title = "◆切り返し" %>
            <% digestive_shift = @results.length %>
            <% type_out_class = "" %>
            <% out_cnt += 1 %>
          <% else %>
            <% baseline_title = "◆切り返し(比較値)" %>
            <% type_out_class = "baseline-th" %>
            <% digestive_shift = @t_results.length %>
          <% end %>
          <div style="display: flex;"><%# 切り返し %>
            <% @type_ary.zip(type_results_ary) do |type, type_results| %>
              <div>
                <p class="nav-text"><%= baseline_title %>: <%= type %></p>
                <table>
                  <thead>
                    <tr>
                      <th class="<%= type_out_class %>" colspan="">項目</th>
                      <th class="<%= type_out_class %>" colspan="">内容</th>
                      <th class="<%= type_out_class %>" colspan="">合計</th>
                      <th class="<%= type_out_class %>" colspan="">平均</th>
                      <th class="<%= type_out_class %>" colspan="">成約率</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @out_ary.zip(@out_num) do |out_name, out_num| %>
                      <tr>
                        <th class="<%= type_out_class %>" rowspan="3"><%= out_name %></th>
                        <th class="<%= type_out_class %>" rowspan="">対面</th>
                        <td><%= type_results.sum("out_interview_#{out_num}") rescue 0 %></td>
                        <td><%= (type_results.sum("out_interview_#{out_num}").to_f / digestive_shift).round(2) rescue 0 %></td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <th class="<%= type_out_class %>" rowspan="">フル</th>
                        <td><%= type_results.sum("out_full_talk_#{out_num}") rescue 0 %></td>
                        <td><%= (type_results.sum("out_full_talk_#{out_num}").to_f / digestive_shift).round(2) rescue 0 %></td>
                        <td><%= number_to_percentage(type_results.sum("out_full_talk_#{out_num}").to_f / type_results.sum("out_interview_#{out_num}").to_f * 100,precision: 1) rescue 0 %></td>
                      </tr>
                      <tr>
                        <th class="<%= type_out_class %>" rowspan="">成約</th>
                        <td><%= type_results.sum("out_get_#{out_num}") rescue 0 %></td>
                        <td><%= (type_results.sum("out_get_#{out_num}").to_f/ digestive_shift).round(2) rescue 0 %></td>
                        <td><%= number_to_percentage(type_results.sum("out_get_#{out_num}").to_f / type_results.sum("out_full_talk_#{out_num}").to_f * 100,precision: 1) rescue 0 %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>
          </div><%# /切り返し %>
        <% end %>

        <% visit_type_cnt = 0 %>
        <% @result_types_list.each do |result_types| %>
          <% if visit_type_cnt == 0 %>
            <% baseline_title = "◆訪問基準値" %>
            <% type_out_class = "" %>
            <% digestive_shift = @results.length %>
            <% visit_type_cnt += 1 %>
          <% else %>
            <% baseline_title = "◆訪問基準値(比較値)" %>
            <% type_out_class = "baseline-th" %>
            <% digestive_shift = @t_results.length %>
          <% end %>
          <div style="display: flex;"><%# 訪問別基準値 %>
            <% @type_ary.each do |visit_type| %>
              <div>
                <p class="nav-text"><%= baseline_title %> : <%= visit_type %></p>
                <% target_deal = result_types.where(result_type: {visit_type: visit_type}) %>
                <% sum_a = target_deal.where(deal_attributes: {key: "a"}).sum("val") rescue 0 %>
                <% sum_b = target_deal.where(deal_attributes: {key: "b"}).sum("val") rescue 0 %>
                <% sum_c = target_deal.where(deal_attributes: {key: "c"}).sum("val") rescue 0 %>
                <% sum_d1 = target_deal.where(deal_attributes: {key: "d1"}).sum("val") rescue 0 %>
                <% sum_d2 = target_deal.where(deal_attributes: {key: "d2"}).sum("val") rescue 0 %>
                <% sum_e = target_deal.where(deal_attributes: {key: "e"}).sum("val") rescue 0 %>
                <table>
                  <thead>
                    <tr>
                      <th class="<%= type_out_class %>" colspan="">項目</th>
                      <th class="<%= type_out_class %>" colspan="">合計</th>
                      <th class="<%= type_out_class %>" colspan="">平均</th>
                      <th class="<%= type_out_class %>" colspan="">成約率</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="<%= type_out_class %>" rowspan="">オーナー不在:a</th>
                      <td><%= sum_a rescue 0 %></td>
                      <td><%= (sum_a.to_f / digestive_shift).round(2) rescue 0 %></td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th class="<%= type_out_class %>" rowspan="">対面:b</th>
                      <td><%= sum_b rescue 0 %></td>
                      <td><%= (sum_b.to_f / digestive_shift).round(2) rescue 0 %></td>
                      <td><%= number_to_percentage(sum_b.to_f / sum_a.to_f * 100,precision: 1) rescue 0 %></td>
                    </tr>
                    <tr>
                      <th class="<%= type_out_class %>" rowspan="">フル:c</th>
                      <td><%= sum_c rescue 0 %></td>
                      <td><%= (sum_c.to_f / digestive_shift).round(2) rescue 0 %></td>
                      <td><%= number_to_percentage(sum_c.to_f / sum_b.to_f * 100,precision: 1) rescue 0 %></td>
                    </tr>
                    <tr>
                      <th class="<%= type_out_class %>" rowspan="">情報聞いた:d1</th>
                      <td><%= sum_d1 rescue 0 %></td>
                      <td><%= (sum_d1.to_f / digestive_shift).round(2) rescue 0 %></td>
                      <td><%= number_to_percentage(sum_d1.to_f / sum_c.to_f * 100,precision: 1) rescue 0 %></td>
                    </tr>
                    <tr>
                      <th class="<%= type_out_class %>" rowspan="">認証キー回収:d2</th>
                      <td><%= sum_d2 rescue 0 %></td>
                      <td><%= (sum_d2.to_f / digestive_shift).round(2) rescue 0 %></td>
                      <td><%= number_to_percentage(sum_d2.to_f / sum_c.to_f * 100,precision: 1) rescue 0 %></td>
                    </tr>
                    <tr>
                      <th class="<%= type_out_class %>" rowspan="">成約:e</th>
                      <td><%= sum_e rescue 0 %></td>
                      <td><%= (sum_e.to_f / digestive_shift).round(2) rescue 0 %></td>
                      <td><%= number_to_percentage(sum_e.to_f / sum_d2.to_f * 100,precision: 1) rescue 0 %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            <% end %>
          </div>
        <% end %>

        <% visit_type_cnt = 0 %>
        <% @store_type_hash_list.each do |store_type_hash| %>
          <% if visit_type_cnt == 0 %>
            <% store_title = "◆店舗別基準値" %>
            <% visit_type_cnt += 1 %>
            <% digestive_shift = @results.length %>
            <% type_out_class = "" %>
          <% else %>
            <% store_title = "◆店舗別基準値(比較値)" %>
            <% digestive_shift = @t_results.length %>
            <% type_out_class = "baseline-th" %>
          <% end %>
          <div style="display: flex;"><%# 店舗別基準値 %>
            <div>
              <p class="nav-text"><%= store_title %></p>
              <table>
                <thead>
                  <tr>
                    <th class="<%= type_out_class %>" colspan="">項目</th>
                    <th class="<%= type_out_class %>" colspan="">内容</th>
                    <th class="<%= type_out_class %>" colspan="">合計</th>
                    <th class="<%= type_out_class %>" colspan="">平均</th>
                    <th class="<%= type_out_class %>" colspan="">成約率</th>
                  </tr>
                </thead>
                <tbody>
                  <% store_type_hash.each do |industry_name, visit_get_list| %>
                  <tr>
                    <th class="<%= type_out_class %>" rowspan="2"><%= industry_name %></th>
                    <th class="<%= type_out_class %>" rowspan="">訪問</th>
                    <td><%= visit_get_list[0] rescue 0 %></td>
                    <td><%= (visit_get_list[0].to_f / digestive_shift).round(2) rescue 0 %></td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th class="<%= type_out_class %>" rowspan="">成約</th>
                    <td><%= visit_get_list[1] rescue 0 %></td>
                    <td><%= (visit_get_list[1].to_f / digestive_shift).round(2) rescue 0 %></td>
                    <td><%= number_to_percentage(visit_get_list[1].to_f / visit_get_list[0].to_f * 100,precision: 1) rescue 0 %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div><%# /店舗別基準値 %>
        <% end %>
      <% end %><%# /検索値が正常に入力されていることを確認 %>
    </div><%# /生産性基準値 %>
  </div><%# /右側のメイン情報 %>
</div><%# /右側ヘッダーより下の全体 %>