<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>週間基準値・生産性確認</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div class="main">
    <div data-scope-path="shares/index">
      <%= render "shared/result_links" %>
    </div>
    <hr>
    <div data-scope-path="results/index">
      <div class="nav-text" style="color: red;"><%= alert %></div>
      <div><%# 検索 %>
        <%= form_with url: base_productivity_results_path, local: true, method: :get do |f| %>
            <p class="nav-text red">※こちらから確認したい範囲と拠点を選択してください。</p>
            <table class="s-tb">
              <tr class="">
                <th class="s-th">拠点</th>
                <th class="s-th" colspan="2">日付</th>
                <th class="s-th" colspan="2"></th>
              </tr>
              <tr class="">
                <td class="s-td"><%= f.select :search_base ,{
                  "全拠点": "","中部SS": "中部SS","関西SS": "関西SS","関東SS": "関東SS", "九州SS": "九州SS", "2次店": "2次店"
                },{selected: params[:search_base]},{class:"s-input"} %></td>
                <td class="s-td"><%= f.date_field :s_date, value: params[:s_date],class:"s-input" %>~</td>
                <td class="s-td"><%= f.date_field :e_date, value: params[:e_date],class:"s-input" %></td>
                <td class="s-submit"><%= f.submit "絞込", data: {disable_with: "絞込中"},class: "s-btn" %></td>
                <td class="s-reset"><%= link_to "リセット",base_productivity_results_path,class:"reset-link","data-turbolinks": false %></td>
              </tr>
            </table>
        <% end %>
      </div><%# 検索 %>
      <% if (@s_date.present?) && (@e_date.present?) && (@e_date >= @s_date)  %>
        <% if @search_base.present? %>
          <h2>検索拠点：<%= @search_base %>（<%= @s_date %>〜<%= @e_date %>）</h2>
        <% else %>
          <h2>検索拠点：全拠点（<%= @s_date %>〜<%= @e_date %>）</h2>
        <% end %>
        <p class="nav-text">◆基準値</p>
        <table>
          <thead>
            <tr>
              <th colspan="3">基本情報</th>
              <th colspan="11">基準値</th>
            </tr>
            <tr>
              <th>人員</th>
              <th>消化シフト数</th>
              <th>オーナー不在</th>
              <th>対面</th>
              <th>対面率</th>
              <th>フル数</th>
              <th>フル率</th>
              <th>情報聞いた数</th>
              <th>情報聞いた率</th>
              <th>認証キー回収</th>
              <th>認証キー回収率</th>
              <th>成約数</th>
              <th>成約率</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= @results.group(:user_id).length %></td>
              <td><%= @results.length %></td>
              <%# 訪問 %>
              <td><%= total_visit_ave = ((@results.sum(:first_total_visit) + @results.sum(:latter_total_visit)).to_f / @results.length).round(1) rescue 0 %></td>
              <%# 応答 %>
              <td><%= visit_ave = ((@results.sum(:first_visit) + @results.sum(:latter_visit)).to_f / @results.length).round(1) rescue 0 %></td>
              <td><%= (visit_ave / total_visit_ave * 100).round() rescue 0 %>%</td>
              <%# 対面 %>
              <td><%= interview_ave = ((@results.sum(:first_interview) + @results.sum(:latter_interview)).to_f / @results.length).round(1) rescue 0 %></td>
              <td><%= (interview_ave / visit_ave * 100).round() rescue 0 %>%</td>
              <%# フル %>
              <td><%= full_talk_ave =  ((@results.sum(:first_full_talk) + @results.sum(:latter_full_talk)).to_f / @results.length).round(1) rescue 0 %></td>
              <td><%= (full_talk_ave / interview_ave * 100).round() rescue 0 %>%</td>
              <%# フル2 %>
              <td><%= full_talk2_ave =  ((@results.sum(:first_full_talk2) + @results.sum(:latter_full_talk2)).to_f / @results.length).round(1) rescue 0 %></td>
              <td><%= (full_talk2_ave / interview_ave * 100).round() rescue 0 %>%</td>
              <%# 成約 %>
              <td><%= get_ave = ((@results.sum(:first_get) + @results.sum(:latter_get)).to_f / @results.length).round(1) rescue 0 %></td>
              <td><%= (get_ave / full_talk_ave * 100).round() rescue 0 %>%</td>
            </tr>
          </tbody>
        </table>
        <%# 切り返しと生産性 %>
        <div style="display: flex;">
              <% @type_ary.zip(@type_result_ary) do |type, type_results| %>
                <div>
                  <p class="nav-text">◆切り返し</p>
                  <table>
                    <thead>
                      <tr>
                        <th colspan="">項目</th>
                        <th colspan="">内容</th>
                        <th colspan="">合計</th>
                        <th colspan="">平均</th>
                        <th colspan="">成約率</th>
                      </tr>
                    </thead>
                    <tbody>
                    <% @out_ary.zip(@out_num) do |out_name, out_num| %>
                      <tr>
                        <th rowspan="3"><%= out_name %></th>
                        <th rowspan="">対面</th>
                        <td><%= type_results.sum("out_interview_#{out_num}") rescue 0 %></td>
                        <td><%= (type_results.sum("out_interview_#{out_num}").to_f / @results.length).round(2) rescue 0 %></td>
                        <td>-</td>
                      </tr>
                      <tr>
                        <th rowspan="">フル</th>
                        <td><%= type_results.sum("out_full_talk_#{out_num}") rescue 0 %></td>
                        <td><%= (type_results.sum("out_full_talk_#{out_num}").to_f / @results.length).round(2) rescue 0 %></td>
                        <td><%= number_to_percentage(type_results.sum("out_full_talk_#{out_num}").to_f / type_results.sum("out_interview_#{out_num}").to_f * 100,precision: 1) rescue 0 %></td>
                      </tr>
                      <tr>
                        <th rowspan="">成約</th>
                        <td><%= type_results.sum("out_get_#{out_num}") rescue 0 %></td>
                        <td><%= (type_results.sum("out_get_#{out_num}").to_f/ @shift_digestion_new).round(2) rescue 0 %></td>
                        <td><%= number_to_percentage(type_results.sum("out_get_#{out_num}").to_f / type_results.sum("out_full_talk_#{out_num}").to_f * 100,precision: 1) rescue 0 %></td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              <% end %>
          <div>
            <p class="nav-text">◆生産性</p>
          <table>
            <thead>
              <tr>
                <th>商材</th>
                <th>獲得数</th>
                <th>一人当</th>
                <th>生産性</th>
              </tr>
            </thead>
            <tbody>
              <% product_names = ["dメル", "auPay", "楽天ペイ", "AirPay","UsenPay"] %>
              <% @products.zip(product_names) do |product, name| %>
              <tr>
                <th colspan=""><%= name %></th>
                <td><%= product.length rescue 0 %></td>
                <td><%= (product.length.to_f /  @results.group(:user_id).length).round() rescue 0 %></td>
                <td><%= (product.length.to_f /  @results.length).round(1) rescue 0 %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
          </div>
        </div>
        <%# 訪問別基準値 %>
        <div style="display: flex;">
          <% @type_ary.each do |visit_type| %>
            <div>
              <p class="nav-text">◆訪問基準値(<%= visit_type %>)</p>
              <% target_deal = @result_types.where(result_type: {visit_type: visit_type}) %>
              <% sum_a = target_deal.where(deal_attributes: {key: "a"}).sum("val") rescue 0 %>
              <% sum_b = target_deal.where(deal_attributes: {key: "b"}).sum("val") rescue 0 %>
              <% sum_c = target_deal.where(deal_attributes: {key: "c"}).sum("val") rescue 0 %>
              <% sum_d1 = target_deal.where(deal_attributes: {key: "d1"}).sum("val") rescue 0 %>
              <% sum_d2 = target_deal.where(deal_attributes: {key: "d2"}).sum("val") rescue 0 %>
              <% sum_e = target_deal.where(deal_attributes: {key: "e"}).sum("val") rescue 0 %>
              <table>
                <thead>
                  <tr>
                    <th colspan="">項目</th>
                    <th colspan="">合計</th>
                    <th colspan="">平均</th>
                    <th colspan="">成約率</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th rowspan="">オーナー不在:a</th>
                    <td><%= sum_a rescue 0 %></td>
                    <td><%= (sum_a.to_f / @results.length).round(2) rescue 0 %></td>
                    <td>-</td>
                  </tr>
                  <tr>
                    <th rowspan="">対面:b</th>
                    <td><%= sum_b rescue 0 %></td>
                    <td><%= (sum_b.to_f / @results.length).round(2) rescue 0 %></td>
                    <td><%= number_to_percentage(sum_b.to_f / sum_a.to_f * 100,precision: 1) rescue 0 %></td>
                  </tr>
                  <tr>
                    <th rowspan="">フル:c</th>
                    <td><%= sum_c rescue 0 %></td>
                    <td><%= (sum_c.to_f / @results.length).round(2) rescue 0 %></td>
                    <td><%= number_to_percentage(sum_c.to_f / sum_b.to_f * 100,precision: 1) rescue 0 %></td>
                  </tr>
                  <tr>
                    <th rowspan="">情報聞いた:d1</th>
                    <td><%= sum_d1 rescue 0 %></td>
                    <td><%= (sum_d1.to_f / @results.length).round(2) rescue 0 %></td>
                    <td><%= number_to_percentage(sum_d1.to_f / sum_c.to_f * 100,precision: 1) rescue 0 %></td>
                  </tr>
                  <tr>
                    <th rowspan="">認証キー回収:d2</th>
                    <td><%= sum_d2 rescue 0 %></td>
                    <td><%= (sum_d2.to_f / @results.length).round(2) rescue 0 %></td>
                    <td><%= number_to_percentage(sum_d2.to_f / sum_c.to_f * 100,precision: 1) rescue 0 %></td>
                  </tr>
                  <tr>
                    <th rowspan="">成約:e</th>
                    <td><%= sum_e rescue 0 %></td>
                    <td><%= (sum_e.to_f / @results.length).round(2) rescue 0 %></td>
                    <td><%= number_to_percentage(sum_e.to_f / sum_d2.to_f * 100,precision: 1) rescue 0 %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          <% end %>
        <div>
      <% end %>
    </div>
  </div>
</div>