<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>日報</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;"><%# サイドバーとメインページを分ける %>
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
<div data-scope-path="results/daily_report">
  <div data-scope-path="shares/index">
    <%= render "shared/result_links" %>
  </div>
  <hr>
  <h2>
    <%= link_to "<<",daily_report_results_path(month:@month.ago(1.days),base_category: @base_category), class:"link" %>
    <%= @base_category %>
    <%= @month.month %>月
    <%= @month.day %>日（<%= days[@month.wday] %>）
    集計期間：<%= @shift_digestion.minimum(:date) %>〜<%= @shift_digestion.maximum(:date) %>
    <%= link_to ">>",daily_report_results_path(month:@month.since(1.days),base_category: @base_category), class:"link" %>
  </h2>
  <div class="separate"><%# 左右に分ける %>
    <div class="left-form"><%# 左側 %>
    <h3 class="sub-title">◆本日稼働結果</h3>
<textarea><%# 日報結果 %>
<%# 拠点の決済などの売上変数 %>
  <%# 拠点でのAirPayの件数に合わせたインセンティブ %>
    <% airpay_team_bonus = 0 %>
    <% @users.each do |user| %>
      <% if @shift_digestion.length == 0 || @shift_digestion.where(user_id: user.id).sum(:airpay) == 0 %>
      <% elsif (@shift_digestion.where(user_id: user.id).sum(:airpay).present?) && (@shift_digestion.where(user_id: user.id).sum(:airpay) >= 20)  %>
        <% airpay_team_bonus += @shift_digestion.where(user_id: user.id).sum(:airpay) * 5000 %>
      <% elsif (@shift_digestion.where(user_id: user.id).sum(:airpay).present?) && (@shift_digestion.where(user_id: user.id).sum(:airpay) >= 10) %>
        <% airpay_team_bonus += @shift_digestion.where(user_id: user.id).sum(:airpay) * 3000 %>
      <% else %>
      <% end %>
    <% end %>
  <%# 拠点でのAirPayの件数に合わせたインセンティブ %>
  <% dmer_slmt_team = @shift_digestion.sum(:dmer) * 9000 rescue 0 %><%# dメル決済 %>
  <% 
    team_profit_new = 
      (@shift_digestion.sum(:dmer) * 8000) + 
      (@shift_digestion.sum(:rakuten_pay) * 4000) + 
      (@shift_digestion.sum(:airpay) * 3000) + airpay_team_bonus 
  %>
  <% team_profit_sum = team_profit_new + dmer_slmt_team %>
  <% team_profit = "#{team_profit_new.to_s(:delimited) rescue 0}（#{team_profit_sum.to_s(:delimited)}）" %>
<%# /拠点の決済などの売上変数 %>
<%# 拠点の表示内容 %>
<%= @month.strftime("%m月%d日") %>
チームAve：<%= (team_profit_sum.to_f / @shift_digestion.length).round().to_s(:delimited) rescue 0 %>
チームシフト：<%= "新規#{@shift_digestion.where(shift: "キャッシュレス新規").length}　決済#{@shift_digestion.where(shift: "キャッシュレス決済").length}" %>
チーム売上：<%= team_profit %>
チームdメルAve：<%= (@shift_digestion.sum(:dmer).to_f / @shift_digestion.length).round(1) rescue 0 %>
チーム獲得本数：<%= "dメル#{@shift_digestion.sum(:dmer)}　楽天ペイ#{@shift_digestion.sum(:rakuten_pay)}　AirPay#{@shift_digestion.sum(:airpay)}" %>
<%# /拠点の表示内容 %>
<% @users.each do |user| %>
  <% dmer_slmt = @shift_digestion.where(user_id: user.id).sum(:dmer) * 9000 rescue 0 %><%# dメル決済 %>
  <%# 個別でのAirPayの件数に合わせたインセンティブ %>
  <% airpay_bonus_price = 0 %>
  <% if @shift_digestion.length == 0 || @shift_digestion.where(user_id: user.id).sum(:airpay) == 0 %>
    <% airpay_bonus_price = 0 %>
  <% elsif (@shift_digestion.where(user_id: user.id).sum(:airpay).present?) && (@shift_digestion.where(user_id: user.id).sum(:airpay) >= 20)  %>
    <% airpay_bonus_price = 5000 %>
  <% elsif (@shift_digestion.where(user_id: user.id).sum(:airpay).present?) && (@shift_digestion.where(user_id: user.id).sum(:airpay) >= 10) %>
    <% airpay_bonus_price = 3000 %>
  <% else %>
    <% airpay_bonus = 0 %>
  <% end %>
  <% airpay_bonus = @shift_digestion.where(user_id: user.id).sum(:airpay) * airpay_bonus_price %>
  <%# /個別でのAirPayの件数に合わせたインセンティブ %>
<%# 現状売上 %>
<% if @shift_digestion.where(user_id: user.id).present? %>
  <% person_profit_new = (@shift_digestion.where(user_id: user.id).sum(:dmer) * 8000) + (@shift_digestion.where(user_id: user.id).sum(:rakuten_pay) * 4000) + (@shift_digestion.where(user_id: user.id).sum(:airpay) * (3000 + airpay_bonus_price)) rescue 0 %>
  <% person_profit_sum = person_profit_new + dmer_slmt + airpay_bonus rescue 0 %>
<% else %>
<% person_profit_new = 0 %>
<% person_profit_sum = 0 %>
<% end %>
<%# /現状売上 %>
<%# 当日売上 %>
<% today_profit_new = (@result.where(user_id: user.id).sum(:dmer) * 8000) + (@result.where(user_id: user.id).sum(:rakuten_pay) * 4000) + (@result.where(user_id: user.id).sum(:airpay) * (3000 + airpay_bonus_price))  %>
<% today_profit_dmer = (@result.where(user_id: user.id).sum(:dmer) * 9000) rescue 0 %>

<% today_profit_airpay = (@result.where(user_id: user.id).sum(:airpay) * airpay_bonus_price) rescue 0 %>
<%# /当日売上 %>
<%# 平均 %>
<% dmer_ave = 0 %>
<% rakuten_pay_ave = 0 %>
<% if @shift_digestion.where(user_id: user.id).present? %>
<% 
  dmer_ave = 
    (@shift_digestion.where(user_id: user.id).sum(:dmer).to_f / 
    @shift_digestion.where(user_id: user.id).where(shift: "キャッシュレス新規").length).round(1) rescue 0 
%>
<% 
  rakuten_pay_ave = 
    (@shift_digestion.where(user_id: user.id).sum(:rakuten_pay).to_f / 
    @shift_digestion.where(user_id: user.id).where(shift: "キャッシュレス新規").length).round(1) rescue 0 
%>
<% else %>
<% end %>
<% 
  date_progress = 
    "#{@result.where(user_id: user.id).sum(:first_total_visit) + @result.where(user_id: user.id).sum(:latter_total_visit)}-
    #{@result.where(user_id: user.id).sum(:first_visit) + @result.where(user_id: user.id).sum(:latter_visit)}-
    #{@result.where(user_id: user.id).sum(:first_interview) + @result.where(user_id: user.id).sum(:latter_interview)}-
    #{@result.where(user_id: user.id).sum(:first_full_talk) + @result.where(user_id: user.id).sum(:latter_full_talk)}-
    #{@result.where(user_id: user.id).sum(:first_get) + @result.where(user_id: user.id).sum(:latter_get)}" 
%>
<%# 個別の表示内容 %>
◆<%= user.name %>
dメルAve：<%= dmer_ave rescue 0 %>
楽天Ave：<%= rakuten_pay_ave rescue 0 %>
Air獲得：<%= @shift_digestion.where(user_id: user.id).sum(:airpay) rescue 0 %>
現状Ave：<%= (person_profit_sum.to_f / @shift_digestion.where(user_id: user.id).length).round().to_s(:delimited) rescue 0 %>
現状売上：<%= "#{person_profit_new.to_s(:delimited) rescue 0}（#{person_profit_sum.to_s(:delimited) rescue 0} ）" %>
当日売上：<%= today_profit_new.to_s(:delimited) rescue 0 %>（<%= today_profit_new + today_profit_dmer + today_profit_airpay rescue 0 %>）
シフト：<%= "新規#{@shift_digestion.where(user_id: user.id).where(shift: "キャッシュレス新規").length}　決済#{@shift_digestion.where(user_id: user.id).where(shift: "キャッシュレス決済").length}" %>
基準値：<%= date_progress %>
<%# 個別の表示内容 %>
<% end %>
</textarea>
<%# 個別の日報結果 %>
        </div>
        <div class="right-form"><%# 終着が打たれているか確認 %>
        <h3 class="sub-title">◆本日稼働予定者</h3>
          <% if @shift.length == 0 %>
          <p>本日稼働予定者はいません。</p>
          <% else %>
          <% @shift.each do |s| %>
            <p class="conf-text">
            <% if (@result.find_by(user_id: s.user_id).present?) && (@result.find_by(user_id: s.user_id).shift != s.shift) %>
              <span class="red"><%= link_to "予定#{s.shift.slice(-2,2)}",edit_shift_path( s.id), class: "red-link" %></span> 
            <% else %>
              <span class=""><%= link_to "予定#{s.shift.slice(-2,2)}",edit_shift_path( s.id), class: "link" %></span> 
            <% end %>
            / 
            <% if @result.exists?(user_id: s.user_id) %>
              <%= link_to "終着#{@result.find_by(user_id: s.user_id).shift.slice(-2,2)}",edit_result_path(@result.find_by(user_id: s.user_id).id), class: "link" %>：
              <% if @result.find_by(user_id: s.user_id).result_cash.present? %>
              <%= link_to "切返",edit_result_cash_path(@result.find_by(user_id: s.user_id).result_cash.id), class: "link" %>：
              <% end %>
            <% else %>
            <span class="red"><%= link_to "終着入力",new_result_path(user_id: s.user_id,date: @month), class: "red-link" %></span>
            <% end %>
              <%= s.user.name %>
              </p>
          <% end %>
          <% end %>
        </div><%# 終着が打たれているか確認 %>
        </div><%# 左右に分ける %>

    </div>
</div><%# サイドバーとメインページを分ける %>