<div data-scope-path="shares/date-progress">
  <h2><%= link_to "<<",date_progress_results_path(month:@month.ago(3.days)), class:"link" %>
      <%= @month.month %>月
      <% if @month.present? %>
      <%= @month.ago(2.days).day %>〜
      <%= @month.day %>日
      獲得
      <% end %>
      <%= link_to ">>",date_progress_results_path(month:@month.since(3.days)), class:"link" %>
      <span><%= link_to "Top",results_path, "data-turbolinks": false %></span>
  </h2>
  <table class="progress-tb" style="width: 95vw;">
    <thead>
    <tr>
      <th class="progress-th1" rowspan="">ユーザー</th>
      <% date_period = [@month.ago(2.days),@month.ago(1.days),@month] %>
      <% date_period.each do |date| %>
      <th class="progress-th1"colspan="3" ><%= date.strftime("%m月%d日") %></th>
      <% end %>
    </tr>
    <tr>
      <th class="progress-th2" ></th>
      <% date_period.each do |a| %>
      <th class="progress-th2" >営業終着</th>
      <th class="progress-th2" >実件数</th>
      <th class="progress-th2 red" >要確認商材</th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
    <tr>
      <td class="progress-td"><%= user.name %></td>
      <% date_period.each do |date| %>
      <td class="progress-td">
        dメル<%= @results.where(user_id: user.id).where(date: date).sum(:dmer) %>件,
        auPay<%= @results.where(user_id: user.id).where(date: date).sum(:aupay) %>件<br>
        PayPay<%= @results.where(user_id: user.id).where(date: date).sum(:paypay) %>件
        楽天ペイ<%= @results.where(user_id: user.id).where(date: date).sum(:rakuten_pay) %>件<br>
        AirPay<%= @results.where(user_id: user.id).where(date: date).sum(:airpay) %>件
        UsenPay<%= @results.where(user_id: user.id).where(date: date).sum(:other_product1) %>件
      </td>
      <td class="progress-td">
        dメル<%= @dmers.where(user_id: user.id).where(date: date).length %>件,
        auPay<%= @aupays.where(user_id: user.id).where(date: date).length %>件<br>
        PayPay<%= @paypays.where(user_id: user.id).where(date: date).length %>件
        楽天ペイ<%= @rakuten_pays.where(user_id: user.id).where(date: date).length %>件<br>
        AirPay<%= @airpays.where(user_id: user.id).where(date: date).length %>件,
        UsenPay<%= @usen_pays.where(user_id: user.id).where(date: date).length %>件
      </td>
      <td class="progress-td red">
        <% if @dmers.where(user_id: user.id).where(date: date).length - @results.where(user_id: user.id).where(date: date).sum(:dmer) != 0 %>
          dメル<br>
        <% end %>
        <% if @aupays.where(user_id: user.id).where(date: date).length - @results.where(user_id: user.id).where(date: date).sum(:aupay) != 0 %>
          auPay<br>
        <% end %>
        <% if @paypays.where(user_id: user.id).where(date: date).length - @results.where(user_id: user.id).where(date: date).sum(:paypay) != 0 %>
          PayPay<br>
        <% end %>
        <% if @rakuten_pays.where(user_id: user.id).where(date: date).length - @results.where(user_id: user.id).where(date: date).sum(:rakuten_pay) != 0 %>
          楽天ペイ<br>
        <% end %>
        <% if @airpays.where(user_id: user.id).where(date: date).length - @results.where(user_id: user.id).where(date: date).sum(:airpay) != 0 %>
          AirPay<br>
        <% end %>
        <% if @usen_pays.where(user_id: user.id).where(date: date).length - @results.where(user_id: user.id).where(date: date).sum(:other_product1) != 0 %>
          UsenPay
        <% end %>
      </td>
      <% end %>
    <% end %>
    </tr>
    </tbody>
  </table>
</div>