<div data-scope-path="shared/header">
  <h1>マイページ</h1>
  <%= render "shared/header" %>
</div>
<div data-scope-path="shared/side_bar_humbarger">
  <%= render "shared/sidebar" %>
</div>
<div style="display:flex;">
  <div data-scope-path="users/show"><%# users/showスコープ頭 %>
    <%= render "shared/mypage_links" %>
    <p class="alert"><%= notice %></p><%# 登録した時のアラート %>
<h2><%= @user.name %>：不備一覧</h2>
<table class="out-tb">
  <thead>
    <tr>
      <th class="valuation-th">商材</th>
      <th class="valuation-th">店舗名</th>
      <th class="valuation-th">商流</th>
      <th class="valuation-th">獲得者</th>
      <th class="valuation-th">獲得日</th>
      <th class="valuation-th-remarks">不備内容</th>
      <th class="valuation-th"></th>
    </tr>
  </thead>
  <tbody>
    <% @dmers_def.each do |dmer| %>
    <tr>
      <td class="valuation-td">dメル</td>
      <td class="valuation-td"><%= dmer.store_prop.name %></td>
      <td class="valuation-td"><%= dmer.client %></td>
      <td class="valuation-td"><%= dmer.user.name %></td>
      <td class="valuation-td"><%= dmer.date %></td>
      <td class="valuation-td-remarks"><%= dmer.deficiency_remarks %></td>
      <td class="valuation-td"><%= link_to "詳細" ,dmer_path(dmer.id) %></td>
    </tr>
    <% end %>
    <% @dmer_senbais_def.each do |dmer| %>
    <tr>
      <td class="valuation-td">dメル専売</td>
      <td class="valuation-td"><%= dmer.store_name %></td>
      <td class="valuation-td"><%= dmer.client %></td>
      <td class="valuation-td"><%= dmer.user.name %></td>
      <td class="valuation-td"><%= dmer.date %></td>
      <td class="valuation-td-remarks"><%= dmer.deficiency_remarks %></td>
      <td class="valuation-td"><%= link_to "詳細" ,dmer_senbai_path(dmer.id) %></td>
    </tr>
    <% end %>
    <% @aupays_def.each do |aupay| %>
    <tr>
      <td class="valuation-td">auPay</td>
      <td class="valuation-td"><%= aupay.store_prop.name %></td>
      <td class="valuation-td"><%= aupay.client %></td>
      <td class="valuation-td"><%= aupay.user.name %></td>
      <td class="valuation-td"><%= aupay.date %></td>
      <td class="valuation-td-remarks"><%= aupay.deficiency_remarks %></td>
      <td class="valuation-td"><%= link_to "詳細" ,aupay_path(aupay.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
  </div><%# users/showスコープ末尾 %>
</div>