<div data-scope-path="shared/header">
  <h1>SS終着編集</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
    <div data-scope-path="shared/form"><%# CSSスコープ %>
    <div class="form-main"><%# フォーム外枠 %>
        <div class="form-title">
        <h1><%= @result.user.name %>終着編集</h1>
        </div>
        <button id="memo-button">メモ</button>
        <div class="memo-form" id="memo-page">
        <textarea></textarea>
        </div>
        <%= form_with(model: @result, date: {remote: false}) do |f| %>
        <%# render "shared/error_messages", model: f.object %>
        <h1>基本情報</h1>
            <%= f.hidden_field :user_id, value: @result.user.id %>
        <div class="form">
            <p><%= f.label :date, "日付", class: "form-text" %></p>
            <p><%= f.date_field :date , value: @result.date, class: "date-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :status, "地域", class: "form-text" %></p>
            <p><%= f.text_field :area , class: "input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :shift, "シフト", class: "form-text" %></p>
            <p><%= f.select :shift, {
                "キャッシュレス新規": "キャッシュレス新規", "キャッシュレス決済": "キャッシュレス決済",
                "帯同": "帯同","内勤": "内勤", "休み": "休み","欠勤": "欠勤"
                },{include_blank: true}, {class: "slct-input",id: "shift-slct"} %></p>
        </div>
        <div class="form">
            <p><%= f.label :product, "基準値種別", class: "form-text" %></p>
            <p><%= f.select :product, {
                "d専売": "d専売", "マルチ": "マルチ"
                },{include_blank: true}, {class: "slct-input",id: "shift-slct"} %></p>
        </div>
        <div class="form">
            <p><%= f.label :ojt_id, "帯同者", class: "form-text" %></p>
            <p><%= f.collection_select(:ojt_id, User.includes(:shifts).where(shifts: {shift: "帯同"}), :id, :name,{include_blank: true}, {class: "slct-input"})%></p>
        </div>
        <div class="form">
            <p><%= f.label :ojt_start, "帯同開始〜", class: "form-text" %><%= f.label :ojt_start, "帯同終了", class: "form-text" %></p>
            <p><%= f.time_field :ojt_start , class: "time-input" %>〜<%= f.time_field :ojt_end , class: "time-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :profit, "売上", class: "form-text" %></p>
            <p><%= f.number_field :profit,class: "input", min: 0 %></p>
        </div>
        <div class="form">
            <p><%= f.label :remarks, "備考", class: "form-text" %></p>
            <p><%= f.text_field :remarks , class: "input" %></p>
        </div>
        <div class="basic-form" id="basic-form">
            <h1>基準値</h1>
            <div class="form">
                <p class="form-head">前半</p>
                <p>
                    <%= f.label :first_total_visit, "aオーナー不在-", class: "form-text" %>
                    <%= f.label :first_visit, "b対面-", class: "form-text" %>
                    <%= f.label :first_interview, "cフル-", class: "form-text" %>
                    <%= f.label :first_full_talk, "d1情報聞いた-", class: "form-text" %>
                    <%= f.label :first_full_talk2, "d2認証キー回収-", class: "form-text" %>
                    <%= f.label :first_get, "e成約", class: "form-text" %>
                    </p>
                <p>
                    <%= f.number_field :first_total_visit, class: "num-input" %>
                    <%= f.number_field :first_visit, class: "num-input" %>
                    <%= f.number_field :first_interview, class: "num-input" %>
                    <%= f.number_field :first_full_talk, class: "num-input" %>
                    <%= f.number_field :first_full_talk2, class: "num-input" %>
                    <%= f.number_field :first_get, class: "num-input" %>
            </div>
            <div class="form">
                <p class="form-head">後半</p>
                <p>
                    <%= f.label :latter_total_visit, "aオーナー不在-", class: "form-text" %>
                    <%= f.label :latter_visit, "b対面-", class: "form-text" %>
                    <%= f.label :latter_interview, "cフル-", class: "form-text" %>
                    <%= f.label :latter_full_talk, "d1情報聞いた-", class: "form-text" %>
                    <%= f.label :latter_full_talk2, "d2認証キー回収-", class: "form-text" %>
                    <%= f.label :latter_get, "e成約", class: "form-text" %>
                    </p>
                <p>
                    <%= f.number_field :latter_total_visit, class: "num-input" %>
                    <%= f.number_field :latter_visit, class: "num-input" %>
                    <%= f.number_field :latter_interview, class: "num-input" %>
                    <%= f.number_field :latter_full_talk, class: "num-input" %>
                    <%= f.number_field :latter_full_talk2, class: "num-input" %>
                    <%= f.number_field :latter_get, class: "num-input" %>
            </div>
            <h1>店舗別基準値</h1>
            <div class="form">
                <p class="form-head">飲食</p>
                <p>
                    <%= f.label :other_food_visit, "訪問", class: "form-text" %>-
                    <%= f.label :other_food_get, "獲得", class: "form-text" %>
                </p>
                <p>
                    <%= f.number_field :other_food_visit,class: "num-input", min: 0 %>
                    <%= f.number_field :other_food_get , class: "num-input", min: 0 %>
                </p>
            </div>
            <div class="form">
                <p class="form-head">車屋</p>
                <p>
                    <%= f.label :car_visit, "訪問", class: "form-text" %>-
                    <%= f.label :car_get, "獲得", class: "form-text" %>
                </p>
                <p>
                    <%= f.number_field :car_visit,class: "num-input", min: 0 %>
                    <%= f.number_field :car_get , class: "num-input", min: 0 %>
                </p>
            </div>
            <div class="form">
                <p class="form-head">その他・小売</p>
                <p>
                    <%= f.label :other_retail_visit, "訪問", class: "form-text" %>-
                    <%= f.label :other_retail_get, "獲得", class: "form-text" %>
                </p>
                <p>
                    <%= f.number_field :other_retail_visit,class: "num-input", min: 0 %>
                    <%= f.number_field :other_retail_get , class: "num-input", min: 0 %>
                </p>
            </div>
            <div class="form">
                <p class="form-head">理容・美容</p>
                <p>
                    <%= f.label :hair_salon_visit, "訪問", class: "form-text" %>-
                    <%= f.label :hair_salon_get, "獲得", class: "form-text" %>
                </p>
                <p>
                    <%= f.number_field :hair_salon_visit,class: "num-input", min: 0 %>
                    <%= f.number_field :hair_salon_get , class: "num-input", min: 0 %>
                </p>
            </div>
            <div class="form">
                <p class="form-head">整体・鍼灸</p>
                <p>
                    <%= f.label :manipulative_visit, "訪問", class: "form-text" %>-
                    <%= f.label :manipulative_get, "獲得", class: "form-text" %>
                </p>
                <p>
                    <%= f.number_field :manipulative_visit,class: "num-input", min: 0 %>
                    <%= f.number_field :manipulative_get , class: "num-input", min: 0 %>
                </p>
            </div>
            <div class="form">
                <p class="form-head">その他・サービス</p>
                <p>
                    <%= f.label :other_service_visit, "訪問", class: "form-text" %>-
                    <%= f.label :other_service_get, "獲得", class: "form-text" %>
                </p>
                <p>
                    <%= f.number_field :other_service_visit,class: "num-input", min: 0 %>
                    <%= f.number_field :other_service_get , class: "num-input", min: 0 %>
                </p>
            </div>
        </div>
    </div><%# フォーム外枠 %>
        <div class="form-submit">
            <%= f.submit "登録", class: "submit-btn",data: { confirm: "登録してもよろしいですか？" }  %>
        </div>
        <% end %>
  </div><%# CSSスコープ %>