<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>利益計算用終着</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div class="main">
    <div data-scope-path="results/ranking">
      <h2>
        <%= link_to "<<",gross_profit_results_path(month:@month.prev_month), class:"link" %>
        <%= @month.month %>月 (<%= @minimum_date_cash.strftime("%m月%d日") %>〜<%= @maximum_date_cash.strftime("%m月%d日") %>)
        <%= link_to ">>",gross_profit_results_path(month:@month.next_month), class:"link" %>
      </h2>
      <%= render "result_parts/valuation_factory" %>
    </div>
  </div>
</div>