<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>利益計算用終着</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div class="main">
    <div data-scope-path="shares/index">
      <%= render "shared/result_links" %>
    </div>
    <div data-scope-path="results/index">
    <hr>
    <div data-scope-path="results/ranking">
      <h2>
        <%= link_to "<<",gross_profit_results_path(month:@month.prev_month), class:"link" %>
        <%= @month.month %>月 (<%= @start_date.strftime("%m月%d日") %>〜<%= @end_date.strftime("%m月%d日") %>)
        <%= link_to ">>",gross_profit_results_path(month:@month.next_month), class:"link" %>
      </h2>
    <table>
      <tr>
        <th class="rank-th">氏名</th>
        <th class="rank-th">役職</th>
        <th class="rank-th">終着売上</th>
      </tr>
      <% if @cash_date_progress.present? %>
      <% @cash_date_progress.each do |cash_progress| %>
      <tr>
      <td class="rank-td"><%= cash_progress.user.name %></td>
      <td class="rank-td"><%= cash_progress.user.position_sub %></td>
      <td class="rank-td"><%= cash_progress.valuation_fin.to_s(:delimited) rescue 0 %></td>
      </tr>
      <% end %>
      <% end %>
    </div>
  </div>
</div>