<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>利益表</h1>
  <%= render "shared/header" %>
</div>
  <div style="display:flex;">
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div class="main">
    <div data-scope-path="shares/index">
      <%= render "shared/result_links" %>
    </div>
    <div data-scope-path="results/index">
      <div class="nav-text" style="color: red;"><%= alert %></div>
      <hr>
        <div>
          <h2 class="">
            <%= link_to "<<",results_path(month: @month.prev_month),"data-turbolinks": false, class:"link" %>
            <%= @month.strftime("%Y年%m月") %>（<%= days[@month.wday] %>）
            <%= link_to ">>",results_path(month: @month.next_month),"data-turbolinks": false, class:"link" %>
          </h2>
        </div>
      <div class="user-form">
        <div>
        <h2><%= @month.strftime("%Y年%m月") %>：キャッシュレス利益表（2023年2月以降）</h2>
        <table class="user-tb">
        <% @users_cash.group(:base).each do |base| %>
          <tr class="index-tr">
          <td><%= link_to base.base,base_profit_results_path(base: base.base),class: "link" %></td>
          <% @users_cash.where(base: base.base).each do |user| %>
          <td><%= link_to user.name, result_path(user.id,month: @month),"data-turbolinks": false, class: "link" %></td>
          <% end %>
          </tr>
        <% end %>
        </table>
          <%= link_to "日々獲得内容確認",date_progress_results_path,class: "link" %>
        <hr>
        <h2 >（旧）キャッシュレス利益表<span class="red">（2023年1月以前）</span></h2>
        <table class="user-tb">
        <% @users_cash.group(:base).each do |base| %>
          <tr class="index-tr">
          <th class=""><%= base.base %></th>
          <% @users_cash.where(base: base.base).each do |user| %>
          <td><%= link_to user.name, user_path(user.id,month: Date.new(2023,1,1)),"data-turbolinks": false, class: "link red" %></td>
          <% end %>
          </tr>
        <% end %>
        </table>
        <span class="red">※こちらの利益表は前月26日〜当月25日で計算をしております。</span>
        <hr>
        </div>
      </div>
    </div>
  </div>
</div>