<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>利益表SS</h1>
  <%= render "shared/header" %>
</div>
  <div style="display:flex;">
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div class="main">
    <div data-scope-path="results/index">
      <%# 検索フォーム %>
      <p class="nav-text">こちらから確認したい2022年12月以前の拠点別利益表を確認できます。</p>
      <%= search_form_for @q do |f| %>
        <table>
          <tr class="">
            <th class="search-th" colspan="">獲得月</th>
            <th class="search-th">拠点</th>
            <td class="result"><%= f.submit "絞込",data: {"turbolinks" => false, disable_with: "絞込み中"} , class: "result-btn" %></td>
          </tr>
          <tr class="">
            <td class="search-td"><%= f.date_select :date_during_month, {discard_day: true,selected: Date.today},{class: "date-input"} %></td>
            <td class="search-td"><%= f.select :user_base_eq, options_from_collection_for_select(User.where.not(base: "中部N").where.not(base: "関西N").where.not(position: "退職").select(:base).distinct, :base, :base), {},{class: "input"} %></td>
            <td class="reset"><%= link_to "絞込解除", results_path, class: "reset-link","data-turbolinks": false %></td>
          </tr>
        </table>
      <% end %>
      <%# /検索フォーム %>
      <div class="nav-text" style="color: red;"><%= alert %></div>
      <hr>
      <% if @results.empty? %>
        <div>
          <h2 class="">
            <%= link_to "<<",results_path(date:@month_daily.prev_month),"data-turbolinks": false, class:"link" %>
            <%= @month_daily.month %>月
            <%= @month_daily.day %>日（<%= days[@month_daily.wday] %>）
            <%= link_to ">>",results_path(date:@month_daily.next_month),"data-turbolinks": false, class:"link" %>
          </h2>
        </div>
        <div><%# 検索 %>
          <%= form_with url: results_path, local: true, method: :get do |f| %>
                <%= f.hidden_field :search_date, value: @month_daily %>
              <p class="nav-text">※こちらから確認したい日付に変更できます。</p>
              <table class="s-tb">
                <tr class="">
                  <th class="s-th">日付</th>
                  <td class="s-td"><%= f.date_field :date,class:"s-input" %></td>
                  <td class="s-submit"><%= f.submit "絞込",class: "s-btn" %></td>
                </tr>
                <tr class="">
                  <th class="s-th">比較する日付</th>
                  <td class="s-td"><%= f.date_field :comparison_date,class:"s-input" %></td>
                  <td class="s-reset"><%= link_to "リセット",results_path(month: @month),class:"reset-link","data-turbolinks": false %></td>
                </tr>
              </table>
          <% end %>
        </div><%# 検索 %>
        <% bases = ["中部SS", "関東SS", "関西SS","九州SS", "2次店"] %>
      <%# 現状獲得早見 %>
        <%# 全体平均獲得数の変数 %>
          <% dmer_monthly_ave = (@dmer_monthly.length.to_f / @shift_monthly_digestion.length) %>
          <% aupay_monthly_ave = (@aupay_monthly.length.to_f / @shift_monthly_digestion.length) %>
          <% rakuten_pay_monthly_ave = (@rakuten_pay_monthly.length.to_f / @shift_monthly_digestion.length) %>
          <% airpay_monthly_ave = (@airpay_monthly.length.to_f / @shift_monthly_digestion.length) %>
          <% dmer_comparison_ave = (@dmer_comparison.length.to_f / @shift_comparison_digestion.length) %>
          <% aupay_comparison_ave = (@aupay_comparison.length.to_f / @shift_comparison_digestion.length) %>
          <% rakuten_pay_comparison_ave = (@rakuten_pay_comparison.length.to_f / @shift_comparison_digestion.length) %>
          <% airpay_comparison_ave = (@airpay_comparison.length.to_f / @shift_comparison_digestion.length) %>
        <%# /全体平均獲得数の変数 %>
        <p class="nav-text">
          ◆<%= @month_daily.month %>月全拠点獲得数
          <%= link_to "ランキング", ranking_results_path,class: "rank_link" %>
          <%= link_to "利益計算用終着", gross_profit_results_path,class: "rank_link" %>
          <%= link_to "中部SS日報", daily_report_results_path(month: Date.today,base_category: "中部SS"),class: "rank_link" %>
          <%= link_to "関西SS日報", daily_report_results_path(month: Date.today,base_category: "関西SS"),class: "rank_link" %>
          <%= link_to "関東SS日報", daily_report_results_path(month: Date.today,base_category: "関東SS"),class: "rank_link" %>
          <%= link_to "九州SS日報", daily_report_results_path(month: Date.today,base_category: "九州SS"),class: "rank_link" %>
        </p>
        <table>
          <thead>
            <tr class="index-tr">
              <th class="" colspan="3">基本情報</th>
              <th class="" colspan="3">シフト</th>
              <th class="" colspan="4">現状獲得数</th>
              <th class="" colspan="4">終着獲得数</th>
            </tr>
            <tr class="index-tr">
              <th class="">項目</th>
              <th class="">日付</th>
              <th class="">人員</th>
              <th class="">新規予定シフト</th>
              <th class="">新規消化シフト</th>
              <th class="">新規残シフト</th>
              <th class="gray">dメル</th>
              <th class="gray">auPay</th>
              <th class="gray">楽天ペイ</th>
              <th class="gray">AirPay</th>
              <th class="">dメル</th>
              <th class="">auPay</th>
              <th class="">楽天ペイ</th>
              <th class="">AirPay</th>
            </tr>
          </thead>
          <tbody>
            <tr class="">
              <td class="" rowspan="">全拠点（現状）</td>
              <td class=""><%= @month_daily.beginning_of_month.strftime("%m月%d日") %>〜<%= @month_daily.strftime("%m月%d日") %></td>
              <td class=""><%= @shift_monthly_plan.group(:user_id).length %></td>
              <td class=""><%= @shift_monthly_plan.length %></td>
              <td class=""><%= @shift_monthly_digestion.length %></td>
              <td class=""><%= 
                @shift_monthly_plan.length -
                @shift_monthly_digestion.length 
              %></td>
              <td class="">
                <%= @dmer_monthly.length %>
              </td>
              <td class="">
                <%= @aupay_monthly.length %>
              </td>
              <td class="">
                <%= @rakuten_pay_monthly.length %>
              </td>
              <td class="">
                <%= @airpay_monthly.length %> 
              </td>
              <td class=""><%= dmer_monthly_fin = (dmer_monthly_ave * @shift_monthly_plan.length).round() rescue 0 %></td>
              <td class=""><%= aupay_monthly_fin = (aupay_monthly_ave * @shift_monthly_plan.length).round() rescue 0 %></td>
              <td class=""><%= rakuten_pay_monthly_fin = (rakuten_pay_monthly_ave * @shift_monthly_plan.length).round() rescue 0 %></td>
              <td class=""><%= airpay_monthly_fin = (airpay_monthly_ave * @shift_monthly_plan.length).round() rescue 0 %></td>
            </tr>
            <tr class="difference-target-tr">
              <td class="">全拠点（比較対象）</td>
              <td class=""><%= @comparison_date.beginning_of_month.strftime("%m月%d日") %>〜<%= @comparison_date.strftime("%m月%d日") %></td>
              <td class=""><%= @shift_comparison_plan.group(:user_id).length %></td>
              <td class=""><%= @shift_comparison_plan.length %></td>
              <td class=""><%= @shift_comparison_digestion.length %></td>
              <td class=""><%= 
                @shift_comparison_plan.length -
                @shift_comparison_digestion.length 
              %></td>
              <td class="">
                <%= @dmer_comparison.length %>
              </td>
              <td class="">
                <%= @aupay_comparison.length %>
              </td>
              <td class="">
                <%= @rakuten_pay_comparison.length %>
              </td>
              <td class="">
                <%= @airpay_comparison.length %> 
              </td>
              <td class=""><%= dmer_comparison_fin = (dmer_comparison_ave * @shift_comparison_plan.length).round() rescue 0 %></td>
              <td class=""><%= aupay_comparison_fin =  (aupay_comparison_ave * @shift_comparison_plan.length).round() rescue 0 %></td>
              <td class=""><%= rakuten_pay_comparison_fin = (rakuten_pay_comparison_ave * @shift_comparison_plan.length).round() rescue 0 %></td>
              <td class=""><%= airpay_comparison_fin = (airpay_comparison_ave * @shift_comparison_plan.length).round() rescue 0 %></td>
            </tr>
            <tr class="difference-tr">
              <td class="" colspan="2">差異</td>
              <td class="<%= "red" if 0 > @shift_monthly_plan.group(:user_id).length - @shift_comparison_plan.group(:user_id).length %>"><%= @shift_monthly_plan.group(:user_id).length - @shift_comparison_plan.group(:user_id).length %></td>
              <td class="<%= "red" if 0 > @shift_monthly_plan.length - @shift_comparison_plan.length %>"><%= @shift_monthly_plan.length - @shift_comparison_plan.length %></td>
              <td class="<%= "red" if 0 > @shift_monthly_digestion.length - @shift_comparison_digestion.length %>"><%= @shift_monthly_digestion.length - @shift_comparison_digestion.length %></td>
              <td class="<%= "red" if 0 > (@shift_monthly_plan.length - @shift_monthly_digestion.length) - (@shift_comparison_plan.length - @shift_comparison_digestion.length) %>"><%= 
                (@shift_monthly_plan.length - @shift_monthly_digestion.length) - (@shift_comparison_plan.length - @shift_comparison_digestion.length)
              %></td>
              <td class="<%= "red" if 0 > @dmer_monthly.length - @dmer_comparison.length %>">
                <%= @dmer_monthly.length - @dmer_comparison.length %>
              </td>
              <td class="<%= "red" if 0 > @aupay_monthly.length - @aupay_comparison.length %>">
                <%= @aupay_monthly.length - @aupay_comparison.length %>
              </td>
              <td class="<%= "red" if 0 > @rakuten_pay_monthly.length - @rakuten_pay_comparison.length %>">
                <%= @rakuten_pay_monthly.length - @rakuten_pay_comparison.length %>
              </td>
              <td class="<%= "red" if 0 > @airpay_monthly.length - @airpay_comparison.length %>">
                <%= @airpay_monthly.length - @airpay_comparison.length %> 
              </td>
              <td class="<%= "red" if 0 > dmer_monthly_fin - dmer_comparison_fin rescue 0 %>">
                <%= dmer_monthly_fin  - dmer_comparison_fin rescue 0 %>
              </td>
              <td class="<%= "red" if 0 > aupay_monthly_fin - aupay_comparison_fin rescue 0 %>">
                <%= aupay_monthly_fin - aupay_comparison_fin rescue 0 %>
              </td>
              <td class="<%= "red" if 0 > rakuten_pay_monthly_fin - rakuten_pay_comparison_fin rescue 0 %>">
                <%= rakuten_pay_monthly_fin - rakuten_pay_comparison_fin rescue 0 %>
              </td>
              <td class="<%= "red" if 0 > airpay_monthly_fin - airpay_comparison_fin rescue 0 %>">
                <%= airpay_monthly_fin - airpay_comparison_fin rescue 0 %>
              </td>
            </tr>
          </tbody>
        </table>
        <p class="nav-text">◆<%= @month_daily.month %>月拠点別獲得数</p>
        <table>
          <thead>
            <tr class="index-tr">
              <th class="" colspan="3">基本情報</th>
              <th class="" colspan="3">シフト</th>
              <th class="" colspan="4">現状獲得数</th>
              <th class="" colspan="4">終着獲得数</th>
            </tr>
            <tr class="index-tr">
              <th class="">拠点</th>
              <th class="">日付</th>
              <th class="">人員</th>
              <th class="">新規予定シフト</th>
              <th class="">新規消化シフト</th>
              <th class="">新規残シフト</th>
              <th class="gray">dメル</th>
              <th class="gray">auPay</th>
              <th class="gray">楽天ペイ</th>
              <th class="gray">AirPay</th>
              <th class="">dメル</th>
              <th class="">auPay</th>
              <th class="">楽天ペイ</th>
              <th class="">AirPay</th>
            </tr>
          </thead>
          <tbody>
          <% bases.each do |base| %>
            <%# 拠点別平均獲得数の変数 %>
              <% 
                dmer_base_monthly_ave = 
                  (@dmer_monthly.where(user: {base: base}).length.to_f / 
                  @shift_monthly_digestion.where(user: {base: base}).length)
              %>
              <% 
                aupay_base_monthly_ave = 
                  (@aupay_monthly.where(user: {base: base}).length.to_f / 
                  @shift_monthly_digestion.where(user: {base: base}).length)
              %>
              <% 
                paypay_base_monthly_ave = 
                  (@paypay_monthly.where(user: {base: base}).length.to_f / 
                  @shift_monthly_digestion.where(user: {base: base}).length)
              %>
              <% 
                rakuten_pay_base_monthly_ave = 
                  (@rakuten_pay_monthly.where(user: {base: base}).length.to_f / 
                  @shift_monthly_digestion.where(user: {base: base}).length)
              %>
              <% 
                airpay_base_monthly_ave = 
                  (@airpay_monthly.where(user: {base: base}).length.to_f / 
                  @shift_monthly_digestion.where(user: {base: base}).length)
              %>
              <% 
                dmer_base_comparison_ave = 
                  (@dmer_comparison.where(user: {base: base}).length.to_f / 
                  @shift_comparison_digestion.where(user: {base: base}).length)
              %>
              <% 
                aupay_base_comparison_ave = 
                  (@aupay_comparison.where(user: {base: base}).length.to_f / 
                  @shift_comparison_digestion.where(user: {base: base}).length)
              %>
              <% 
                paypay_base_comparison_ave = 
                  (@paypay_comparison.where(user: {base: base}).length.to_f / 
                  @shift_comparison_digestion.where(user: {base: base}).length)
              %>
              <% 
                rakuten_pay_base_comparison_ave = 
                  (@rakuten_pay_comparison.where(user: {base: base}).length.to_f / 
                  @shift_comparison_digestion.where(user: {base: base}).length)
              %>
              <% 
                airpay_base_comparison_ave = 
                  (@airpay_comparison.where(user: {base: base}).length.to_f / 
                  @shift_comparison_digestion.where(user: {base: base}).length)
              %>
            <%# /拠点別平均獲得数の変数 %>
            <tr class="">
              <td class="head-td" rowspan=""><%= base %>（現状）</td>
              <td class=""><%= @month_daily.beginning_of_month.strftime("%m月%d日") %>〜<%= @month_daily.strftime("%m月%d日") %></td>
              <td class=""><%= @shift_monthly_plan.where(user: {base: base}).group(:user_id).length %></td>
              <%# シフト %>
              <td class=""><%= @shift_monthly_plan.where(user: {base: base}).length %></td>
              <td class=""><%= @shift_monthly_digestion.where(user: {base: base}).length %></td>
              <td class=""><%= 
                @shift_monthly_plan.where(user: {base: base}).length -
                @shift_monthly_digestion.where(user: {base: base}).length
              %></td>
              <%# 現状獲得 %>
              <td class="">
                <%= @dmer_monthly.where(user: {base: base}).length %>
              </td>
              <td class="">
                <%= @aupay_monthly.where(user: {base: base}).length %>
              </td>
              <td class="">
                <%= @rakuten_pay_monthly.where(user: {base: base}).length %>
              </td>
              <td class="">
                <%= @airpay_monthly.where(user: {base: base}).length %>
              </td>
              <%# 終着 %>
              <td class=""><%= dmer_base_monthly_fin =  (dmer_base_monthly_ave * @shift_monthly_plan.where(user: {base: base}).length).round() rescue 0 %></td>
              <td class=""><%= aupay_base_monthly_fin =  (aupay_base_monthly_ave * @shift_monthly_plan.where(user: {base: base}).length).round() rescue 0 %></td>
              <td class=""><%= rakuten_pay_base_monthly_fin =  (rakuten_pay_base_monthly_ave * @shift_monthly_plan.where(user: {base: base}).length).round() rescue 0 %></td>
              <td class=""><%= airpay_base_monthly_fin =  (airpay_base_monthly_ave * @shift_monthly_plan.where(user: {base: base}).length).round() rescue 0 %></td>
            </tr>
            <tr class="">
              <td class=""><%= base %>（比較対象）</td>
              <td class=""><%= @comparison_date.beginning_of_month.strftime("%m月%d日") %>〜<%= @comparison_date.strftime("%m月%d日") %></td>
              <td class=""><%= @shift_comparison_plan.where(user: {base: base}).group(:user_id).length %></td>
              <%# シフト %>
              <td class=""><%= @shift_comparison_plan.where(user: {base: base}).length %></td>
              <td class=""><%= @shift_comparison_digestion.where(user: {base: base}).length %></td>
              <td class=""><%= 
                @shift_comparison_plan.where(user: {base: base}).length -
                @shift_comparison_digestion.where(user: {base: base}).length
              %></td>
              <%# 現状獲得 %>
              <td class="">
                <%= @dmer_comparison.where(user: {base: base}).length %>
              </td>
              <td class="">
                <%= @aupay_comparison.where(user: {base: base}).length %>
              </td>
              <td class="">
                <%= @rakuten_pay_comparison.where(user: {base: base}).length %>
              </td>
              <td class="">
                <%= @airpay_comparison.where(user: {base: base}).length %>
              </td>
              <%# 終着 %>
              <td class=""><%= dmer_base_comparison_fin = (dmer_base_comparison_ave * @shift_comparison_plan.where(user: {base: base}).length).round() rescue 0 %></td>
              <td class=""><%= aupay_base_comparison_fin =  (aupay_base_comparison_ave * @shift_comparison_plan.where(user: {base: base}).length).round() rescue 0 %></td>
              <td class=""><%= rakuten_pay_base_comparison_fin =  (rakuten_pay_base_comparison_ave * @shift_comparison_plan.where(user: {base: base}).length).round() rescue 0 %></td>
              <td class=""><%= airpay_base_comparison_fin =  (airpay_base_comparison_ave * @shift_comparison_plan.where(user: {base: base}).length).round() rescue 0 %></td>
            </tr>
            <tr class="difference-tr">
              <td class="" colspan="2">差異</td>
              <td class="<%= "red" if 0 > @shift_monthly_plan.where(user: {base: base}).group(:user_id).length - @shift_comparison_plan.where(user: {base: base}).group(:user_id).length %>">
                <%= @shift_monthly_plan.where(user: {base: base}).group(:user_id).length - @shift_comparison_plan.where(user: {base: base}).group(:user_id).length %>
                </td>
              <%# シフト %>
              <td class="<%= "red" if 0 > @shift_monthly_plan.where(user: {base: base}).length - @shift_comparison_plan.where(user: {base: base}).length %>">
                <%= @shift_monthly_plan.where(user: {base: base}).length - @shift_comparison_plan.where(user: {base: base}).length %>
              </td>
              </td>
              <td class="<%= "red" if 0 > @shift_monthly_digestion.where(user: {base: base}).length - @shift_comparison_digestion.where(user: {base: base}).length %>">
                <%= @shift_monthly_digestion.where(user: {base: base}).length - @shift_comparison_digestion.where(user: {base: base}).length %>
              </td>
              <td class="<%= "red" if 0 > (@shift_comparison_plan.where(user: {base: base}).length - @shift_comparison_digestion.where(user: {base: base}).length) -(@shift_monthly_plan.where(user: {base: base}).length - @shift_monthly_digestion.where(user: {base: base}).length) %>">
                <%= 
                  (@shift_comparison_plan.where(user: {base: base}).length - @shift_comparison_digestion.where(user: {base: base}).length) -(@shift_monthly_plan.where(user: {base: base}).length - @shift_monthly_digestion.where(user: {base: base}).length)
                %>
              </td>
              <%# 現状獲得 %>
              <td class="<%= "red" if 0 > @dmer_monthly.where(user: {base: base}).length - @dmer_comparison.where(user: {base: base}).length %>">
                <%= @dmer_monthly.where(user: {base: base}).length - @dmer_comparison.where(user: {base: base}).length %>
              </td>
              <td class="<%= "red" if 0 > @aupay_monthly.where(user: {base: base}).length - @aupay_comparison.where(user: {base: base}).length %>">
                <%= @aupay_monthly.where(user: {base: base}).length - @aupay_comparison.where(user: {base: base}).length %>
              </td>
              <td class="<%= "red" if 0 > @rakuten_pay_monthly.where(user: {base: base}).length - @rakuten_pay_comparison.where(user: {base: base}).length %>">
                <%= @rakuten_pay_monthly.where(user: {base: base}).length - @rakuten_pay_comparison.where(user: {base: base}).length %>
              </td>
              <td class="<%= "red" if 0 > @airpay_monthly.where(user: {base: base}).length - @airpay_comparison.where(user: {base: base}).length %>">
                <%= @airpay_monthly.where(user: {base: base}).length - @airpay_comparison.where(user: {base: base}).length %>
              </td>
              <%# 終着 %>
              <td class="<%= "red" if 0 > dmer_base_monthly_fin - dmer_base_comparison_fin %>">
                <%= dmer_base_monthly_fin - dmer_base_comparison_fin rescue 0 %>
              </td>
              <td class="<%= "red" if 0 > aupay_base_monthly_fin - aupay_base_comparison_fin %>">
                <%= aupay_base_monthly_fin - aupay_base_comparison_fin rescue 0 %>
              </td>
              <td class="<%= "red" if 0 > rakuten_pay_base_monthly_fin - rakuten_pay_base_comparison_fin %>">
                <%= rakuten_pay_base_monthly_fin - rakuten_pay_base_comparison_fin rescue 0 %>
              </td>
              <td class="<%= "red" if 0 > airpay_base_monthly_fin - airpay_base_comparison_fin %>">
                <%= airpay_base_monthly_fin - airpay_base_comparison_fin rescue 0 %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <p class="caution-text">※獲得数は<%= @month_daily.beginning_of_month %>〜<%= @month_daily.end_of_month %>の範囲で計算されています。</p>
      <%# /現状獲得早見 %>
      <div class="frame" style="display: flex;">
        <div><%# 現状売上早見 %>
          <p class="nav-text"><%= @month_daily.month %>現状売上</p>
          <table>
            <thead>
              <tr class="index-tr">
                <th class="">拠点</th>
                <th class="">予定シフト</th>
                <th class="">消化シフト</th>
                <th class="">残シフト</th>
                <th class="">現状評価売上</th>
                <th class="">現状評価Ave</th>
              </tr>
            </thead>
            <tbody>
            <% bases.each do |base| %>
              <tr class="index-tr">
                <th class=""><%= base %></th>
                <td class=""><%= @shift_monthly.where(shift: "キャッシュレス新規").where(user: {base: base}).length %></td>
                <td class=""><%= @result_monthly.where(shift: "キャッシュレス新規").where(user: {base: base}).length %></td>
                <td class=""><%= 
                  @shift_monthly.where(user: {base: base}).where(shift: "キャッシュレス新規").length -
                  @result_monthly.where(user: {base: base}).where(shift: "キャッシュレス新規").length 
                %></td>
                <td class=""><%= @result_monthly.where(user: {base: base}).sum(:profit).to_s(:delimited) rescue "測定不可" %></td>
                <td class=""><%= (@result_monthly.where(user: {base: base}).sum(:profit) / @result_monthly.where(user: {base: base}).length).round().to_s(:delimited) rescue "測定不可" %></td>
              </tr>
            <% end %>
              <tr class="index-tr">
                <th class="">全拠点</th>
                <td class=""><%= @shift_monthly.length %></td>
                <td class=""><%= @result_monthly.length %></td>
                <td class=""><%= 
                  @shift_monthly.length -
                  @result_monthly.length 
                %></td>
                <td class=""><%= @result_monthly.sum(:profit).to_s(:delimited) rescue "測定不可" %></td>
                <td class=""><%= (@result_monthly.sum(:profit) / @result_monthly.length).round().to_s(:delimited) rescue "測定不可" %></td>
              </tr>
            </tbody>
          </table>
          <p class="caution-text">※売上は<%= @result_monthly.minimum(:date) %>〜<%= @result_monthly.maximum(:date) %>の範囲で計算されています。</p>
        </div><%# /現状売上早見 %>
        <div><%# 現状不備件数 %>
          <p class="nav-text"><%= @month_daily.month %>月不備</p>
          <table>
            <tr class="index-tr">
              <th colspan="4">今月</th>
              <th colspan="3" class="gray">前月</th>
            </tr>
            <tr class="index-tr">
              <th>拠点</th>
              <th>dメル</th>
              <th>auPay</th>
              <th>楽天ペイ</th>
              <th class="gray">dメル</th>
              <th class="gray">auPay</th>
              <th class="gray">楽天ペイ</th>
            </tr>
            <% bases.each do |base| %>
            <tr class="index-tr">
              <td><%= base %></td>
              <td><%= @dmer_def_this_month.where(user: {base: base}).length rescue 0 %></td>
              <td><%= @aupay_def_this_month.where(user: {base: base}).length rescue 0 %></td>
              <td><%= @rakuten_pay_def_this_month.where(user: {base: base}).length rescue 0 %></td>
              <td><%= @dmer_def_prev_month.where(user: {base: base}).length rescue 0 %></td>
              <td><%= @aupay_def_prev_month.where(user: {base: base}).length rescue 0 %></td>
              <td><%= @rakuten_pay_def_prev_month.where(user: {base: base}).length rescue 0 %></td>
            </tr>
            <% end %>
          </table>
        <p class="caution-text">※不備数は<%= @month_daily.beginning_of_month %>〜<%= @month_daily.end_of_month %>の範囲で表示されています。</p>
        <p class="caution-text">（dメル、auPayの複数店は含まれておりません。）</p>
        </div>
      </div>
      <% else %>
          <%# 拠点別利益表 %>
          <%= render "result_parts/valuation_factory" %>
      <% end %>
      <script>
        window.chubu_slmt=<%= @chubu_slmt.to_json.html_safe %>;
        window.kansai_slmt=<%= @kansai_slmt.to_json.html_safe %>;
        window.kanto_slmt=<%= @kanto_slmt.to_json.html_safe %>;
        window.kyushu_slmt=<%= @kyushu_slmt.to_json.html_safe %>;
      </script>
      <%= javascript_pack_tag 'slmt_per' %>
      <article id='slmt_per'><%# 拠点別決済率（Vue.js） %>
      <p class="nav-text">
        <%= @month_daily.month %>月決済率
        <select @change="baseSlct" class="base-val" >
          <option value="chubu-slct">中部SS</option>
          <option value="kansai-slct">関西SS</option>
          <option value="kanto-slct">関東SS</option>
          <option value="kyushu-slct">九州SS</option>
        </select>
      </p>
        <table class="slmt-tb">
          <tr class="index-tr">
            <th rowspan="2">拠点</th>
            <th rowspan="2">氏名</th>
            <th colspan="6">dメル</th>
            <th colspan="6">auPay</th>
          </tr>
          <tr class="index-tr">
            <% 2.times do %>
            <th>当月決済対象</th>
            <th>当月決済完了数</th>
            <th>当月決済完了率</th>
            <th class="gray">過去月決済対象</th>
            <th class="gray">過去月決済完了数</th>
            <th class="gray">過去月決済完了率</th>
            <% end %>
          </tr>
          <tr class="index-tr" v-for="item in baseItems" :key="item">
            <td>{{ item["拠点"] }}</td>
            <td>{{ item["氏名"] }}</td>
            <td>{{ item["dメル当月決済対象"] }}</td>
            <td>{{ item["dメル当月決済完了数"] }}</td>
            <td>{{ item["dメル当月決済完了率"] }}%</td>
            <td>{{ item["dメル過去月決済対象"] }}</td>
            <td>{{ item["dメル過去月決済完了数"] }}</td>
            <td>{{ item["dメル過去月決済完了率"] }}%</td>
            <td>{{ item["auPay当月決済対象"] }}</td>
            <td>{{ item["auPay当月決済完了数"] }}</td>
            <td>{{ item["auPay当月決済完了率"] }}%</td>
            <td>{{ item["auPay過去月決済対象"] }}</td>
            <td>{{ item["auPay過去月決済完了数"] }}</td>
            <td>{{ item["auPay過去月決済完了率"] }}%</td>
          </tr>
          <tr class="difference-tr">
            <td colspan="2">全体</td>
            <td>{{ baseItems.reduce((sum, i) => sum + i['dメル当月決済対象'], 0) }}</td>
            <td>{{ baseItems.reduce((sum, i) => sum + i['dメル当月決済完了数'], 0) }}</td>
            <td>{{ Math.round(baseItems.reduce((sum, i) => sum + i['dメル当月決済完了数'], 0) / baseItems.reduce((sum, i) => sum + i['dメル当月決済対象'], 0) * 100) }}%</td>
            <td>{{ baseItems.reduce((sum, i) => sum + i['dメル過去月決済対象'], 0) }}</td>
            <td>{{ baseItems.reduce((sum, i) => sum + i['dメル過去月決済完了数'], 0) }}</td>
            <td>{{ Math.round(baseItems.reduce((sum, i) => sum + i['dメル過去月決済完了数'], 0) / baseItems.reduce((sum, i) => sum + i['dメル過去月決済対象'], 0) * 100) }}%</td>
            <td>{{ baseItems.reduce((sum, i) => sum + i['auPay当月決済対象'], 0) }}</td>
            <td>{{ baseItems.reduce((sum, i) => sum + i['auPay当月決済完了数'], 0) }}</td>
            <td>{{ Math.round(baseItems.reduce((sum, i) => sum + i['auPay当月決済完了数'], 0) / baseItems.reduce((sum, i) => sum + i['auPay当月決済対象'], 0) * 100) }}%</td>
            <td>{{ baseItems.reduce((sum, i) => sum + i['auPay過去月決済対象'], 0) }}</td>
            <td>{{ baseItems.reduce((sum, i) => sum + i['auPay過去月決済完了数'], 0) }}</td>
            <td>{{ Math.round(baseItems.reduce((sum, i) => sum + i['auPay過去月決済完了数'], 0) / baseItems.reduce((sum, i) => sum + i['auPay過去月決済対象'], 0) * 100) }}%</td>
            </tr>
        </table>
      </article>
        <p class="caution-text">※当月決済率は<%= @month_daily.beginning_of_month %>〜<%= @month_daily.end_of_month %>のものを対象としています。</p>
        <p class="caution-text">※過去月決済は前月以前に獲得したもので決済期限が<%= @month_daily.beginning_of_month %>以降のものを対象としています。</p>
      
      <div class="user-form">
        <div>
        <h2>キャッシュレス利益表（2023年2月以降）</h2>
        <table class="user-tb">
        <% @users_cash.group(:base).each do |base| %>
          <tr class="index-tr">
          <th><%= link_to base.base,base_profit_results_path(base: base.base),class: "reset-link" %></th>
          <% @users_cash.where(base: base.base).each do |user| %>
          <td><%= link_to user.name, result_path(user.id),"data-turbolinks": false, class: "link" %></td>
          <% end %>
          </tr>
        <% end %>
        </table>
          <%= link_to "日々獲得内容確認",date_progress_results_path,class: "link" %>
        <hr>
        <h2>キャッシュレス利益表（2023年1月以前）</h2>
        <table class="user-tb">
        <% @users_cash.group(:base).each do |base| %>
          <tr class="index-tr">
          <th class=""><%= base.base %></th>
          <% @users_cash.where(base: base.base).each do |user| %>
          <td><%= link_to user.name, user_path(user.id,month: Date.new(2023,1,1)),"data-turbolinks": false, class: "link" %></td>
          <% end %>
          </tr>
        <% end %>
        </table>
        <span class="red">※こちらの利益表は前月26日〜当月25日で計算をしております。</span>
        </div>
      </div>
    </div>
  </div>
</div>