<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>利益表</h1>
  <%= render "shared/header" %>
</div>
  <div style="display:flex;">
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div class="main">
    <div data-scope-path="shares/index">
      <%= render "shared/result_links" %>
    </div>
    <div data-scope-path="results/index">
    <hr>
      <div class="nav-text" style="color: red;"><%= alert %></div>
        <div>
          <h2 class="">
            <%= link_to "<<",results_path(month: @month.prev_month),"data-turbolinks": false, class:"link" %>
            <%= @month.strftime("%Y年%m月") %>（<%= days[@month.wday] %>）
            <%= link_to ">>",results_path(month: @month.next_month),"data-turbolinks": false, class:"link" %>
          </h2>
        </div>
      <div class="user-form">
        <%= render_async user_list_path(month: @month) %>
      </div>
    </div>
  </div>
</div>