<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>利益表SS</h1>
  <%= render "shared/header" %>
</div>
  <div style="display:flex;">
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div class="main">
    <div data-scope-path="results/index">
      <%# 検索フォーム %>
      <p class="nav-text">こちらから確認したい情報を絞り込んでください</p>
      <%= search_form_for @q do |f| %>
        <table >
          <tr >
            <th class="search-th" colspan="">獲得月</th>
            <th class="search-th" colspan="">獲得期間（始）</th>
            <th class="search-th" colspan="">獲得期間（終）</th>
          </tr>
          <tr>
            <td class="search-td"><%= f.date_select :date_during_month, {discard_day: true,prompt: "--"},{class: "date-input"} %></td>
            <td><%= f.date_field :date_gteq, class: "input" %></td>
            <td><%= f.date_field :date_lteq, class: "input" %></td>
          <tr>
          </tr>
        </table>
        <table >
          <tr>
            <th class="search-th">拠点</th>
            <th class="search-th">担当商材</th>
            <th class="search-th">グループ①</th>
            <th class="search-th">グループ②</th>
            <th class="search-th">訪問員</th>
            <th class="search-th">獲得商材</th>
            <td class="result"><%= f.submit "絞込み",data: {"turbolinks" => false, disable_with: "絞込み中"} , class: "result-btn" %></td>
          </tr>
          <tr>
            <td class="search-td"><%= f.select :user_base_eq, options_from_collection_for_select(User.where.not(base: "中部N").where.not(base: "関西N").where.not(position: "退職").select(:base).distinct, :base, :base), {prompt: "全拠点"},{class: "input"} %></td>
            <td class="search-td"><%= f.select :user_base_sub_eq, options_from_collection_for_select(User.where.not(base: "中部N").where.not(base: "関西N").where.not(position: "退職").select(:base_sub).distinct, :base_sub, :base_sub), {prompt: "全て選択"},{class: "input"} %></td>
            <td class="search-td"><%= f.text_field :user_group_cont, class: "input" %></td>
            <td class="search-td"><%= f.text_field :user_team_cont, class: "input" %></td>
            <td class="search-td"><%= f.text_field :user_name_cont, class: "input" %></td>
            <td class="search-td"><%= f.select :shift_cont, { "キャッシュレス": "キャッシュレス", "サミット": "サミット", "楽天フェムト": "楽天フェムト" }, {include_blank: true,prompt: "全商材"},{class: "input"} %></td>
            <td class="reset"><%= link_to "絞込みリセット", results_path, class: "reset-link" %></td>
          </tr>
        </table>
      <% end %>
      <%# /検索フォーム %>
      <hr>
      <% if @results.empty? %>
      <p class="caution-text">※検索対象が複数人いる場合は複数の利益表が表示されます。</p>
      <% if current_user.position == "権限①" %>
        <h2>利益表（基準値）インポート</h2>
        <%= form_with url: import_results_path do |f| %>
          <table class="csv-tb">
            <tr>
              <td class=""><%= f.file_field :file, accept: ".csv", class: "input" %></td>
              <td class="result"><%= f.submit  "インポート", class: "result-btn",data: { confirm: 'インポートしますか？',disable_with: "インポート中" } %></td>
            </tr>
          </table>
        <% end %>
        <h2>利益表（切り返し）インポート</h2>
        <%= form_with url: import_result_cashes_path do |f| %>
          <table class="csv-tb">
            <tr>
              <td class=""><%= f.file_field :file, accept: ".csv", class: "input" %></td>
              <td class="result"><%= f.submit  "インポート", class: "result-btn",data: { confirm: 'インポートしますか？',disable_with: "インポート中" } %></td>
            </tr>
          </table>
        <% end %>
      <h2><%= link_to "<<",results_path(month:@month_daily.yesterday), class:"link" %>
          <%= link_to "前月",results_path(month:@month_daily.prev_month), class:"link" %>
          <%= @month_daily.year %>年<%= @month_daily.month %>月<%= @month_daily.day %>日進捗（<%= days[@month_daily.wday] %>）
          <%= link_to "来月",results_path(month:@month_daily.next_month), class:"link" %>
          <%= link_to ">>",results_path(month:@month_daily.tomorrow), class:"link" %>
      </h2>
        <%# 前日 %>
        <% date_progress = [@result_yesterday,@result_month,@result_last_month] %>
        <table>
          <thead>
            <tr>
              <th rowspan="2" >拠点</th>
              <th rowspan="2">営業人数</th>
              <th rowspan="2">予定シフト</th>
              <th rowspan="2">消化シフト</th>
              <th rowspan="2">2回目決済実売合計</th>
              <th rowspan="2">2回目決済実売Ave</th>
              <% if @result_yesterday.present? %>
                <th colspan="3"><%= @result_yesterday.maximum(:date).month %>月<%= @result_yesterday.maximum(:date).day %>日（<%= days[@result_yesterday.maximum(:date).wday] %>）</th>
              <% else %>
                <th colspan="3">データがありません</th>
              <% end %>
              <% if @result_yesterday.present? %>
                <th colspan="3"><%= @result_month.maximum(:date).month %>月<%= @result_month.maximum(:date).day %>日（<%= days[@result_month.maximum(:date).wday] %>）</th>
              <% else %>
                <th colspan="3">データがありません</th>
              <% end %>
              <th colspan="3">Ave実売　前日比</th>
              <% if @result_last_month.present? %>
                <th colspan="4"><%= @result_last_month.maximum(:date).month %>月結果前月比</th>
              <% else %>
                <th colspan="4">データがありません</th>
              <% end %>
            </tr>
            <tr>
              <% date_progress.each do |r| %>
              <th>評価Ave</th>
              <th>実売Ave</th>
              <th>実売終着見込</th>
              <% end %>
              <th>実売Ave</th>
              <th>前月比</th>
              <th>実売終着</th>
              <th>前月比</th>
            </tr>
          </thead>
          <tbody>
          <%# 中部キャッシュ %>
            <tr>
              <th>中部キャッシュ</th>
              <td><%=
                  @result_month.where(user: {base: "中部SS"})
                  .where(user: {base_sub: "キャッシュレス"}).group(:user_id).length
              %>人</td>
              <td><%= chubu_shift_plan =
                  @shift_month.where(user: {base: "中部SS"}).where(shift: "キャッシュレス新規").length +
                  @shift_month.where(user: {base: "中部SS"}).where(shift: "キャッシュレス決済").length
              %></td><%# 予定シフト %>
              <td><%= chubu_shift_real =
                  @result_month.where(user: {base: "中部SS"}).where(shift: "キャッシュレス新規").length +
                  @result_month.where(user: {base: "中部SS"}).where(shift: "キャッシュレス決済").length
              %></td>
              <%# 2回目決済の変数 %>
                <%
                dmer_slmt2nd_p_sum = @dmer_2ndslmt_month.where(user: {base: "中部SS"})
                .where(settlement_second: @result_month.minimum(:date)..@result_month.maximum(:date))
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit_second_settlement) 
                %>
              <td><%= dmer_slmt2nd_p_sum.to_s(:delimited) %></td><%# 2回目決済実売の合計 %>
              <td><%= (dmer_slmt2nd_p_sum / chubu_shift_real).to_s(:delimited) rescue "NaN" %></td><%# 2回目決済実売のAve %>
              <%# 空の変数 %>
                <% chubu_v_sum = 0 %>
                <% chubu_p_sum = 0 %>
                <% chubu_shift_now = 0 %>
                <% today_v_ave = 0 %>
                <% today_p_ave = 0 %>
                <% today_p_fin = 0 %>
                <% yesterday_v_ave = 0 %>
                <% yesterday_p_ave = 0 %>
                <% yesterday_p_fin = 0 %>
                <% last_month_v_ave = 0 %>
                <% last_month_p_ave = 0 %>
                <% last_month_p_fin = 0 %>
                <% cnt = 0 %>
            <% date_progress.each do |r| %>
              <%# 当日の消化シフト数を総合消化シフトに代入 %>
                <%
                  chubu_shift_now =
                    r.where(user: {base: "中部SS"})
                    .where(shift: "キャッシュレス新規").length +
                    r.where(user: {base: "中部SS"})
                    .where(shift: "キャッシュレス決済").length
                %>
              <%# 各商材の当日の合計評価売 %>
                <%
                dmer_date_v_sum = @dmer_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "中部SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:valuation_new) 
                %>
                <%
                dmer_slmt_date_v_sum = @dmer_month
                .where(settlement: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "中部SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:valuation_settlement) 
                %>
                <%
                aupay_date_v_sum = @aupay_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "中部SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:valuation_new) 
                %>
                <%
                aupay_slmt_date_v_sum = @aupay_month
                .where(settlement: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "中部SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:valuation_settlement) 
                %>
                <%
                paypay_date_v_sum = @paypay_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "中部SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:valuation)
                %>
                <%
                rakuten_pay_date_v_sum = @rakuten_pay_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "中部SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:valuation) 
                %>
              <%# 各商材の当日の合計実売 %>
                <%
                dmer_date_p_sum = @dmer_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "中部SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit_new) 
                %>
                <%
                dmer_slmt_date_p_sum = @dmer_month
                .where(settlement: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "中部SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit_settlement) 
                %>
                <%
                aupay_date_p_sum = @aupay_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "中部SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit_new) 
                %>
                <%
                aupay_slmt_date_p_sum = @aupay_month
                .where(settlement: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "中部SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit_settlement) 
                %>
                <%
                paypay_date_p_sum = @paypay_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "中部SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit)
                %>
                <%
                rakuten_pay_date_p_sum = @rakuten_pay_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "中部SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit) 
                %>
              <%# 当日の合計売上を累計売上に代入 %>
                <% 
                  chubu_v_sum = 
                    dmer_date_v_sum + dmer_slmt_date_v_sum + aupay_date_v_sum + aupay_slmt_date_v_sum + 
                    paypay_date_v_sum + rakuten_pay_date_v_sum 
                %>
                <% 
                  daily_v_ave = chubu_v_sum / chubu_shift_now rescue 0
                %>
                <% 
                  chubu_p_sum = 
                    dmer_date_p_sum + dmer_slmt_date_p_sum + aupay_date_v_sum + aupay_slmt_date_p_sum + 
                    paypay_date_p_sum + rakuten_pay_date_p_sum
                %>
                <% 
                  daily_p_ave = chubu_p_sum / chubu_shift_now rescue 0
                %>
                <% daily_p_fin = daily_p_ave * chubu_shift_plan %>
                <%# 当日のAveと売上を代入する %>
                <% if cnt == 0 %>
                  <% yesterday_v_ave = daily_v_ave %>
                  <% yesterday_p_ave = daily_p_ave %>
                  <% yesterday_p_fin = daily_p_fin + dmer_slmt2nd_p_sum %>
                  <% cnt += 1 %>
                <% elsif cnt == 1 %>
                  <% today_v_ave = daily_v_ave %>
                  <% today_p_ave = daily_p_ave %>
                  <% today_p_fin = daily_p_fin + dmer_slmt2nd_p_sum %>
                  <% cnt += 1 %>
                <% elsif cnt == 2 %>
                  <% 
                    last_month_shift = 
                      @result_last_month.where(user: {base: "中部SS"}).where(shift: "キャッシュレス新規").length +
                      @result_last_month.where(user: {base: "中部SS"}).where(shift: "キャッシュレス決済").length
                  %>
                  <% last_month_p_ave = chubu_p_sum / last_month_shift rescue 0 %>
                  <% last_month_p_fin = chubu_p_sum + dmer_slmt2nd_p_sum %>
                  <% cnt = 0 %>
                <% end %>
            <% end %>
              <td><%= yesterday_v_ave.to_s(:delimited) %></td><%# 評価売のAve %>
              <td><%= yesterday_p_ave.to_s(:delimited) %></td><%# 実売のAve %>
              <td><%= yesterday_p_fin.to_s(:delimited) %></td><%# 実売の終着見込 %>
              <td><%= today_v_ave.to_s(:delimited) %></td><%# 評価売のAve %>
              <td><%= today_p_ave.to_s(:delimited) %></td><%# 実売のAve %>
              <td><%= today_p_fin.to_s(:delimited) %></td><%# 実売の終着見込 %>
              <%# 前日比 %>
              <% if yesterday_v_ave > today_v_ave %>
              <td style="color:red;"><%= (today_v_ave - yesterday_v_ave).to_s(:delimited) %></td><%# 前日比 評価売のAve %>
              <% else %>
              <td style="color:blue;"><%= (today_v_ave - yesterday_v_ave).to_s(:delimited) %></td><%# 前日比 評価売のAve %>
              <% end %>
              <% if yesterday_p_ave > today_p_ave %>
              <td style="color:red;"><%= (today_p_ave - yesterday_p_ave).to_s(:delimited) %></td><%# 前日比 実売のAve %>
              <% else %>
              <td style="color:blue;"><%= (today_p_ave - yesterday_p_ave).to_s(:delimited) %></td><%# 前日比 実売のAve %>
              <% end %>
              <% if yesterday_p_fin > today_p_fin %>
              <td style="color:red;"><%= (today_p_fin - yesterday_p_fin).to_s(:delimited) %></td><%# 前日比 実売の終着見込 %>
              <% else %>
              <td><%= (today_p_fin - yesterday_p_fin).to_s(:delimited) %></td><%# 前日比 実売の終着見込 %>
              <% end %>
              <%# 前月比 %>
              <td ><%= last_month_p_ave.to_s(:delimited) %></td><%# 前月実売Ave %>
              <% if last_month_p_ave > today_p_ave %>
              <td style="color:red;"><%= (today_p_ave - last_month_p_ave).to_s(:delimited) %></td><%# 前日比 実売のAve %>
              <% else %>
              <td style="color:blue;"><%= (today_p_ave - last_month_p_ave).to_s(:delimited) %></td><%# 前日比 実売のAve %>
              <% end %>
              <td ><%= last_month_p_fin.to_s(:delimited) %></td><%# 前月実売終着 %>
              <% if last_month_p_fin > today_p_fin %>
              <td style="color:red;"><%= (today_p_fin - last_month_p_fin).to_s(:delimited) %></td><%# 前日比 実売の終着見込 %>
              <% else %>
              <td style="color:blue;"><%= (today_p_fin - last_month_p_fin).to_s(:delimited) %></td><%# 前日比 実売の終着見込 %>
              <% end %>
            </tr>
          <%# 関西キャッシュ %>
            <tr>
              <th>関西キャッシュ</th>
              <td><%=
                  @result_month.where(user: {base: "関西SS"})
                  .where(user: {base_sub: "キャッシュレス"}).group(:user_id).length
              %>人</td>
              <td><%= kansai_shift_plan =
                  @shift_month.where(user: {base: "関西SS"}).where(shift: "キャッシュレス新規").length +
                  @shift_month.where(user: {base: "関西SS"}).where(shift: "キャッシュレス決済").length
              %></td><%# 予定シフト %>
              <td><%= kansai_shift_real =
                  @result_month.where(user: {base: "関西SS"}).where(shift: "キャッシュレス新規").length +
                  @result_month.where(user: {base: "関西SS"}).where(shift: "キャッシュレス決済").length
              %></td>
              <%# 2回目決済の変数 %>
                <%
                dmer_slmt2nd_p_sum = @dmer_2ndslmt_month.where(user: {base: "関西SS"})
                .where(settlement_second: @result_month.minimum(:date)..@result_month.maximum(:date))
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit_second_settlement) 
                %>
              <td><%= dmer_slmt2nd_p_sum.to_s(:delimited) %></td><%# 2回目決済実売の合計 %>
              <td><%= (dmer_slmt2nd_p_sum / kansai_shift_real).to_s(:delimited) rescue "NaN" %></td><%# 2回目決済実売のAve %>
              <%# 空の変数 %>
                <% kansai_v_sum = 0 %>
                <% kansai_p_sum = 0 %>
                <% kansai_shift_now = 0 %>
                <% today_v_ave = 0 %>
                <% today_p_ave = 0 %>
                <% today_p_fin = 0 %>
                <% yesterday_v_ave = 0 %>
                <% yesterday_p_ave = 0 %>
                <% yesterday_p_fin = 0 %>
                <% last_month_v_ave = 0 %>
                <% last_month_p_ave = 0 %>
                <% last_month_p_fin = 0 %>
                <% cnt = 0 %>
            <% date_progress.each do |r| %>
              <%# 当日の消化シフト数を総合消化シフトに代入 %>
                <%
                  kansai_shift_now =
                    r.where(user: {base: "関西SS"})
                    .where(shift: "キャッシュレス新規").length +
                    r.where(user: {base: "関西SS"})
                    .where(shift: "キャッシュレス決済").length
                %>
              <%# 各商材の当日の合計評価売 %>
                <%
                dmer_date_v_sum = @dmer_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "関西SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:valuation_new) 
                %>
                <%
                dmer_slmt_date_v_sum = @dmer_month
                .where(settlement: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "関西SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:valuation_settlement) 
                %>
                <%
                aupay_date_v_sum = @aupay_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "関西SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:valuation_new) 
                %>
                <%
                aupay_slmt_date_v_sum = @aupay_month
                .where(settlement: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "関西SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:valuation_settlement) 
                %>
                <%
                paypay_date_v_sum = @paypay_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "関西SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:valuation)
                %>
                <%
                rakuten_pay_date_v_sum = @rakuten_pay_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "関西SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:valuation) 
                %>
              <%# 各商材の当日の合計実売 %>
                <%
                dmer_date_p_sum = @dmer_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "関西SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit_new) 
                %>
                <%
                dmer_slmt_date_p_sum = @dmer_month
                .where(settlement: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "関西SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit_settlement) 
                %>
                <%
                aupay_date_p_sum = @aupay_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "関西SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit_new) 
                %>
                <%
                aupay_slmt_date_p_sum = @aupay_month
                .where(settlement: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "関西SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit_settlement) 
                %>
                <%
                paypay_date_p_sum = @paypay_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "関西SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit)
                %>
                <%
                rakuten_pay_date_p_sum = @rakuten_pay_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "関西SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit) 
                %>
              <%# 当日の合計売上を累計売上に代入 %>
                <% 
                  kansai_v_sum = 
                    dmer_date_v_sum + dmer_slmt_date_v_sum + aupay_date_v_sum + aupay_slmt_date_v_sum + 
                    paypay_date_v_sum + rakuten_pay_date_v_sum 
                %>
                <% 
                  daily_v_ave = kansai_v_sum / kansai_shift_now rescue 0
                %>
                <% 
                  kansai_p_sum = 
                    dmer_date_p_sum + dmer_slmt_date_p_sum + aupay_date_v_sum + aupay_slmt_date_p_sum + 
                    paypay_date_p_sum + rakuten_pay_date_p_sum
                %>
                <% 
                  daily_p_ave = kansai_p_sum / kansai_shift_now rescue 0
                %>
                <% daily_p_fin = daily_p_ave * kansai_shift_plan %>
                <%# 当日のAveと売上を代入する %>
                <% if cnt == 0 %>
                  <% yesterday_v_ave = daily_v_ave %>
                  <% yesterday_p_ave = daily_p_ave %>
                  <% yesterday_p_fin = daily_p_fin + dmer_slmt2nd_p_sum %>
                  <% cnt += 1 %>
                <% elsif cnt == 1 %>
                  <% today_v_ave = daily_v_ave %>
                  <% today_p_ave = daily_p_ave %>
                  <% today_p_fin = daily_p_fin + dmer_slmt2nd_p_sum %>
                  <% cnt += 1 %>
                <% elsif cnt == 2 %>
                  <% 
                    last_month_shift = 
                      @result_last_month.where(user: {base: "関西SS"}).where(shift: "キャッシュレス新規").length +
                      @result_last_month.where(user: {base: "関西SS"}).where(shift: "キャッシュレス決済").length
                  %>
                  <% last_month_p_ave = kansai_p_sum / last_month_shift rescue 0 %>
                  <% last_month_p_fin = kansai_p_sum + dmer_slmt2nd_p_sum %>
                  <% cnt = 0 %>
                <% end %>
            <% end %>
              <td><%= yesterday_v_ave.to_s(:delimited) %></td><%# 評価売のAve %>
              <td><%= yesterday_p_ave.to_s(:delimited) %></td><%# 実売のAve %>
              <td><%= yesterday_p_fin.to_s(:delimited) %></td><%# 実売の終着見込 %>
              <td><%= today_v_ave.to_s(:delimited) %></td><%# 評価売のAve %>
              <td><%= today_p_ave.to_s(:delimited) %></td><%# 実売のAve %>
              <td><%= today_p_fin.to_s(:delimited) %></td><%# 実売の終着見込 %>
              <%# 前日比 %>
              <% if yesterday_v_ave > today_v_ave %>
              <td style="color:red;"><%= (today_v_ave - yesterday_v_ave).to_s(:delimited) %></td><%# 前日比 評価売のAve %>
              <% else %>
              <td style="color:blue;"><%= (today_v_ave - yesterday_v_ave).to_s(:delimited) %></td><%# 前日比 評価売のAve %>
              <% end %>
              <% if yesterday_p_ave > today_p_ave %>
              <td style="color:red;"><%= (today_p_ave - yesterday_p_ave).to_s(:delimited) %></td><%# 前日比 実売のAve %>
              <% else %>
              <td style="color:blue;"><%= (today_p_ave - yesterday_p_ave).to_s(:delimited) %></td><%# 前日比 実売のAve %>
              <% end %>
              <% if yesterday_p_fin > today_p_fin %>
              <td style="color:red;"><%= (today_p_fin - yesterday_p_fin).to_s(:delimited)  %></td><%# 前日比 実売の終着見込 %>
              <% else %>
              <td><%= (today_p_fin - yesterday_p_fin).to_s(:delimited) %></td><%# 前日比 実売の終着見込 %>
              <% end %>
              <%# 前月比 %>
              <td ><%= last_month_p_ave.to_s(:delimited) %></td><%# 前月実売Ave %>
              <% if last_month_p_ave > today_p_ave %>
              <td style="color:red;"><%= (today_p_ave - last_month_p_ave).to_s(:delimited) %></td><%# 前日比 実売のAve %>
              <% else %>
              <td style="color:blue;"><%= (today_p_ave - last_month_p_ave).to_s(:delimited) %></td><%# 前日比 実売のAve %>
              <% end %>
              <td ><%= last_month_p_fin.to_s(:delimited) %></td><%# 前月実売終着 %>
              <% if last_month_p_fin > today_p_fin %>
              <td style="color:red;"><%= (today_p_fin - last_month_p_fin).to_s(:delimited) %></td><%# 前日比 実売の終着見込 %>
              <% else %>
              <td style="color:blue;"><%= (today_p_fin - last_month_p_fin).to_s(:delimited) %></td><%# 前日比 実売の終着見込 %>
              <% end %>
            </tr>
          <%# 関東キャッシュ %>
            <tr>
              <th>関東キャッシュ</th>
              <td><%=
                  @result_month.where(user: {base: "関東SS"})
                  .where(user: {base_sub: "キャッシュレス"}).group(:user_id).length
              %>人</td>
              <td><%= kanto_shift_plan =
                  @shift_month.where(user: {base: "関東SS"}).where(shift: "キャッシュレス新規").length +
                  @shift_month.where(user: {base: "関東SS"}).where(shift: "キャッシュレス決済").length
              %></td><%# 予定シフト %>
              <td><%= kanto_shift_real =
                  @result_month.where(user: {base: "関東SS"}).where(shift: "キャッシュレス新規").length +
                  @result_month.where(user: {base: "関東SS"}).where(shift: "キャッシュレス決済").length
              %></td>
              <%# 2回目決済の変数 %>
                <%
                dmer_slmt2nd_p_sum = @dmer_2ndslmt_month.where(user: {base: "関東SS"})
                .where(settlement_second: @result_month.minimum(:date)..@result_month.maximum(:date))
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit_second_settlement) 
                %>
              <td><%= dmer_slmt2nd_p_sum.to_s(:delimited) %></td><%# 2回目決済実売の合計 %>
              <td><%= (dmer_slmt2nd_p_sum / kanto_shift_real).to_s(:delimited) rescue "NaN" %></td><%# 2回目決済実売のAve %>
              <%# 空の変数 %>
                <% kanto_v_sum = 0 %>
                <% kanto_p_sum = 0 %>
                <% kanto_shift_now = 0 %>
                <% today_v_ave = 0 %>
                <% today_p_ave = 0 %>
                <% today_p_fin = 0 %>
                <% yesterday_v_ave = 0 %>
                <% yesterday_p_ave = 0 %>
                <% yesterday_p_fin = 0 %>
                <% last_month_v_ave = 0 %>
                <% last_month_p_ave = 0 %>
                <% last_month_p_fin = 0 %>
                <% cnt = 0 %>
            <% date_progress.each do |r| %>
              <%# 当日の消化シフト数を総合消化シフトに代入 %>
                <%
                  kanto_shift_now =
                    r.where(user: {base: "関東SS"})
                    .where(shift: "キャッシュレス新規").length +
                    r.where(user: {base: "関東SS"})
                    .where(shift: "キャッシュレス決済").length
                %>
              <%# 各商材の当日の合計評価売 %>
                <%
                dmer_date_v_sum = @dmer_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "関東SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:valuation_new) 
                %>
                <%
                dmer_slmt_date_v_sum = @dmer_month
                .where(settlement: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "関東SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:valuation_settlement) 
                %>
                <%
                aupay_date_v_sum = @aupay_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "関東SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:valuation_new) 
                %>
                <%
                aupay_slmt_date_v_sum = @aupay_month
                .where(settlement: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "関東SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:valuation_settlement) 
                %>
                <%
                paypay_date_v_sum = @paypay_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "関東SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:valuation)
                %>
                <%
                rakuten_pay_date_v_sum = @rakuten_pay_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "関東SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:valuation) 
                %>
              <%# 各商材の当日の合計実売 %>
                <%
                dmer_date_p_sum = @dmer_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "関東SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit_new) 
                %>
                <%
                dmer_slmt_date_p_sum = @dmer_month
                .where(settlement: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "関東SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit_settlement) 
                %>
                <%
                aupay_date_p_sum = @aupay_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "関東SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit_new) 
                %>
                <%
                aupay_slmt_date_p_sum = @aupay_month
                .where(settlement: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "関東SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit_settlement) 
                %>
                <%
                paypay_date_p_sum = @paypay_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "関東SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit)
                %>
                <%
                rakuten_pay_date_p_sum = @rakuten_pay_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base: "関東SS"})
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit) 
                %>
              <%# 当日の合計売上を累計売上に代入 %>
                <% 
                  kanto_v_sum = 
                    dmer_date_v_sum + dmer_slmt_date_v_sum + aupay_date_v_sum + aupay_slmt_date_v_sum + 
                    paypay_date_v_sum + rakuten_pay_date_v_sum 
                %>
                <% 
                  daily_v_ave = kanto_v_sum / kanto_shift_now rescue 0
                %>
                <% 
                  kanto_p_sum = 
                    dmer_date_p_sum + dmer_slmt_date_p_sum + aupay_date_v_sum + aupay_slmt_date_p_sum + 
                    paypay_date_p_sum + rakuten_pay_date_p_sum
                %>
                <% 
                  daily_p_ave = kanto_p_sum / kanto_shift_now rescue 0
                %>
                <% daily_p_fin = daily_p_ave * kanto_shift_plan %>
                <%# 当日のAveと売上を代入する %>
                <% if cnt == 0 %>
                  <% yesterday_v_ave = daily_v_ave %>
                  <% yesterday_p_ave = daily_p_ave %>
                  <% yesterday_p_fin = daily_p_fin + dmer_slmt2nd_p_sum %>
                  <% cnt += 1 %>
                <% elsif cnt == 1 %>
                  <% today_v_ave = daily_v_ave %>
                  <% today_p_ave = daily_p_ave %>
                  <% today_p_fin = daily_p_fin + dmer_slmt2nd_p_sum %>
                  <% cnt += 1 %>
                <% elsif cnt == 2 %>
                  <% 
                    last_month_shift = 
                      @result_last_month.where(user: {base: "関東SS"}).where(shift: "キャッシュレス新規").length +
                      @result_last_month.where(user: {base: "関東SS"}).where(shift: "キャッシュレス決済").length
                  %>
                  <% last_month_p_ave = kanto_p_sum / last_month_shift rescue 0 %>
                  <% last_month_p_fin = kanto_p_sum + dmer_slmt2nd_p_sum %>
                  <% cnt = 0 %>
                <% end %>
            <% end %>
              <td><%= yesterday_v_ave.to_s(:delimited) %></td><%# 評価売のAve %>
              <td><%= yesterday_p_ave.to_s(:delimited) %></td><%# 実売のAve %>
              <td><%= yesterday_p_fin.to_s(:delimited) %></td><%# 実売の終着見込 %>
              <td><%= today_v_ave.to_s(:delimited) %></td><%# 評価売のAve %>
              <td><%= today_p_ave.to_s(:delimited) %></td><%# 実売のAve %>
              <td><%= today_p_fin.to_s(:delimited) %></td><%# 実売の終着見込 %>
              <%# 前日比 %>
              <% if yesterday_v_ave > today_v_ave %>
              <td style="color:red;"><%= (today_v_ave - yesterday_v_ave).to_s(:delimited) %></td><%# 前日比 評価売のAve %>
              <% else %>
              <td style="color:blue;"><%= (today_v_ave - yesterday_v_ave).to_s(:delimited) %></td><%# 前日比 評価売のAve %>
              <% end %>
              <% if yesterday_p_ave > today_p_ave %>
              <td style="color:red;"><%= (today_p_ave - yesterday_p_ave).to_s(:delimited) %></td><%# 前日比 実売のAve %>
              <% else %>
              <td style="color:blue;"><%= (today_p_ave - yesterday_p_ave).to_s(:delimited) %></td><%# 前日比 実売のAve %>
              <% end %>
              <% if yesterday_p_fin > today_p_fin %>
              <td style="color:red;"><%= (today_p_fin - yesterday_p_fin).to_s(:delimited) %></td><%# 前日比 実売の終着見込 %>
              <% else %>
              <td><%= (today_p_fin - yesterday_p_fin).to_s(:delimited) %></td><%# 前日比 実売の終着見込 %>
              <% end %>
              <%# 前月比 %>
              <td ><%= last_month_p_ave.to_s(:delimited) %></td><%# 前月実売Ave %>
              <% if last_month_p_ave > today_p_ave %>
              <td style="color:red;"><%= (today_p_ave - last_month_p_ave).to_s(:delimited) %></td><%# 前日比 実売のAve %>
              <% else %>
              <td style="color:blue;"><%= (today_p_ave - last_month_p_ave).to_s(:delimited) %></td><%# 前日比 実売のAve %>
              <% end %>
              <td ><%= last_month_p_fin.to_s(:delimited) %></td><%# 前月実売終着 %>
              <% if last_month_p_fin > today_p_fin %>
              <td style="color:red;"><%= (today_p_fin - last_month_p_fin).to_s(:delimited) %></td><%# 前日比 実売の終着見込 %>
              <% else %>
              <td style="color:blue;"><%= (today_p_fin - last_month_p_fin).to_s(:delimited) %></td><%# 前日比 実売の終着見込 %>
              <% end %>
            </tr>
          <%# キャッシュ合計 %>
            <tr>
              <th>キャッシュ合計</th>
              <td><%=
                  @result_month
                  .where(user: {base_sub: "キャッシュレス"}).group(:user_id).length
              %>人</td>
              <td><%= cash_shift_plan =
                  @shift_month.where(shift: "キャッシュレス新規").length +
                  @shift_month.where(shift: "キャッシュレス決済").length
              %></td><%# 予定シフト %>
              <td><%= cash_shift_real =
                  @result_month.where(shift: "キャッシュレス新規").length +
                  @result_month.where(shift: "キャッシュレス決済").length
              %></td>
              <%# 2回目決済の変数 %>
                <%
                dmer_slmt2nd_p_sum = @dmer_2ndslmt_month
                .where(settlement_second: @result_month.minimum(:date)..@result_month.maximum(:date))
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit_second_settlement) 
                %>
              <td><%= dmer_slmt2nd_p_sum.to_s(:delimited) %></td><%# 2回目決済実売の合計 %>
              <td><%= (dmer_slmt2nd_p_sum / cash_shift_real).to_s(:delimited) rescue "NaN" %></td><%# 2回目決済実売のAve %>
              <%# 空の変数 %>
                <% cash_v_sum = 0 %>
                <% cash_p_sum = 0 %>
                <% cash_shift_now = 0 %>
                <% today_v_ave = 0 %>
                <% today_p_ave = 0 %>
                <% today_p_fin = 0 %>
                <% yesterday_v_ave = 0 %>
                <% yesterday_p_ave = 0 %>
                <% yesterday_p_fin = 0 %>
                <% last_month_v_ave = 0 %>
                <% last_month_p_ave = 0 %>
                <% last_month_p_fin = 0 %>
                <% cnt = 0 %>
            <% date_progress.each do |r| %>
              <%# 当日の消化シフト数を総合消化シフトに代入 %>
                <%
                  cash_shift_now =
                    r.where(shift: "キャッシュレス新規").length +
                    r.where(shift: "キャッシュレス決済").length
                %>
              <%# 各商材の当日の合計評価売 %>
                <%
                dmer_date_v_sum = @dmer_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base_sub: "キャッシュレス"}).sum(:valuation_new) 
                %>
                <%
                dmer_slmt_date_v_sum = @dmer_month
                .where(settlement: r.minimum(:date)..r.maximum(:date))
                .where(user: {base_sub: "キャッシュレス"}).sum(:valuation_settlement) 
                %>
                <%
                aupay_date_v_sum = @aupay_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base_sub: "キャッシュレス"}).sum(:valuation_new) 
                %>
                <%
                aupay_slmt_date_v_sum = @aupay_month
                .where(settlement: r.minimum(:date)..r.maximum(:date))
                .where(user: {base_sub: "キャッシュレス"}).sum(:valuation_settlement) 
                %>
                <%
                paypay_date_v_sum = @paypay_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base_sub: "キャッシュレス"}).sum(:valuation)
                %>
                <%
                rakuten_pay_date_v_sum = @rakuten_pay_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base_sub: "キャッシュレス"}).sum(:valuation) 
                %>
              <%# 各商材の当日の合計実売 %>
                <%
                dmer_date_p_sum = @dmer_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit_new)
                %>
                <%
                dmer_slmt_date_p_sum = @dmer_month
                .where(settlement: r.minimum(:date)..r.maximum(:date))
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit_settlement) 
                %>
                <%
                aupay_date_p_sum = @aupay_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit_new) 
                %>
                <%
                aupay_slmt_date_p_sum = @aupay_month
                .where(settlement: r.minimum(:date)..r.maximum(:date))
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit_settlement) 
                %>
                <%
                paypay_date_p_sum = @paypay_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit)
                %>
                <%
                rakuten_pay_date_p_sum = @rakuten_pay_month
                .where(date: r.minimum(:date)..r.maximum(:date))
                .where(user: {base_sub: "キャッシュレス"}).sum(:profit) 
                %>
              <%# 当日の合計売上を累計売上に代入 %>
                <% 
                  cash_v_sum = 
                    dmer_date_v_sum + dmer_slmt_date_v_sum + aupay_date_v_sum + aupay_slmt_date_v_sum + 
                    paypay_date_v_sum + rakuten_pay_date_v_sum 
                %>
                <% 
                  daily_v_ave = cash_v_sum / cash_shift_now rescue 0
                %>
                <% 
                  cash_p_sum = 
                    dmer_date_p_sum + dmer_slmt_date_p_sum + aupay_date_v_sum + aupay_slmt_date_p_sum + 
                    paypay_date_p_sum + rakuten_pay_date_p_sum
                %>
                <% 
                  daily_p_ave = cash_p_sum / cash_shift_now rescue 0
                %>
                <% daily_p_fin = daily_p_ave * cash_shift_plan %>
                <%# 当日のAveと売上を代入する %>
                <% if cnt == 0 %>
                  <% yesterday_v_ave = daily_v_ave %>
                  <% yesterday_p_ave = daily_p_ave %>
                  <% yesterday_p_fin = daily_p_fin + dmer_slmt2nd_p_sum %>
                  <% cnt += 1 %>
                <% elsif cnt == 1 %>
                  <% today_v_ave = daily_v_ave %>
                  <% today_p_ave = daily_p_ave %>
                  <% today_p_fin = daily_p_fin + dmer_slmt2nd_p_sum %>
                  <% cnt += 1 %>
                <% elsif cnt == 2 %>
                  <% 
                    last_month_shift = 
                      @result_last_month.where(user: {base: "関東SS"}).where(shift: "キャッシュレス新規").length +
                      @result_last_month.where(user: {base: "関東SS"}).where(shift: "キャッシュレス決済").length
                  %>
                  <% last_month_p_ave = cash_p_sum / last_month_shift rescue 0 %>
                  <% last_month_p_fin = cash_p_sum + dmer_slmt2nd_p_sum %>
                  <% cnt = 0 %>
                <% end %>
            <% end %>
              <td><%= yesterday_v_ave.to_s(:delimited) %></td><%# 評価売のAve %>
              <td><%= yesterday_p_ave.to_s(:delimited) %></td><%# 実売のAve %>
              <td><%= yesterday_p_fin.to_s(:delimited) %></td><%# 実売の終着見込 %>
              <td><%= today_v_ave.to_s(:delimited) %></td><%# 評価売のAve %>
              <td><%= today_p_ave.to_s(:delimited) %></td><%# 実売のAve %>
              <td><%= today_p_fin.to_s(:delimited) %></td><%# 実売の終着見込 %>
              <%# 前日比 %>
              <% if yesterday_v_ave > today_v_ave %>
              <td style="color:red;"><%= (today_v_ave - yesterday_v_ave).to_s(:delimited) %></td><%# 前日比 評価売のAve %>
              <% else %>
              <td style="color:blue;"><%= (today_v_ave - yesterday_v_ave).to_s(:delimited) %></td><%# 前日比 評価売のAve %>
              <% end %>
              <% if yesterday_p_ave > today_p_ave %>
              <td style="color:red;"><%= (today_p_ave - yesterday_p_ave).to_s(:delimited) %></td><%# 前日比 実売のAve %>
              <% else %>
              <td style="color:blue;"><%= (today_p_ave - yesterday_p_ave).to_s(:delimited) %></td><%# 前日比 実売のAve %>
              <% end %>
              <% if yesterday_p_fin > today_p_fin %>
              <td style="color:red;"><%= (today_p_fin - yesterday_p_fin).to_s(:delimited) %></td><%# 前日比 実売の終着見込 %>
              <% else %>
              <td><%= (today_p_fin - yesterday_p_fin).to_s(:delimited) %></td><%# 前日比 実売の終着見込 %>
              <% end %>
              <%# 前月比 %>
              <td ><%= last_month_p_ave.to_s(:delimited) %></td><%# 前月実売Ave %>
              <% if last_month_p_ave > today_p_ave %>
              <td style="color:red;"><%= (today_p_ave - last_month_p_ave).to_s(:delimited) %></td><%# 前日比 実売のAve %>
              <% else %>
              <td style="color:blue;"><%= (today_p_ave - last_month_p_ave).to_s(:delimited) %></td><%# 前日比 実売のAve %>
              <% end %>
              <td ><%= last_month_p_fin.to_s(:delimited) %></td><%# 前月実売終着 %>
              <% if last_month_p_fin > today_p_fin %>
              <td style="color:red;"><%= (today_p_fin - last_month_p_fin).to_s(:delimited) %></td><%# 前日比 実売の終着見込 %>
              <% else %>
              <td style="color:blue;"><%= (today_p_fin - last_month_p_fin).to_s(:delimited) %></td><%# 前日比 実売の終着見込 %>
              <% end %>
            </tr>
        </table>
        <div class="text-form">
          <p class="caution-text">※2回目決済はAveには含まれておりません。</p>
          <p class="nav-text">Ave計算：各商材の累計売上 ÷ 報告された終着の数</p>
          <p class="nav-text">終着見込計算：Ave × 予定シフト数</p>
          <p class="nav-text">前月終着は期間前々月26日~前月25日の累計売上</p>
        </div>
      <% end %>
      <div class="nav-text"><%= alert %></div>

      <% else %>
        <% if @results.group(:user_id).length == 1 %>
          <%= render "result_parts/profit_table" %>
        <% else %>
          <%= render "result_parts/all_profit" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>