<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>利益表SS</h1>
  <%= render "shared/header" %>
</div>
  <div style="display:flex;">
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div class="main">
    <div data-scope-path="results/index">
      <%# 検索フォーム %>
      <p class="nav-text">こちらから確認したい情報を絞り込んでください</p>
      <%= search_form_for @q do |f| %>
        <table>
          <tr>
            <th class="search-th" colspan="">獲得月</th>
            <th class="search-th">拠点</th>
            <td class="result"><%= f.submit "絞込",data: {"turbolinks" => false, disable_with: "絞込み中"} , class: "result-btn" %></td>
          </tr>
          <tr>
            <td class="search-td"><%= f.date_select :date_during_month, {discard_day: true,selected: Date.today},{class: "date-input"} %></td>
            <td class="search-td"><%= f.select :user_base_eq, options_from_collection_for_select(User.where.not(base: "中部N").where.not(base: "関西N").where.not(position: "退職").select(:base).distinct, :base, :base), {},{class: "input"} %></td>
            <td class="reset"><%= link_to "絞込解除", results_path, class: "reset-link","data-turbolinks": false %></td>
          </tr>
        </table>
      <% end %>
      <%# /検索フォーム %>
      <div class="nav-text" style="color: red;"><%= alert %></div>
      <hr>
      <% if @results.empty? %>
      <%# 日々売上 %>
        <h2>
          <%= link_to "<<",results_path(month:@month_daily.ago(1.days)), class:"link" %>
          <%= @month_daily.month %>月
          <%= @month_daily.day %>日（<%= days[@month_daily.wday] %>）
          <%= link_to ">>",results_path(month:@month_daily.since(1.days)), class:"link" %>
        </h2>

        <p class="nav-text">
          当日獲得数・評価売上
          <%= link_to "ランキング", ranking_results_path,class: "rank_link" %>
          <%= link_to "利益計算用終着", gross_profit_results_path,class: "rank_link" %>
        </p>
        <table>
          <thead>
            <tr>
              <th class="">拠点</th>
              <th class="">人員</th>
              <th class="">消化シフト</th>
              <th class="">dメル</th>
              <th class="">auPay</th>
              <th class="">PayPay</th>
              <th class="">楽天ペイ</th>
              <th class="">AirPay</th>
              <th class="">当日評価売上</th>
              <th class="">当日評価Ave</th>
            </tr>
          </thead>
          <tbody>
          <% bases = ["中部SS", "関東SS", "関西SS","九州SS", "2次店"] %>
          <% bases.each do |base| %>
            <tr>
              <th class=""><%= base %></th>
              <td class=""><%= @shift_today_data.where(user: {base: base}).length %></td>
              <td class=""><%= @result_today_data.where(user: {base: base}).length %></td>
              <td class=""><%= @dmer_today_data.where(user: {base: base}).length %></td>
              <td class=""><%= @aupay_today_data.where(user: {base: base}).length %></td>
              <td class=""><%= @paypay_today_data.where(user: {base: base}).length %></td>
              <td class=""><%= @rakuten_pay_today_data.where(user: {base: base}).length %></td>
              <td class=""><%= @airpay_today_data.where(user: {base: base}).length %></td>
              <td class=""><%= @result_today_data.where(user: {base: base}).sum(:profit).to_s(:delimited) %></td>
              <td class=""><%= @result_today_data.where(user: {base: base}).average(:profit).round().to_s(:delimited) rescue "測定不可" %></td>
            </tr>
          <% end %>
            <tr>
              <th class="">全拠点</th>
              <td class=""><%= @shift_today_data.length %></td>
              <td class=""><%= @result_today_data.length %></td>
              <td class=""><%= @dmer_today_data.length %></td>
              <td class=""><%= @aupay_today_data.length %></td>
              <td class=""><%= @paypay_today_data.length %></td>
              <td class=""><%= @rakuten_pay_today_data.length %></td>
              <td class=""><%= @airpay_today_data.length %></td>
              <td class=""><%= @result_today_data.sum(:profit).to_s(:delimited) %></td>
              <td class=""><%= @result_today_data.average(:profit).round().to_s(:delimited) rescue "測定不可" %></td>
            </tr>
          </tbody>
        </table>
      <%# /日々売上 %>
      <%# 現状獲得早見 %>
        <p class="nav-text"><%= @month_daily.month %>月獲得数</p>
        <h3>
          【即時在庫】（総獲得数/在庫）【マックス（d）】：中部 <%= @dmer_monthly.where(client: "マックス即時（d）").where(user: {base: "中部SS"}).length %> / <%= @dmer_stock.where(client: "マックス（d）").where(base: "中部SS").sum(:stock_len) %>
          , 関西 <%= @dmer_monthly.where(client: "マックス即時（d）").where(user: {base: "関西SS"}).length %> / <%= @dmer_stock.where(client: "マックス（d）").where(base: "関西SS").sum(:stock_len) %>
          , 関東 <%= @dmer_monthly.where(client: "マックス即時（d）").where(user: {base: "関東SS"}).length %> / 
          <%= @dmer_stock.where(client: "マックス（d）").where(base: "関東SS").sum(:stock_len) %>
          , 【ピアズ（d）】：中部 <%= @dmer_monthly.where(client: "ピアズ即時").where(user: {base: "中部SS"}).length %> / <%= @dmer_stock.where(client: "ピアズ（d）").where(base: "中部SS").sum(:stock_len) %>
          , 関西 <%= @dmer_monthly.where(client: "ピアズ即時").where(user: {base: "関西SS"}).length %> / <%= @dmer_stock.where(client: "ピアズ（d）").where(base: "関西SS").sum(:stock_len) %>
          , 関東 <%= @dmer_monthly.where(client: "ピアズ即時").where(user: {base: "関東SS"}).length %> / <%= @dmer_stock.where(client: "ピアズ（d）").where(base: "関東SS").sum(:stock_len) %>
          <%= link_to "在庫追加", new_dmer_stock_path,class: "link" %>
          <%= link_to "目標獲得数入力", new_product_target_path,class: "link" %>
        </h3>
        
        <table>
          <thead>
            <tr>
              <th class="" colspan="6">シフト</th>
              <th class="" colspan="5">現状獲得数/目標獲得数</th>
              <th class="" colspan="5">終着獲得数</th>
            </tr>
            <tr>
              <th class="">拠点</th>
              <th class="">新規予定シフト</th>
              <th class="">決済予定シフト</th>
              <th class="">新規消化シフト</th>
              <th class="">決済消化シフト</th>
              <th class="">新規残シフト</th>
              <th class="gray">dメル</th>
              <th class="gray">auPay</th>
              <th class="gray">楽天ペイ</th>
              <th class="gray">AirPay</th>
              <th class="gray">出前館</th>
              <th class="">dメル</th>
              <th class="">auPay</th>
              <th class="">楽天ペイ</th>
              <th class="">AirPay</th>
              <th class="">出前館</th>
            </tr>
          </thead>
          <tbody>
          <% bases.each do |base| %>
            <%# 拠点別平均獲得数の変数 %>
              <% 
                dmer_base_monthly_ave = 
                  (@dmer_monthly.where(user: {base: base}).length.to_f / 
                  @shift_monthly_digestion.where(user: {base: base}).length)
              %>
              <% 
                aupay_base_monthly_ave = 
                  (@aupay_monthly.where(user: {base: base}).length.to_f / 
                  @shift_monthly_digestion.where(user: {base: base}).length)
              %>
              <% 
                paypay_base_monthly_ave = 
                  (@paypay_monthly.where(user: {base: base}).length.to_f / 
                  @shift_monthly_digestion.where(user: {base: base}).length)
              %>
              <% 
                rakuten_pay_base_monthly_ave = 
                  (@rakuten_pay_monthly.where(user: {base: base}).length.to_f / 
                  @shift_monthly_digestion.where(user: {base: base}).length)
              %>
              <% 
                airpay_base_monthly_ave = 
                  (@airpay_monthly.where(user: {base: base}).length.to_f / 
                  @shift_monthly_digestion.where(user: {base: base}).length)
              %>
              <%
                demaeekan_base_monthly_ave = 
                  (@demaekan_monthly.where(user: {base: base}).sum(:out_get_20).to_f / @shift_monthly_digestion.where(user: {base: base}).length)
              %>
            <%# /拠点別平均獲得数の変数 %>
            <tr>
              <th class=""><%= base %></th>
              <%# シフト %>
              <td class=""><%= @shift_monthly_plan.where(user: {base: base}).length %></td>
              <td class=""><%= @shift_monthly_slmt_plan.where(user: {base: base}).length %></td>
              <td class=""><%= @shift_monthly_digestion.where(user: {base: base}).length %></td>
              <td class=""><%= @shift_monthly_slmt_digestion.where(user: {base: base}).length %></td>
              <td class=""><%= 
                @shift_monthly_plan.where(user: {base: base}).length -
                @shift_monthly_digestion.where(user: {base: base}).length
              %></td>
              <%# 現状獲得 %>
              <td class="">
                <%= @dmer_monthly.where(user: {base: base}).length %> / 
                <% if @dmer_target.where(base: base).first.present? %>
                <%= link_to @dmer_target.where(base: base).first.product_len, edit_product_target_path(@dmer_target.where(base: base).first.id),class: "link" %>
                <% else %>
                NaN
                <% end %>
              </td>
              <td class="">
                <%= @aupay_monthly.where(user: {base: base}).length %> / 
                <% if @aupay_target.where(base: base).first.present? %>
                <%= link_to @aupay_target.where(base: base).first.product_len, edit_product_target_path(@aupay_target.where(base: base).first.id),class: "link" %>
                <% else %>
                NaN
                <% end %>
              </td>
              <td class="">
                <%= @rakuten_pay_monthly.where(user: {base: base}).length %> / 
                <% if @rakuten_pay_target.where(base: base).first.present? %>
                <%= link_to @rakuten_pay_target.where(base: base).first.product_len, edit_product_target_path(@rakuten_pay_target.where(base: base).first.id),class: "link" %>
                <% else %>
                NaN
                <% end %>
              </td>
              <td class="">
                <%= @airpay_monthly.where(user: {base: base}).length %> / 
                <% if @airpay_target.where(base: base).first.present? %>
                <%= link_to @airpay_target.where(base: base).first.product_len, edit_product_target_path(@airpay_target.where(base: base).first.id),class: "link" %>
                <% else %>
                NaN
                <% end %>
              </td>
              <td class="">
              <%= @demaekan_monthly.where(user: {base: base}).sum(:out_get_20) %>
              </td>
              <%# 終着 %>
              <td class=""><%= (dmer_base_monthly_ave * @shift_monthly_plan.where(user: {base: base}).length).round() rescue 0 %></td>
              <td class=""><%= (aupay_base_monthly_ave * @shift_monthly_plan.where(user: {base: base}).length).round() rescue 0 %></td>
              <td class=""><%= (rakuten_pay_base_monthly_ave * @shift_monthly_plan.where(user: {base: base}).length).round() rescue 0 %></td>
              <td class=""><%= (airpay_base_monthly_ave * @shift_monthly_plan.where(user: {base: base}).length).round() rescue 0 %></td>
              <td class=""><%= (demaeekan_base_monthly_ave * @shift_monthly_plan.where(user: {base: base}).length).round() rescue 0 %></td>
            </tr>
          <% end %>
              <%# 平均獲得数の変数 %>
                <% dmer_monthly_ave = (@dmer_monthly.length.to_f / @shift_monthly_digestion.length) %>
                <% aupay_monthly_ave = (@aupay_monthly.length.to_f / @shift_monthly_digestion.length) %>
                <% demaekan_monthly_ave = (@demaekan_monthly.sum(:out_get_20).to_f / @shift_monthly_digestion.length) %>
                <% rakuten_pay_monthly_ave = (@rakuten_pay_monthly.length.to_f / @shift_monthly_digestion.length) %>
                <% airpay_monthly_ave = (@airpay_monthly.length.to_f / @shift_monthly_digestion.length) %>
              <%# /平均獲得数の変数 %>
            <tr>
              <th class="">全拠点</th>
              <td class=""><%= @shift_monthly_plan.length %></td>
              <td class=""><%= @shift_monthly_slmt_plan.length %></td>
              <td class=""><%= @shift_monthly_digestion.length %></td>
              <td class=""><%= @shift_monthly_slmt_digestion.length %></td>
              <td class=""><%= 
                @shift_monthly_plan.length -
                @shift_monthly_digestion.length 
              %></td>
              <td class="">
                <%= @dmer_monthly.length %> /
                <%= @dmer_target.sum(:product_len) %>
              </td>
              <td class="">
                <%= @aupay_monthly.length %> / 
                <%= @aupay_target.sum(:product_len) %>
              </td>
              <td class="">
                <%= @rakuten_pay_monthly.length %> / 
                <%= @rakuten_pay_target.sum(:product_len) %>
              </td>
              <td class="">
                <%= @airpay_monthly.length %> / 
                <%= @airpay_target.sum(:product_len) %>
              </td>
              <td class=""><%= @demaekan_monthly.sum(:out_get_20) %></td>
              <td class=""><%= (dmer_monthly_ave * @shift_monthly_plan.length).round() rescue "測定不可" %></td>
              <td class=""><%= (aupay_monthly_ave * @shift_monthly_plan.length).round() rescue "測定不可" %></td>
              <td class=""><%= (rakuten_pay_monthly_ave * @shift_monthly_plan.length).round() rescue "測定不可" %></td>
              <td class=""><%= (airpay_monthly_ave * @shift_monthly_plan.length).round() rescue "測定不可" %></td>
              <td class=""><%= (demaekan_monthly_ave * @shift_monthly_plan.length).round() rescue "測定不可" %></td>
            </tr>
          </tbody>
        </table>
        <p class="caution-text">※獲得数は<%= @month_daily.beginning_of_month %>〜<%= @month_daily.end_of_month %>の範囲で計算されています。</p>
      <%# /現状獲得早見 %>
      <div class="frame" style="display: flex;">
        <div><%# 現状売上早見 %>
          <p class="nav-text"><%= @month_daily.month %>現状売上</p>
          <table>
            <thead>
              <tr>
                <th class="">拠点</th>
                <th class="">予定シフト</th>
                <th class="">消化シフト</th>
                <th class="">残シフト</th>
                <th class="">現状評価売上</th>
                <th class="">現状評価Ave</th>
              </tr>
            </thead>
            <tbody>
            <% bases.each do |base| %>
              <tr>
                <th class=""><%= base %></th>
                <td class=""><%= @shift_monthly.where(user: {base: base}).length %></td>
                <td class=""><%= @result_monthly.where(user: {base: base}).length %></td>
                <td class=""><%= 
                  @shift_monthly.where(user: {base: base}).length -
                  @result_monthly.where(user: {base: base}).length 
                %></td>
                <td class=""><%= @result_monthly.where(user: {base: base}).sum(:profit).to_s(:delimited) rescue "測定不可" %></td>
                <td class=""><%= (@result_monthly.where(user: {base: base}).sum(:profit) / @result_monthly.where(user: {base: base}).length).round().to_s(:delimited) rescue "測定不可" %></td>
              </tr>
            <% end %>
              <tr>
                <th class="">全拠点</th>
                <td class=""><%= @shift_monthly.length %></td>
                <td class=""><%= @result_monthly.length %></td>
                <td class=""><%= 
                  @shift_monthly.length -
                  @result_monthly.length 
                %></td>
                <td class=""><%= @result_monthly.sum(:profit).to_s(:delimited) rescue "測定不可" %></td>
                <td class=""><%= (@result_monthly.sum(:profit) / @result_monthly.length).round().to_s(:delimited) rescue "測定不可" %></td>
              </tr>
            </tbody>
          </table>
          <p class="caution-text">※売上は<%= @result_monthly.minimum(:date) %>〜<%= @result_monthly.maximum(:date) %>の範囲で計算されています。</p>
        </div><%# /現状売上早見 %>
        <div><%# 現状不備件数 %>
          <p class="nav-text"><%= @month_daily.month %>月不備</p>
          <table>
            <tr>
              <th colspan="4">今月</th>
              <th colspan="3" class="gray">前月</th>
            </tr>
            <tr>
              <th>拠点</th>
              <th>dメル</th>
              <th>auPay</th>
              <th>楽天ペイ</th>
              <th class="gray">dメル</th>
              <th class="gray">auPay</th>
              <th class="gray">楽天ペイ</th>
            </tr>
            <% bases.each do |base| %>
            <tr>
              <td><%= base %></td>
              <td><%= @dmer_def_this_month.where(user: {base: base}).length rescue 0 %></td>
              <td><%= @aupay_def_this_month.where(user: {base: base}).length rescue 0 %></td>
              <td><%= @rakuten_pay_def_this_month.where(user: {base: base}).length rescue 0 %></td>
              <td><%= @dmer_def_prev_month.where(user: {base: base}).length rescue 0 %></td>
              <td><%= @aupay_def_prev_month.where(user: {base: base}).length rescue 0 %></td>
              <td><%= @rakuten_pay_def_prev_month.where(user: {base: base}).length rescue 0 %></td>
            </tr>
            <% end %>
          </table>
        <p class="caution-text">※不備数は<%= @month_daily.beginning_of_month %>〜<%= @month_daily.end_of_month %>の範囲で表示されています。</p>
        <p class="caution-text">（dメル、auPayの複数店は含まれておりません。）</p>
        </div>
      </div>
      <% else %>
          <%# 拠点別利益表 %>
          <%= render "result_parts/valuation_factory" %>
      <% end %>
      <script>
        window.chubu_slmt=<%= @chubu_slmt.to_json.html_safe %>;
        window.kansai_slmt=<%= @kansai_slmt.to_json.html_safe %>;
        window.kanto_slmt=<%= @kanto_slmt.to_json.html_safe %>;
        window.kyushu_slmt=<%= @kyushu_slmt.to_json.html_safe %>;
      </script>
      <%= javascript_pack_tag 'slmt_per' %>
      <article id='slmt_per'><%# 拠点別決済率（Vue.js） %>
      <p class="nav-text">
        <%= @month_daily.month %>月決済率
        <select @change="baseSlct" class="base-val" >
          <option value="chubu-slct">中部SS</option>
          <option value="kansai-slct">関西SS</option>
          <option value="kanto-slct">関東SS</option>
          <option value="kyushu-slct">九州SS</option>
        </select>
      </p>
        <table class="slmt-tb">
          <tr>
            <th rowspan="2">拠点</th>
            <th rowspan="2">氏名</th>
            <th colspan="6">dメル</th>
            <th colspan="6">auPay</th>
          </tr>
          <tr>
            <% 2.times do %>
            <th>当月決済対象</th>
            <th>当月決済完了数</th>
            <th>当月決済完了率</th>
            <th class="gray">過去月決済対象</th>
            <th class="gray">過去月決済完了数</th>
            <th class="gray">過去月決済完了率</th>
            <% end %>
          </tr>
          <tr v-for="item in baseItems" :key="item">
          <td>{{ item["拠点"] }}</td>
          <td>{{ item["氏名"] }}</td>
          <td>{{ item["dメル当月決済対象"] }}</td>
          <td>{{ item["dメル当月決済完了数"] }}</td>
          <td>{{ item["dメル当月決済完了率"] }}%</td>
          <td>{{ item["dメル過去月決済対象"] }}</td>
          <td>{{ item["dメル過去月決済完了数"] }}</td>
          <td>{{ item["dメル過去月決済完了率"] }}%</td>
          <td>{{ item["auPay当月決済対象"] }}</td>
          <td>{{ item["auPay当月決済完了数"] }}</td>
          <td>{{ item["auPay当月決済完了率"] }}%</td>
          <td>{{ item["auPay過去月決済対象"] }}</td>
          <td>{{ item["auPay過去月決済完了数"] }}</td>
          <td>{{ item["auPay過去月決済完了率"] }}%</td>
          </tr>
          <td></td>
          <td>全体</td>
          <td>{{ baseItems.reduce((sum, i) => sum + i['dメル当月決済対象'], 0) }}</td>
          <td>{{ baseItems.reduce((sum, i) => sum + i['dメル当月決済完了数'], 0) }}</td>
          <td>{{ Math.round(baseItems.reduce((sum, i) => sum + i['dメル当月決済完了数'], 0) / baseItems.reduce((sum, i) => sum + i['dメル当月決済対象'], 0) * 100) }}%</td>
          <td>{{ baseItems.reduce((sum, i) => sum + i['dメル過去月決済対象'], 0) }}</td>
          <td>{{ baseItems.reduce((sum, i) => sum + i['dメル過去月決済完了数'], 0) }}</td>
          <td>{{ Math.round(baseItems.reduce((sum, i) => sum + i['dメル過去月決済完了数'], 0) / baseItems.reduce((sum, i) => sum + i['dメル過去月決済対象'], 0) * 100) }}%</td>
          <td>{{ baseItems.reduce((sum, i) => sum + i['auPay当月決済対象'], 0) }}</td>
          <td>{{ baseItems.reduce((sum, i) => sum + i['auPay当月決済完了数'], 0) }}</td>
          <td>{{ Math.round(baseItems.reduce((sum, i) => sum + i['auPay当月決済完了数'], 0) / baseItems.reduce((sum, i) => sum + i['auPay当月決済対象'], 0) * 100) }}%</td>
          <td>{{ baseItems.reduce((sum, i) => sum + i['auPay過去月決済対象'], 0) }}</td>
          <td>{{ baseItems.reduce((sum, i) => sum + i['auPay過去月決済完了数'], 0) }}</td>
          <td>{{ Math.round(baseItems.reduce((sum, i) => sum + i['auPay過去月決済完了数'], 0) / baseItems.reduce((sum, i) => sum + i['auPay過去月決済対象'], 0) * 100) }}%</td>
          <tr>
          </tr>
        </table>
      </article>
        <p class="caution-text">※当月決済率は<%= @month_daily.beginning_of_month %>〜<%= @month_daily.end_of_month %>のものを対象としています。</p>
        <p class="caution-text">※過去月決済は前月以前に獲得したもので決済期限が<%= @month_daily.beginning_of_month %>以降のものを対象としています。</p>
      <h2>キャッシュレス</h2>
      <% users_summit_data = [@users_chubu_summit, @users_kansai_summit, @users_kanto_summit] %>
      <div class="user-form">
        <div>
        <table class="user-tb">
        <% @users_cash.group(:base).each do |base| %>
          <tr>
          <th><%= base.base %></th>
          <% @users_cash.where(base: base.base).each do |user| %>
          <td><%= link_to user.name, user_path(user.id), class: "link" %></td>
          <% end %>
          </tr>
        <% end  %>
        </table>
      <% if current_user.name=="管理用" %>
      <h2>サミット　<%= link_to "全体利益表", base_profit_result_summits_path,"data-turbolinks": false,class: "link" %></h2>
        <table class="user-tb">
      <% users_summit_data.each do |users| %>
        <tr>
          <th><%= users.first.base %></th>
        <% users.each do |user| %>
          <td><%= link_to user.name, result_summit_path(user.id),"data-turbolinks": false, class: "link" %></td>
        <% end %>
        </tr>
      <% end %>
        </table>
        
      <% end %>
      <%= link_to "日々獲得内容確認",date_progress_results_path,class: "link" %>
      <% if current_user.position_sub == "管理" %>
        <h2>利益表（基準値）インポート</h2>
        <%= form_with url: import_results_path do |f| %>
          <table class="csv-tb">
            <tr>
              <td class=""><%= f.file_field :file, accept: ".csv", class: "input" %></td>
              <td class="result"><%= f.submit  "インポート", class: "result-btn",data: { confirm: 'インポートしますか？',disable_with: "インポート中" } %></td>
            </tr>
          </table>
        <% end %>
        <h2>利益表（切り返し）インポート</h2>
        <%= form_with url: import_result_cashes_path do |f| %>
          <table class="csv-tb">
            <tr>
              <td class=""><%= f.file_field :file, accept: ".csv", class: "input" %></td>
              <td class="result"><%= f.submit  "インポート", class: "result-btn",data: { confirm: 'インポートしますか？',disable_with: "インポート中" } %></td>
            </tr>
          </table>

        <% end %>
      <% end %>
        </div>
      </div>
    </div>
  </div>
</div>