<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>利益表SS</h1>
  <%= render "shared/header" %>
</div>
  <div style="display:flex;">
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div class="main">
    <div data-scope-path="results/index">
      <%# 検索フォーム %>
      <p class="nav-text">こちらから確認したい情報を絞り込んでください</p>
      <%= search_form_for @q do |f| %>
        <table >
          <tr>
            <th class="search-th" colspan="">獲得月</th>
            <th class="search-th">拠点</th>
            <td class="result"><%= f.submit "絞込み",data: {"turbolinks" => false, disable_with: "絞込み中"} , class: "result-btn" %></td>
          </tr>
          <tr>
            
            <td class="search-td"><%= f.date_select :date_during_month, {discard_day: true,selected: Date.today},{class: "date-input"} %></td>
            <td class="search-td"><%= f.select :user_base_eq, options_from_collection_for_select(User.where.not(base: "中部N").where.not(base: "関西N").where.not(position: "退職").select(:base).distinct, :base, :base), {},{class: "input"} %></td>
            <td class="reset"><%= link_to "絞込みリセット", results_path, class: "reset-link" %></td>
          </tr>
        </table>
      <% end %>
      <%# /検索フォーム %>
      <hr>
      <% if @results.empty? %>
      <%# 日々売上 %>
        <h2>
          <%= link_to "<<",results_path(month:@month_daily.ago(1.days)), class:"link" %>
          <%= @month_daily.month %>月
          <%= @month_daily.day %>日（<%= days[@month_daily.wday] %>）
          <%= link_to ">>",results_path(month:@month_daily.since(1.days)), class:"link" %>
        </h2>


        <p class="nav-text">当日獲得数・評価売上</p>
        <table>
          <thead>
            <tr>
              <th class="">拠点</th>
              <th class="">人員</th>
              <th class="">消化シフト</th>
              <th class="">dメル</th>
              <th class="">auPay</th>
              <th class="">PayPay</th>
              <th class="">楽天ペイ</th>
              <th class="">AirPay</th>
              <th class="">当日評価売上</th>
              <th class="">当日評価Ave</th>
            </tr>
          </thead>
          <tbody>
          <% bases = ["中部SS", "関東SS", "関西SS"] %>
          <% bases.each do |base| %>
            <tr>
              <th class=""><%= base %></th>
              <td class=""><%= @shift_today_data.where(user: {base: base}).length %></td>
              <td class=""><%= @result_today_data.where(user: {base: base}).length %></td>
              <td class=""><%= @dmer_today_data.where(user: {base: base}).length %></td>
              <td class=""><%= @aupay_today_data.where(user: {base: base}).length %></td>
              <td class=""><%= @paypay_today_data.where(user: {base: base}).length %></td>
              <td class=""><%= @rakuten_pay_today_data.where(user: {base: base}).length %></td>
              <td class=""><%= @airpay_today_data.where(user: {base: base}).length %></td>
              <td class=""><%= @result_today_data.where(user: {base: base}).sum(:profit).to_s(:delimited) %></td>
              <td class=""><%= @result_today_data.where(user: {base: base}).average(:profit).round().to_s(:delimited) rescue "測定不可" %></td>
            </tr>
          <% end %>
            <tr>
              <th class="">合計</th>
              <td class=""><%= @shift_today_data.length %></td>
              <td class=""><%= @result_today_data.length %></td>
              <td class=""><%= @dmer_today_data.length %></td>
              <td class=""><%= @aupay_today_data.length %></td>
              <td class=""><%= @paypay_today_data.length %></td>
              <td class=""><%= @rakuten_pay_today_data.length %></td>
              <td class=""><%= @airpay_today_data.length %></td>
              <td class=""><%= @result_today_data.sum(:profit).to_s(:delimited) %></td>
              <td class=""><%= @result_today_data.average(:profit).round().to_s(:delimited) rescue "測定不可" %></td>
            </tr>
          </tbody>
        </table>
      <%# /日々売上 %>
      <%# 現状獲得早見 %>
        <p class="nav-text"><%= @month_daily.month %>月獲得数・現状売上</p>
        <table>
          <thead>
            <tr>
              <th class="">拠点</th>
              <th class="">dメル</th>
              <th class="">auPay</th>
              <th class="">PayPay</th>
              <th class="">楽天ペイ</th>
              <th class="">AirPay</th>
              <th class="">消化シフト</th>
              <th class="">現状評価売上</th>
              <th class="">現状評価Ave</th>
            </tr>
          </thead>
          <tbody>
          <% bases.each do |base| %>
            <tr>
              <th class=""><%= base %></th>
              <td class=""><%= @dmer_monthly.where(user: {base: base}).length %></td>
              <td class=""><%= @aupay_monthly.where(user: {base: base}).length %></td>
              <td class=""><%= @paypay_monthly.where(user: {base: base}).length %></td>
              <td class=""><%= @rakuten_pay_monthly.where(user: {base: base}).length %></td>
              <td class=""><%= @airpay_monthly.where(user: {base: base}).length %></td>
              <td class=""><%= @result_monthly.where(user: {base: base}).length %></td>
              <td class=""><%= @result_monthly.where(user: {base: base}).sum(:profit).to_s(:delimited) rescue "測定不可" %></td>
              <td class=""><%= (@result_monthly.where(user: {base: base}).sum(:profit) / @result_monthly.where(user: {base: base}).length).round().to_s(:delimited) rescue "測定不可" %></td>
            </tr>
          <% end %>
            <tr>
              <th class="">合計</th>
              <td class=""><%= @dmer_monthly.length %></td>
              <td class=""><%= @aupay_monthly.length %></td>
              <td class=""><%= @paypay_monthly.length %></td>
              <td class=""><%= @rakuten_pay_monthly.length %></td>
              <td class=""><%= @airpay_monthly.length %></td>
              <td class=""><%= @result_monthly.length %></td>
              <td class=""><%= @result_monthly.sum(:profit).to_s(:delimited) rescue "測定不可" %></td>
              <td class=""><%= (@result_monthly.sum(:profit) / @result_monthly.length).round().to_s(:delimited) rescue "測定不可" %></td>
            </tr>
          </tbody>
        </table>
        <p class="caution-text">※獲得数は<%= @month_daily.beginning_of_month %>〜<%= @month_daily.end_of_month %>の範囲で計算されています。</p>
        <p class="caution-text">※売上は<%= @result_monthly.minimum(:date) %>〜<%= @result_monthly.maximum(:date) %>の範囲で計算されています。</p>
      <%# /現状獲得早見 %>

      <div class="nav-text"><%= alert %></div>
      <% else %>
        <% if @results.group(:user_id).length == 1 %>
          <%= render "result_parts/profit_table_copiedata" %>
        <% else %>
          <%= render "result_parts/all_profit" %>
        <% end %>
      <% end %>
      

      <h2>キャッシュレス</h2>
      <% users_data = [@users_chubu_cash, @users_kansai_cash, @users_kanto_cash,@user_partner_cash] %>
      <div class="user-form">
        <div>
        <table class="user-tb">
      <% users_data.each do |users| %>
        <tr>
          <th><%= users.first.base %></th>
        <% users.each do |user| %>
          <td><%= link_to user.name, user_path(user.id), class: "link" %></td>
        <% end %>
        </tr>
      <% end %>
        </table>
      <% if current_user.position_sub == "管理" %>
        <h2>利益表（基準値）インポート</h2>
        <%= form_with url: import_results_path do |f| %>
          <table class="csv-tb">
            <tr>
              <td class=""><%= f.file_field :file, accept: ".csv", class: "input" %></td>
              <td class="result"><%= f.submit  "インポート", class: "result-btn",data: { confirm: 'インポートしますか？',disable_with: "インポート中" } %></td>
            </tr>
          </table>
        <% end %>
        <h2>利益表（切り返し）インポート</h2>
        <%= form_with url: import_result_cashes_path do |f| %>
          <table class="csv-tb">
            <tr>
              <td class=""><%= f.file_field :file, accept: ".csv", class: "input" %></td>
              <td class="result"><%= f.submit  "インポート", class: "result-btn",data: { confirm: 'インポートしますか？',disable_with: "インポート中" } %></td>
            </tr>
          </table>
          <%= link_to "日々獲得内容確認",date_progress_results_path,class: "link" %>
        <% end %>
      <% end %>
        </div>
      </div>
    </div>
  </div>
</div>