<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>月間早見</h1>
  <%= render "shared/header" %>
</div>
  <div style="display:flex;">
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div class="main">
    <div data-scope-path="shares/index">
      <%= render "shared/result_links" %>
    </div>
    <hr>
    <div data-scope-path="results/index">
      <div class="nav-text" style="color: red;"><%= alert %></div>
        <div>
          <h2 class="">
            <%= link_to "<<",monthly_progress_results_path(date: @month_daily.prev_month),"data-turbolinks": false, class:"link" %>
            <%= @month_daily.month %>月
            <%= @month_daily.day %>日（<%= days[@month_daily.wday] %>）
            <%= link_to ">>",monthly_progress_results_path(date: @month_daily.next_month),"data-turbolinks": false, class:"link" %>
          </h2>
        </div>
        <div><%# 検索 %>
          <%= form_with url: monthly_progress_results_path, local: true, method: :get do |f| %>
                <%= f.hidden_field :search_date, value: @month_daily %>
              <p class="nav-text">※こちらから確認したい日付に変更できます。</p>
              <table class="s-tb">
                <tr class="">
                  <th class="s-th">日付</th>
                  <td class="s-td"><%= f.date_field :date,class:"s-input" %></td>
                  <td class="s-submit"><%= f.submit "絞込",class: "s-btn" %></td>
                </tr>
                <tr class="">
                  <th class="s-th">比較する日付</th>
                  <td class="s-td"><%= f.date_field :comparison_date,class:"s-input" %></td>
                  <td class="s-reset"><%= link_to "リセット",monthly_progress_results_path,class:"reset-link","data-turbolinks": false %></td>
                </tr>
              </table>
          <% end %>
        </div><%# 検索 %>
        <%= render_async monthly_get_path(date: @month_daily,comparison_date: @comparison_date) %><%# 全拠点獲得数 %>
        <%= render_async monthly_get_base_path(date: @month_daily,comparison_date: @comparison_date) %><%# 拠点別獲得数 %>
        <p class="caution-text">※獲得数は<%= @month_daily.beginning_of_month %>〜<%= @month_daily.end_of_month %>の範囲で計算されています。</p>
        <%= render_async sales_and_def_path(date: @month_daily,comparison_date: @comparison_date) %><%# 現状売上と不備 %>
      <script>
        window.chubu_slmt=<%= @chubu_slmt.to_json.html_safe %>;
        window.kansai_slmt=<%= @kansai_slmt.to_json.html_safe %>;
        window.kanto_slmt=<%= @kanto_slmt.to_json.html_safe %>;
        window.kyushu_slmt=<%= @kyushu_slmt.to_json.html_safe %>;
      </script>
      <%= javascript_pack_tag 'slmt_per' %>
      <article id='slmt_per'><%# 拠点別決済率（Vue.js） %>
      <p class="nav-text">
        <%= @month_daily.month %>月決済率
        <select @change="baseSlct" class="base-val" >
          <option value="chubu-slct">中部SS</option>
          <option value="kansai-slct">関西SS</option>
          <option value="kanto-slct">関東SS</option>
          <option value="kyushu-slct">九州SS</option>
        </select>
      </p>
        <table class="slmt-tb">
          <tr class="index-tr">
            <th rowspan="2">拠点</th>
            <th rowspan="2">氏名</th>
            <th colspan="6">dメル</th>
            <th colspan="6">auPay</th>
          </tr>
          <tr class="index-tr">
            <% 2.times do %>
            <th>当月決済対象</th>
            <th>当月決済数</th>
            <th>当月決済率</th>
            <th class="gray">過去決済対象</th>
            <th class="gray">過去決済数</th>
            <th class="gray">過去決済率</th>
            <% end %>
          </tr>
          <tr class="index-tr" v-for="item in baseItems" :key="item">
            <td>{{ item["拠点"] }}</td>
            <td>{{ item["氏名"] }}</td>
            <td>{{ item["dメル当月決済対象"] }}</td>
            <td>{{ item["dメル当月決済完了数"] }}</td>
            <td>{{ item["dメル当月決済完了率"] }}%</td>
            <td>{{ item["dメル過去月決済対象"] }}</td>
            <td>{{ item["dメル過去月決済完了数"] }}</td>
            <td>{{ item["dメル過去月決済完了率"] }}%</td>
            <td>{{ item["auPay当月決済対象"] }}</td>
            <td>{{ item["auPay当月決済完了数"] }}</td>
            <td>{{ item["auPay当月決済完了率"] }}%</td>
            <td>{{ item["auPay過去月決済対象"] }}</td>
            <td>{{ item["auPay過去月決済完了数"] }}</td>
            <td>{{ item["auPay過去月決済完了率"] }}%</td>
          </tr>
          <tr class="difference-tr">
            <td colspan="2">全体</td>
            <td>{{ baseItems.reduce((sum, i) => sum + i['dメル当月決済対象'], 0) }}</td>
            <td>{{ baseItems.reduce((sum, i) => sum + i['dメル当月決済完了数'], 0) }}</td>
            <td>{{ Math.round(baseItems.reduce((sum, i) => sum + i['dメル当月決済完了数'], 0) / baseItems.reduce((sum, i) => sum + i['dメル当月決済対象'], 0) * 100) }}%</td>
            <td>{{ baseItems.reduce((sum, i) => sum + i['dメル過去月決済対象'], 0) }}</td>
            <td>{{ baseItems.reduce((sum, i) => sum + i['dメル過去月決済完了数'], 0) }}</td>
            <td>{{ Math.round(baseItems.reduce((sum, i) => sum + i['dメル過去月決済完了数'], 0) / baseItems.reduce((sum, i) => sum + i['dメル過去月決済対象'], 0) * 100) }}%</td>
            <td>{{ baseItems.reduce((sum, i) => sum + i['auPay当月決済対象'], 0) }}</td>
            <td>{{ baseItems.reduce((sum, i) => sum + i['auPay当月決済完了数'], 0) }}</td>
            <td>{{ Math.round(baseItems.reduce((sum, i) => sum + i['auPay当月決済完了数'], 0) / baseItems.reduce((sum, i) => sum + i['auPay当月決済対象'], 0) * 100) }}%</td>
            <td>{{ baseItems.reduce((sum, i) => sum + i['auPay過去月決済対象'], 0) }}</td>
            <td>{{ baseItems.reduce((sum, i) => sum + i['auPay過去月決済完了数'], 0) }}</td>
            <td>{{ Math.round(baseItems.reduce((sum, i) => sum + i['auPay過去月決済完了数'], 0) / baseItems.reduce((sum, i) => sum + i['auPay過去月決済対象'], 0) * 100) }}%</td>
            </tr>
        </table>
      </article>
        <p class="caution-text">※当月決済率は<%= @month_daily.beginning_of_month %>〜<%= @month_daily.end_of_month %>のものを対象としています。</p>
        <p class="caution-text">※過去月決済は前月以前に獲得したもので決済期限が<%= @month_daily.beginning_of_month %>以降のものを対象としています。</p>
    </div>
  </div>
</div>