<div data-scope-path="results/new">
  <h1>SS終着報告</h1>
  <%= render "shared/header" %>

  <%= form_with model: @result,  class: "form-frame", local: true do |f| %>
    <%= render "shared/error_messages", model: f.object %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <%# 基本情報 %>
    <h1>基本情報　拠点：<%= current_user.base + current_user.base_sub%>　<%= current_user.name %></h1>
    <table>
      <tr>
        <th>
          <%= f.label :date, "日付", class: "form-text" %>
          <%= f.date_field :date , value: Date.today, class: "form-input" %>
        </th>
      </tr>
      <tr>
        <th>
          <%= f.label :ojt_id, "帯同者", class: "form-text" %>
          <%= f.collection_select(:ojt_id, User.includes(:shifts).where.not(shifts: {ojt: 0}), :id, :name,{include_blank: true}, {class: "form-input"})%>
        </th>
      </tr>
      <tr>
        <th>
          <%= f.label :area, "地域", class: "form-text" %>
          <%= f.text_field :area , class: "form-input" %>
        </th>
      </tr>
      <tr>
        <th>
          <%= f.label :shift, "シフト", class: "form-text" %>
          <%= f.select :shift, {"キャッシュレス新規": "キャッシュレス新規", "キャッシュレス決済": "キャッシュレス決済","楽天フェムト新規": "楽天フェムト新規", "楽天フェムト設置": "楽天フェムト設置", "パンダ": "パンダ", "サミット": "サミット","帯同": "帯同","内勤": "内勤", "休み": "休み","欠勤": "欠勤"},{}, {class: "form-input"} %>
        </th>
      </tr>
    </table>
  <%# 大枠基準値 %>
    <h1 >基準値</h1>
    <table>
      <tr>
        <th>
          <%= f.label :first_visit, "前半訪問", class: "form-text" %>
          <%= f.number_field :first_visit, value: 0 ,class: "form-input" %>
        </th>
      </tr>
      <tr>
        <th>
          <%= f.label :first_interview, "前半対面", class: "form-text" %>
          <%= f.number_field :first_interview, value: 0 ,class: "form-input" %>
        </th>
      </tr>
      <tr>
        <th>
          <%= f.label :first_full_talk, "前半フル", class: "form-text" %>
          <%= f.number_field :first_full_talk, value: 0 ,class: "form-input" %>
        </th>
      </tr>
      <tr>
        <th>
          <%= f.label :first_get, "前半獲得", class: "form-text" %>
          <%= f.number_field :first_get, value: 0 ,class: "form-input" %>
        </th>
      </tr>
      <tr>
        <th>
          <%= f.label :latter_visit, "後半訪問", class: "form-text" %>
          <%= f.number_field :latter_visit, value: 0 , class: "form-input" %>
        </th>
      </tr>
      <tr>
        <th>
          <%= f.label :latter_interview, "後半対面", class: "form-text" %>
          <%= f.number_field :latter_interview, value: 0 ,class: "form-input" %>
        </th>
      </tr>
      <tr>
        <th>
          <%= f.label :latter_full_talk, "後半フル", class: "form-text" %>
          <%= f.number_field :latter_full_talk , value: 0 ,class: "form-input" %>
        </th>
      </tr>
      <tr>
        <th>
          <%= f.label :latter_get, "後半獲得", class: "form-text" %>
          <%= f.number_field :latter_get , value: 0 ,class: "form-input" %>
        </th>
      </tr>
    </table>
  <%# 店舗別基準値 %>
    <h1 >店舗別基準値</h1>
    <table>
      <tr>
        <th>
          <%= f.label :cafe_visit, "喫茶・カフェ 訪問", class: "form-text" %>
          <%= f.number_field :cafe_visit, value: 0 ,class: "form-input" %>
        </th>
      </tr>
      <tr>
        <th>
          <%= f.label :cafe_get, "喫茶・カフェ 獲得", class: "form-text" %>
          <%= f.number_field :cafe_get , class: "form-input", min: 0, value: 0 %>
        </th>
      </tr>
      <tr>
        <th>
          <%= f.label :other_food_visit, "その他・飲食 訪問", class: "form-text" %>
          <%= f.number_field :other_food_visit, value: 0 ,class: "form-input", min: 0,value: 0 %>
        </th>
      </tr>
      <tr>
        <th>
          <%= f.label :other_food_get, "その他・飲食 獲得", class: "form-text" %>
          <%= f.number_field :other_food_get , value: 0 ,class: "form-input" %>
        </th>
      </tr>
      <tr>
        <th>
          <%= f.label :car_visit, "車屋 訪問", class: "form-text" %>
          <%= f.number_field :car_visit, value: 0 ,class: "form-input" %>
        </th>
      </tr>
      <tr>
        <th>
          <%= f.label :car_get, "車屋 獲得", class: "form-text" %>
          <%= f.number_field :car_get , value: 0 ,class: "form-input" %>
        </th>
      </tr>
      <tr>
        <th>
          <%= f.label :other_retail_visit, "その他・小売 訪問", class: "form-text" %>
          <%= f.number_field :other_retail_visit, value: 0 ,class: "form-input", min: 0,value: 0 %>
        </th>
      </tr>
      <tr>
        <th>
          <%= f.label :other_retail_get, "その他・小売 獲得", class: "form-text" %>
          <%= f.number_field :other_retail_get , value: 0 ,class: "form-input" %>
        </th>
      </tr>
      <tr>
        <th>
          <%= f.label :hair_salon_visit, "理容・美容 訪問", class: "form-text" %>
          <%= f.number_field :hair_salon_visit, value: 0 ,class: "form-input", min: 0,value: 0 %>
        </th>
      </tr>
      <tr>
        <th>
          <%= f.label :hair_salon_get, "理容・美容 獲得", class: "form-text" %>
          <%= f.number_field :hair_salon_get , value: 0 ,class: "form-input" %>
        </th>
      </tr>
      <tr>
        <th>
          <%= f.label :manipulative_visit, "整体・鍼灸 訪問", class: "form-text" %>
          <%= f.number_field :manipulative_visit, value: 0 ,class: "form-input", min: 0,value: 0 %>
        </th>
      </tr>
      <tr>
        <th>
          <%= f.label :manipulative_get, "整体・鍼灸 獲得", class: "form-text" %>
          <%= f.number_field :manipulative_get , value: 0 ,class: "form-input" %>
        </th>
      </tr>
      <tr>
        <th>
          <%= f.label :other_service_visit, "その他・サービス 訪問", class: "form-text" %>
          <%= f.number_field :other_service_visit, value: 0 ,class: "form-input", min: 0,value: 0 %>
        </th>
      </tr>
      <tr>
        <th>
          <%= f.label :other_service_get, "その他・サービス 獲得", class: "form-text" %>
          <%= f.number_field :other_service_get , value: 0 ,class: "form-input" %>
        </th>
      </tr>
    </table>
    <%= f.submit "登録",data: { confirm: "登録してもよろしいですか？" }, class: "submit-btn" %>
  <% end %>
</div>