<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header"><%# ヘッダー %>
  <h1>訪問種別基準値</h1>
  <%= render "shared/header" %>
</div><%#   /ヘッダー %>
<div style="display:flex;"><%# サイドバーとメインを左右に分ける %>
  <div data-scope-path="shared/side_bar"><%# サイドバー %>
    <%= render "shared/sidebar" %>
  </div><%# /サイドバー %>
  <div class="main"><%# メインバー %>
    <div data-scope-path="shares/index"><%# indexのcss %>
      <%= render "shared/result_links" %><%# resultのリンク %>
    </div><%# /indexのcss %>
    <hr>
    <div data-scope-path="results/index"><%# result_indexのcss %>
      <div class="nav-text" style="color: red;"><%= alert %></div><%# 更新などあった時のアラート %>
      <div><%# 検索 %>
        <%= form_with url: person_productivity_results_path, local: true, method: :get do |f| %>
            <p class="nav-text red">※こちらから確認したい範囲とユーザー名を選択してください。</p>
            <table class="s-tb">
              <tr class="">
                <th class="s-th">ユーザー名</th>
                <th class="s-th" colspan="2">日付</th>
                <th class="s-th" colspan="2"></th>
              </tr>
              <tr class="">
                <td class="s-td">
                  <%= f.text_field :search_user ,{class:"s-input"} %>
                </td>
                <td class="s-td"><%= f.date_field :s_date, value: params[:s_date],class:"s-input" %>~</td>
                <td class="s-td"><%= f.date_field :e_date, value: params[:e_date],class:"s-input" %></td>
                <td class="s-submit"><%= f.submit "絞込", data: {disable_with: "絞込中"},class: "s-btn" %></td>
                <td class="s-reset"><%= link_to "リセット",person_productivity_results_path,class:"reset-link","data-turbolinks": false %></td>
              </tr>
            </table>
        <% end %>
      </div><%# 検索 %>
      <% if @search_user.present? %><%# ユーザー名の検索があれば基準値と切り返し、生産性を出力する。 %>
        <% if @u_id.blank? %>
          <p class="nav-text">検索ユーザー名：<%= @search_user %>は該当がありませんでした、お名前が正しいか再度ご確認ください。</p>
        <% elsif @results.present? %><%# 終着があるか判別 %>
          <div><%# 基準値 %>
            <h2>
              終着：
              <%= @results.find_by(date: @results.minimum(:date)).date.strftime("%Y年%m月%d日") %>〜
              <%= @results.find_by(date: @results.maximum(:date)).date.strftime("%Y年%m月%d日") %>の情報を参照
            </h2>
            <p class="nav-text">◆基準値</p>
            <table>
              <thead>
                <tr>
                  <th colspan="2">基本情報</th>
                  <th colspan="11">基準値</th>
                </tr>
                <tr>
                  <th>ユーザー名</th>
                  <th>消化シフト数</th>
                  <th>オーナー不在</th>
                  <th>対面</th>
                  <th>対面率</th>
                  <th>フル数</th>
                  <th>フル率</th>
                  <th>情報聞いた数</th>
                  <th>情報聞いた率</th>
                  <th>認証キー回収</th>
                  <th>認証キー回収率</th>
                  <th>成約数</th>
                  <th>成約率</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= User.find(@u_id).name %></td>
                  <td><%= @results.length %></td>
                  <%# 訪問 %>
                  <td><%= total_visit_ave = ((@results.sum(:first_total_visit) + @results.sum(:latter_total_visit)).to_f / @results.length).round(1) rescue 0 %></td>
                  <%# 応答 %>
                  <td><%= visit_ave = ((@results.sum(:first_visit) + @results.sum(:latter_visit)).to_f / @results.length).round(1) rescue 0 %></td>
                  <td><%= (visit_ave / total_visit_ave * 100).round() rescue 0 %>%</td>
                  <%# 対面 %>
                  <td><%= interview_ave = ((@results.sum(:first_interview) + @results.sum(:latter_interview)).to_f / @results.length).round(1) rescue 0 %></td>
                  <td><%= (interview_ave / visit_ave * 100).round() rescue 0 %>%</td>
                  <%# フル %>
                  <td><%= full_talk_ave =  ((@results.sum(:first_full_talk) + @results.sum(:latter_full_talk)).to_f / @results.length).round(1) rescue 0 %></td>
                  <td><%= (full_talk_ave / interview_ave * 100).round() rescue 0 %>%</td>
                  <%# フル2 %>
                  <td><%= full_talk2_ave =  ((@results.sum(:first_full_talk2) + @results.sum(:latter_full_talk2)).to_f / @results.length).round(1) rescue 0 %></td>
                  <td><%= (full_talk_ave / interview_ave * 100).round() rescue 0 %>%</td>
                  <%# 成約 %>
                  <td><%= get_ave = ((@results.sum(:first_get) + @results.sum(:latter_get)).to_f / @results.length).round(1) rescue 0 %></td>
                  <td><%= (get_ave / full_talk_ave * 100).round() rescue 0 %>%</td>
                </tr>
              </tbody>
            </table>
          </div><%# 基準値 %>
          <%# 切り返しと生産性 %>
          <div style="display: flex;">
            <% @type_ary.zip(@type_result_ary) do |type, type_results| %>
              <div>
                <p class="nav-text">◆切り返し</p>
                <table>
                  <thead>
                    <tr>
                      <th colspan="">項目</th>
                      <th colspan="">内容</th>
                      <th colspan="">合計</th>
                      <th colspan="">平均</th>
                      <th colspan="">成約率</th>
                    </tr>
                  </thead>
                  <tbody>
                  <% @out_ary.zip(@out_num) do |out_name, out_num| %>
                    <tr>
                      <th rowspan="3"><%= out_name %></th>
                      <th rowspan="">対面</th>
                      <td><%= type_results.sum("out_interview_#{out_num}") rescue 0 %></td>
                      <td><%= (type_results.sum("out_interview_#{out_num}").to_f / @results.length).round(2) rescue 0 %></td>
                      <td>-</td>
                    </tr>
                    <tr>
                      <th rowspan="">フル</th>
                      <td><%= type_results.sum("out_full_talk_#{out_num}") rescue 0 %></td>
                      <td><%= (type_results.sum("out_full_talk_#{out_num}").to_f / @results.length).round(2) rescue 0 %></td>
                      <td><%= number_to_percentage(type_results.sum("out_full_talk_#{out_num}").to_f / type_results.sum("out_interview_#{out_num}").to_f * 100,precision: 1) rescue 0 %></td>
                    </tr>
                    <tr>
                      <th rowspan="">成約</th>
                      <td><%= type_results.sum("out_get_#{out_num}") rescue 0 %></td>
                      <td><%= (type_results.sum("out_get_#{out_num}").to_f/ @shift_digestion_new).round(2) rescue 0 %></td>
                      <td><%= number_to_percentage(type_results.sum("out_get_#{out_num}").to_f / type_results.sum("out_full_talk_#{out_num}").to_f * 100,precision: 1) rescue 0 %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>
          <div>
            <p class="nav-text">◆生産性</p>
            <table>
              <thead>
                <tr>
                  <th>商材</th>
                  <th>獲得数</th>
                  <th>生産性</th>
                </tr>
              </thead>
              <tbody>
                <% product_names = ["dメル", "auPay", "楽天ペイ", "AirPay","UsenPay"] %>
                <% @products.zip(product_names) do |product, name| %>
                <tr>
                  <th colspan=""><%= name %></th>
                  <td><%= product.length rescue 0 %></td>
                  <td><%= (product.length.to_f /  @results.length).round(1) rescue 0 %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          </div>
        <% elsif @search_user.present? %><%# ユーザー名は該当あったが終着の確認ができなかった場合 %>
          <p class="nav-text">検索ユーザー名：<%= User.find(@u_id).name %>さんの検索された日付の範囲では終着が確認できませんでした。</p>
          <% if @s_date.present? || @e_date.present? %><%# 日付を表示 %>
            <p class="nav-text" style="color: red;">開始日、もしくは終了日の入力が確認できませんでした。</p>
            <p class="nav-text">開始日：<%= @s_date %></p>
            <p class="nav-text">終了日：<%= @e_date %></p>
          <% else %>
            <p class="nav-text" style="color: red;">※日付の選択がされておりません。</p>
          <% end %>

        <% else %>
          <p class="nav-text"><%= User.find(@u_id).name %>さんの検索された日付の範囲では終着が確認できませんでした。</p>
        <% end %><%# 終着があるか判別 %>
      <% else %>
        <p class="nav-text"></p>
      <% end %>
    </div><%# result_indexのcss %>
  </div><%# /メインバー %>
</div><%# /サイドバーとメインを左右に分ける %>