<div data-scope-path="shared/header">
  <h1>マイページ</h1>
  <%= render "shared/header" %>
</div>
<div data-scope-path="shared/side_bar_humbarger">
  <%= render "shared/sidebar" %>
</div>
<div style="display:flex;">
  <div data-scope-path="users/show"><%# users/showスコープ頭 %>
    <%= render "shared/mypage_links" %>
    <h2>
      <%= @user.name %>：商材ステータス
      <%= link_to "<<",product_status_results_path(u_id: @user.id,month:@month.prev_month),"data-turbolinks": false, class:"link" %>
      <%= @month.year %>年<%= @month.month %>月
      <%= link_to ">>",product_status_results_path(u_id: @user.id,month:@month.next_month),"data-turbolinks": false, class:"link" %>
    </h2><br>
    <p class="alert"><%= notice %></p><%# 登録した時のアラート %>
<table class="status-tb">
  <tr>
    <th class="valuation-th" colspan="7">ステータス早見</th>
  </tr>
  <tr>
    <th class="valuation-th">商材</th>
    <th class="valuation-th">獲得数</th>
    <th class="valuation-th">審査待ち</th>
    <th class="valuation-th">審査通過</th>
    <th class="valuation-th">不備・NG</th>
  </tr>
  <tr>
    <td class="valuation-td">dメル</td>
    <td class="valuation-td"><%= @dmers.length %></td>
    <td class="valuation-td"><%= 
          @dmers.where.not(status: "審査OK")
          .where.not(status: "審査NG")
          .where.not(status: "申込取消")
          .where.not(status: "申込取消（不備）")
          .where.not(status: "不備対応中").length 
    %></td>
    <td class="valuation-td"><%= 
          @dmers.where(status: "審査OK")
          .where.not(industry_status: "NG")
          .where.not(industry_status: "×").length 
    %></td>
    <td class="valuation-td"><%= 
          @dmers.where(status: "審査NG")
          .or(@dmers.where(industry_status: "NG"))
          .or(@dmers.where(industry_status: "×"))
          .or(@dmers.where(status: "申込取消"))
          .or(@dmers.where(status: "不備対応中"))
          .or(@dmers.where(status: "申込取消（不備）")).length 
    %></td>
  </tr>
  <tr>
    <td class="valuation-td">auPay</td>
    <td class="valuation-td"><%= @aupays.length %></td>
    <td class="valuation-td"><%= 
      @aupays
      .where.not(status: "審査通過")
      .where.not(status: "不合格")
      .where.not(status: "取消")
      .where.not(status: "申込取消")
      .where.not(status: "報酬対象外")
      .where.not(status: "差し戻し")
      .where.not(status: "重複対象外").length 
    %></td>
    <td class="valuation-td"><%= @aupays.where(status: "審査通過").length %></td>
    <td class="valuation-td"><%= 
      @aupays.where(status: "不合格")
      .or(@aupays.where(status: "取消"))
      .or(@aupays.where(status: "報酬対象外"))
      .or(@aupays.where(status: "重複対象外"))
      .or(@aupays.where(status: "差し戻し"))
      .or(@aupays.where(status: "申込取消")).length 
    %></td>
  </tr>
  <tr>
    <td class="valuation-td">楽天ペイ</td>
    <td class="valuation-td"><%= @rakuten_pays.length %></td>
    <td class="valuation-td"><%= 
          @rakuten_pays.where(status: "未処理")
          .or(@rakuten_pays.where(status: "審査待ち")).length 
    %></td>
    <td class="valuation-td"><%= @rakuten_pays.where(status: "OK").length %></td>
    <td class="valuation-td"><%= 
      @rakuten_pays.where(status: "自社不備")
      .or(@rakuten_pays.where(status: "自社NG")).length 
    %></td>
  </tr>
  <tr>
    <td class="valuation-td">AirPay</td>
    <td class="valuation-td"><%= @airpays.length %></td>
    <td class="valuation-td"><%= 
      @airpays.where(status: "審査中")
      .or(@airpays.where(status: "書類提出待ち")).length 
    %></td>
    <td class="valuation-td"><%= @airpays.where(status: "審査完了").length %></td>
    <td class="valuation-td"><%= @airpay_def_ng.length %></td>
  </tr>
  <tr>
    <td class="valuation-td">PayPay</td>
    <td class="valuation-td"><%= @paypays.length %></td>
    <td class="valuation-td"><%= @airpays.where(status: "審査待ち").length %></td>
    <td class="valuation-td"><%= @paypays.where(status: "60審査可決").length %></td>
    <td class="valuation-td"><%= %></td>
  </tr>
  <tr>
    <td class="valuation-td">UsenPay</td>
    <td class="valuation-td"><%= @usen_pays.length %></td>
    <td class="valuation-td"><%= %></td>
    <td class="valuation-td"><%= %></td>
    <td class="valuation-td"><%= %></td>
  </tr>
  <tr>
    <td class="valuation-td">ITSS</td>
    <td class="valuation-td"><%= @itss_get.length %></td>
    <td class="valuation-td"><%=  %></td>
    <td class="valuation-td"><%= @itss.where(status_ntt1: "工事完了").length %></td>
    <td class="valuation-td"><%= %></td>
  </tr>
  <tr>
    <td class="valuation-td">出前館</td>
    <td class="valuation-td"><%=  %></td>
    <td class="valuation-td"><%=  %></td>
    <td class="valuation-td"><%= @demaekan.length %></td>
    <td class="valuation-td"><%= %></td>
  </tr>
</table>
<% if @dmers.present? %>
<h2>dメル審査状況（<%= @dmers.length %>件）</h2>
<table>
  <thead>
    <tr>
      <th class="valuation-th">詳細</th>
      <th class="valuation-th">商流</th>
      <th class="valuation-th">店舗名</th>
      <th class="valuation-th">獲得日</th>
      <th class="valuation-th">業種評価</th>
      <th class="valuation-th">審査ステータス</th>
      <th class="valuation-th">審査完了日</th>
      <th class="valuation-th">キット発送日</th>
      <th class="valuation-th">決済ステータス</th>
      <th class="valuation-th">決済完了日</th>
      <th class="valuation-th">決済期限</th>
      <th class="valuation-th">2回目決済完了日</th>
    </tr>
  </thead>
  <tbody>
    <% @dmers.each do |dmer| %>
      <% 
        if dmer.industry_status == "×" || dmer.industry_status == "NG" ||
            dmer.status == "審査NG" || dmer.status == "申込取消" ||
            dmer.status == "申込取消（不備）"
      %>
      <tr style="color:red;">
      <% elsif dmer.status == "不備対応中" %>
      <tr style="color:purple;">
      <% else %>
      <tr>
      <% end %>
      <td class="valuation-td"><%= link_to "詳細", dmer_path(dmer.id), class: "link" %></td>
      <td class="valuation-td"><%= dmer.client %></td>
      <td class="valuation-td"><%= dmer.store_prop.name %></td>
      <td class="valuation-td"><%= dmer.date %></td>
      <td class="valuation-td"><%= dmer.industry_status %></td>
      <td class="valuation-td"><%= dmer.status %></td>
      <td class="valuation-td"><%= dmer.result_point %></td>
      <td class="valuation-td"><%= dmer.shipment %></td>
      <td class="valuation-td"><%= dmer.status_settlement %></td>
      <td class="valuation-td"><%= dmer.status_update_settlement %></td>
      <td class="valuation-td"><%= dmer.settlement_deadline %></td>
      <td class="valuation-td"><%= dmer.settlement_second %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<% if @aupays.present? %>
<h2>auPay審査状況（<%= @aupays.length %>件）</h2>
<table>
  <thead>
    <tr>
      <th class="valuation-th">詳細</th>
      <th class="valuation-th">商流</th>
      <th class="valuation-th">店舗名</th>
      <th class="valuation-th">獲得日</th>
      <th class="valuation-th">審査ステータス</th>
      <th class="valuation-th">審査完了日</th>
      <th class="valuation-th">キット発送日</th>
      <th class="valuation-th">決済ステータス</th>
      <th class="valuation-th">決済完了日</th>
      <th class="valuation-th">決済期限</th>
    </tr>
  </thead>
  <tbody>
    <% @aupays.each do |aupay| %>
      <% if 
        aupay.status == "不合格" || 
        aupay.status == "申込取消" || 
        aupay.status == "報酬対象外" || 
        aupay.status == "重複対象外" ||
        aupay.deficiency_remarks == "既存auPAY加盟店の登録がすでにあるため、差し戻しさせていただきます。"
      %>
      <tr style="color:red;">
      <% elsif aupay.status == "差し戻し" %>
      <tr style="color:purple;">
      <% else %>
      <tr>
      <% end %>
      <td class="valuation-td"><%= link_to "詳細", aupay_path(aupay.id), class: "link" %></td>
      <td class="valuation-td"><%= aupay.client %></td>
      <td class="valuation-td"><%= aupay.store_prop.name %></td>
      <td class="valuation-td"><%= aupay.date %></td>
      <% if aupay.deficiency_remarks != "既存auPAY加盟店の登録がすでにあるため、差し戻しさせていただきます。" && aupay.status == "差し戻し" %>
      <td class="valuation-td">不備対応中</td>
      <% else %>
      <td class="valuation-td"><%= aupay.status %></td>
      <% end %>
      <td class="valuation-td"><%= aupay.result_point %></td>
      <td class="valuation-td"><%= aupay.shipment %></td>
      <td class="valuation-td"><%= aupay.status_settlement %></td>
      <td class="valuation-td"><%= aupay.status_update_settlement %></td>
      <td class="valuation-td"><%= aupay.settlement_deadline %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<% if @rakuten_pays.present? %>
<h2>楽天ペイ審査状況（<%= @rakuten_pays.length %>件）</h2>
<table>
  <thead>
    <tr>
      <th class="valuation-th">詳細</th>
      <th class="valuation-th">商流</th>
      <th class="valuation-th">店舗名</th>
      <th class="valuation-th">獲得日</th>
      <th class="valuation-th">審査ステータス</th>
      <th class="valuation-th">審査完了日</th>
    </tr>
  </thead>
  <tbody>
    <% @rakuten_pays.each do |rakuten_pay| %>
      <% if rakuten_pay.status == "不合格"  %>
      <tr style="color:red;">
      <% elsif rakuten_pay.status == "差し戻し" %>
      <tr style="color:purple;">
      <% else %>
      <tr>
      <% end %>
      <td class="valuation-td"><%= link_to "詳細", rakuten_pay_path(rakuten_pay.id), class: "link" %></td>
      <td class="valuation-td"><%= rakuten_pay.client %></td>
      <td class="valuation-td"><%= rakuten_pay.store_prop.name %></td>
      <td class="valuation-td"><%= rakuten_pay.date %></td>
      <td class="valuation-td"><%= rakuten_pay.status %></td>
      <td class="valuation-td"><%= rakuten_pay.result_point %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<% if @airpays.present? %>
<h2>AirPay審査状況（<%= @airpays.length %>件）</h2>
<table>
  <thead>
    <tr>
      <th class="valuation-th">詳細</th>
      <th class="valuation-th">店舗名</th>
      <th class="valuation-th">獲得日</th>
      <th class="valuation-th">審査ステータス</th>
      <th class="valuation-th">審査完了日</th>
    </tr>
  </thead>
  <tbody>
    <% @airpays.each do |airpay| %>
      <% if airpay.status == "審査NG"  %>
      <tr style="color:red;">
      <% elsif 
        (airpay.status == "代表者情報不備") || 
        (airpay.status == "店舗情報不備") ||  
        (airpay.status == "口座情報不備")
      %>
      <tr style="color:purple;">
      <% else %>
      <tr>
      <% end %>
      <td class="valuation-td"><%= link_to "詳細", airpay_path(airpay.id), class: "link" %></td>
      <td class="valuation-td"><%= airpay.store_prop.name %></td>
      <td class="valuation-td"><%= airpay.date %></td>
      <td class="valuation-td"><%= airpay.status %></td>
      <td class="valuation-td"><%= airpay.result_point %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<% if @usen_pays.present? %>
<h2>UsenPay審査状況（<%= @usen_pays.length %>件）</h2>
<table>
  <thead>
    <tr>
      <th class="valuation-th">店舗名</th>
      <th class="valuation-th">獲得日</th>
      <th class="valuation-th">審査ステータス</th>
      <th class="valuation-th">成果になった日</th>
      <th class="valuation-th">不備内容</th>
    </tr>
  </thead>
  <tbody>
    <% @usen_pays.each do |usen_pay| %>
      <td class="valuation-td"><%= usen_pay.store_name %></td>
      <td class="valuation-td"><%= usen_pay.date %></td>
      <td class="valuation-td"><%= usen_pay.status %></td>
      <td class="valuation-td"><%= usen_pay.result_point %></td>
      <td class="valuation-td"><%= usen_pay.def_remarks %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<% if @dmers_db.length != 0 || @aupays_db.length != 0 %>
<h2>複数店一覧</h2>
<table>
<tr>
  <th class="valuation-th">商材</th>
  <th class="valuation-th">商流</th>
  <th class="valuation-th">店舗名</th>
  <th class="valuation-th">獲得日</th>
  <th class="valuation-th">ステータス</th>
  <th class="valuation-th">審査完了日</th>
  <th class="valuation-th">詳細</th>
</tr>
<% @dmers_db.each do |dmer|  %>
  <% 
    if dmer.industry_status == "×" || dmer.industry_status == "NG" ||
        dmer.status == "審査NG" || dmer.status == "申込取消" ||
        dmer.status == "申込取消（不備）"
  %>
  <tr style="color:red;">
  <% elsif dmer.status == "不備対応中" %>
  <tr style="color:purple;">
  <% else %>
  <tr>
  <% end %>
  <td class="valuation-td">dメル</td>
  <td class="valuation-td"><%= dmer.client %></td>
  <td class="valuation-td"><%= dmer.store_prop.name %></td>
  <td class="valuation-td"><%= dmer.date %></td>
  <td class="valuation-td"><%= dmer.status %></td>
  <td class="valuation-td"><%= dmer.result_point %></td>
  <td class="valuation-td"><%= link_to "詳細", dmer_path(dmer.id),class: "link" %></td>
</tr>
<% end %>
<% @aupays_db.each do |aupay|  %>
  <% if 
    aupay.status == "不合格" || 
    aupay.status == "申込取消" || 
    aupay.status == "報酬対象外" || 
    aupay.status == "重複対象外" ||
    aupay.deficiency_remarks == "既存auPAY加盟店の登録がすでにあるため、差し戻しさせていただきます。"
  %>
  <tr style="color:red;">
  <% elsif aupay.status == "差し戻し" %>
  <tr style="color:purple;">
  <% else %>
  <tr>
  <% end %>
  <td class="valuation-td">auPay</td>
  <td class="valuation-td"><%= aupay.client %></td>
  <td class="valuation-td"><%= aupay.store_prop.name %></td>
  <td class="valuation-td"><%= aupay.date %></td>
  <td class="valuation-td"><%= aupay.status %></td>
  <td class="valuation-td"><%= aupay.result_point %></td>
  <td class="valuation-td"><%= link_to "詳細", aupay_path(aupay.id),class: "link" %></td>
</tr>
<% end %>
</table>
<% end %>
  </div><%# users/showスコープ末尾 %>
</div>