<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>ランキング</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
<div class="main">
    <div data-scope-path="shares/index">
      <%= render "shared/result_links" %>
    </div>
    <hr>
  <div data-scope-path="results/ranking">
    <%# 各商材の%を選択 %>
    <h2>
      <%= link_to "<<",ranking_results_path(month:@month.prev_month), class:"link" %>
      <%= @month.month %>月 (<%= @start_date.strftime("%m月%d日") %>〜<%= @end_date.strftime("%m月%d日") %>)
      <%= link_to ">>",ranking_results_path(month:@month.next_month), class:"link" %>
    </h2>
  <%# ランキング %>
    <div style="display: flex;">
      <div><%# 終着 %>
        <p class="sub-title">終着</p>
        <table>
          <thead>
            <tr>
              <th class="rank-th">順位</th>
              <th class="rank-th">氏名</th>
              <th class="rank-th">終着売上</th>
            </tr>
          </thead>
          <tbody>
          <% @cash_date_progress.each_with_index do |rank,i| %>
            <tr>
              <td class="rank-td"><%= i + 1 %>位</td>
              <td class="rank-td"><%= rank.user.name %></td>
              <td class="rank-td"><%= (rank.valuation_fin).to_s(:delimited) %></td>
            </tr>
          <% break if i == 4 %>
          <% end %>
          </tbody>
        </table>
      </div><%# /終着 %>
      <div><%# Ave %>
        <p class="sub-title">平均</p>
        <table>
          <thead>
            <tr>
              <th class="rank-th">順位</th>
              <th class="rank-th">氏名</th>
              <th class="rank-th">Ave</th>
            </tr>
          </thead>
          <tbody>
          <% @ranking_ave.each_with_index do |rank,i| %>
            <tr>
              <td class="rank-td"><%= i + 1 %>位</td>
              <td class="rank-td"><%= rank[0] %></td>
              <td class="rank-td"><%= (rank[1][0]).to_s(:delimited) %></td>
            </tr>
          <% break if i == 4 %>
          <% end %>
          </tbody>
        </table>
      </div><%# /終着 %>
    </div>
    <h2>商材別獲得数</h2>
    <div style="display: flex;">
      <div><%# dメル %>
        <p class="sub-title">dメル</p>
        <table>
          <thead>
            <tr>
              <th>順位</th>
              <th>氏名</th>
              <th>現状獲得数</th>
            </tr>
          </thead>
          <tbody>
          <% @dmer_date_progress.each_with_index do |dmer,i| %>
            <tr>
              <td><%= i + 1 %>位</td>
              <td><%= dmer.user.name %></td>
              <td><%= (dmer.get_len) %></td>
            </tr>
          <% break if i == 4 %>
          <% end %>
          </tbody>
        </table>
      </div><%# /dメル %>
      <div><%# auPay %>
        <p class="sub-title">auPay</p>
        <table>
          <thead>
            <tr>
              <th>順位</th>
              <th>氏名</th>
              <th>現状獲得数</th>
            </tr>
          </thead>
          <tbody>
          <% @aupay_date_progress.each_with_index do |aupay,i| %>
            <tr>
              <td><%= i + 1 %>位</td>
              <td><%= aupay.user.name %></td>
              <td><%= (aupay.get_len) %></td>
            </tr>
          <% break if i == 4 %>
          <% end %>
          </tbody>
        </table>
      </div><%# /auPay %>
    </div>
    <div style="display: flex;">
      <div><%# 楽天ペイ %>
        <p class="sub-title">楽天ペイ</p>
        <table>
          <thead>
            <tr>
              <th>順位</th>
              <th>氏名</th>
              <th>現状獲得数</th>
            </tr>
          </thead>
          <tbody>
          <% @rakuten_pay_date_progress.each_with_index do |rakuten_pay,i| %>
            <tr>
              <td><%= i + 1 %>位</td>
              <td><%= rakuten_pay.user.name %></td>
              <td><%= (rakuten_pay.get_len) %></td>
            </tr>
          <% break if i == 4 %>
          <% end %>
          </tbody>
        </table>
      </div><%# /楽天ペイ %>
      <div><%# AirPay %>
        <p class="sub-title">AirPay</p>
        <table>
          <thead>
            <tr>
              <th>順位</th>
              <th>氏名</th>
              <th>現状獲得数</th>
            </tr>
          </thead>
          <tbody>
          <% @airpay_date_progress.each_with_index do |airpay,i| %>
            <tr>
              <td><%= i + 1 %>位</td>
              <td><%= airpay.user.name %></td>
              <td><%= (airpay.get_len) %></td>
            </tr>
          <% break if i == 4 %>
          <% end %>
          </tbody>
        </table>
      </div><%# /AirPay %>
    </div>
    <p class="caution-text">
      ※獲得数は不備・NGも入ってます。
      （<%= @start_date.strftime("%m月%d日") %>〜<%= @end_date.strftime("%m月%d日") %>）
      の範囲で算出しております。
    </p>
  </div>
</div>