<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>マイページ</h1>
  <%= render "shared/header" %>
</div>
<div data-scope-path="shared/side_bar_humbarger">
  <%= render "shared/sidebar" %>
</div>
<div style="display:flex;">
  <div data-scope-path="users/show"><%# users/showスコープ頭 %>
    <h2>
      <%= @user.name %>：利益表
      <%= link_to "<<",result_path(@user.id,month:@month.prev_month),"data-turbolinks": false, class:"link" %>
      <%= @month.year %>年<%= @month.month %>月
      <%= link_to ">>",result_path(@user.id,month:@month.next_month),"data-turbolinks": false, class:"link" %>
    </h2><br>
    <%= render "shared/mypage_links" %>
    <p class="alert"><%= notice %></p><%# 登録した時のアラート %>
<div class="result-flex"><%# 大枠 %>
  <div class="left-frame"><%# 左側区切り（日々の終着） %>
    <%= render_async date_fin_path(@user.id,month: @month) %>
  </div><%# /左側区切り（日々の終着） %>
  <div class="right-frame"><%# 右側の区切り %>
    <div><%#シフト/売上の区切り%>
      <h2 class="shift-h2"><%= @start_date.strftime('%Y-%m-%d') %>（<%= days[@start_date.wday] %>）〜<%= @end_date.strftime('%Y-%m-%d') %>（<%= days[@end_date.wday] %>）売上更新：<%= @cash_date_progress.create_date rescue "未更新" %></h2>
      <table>
        <tr>
          <th class="date-th">シフト（内訳）</th>
          <th class="date-th">予定</th>
          <th class="date-th">消化</th>
          <th class="date-th">残シフト</th>
          <th class="date-th">現状売上</th>
          <th class="date-th">Ave</th>
          <th class="date-th">予測終着</th>
          <th class="date-th">帯同加味</th>
        </tr>
        <tr>
          <td class="date-td">キャッシュレス新規</td><%# 欠勤 %>
          <td class="date-td"><%= @shift_schedule_new rescue 0 %></td>
          <td class="date-td"><%= @shift_digestion_new rescue 0 %></td>
          <td class="date-td"><%= @shift_schedule_new - @shift_digestion_new rescue 0 %></td>
          <td class="date-td"><%=  %></td>
          <td class="date-td"><%=  %></td>
          <td class="date-td"><%=  %></td>
          <td class="date-td"></td>
        </tr>
        <tr>
          <td class="date-td">キャッシュレス決済</td>
          <td class="date-td"><%= @shift_schedule_slmt rescue 0 %></td>
          <td class="date-td"><%= @shift_digestion_slmt rescue 0 %></td>
          <td class="date-td"><%= @shift_schedule_slmt - @shift_digestion_slmt rescue 0 %></td>
          <td class="date-td"><%=  %></td>
          <td class="date-td"><%=  %></td>
          <td class="date-td"><%=  %></td>
          <td class="date-td"></td>
        </tr>
        <tr>
          <% valuation_ave = (@cash_date_progress.valuation_fin.to_f / @cash_date_progress.shift_schedule).round() rescue 0 %>
          <td class="date-td">帯同</td>
          <td class="date-td"><%= @shift_schedule_ojt rescue 0 %></td>
          <td class="date-td"><%= @shift_digestion_ojt rescue 0 %></td>
          <td class="date-td"><%= @shift_schedule_ojt - @shift_digestion_ojt rescue 0 %></td>
          <td class="date-td"><%= (valuation_ave * @shift_digestion_ojt).to_s(:delimited) rescue 0 %></td>
          <td class="date-td"><%= valuation_ave %></td>
          <td class="date-td"><%= (valuation_ave * @shift_schedule_ojt).to_s(:delimited) rescue 0 %></td>
          <td class="date-td"></td>
        </tr>
        <tr>
          <td class="date-td">合計</td>
          <td class="date-td"><%= shift_sum = @shift_schedule_new + @shift_schedule_slmt + @shift_schedule_ojt rescue 0 %></td>
              <td class="date-td"><%= digestion_sum = @shift_digestion_new + @shift_digestion_slmt + @shift_digestion_ojt %></td>
          <td class="date-td"><%= shift_sum - digestion_sum %></td>
          <td class="date-td"><%= @cash_date_progress.valuation_current.to_s(:delimited) rescue 0 %></td>
          <td class="date-td"><%= valuation_ave.to_s(:delimited) rescue 0 %></td>
          <td class="date-td"><%= @cash_date_progress.valuation_fin.to_s(:delimited) rescue 0 %></td>
          <td class="date-td"><%= (@cash_date_progress.valuation_fin + (valuation_ave * @shift_schedule_ojt)).to_s(:delimited) rescue 0 %></td>
        </tr>
      </table> 
    </div><%#/シフト/売上の区切り%>
    <%# Vueの変 %>
    <script> 
      window.result_chubu=<%= @result_chubu.to_json.html_safe %>;
      window.result_kansai=<%= @result_kansai.to_json.html_safe %>;
      window.result_kanto=<%= @result_kanto.to_json.html_safe %>;
      window.result_kyushu=<%= @result_kyushu.to_json.html_safe %>;
      window.result_partner=<%= @result_partner.to_json.html_safe %>;
      window.result_cash_chubu=<%= @result_cash_chubu.to_json.html_safe %>;
      window.result_cash_kansai=<%= @result_cash_kansai.to_json.html_safe %>;
      window.result_cash_kanto=<%= @result_cash_kanto.to_json.html_safe %>;
      window.result_cash_kyushu=<%= @result_cash_kyushu.to_json.html_safe %>;
      window.result_cash_partner=<%= @result_cash_partner.to_json.html_safe %>;
      window.hour_visit_chubu=<%= @hour_visit_chubu.to_json.html_safe %>;
      window.hour_get_chubu=<%= @hour_get_chubu.to_json.html_safe %>;
      window.hour_visit_kansai=<%= @hour_visit_kansai.to_json.html_safe %>;
      window.hour_get_kansai=<%= @hour_get_kansai.to_json.html_safe %>;
      window.hour_visit_kanto=<%= @hour_visit_kanto.to_json.html_safe %>;
      window.hour_get_kanto=<%= @hour_get_kanto.to_json.html_safe %>;
      window.hour_visit_kyushu=<%= @hour_visit_kyushu.to_json.html_safe %>;
      window.hour_get_kyushu=<%= @hour_get_kyushu.to_json.html_safe %>;
      window.hour_visit_partner=<%= @hour_visit_partner.to_json.html_safe %>;
      window.hour_get_partner=<%= @hour_get_partner.to_json.html_safe %>;
      window.chubu_len=<%= @chubu_len.to_json.html_safe %>;
      window.kansai_len=<%= @kansai_len.to_json.html_safe %>;
      window.kanto_len=<%= @kanto_len.to_json.html_safe %>;
      window.kyushu_len=<%= @kyushu_len.to_json.html_safe %>;
      window.partner_len=<%= @partner_len.to_json.html_safe %>;
    </script>
    <%# /Vueの変 %>
    <%= javascript_pack_tag 'result_cash' %>
    
    <div  id="result-cash"><%# vueの適用範囲 %>
        <h3 class="base-slct-title">
          基準値を比較する拠点：
          <select @change="shiftSlct" class="standard-val">
            <option value="中部SS">中部SS</option>
            <option value="関西SS">関西SS</option>
            <option value="関東SS">関東SS</option>
            <option value="九州SS">九州SS</option>
            <option value="2次店">2次店SS</option>
          </select>
        </h3>
      <div class="result-flex"><%#基準値区切り%>
        <div><%# 個人基準値 %>
          <h2>基準値</h2>
          <table class="total-tb">
            <thead>
              <tr>
                <th class="total-th">項目</th>
                <th class="total-th">内訳</th>
                <th class="total-th">平均</th>
                <th class="total-th">比率</th>
              </tr>
            </thead>
            <tbody>
              <tr></tr>
              <tr>
                <th rowspan="5" class="total-th">合計</th>
                <th class="total-th">訪問</th>
                <td class="total-td"><%= (@sum_total_visit.to_f / @shift_digestion_new).to_f.round(2) rescue "-" %></td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">応答</th>
                <td class="total-td"><%= (@sum_visit.to_f / @shift_digestion_new).to_f().round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_visit.to_f / @sum_total_visit.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">面会</th>
                <td class="total-td"><%= (@sum_interview.to_f / @shift_digestion_new).to_f().round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_interview.to_f / @sum_visit.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">フル</th>
                <td class="total-td"><%= (@sum_full_talk.to_f / @shift_digestion_new).to_f.round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_full_talk.to_f / @sum_interview.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">成約</th>
                <td class="total-td"><%= (@sum_get.to_f / @shift_digestion_new).to_f.round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_get.to_f / @sum_full_talk.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th rowspan="5" class="total-th">前半</th>
                <th class="total-th">訪問</th>
                <td class="total-td"><%= (@sum_total_visit_f.to_f / @shift_digestion_new).round(2) rescue "-" %></td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">応答</th>
                <td class="total-td"><%= (@sum_visit_f.to_f / @shift_digestion_new).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_visit_f.to_f / @sum_total_visit_f.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">面会</th>
                <td class="total-td"><%= (@sum_interview_f.to_f / @shift_digestion_new).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_interview_f.to_f / @sum_visit_f.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">フル</th>
                <td class="total-td"><%= (@sum_full_talk_f.to_f / @shift_digestion_new).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_full_talk_f.to_f / @sum_interview_f.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">成約</th>
                <td class="total-td"><%= (@sum_get_f.to_f / @shift_digestion_new).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_get_f.to_f / @sum_full_talk_f.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th rowspan="5" class="total-th">後半</th>
                <th class="total-th">訪問</th>
                <td class="total-td"><%= (@sum_total_visit_l.to_f / @shift_digestion_new).round(2) rescue "-" %></td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">応答</th>
                <td class="total-td"><%= (@sum_visit_l.to_f / @shift_digestion_new).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_visit_l.to_f / @sum_total_visit_l.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">面会</th>
                <td class="total-td"><%= (@sum_interview_l.to_f / @shift_digestion_new).round(2)  rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_interview_l.to_f / @sum_visit_l.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">フル</th>
                <td class="total-td"><%= (@sum_full_talk_l.to_f / @shift_digestion_new).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_full_talk_l.to_f / @sum_interview_l.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">成約</th>
                <td class="total-td"><%= (@sum_get_l.to_f / @shift_digestion_new).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_get_l.to_f / @sum_full_talk_l.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
            </tbody>
          </table>
        </div><%# /個人基準値 %>
        <div><%#拠点別基準値%>
            <h2>拠点別基準値（{{ val }}）</h2>
            <table class="total-tb">
              <tr>
                <th class="total-th">項目</th>
                <th class="total-th">内訳</th>
                <th class="total-th">平均</th>
                <th class="total-th">比率</th>
              </tr>
              <tr>
                <th class="total-th" rowspan="5">合計</th>
                <th class="total-th">訪問</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_total_visit + element.latter_total_visit, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">応答</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_visit + element.latter_visit, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_visit + element.latter_visit, 0) / shiftItem.reduce((sum, element) => sum + element.first_total_visit + element.latter_total_visit, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th">対面</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_interview + element.latter_interview, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_interview + element.latter_interview, 0) / shiftItem.reduce((sum, element) => sum + element.first_visit + element.latter_visit, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th">フル</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_full_talk + element.latter_full_talk, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_full_talk + element.latter_full_talk, 0) / shiftItem.reduce((sum, element) => sum + element.first_interview + element.latter_interview, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th">成約</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_get + element.latter_get, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_get + element.latter_get, 0) / shiftItem.reduce((sum, element) => sum + element.first_full_talk + element.latter_full_talk, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th" rowspan="5">前半</th>
                <th class="total-th">訪問</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_total_visit , 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">応答</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_visit, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_visit, 0) / shiftItem.reduce((sum, element) => sum + element.first_total_visit , 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th">対面</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_interview , 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_interview , 0) / shiftItem.reduce((sum, element) => sum + element.first_visit, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th">フル</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_full_talk , 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_full_talk , 0) / shiftItem.reduce((sum, element) => sum + element.first_interview , 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th">成約</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_get , 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_get , 0) / shiftItem.reduce((sum, element) => sum + element.first_full_talk , 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th" rowspan="5">後半</th>
                <th class="total-th">訪問</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.latter_total_visit, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">応答</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.latter_visit, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.latter_visit, 0) / shiftItem.reduce((sum, element) => sum + element.latter_total_visit, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th">対面</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum +  element.latter_interview, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum +  element.latter_interview, 0) / shiftItem.reduce((sum, element) => sum + element.latter_visit, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th">フル</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.latter_full_talk, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.latter_full_talk, 0) / shiftItem.reduce((sum, element) => sum +  element.latter_interview, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th">成約</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.latter_get, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.latter_get, 0) / shiftItem.reduce((sum, element) => sum + element.latter_full_talk, 0) * 100)}} %</td>
              </tr>
            </table>
        </div><%#拠点別基準値%>
        <div><%# 全体基準値 @result_base %>
          <h2>全体基準値</h2>
          <table class="total-tb">
            <thead>
              <tr>
                <th class="total-th">項目</th>
                <th class="total-th">内訳</th>
                <th class="total-th">平均</th>
                <th class="total-th">比率</th>
              </tr>
            </thead>
            <tbody>
              <tr></tr>
              <tr>
                <th rowspan="5" class="total-th">合計</th>
                <th class="total-th">訪問</th>
                <td class="total-td"><%= (@result_base_sum_total_visit.to_f / @result_base.length).to_f().round(2) rescue "-" %></td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">応答</th>
                <td class="total-td"><%= (@result_base_sum_visit.to_f / @result_base.length).to_f().round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base_sum_visit.to_f / @result_base_sum_total_visit.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">面会</th>
                <td class="total-td"><%= (@result_base_sum_interview.to_f / @result_base.length).to_f().round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base_sum_interview.to_f / @result_base_sum_visit.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">フル</th>
                <td class="total-td"><%= (@result_base_sum_full_talk.to_f / @result_base.length).to_f.round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base_sum_full_talk.to_f / @result_base_sum_interview.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">成約</th>
                <td class="total-td"><%= (@result_base_sum_get.to_f / @result_base.length).to_f.round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base_sum_get.to_f / @result_base_sum_full_talk.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th rowspan="5" class="total-th">前半</th>
                <th class="total-th">訪問</th>
                <td class="total-td"><%= (@result_base.sum(:first_total_visit).to_f / @result_base.length).round(2) rescue "-" %></td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">応答</th>
                <td class="total-td"><%= (@result_base.sum(:first_visit).to_f / @result_base.length).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base.sum(:first_visit).to_f / @result_base.sum(:first_total_visit).to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">面会</th>
                <td class="total-td"><%= (@result_base.sum(:first_interview).to_f / @result_base.length).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base.sum(:first_interview).to_f / @result_base.sum(:first_visit).to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">フル</th>
                <td class="total-td"><%= (@result_base.sum(:first_full_talk).to_f / @result_base.length).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base.sum(:first_full_talk).to_f / @result_base.sum(:first_interview).to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">成約</th>
                <td class="total-td"><%= (@result_base.sum(:first_get).to_f / @result_base.length).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base.sum(:first_get).to_f / @result_base.sum(:first_full_talk).to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th rowspan="5" class="total-th">後半</th>
                <th class="total-th">訪問</th>
                <td class="total-td"><%= (@result_base.sum(:latter_total_visit).to_f / @result_base.length).round(2) rescue "-" %></td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">応答</th>
                <td class="total-td"><%= (@result_base.sum(:latter_visit).to_f / @result_base.length).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base.sum(:latter_visit).to_f / @result_base.sum(:latter_total_visit).to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">面会</th>
                <td class="total-td"><%= (@result_base.sum(:latter_interview).to_f / @result_base.length).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base.sum(:latter_interview).to_f / @result_base.sum(:latter_visit).to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">フル</th>
                <td class="total-td"><%= (@result_base.sum(:latter_full_talk).to_f / @result_base.length).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base.sum(:latter_full_talk).to_f / @result_base.sum(:latter_interview).to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">成約</th>
                <td class="total-td"><%= (@result_base.sum(:latter_get).to_f / @result_base.length).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base.sum(:latter_get).to_f / @result_base.sum(:latter_full_talk).to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
            </tbody>
          </table>
        </div><%# /全体基準値 %>
      </div><%#基準値区切り%>
      <div class="result-flex"><%# 店舗別基準値 %>
        <%= render_async store_val_path(@user.id,month: @month) %><%# 店舗別基準値（個人） %>
        <div><%# 拠点別店舗基準値 %>
            <h2>
              拠点別店舗基準値（{{ val }}）
            </h2>
            <table>
              <tr>
                <th class="total-th">項目</th>
                <th class="total-th">内訳</th>
                <th class="total-th">平均</th>
                <th class="total-th">比率</th>
              </tr>
              <tr>
                <th class="total-th" rowspan="2">喫茶・カフェ</th>
                <th class="total-th">訪問</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.cafe_visit, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">成約</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.cafe_get, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.cafe_get, 0) / shiftItem.reduce((sum, element) => sum + element.cafe_visit, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th" rowspan="2">その他飲食</th>
                <th class="total-th">訪問</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.other_food_visit, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">成約</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.other_food_get, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.other_food_get, 0) / shiftItem.reduce((sum, element) => sum + element.other_food_visit, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th" rowspan="2">車屋</th>
                <th class="total-th">訪問</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.car_visit, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">成約</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.car_get, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.car_get, 0) / shiftItem.reduce((sum, element) => sum + element.car_visit, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th" rowspan="2">その他小売</th>
                <th class="total-th">訪問</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.other_retail_visit, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">成約</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.other_retail_get, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.other_retail_get, 0) / shiftItem.reduce((sum, element) => sum + element.other_retail_visit, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th" rowspan="2">理容・美容</th>
                <th class="total-th">訪問</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.hair_salon_visit, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">成約</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.hair_salon_get, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.hair_salon_get, 0) / shiftItem.reduce((sum, element) => sum + element.hair_salon_visit, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th" rowspan="2">整体・鍼灸</th>
                <th class="total-th">訪問</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.manipulative_visit, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">成約</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.manipulative_get, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.manipulative_get, 0) / shiftItem.reduce((sum, element) => sum + element.manipulative_visit, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th" rowspan="2">その他サービス</th>
                <th class="total-th">訪問</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.other_service_visit, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">成約</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.other_service_get, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.other_service_get, 0) / shiftItem.reduce((sum, element) => sum + element.other_service_visit, 0) * 100)}} %</td>
              </tr>
            </table>
        </div><%# 拠点別店舗基準値 %>
        <%= render_async store_val_all_path(@user.id,month: @month) %><%# 店舗別基準値（全体） %>
    </div><%# 店舗別基準値 %>
    <div class="result-flex"><%# 切り返し区切り %>
      <% if @shift_digestion_new == 0 %>
      <% else %>
      <%= render_async out_val_path(@user.id,month: @month) %><%# 個人切り返し（個人） %>
      <div><%# 拠点別切り返し %>
            <h2>
              拠点別切り返し（{{ val }}）
            </h2>
            <table>
              <tr>
                <th class="total-th">項目</th>
                <th class="total-th">内訳</th>
                <th class="total-th">合計</th>
                <th class="total-th">一人当</th>
                <th class="total-th">平均</th>
                <th class="total-th">成約率</th>
              </tr>
                <tr>
                  <th class="total-th" rowspan="3">どういうこと？</th>
                  <th class="total-th">対面</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_interview_01, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_01, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_01, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">-</td>
                </tr>
                <tr>
                  <th class="total-th">フル</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_full_talk_01, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_01, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_01, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_01, 0) / out.reduce((sum, element) => sum + element.out_interview_01, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th">成約</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_get_01, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_01, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_01, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_01, 0) / out.reduce((sum, element) => sum + element.out_interview_01, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th" rowspan="3">君は誰？協会？</th>
                  <th class="total-th">対面</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_interview_02, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_02, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_02, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">-</td>
                </tr>
                <tr>
                  <th class="total-th">フル</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_full_talk_02, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_02, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_02, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_02, 0) / out.reduce((sum, element) => sum + element.out_interview_02, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th">成約</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_get_02, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_02, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_02, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_02, 0) / out.reduce((sum, element) => sum + element.out_full_talk_02, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th" rowspan="3">もらうだけでいいの？</th>
                  <th class="total-th">対面</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_interview_03, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_03, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_03, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">-</td>
                </tr>
                <tr>
                  <th class="total-th">フル</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_full_talk_03, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_03, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_03, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_03, 0) / out.reduce((sum, element) => sum + element.out_interview_03, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th">成約</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_get_03, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_03, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_03, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_03, 0) / out.reduce((sum, element) => sum + element.out_full_talk_03, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th" rowspan="3">PayPayのみ</th>
                  <th class="total-th">対面</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_interview_04, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_04, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_04, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">-</td>
                </tr>
                <tr>
                  <th class="total-th">フル</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_full_talk_04, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_04, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_04, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_04, 0) / out.reduce((sum, element) => sum + element.out_interview_04, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th">成約</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_get_04, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_04, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_04, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_04, 0) / out.reduce((sum, element) => sum + element.out_full_talk_04, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th" rowspan="3">AirPayのみ</th>
                  <th class="total-th">対面</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_interview_05, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_05, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_05, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">-</td>
                </tr>
                <tr>
                  <th class="total-th">フル</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_full_talk_05, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_05, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_05, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_05, 0) / out.reduce((sum, element) => sum + element.out_interview_05, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th">成約</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_get_05, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_05, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_05, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_05, 0) / out.reduce((sum, element) => sum + element.out_full_talk_05, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th" rowspan="3">カードのみ</th>
                  <th class="total-th">対面</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_interview_06, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_06, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_06, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">-</td>
                </tr>
                <tr>
                  <th class="total-th">フル</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_full_talk_06, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_06, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_06, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_06, 0) / out.reduce((sum, element) => sum + element.out_interview_06, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th">成約</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_get_06, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_06, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_06, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_06, 0) / out.reduce((sum, element) => sum + element.out_full_talk_06, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th" rowspan="3">先延ばし</th>
                  <th class="total-th">対面</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_interview_07, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_07, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_07, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">-</td>
                </tr>
                <tr>
                  <th class="total-th">フル</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_full_talk_07, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_07, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_07, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_07, 0) / out.reduce((sum, element) => sum + element.out_interview_07, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th">成約</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_get_07, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_07, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_07, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_07, 0) / out.reduce((sum, element) => sum + element.out_full_talk_07, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th" rowspan="3">現金のみ</th>
                  <th class="total-th">対面</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_interview_08, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_08, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_08, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">-</td>
                </tr>
                <tr>
                  <th class="total-th">フル</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_full_talk_08, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_08, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_08, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_08, 0) / out.reduce((sum, element) => sum + element.out_interview_08, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th">成約</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_get_08, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_08, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_08, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_08, 0) / out.reduce((sum, element) => sum + element.out_full_talk_08, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th" rowspan="3">忙しい</th>
                  <th class="total-th">対面</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_interview_09, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_09, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_09, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">-</td>
                </tr>
                <tr>
                  <th class="total-th">フル</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_full_talk_09, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_09, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_09, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_09, 0) / out.reduce((sum, element) => sum + element.out_interview_09, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th">成約</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_get_09, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_09, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_09, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_09, 0) / out.reduce((sum, element) => sum + element.out_full_talk_09, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th" rowspan="3">面倒くさい</th>
                  <th class="total-th">対面</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_interview_10, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_10, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_10, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">-</td>
                </tr>
                <tr>
                  <th class="total-th">フル</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_full_talk_10, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_10, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_10, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_10, 0) / out.reduce((sum, element) => sum + element.out_interview_10, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th">成約</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_get_10, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_10, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_10, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_10, 0) / out.reduce((sum, element) => sum + element.out_full_talk_10, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th" rowspan="3">情報不足</th>
                  <th class="total-th">対面</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_interview_11, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_11, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_11, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">-</td>
                </tr>
                <tr>
                  <th class="total-th">フル</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_full_talk_11, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_11, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_11, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_11, 0) / out.reduce((sum, element) => sum + element.out_interview_11, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th">成約</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_get_11, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_11, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_11, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_11, 0) / out.reduce((sum, element) => sum + element.out_full_talk_11, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th" rowspan="3">ペロ</th>
                  <th class="total-th">対面</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_interview_12, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_12, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_12, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">-</td>
                </tr>
                <tr>
                  <th class="total-th">フル</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_full_talk_12, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_12, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_12, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_12, 0) / out.reduce((sum, element) => sum + element.out_interview_12, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th">成約</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_get_12, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_12, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_12, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_12, 0) / out.reduce((sum, element) => sum + element.out_full_talk_12, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th" rowspan="3">その他</th>
                  <th class="total-th">対面</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_interview_13, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_13, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_13, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">-</td>
                </tr>
                <tr>
                  <th class="total-th">フル</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_full_talk_13, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_13, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_13, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_13, 0) / out.reduce((sum, element) => sum + element.out_interview_13, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th">成約</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_get_13, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_13, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_13, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_13, 0) / out.reduce((sum, element) => sum + element.out_full_talk_13, 0) * 100)}} %</td>
                </tr>
              </table>
      </div>
      <%= render_async out_val_all_path(@user.id,month: @month) %><%# 切り返し（全体） %>
      <% end %>
    </div><%# 切り返し区切り %>
    <div class="btn-form">
      <h3 class="base-slct-title">
        時間別基準値を比較する拠点：
        <% @bases.group(:base).each do |base| %>
        <button class="display-btn"><%= link_to base.base,result_path(@user.id,month: @month,time_base: base.base),class: "reset-link","data-turbolinks": false %></button>
        <% end %>
      </h3>
    </div>
    <div class="result-flex"><%# 時間別基準値 %>
      <%= render_async time_val_path(@user.id,month: @month) %><%# 時間別基準値（個人） %>

      <%= render_async time_val_base_path(@user.id, month: @month, time_base: @time_base) %><%# 時間別基準値（拠点別） %>

      <%= render_async time_val_all_path(@user.id,month: @month) %><%# 時間別基準値（全体） %>
    </div>
    </div><%# vueの適用範囲 %>
  </div><%# /右側の区切り %>
</div><%#/大枠%>
<div class="result-flex"><%# foot-frame %>
<% if @results.where(shift: "キャッシュレス新規").present? %>
  <div><%# 週間基準値と獲得内訳の括り %>
    <%= render_async weekly_fin_path(@user.id,month: @month) %><%# 週間基準値 %>
    <div style="display: flex;"><%# 獲得内訳・決済内訳 %>
      <div><%# 獲得内訳 %>
        <h2>獲得内訳</h2>
        <table>
          <thead>
          <tr>
            <th class="total-th">商材</th>
            <th class="total-th">獲得</th>
            <th class="total-th">不備・NG</th>
            <th class="total-th">評価対象</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="total-td" colspan="">dメル</td>
            <td class="total-td"><%= @dmer_date_progress.get_len rescue 0 %></td>
            <td class="total-td" style="color: red;"><%= @dmer_date_progress.def_len rescue 0 %></td>
            <td class="total-td" colspan=""><%= @dmers_val_len %></td>
          </tr>
          <tr>
            <td class="total-td" colspan="">auPay</td>
              <td class="total-td"><%= @aupay_date_progress.get_len rescue 0 %></td>
              <td class="total-td" style="color: red;"><%= @aupay_date_progress.def_len rescue 0 %></td>
            <td class="total-td" colspan=""><%= @aupays_val_len rescue 0 %></td>
          </tr>
          <tr>
            <td class="total-td" colspan="">PayPay</td>
            <td class="total-td" colspan=""><%= @paypay_date_progress.get_len rescue 0 %></td>
            <td class="total-td" colspan=""></td>
            <td class="total-td" colspan=""><%= @paypay_date_progress.get_len rescue 0 %></td>
          </tr>
          <tr>
            <td class="total-td" colspan="">楽天ペイ</td>
              <td class="total-td" ><%= @rakuten_pay_uq.length rescue 0 %></td>
              <td class="total-td" style="color: red;"><%= @rakuten_pay_def_ng.length rescue 0 %></td>
            <td class="total-td" colspan=""><%= @rakuten_pay_val_len rescue 0 %></td>
          </tr>
          <tr>
            <td class="total-td" colspan="">AirPay</td>
              <td class="total-td" ><%= @airpay_date_progress.get_len rescue 0 %></td>
              <td class="total-td" style="color: red;"><%=  %></td>
            <td class="total-td" colspan=""><%= @airpay_date_progress.get_len rescue 0 %></td>
          </tr>
          <tr>
            <td class="total-td" colspan="">UsenPay</td>
              <td class="total-td" ><%= @usen_pays.length rescue 0 %></td>
              <td class="total-td" style="color: red;"><%=  %></td>
            <td class="total-td" colspan=""><%= @usen_pays.length rescue 0 %></td>
          </tr>
          </tbody>
        </table>
      </div><%# /獲得内訳 %>
      <div><%# 決済内訳 %>
        <h2>決済内訳</h2>
        <table>
          <thead>
            <tr>
              <th class="total-th">商材</th>
              <th class="total-th">決済</th>
              <th class="total-th">決済不備</th>
              <th class="total-th">写真不備</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="total-td" colspan="">dメル初回決済</td>
              <td class="total-td" colspan=""><%= @dmers_slmt_done.length %></td>
              <td class="total-td" colspan=""><%= @dmers_slmt_def.length %></td>
              <td class="total-td" colspan=""><%= @dmers_slmt_pic_def.length %></td>
            </tr>
            <tr>
              <td class="total-td" colspan="">dメル2回目決済</td>
              <td class="total-td" colspan=""><%= @dmers_slmt2nd_done.length %></td>
              <td class="total-td" colspan=""></td>
              <td class="total-td" colspan=""></td>
            </tr>
            <tr>
              <td class="total-td" colspan="">auPay</td>
              <td class="total-td" colspan=""><%= @aupays_slmt_done.length %></td>
              <td class="total-td" colspan=""><%=  %></td>
              <td class="total-td" colspan=""><%=  %></td>
            </tr>
          </tbody>
        </table>
      </div><%# /決済内訳 %>
    </div><%# /獲得内訳・決済内訳 %>
  </div><%# /週間基準値と獲得内訳の括り %>
  <div><%# 生産性と成果件数の括り %>
    <div><%# 商材別売上/生産性 %>
      <h2>生産性</h2>
      <table>
        <tr>
          <th class="total-th">商材</th>
          <th class="total-th">dメル<br>（新規）</th>
          <th class="total-th">aupay<br>（新規）</th>
          <th class="total-th">PayPay</th>
          <th class="total-th">楽天ペイ</th>
          <th class="total-th">AirPay</th>
          <th class="total-th">UsenPay</th>
        </tr>
        <tr>
          <th class="total-th">獲得数</th>
          <td class="total-td"><%= @dmers_val_len %></td>
          <td class="total-td"><%= @aupays_val_len %></td>
          <td class="total-td"><%= @paypay_date_progress.get_len rescue 0 %></td>
          <td class="total-td"><%= @rakuten_pay_val_len rescue 0 %></td>
          <td class="total-td"><%= @airpay_date_progress.get_len rescue 0 %></td>
          <td class="total-td"><%= @usen_pays.length rescue 0 %></td>
        </tr>
        <tr>
          <th class="total-th">生産性</th>
          <td class="total-td"><%= (@dmers_val_len.to_f / @dmer_date_progress.shift_digestion).round(1) rescue 0 %></td>
          <td class="total-td"><%= (@aupays_val_len.to_f / @aupay_date_progress.shift_digestion).round(1) rescue 0 %></td>
          <td class="total-td"><%= (@paypay_date_progress.ge_len.to_f / @paypay_date_progress.shift_digestion).round(1) rescue 0 %></td>
          <td class="total-td"><%= (@rakuten_pay_val_len.to_f / @rakuten_pay_date_progress.shift_digestion).round(1) rescue 0 %></td>
          <td class="total-td"><%= (@airpay_date_progress.get_len.to_f / @airpay_date_progress.shift_digestion).round(1) rescue 0 %></td>
          <td class="total-td"><%= (@usen_pays.length.to_f / @airpay_date_progress.shift_digestion).round(1) rescue 0 %></td>
        </tr>

        <tr>
          <th class="total-th">終着見込</th>
          <td class="total-td"><%= @dmer_date_progress.fin_len rescue 0 %></td>
          <td class="total-td"><%= @aupay_date_progress.fin_len rescue 0 %></td>
          <td class="total-td"><%= @paypay_date_progress.fin_len rescue 0 %></td>
          <td class="total-td"><%= @rakuten_pay_date_progress.fin_len rescue 0 %></td>
          <td class="total-td"><%= @airpay_date_progress.fin_len rescue 0 %></td>
          <td class="total-td"><%= (@usen_pays.length.to_f / @airpay_date_progress.shift_digestion * @shift_schedule_new).round() rescue 0 %></td>
        </tr>
      </table>

    </div><%# /商材別売上/生産性 %> 
    <div><%# /成果件数 %>
      <h2>現状売上・終着内訳</h2>
      <p class="big-caution-text">※給与に関わる評価売上の現状 (ステータス上で成果となった案件のみ参照）</p>
      <p class="caution-text">※楽天ペイのみ獲得ベースになります。（自社不備解消された案件が加算されるため獲得数と現状売上とズレることがあります。）</p>
      <table>
        <tr>
          <th class="total-th">商材</th>
          <th class="total-th">dメル<br>（審査完了）</th>
          <th class="total-th">dメル<br>（写真）</th>
          <th class="total-th">dメル<br>（2回目決済）</th>
          <th class="total-th">aupay<br>（決済）</th>
          <th class="total-th">PayPay</th>
          <th class="total-th">楽天ペイ</th>
          <th class="total-th">AirPay</th>
          <th class="total-th">出前館</th>
          <th class="total-th">その他<br>商材</th>
          <th class="total-th">全商材</th>
        </tr>
        <tr>
          <th class="total-th">成果数</th>
          <td class="total-td"><%= @dmer_date_progress.done_len rescue 0 %></td>
          <td class="total-td"><%= @dmer_date_progress.result2_len rescue 0 %></td>
          <td class="total-td"><%= @dmer_date_progress.result3_len rescue 0 %></td>
          <td class="total-td"><%= @aupay_date_progress.result_len rescue 0 %></td>
          <td class="total-td"><%= @paypay_date_progress.result_len rescue 0 %></td>
          <td class="total-td"><%= @rakuten_pay_val_len %></td>
          <td class="total-td"><%= @airpay_date_progress.result_len rescue 0 %></td>
          <td class="total-td"><%= @demaekan_date_progress.result_len rescue 0 %></td>
          <td class="total-td"><%=  %>-</td>
          <td class="total-td"><%=  %>-</td>
        </tr>

        <tr>
          <th class="total-th">現売</th>
          <td class="total-td"><%= @dmer_date_progress.valuation_current1.to_s(:delimited) rescue 0 %></td>
          <td class="total-td"><%= @dmer_date_progress.valuation_current2.to_s(:delimited) rescue 0 %></td>
          <td class="total-td"><%= @dmer_date_progress.valuation_current3.to_s(:delimited) rescue 0 %></td>
          <td class="total-td"><%= @aupay_date_progress.valuation_current.to_s(:delimited) rescue 0 %></td>
          <td class="total-td"><%= @paypay_date_progress.valuation_current.to_s(:delimited) rescue 0 %></td>
          <td class="total-td"><%= @rakuten_pay_date_progress.valuation_current.to_s(:delimited) rescue 0 %></td>
          <td class="total-td"><%= @airpay_date_progress.valuation_current.to_s(:delimited) rescue 0 %></td>
          <td class="total-td"><%= @demaekan_date_progress.valuation_current.to_s(:delimited) rescue 0 %></td>
          <td class="total-td"><%= 
            (
              @austicker_date_progress.valuation_current +
              @dmersticker_date_progress.valuation_current +
              @airpaysticker_date_progress.valuation_current +
              @itss.sum(:valuation)
            ).to_s(:delimited) rescue 0 
          %></td>
          <td class="total-td"><%= @cash_date_progress.valuation_current.to_s(:delimited) rescue 0 %></td>
        </tr>
        <tr>
          <th class="total-th">終着</th>
          <td class="total-td"><%= @dmer_date_progress.valuation_fin1.to_s(:delimited) rescue 0 %></td>
          <td class="total-td"><%= @dmer_date_progress.valuation_fin2.to_s(:delimited) rescue 0 %></td>
          <td class="total-td"><%= @dmer_date_progress.valuation_fin3.to_s(:delimited) rescue 0 %></td>
          <td class="total-td"><%= @aupay_date_progress.valuation_fin.to_s(:delimited) rescue 0 %></td>
          <td class="total-td"><%= @paypay_date_progress.valuation_fin.to_s(:delimited) rescue 0 %></td>
          <td class="total-td"><%= @rakuten_pay_date_progress.valuation_fin.to_s(:delimited) rescue 0 %></td>
          <td class="total-td"><%= @airpay_date_progress.valuation_fin.to_s(:delimited) rescue 0 %></td>
          <td class="total-td"><%= @demaekan_date_progress.valuation_fin.to_s(:delimited) rescue 0 %></td>
          <td class="total-td"><%= 
            (
              @austicker_date_progress.valuation_fin +
              @dmersticker_date_progress.valuation_fin +
              @airpaysticker_date_progress.valuation_fin +
              @itss.sum(:valuation)
            ).to_s(:delimited) rescue 0 
          %></td>
          <td class="total-td"><%= @cash_date_progress.valuation_fin.to_s(:delimited) rescue 0 %></td>
        </tr>
      </table>
    </div><%# /成果件数 %>
  </div><%# /生産性と成果件数の括り %>
<% else %>
<% end %>
</div>
  </div><%# users/showスコープ末尾 %>
</div>