<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>マイページ</h1>
  <%= render "shared/header" %>
</div>
<div data-scope-path="shared/side_bar_humbarger">
  <%= render "shared/sidebar" %>
</div>
<div style="display:flex;">
  <div data-scope-path="users/show"><%# users/showスコープ頭 %>
    <h2>
      <%= @user.name %>：利益表
      <%= link_to "<<",result_path(@user.id,month:@month.prev_month),"data-turbolinks": false, class:"link" %>
      <%= @month.year %>年<%= @month.month %>月
      <%= link_to ">>",result_path(@user.id,month:@month.next_month),"data-turbolinks": false, class:"link" %>
    </h2><br>
    <%= render "shared/mypage_links" %>
    <p class="alert"><%= notice %></p><%# 登録した時のアラート %>
    <div class="result-flex">
      <div><%#シフト/売上の区切り%>
        <h2 class="shift-h2"><%= @start_date.strftime('%Y-%m-%d') %>（<%= days[@start_date.wday] %>）〜<%= @end_date.strftime('%Y-%m-%d') %>（<%= days[@end_date.wday] %>）売上更新：<%= @cash_date_progress.create_date rescue "未更新" %></h2>
        <table>
          <tr>
            <th class="date-th">シフト（内訳）</th>
            <th class="date-th">予定</th>
            <th class="date-th">消化</th>
            <th class="date-th">残シフト</th>
            <th class="date-th">現状売上</th>
            <th class="date-th">Ave</th>
            <th class="date-th">終着</th>
            <th class="date-th">戻入</th>
            <th class="date-th">終着（戻入込）</th>
            <th class="date-th">帯同加味</th>
          </tr>
          <tr>
            <td class="date-td">キャッシュレス新規</td><%# 欠勤 %>
            <td class="date-td"><%= @shift_schedule_new rescue 0 %></td>
            <td class="date-td"><%= @shift_digestion_new rescue 0 %></td>
            <td class="date-td"><%= @shift_schedule_new - @shift_digestion_new rescue 0 %></td>
            <td class="date-td"><%=  %></td>
            <td class="date-td"><%=  %></td>
            <td class="date-td"><%=  %></td>
            <td class="date-td"><%=  %></td>
            <td class="date-td"><%=  %></td>
            <td class="date-td"></td>
          </tr>
          <tr>
            <td class="date-td">キャッシュレス決済</td>
            <td class="date-td"><%= @shift_schedule_slmt rescue 0 %></td>
            <td class="date-td"><%= @shift_digestion_slmt rescue 0 %></td>
            <td class="date-td"><%= @shift_schedule_slmt - @shift_digestion_slmt rescue 0 %></td>
            <td class="date-td"><%=  %></td>
            <td class="date-td"><%=  %></td>
            <td class="date-td"><%=  %></td>
            <td class="date-td"><%=  %></td>
            <td class="date-td"><%=  %></td>
            <td class="date-td"></td>
          </tr>
          <tr>
            <% valuation_ave = (@cash_date_progress.valuation_fin.to_f / @cash_date_progress.shift_schedule).round() rescue 0 %>
            <td class="date-td">帯同</td>
            <td class="date-td"><%= @shift_schedule_ojt rescue 0 %></td>
            <td class="date-td"><%= @shift_digestion_ojt rescue 0 %></td>
            <td class="date-td"><%= @shift_schedule_ojt - @shift_digestion_ojt rescue 0 %></td>
            <td class="date-td"><%= (valuation_ave * @shift_digestion_ojt).to_s(:delimited) rescue 0 %></td>
            <td class="date-td"><%= valuation_ave %></td>
            <td class="date-td"><%= (valuation_ave * @shift_schedule_ojt).to_s(:delimited) rescue 0 %></td>
            <td class="date-td"><%=  %></td>
            <td class="date-td"><%=  %></td>
            <td class="date-td"></td>
          </tr>
          <tr>
            <td class="date-td">合計</td>
            <td class="date-td"><%= shift_sum = @shift_schedule_new + @shift_schedule_slmt + @shift_schedule_ojt rescue 0 %></td>
                <td class="date-td"><%= digestion_sum = @shift_digestion_new + @shift_digestion_slmt + @shift_digestion_ojt %></td>
            <td class="date-td"><%= shift_sum - digestion_sum %></td>
            <td class="date-td"><%= @cash_date_progress.valuation_current.to_s(:delimited) rescue 0 %></td>
            <td class="date-td"><%= valuation_ave.to_s(:delimited) rescue 0 %></td>
            <td class="date-td"><%= @cash_date_progress.valuation_fin.to_s(:delimited) rescue 0 %></td>
            <td class="date-td red"><%= @reversal_products.sum(:price).to_s(:delimited) rescue 0 %></td>
            <td class="date-td"><%= (@cash_date_progress.valuation_fin - @reversal_products.sum(:price)).to_s(:delimited) rescue 0 %></td>
            <td class="date-td"><%= (@cash_date_progress.valuation_fin - @reversal_products.sum(:price) + (valuation_ave * @shift_schedule_ojt)).to_s(:delimited) rescue 0 %></td>
          </tr>
        </table> 
      </div><%# /シフト/売上の区切り%>
      <div><%# 獲得ベースの終着 %>
        <h2>dメル, Air, U-Pay終着(終着獲得数参照)</h2>
        <table>
          <tr>
            <th class="date-th">商材</th>
            <th class="date-th">獲得数</th>
            <th class="date-th">獲得Ave</th>
            <th class="date-th">獲得終着</th>
            <th class="date-th">終着獲得数</th>
            <th class="date-th">終着売上</th>
          </tr>
          <%# 各種商材単価 %>
          <% 
            dmer_price = 
              @calc_periods.find_by(name: "dメル専売成果1") .price +
              @calc_periods.find_by(name: "dメル専売成果2") .price +
              @calc_periods.find_by(name: "dメル専売成果3") .price
          %>
          <% airpay_price = @calc_periods.find_by(name: "AirPay成果1").price %>
          <% usen_pay_price = @calc_periods.find_by(name: "UsenPay").price %>
          <tr>
            <td class="date-td">dメル</td>
            <td class="date-td"><%= @result_out.sum(:dmer) %></td>
            <td class="date-td"><%= (@result_out.sum(:dmer).to_f / @shift_digestion_new).round(1)   %></td>
            <td class="date-td"><%= (@result_out.sum(:dmer).to_f / @shift_digestion_new * @shift_schedule_new).round() rescue 0 %></td>
            <td class="date-td"><%= (@result_out.sum(:dmer).to_f / @shift_digestion_new * @shift_schedule_new).round() rescue 0 %></td>
            <td class="date-td"><%= dmer_fin = (@result_out.sum(:dmer).to_f / @shift_digestion_new * @shift_schedule_new * 0.8).round() * dmer_price rescue 0 %></td>
          </tr>
          <tr>
            <td class="date-td">AirPay</td>
            <td class="date-td"><%= @result_out.sum(:airpay)  %></td>
            <td class="date-td"><%= (@result_out.sum(:airpay).to_f / @shift_digestion_new).round(1) rescue 0 %></td>
            <td class="date-td"><%= (@result_out.sum(:airpay).to_f / @shift_digestion_new * @shift_schedule_new).round() rescue 0 %></td>
            <td class="date-td"><%= (@result_out.sum(:airpay).to_f / @shift_digestion_new * @shift_schedule_new).round() rescue 0 %></td>
            <td class="date-td"><%= air_fin = (@result_out.sum(:airpay).to_f / @shift_digestion_new * @shift_schedule_new * 0.9).round() * airpay_price rescue 0 %></td>
          </tr>
          <tr>
            <td class="date-td">UsenPay</td>
            <td class="date-td"><%= @result_out.sum(:other_product1)  %></td>
            <td class="date-td"><%= (@result_out.sum(:other_product1).to_f / @shift_digestion_new).round(1) rescue 0 %></td>
            <td class="date-td"><%= (@result_out.sum(:other_product1).to_f / @shift_digestion_new * @shift_schedule_new).round() rescue 0 %></td>
            <td class="date-td"><%= (@result_out.sum(:other_product1).to_f / @shift_digestion_new * @shift_schedule_new).round() rescue 0 %></td>
            <td class="date-td"><%= upay_fin = (@result_out.sum(:other_product1).to_f / @shift_digestion_new * @shift_schedule_new * 0.9).round() * usen_pay_price rescue 0 %></td>
          </tr>
          <tr>
            <td class="date-td">合計</td>
            <td class="date-td"></td>
            <td class="date-td"></td>
            <td class="date-td"></td>
            <td class="date-td"></td>
            <td class="date-td"><%= dmer_fin + air_fin + upay_fin rescue 0 %></td>
          </tr>
        </table> 
        <p class="caution-text">終着売上 dメル:80%, Air:90%, Upay:70%</p>
      </div><%# /獲得ベースの終着 %>
    </div>
    <%# Vueの変 %>
    <script> 
      window.result_chubu=<%= @result_chubu.to_json.html_safe %>;
      window.result_kansai=<%= @result_kansai.to_json.html_safe %>;
      window.result_kanto=<%= @result_kanto.to_json.html_safe %>;
      window.result_kyushu=<%= @result_kyushu.to_json.html_safe %>;
      window.result_partner=<%= @result_partner.to_json.html_safe %>;
      window.result_cash_chubu=<%= @result_cash_chubu.to_json.html_safe %>;
      window.result_cash_kansai=<%= @result_cash_kansai.to_json.html_safe %>;
      window.result_cash_kanto=<%= @result_cash_kanto.to_json.html_safe %>;
      window.result_cash_kyushu=<%= @result_cash_kyushu.to_json.html_safe %>;
      window.result_cash_partner=<%= @result_cash_partner.to_json.html_safe %>;
      window.hour_visit_chubu=<%= @hour_visit_chubu.to_json.html_safe %>;
      window.hour_get_chubu=<%= @hour_get_chubu.to_json.html_safe %>;
      window.hour_visit_kansai=<%= @hour_visit_kansai.to_json.html_safe %>;
      window.hour_get_kansai=<%= @hour_get_kansai.to_json.html_safe %>;
      window.hour_visit_kanto=<%= @hour_visit_kanto.to_json.html_safe %>;
      window.hour_get_kanto=<%= @hour_get_kanto.to_json.html_safe %>;
      window.hour_visit_kyushu=<%= @hour_visit_kyushu.to_json.html_safe %>;
      window.hour_get_kyushu=<%= @hour_get_kyushu.to_json.html_safe %>;
      window.hour_visit_partner=<%= @hour_visit_partner.to_json.html_safe %>;
      window.hour_get_partner=<%= @hour_get_partner.to_json.html_safe %>;
      window.chubu_len=<%= @chubu_len.to_json.html_safe %>;
      window.kansai_len=<%= @kansai_len.to_json.html_safe %>;
      window.kanto_len=<%= @kanto_len.to_json.html_safe %>;
      window.kyushu_len=<%= @kyushu_len.to_json.html_safe %>;
      window.partner_len=<%= @partner_len.to_json.html_safe %>;
    </script>
    <%= javascript_pack_tag 'result_cash' %>
    <%# /Vueの変 %>
    <% if @results.where(shift: "キャッシュレス新規").present? %>
      <div><%# 週間基準値と獲得内訳の括り %>
        <%= render_async weekly_fin_path(@user.id,month: @month) %><%# 週間基準値 %>
      </div><%# /週間基準値と獲得内訳の括り %>
    <% else %>
    <% end %>
    <div  id="result-cash"><%# vueの適用範囲 %>
      <div class="result-flex">
        <%# 検索機能 %>
        <div class="search-form">
          <%# <p class="search-title">検索</p> %>
          <%= form_with url: result_path(@user.id), local: true, method: :get do |f| %>
          <h3 class="search">
            <%= f.hidden_field :month, value: @month %>
            過去の基準値を検索：
            <%= f.date_select(
              :search_year_and_month, discard_day:true, prompt: "--", use_month_numbers:true,
              start_year: @month_search.year - 5, end_year: @month_search.year + 5,
              date_separator: "年 "
            ) %> 月
            <%= f.submit "絞込",class: "search-btn" %>
            <button class="reset-btn"><%= link_to "リセット",result_path(@user.id, month: @month), class:"reset-link" %></button>
          </h3>
          <% end %>
        </div>
        <%# /検索機能 %>
        <div>
        <h3 class="base-slct-title">
          基準値を比較する拠点：
          <select @change="shiftSlct" class="standard-val">
            <option value="中部SS">中部SS</option>
            <option value="関西SS">関西SS</option>
            <option value="関東SS">関東SS</option>
            <option value="九州SS">九州SS</option>
            <option value="2次店">2次店SS</option>
          </select>
        </h3>
        </div>
      </div>
      <hr>
      <div class="result-flex"><%#基準値区切り%>
        <div><%# 個人基準値 %>
          <h2>基準値(当月)</h2>
          <table class="total-tb">
            <thead>
              <tr>
                <th class="total-th">項目</th>
                <th class="total-th">内訳</th>
                <th class="total-th">平均</th>
                <th class="total-th">比率</th>
              </tr>
            </thead>
            <tbody>
              <tr></tr>
              <tr>
                <th rowspan="6" class="total-th">合計</th>
                <th class="total-th">オーナー不在:a</th>
                <td class="total-td"><%= (@sum_total_visit.to_f / @shift_digestion_new).to_f().round(2) rescue "-" %></td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">対面:b</th>
                <td class="total-td"><%= (@sum_visit.to_f / @shift_digestion_new).to_f().round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_visit.to_f / @sum_total_visit.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">フル:c</th>
                <td class="total-td"><%= (@sum_interview.to_f / @shift_digestion_new).to_f().round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_interview.to_f / @sum_visit.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">情報聞いた:d1</th>
                <td class="total-td"><%= (@sum_full_talk.to_f / @shift_digestion_new).to_f.round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_full_talk.to_f / @sum_interview.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">認証キー回収:d2</th>
                <td class="total-td"><%= (@sum_full_talk2.to_f / @shift_digestion_new).to_f.round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_full_talk2.to_f / @sum_full_talk.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">成約:e</th>
                <td class="total-td"><%= (@sum_get.to_f / @shift_digestion_new).to_f.round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_get.to_f / @sum_interview.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th rowspan="6" class="total-th">前半</th>
                <th class="total-th">オーナー不在:a</th>
                <td class="total-td"><%= (@sum_total_visit_f.to_f / @shift_digestion_new).round(2) rescue "-" %></td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">対面:b</th>
                <td class="total-td"><%= (@sum_visit_f.to_f / @shift_digestion_new).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_visit_f.to_f / @sum_total_visit_f.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">フル:c</th>
                <td class="total-td"><%= (@sum_interview_f.to_f / @shift_digestion_new).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_interview_f.to_f / @sum_visit_f.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">情報聞いた:d1</th>
                <td class="total-td"><%= (@sum_full_talk_f.to_f / @shift_digestion_new).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_full_talk_f.to_f / @sum_interview_f.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">認証キー回収:d2</th>
                <td class="total-td"><%= (@sum_full_talk2_f.to_f / @shift_digestion_new).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_full_talk2_f.to_f / @sum_full_talk_f.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">成約:e</th>
                <td class="total-td"><%= (@sum_get_f.to_f / @shift_digestion_new).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_get_f.to_f / @sum_interview_f.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th rowspan="6" class="total-th">後半</th>
                <th class="total-th">オーナー不在:a</th>
                <td class="total-td"><%= (@sum_total_visit_l.to_f / @shift_digestion_new).round(2) rescue "-" %></td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">対面:b</th>
                <td class="total-td"><%= (@sum_visit_l.to_f / @shift_digestion_new).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_visit_l.to_f / @sum_total_visit_l.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">フル:c</th>
                <td class="total-td"><%= (@sum_interview_l.to_f / @shift_digestion_new).round(2)  rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_interview_l.to_f / @sum_visit_l.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">情報聞いた:d1</th>
                <td class="total-td"><%= (@sum_full_talk_l.to_f / @shift_digestion_new).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_full_talk_l.to_f / @sum_interview_l.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">認証キー回収:d2</th>
                <td class="total-td"><%= (@sum_full_talk2_l.to_f / @shift_digestion_new).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_full_talk2_l.to_f / @sum_full_talk_l.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">成約:e</th>
                <td class="total-td"><%= (@sum_get_l.to_f / @shift_digestion_new).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_get_l.to_f / @sum_interview_l.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
            </tbody>
          </table>
        </div><%# /個人基準値 %>
        <div><%# 個人基準値（検索） %>
          <h2>基準値（<%= @month_search.year %>年<%= @month_search.month %>月）</h2>
          <table class="total-tb">
            <thead>
              <tr>
                <th class="total-th">項目</th>
                <th class="total-th">内訳</th>
                <th class="total-th">平均</th>
                <th class="total-th">比率</th>
              </tr>
            </thead>
            <tbody>
              <tr></tr>
              <tr>
                <th rowspan="6" class="total-th">合計</th>
                <th class="total-th">オーナー不在:a</th>
                <td class="total-td"><%= (@sum_total_visit_s.to_f / @shift_digestion_new_s).to_f().round(2) rescue "-" %></td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">対面:b</th>
                <td class="total-td"><%= (@sum_visit_s.to_f / @shift_digestion_new_s).to_f().round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_visit_s.to_f / @sum_total_visit_s.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">フル:c</th>
                <td class="total-td"><%= (@sum_interview_s.to_f / @shift_digestion_new_s).to_f().round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_interview_s.to_f / @sum_visit_s.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">情報聞いた:d1</th>
                <td class="total-td"><%= (@sum_full_talk_s.to_f / @shift_digestion_new_s).to_f.round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_full_talk_s.to_f / @sum_interview_s.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">認証キー回収:d2</th>
                <td class="total-td"><%= (@sum_full_talk2_s.to_f / @shift_digestion_new_s).to_f.round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_full_talk2_s.to_f / @sum_full_talk_s.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">成約:e</th>
                <td class="total-td"><%= (@sum_get_s.to_f / @shift_digestion_new_s).to_f.round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_get_s.to_f / @sum_full_talk2_s.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th rowspan="6" class="total-th">前半</th>
                <th class="total-th">オーナー不在:a</th>
                <td class="total-td"><%= (@sum_total_visit_f_s.to_f / @shift_digestion_new_s).round(2) rescue "-" %></td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">対面:b</th>
                <td class="total-td"><%= (@sum_visit_f_s.to_f / @shift_digestion_new_s).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_visit_f_s.to_f / @sum_total_visit_f_s.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">フル:c</th>
                <td class="total-td"><%= (@sum_interview_f_s.to_f / @shift_digestion_new_s).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_interview_f_s.to_f / @sum_visit_f_s.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">情報聞いた:d1</th>
                <td class="total-td"><%= (@sum_full_talk_f_s.to_f / @shift_digestion_new_s).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_full_talk_f_s.to_f / @sum_interview_f_s.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">認証キー回収:d2</th>
                <td class="total-td"><%= (@sum_full_talk2_f_s.to_f / @shift_digestion_new_s).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_full_talk2_f_s.to_f / @sum_full_talk_f_s.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">成約:e</th>
                <td class="total-td"><%= (@sum_get_f_s.to_f / @shift_digestion_new_s).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_get_f_s.to_f / @sum_full_talk2_f_s.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th rowspan="6" class="total-th">後半</th>
                <th class="total-th">オーナー不在:a</th>
                <td class="total-td"><%= (@sum_total_visit_l_s.to_f / @shift_digestion_new_s).round(2) rescue "-" %></td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">対面:b</th>
                <td class="total-td"><%= (@sum_visit_l_s.to_f / @shift_digestion_new_s).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_visit_l_s.to_f / @sum_total_visit_l_s.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">フル:c</th>
                <td class="total-td"><%= (@sum_interview_l_s.to_f / @shift_digestion_new_s).round(2)  rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_interview_l_s.to_f / @sum_visit_l_s.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">情報聞いた:d1</th>
                <td class="total-td"><%= (@sum_full_talk_l_s.to_f / @shift_digestion_new_s).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_full_talk_l_s.to_f / @sum_interview_l_s.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">認証キー回収:d2</th>
                <td class="total-td"><%= (@sum_full_talk2_l_s.to_f / @shift_digestion_new_s).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_full_talk2_l_s.to_f / @sum_full_talk_l_s.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">成約:e</th>
                <td class="total-td"><%= (@sum_get_l_s.to_f / @shift_digestion_new_s).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@sum_get_l_s.to_f / @sum_full_talk_l2_s.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
            </tbody>
          </table>
        </div><%# /個人基準値（検索） %>
        <div><%#拠点別基準値%>
            <h2>拠点別基準値（{{ val }}）</h2>
            <table class="total-tb">
              <tr>
                <th class="total-th">項目</th>
                <th class="total-th">内訳</th>
                <th class="total-th">平均</th>
                <th class="total-th">比率</th>
              </tr>
              <tr>
                <th class="total-th" rowspan="6">合計</th>
                <th class="total-th">オーナー不在:a</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_total_visit + element.latter_total_visit, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">対面:b</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_visit + element.latter_visit, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_visit + element.latter_visit, 0) / shiftItem.reduce((sum, element) => sum + element.first_total_visit + element.latter_total_visit, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th">フル:c</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_interview + element.latter_interview, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_interview + element.latter_interview, 0) / shiftItem.reduce((sum, element) => sum + element.first_visit + element.latter_visit, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th">情報聞いた:d1</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_full_talk + element.latter_full_talk, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_full_talk + element.latter_full_talk, 0) / shiftItem.reduce((sum, element) => sum + element.first_interview + element.latter_interview, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th">認証キー回収:d2</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_full_talk2 + element.latter_full_talk2, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_full_talk2 + element.latter_full_talk2, 0) / shiftItem.reduce((sum, element) => sum + element.first_full_talk + element.latter_full_talk, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th">成約:e</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_get + element.latter_get, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_get + element.latter_get, 0) / shiftItem.reduce((sum, element) => sum + element.first_interview + element.latter_interview, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th" rowspan="6">前半</th>
                <th class="total-th">オーナー不在:a</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_total_visit, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">対面:b</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_visit, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_visit , 0) / shiftItem.reduce((sum, element) => sum + element.first_total_visit, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th">フル:c</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_interview , 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_interview , 0) / shiftItem.reduce((sum, element) => sum + element.first_visit, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th">情報聞いた:d1</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_full_talk , 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_full_talk , 0) / shiftItem.reduce((sum, element) => sum + element.first_interview , 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th">認証キー回収:d2</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_full_talk2 , 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_full_talk2 , 0) / shiftItem.reduce((sum, element) => sum + element.first_full_talk , 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th">成約:e</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_get , 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.first_get , 0) / shiftItem.reduce((sum, element) => sum + element.first_interview , 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th" rowspan="6">後半</th>
                <th class="total-th">オーナー不在:a</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.latter_total_visit, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">対面:b</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.latter_visit, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum +  element.latter_visit, 0) / shiftItem.reduce((sum, element) => sum + element.latter_total_visit, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th">フル:c</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum +  element.latter_interview, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum +  element.latter_interview, 0) / shiftItem.reduce((sum, element) => sum + element.latter_visit, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th">情報聞いた:d1</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.latter_full_talk, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.latter_full_talk, 0) / shiftItem.reduce((sum, element) => sum +  element.latter_interview, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th">認証キー回収:d2</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.latter_full_talk2, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.latter_full_talk2, 0) / shiftItem.reduce((sum, element) => sum +  element.latter_full_talk, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th">成約:e</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.latter_get, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.latter_get, 0) / shiftItem.reduce((sum, element) => sum + element.latter_interview, 0) * 100)}} %</td>
              </tr>
            </table>
        </div><%#拠点別基準値%>
        <div><%# 全体基準値 @result_base %>
          <h2>全体基準値</h2>
          <table class="total-tb">
            <thead>
              <tr>
                <th class="total-th">項目</th>
                <th class="total-th">内訳</th>
                <th class="total-th">平均</th>
                <th class="total-th">比率</th>
              </tr>
            </thead>
            <tbody>
              <tr></tr>
              <tr>
                <th rowspan="6" class="total-th">合計</th>
                <th class="total-th">オーナー不在:a</th>
                <td class="total-td"><%= (@result_base_sum_total_visit.to_f / @result_base.length).to_f().round(2) rescue "-" %></td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">対面:b</th>
                <td class="total-td"><%= (@result_base_sum_visit.to_f / @result_base.length).to_f().round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base_sum_interview.to_f / @result_base_sum_interview.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">フル:c</th>
                <td class="total-td"><%= (@result_base_sum_interview.to_f / @result_base.length).to_f().round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base_sum_interview.to_f / @result_base_sum_visit.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">情報聞いた:d1</th>
                <td class="total-td"><%= (@result_base_sum_full_talk.to_f / @result_base.length).to_f.round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base_sum_full_talk.to_f / @result_base_sum_interview.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">認証キー回収:d2</th>
                <td class="total-td"><%= (@result_base_sum_full_talk2.to_f / @result_base.length).to_f.round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base_sum_full_talk2.to_f / @result_base_sum_full_talk.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">成約:e</th>
                <td class="total-td"><%= (@result_base_sum_get.to_f / @result_base.length).to_f.round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base_sum_get.to_f / @result_base_sum_interview.to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th rowspan="6" class="total-th">前半</th>
                <th class="total-th">オーナー不在:a</th>
                <td class="total-td"><%= (@result_base.sum(:first_total_visit).to_f / @result_base.length).round(2) rescue "-" %></td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">対面:b</th>
                <td class="total-td"><%= (@result_base.sum(:first_visit).to_f / @result_base.length).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base.sum(:first_visit).to_f / @result_base.sum(:first_total_visit).to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">フル:c</th>
                <td class="total-td"><%= (@result_base.sum(:first_interview).to_f / @result_base.length).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base.sum(:first_interview).to_f / @result_base.sum(:first_visit).to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">情報聞いた:d1</th>
                <td class="total-td"><%= (@result_base.sum(:first_full_talk).to_f / @result_base.length).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base.sum(:first_full_talk).to_f / @result_base.sum(:first_interview).to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">認証キー回収:d2</th>
                <td class="total-td"><%= (@result_base.sum(:first_full_talk2).to_f / @result_base.length).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base.sum(:first_full_talk2).to_f / @result_base.sum(:first_full_talk).to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">成約:e</th>
                <td class="total-td"><%= (@result_base.sum(:first_get).to_f / @result_base.length).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base.sum(:first_get).to_f / @result_base.sum(:first_interview).to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th rowspan="6" class="total-th">後半</th>
                <th class="total-th">オーナー不在:a</th>
                <td class="total-td"><%= (@result_base.sum(:latter_total_visit).to_f / @result_base.length).round(2) rescue "-" %></td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">対面:b</th>
                <td class="total-td"><%= (@result_base.sum(:latter_visit).to_f / @result_base.length).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base.sum(:latter_visit).to_f / @result_base.sum(:latter_total_visit).to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">フル:c</th>
                <td class="total-td"><%= (@result_base.sum(:latter_interview).to_f / @result_base.length).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base.sum(:latter_interview).to_f / @result_base.sum(:latter_visit).to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">情報聞いた:d1</th>
                <td class="total-td"><%= (@result_base.sum(:latter_full_talk).to_f / @result_base.length).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base.sum(:latter_full_talk).to_f / @result_base.sum(:latter_interview).to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">認証キー回収:d2</th>
                <td class="total-td"><%= (@result_base.sum(:latter_full_talk2).to_f / @result_base.length).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base.sum(:latter_full_talk2).to_f / @result_base.sum(:latter_full_talk).to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
              <tr>
                <th class="total-th">成約:e</th>
                <td class="total-td"><%= (@result_base.sum(:latter_get).to_f / @result_base.length).round(2) rescue "-" %></td>
                <td class="total-td"><%= number_to_percentage(@result_base.sum(:latter_get).to_f / @result_base.sum(:latter_interview).to_f * 100, precision: 1) rescue "-" %></td>
              </tr>
            </tbody>
          </table>
        </div><%# /全体基準値 %>
      </div><%#基準値区切り%>
      <h2>商材別基準値</h2>
      <div class="result-flex" ><%= render_async type_refecence_val_path(@user.id, month: @month) %></div><%# 商材別基準値 %>
      <div class="result-flex"><%= render_async store_val_path(@user.id,month: @month) %><%# 店舗別基準値（個人） %>
        <div><%# 拠点別店舗基準値 %>
            <h2>
              拠点別店舗基準値（{{ val }}）
            </h2>
            <table>
              <tr>
                <th class="total-th">項目</th>
                <th class="total-th">内訳</th>
                <th class="total-th">平均</th>
                <th class="total-th">比率</th>
              </tr>
              <tr>
                <th class="total-th" rowspan="2">飲食</th>
                <th class="total-th">訪問</th>
                <td class="total-td">{{ 
                  Math.round(
                    (shiftItem.reduce((sum, element) => sum + element.cafe_visit, 0) + 
                    shiftItem.reduce((sum, element) => sum + element.other_food_visit, 0)) / 
                    shiftItem.length * 100
                  ) / 100 
                }}</td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">成約</th>
                <td class="total-td">{{ 
                  Math.round(
                    (shiftItem.reduce((sum, element) => sum + element.cafe_get, 0) +
                    shiftItem.reduce((sum, element) => sum + element.other_food_get, 0)) / 
                    shiftItem.length * 100
                  ) / 100 
                }}</td>
                <td class="total-td">{{ 
                  Math.round(
                    (shiftItem.reduce((sum, element) => sum + element.cafe_get, 0) + 
                    shiftItem.reduce((sum, element) => sum + element.other_food_get, 0)) / 
                    (shiftItem.reduce((sum, element) => sum + element.cafe_visit, 0) *
                    shiftItem.reduce((sum, element) => sum + element.other_food_visit, 0)) * 100
                  )
                }} %</td>
              </tr>
              <tr>
                <th class="total-th" rowspan="2">車屋</th>
                <th class="total-th">訪問</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.car_visit, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">成約</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.car_get, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.car_get, 0) / shiftItem.reduce((sum, element) => sum + element.car_visit, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th" rowspan="2">その他小売</th>
                <th class="total-th">訪問</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.other_retail_visit, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">成約</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.other_retail_get, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.other_retail_get, 0) / shiftItem.reduce((sum, element) => sum + element.other_retail_visit, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th" rowspan="2">理容・美容</th>
                <th class="total-th">訪問</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.hair_salon_visit, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">成約</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.hair_salon_get, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.hair_salon_get, 0) / shiftItem.reduce((sum, element) => sum + element.hair_salon_visit, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th" rowspan="2">整体・鍼灸</th>
                <th class="total-th">訪問</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.manipulative_visit, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">成約</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.manipulative_get, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.manipulative_get, 0) / shiftItem.reduce((sum, element) => sum + element.manipulative_visit, 0) * 100)}} %</td>
              </tr>
              <tr>
                <th class="total-th" rowspan="2">その他サービス</th>
                <th class="total-th">訪問</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.other_service_visit, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">-</td>
              </tr>
              <tr>
                <th class="total-th">成約</th>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.other_service_get, 0) / shiftItem.length * 100) / 100 }}</td>
                <td class="total-td">{{ Math.round(shiftItem.reduce((sum, element) => sum + element.other_service_get, 0) / shiftItem.reduce((sum, element) => sum + element.other_service_visit, 0) * 100)}} %</td>
              </tr>
            </table>
        </div><%# 拠点別店舗基準値 %>
        <%= render_async store_val_all_path(@user.id,month: @month) %><%# 店舗別基準値（全体） %>
    </div><%# 店舗別基準値 %>
    <div class="result-flex"><%# 切り返し区切り %>
      <% if @shift_digestion_new == 0 %>
      <% else %>
      <%= render_async out_val_path(@user.id,month: @month) %><%# 個人切り返し（個人） %>
      <div><%# 拠点別切り返し %>
            <h2>
              拠点別切り返し（{{ val }}）
            </h2>
            <table>
              <tr>
                <th class="total-th">項目</th>
                <th class="total-th">内訳</th>
                <th class="total-th">合計</th>
                <th class="total-th">一人当</th>
                <th class="total-th">平均</th>
                <th class="total-th">成約率</th>
              </tr>
                <tr>
                  <th class="total-th" rowspan="3">どういうこと？</th>
                  <th class="total-th">対面</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_interview_01, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_01, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_01, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">-</td>
                </tr>
                <tr>
                  <th class="total-th">フル</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_full_talk_01, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_01, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_01, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_01, 0) / out.reduce((sum, element) => sum + element.out_interview_01, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th">成約</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_get_01, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_01, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_01, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_01, 0) / out.reduce((sum, element) => sum + element.out_interview_01, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th" rowspan="3">既存のみ</th>
                  <th class="total-th">対面</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_interview_04, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_04, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_04, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">-</td>
                </tr>
                <tr>
                  <th class="total-th">フル</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_full_talk_04, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_04, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_04, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_04, 0) / out.reduce((sum, element) => sum + element.out_interview_04, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th">成約</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_get_04, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_04, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_04, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_04, 0) / out.reduce((sum, element) => sum + element.out_full_talk_04, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th" rowspan="3">先延ばし</th>
                  <th class="total-th">対面</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_interview_07, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_07, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_07, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">-</td>
                </tr>
                <tr>
                  <th class="total-th">フル</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_full_talk_07, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_07, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_07, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_07, 0) / out.reduce((sum, element) => sum + element.out_interview_07, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th">成約</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_get_07, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_07, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_07, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_07, 0) / out.reduce((sum, element) => sum + element.out_full_talk_07, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th" rowspan="3">現金のみ</th>
                  <th class="total-th">対面</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_interview_08, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_08, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_08, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">-</td>
                </tr>
                <tr>
                  <th class="total-th">フル</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_full_talk_08, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_08, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_08, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_08, 0) / out.reduce((sum, element) => sum + element.out_interview_08, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th">成約</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_get_08, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_08, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_08, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_08, 0) / out.reduce((sum, element) => sum + element.out_full_talk_08, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th" rowspan="3">忙しい</th>
                  <th class="total-th">対面</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_interview_09, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_09, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_09, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">-</td>
                </tr>
                <tr>
                  <th class="total-th">フル</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_full_talk_09, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_09, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_09, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_09, 0) / out.reduce((sum, element) => sum + element.out_interview_09, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th">成約</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_get_09, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_09, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_09, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_09, 0) / out.reduce((sum, element) => sum + element.out_full_talk_09, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th" rowspan="3">不審</th>
                  <th class="total-th">対面</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_interview_14, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_14, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_14, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">-</td>
                </tr>
                <tr>
                  <th class="total-th">フル</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_full_talk_14, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_14, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_14, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_14, 0) / out.reduce((sum, element) => sum + element.out_interview_14, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th">成約</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_get_14, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_14, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_14, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_14, 0) / out.reduce((sum, element) => sum + element.out_full_talk_14, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th" rowspan="3">情報不足</th>
                  <th class="total-th">対面</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_interview_11, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_11, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_11, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">-</td>
                </tr>
                <tr>
                  <th class="total-th">フル</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_full_talk_11, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_11, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_11, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_11, 0) / out.reduce((sum, element) => sum + element.out_interview_11, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th">成約</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_get_11, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_11, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_11, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_11, 0) / out.reduce((sum, element) => sum + element.out_full_talk_11, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th" rowspan="3">ペロ</th>
                  <th class="total-th">対面</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_interview_12, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_12, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_interview_12, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">-</td>
                </tr>
                <tr>
                  <th class="total-th">フル</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_full_talk_12, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_12, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_12, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_full_talk_12, 0) / out.reduce((sum, element) => sum + element.out_interview_12, 0) * 100)}} %</td>
                </tr>
                <tr>
                  <th class="total-th">成約</th>
                  <td class="total-td">{{ out.reduce((sum, element) => sum + element.out_get_12, 0) }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_12, 0) /  user_len * 10) / 10 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_12, 0) / out.length * 100) / 100 }}</td>
                  <td class="total-td">{{ Math.round(out.reduce((sum, element) => sum + element.out_get_12, 0) / out.reduce((sum, element) => sum + element.out_full_talk_12, 0) * 100)}} %</td>
                </tr>
              </table>
      </div>
      <%= render_async out_val_all_path(@user.id,month: @month) %><%# 切り返し（全体） %>
      <% end %>
    </div><%# 切り返し区切り %>
    </div><%# vueの適用範囲 %>
    <div class="result-flex"><%# 切り返し区切り 種別 %>
      <%= render_async out_val_type_path(@user.id,month: @month) %><%# 切り返し（種別） %>
    </div>


  <div class="frame"><%# 左側区切り（日々の終着） %>
    <%= render_async date_fin_path(@user.id,month: @month) %>
  </div><%# /左側区切り（日々の終着） %>
  </div><%# users/showスコープ末尾 %>
</div>