<div data-scope-path="shared/header">
  <h1>マイページ</h1>
  <%= render "shared/header" %>
</div>
  <div data-scope-path="users/show"><%# users/showスコープ頭 %>
    <h2>
      <%= @user.name %>
      <%= link_to "<<",result_path(@user.id,month:@month.prev_month),"data-turbolinks": false, class:"link" %>
      <%= @month.year %>年<%= @month.month %>月 詳細
      <%= link_to ">>",result_path(@user.id,month:@month.next_month),"data-turbolinks": false, class:"link" %>
    </h2><br>
    <div class="btn-form">
      <button class="display-btn" id="month-button">商材ステータス</button>
      <button class="display-btn" id="slmt-button">決済一覧</button>
      <button class="display-btn" id="def-button">不備一覧</button>
      <button class="display-btn" id="result-button">利益表</button>
      <button class="display-btn" id="valuation-button">増減表</button>
      <button class="display-btn" id="outcome-button">成果一覧</button>
      <button class="display-btn" ><%= link_to "利益表", results_path, class: "reset-link" %></button>
    </div>
    <p class="alert"><%= notice %></p><%# 登録した時のアラート %>

    <div class="main" id="month-page"><%# 獲得ステータス %>
      <%= render "user_parts/status" %>
    </div>
    <div class="main" id="slmt-page"><%# 決済一覧 %>
      <%= render "user_parts/slmt" %>
    </div>
    <div class="main" id="def-page"><%# 不備一覧 %>
      <%= render "user_parts/deficiency" %>
    </div>

    <div class="main" id="valuation-page"><%# 増減一覧 %>
      <%= render "user_parts/valuation" %>
    </div>
    <div class="main" id="outcome-page"><%# 成果一覧 %>
      <%= render "user_parts/outcome" %>
    </div>
    <div class="main" id="result-page"><%# 利益表 %>
      <%= render "result_parts/date_profit" %>
    </div>
  </div><%# users/showスコープ末尾 %>