<div data-scope-path="shared/header">
  <h1><%= @dmer.store_prop.name %>情報編集（dメル）</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;"><%# フレックス %>
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div data-scope-path="shared/form"><%# CSSスコープ %>
    <div class="form-main"><%# フォーム外枠 %>
      <div class="form-title">
        <h2>獲得情報</h2>
      </div>
      <%= form_with model: @dmer, local: true do |f| %>
        <%= render "shared/error_messages", model: f.object %>
        <div class="form">
            <p><%= f.label :client, "商流", class: "form-text" %></p>
            <p><%= f.collection_select(:client, Dmer.group(:client), :client, :client,{include_blank: true}, {class: "slct-input"})%></p>
        </div>
        <div class="form">
            <p><%= f.label :customer_num, "お客様番号", class: "form-text" %></p>
            <p><%= f.text_field :customer_num , class: "input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :controll_num, "管理番号", class: "form-text" %></p>
            <p><%= f.text_field :controll_num , class: "input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :user_id, "獲得者", class: "form-text" %></p>
            <p><%= f.collection_select(:user_id, @users, :id, :name,{}, {class: "slct-input"})%></p>
        </div>
        <div class="form">
            <p><%= f.label :date, "獲得日", class: "form-text" %></p>
            <p><%= f.date_field :date , class: "date-input" %></p>
        </div>
        <h2>新規情報</h2>
        <div class="form">
            <p><%= f.label :industry_status, "業種チェック", class: "form-text" %></p>
            <p><%= f.collection_select(:industry_status, Dmer.group(:industry_status), :industry_status, :industry_status,{include_blank: true}, {class: "slct-input"})%></p>
        </div>

        <div class="form">
            <p><%= f.label :app_check, "申込チェック", class: "form-text" %></p>
            <p><%= f.collection_select(:app_check, Dmer.select(:app_check).distinct, :app_check, :app_check,{}, {class: "slct-input"}) %></p>
        </div>
        <div class="form">
            <p><%= f.label :app_check_date, "申込チェック日", class: "form-text" %></p>
            <p><p><%= f.date_field :app_check_date , class: "date-input" %></p></p>
        </div>
        <div class="form">
            <p><%= f.label :status, "新規ステータス", class: "form-text" %></p>
            <p><%= f.collection_select(:status, Dmer.select(:status).distinct, :status, :status,{}, {class: "slct-input"})%></p>
        </div>
        <div class="form">
            <p><%= f.label :share, "上位店共有日", class: "form-text" %></p>
            <p><%= f.date_field :share , class: "date-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :result_point, "審査完了日", class: "form-text" %></p>
            <p><%= f.date_field :result_point , class: "date-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :description, "備考", class: "form-text" %></p>
            <p><%= f.text_field :description , class: "input" %></p>
        </div>
        <h2>新規不備情報</h2>
        <div class="form">
          <p><%= f.label :deficiency, "不備発生日（新規）", class: "form-text" %></p>
          <p><%= f.date_field :deficiency , class: "date-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :deficiency_solution, "不備解消日（新規）", class: "form-text" %></p>
            <p><%= f.date_field :deficiency_solution , class: "date-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :deficiency_remarks, "不備詳細（新規）", class: "form-text" %></p>
            <p><%= f.text_field :deficiency_remarks , class: "input" %></p>
        </div>


        <h2>決済情報</h2>
        <div class="form">
            <p><%= f.label :shipment, "キット発送日", class: "form-text" %></p>
            <p><%= f.date_field :shipment , class: "date-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :settlementer_id, "決済者", class: "form-text" %></p>
            <p><%= f.collection_select(:settlementer_id, @users, :id, :name,{include_blank: true}, {class: "slct-input"})%></p>
        </div>
        <div class="form">
            <p><%= f.label :status_settlement, "決済ステータス", class: "form-text" %></p>
            <p><%= f.select :status_settlement, {
              "未対応": "未対応", "決済不備": "決済不備", 
              "写真不備": "写真不備","完了": "完了",
              "期限切れ": "期限切れ"
              } ,{}, {class: "slct-input"} %></p>
        </div>
        <div class="form">
            <p><%= f.label :settlement, "初回決済日", class: "form-text" %></p>
            <p><%= f.date_field :settlement , class: "date-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :settlement, "２回回決済日", class: "form-text" %></p>
            <p><%= f.date_field :settlement_second , class: "date-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :settlement, "アクセプタンスアップロード日", class: "form-text" %></p>
            <p><%= f.date_field :picture , class: "date-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :picture_update, "アクセプタンス連携日", class: "form-text" %></p>
            <p><%= f.date_field :picture_update, class: "date-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :status_update_settlement, "決済完了日", class: "form-text" %></p>
            <p><%= f.date_field :status_update_settlement, class: "date-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :settlement_deadline, "決済期限", class: "form-text" %></p>
            <p><%= f.date_field :settlement_deadline , class: "date-input" %></p>
        </div>
        <h2>決済不備情報</h2>
        <div class="form">
            <p><%= f.label :deficiency_settlement, "不備発生日（決済）", class: "form-text" %></p>
            <p><%= f.date_field :deficiency_settlement , class: "date-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :deficiency_solution_settlement, "不備解消日（決済）", class: "form-text" %></p>
            <p><%= f.date_field :deficiency_solution_settlement , class: "date-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :deficiency_remarks_settlement, "不備詳細（決済）", class: "form-text" %></p>
            <p><%= f.text_field :deficiency_remarks_settlement , class: "input" %></p>
        </div>
        <h2>単価</h2>
        <div class="form">
            <p><%= f.label :valuation_new, "評価売上（新規）", class: "form-text" %></p>
            <p><%= f.number_field :valuation_new , class: "num-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :valuation_settlement, "評価売上（決済）", class: "form-text" %></p>
            <p><%= f.number_field :valuation_settlement , class: "num-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :valuation_second_settlement, "評価売上（２回目決済）", class: "form-text" %></p>
            <p><%= f.number_field :valuation_second_settlement , class: "num-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :profit_new, "実売上（新規）", class: "form-text" %></p>
            <p><%= f.number_field :profit_new , class: "num-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :profit_settlement, "実売上（決済）", class: "form-text" %></p>
            <p><%= f.number_field :profit_settlement , class: "num-input" %></p>
        </div>
        <div class="form">
            <p><%= f.label :profit_second_settlement, "実売上（2回目決済）", class: "form-text" %></p>
            <p><%= f.number_field :profit_second_settlement , class: "num-input" %></p>
        </div>
    </div><%# フォーム外枠 %>
        <div class="form-submit">
            <%= f.submit "登録", class: "submit-btn",data: { confirm: "登録してもよろしいですか？" }  %>
        </div>
    <% end %>
  </div><%# CSSスコープ %>
</div><%# フレックス %>



