<%= render "shared/header" %>

<div class="main">
  <%= render "shared/side_bar" %>
  <main class="right-bar">
  <h1 class="show-title"><%= @dmer.store_prop.name %>情報入力（dメル）</h1>
      

  <%= form_with model: @dmer, class: "form-frame", local: true do |f| %>
    <table class="table">
    <%= render "shared/error_messages", model: f.object %>
        <%= f.hidden_field :store_prop_id, value: @dmer.store_prop.id %>
    <tr>
    
      <th>
        <div class="form-interval">
          <%= f.label :user_id, "獲得者", class: "form-text" %><span class="note">（※必須）</span><br>
        <%= f.collection_select(:user_id, @users, :id, :name,{}, {class: "form-input"})%>
        </div>
      </th>
      <th>
        <div class="form-interval">
          <%= f.label :get_date, "獲得日", class: "form-text" %><span class="note">（※必須）</span><br>
          <%= f.date_field :get_date , class: "form-input" %>
        </div>
      </th>

      <th>
        <div class="form-interval">
          <%= f.label :customer_num, "お客様番号", class: "form-text" %><span class="note">（※必須）</span><br>
          <%= f.text_field :customer_num , class: "form-input" %>
        </div>
      </th>
      <th>
        <div class="form-interval">
          <%= f.label :client, "商流", class: "form-text" %><span class="note">（※必須）</span><br>
          <%= f.select :client, {"マックスサポート": "マックスサポート", "USEN": "USEN","メルヴェイユ": "メルヴェイユ",
          "ウィンクルム": "ウィンクルム",} ,{}, {class: "form-input"} %>
        </div>
      </th>
    
    <th>
      <div class="form-interval">
        <%= f.label :status, "審査ステータス", class: "form-text" %><span class="note">（※必須）</span><br>
        <%= f.select :status, {"未審査": "未審査", "自社不備": "自社不備","上位店NG": "上位店NG", "審査完了": "審査完了",
        "決済完了": "決済完了", "入金確認済": "入金確認済"} ,{}, {class: "form-input"} %>
      </div>
    </th>
    </tr>

    <tr>

    <th>
      <div class="form-interval">
        <%= f.label :valuation_profit, "評価売上", class: "form-text" %><br>
        <%= f.number_field :valuation_profit , class: "form-input" %>
      </div>
    </th>

    <th>
      <div class="form-interval">
        <%= f.label :actual_profit, "実売上", class: "form-text" %><br>
        <%= f.number_field :actual_profit , class: "form-input" %>
      </div>
    </th>


    
    <th>
      <div class="form-interval">
        <%= f.label :settlement, "決済日", class: "form-text" %><br>
        <%= f.date_field :settlement , class: "form-input" %>
      </div>
    </th>
    
    <th>
      <div class="form-interval">
        <%= f.label :payment, "入金日", class: "form-text" %><br>
        <%= f.date_field :payment , class: "form-input" %>
      </div>
    </th>
    
    
    <th>
      <div class="form-interval">
        <%= f.label :description, "備考", class: "form-text" %><br>
        <%= f.text_field :description , class: "form-input" %>
      </div>
    </th>
    </tr>

</table>
    <%= f.submit "登録", class: "form-btn" %>
  </div>
  
  
  <% end %>
  </main>
</div>