<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>dメル一覧</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
<div data-scope-path="shared/side_bar">
  <%= render "shared/sidebar" %>
</div>
<div data-scope-path="dmers/index">
<div class="main">
  <%= form_with url: import_dmers_path do |f| %>
    <table >
      <tr>
        <td class="csv-label">CSV</td>

        <td ><%= f.file_field :file , accept: ".csv",class: "input" %></td>

        <td class="result"><%= f.submit  "インポート", class: "result-btn",data: { confirm: 'インポートしますか？', disable_with: "インポート中" } %></td>
      </tr>
    </table>
  <% end %>

    <%= search_form_for @q do |f| %>
      <table>
        <tr >
          <th class="search-th">獲得月</th>
          <th class="search-th" colspan="2">獲得日付</th>

        </tr>
        <tr>
          <td ><%= f.date_select :date_during_month, {discard_day: true, include_blank: true} ,{class: "date-input"} %></td>
          <td ><%= f.date_field :date_gteq, class: "input" %>~</td>
          <td ><%= f.date_field :date_lteq, class: "input" %></td>

        </tr>
        <tr>
          <th class="search-th" colspan="2">初回決済日</th>
          <th class="search-th" colspan="2">決済期限</th>
        </tr>
        <tr>
          <td ><%= f.date_field :settlement_deadline_gteq, class: "input"%>~</td>
          <td ><%= f.date_field :settlement_deadline_lteq, class: "input" %></td>
          <td ><%= f.date_field :settlement_gteq, class: "input" %>~</td>
          <td ><%= f.date_field :settlement_lteq, class: "input" %></td>
        </tr>
      </table>

      <table >
        <tr >
          <th class="search-head" rowspan="2" >検索</th>
          <th class="search-th">申込番号</th>
          <th class="search-th">店舗名</th>
          <th class="search-th">獲得者</th>
          <th class="search-th">業種チェック</th>
          <th class="search-th">審査ステータス</th>
          <th class="search-th">決済ステータス</th>
          <th class="search-th">商流</th>
          <td class="result"><%= f.submit "絞込み", data: {disable_with: "絞り込み中"},class: "result-btn" %></td>
        </tr>
        <tr >
          <td><%= f.text_field :customer_num_eq, class: "input" %></td>
          <td><%= f.text_field :store_prop_name_cont, class: "input" %></td>
          <td><%= f.text_field :user_name_cont, class: "input" %></td>
          <td><%= f.select :industry_status_eq, options_from_collection_for_select(Dmer.select(:industry_status).distinct,:industry_status, :industry_status),{include_blank: true}, {class: "input"} %></td>
          <td><%= f.select :status_eq, options_from_collection_for_select(Dmer.select(:status).distinct,:status, :status),{include_blank: true}, {class: "input"} %></td>
          <td><%= f.select :status_settlement_eq, options_from_collection_for_select(Dmer.select(:status_settlement).distinct,:status_settlement, :status_settlement),{include_blank: true}, {class: "input"} %></td>
          <td ><%= f.select :client_eq, options_from_collection_for_select(Dmer.select(:client).distinct, :client, :client), {include_blank: true}, {class: "input"} %></td>
          <td class="reset"><%= link_to "絞込みリセット", dmers_path, class: "reset-link" %></td>
        </tr>
      </table>
    <% end %>
      <hr>
      <div class="warning"><%= alert %></div>
      <% if @dmers.empty? %>
      <% else %>
      <h1>表示範囲：<%= @dmers.minimum(:date) %>（<%= days[@dmers.minimum(:date).wday] %>）〜<%= @dmers.maximum(:date) %>（<%= days[@dmers.maximum(:date).wday] %>）</h1>

        <% settlement_subject = @dmers.where(status: "審査OK").where.not(industry_status: "NG").where.not(industry_status: "要確認").length %>
        <% settlement_done = @dmers.where(status_settlement: '完了' ).length %>
        <% dmer_sum = @dmers.where.not(status: "申込取消").where.not(status: "審査NG").where.not(status: "自社不備").sum(:profit_new) %>
        <% slmt_dead = @dmers.where(status: "審査OK").where.not(status_settlement: '完了').where(settlement_deadline: @dmers.minimum(:date)..Date.today).length  %>

        <% hubi = @dmers.where(status: '自社不備' ).length %>
        <% client_hubi = @dmers.where(status: '不備対応中' ).length %>
        <% industry_ng = @dmers.where(status: '審査OK' ).where(industry_status: 'NG').length + @dmers.where(status: '審査OK' ).where(industry_status: '×').length %>
        <% client_ng = @dmers.where(status: '審査NG' ).length + @dmers.where(status: '申込取消' ).length %>
        <% cancel = @dmers.where(status: '申込取消' ).length %>
        <% status_ok = @dmers.where(status: '審査OK' ).where.not(industry_status: "NG").where.not(industry_status: "要確認").where.not(industry_status: '×').length %>
    <div style="display: flex;">
      <table class="status-tb">
        <tr>
          <th colspan="7" class="search-th">獲得ステータス</th>
        </tr>
        <tr>
          <th class="search-th">　　　　獲得件数　　　　</th>
          <th class="search-th">　　　　審査通過　　　　</th>
          <th class="search-th">　　　　審査待ち　　　　</th>
          <th class="search-th">　　　複数店追加　　　　</th>
          <th class="search-th">　　　複数店追加待ち　　　</th>
          <th class="search-th">　　　　　不備　　　　　</th>
          <th class="search-th">　　　　　NG　　　　　</th>
        </tr>
        <tr>
          <td class="search-td"><%= @dmers.length %></td>
          <td class="search-td"><%= status_ok %></td>
          <td class="search-td"><%= @dmers.where(status: '審査待ち').length + @dmers.where(status: '社内確認中').length %></td>
          <td class="search-td"><%= @dmers.where.not(store_props: {head_store: nil}).where.not(status: '複数店舗' ).length %></td>
          <td class="search-td"><%= @dmers.where(status: '複数店舗' ).length %></td>
          <td class="search-td"><%= hubi + client_hubi %></td>
          <td class="search-td"><%= industry_ng + client_ng %></td>
        </tr>
        <tr>
          <th colspan="4" class="search-th">決済内訳</th>
        </tr>
        <tr>
          <th class="search-th">　　　　決済対象　　　　</th>
          <th class="search-th">　　　　決済完了　　　　</th>
          <th class="search-th">　　決済期限切れ件数　　</th>
          <th class="search-th">決済完了率（決済完了÷決済対象）</th>
        </tr>
        <tr>
          <td class="search-td"><%= settlement_subject %></td>
          <td class="search-td"><%= settlement_done %></td>
          <td class="search-td"><%= slmt_dead %></td>
          <td class="search-td"><%= number_to_percentage(settlement_done.to_f / settlement_subject.to_f * 100, precision: 1) rescue "-" %></td>
        </tr>
        <tr>
          <th colspan="3" class="search-th">不備内訳</th>
          <th colspan="3" class="search-th">NG内訳</th>
        </tr>
        <tr >
          <th class="search-th">自社不備</th>
          <th class="search-th">上位店不備</th>
          <th class="search-th">不備率（不備÷獲得数）</th>
          <th class="search-th">業種NG</th>
          <th class="search-th">上位店NG</th>
          <th class="search-th">NG率（NG÷獲得数）</th>
        </tr>

        <tr >

          <td class="search-td"><%= hubi %></td>
          <td class="search-td"><%= client_hubi %></td>
          <td class="search-td"><%= number_to_percentage( (hubi + client_hubi).to_f / @dmers.length.to_f * 100, precision: 1) rescue "-" %></td>
          <td class="search-td"><%= industry_ng %></td>
          <td class="search-td"><%= client_ng %></td>
          <td class="search-td"><%= number_to_percentage( (industry_ng + client_ng).to_f / @dmers.length.to_f * 100, precision: 1) rescue "-" %></td>
        </tr>
      </table>
    </div>
    <table  class="out-tb">
    <thead>
    <tr class="table-row">
      <th class="out-th"></th>
      <th class="out-th"><%= sort_link(@q, :date, "獲得日",{}, {class: "reset-link"}) %></th>
      <th class="out-th">商流</th>
      <th class="out-th">複数店</th>
      <th class="out-th">店舗名</th>
      <th class="out-th">獲得者</th>
      <th class="out-th">業種チェック</th>
      <th class="out-th">審査ステータス</th>
      <th class="out-th">決済ステータス</th>
      <th class="out-th">決済対応者</th>
      <th class="out-th">初回決済日</th>
      <th class="out-th">決済期限</th>
      <th class="out-th">不備内容(新規)</th>
      <th class="out-th">不備内容(決済)</th>
    </tr>
    </thead>
    <tbody>
    <% @dmers_data.find_each do |dmer| %>
    <tr class="index-tr">
      <td class="index-td"><%= link_to "　詳細　",  dmer_path(dmer.id) ,class: "link" %></td>
      <td class="index-td"><%= dmer.date.month %>月<%= dmer.date.day %>日</td>
      <td class="index-td"><%= dmer.client %></td>
      <% if @dmers.find_by(store_props: {head_store: dmer.store_prop.name}).present? %>
        <td class="index-td">複数店本店</td>
      <% elsif dmer.store_prop.head_store.blank? %>
        <td class="index-td"></td>
      <% else %>
        <td class="index-td">本店名：<%= dmer.store_prop.head_store %></td>
      <% end %>
      <td class="index-td"><%= dmer.store_prop.name %></td>
      <td class="index-td"><%= dmer.user.name %></td>
      <td class="index-td"><%= dmer.industry_status %></td>
      <td class="index-td"><%= dmer.status %></td>
      <td class="index-td"><%= dmer.status_settlement %></td>
      <td class="index-td"><%= dmer.settlementer.name rescue ' ' %></td>
      <td class="index-td"><%= dmer.settlement %></td>
      <td class="index-td"><%= dmer.settlement_deadline %></td>
      <td class="td-remarks"><%= dmer.deficiency_remarks %></td>
      <td class="td-remarks"><%= dmer.deficiency_remarks_settlement %></td>
    </tr>
    <% end %>
    </tbody>
    </table>
  <div class="kaminari-page">
    <%= paginate @dmers_data %>
  </div>
  <% end %>
  </div>
  </div>
</div>