<% if current_user.position_sub == "99：退職" %>
  <p>退職者は利用できません。</p>
<% else %>
<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>dメル一覧</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
<div data-scope-path="shared/side_bar">
  <%= render "shared/sidebar" %>
</div>
<div data-scope-path="shares/index">
<div class="main">
<hr>
<%= render "shared/dmer_links" %>
<hr>
<%# link_to 'データ出力', dmers_path(format: :csv),class: "link" %>
  <% if current_user.position_sub == "管理" %>
    <%= form_with url: import_dmers_path do |f| %>
      <table class="csv-tb">
        <tr>
          <td class="csv-label">CSV</td>

          <td ><%= f.file_field :file , accept: ".csv",class: "csv-input" %></td>

          <td class="result"><%= f.submit  "インポート", class: "result-btn",data: { confirm: 'インポートしますか？', disable_with: "インポート中" } %></td>
        </tr>
      </table>
    <% end %>
  <% end %>
  <p class="nav-text">こちらから確認したい情報を絞り込んでください</p>
      <%= javascript_pack_tag 'search' %>
      <article id='search'><%# 検索フォーム %>
        <button @click="active" v-if="!isActive" class="active-btn">詳細検索表示</button>
        <button @click="active" v-if="isActive" class="active-btn">詳細検索表示中</button>
        <div v-if="isActive" class="s-form"><%# 検索フォームの外枠 %>
          <%= search_form_for @q do |f| %>
            <p class="s-text">検索したい内容を入力してください。</p>
            <hr>
          <div class="s-flex"><%# 検索フォーム %>
            <div class="user-form"><%# ユーザー情報 %>
              <p class="s-label">獲得者</p>
              <p class="s-text-field"><%= f.text_field :user_name_cont, class: "s-text-input" %></p>
              <p class="s-label">決済者</p>
              <p class="s-text-field"><%= f.text_field :settlementer_name_cont, class: "s-text-input" %></p>
              <p class="s-label">拠点</p>
              <p class="s-slct-field"><%= f.select :user_base_cont,{"中部SS": "中部SS","関東SS": "関東SS","関西SS": "関西SS","2次店": "2次店"},{include_blank: true},{ class: "s-slct-input"} %></p>
              <p class="s-label">獲得不備内容（含む）</p>
              <p class="s-text-field"><%= f.text_field :deficiency_remarks_cont, class: "s-text-input" %></p>
              <p class="s-label">獲得不備内容（頭文字一致）</p>
              <p class="s-text-field"><%= f.text_field :deficiency_remarks_start, class: "s-text-input" %></p>
              <p class="s-label">獲得不備内容（頭文字不一致）</p>
              <p class="s-text-field"><%= f.text_field :deficiency_remarks_not_start, class: "s-text-input" %></p>
              <p class="s-label">決済不備内容（含む）</p>
              <p class="s-text-field"><%= f.text_field :deficiency_remarks_settlement_cont, class: "s-text-input" %></p>
            </div><%# ユーザー情報 %>
            <div class="product-form"><%# 商材情報 %>
              <table class="s-tb">
                <thead>
                  <tr class="s-tr">
                    <th class="s-th">項目</th>
                    <th class="s-th">検索内容</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="s-tr">
                    <td class="s-td">上位店連携</td>
                    <td class="s-td">
                      <%= f.select :controll_num_null,{"未連携": true,"連携済": false},{include_blank: true},{ class: "t-input"} %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">店舗</td>
                    <td class="s-td">
                      <%= f.select :store_prop_head_store_null,{"本店": true,"複数店": false},{include_blank: true},{ class: "t-input"} %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">獲得日</td>
                    <td class="s-td">
                      <%= f.date_field :date_eq, class: "t-input" %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">獲得日（範囲）</td>
                    <td class="s-td">
                      <%= f.date_field :date_gteq, class: "s-input" %>〜
                      <%= f.date_field :date_lteq, class: "s-input" %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">申込チェック日</td>
                    <td class="s-td">
                      <%= f.date_field :app_check_date_gteq, class: "s-input" %>〜
                      <%= f.date_field :app_check_date_lteq, class: "s-input" %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">審査完了日</td>
                    <td class="s-td">
                      <%= f.date_field :result_point_gteq, class: "s-input" %>〜
                      <%= f.date_field :result_point_lteq, class: "s-input" %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">初回決済日</td>
                    <td class="s-td">
                      <%= f.date_field :settlement_gteq, class: "s-input" %>〜
                      <%= f.date_field :settlement_lteq, class: "s-input" %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">アクセプタンス</td>
                    <td class="s-td">
                      <%= f.date_field :picture_gteq, class: "s-input" %>〜
                      <%= f.date_field :picture_lteq, class: "s-input" %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">2回目決済</td>
                    <td class="s-td">
                      <%= f.date_field :settlement_second_gteq, class: "s-input" %>〜
                      <%= f.date_field :settlement_second_lteq, class: "s-input" %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">アクセプタンス連携</td>
                    <td class="s-td">
                      <%= f.select :picture_update_null,{"未完了": true,"完了": false},{include_blank: true},{ class: "t-input"} %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">アクセプタンス審査</td>
                    <td class="s-td">
                      <%= f.select :status_update_settlement_null,{"未完了": true,"完了": false},{include_blank: true},{ class: "t-input"} %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">決済完了</td>
                    <td class="s-td">
                      <%= f.date_field :status_update_settlement_gteq, class: "s-input" %>〜
                      <%= f.date_field :status_update_settlement_lteq, class: "s-input" %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">2回目決済報告</td>
                    <td class="s-td">
                      <%= f.select :settlement_second_null,{"未完了": true,"完了": false},{include_blank: true},{ class: "t-input"} %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">決済期限</td>
                    <td class="s-td">
                      <%= f.date_field :settlement_deadline_gteq, class: "s-input" %>〜
                      <%= f.date_field :settlement_deadline_lteq, class: "s-input" %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">不備発生</td>
                    <td class="s-td">
                      <%= f.date_field :deficiency_gteq, class: "s-input" %>〜
                      <%= f.date_field :deficiency_lteq, class: "s-input" %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">商流</td>
                    <td class="s-td">
                      <%= 
                        f.select :client_eq,
                        options_from_collection_for_select(Dmer.select(:client)
                        .distinct,:client, :client),
                        {include_blank: true},
                        {class: "t-input"} 
                      %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">申込チェック</td>
                    <td class="s-td">
                      <%= 
                        f.select :app_check_eq,
                        options_from_collection_for_select(Dmer.select(:app_check)
                        .distinct,:app_check, :app_check),
                        {include_blank: true},
                        {class: "t-input"} 
                      %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">業種ステータス</td>
                    <td class="s-td">
                      <%= 
                        f.select :industry_status_eq,
                        options_from_collection_for_select(Dmer.select(:industry_status)
                        .distinct,:industry_status, :industry_status),
                        {include_blank: true},
                        {class: "t-input"} 
                      %>
                    </td>
                  </tr>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">審査ステータス</td>
                    <td class="s-td">
                      <%= 
                        f.select :status_eq,
                        options_from_collection_for_select(Dmer.select(:status)
                        .distinct,:status, :status),
                        {include_blank: true},
                        {class: "t-input"} 
                      %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">不備カテゴリー</td>
                    <td class="s-td">
                      <%= 
                        f.select :def_status_eq,
                        options_from_collection_for_select(Dmer.select(:def_status)
                        .distinct,:def_status, :def_status),
                        {include_blank: true},
                        {class: "t-input"} 
                      %>
                    </td>
                  </tr>
                  <tr class="s-tr">
                    <td class="s-td">決済ステータス</td>
                    <td class="s-td">
                      <%= 
                        f.select :status_settlement_eq,
                        options_from_collection_for_select(Dmer.select(:status_settlement)
                        .distinct,:status_settlement, :status_settlement),
                        {include_blank: true},
                        {class: "t-input"}
                      %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div><%# 商材情報 %>
          </div><%# 検索フォーム %>
          <hr>
          <%= f.submit "検索",data: {disable_with: "検索中"} ,class: "s-btn" %>
          <button class="s-reset-btn"><%= link_to "解除", dmers_path, class: "reset-link" %></button>
          <% end %>
        </div><%# /検索フォームの外枠 %>
        <div v-else>
          <%= search_form_for @q do |f| %>
              <%= f.text_field :store_prop_name_or_customer_num_cont, placeholder: "キーワードから探す", class: "input-box" %>
              <%= f.submit "検索",data: {disable_with: "検索中"} ,class: "search-btn" %>
          <% end %>
        </div>
      </article><%# /検索フォーム %>

      <hr>
      <div class="warning"><%= alert %></div>
      <% if @dmers.empty? %>
      <% else %>
      <h1>獲得日：<%= @dmers.minimum(:date) %>（<%= days[@dmers.minimum(:date).wday] %>）〜<%= @dmers.maximum(:date) %>（<%= days[@dmers.maximum(:date).wday] %>）</h1>
      <%# 重複確認 %>
      <% dmer_duplicate = @dmers.where.not(controll_num: nil).group(:controll_num).having('count(*) >= 2') %>
        <% if dmer_duplicate.present? %>

          <p class="nav-text">管理番号重複</p>
          <% end %>
          <%# PJ078772 ばんやジル %>
        <% dmer_duplicate.each do |db| %>
          <p class="nav-text" style="color: red;"><%= db.controll_num %><%= db.store_prop.name %></p>
        <% end %>
        <% 
          settlement_subject = 
            @dmers.where(status: "審査OK")
            .where.not(industry_status: "NG")
            .where.not(industry_status: "×")
            .where.not(industry_status: "要確認").length 
        %>
        <% 
          settlement_done = 
            @dmers.where(status: "審査OK")
            .where.not(industry_status: "NG")
            .where.not(industry_status: "×")
            .where.not(industry_status: "要確認")
            .where(status_settlement: '完了').length 
        %>
        <% dmer_sum = @dmers.where.not(status: "申込取消").where.not(status: "審査NG").where.not(status: "自社不備").sum(:profit_new) %>
        <% 
          slmt_dead = 
            @dmers.where(status: "審査OK")
            .where.not(industry_status: "NG")
            .where.not(industry_status: "×")
            .where.not(industry_status: "要確認")
            .where(status_settlement: "期限切れ").length
        %>

        <% hubi = @dmers.where(status: '自社不備' ).length %>
        <% client_hubi = @dmers.where(status: '不備対応中' ).length %>
        <% industry_ng = @dmers.where(status: '審査OK' ).where(industry_status: 'NG').length + @dmers.where(status: '審査OK' ).where(industry_status: '×').length %>
        <% client_ng = @dmers.where(status: '審査NG' ).length + @dmers.where(status: '申込取消' ).length %>
        <% cancel = @dmers.where(status: '申込取消' ).length %>
        <% status_ok = @dmers.where(status: '審査OK' ).where.not(industry_status: "NG").where.not(industry_status: "要確認").where.not(industry_status: '×').length %>
    <div style="display: flex;">
      <table class="status-tb">
        <tr>
          <th colspan="7" class="search-th">獲得ステータス</th>
        </tr>
        <tr>
          <th class="search-th">　　　　獲得件数　　　　</th>
          <th class="search-th">　　　　審査通過　　　　</th>
          <th class="search-th">　　　　審査待ち　　　　</th>
          <th class="search-th">　　　複数店追加　　　　</th>
          <th class="search-th">　　　複数店追加待ち　　　</th>
          <th class="search-th">　　　　　不備　　　　　</th>
          <th class="search-th">　　　　　NG　　　　　</th>
        </tr>
        <tr>
          <td class="search-td"><%= @dmers.length %></td>
          <td class="search-td"><%= status_ok %></td>
          <td class="search-td"><%= @dmers.where(status: '審査待ち').length + @dmers.where(status: '社内確認中').length %></td>
          <td class="search-td"><%= @dmers.where.not(store_props: {head_store: nil}).where.not(share: nil).length %></td>
          <td class="search-td"><%= @dmers.where.not(store_props: {head_store: nil}).where(share: nil).length %></td>
          <td class="search-td"><%= hubi + client_hubi %></td>
          <td class="search-td"><%= industry_ng + client_ng %></td>
        </tr>
        <tr>
          <th colspan="5" class="search-th">決済ステータス</th>
        </tr>
        <tr>
          <th class="search-th">　　　　決済対象　　　　</th>
          <th class="search-th">　　　　決済完了　　　　</th>
          <th class="search-th">　　決済期限切れ件数　　</th>
          <th class="search-th">　　　　残り決済対象　　　　</th>
          <th class="search-th">決済完了率（決済完了÷決済対象）</th>
        </tr>
        <tr>
          <td class="search-td"><%= settlement_subject %></td>
          <td class="search-td"><%= settlement_done %></td>
          <td class="search-td"><%= slmt_dead %></td>
          <td class="search-td"><%= settlement_subject - settlement_done - slmt_dead %></td>
          <td class="search-td"><%= number_to_percentage(settlement_done.to_f / settlement_subject.to_f * 100, precision: 1) rescue "-" %></td>
        </tr>
        <tr>
          <th colspan="3" class="search-th">不備内訳</th>
          <th colspan="3" class="search-th">NG内訳</th>
        </tr>
        <tr >
          <th class="search-th">自社不備</th>
          <th class="search-th">上位店不備</th>
          <th class="search-th">不備率（不備÷獲得数）</th>
          <th class="search-th">業種NG</th>
          <th class="search-th">上位店NG</th>
          <th class="search-th">NG率（NG÷獲得数）</th>
        </tr>

        <tr >
          <td class="search-td"><%= hubi %></td>
          <td class="search-td"><%= client_hubi %></td>
          <td class="search-td"><%= number_to_percentage( (hubi + client_hubi).to_f / @dmers.length.to_f * 100, precision: 1) rescue "-" %></td>
          <td class="search-td"><%= industry_ng %></td>
          <td class="search-td"><%= client_ng %></td>
          <td class="search-td"><%= number_to_percentage( (industry_ng + client_ng).to_f / @dmers.length.to_f * 100, precision: 1) rescue "-" %></td>
        </tr>
      </table>
    </div>
    <table  class="out-tb">
      <thead>
        <tr >
          <th class="out-th">管理番号</th>
          <th class="out-th">商流</th>
          <th class="out-th">複数店</th>
          <th class="out-th">店舗名</th>
          <th class="out-th">獲得者</th>
          <th class="out-th"><%= sort_link(@q, :date, "獲得日",{}, {class: "reset-link"}) %></th>
          <th class="out-th">申込チェック</th>
          <th class="out-th">申込チェック日</th>
          <th class="out-th">業種チェック</th>
          <th class="out-th">審査ステータス</th>
          <th class="out-th">審査完了日</th>
          <th class="out-th">キット発送日</th>
          <th class="out-th">決済対応者</th>
          <th class="out-th">初回決済日</th>
          <th class="out-th">アクセプタンス</th>
          <th class="out-th">決済ステータス</th>
          <th class="out-th">写真キャリア連携</th>
          <th class="out-th">決済完了日</th>
          <th class="out-th">2回目決済日</th>
          <th class="out-th">決済期限</th>
          <th class="out-th">不備内容</th>
          <th class="out-th">不備内容(決済)</th>
          <th class="out-th">不備発生日</th>
          <th class="out-th">不備解消日</th>
          <th class="out-th"></th>
          <th class="out-th">コメント</th>
        </tr>
      </thead>
      <tbody>
      <% @dmers_data.find_each do |dmer| %>
        <tr >
          <td class="index-td"><%= dmer.controll_num %></td>
          <td class="index-td"><%= dmer.client %></td>
          <% if @dmers.find_by(store_props: {head_store: dmer.store_prop.name}).present? %>
            <td class="index-td">複数店本店</td>
          <% elsif dmer.store_prop.head_store.blank? %>
            <td class="index-td"></td>
          <% else %>
            <td class="index-td">本店名：<%= dmer.store_prop.head_store %></td>
          <% end %>
          <td class="index-td"><%= dmer.store_prop.name %></td>
          <td class="index-td"><%= dmer.user.name %></td>
          <td class="index-td"><%= dmer.date.month %>月<%= dmer.date.day %>日</td>
          <td class="index-td"><%= dmer.app_check %></td>
          <td class="index-td"><%= dmer.app_check_date %></td>
          <td class="index-td"><%= dmer.industry_status %></td>
          <td class="index-td"><%= dmer.status %></td>
          <td class="index-td"><%= dmer.result_point %></td>
          <td class="index-td"><%= dmer.shipment %></td>
          <td class="index-td"><%= dmer.settlementer.name rescue ' ' %></td>
          <td class="index-td"><%= dmer.settlement %></td>
          <td class="index-td"><%= dmer.picture %></td>
          <td class="index-td"><%= dmer.status_settlement %></td>
          <% if dmer.picture_update.present? %>
          <td class="index-td"><%= dmer.picture_update %></td>
          <% else %>
          <td class="index-td">未連携</td>
          <% end %>
          <td class="index-td"><%= dmer.status_update_settlement %></td>
          <td class="index-td"><%= dmer.settlement_second %></td>
          <td class="index-td"><%= dmer.settlement_deadline %></td>
          <td class="index-td"><%= dmer.deficiency_remarks %></td>
          <% if dmer.deficiency_remarks_settlement.present? %>
          <td class="index-td">不備有り（詳細にて確認ください）</td>
          <% else %>
          <td class="index-td"></td>
          <% end %>
          <td class="index-td"><%= dmer.deficiency %></td>
          <td class="index-td"><%= dmer.deficiency_solution %></td>

          <td class="index-td"><%= link_to "　詳細　",  dmer_path(dmer.id) ,class: "link" %></td>
          <% if dmer.store_prop.comments.present? %>
          <td class="index-td">有</td>
          <% else %>
          <td class="index-td"><%= link_to "　入力　",  new_comment_path(product: "dメル",content: "決済",store_id: dmer.store_prop_id) ,class: "link" %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  <div class="kaminari-page">
    <%= paginate @dmers_data %>
  </div>
  <% end %>
  </div>
  </div>
</div>
<% end %>