<div data-scope-path="dmers/index">
<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
  <h1>dメル一覧</h1>
  <%= render "shared/header" %>

        <%= search_form_for @q do |f| %>
    <table class="table-note">
      <tr>
        <th class="">※何も入力しないで絞り込むと全店舗データが表示されます</th>
      </tr>
    </table>
      <table>
        <tr >
          <th class="search1">獲得日付</th>
          <td ><%= f.date_field :get_date_gteq, class: "input" %>~</td>
          <td ><%= f.date_field :get_date_lteq, class: "input" %></td>
          <th class="search1">決済期限</th>
          <td ><%= f.date_field :settlement_deadline_gteq, class: "input" %>~</td>
          <td ><%= f.date_field :settlement_deadline_lteq, class: "input" %></td>
        </tr>
      </table>
      <table >
        <tr >
          <th class="search1">獲得者</th>
          <th class="search1">審査ステータス</th>
          <th class="search1">商流</th>
          <td class="result"><%= f.submit "絞込み", class: "result-btn" %></td>
        </tr>
        <tr >
          <td><%= f.text_field :user_name_cont, class: "input" %></td>
          <td><%= f.select :status_eq, options_from_collection_for_select(Dmer.select(:status).distinct,:status, :status),{include_blank: true}, {class: "input"} %></td>
          <td ><%= f.select :client_eq, {"マックスサポート": "マックスサポート", "USEN": "USEN","メルヴェイユ": "メルヴェイユ",
      "ウィンクルム": "ウィンクルム"}, {include_blank: true}, {class: "input"} %></td>
          <td class="reset"><%= link_to "絞込みリセット", dmers_path, class: "reset-link" %></td>
        </tr>
      </table>
        <% end %>
      <hr>
      <% if @dmers.empty? %>
      <% else %>
      <h1>表示範囲：<%= @dmers.minimum(:get_date) %>（<%= days[@dmers.minimum(:get_date).wday] %>）〜<%= @dmers.maximum(:get_date) %>（<%= days[@dmers.maximum(:get_date).wday] %>）</h1>
      <table >
        <tr >
          <th class="search2">実売上合計</th>
          <th class="search2">実売上平均</th>
          <th class="search2">営業日数</th>
        </tr>
        <tr >
          <td class="index-td"><%= dmer_sum = @dmers.where.not(status: "申込取消").where.not(status: "審査NG").where.not(status: "自社不備").sum(:actual_profit) %></td>
          <td class="index-td"><%= dmer_sum / @dmers.group(:get_date).length %></td>
          <td class="index-td"><%= @dmers.group(:get_date).length %>日</td>
        </tr>
        <tr >
          <th >獲得件数</th>
          <th >決済完了件数</th>
          <th >決済期限切れ件数</th>
          <th >入金完了数</th>
          <th >未審査数</th>
          <th >審査NG</th>
          <th >審査完了</th>
          <th >自社不備</th>
          <th >申込取消</th>
        </tr>
        <tr >
          <td ><%= @dmers.length %></td>
          <td ><%= @dmers.where.not(settlement: nil).length %></td>
          <td ><%= @dmers.where(status: "審査完了").where(settlement: nil).where(settlement_deadline: Time.now.years_ago(5)..Time.now).length %></td>
          <td ><%= @dmers.where.not(payment: nil).length %></td>
          <td ><%= @dmers.where(status: '未審査').length %></td>
          <td ><%= @dmers.where(status: '審査NG' ).length %></td>
          <td ><%= @dmers.where(status: '審査完了' ).length %></td>
          <td ><%= @dmers.where(status: '自社不備' ).length %></td>
          <td ><%= @dmers.where(status: '申込取消' ).length %></td>
        </tr>
      </table>
    
      <table class="table">
    <tr class="table-row">
      <th class="search1"></th>
      <th class="search1"><%= sort_link(@q, :get_date, "獲得日",{}, {class: "reset-link"}) %></th>
      <th class="search1">法人/個人</th>
      <th class="search1">複数店</th>
      <th class="search1">店舗名</th>
      <th class="search1">獲得者</th>
      <th class="search1">審査ステータス</th>
      <th class="search1">初回決済日</th>
      <th class="search1">決済期限</th>
      <th class="search1">入金日</th>
    </tr>
    <% @dmers.find_each do |dmer| %>
    <tr class="index-tr">
      <td class="index-td"><%= link_to "詳細",  dmer_path(dmer.id) ,class: "link" %></td>
      <td class="index-td"><%= dmer.get_date.month %>月<%= dmer.get_date.day %>日</td>
      <td class="index-td"><%= dmer.store_prop.race %></td>
      <% if dmer.store_prop.head_store.nil? %>
        <td class="index-td"></td>
      <% elsif dmer.store_prop.head_store == dmer.store_prop.name %>
        <td class="index-td">複数店本店</td>
      <% else %>
        <td class="index-td">複数店(<%= dmer.store_prop.head_store %>)</td>
      <% end %>
      <td class="index-td"><%= dmer.store_prop.name %></td>
      <td class="index-td"><%= dmer.user.name %></td>
      <td class="index-td"><%= dmer.status %></td>
      <% if dmer.settlement.nil? %>
      <td class="index-td"></td>
      <% else %>
      <td class="index-td"><%= dmer.settlement %></td>
      <% end %>
      <td class="index-td"><%= dmer.settlement_deadline %></td>
      <td class="index-td"><%= dmer.payment %></td>

    </tr>
    <% end %>
    </table>
  <% end %>
</div>