<div data-scope-path="dmers/show">
    <h1 >dメル詳細</h1>
<%= render "shared/header" %>


    <table >
    <tr>
      <th colspan="4">店舗情報</th>
    </tr>
    <tr>
    <th >店舗名</th>
    <td ><%= @dmer.store_prop.name %></td>
    <th >属性</th>
    <td ><%= @dmer.store_prop.race %></td>
    </tr>
    <th >業種</th>
    <td ><%= @dmer.store_prop.industry %></td>
    <th>本店名</th>
    <td ><%= @dmer.store_prop.head_store %></td>
    <tr >
    </tr>
    <tr >
    <th >店舗代表</th>
    <td ><%= @dmer.store_prop.person_main_name %></td>
    <th >店舗担当</th>
    <td ><%= @dmer.store_prop.person_sub_name %></td>
    </tr>
    <tr >
    <th >店舗住所</th>
    <td colspan="3"><%= @dmer.store_prop.prefecture %><%= @dmer.store_prop.city %><%= @dmer.store_prop.municipalities %><%= @dmer.store_prop.address %><%= @dmer.store_prop.building_name %></td>
    </table>
    <h1 >連絡先</h1>
    <table >
    <tr>
    <th >電話番号1</th>
    <td ><%= @dmer.store_prop.phone_number_1 %></td>
    <th >電話番号2</th>
    <td ><%= @dmer.store_prop.phone_number_2 %></td>
    </tr>
    <tr >
    <th >メールアドレス１</th>
      <td ><%= @dmer.store_prop.mail_1 %></td>
    <th >メールアドレス２</th>
      <td ><%= @dmer.store_prop.mail_2 %></td>
    </tr>
    <tr >
    <th >好適時間</th>
    <td ><%= @dmer.store_prop.suitable_time %></td>
    <th >定休日</th>
    <td ><%= @dmer.store_prop.holiday %></td>
    </tr>
    <tr >
    <th >備考</th>
    <td colspan="2"><%= @dmer.store_prop.description %></td>
    <td ><%= link_to "編集", edit_store_prop_path(@dmer.store_prop.id), class: "link" %></td>
    </tr>
    </table>
    <h1 >dメル詳細情報</h1>
      
    <table >
    <tr >
    <th >獲得日</th>
      <td ><%= @dmer.date %></td>
      <th >獲得者</th>
      <td ><%= @dmer.user.name %></td>
    </tr>

    <tr >
      <th >管理番号</th>
      <td ><%= @dmer.customer_num %></td>
      <th >商流</th>
      <td ><%= @dmer.client %></td>
    </tr>

    <tr >
      <th >審査ステータス</th>
      <td ><%= @dmer.status %></td>
      <th >審査ステータス更新日</th>
      <td ><%= @dmer.status_update %></td>
    </tr>
  </table>
  <h1>決済情報</h1>
  <table>
    <tr>
      <th >初回決済日</th>
      <td ><%= @dmer.settlement %></td>
      <th >決済者</th>
      <td ><%= @dmer.settlementer.name rescue "" %></td>
    </tr>

    <tr >
      <th >決済期限</th>
      <td ><%= @dmer.settlement_deadline %></td>
      <th colspan="2"></th>
    </tr>
    <tr>
      <th>決済審査ステータス</th>
      <td ><%= @dmer.status_settlement %></td>
      <th>決済審査ステータス更新日</th>
      <td ><%= @dmer.status_update_settlement %></td>
    </tr>

    <tr >
      <th >備考</th>
      <td colspan="2"><%= @dmer.description %></td>
    <td >
      <%= link_to "dメル情報編集", edit_dmer_path, class: "link" %>
    </td>
    </tr>
  </table>
  <h1>利益/入金日</h1>
  <table>
    <tr>
      <th >獲得入金日</th>
      <td ><%= @dmer.payment %></td>
      <th >決済入金日</th>
      <td ><%= @dmer.payment_settlement %></td>
    </tr>
    <tr >
      <th >評価売上（新規）</th>
      <td ><%= @dmer.valuation_new %></td>
      <th >評価売上（決済）</th>
      <td ><%= @dmer.valuation_settlement %></td>
    </tr>

    <tr >
      <th >実売上（新規）</th>
      <td ><%= @dmer.profit_new %></td>
      <th >実売上（決済）</th>
      <td ><%= @dmer.profit_settlement %></td>
    </tr>
    </table>
  </main>
</div>

