<div data-scope-path="shared/header">
  <h1>シフト一覧</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
<div data-scope-path="shared/side_bar">
  <%= render "shared/sidebar" %>
</div>
<div data-scope-path="shifts/index">
  <p class="shift-alert"><%= notice %></p>
    <div class="cal-form">
    <%= form_for :shift, url: update_month_shifts_path , html: { method: :post } do %>
      <h2><%= @user.name %>予定シフト (<%= link_to "全体シフトへ移動", cashless_shifts_path, class:"link" %>)</h2>
      <p class="text">チェックボックスにレ点をつけてから下のシフトを選択することで一括入力ができるようになっています。</p>
      <div class="slct-form">
      <input type="button" id="check-all" class="check-btn"  value="全選択">
      <input type="button" id="uncheck-all" class="uncheck-btn" value="解除" >
      <select id="shift-select" class="shift-slct">
        <option value="">シフトを選択</option>
        <option value="キャッシュレス新規">キャッシュレス新規</option>
        <option value="キャッシュレス決済">キャッシュレス決済</option>
        <option value="帯同">帯同</option>
        <option value="内勤">内勤</option>
        <option value="休み">休み</option>
      </select>
    </div>
    

    <%# カレンダー部分 %>
      <% cnt = 0 %>
      <div class="scroll-form">
      <%= month_calendar do |date| %>
        <input name="shift-check" type="checkbox" , class="shiftcheckbox">
        <%= date.day %><br>
        <% shift = @current_shifts.find_or_initialize_by(start_time: date) %>
        <% if shift.id.nil? %>
        <%= hidden_field_tag "shift[#{date}][start_time]", date %>
        <%= hidden_field_tag "shift[#{date}][user_id]", @user.id %>
        <%= select "shift[#{date}]", :shift,
          [ ["新規", "キャッシュレス新規"],
          ["決済", "キャッシュレス決済"],
          ["帯同", "帯同"],
          ["内勤", "内勤"],
          ["休み", "休み"],
          ["欠勤", "欠勤"] ] , {:prompt => "選択してください"}, {:class => "input",:id => "shift-set#{cnt}"} %>
        <% cnt += 1 %>
        <% else %>
          <%= fields_for "shift[]", shift do |s| %>
            <%= s.hidden_field :start_time %>
            <%= s.hidden_field :user_id, value: @user.id %>
            <%# s.text_field :shift, {:class => "input",:id => "shift-set#{cnt}"} %>
            <%= s.select :shift, 
              { "新規": "キャッシュレス新規",
              "決済": "キャッシュレス決済",
              "帯同": "帯同",
              "内勤": "内勤",
              "休み": "休み",
              "欠勤": "欠勤" }, {prompt: "選択"}, {class: "input",:id => "shift-set#{cnt}"} %>
            <% cnt += 1 %>
          <% end %>
        <% end %>
      <% end %>
      <%= submit_tag "登録",class: "submit-btn" %>
    <% end %>
    </div>
    <div class="shift-form">
    <h2>全シフト検索</h2>
    <%= search_form_for @q do |f| %>
      <table >
        <tr >
          <th class="form-th">日付</th>
          <th class="form-th">日付範囲（始）</th>
          <th class="form-th">日付範囲（終）</th>
        </tr>
        <tr>
        <td class="form-td"><%= f.date_field :start_time_eq, class: "input" %></td>
        <td class="form-td"><%= f.date_field :start_time_gteq, class: "input" %></td>
        <td class="form-td"><%= f.date_field :start_time_lt, class: "input" %></td>

        </tr>
        <tr>
          <th class="form-th">ユーザー名</th>
          <th class="form-th">拠点</th>
        </tr>
        <tr>
          <td class="form-td"><%= f.text_field :user_name_cont, class: "input" %></td>
          <td class="form-td">
            <%= f.select :user_base_cont,
              { "中部": "中部","関東": "関東","関西": "関西","2次店": "2次店"},
              {include_blank: true},class: "input" %>
          </td>
        </tr>
      </table>
    <div style="display: flex;">
        <%= f.submit "絞込み", class: "submit-btn" %>
        <button class="reset-btn"><%= link_to "リセット", shifts_path, class:"reset-link" %></button>
    </div>
    <% end %>
  <% if @shifts.empty? %>
  <% else %>
<%# シフト一覧 %>
  <% days = ["日", "月", "火", "水", "木", "金", "土"] %>
  <div style="padding:15px;">
    <h1>
      予定シフト（稼働訪問員<%= @shifts.group(:user_id).length %>人）
      表示範囲：
      <%= @shifts.minimum(:start_time).to_date %>（<%= days[@shifts.minimum(:start_time).wday] %>）〜<%= @shifts.maximum(:start_time).to_date %>（<%= days[@shifts.maximum(:start_time).wday] %>）
    </h1>
    <div class="scroll-form">
      <table class="shift-tb">
        <tr>
        </tr>
        <tr>
          <th>ユーザー名</th>
          <th>拠点</th>
          <th>新規</th>
          <th>決済</th>
          <th>帯同</th>
          <th>内勤</th>
          <th>休み</th>
          <th>欠勤</th>
          <th>合計</th>
          <th>シフト変更</th>
        </tr>
        <% not_shift_cnt = 0 %>
      <% @result_list.group(:user_id).each do |r| %>
        <% if (@shifts.exists?(user_id: r.user_id)) %>
        <% else %>
            <% if not_shift_cnt == 0 %>
            <p>シフト未申請者一覧</p>
            <% end %>
            <% not_shift_cnt += 1%>
            <p><%= link_to r.user.name,shift_path(r.user.id), class: "link" %></p>
        <% end %>
      <% end %>
    <% @shifts.group(:user_id).each do |shift| %>

      <%# 変数 %>
        <%# 予定シフト %>
          <% 
            cash_new_p = 
              @shifts.where(user_id: shift.user.id)
              .where(shift: "キャッシュレス新規").length
          %>
          <%
            cash_slmt_p = @shifts.where(user_id: shift.user.id).where(shift: "キャッシュレス決済").length
          %>
        <%# 消化シフト %>
          <%
            cash_new_d = 
              @results.where(user_id: shift.user.id)
            .where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time))
            .where(shift: "キャッシュレス新規").length 
          %>
          <%
            cash_slmt_d = @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "キャッシュレス決済").length
          %>
          <%
            femto_new_d = 
              @results.where(user_id: shift.user.id)
              .where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time))
              .where(shift: "楽天フェムト新規").length
          %>
        <tr>
        <% if 
          cash_new_p !=  cash_new_d ||
          cash_slmt_p != cash_slmt_d 
        %>
          <td rowspan="2" style="vertical-align:middle; background:red; color:white;" ><%= link_to shift.user.name, shift_path(shift.user.id),class: "show-link" %></td>
        <% else %>
          <td rowspan="2" style="vertical-align:middle; " ><%= link_to shift.user.name, shift_path(shift.user.id),class: "link" %></td>
        <% end %>
          <td><%= shift.user.base %></td>
          <td><%= cash_new_p %></td>
          <td><%= cash_slmt_p %></td>
          <td><%= @shifts.where(user_id: shift.user.id).where(shift: "帯同").length %></td>
          <td><%= @shifts.where(user_id: shift.user.id).where(shift: "内勤").length %></td>
          <td><%= @shifts.where(user_id: shift.user.id).where(shift: "休み").length %></td>
          <td><%= @shifts.where(user_id: shift.user.id).where(shift: "欠勤").length %></td>
          <td><%= 
            shift_sum =
              @shifts.where(user_id: shift.user.id).where(shift: "キャッシュレス新規").length +
              @shifts.where(user_id: shift.user.id).where(shift: "キャッシュレス決済").length +
              @shifts.where(user_id: shift.user.id).where(shift: "帯同").length +
              @shifts.where(user_id: shift.user.id).where(shift: "内勤").length +
              @shifts.where(user_id: shift.user.id).where(shift: "休み").length +
              @shifts.where(user_id: shift.user.id).where(shift: "欠勤").length 
          %></td>
          <% if shift_sum == 1 %>
          <td rowspan="2" style="vertical-align: middle;"><%= link_to "編集",edit_shift_path(shift.id),class: "link" %></td>
          <% else %>
          <td rowspan="2"></td>
          <% end %>
        </tr>
        <tr>
          <td>消化シフト</td>
          <td ><%= cash_new_d %></td>
          <td ><%= cash_slmt_d %></td>
          <td ><%= @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "帯同").length %></td>
          <td ><%= @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "内勤").length %></td>
          <td ><%= @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "休み").length %></td>
          <td ><%= @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "欠勤").length %></td>
          <td><%=  
              @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "キャッシュレス新規").length +
              @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "キャッシュレス決済").length +
              @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "帯同").length +
              @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "内勤").length +
              @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "休み").length +
              @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "欠勤").length 
            %></td>
        </tr>
    <% end %>
      </table>
      </div>
  <% end %>
  </div>
</div>