<div data-scope-path="shifts/index">
  <h1>シフト一覧</h1>
  <%= render "shared/header" %>
    <table>
          <td class="reg"><%= link_to "シフト申請", new_shift_path, class: "reg-link" %></td>
    </table>
        <%= search_form_for @q do |f| %>
          <table>
          <tr>
          <th class="search1">日付</th>
          <td><%= f.select :year_eq, options_from_collection_for_select(Shift.select(:year).distinct, :year, :year), {} ,{class: "input"} %></td>
          <td><%= f.select :month_eq, options_from_collection_for_select(Shift.select(:month).distinct, :month, :month),{}, {class: "input"} %></td>
          </tr>
          <tr>
          <th class="search1">チーム</th>
          <th class="search1">拠点①</th>
          <th class="search1">拠点②</th>
          <th class="search1">ステータス</th>
          <td class="result"><%= f.submit "絞込み", class: "result-btn" %></td>
          </tr>
          <tr>
          <td><%= f.select :user_team_eq, options_from_collection_for_select(User.select(:team).distinct, :team, :team), {include_blank: true} ,{class: "input"} %></td>
          <td><%= f.select :user_base_eq, options_from_collection_for_select(User.select(:base).distinct, :base, :base), {include_blank: true} ,{class: "input"} %></td>
          <td><%= f.select :user_base_sub_eq, options_from_collection_for_select(User.select(:base_sub).distinct, :base_sub, :base_sub), {include_blank: true} ,{class: "input"} %></td>
          <td><%= f.select :user_base_sub_eq, options_from_collection_for_select(User.where.not(position: "退職").select(:position).distinct, :position, :position), {include_blank: true} ,{class: "input"} %></td>
          <td class="reset"><%= link_to "絞込みリセット", shifts_path ,class: "reset-link" %></td>
          </tr>
          </table>
        <% end %>
    <hr>  
  <% if @shifts.empty? %>
  <% else %>
    <h1>表示範囲：<%= @shifts.minimum(:year) %>年<%= @shifts.minimum(:month) %>月</h1>

    <%# 中部SS %>
      <% chubu_ss = @shifts.includes(:user).where(users: {base: "中部SS"}) %>
      <% if chubu_ss.empty? %>
      <% else %>
      <h1>中部SSシフト申請<%= chubu_ss.group(:user_id).length %>/<%= @users.where(base: "中部SS").length %>人</h2>
      <table>
        <tr>
          <th colspan="2"></th>
          <th></th>
          <th></th>
          <th>キャッシュレス新規</th>
          <th>キャッシュレス決済</th>
          <th>サミット</th>
          <th>パンダ</th>
          <th>ぷらねす</th>
          <th>楽天カーサ</th>
          <th>楽天カーサ（設置）</th>
          <th>内勤</th>
          <th>帯同</th>
          <th>合計</th>
        </tr>
        <% chubu_ss.find_each do |s| %>
        <tr>
          <th rowspan="2"><%= s.user.name %></th>
          <th>申請シフト</th>
          <td><%= link_to "シフト削除", shift_path(s.id), method: :delete, data: {confirm: "削除しますか？"} ,class: "link" %>  </td>
          <td><%= link_to "シフト変更", edit_shift_path(s.id), class: "link" %></td>
          <td><%= s.cashless_new %></td>
          <td><%= s.cashless_settlement %></td>
          <td><%= s.summit %></td>
          <td><%= s.panda %></td>
          <td><%= s.praness %></td>
          <td><%= s.rakuten_casa %></td>
          <td><%= s.rakuten_casa_put %></td>
          <td><%= s.house_work %></td>
          <td><%= s.ojt %></td>
          <td><%= s.n + s.cashless_new + s.cashless_settlement + s.summit + s.panda + s.praness + s.rakuten_casa + s.rakuten_casa_put + s.house_work + s.ojt %></td>
          <% new_shift = 0 %>
          <% settlement_shift = 0 %>
          <% summit_shift = 0 %>
          <% panda_shift = 0 %>
          <% praness_shift = 0 %>
          <% rakuten_casa_shift = 0 %>
          <% rakuten_casa_put_shift = 0 %>
          <% ojt_shift = 0 %>
          <% house_work_shift = 0 %>
        <% @results.each do |r| %>  
          <% if s.year == r.date.year && s.month == r.date.month && s.user_id == r.user_id %>
            <% if r.shift == "キャッシュレス新規" %>
              <% new_shift += 1 %>
            <% elsif r.shift == "キャッシュレス決済" %>
              <% settlement_shift += 1 %>
            <% elsif r.shift == "サミット" %>
              <% summit_shift += 1 %>
            <% elsif r.shift == "パンダ" %>
              <% panda_shift += 1 %>
            <% elsif r.shift == "ぷらねす" %>
              <% praness_shift += 1 %>
            <% elsif r.shift == "楽天カーサ" %>
              <% rakuten_casa_shift += 1 %>
            <% elsif r.shift == "楽天カーサ（設置）" %>
              <% rakuten_casa_put_shift += 1 %>
            <% elsif r.shift == "帯同" %>
              <% ojt_shift += 1 %>
            <% elsif r.shift == "内勤" %>
              <% house_work_shift += 1 %>
            <% end %>
          <% end %>
        <% end %>
          <% sum_shift = new_shift + settlement_shift + summit_shift + panda_shift + praness_shift + rakuten_casa_shift + rakuten_casa_put_shift %>
        <tr>
          <th>消化シフト</th>
          <td></td>
          <td></td>
          <td><%= new_shift %></td>
          <td><%= settlement_shift %></td>
          <td><%= summit_shift %></td>
          <td><%= praness_shift %></td>
          <td><%= panda_shift %></td>
          <td><%= rakuten_casa_shift %></td>
          <td><%= rakuten_casa_put_shift %></td>
          <td><%= house_work_shift %></td>
          <td><%= ojt_shift %></td>
          <td><%= sum_shift %></td>

        <% end %>
        </tr>
      </table>
      <% end %>
    <%# 関西SS %>
      <% kansai_ss = @shifts.includes(:user).where(users: {base: "関西SS"}) %>
      <% if kansai_ss.empty? %>
      <% else %>
      <h1>関西SSシフト申請<%= kansai_ss.group(:user_id).length %>/<%= @users.where(base: "関西SS").length %>人</h1>

      
      
      
      <table>
        <tr>
          <th colspan="2"></th>
          <th></th>
          <th></th>
          <th>キャッシュレス新規</th>
          <th>キャッシュレス決済</th>
          <th>サミット</th>
          <th>パンダ</th>
          <th>ぷらねす</th>
          <th>楽天カーサ</th>
          <th>内勤</th>
          <th>帯同</th>
          <th>合計</th>
        </tr>
      <% kansai_ss.find_each do |s| %>
        <tr>
          <th rowspan="2"><%= s.user.name %></th>
          <th>申請シフト</th>
          <td><%= link_to "シフト削除", shift_path(s.id), method: :delete, data: {confirm: "削除しますか？"} ,class: "link" %></td>
          <td><%= link_to "シフト変更", edit_shift_path(s.id), class: "link" %></td>
          <td><%= s.cashless_new %></td>
          <td><%= s.cashless_settlement %></td>
          <td><%= s.summit %></td>
          <td><%= s.panda %></td>
          <td><%= s.praness %></td>
          <td><%= s.rakuten_casa %></td>
          <td><%= s.house_work %></td>
          <td><%= s.ojt %></td>
          <td><%= s.n + s.cashless_new + s.cashless_settlement + s.summit + s.panda + s.praness + s.rakuten_casa + s.rakuten_casa_put + s.house_work + s.ojt %></td>
        </tr>
          <% new_shift = 0 %>
          <% settlement_shift = 0 %>
          <% summit_shift = 0 %>
          <% panda_shift = 0 %>
          <% praness_shift = 0 %>
          <% rakuten_casa_shift = 0 %>
          <% rakuten_casa_put_shift = 0 %>
        <% @results.each do |r| %>  
          <% if s.year == r.date.year && s.month == r.date.month && s.user_id == r.user_id %>
            <% if r.shift == "キャッシュレス新規" %>
              <% new_shift += 1 %>
            <% elsif r.shift == "キャッシュレス決済" %>
              <% settlement_shift += 1 %>
            <% elsif r.shift == "サミット" %>
              <% summit_shift += 1 %>
            <% elsif r.shift == "パンダ" %>
              <% panda_shift += 1 %>
            <% elsif r.shift == "ぷらねす" %>
              <% praness_shift += 1 %>
            <% elsif r.shift == "楽天カーサ" %>
              <% rakuten_casa_shift += 1 %>
            <% elsif r.shift == "楽天カーサ（設置）" %>
              <% rakuten_casa_put_shift += 1 %>
            <% end %>
          <% end %>
        <% end %>
          <% sum_shift = new_shift + settlement_shift + summit_shift + panda_shift + praness_shift + rakuten_casa_shift + rakuten_casa_put_shift %>
        <tr>
          <th>消化シフト</th>
          <td></td>
          <td></td>
          <td><%= new_shift %></td>
          <td><%= settlement_shift %></td>
          <td><%= summit_shift %></td>
          <td><%= praness_shift %></td>
          <td><%= panda_shift %></td>
          <td><%= rakuten_casa_shift %></td>
          <td></td>
          <td></td>
          <td><%= sum_shift %></td>

        <% end %>
        </tr>
      </table>
      <% end %>
    <%# 東京SS %>
      <% tokyo_ss = @shifts.includes(:user).where(users: {base: "関東SS"}) %>
      <% if tokyo_ss.empty? %>
      <% else %>
      <h1>東京SSシフト申請<%= tokyo_ss.group(:user_id).length %>/<%= @users.where(base: "関西SS").length %>人</h1>
      <% tokyo_ss.find_each do |s| %>
      
      
      
      <table>
        <tr>
          <th colspan="2"></th>
          <th></th>
          <th></th>
          <th>キャッシュレス新規</th>
          <th>キャッシュレス決済</th>
          <th>サミット</th>
          <th>パンダ</th>
          <th>ぷらねす</th>
          <th>楽天カーサ</th>
          <th>内勤</th>
          <th>帯同</th>
          <th>合計</th>
        </tr>
        <tr>
          <th rowspan="2"><%= s.user.name %></th>
          <th>申請シフト</th>
          <td><%= link_to "シフト削除", shift_path(s.id), method: :delete, data: {confirm: "削除しますか？"} ,class: "link" %></td>
          <td><%= link_to "シフト変更", edit_shift_path(s.id), class: "link" %></td>
          <td><%= s.cashless_new %></td>
          <td><%= s.cashless_settlement %></td>
          <td><%= s.summit %></td>
          <td><%= s.panda %></td>
          <td><%= s.praness %></td>
          <td><%= s.rakuten_casa %></td>
          <td><%= s.house_work %></td>
          <td><%= s.ojt %></td>
          <td><%= s.n + s.cashless_new + s.cashless_settlement + s.summit + s.panda + s.praness + s.rakuten_casa + s.house_work + s.ojt %></td>
        </tr>
          <% new_shift = 0 %>
          <% settlement_shift = 0 %>
          <% summit_shift = 0 %>
          <% panda_shift = 0 %>
          <% praness_shift = 0 %>
          <% rakuten_casa_shift = 0 %>
        <% @results.each do |r| %>  
          <% if s.year == r.date.year && s.month == r.date.month && s.user_id == r.user_id %>
            <% if r.shift == "キャッシュレス新規" %>
              <% new_shift += 1 %>
            <% elsif r.shift == "キャッシュレス決済" %>
              <% settlement_shift += 1 %>
            <% elsif r.shift == "サミット" %>
              <% summit_shift += 1 %>
            <% elsif r.shift == "パンダ" %>
              <% panda_shift += 1 %>
            <% elsif r.shift == "ぷらねす" %>
              <% praness_shift += 1 %>
            <% elsif r.shift == "楽天カーサ" %>
              <% rakuten_casa_shift += 1 %>
            <% end %>
          <% end %>
        <% end %>
          <% sum_shift = new_shift + settlement_shift + summit_shift + panda_shift + praness_shift + rakuten_casa_shift %>
        <tr>
          <th>消化シフト</th>
          <td></td>
          <td></td>
          <td><%= new_shift %></td>
          <td><%= settlement_shift %></td>
          <td><%= summit_shift %></td>
          <td><%= praness_shift %></td>
          <td><%= panda_shift %></td>
          <td><%= rakuten_casa_shift %></td>
          <td></td>
          <td></td>
          <td><%= sum_shift %></td>
        </tr> 
      </table>
        <% end %>
      <% end %>
    <%# 中部N %>
      <% chubu_n = @shifts.includes(:user).where(users: {base: "中部N"}) %>
      <% if chubu_n.empty? %>
      <% else %>
      <h1>中部Nシフト申請<%= chubu_n.group(:user_id).length %>/<%= @users.where(base: "中部N").length %>人</h1>
      <% chubu_n.find_each do |s| %>
      <table>
        <tr>
          <th colspan="2"></th>
          <th></th>
          <th></th>
          <th>対策</th>
          <th>内勤</th>
          <th>帯同</th>
          <th>合計</th>
        </tr>
        <tr>
          <th rowspan="2"><%= s.user.name %></th>
          <th>申請シフト</th>
          <td><%= link_to "シフト削除", shift_path(s.id), method: :delete, data: {confirm: "削除しますか？"} ,class: "link" %></td>
          <td><%= link_to "シフト変更", edit_shift_path(s.id), class: "link" %></td>
          <td><%= s.n %></td>
          <td><%= s.house_work %></td>
          <td><%= s.ojt %></td>
          <td><%= s.n + s.cashless_new + s.cashless_settlement + s.summit + s.panda + s.praness + s.rakuten_casa + s.house_work + s.ojt %></td>
        </tr>
          <% n_shift = 0 %>
        <% @n_results.each do |n| %>  
          <% if s.year == n.date.year && s.month == n.date.month && s.user_id == n.user_id %>
            <% if r.ojt != "郵送" %>
              <% n_shift += 1 %>
            <% end %>
          <% end %>
        <% end %>
        <tr>
          <th>消化シフト</th>
          <td></td>
          <td></td>
          <td><%= n_shift %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr> 
      </table>
        <% end %>
      <% end %>
    <%# 関西N %>
      <% kansai_n = @shifts.includes(:user).where(users: {base: "関西N"}) %>
      <% if kansai_n.empty? %>
      <% else %>
      <h1>関西Nシフト申請<%= kansai_n.group(:user_id).length %>/<%= @users.where(base: "関西N").length %>人</h1>
      <% kansai_n.find_each do |s| %>
      
      
      
      <table>
        <tr>
          <th colspan="2"></th>
          <th></th>
          <th></th>
          <th>対策</th>
          <th>内勤</th>
          <th>帯同</th>
          <th>合計</th>
        </tr>
        <tr>
          <th rowspan="2"><%= s.user.name %></th>
          <td><%= link_to "シフト削除", shift_path(s.id), method: :delete, data: {confirm: "削除しますか？"} ,class: "link" %></td>
          <td><%= link_to "シフト変更", edit_shift_path(s.id), class: "link" %></td>
          <td><%= s.n %></td>
          <td><%= s.house_work %></td>
          <td><%= s.ojt %></td>
          <td><%= s.n + s.cashless_new + s.cashless_settlement + s.summit + s.panda + s.praness + s.rakuten_casa + s.house_work + s.ojt %></td>
        </tr>
      </table>
        <% end %>
      <% end %>
    <% end %>
  </main>
</div>