<div data-scope-path="shifts/index">
  <h1>シフト一覧</h1>
  <%= render "shared/header" %>
  <p class="shift-alert"><%= notice %></p>

    <div class="cal-form">
    <%= form_for :shift, url: update_month_shifts_path , html: { method: :post } do %>
      <h2><%= current_user.name %>予定シフト</h2>
      <div class="slct-form">
      <input type="button" id="check-all" class="check-btn"  value="全選択">
      <input type="button" id="uncheck-all" class="uncheck-btn" value="選択解除" >
      <select id="shift-select" class="shift-slct">
        <option value="">シフトを選択してください</option>
        <option value="キャッシュレス新規">キャッシュレス新規</option>
        <option value="キャッシュレス決済">キャッシュレス決済</option>
        <option value="楽天フェムト設置">楽天フェムト設置</option>
        <option value="サミット">サミット</option>
        <option value="帯同">帯同</option>
        <option value="内勤">内勤</option>
        <option value="休み">休み</option>
      </select>
      </div>
      <% cnt = 0 %>
      <%= month_calendar do |date| %>
        <input name="shift-check" type="checkbox" , class="shiftcheckbox">
        <%= date.day %><br>
        <% shift = @current_shifts.find_or_initialize_by(start_time: date) %>
        <% if shift.id.nil? %>
        <%= hidden_field_tag "shift[#{date}][start_time]", date %>
        <%= hidden_field_tag "shift[#{date}][user_id]", current_user.id %>
        <%# text_field_tag "shift[#{date}][shift]", {},{:class => "input", :id => "shift-set#{cnt}" } %>
        <%= select "shift[#{date}]", :shift,
          [ ["キャッシュレス新規", "キャッシュレス新規"],
          ["キャッシュレス決済", "キャッシュレス決済"],
          ["楽天フェムト新規", "楽天フェムト新規"],
          ["楽天フェムト設置", "楽天フェムト設置"],
          ["サミット", "サミット"],
          ["帯同", "帯同"],
          ["内勤", "内勤"],
          ["休み", "休み"],
          ["欠勤", "欠勤"] ] , {:prompt => "選択してください"}, {:class => "input",:id => "shift-set#{cnt}"} %>
        <% cnt += 1 %>
        <% else %>
          <%= fields_for "shift[]", shift do |s| %>
            <%= s.hidden_field :start_time %>
            <%# s.text_field :shift, {:class => "input",:id => "shift-set#{cnt}"} %>
            <%= s.select :shift, 
              { "キャッシュレス新規": "キャッシュレス新規",
              "キャッシュレス決済": "キャッシュレス決済",
              "楽天フェムト新規": "楽天フェムト新規",
              "楽天フェムト設置": "楽天フェムト設置",
              "サミット": "サミット",
              "帯同": "帯同",
              "内勤": "内勤",
              "休み": "休み",
              "欠勤": "欠勤" }, {prompt: "選択してください"}, {class: "input",:id => "shift-set#{cnt}"} %>
            <% cnt += 1 %>
          <% end %>
        <% end %>
      <% end %>
      <%= submit_tag "一括登録",class: "submit-btn" %>
    <% end %>
    </div>
    <div class="shift-form">
    <h2>全シフト検索</h2>
    <%= search_form_for @q do |f| %>
      <table  class="shift-table">
        <tr >
          <th class="form-th">日付</th>
          <th class="form-th">日付範囲（始）</th>
          <th class="form-th">日付範囲（終）</th>
          <th class="form-th">ユーザー名</th>
          <th class="form-th">拠点</th>
          <th class="form-th">担当商材</th>
        </tr>
        <tr>
        <td class="form-td"><%= f.date_field :start_time_eq, class: "input" %></td>
        <td class="form-td"><%= f.date_field :start_time_gteq, class: "input" %></td>
        <td class="form-td"><%= f.date_field :start_time_lt, class: "input" %></td>
        <td class="form-td"><%= f.text_field :user_name_cont, class: "input" %></td>
        <td class="form-td">
          <%= f.select :user_base_cont,
            { "中部": "中部","関東": "関東","関西": "関西"},
            {include_blank: true},class: "input" %>
        </td>
        <td class="form-td">
          <%= f.select :user_base_sub_cont,
            { "キャッシュレス": "キャッシュレス","フェムト": "フェムト","サミット": "サミット"},
            {include_blank: true},class: "input" %>
        </td>
        </tr>
      </table>
    <div style="display: flex;">
        <%= f.submit "絞込み", class: "submit-btn" %>
        <button class="reset-btn"><%= link_to "リセット", shifts_path, class:"reset-link" %></button>
    </div>
    <% end %>
  <% if @shifts.empty? %>
  <% else %>
<%# シフト一覧 %>
  <% days = ["日", "月", "火", "水", "木", "金", "土"] %>
  <div style="padding:15px;">
    <h1>
      予定シフト（稼働訪問員<%= @shifts.group(:user_id).length %>人）
      表示範囲：
      <%= @shifts.minimum(:start_time).to_date %>（<%= days[@shifts.minimum(:start_time).wday] %>）〜<%= @shifts.maximum(:start_time).to_date %>（<%= days[@shifts.maximum(:start_time).wday] %>）
    </h1>
      <table>
        <tr>
        </tr>
        <tr>
          <th>ユーザー名</th>
          <th>拠点</th>
          <th>キャッシュレス新規</th>
          <th>キャッシュレス決済</th>
          <th>楽天フェムト新規</th>
          <th>楽天フェムト設置</th>
          <th>サミット</th>
          <th>帯同</th>
          <th>内勤</th>
          <th>休み</th>
          <th>欠勤</th>
          <th>合計</th>
        </tr>
    <% @shifts.group(:user_id).each do |shift| %>
        <tr>
          <td rowspan="2" style="vertical-align:middle;"><%= shift.user.name %></td>
          <td><%= shift.user.base %></td>
          <td><%= @shifts.where(user_id: shift.user.id).where(shift: "キャッシュレス新規").length %></td>
          <td><%= @shifts.where(user_id: shift.user.id).where(shift: "キャッシュレス決済").length %></td>
          <td><%= @shifts.where(user_id: shift.user.id).where(shift: "楽天フェムト新規").length %></td>
          <td><%= @shifts.where(user_id: shift.user.id).where(shift: "楽天フェムト設置").length %></td>
          <td><%= @shifts.where(user_id: shift.user.id).where(shift: "サミット").length %></td>
          <td><%= @shifts.where(user_id: shift.user.id).where(shift: "帯同").length %></td>
          <td><%= @shifts.where(user_id: shift.user.id).where(shift: "内勤").length %></td>
          <td><%= @shifts.where(user_id: shift.user.id).where(shift: "休み").length %></td>
          <td><%= @shifts.where(user_id: shift.user.id).where(shift: "欠勤").length %></td>
          <td><%= @shifts.where(user_id: shift.user.id).where(shift: "キャッシュレス新規").length +
                  @shifts.where(user_id: shift.user.id).where(shift: "キャッシュレス決済").length +
                  @shifts.where(user_id: shift.user.id).where(shift: "楽天フェムト新規").length +
                  @shifts.where(user_id: shift.user.id).where(shift: "楽天フェムト設置").length +
                  @shifts.where(user_id: shift.user.id).where(shift: "サミット").length +
                  @shifts.where(user_id: shift.user.id).where(shift: "帯同").length +
                  @shifts.where(user_id: shift.user.id).where(shift: "内勤").length +
                  @shifts.where(user_id: shift.user.id).where(shift: "休み").length +
                  @shifts.where(user_id: shift.user.id).where(shift: "欠勤").length %></td>
        </tr>
        <tr>
          <td>消化シフト</td>
          <td ><%= @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "キャッシュレス新規").length %></td>
          <td ><%= @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "キャッシュレス決済").length %></td>
          <td ><%= @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "楽天フェムト新規").length %></td>
          <td ><%= @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "楽天フェムト設置").length %></td>
          <td ><%= @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "サミット").length %></td>
          <td ><%= @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "帯同").length %></td>
          <td ><%= @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "内勤").length %></td>
          <td ><%= @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "休み").length %></td>
          <td ><%= @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "欠勤").length %></td>
          <td><%= @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "キャッシュレス新規").length +
                  @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "キャッシュレス決済").length +
                  @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "楽天フェムト新規").length +
                  @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "楽天フェムト設置").length +
                  @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "サミット").length +
                  @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "帯同").length +
                  @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "内勤").length +
                  @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "休み").length +
                  @results.where(user_id: shift.user.id).where(date:@shifts.minimum(:start_time)..@shifts.maximum(:start_time)).where(shift: "欠勤").length %></td>
        </tr>
    <% end %>
      </table>
  <% end %>
  </div>
</div>