<div data-scope-path="shared/header">
  <h1>目標獲得数入力</h1>
  <%= render "shared/header" %>
</div>

<div style="display:flex;">
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div data-scope-path="shared/form">
  <div class="form-main">
  <%= form_with model: @product_target, local: true do |f|%>
  <%= alert %>
    <div class="form-title">
    <div class="form">
        <p><%= f.label :date, "日付", class: "form-text" %><span class="form-caution">※日付は月初を指定してください</span></p>
        <p><%= f.date_field :date ,class: "date-input" %></p>
    </div>
    <div class="form">
        <p><%= f.label :base, "拠点", class: "form-text" %></p>
        <p><%= f.select :base, {"中部SS": "中部SS","関西SS": "関西SS", "関東SS": "関東SS"},{include_blank: true}, {class: "slct-input"} %></p>
    </div>
    <div class="form">
        <p><%= f.label :product_len, "目標獲得数", class: "form-text" %></p>
        <p><%= f.number_field :product_len ,class: "input", min: 0 %></p>
    </div>
    </div>
  <div class="form-submit">
    <%= f.submit "登録", class: "submit-btn",data: { confirm: "登録してもよろしいですか？" }  %>
  </div>

  <% end %>
  </div>
  </div>
</div>