<div data-scope-path="shared/header">
  <h1>キャッシュレス切り返し</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
<div data-scope-path="shared/side_bar">
  <%= render "shared/sidebar" %>
</div>
<div data-scope-path="results/new">
  <%= form_with model: @result_cash,url: result_result_cashes_create_path(@result.id), local: true, class: "form-frame", local: true do |f| %>
    <%= render "shared/error_messages", model: f.object %>
    <%= f.hidden_field :result_id, value: @result.id %>
    <h2>０１：どういうこと？</h2>
    <table>
      <tr>
        <th ><%= f.label :out_interview_01, "決済者面会", class: "form-text" %></th>
        <th ><%= f.label :out_full_talk_01, "フルトーク", class: "form-text" %></th>
        <th ><%= f.label :out_get_01, "成約", class: "form-text" %></th>
      <tr>
        <td><%= f.number_field :out_interview_01, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_full_talk_01, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_get_01, class: "form-input-num" %></td>
      </tr>
    </table>
    <h2>０２：君は誰？</h2>
    <table>
      <tr >
        <th ><%= f.label :out_interview_02, "決済者面会", class: "form-text" %></th>
        <th ><%= f.label :out_full_talk_02, "フルトーク", class: "form-text" %></th>
        <th ><%= f.label :out_get_02, "成約", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_interview_02, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_full_talk_02, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_get_02, class: "form-input-num" %></td>
      </tr>
      </table>
    <h2>０３：もらうだけ？</h2>
    <table>
      <tr >
        <th ><%= f.label :out_interview_03, "決済者面会", class: "form-text" %></th>
        <th ><%= f.label :out_full_talk_03, "フルトーク", class: "form-text" %></th>
        <th ><%= f.label :out_get_03, "成約", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_interview_03, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_full_talk_03, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_get_03, class: "form-input-num" %></td>
      </tr>
    </table>
    <h2>０４：PayPayのみ</h2>
    <table>
      <tr >
        <th ><%= f.label :out_interview_04, "決済者面会", class: "form-text" %></th>
        <th ><%= f.label :out_full_talk_04, "フルトーク", class: "form-text" %></th>
        <th ><%= f.label :out_get_04, "成約", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_interview_04, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_full_talk_04, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_get_04, class: "form-input-num" %></td>
      </tr>
    </table>
    <h2>０５：エアペイのみ</h2>
    <table>
      <tr >
        <th ><%= f.label :out_interview_05, "決済者面会", class: "form-text" %></th>
        <th ><%= f.label :out_full_talk_05, "フルトーク", class: "form-text" %></th>
        <th ><%= f.label :out_get_05, "成約", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_interview_05, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_full_talk_05, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_get_05, class: "form-input-num" %></td>
      </tr>
    </table>
    <h2>０６：カードのみ</h2>
    <table>
      <tr >
        <th ><%= f.label :out_interview_06, "決済者面会", class: "form-text" %></th>
        <th ><%= f.label :out_full_talk_06, "フルトーク", class: "form-text" %></th>
        <th ><%= f.label :out_get_06, "成約", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_interview_06, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_full_talk_06, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_get_06, class: "form-input-num" %></td>
      </tr>
    </table>
    <h2>０７：先延ばし</h2>
    <table>
      <tr >
        <th ><%= f.label :out_interview_07, "決済者面会", class: "form-text" %></th>
        <th ><%= f.label :out_full_talk_07, "フルトーク", class: "form-text" %></th>
        <th ><%= f.label :out_get_07, "成約", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_interview_07, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_full_talk_07, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_get_07, class: "form-input-num" %></td>
      </tr>
    </table>
    <h2>０８：現金のみ</h2>
    <table>
      <tr>
        <th ><%= f.label :out_interview_08, "決済者面会", class: "form-text" %></th>
        <th ><%= f.label :out_full_talk_08, "フルトーク", class: "form-text" %></th>
        <th ><%= f.label :out_get_08, "成約", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_interview_08, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_full_talk_08, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_get_08, class: "form-input-num" %></td>
      </tr>
    </table>
    <h2>０９：忙しい</h2>
    <table>
      <tr>
        <th ><%= f.label :out_interview_09, "決済者面会", class: "form-text" %></th>
        <th ><%= f.label :out_full_talk_09, "フルトーク", class: "form-text" %></th>
        <th ><%= f.label :out_get_09, "成約", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_interview_09, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_full_talk_09, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_get_09, class: "form-input-num" %></td>
      </tr>
    </table>
    <h2>１０：面倒くさい</h2>
    <table>
      <tr>
        <th ><%= f.label :out_interview_10, "決済者面会", class: "form-text" %></th>
        <th ><%= f.label :out_full_talk_10, "フルトーク", class: "form-text" %></th>
        <th ><%= f.label :out_get_10, "成約", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_interview_10, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_full_talk_10, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_get_10, class: "form-input-num" %></td>
      </tr>
    </table>
    <h2>１１：情報不足</h2>
    <table>
      <tr>
        <th ><%= f.label :out_interview_11, "決済者面会", class: "form-text" %></th>
        <th ><%= f.label :out_full_talk_11, "フルトーク", class: "form-text" %></th>
        <th ><%= f.label :out_get_11, "成約", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_interview_11, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_full_talk_11, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_get_11, class: "form-input-num" %></td>
      </tr>
    </table>
    <h2>１２：ペロ</h2>
    <table>
      <tr>
        <th ><%= f.label :out_interview_12, "決済者面会", class: "form-text" %></th>
        <th ><%= f.label :out_full_talk_12, "フルトーク", class: "form-text" %></th>
        <th ><%= f.label :out_get_12, "成約", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_interview_12, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_full_talk_12, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_get_12, class: "form-input-num" %></td>
      </tr>
    </table>
    <h2>１３：その他</h2>
    <table>
      <tr>
        <th ><%= f.label :out_interview_13, "決済者面会", class: "form-text" %></th>
        <th ><%= f.label :out_full_talk_13, "フルトーク", class: "form-text" %></th>
        <th ><%= f.label :out_get_13, "成約", class: "form-text" %></th>
      </tr>
      <tr >
        <td ><%= f.number_field :out_interview_13, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_full_talk_13, class: "form-input-num" %></td>
        <td ><%= f.number_field :out_get_13, class: "form-input-num" %></td>
      </tr>
    </table>
  <%= f.submit "登録",data: { confirm: "登録してもよろしいですか？" }, class: "submit-btn" %>
  <% end %>
  </div>
</div>