      <%# link_to "CSVを出力する", pranesses_path(format: :csv), data: {confirm: "CSVを出力しますか？"} %>
<div data-scope-path="pranesses/index">
    <h1>ぷらねす一覧</h1>
  <%= render "shared/header" %>

        <%= search_form_for @q do |f| %>
        <table>
          <tr >
            <th class="search">獲得日付</td>
            <td><%= f.date_field :get_date_gteq, class: "input" %>~</td>
            <td><%= f.date_field :get_date_lt, class: "input" %></td>
          </tr>
        </table>
        <table class="search-table">
          <tr >
          <th class="search1">獲得者</td>
          <th class="search1">端末状態</th>
          <td class="result"><%= f.submit "絞込み", class: "result-btn" %></td>
          </tr>
          <tr >
          <td ><%= f.text_field :user_id_cont, class: "input" %></td>
          <td ><%= f.select :status_eq, { "クラウドデバイス完了": "クラウドデバイス完了", "未設定": "未設定" },{include_blank: true} , {class: "input"} %></td>
          <td class="reset"><%= link_to "検索リセット", pranesses_path, class: "reset-link" %></td>

          </tr>
        </table>
      </table>
        <% end %>

    <hr>
    <% if @pranesses.empty? %>
    <% else %>
      <h1>表示範囲：<%= @pranesses.minimum(:get_date) %>〜<%= @pranesses.maximum(:get_date) %></h1>
    <table>
      <tr>
        <th class="search2">契約数</th>
        <th class="search2">売上合計</th>
        <th class="search2">端末未設定</th>
        <th class="search2">解約件数</th>
      </tr>
      <tr>
        <td ><%= @pranesses.length %></td>
        <td >¥ <%= @pranesses.sum(:claim).to_s(:delimited) %></td>
        <td ><%= Praness.where(status: "未設定").length %></td>
        <td ><%= Praness.where("cancel != null").length %></td>
      </tr>
    </table>

    <table>
      <tr>
      <th ></th>
      <th ><%= sort_link(@q, :get_date, "獲得日",{},{class: "reset-link"}) %></th>
      <th >法人/個人</th>
      <th >店舗名</th>
      <th >獲得者</th>
    </tr>
      <% @pranesses.each do |praness| %>
        <tr>
        <td><%= link_to "詳細",  praness_path(praness.id) ,class: "link" %></td>
        <td><%= praness.get_date %></td>
        <td><%= praness.store_prop.race %></td>
        <td><%= praness.store_prop.name %></td>
        <td><%= praness.user.name %></td>
        </tr>
      <% end %>
      </table>
    </div>
    <% end %>
  
  </main>
</div>
