<div data-scope-path="pranesses/new">
  <h1 class="show-title"><%= @store_prop.name %>情報入力（ぷらねす）</h1>
  <%= render "shared/header" %>

  <%= form_with url: import_store_props_path do |f| %>
    <table>
      <tr>
      <th class="csv">CSV取り込み</td>
      <td><%= f.file_field :file, accept: '.csv', class: "input" %></td>
      <td class="result"><%= f.submit  "インポート",class: "result-btn" , data: {confirm: "インポートしますか？"} %></td>
      <td class="reset"><%= link_to "店舗一覧に戻る", root_path ,class: "reset-link" %></td>
    </table>
  <% end %>
      
  <%= form_with model: @praness,url:  store_prop_pranesses_create_path(@store_prop.id),  class: "form-frame", local: true do |f| %>
    <%= render "shared/error_messages", model: f.object %>
      <%= f.hidden_field :store_prop_id, value: @store_prop.id %>
    <div class="nav">
      <%# 一列目 %>
      <div>
        <%= f.label :client, "商流", class: "form-text" %>
        <%= f.select :client, {"自社": "自社"} ,{}, {class: "form-input"} %>

        <%= f.label :ssid_change, "SSID変更日", class: "form-text" %>
        <%= f.date_field :ssid_change , class: "form-input" %>

        <%= f.label :pass_1, "PASS①", class: "form-text" %>
        <%= f.text_field :pass_1 , class: "form-input" %>

        <%= f.label :deadline, "請求開始締日", class: "form-text" %>
        <%= f.date_field :deadline , class: "form-input" %>

        <%= f.label :return_remarks, "返却在庫に対する備考", class: "form-text" %>
        <%= f.text_field :return_remarks , class: "form-input" %>
      </div>
      <%# 2列目 %>
      <div>
        <%= f.label :user_id, "獲得者", class: "form-text" %>
        <%= f.collection_select(:user_id, User.joins(:stock_history).distinct, :id, :name,{}, {class: "form-input"})%>

        <%= f.label :stock_id, "在庫番号", class: "form-text" %>
        <%= f.collection_select(:stock_id, @stocks, :id, :stock_num,{}, {class: "form-input"} ) %>

        <%= f.label :ssid_2, "SSID②", class: "form-text" %>
        <%= f.text_field :ssid_2 , class: "form-input" %>

        <%= f.label :payment, "店舗引落日", class: "form-text" %>
        <%= f.date_field :payment , class: "form-input" %>

        <%= f.label :remarks, "備考", class: "form-text" %>
        <%= f.text_field :remarks , class: "form-input" %>
      </div>
      <%# 3列目 %>
      <div>
        <%= f.label :get_date, "獲得日", class: "form-text" %>
        <%= f.date_field :get_date, class: "form-input2" %>

        <%= f.label :customer_num, "顧客番号", class: "form-text" %>
        <%= f.number_field :customer_num, value: 367711,class: "form-input" %>

        <%= f.label :pass_2, "PASS②", class: "form-text" %>
        <%= f.text_field :pass_2 , class: "form-input" %>

        <%= f.label :claim, "請求額", class: "form-text" %>
        <%= f.number_field :claim , class: "form-input" %>
      </div>
      <%# 4列目 %>
      <div>
        <%= f.label :status, "端末状態", class: "form-text" %>
        <%= f.select :status, {"クラウドデバイス完了": "クラウドデバイス完了", "未設定": "未設定"} ,{}, {class: "form-input"} %>

        <%= f.label :ssid_1, "SSID①", class: "form-text" %>
        <%= f.text_field :ssid_1 , class: "form-input" %>

        <%= f.label :start, "請求開始月", class: "form-text" %>
        <%= f.date_field :start , class: "form-input" %>

        <%= f.label :cancel, "解約日", class: "form-text" %>
        <%= f.date_field :cancel , class: "form-input" %>
      </div>
    </div>
    <%= f.submit "登録", class: "submit-btn" %>
  <% end %>
</div>