<div data-scope-path="shared/header">
  <h1>ぷらねす詳細</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
<div data-scope-path="shared/side_bar">
  <%= render "shared/sidebar" %>
</div>
<div class="main">
  <div data-scope-path="shares/show">
      <h2>ぷらねす情報</h2>
      <table>
      <tr>
      <th>管理番号</th>
      <td><%= @praness.customer_num %></td>
      <th>店舗名</th>
      <td><%= @praness.store_name %></td>
      </tr>
      <tr>
      <th>獲得日</th>
        <td><%= @praness.date %></td>
        <th>獲得者</th>
        <td><%= @praness.user.name %></td>
      </tr>
      <tr>
        <th>現状ステータス</th>
        <td><%= @praness.status %></td>
        <th>口座ステータス</th>
        <td><%= @praness.cash_status %></td>
      </tr>
      <tr>
        <th>端末管理番号</th>
        <td><%= @praness.terminal_num %></td>
        <th>端末状態</th>
        <td><%= @praness.terminal_status %></td>
      </tr>
      <tr>
        <th>利用開始日</th>
        <td><%= @praness.start %></td>
        <th>料金発生日</th>
        <td><%= @praness.payment_start %></td>
      </tr>
      <tr>
        <th>初回引き落とし日</th>
        <td><%= @praness.first_payment %></td>
        <th></th>
        <td><%=  %></td>
      </tr>
      <tr>
        <th>アプラス顧客番号</th>
        <td><%= @praness.aplus_num %></td>
        <th>口座名義</th>
        <td><%= @praness.cash_name %></td>
      </tr>
      <tr>
        <th>決済端末</th>
        <% if @praness.payment_terminal == "TRUE" %>
        <td>○</td>
        <% else %>
        <td>×</td>
        <% end %>
        <th>端末不可理由</th>
        <% if @praness.not_use_reason == "①" %>
        <td>①作ってない</td>
        <% elsif @praness.not_use_reason == "②" %>
        <td>②手元にない</td>
        <% elsif @praness.not_use_reason == "③" %>
        <td>③通らない</td>
        <% elsif @praness.not_use_reason == "④" %>
        <td>④不審</td>
        <% elsif @praness.not_use_reason == "⑤" %>
        <td>⑤法人・当座</td>
        <% elsif @praness.not_use_reason == "⑥" %>
        <td>⑥その他</td>
        <% else %>
        <td></td>
        <% end %>
      </tr>
      <tr>
        <th>口座依頼書送付日</th>
        <td><%= @praness.notice_send %></td>
        <th>不備内容</th>
        <td><%= @praness.def_remarks %></td>
      </tr>
      <tr>
       <th>備考</th>
        <td ><%= @praness.remarks %></td>
        <th>営業側備考</th>
        <td ><%= @praness.sales_man_remarks %></td>
      </tr>
      </table>
      <h2>SSID・パスワード / キャンセル・解約</h2>
      <table>
      <tr>
        <th>SSID①</th>
        <td><%= @praness.ssid_1 %></td>
        <th>パスワード①</th>
        <td><%= @praness.pass_1 %></td>
      </tr>
      <tr>
        <th>SSID②</th>
        <td><%= @praness.ssid_2 %></td>
        <th>パスワード②</th>
        <td><%= @praness.pass_2 %></td>
      </tr>
      <tr>
        <th>解約キャンセル</th>
        <td><%= @praness.cancel %></td>
        <th>SSID/パス変更</th>
        <td><%= @praness.ssid_pass_change %></td>
      </tr>
      <tr>
        <th colspan="3"></th>
        <td><%= link_to "編集", edit_praness_path(@praness.id),"data-turbolinks": false, class: "link" %></td>
      </tr>
    </table>
    </div>
  </div>
</div>

