<%= render "shared/header" %>

<div class="main">
  <%= render "shared/side_bar" %>
  <main class="right-bar">
    <h1 class="show-title">月毎の入金予定額と実際の売上</h1>
    <table class="show-table">
      <tr class="show-tr">
        <th class="show-th"></th>
          <% @panda_claim_expected.each do |panda| %>
        <th class="show-th">
          <%= panda[0][0] %>年<%= panda[0][1] + 1 %>年
        </th>
          <% end %>
      </tr>
      <tr class="show-tr">
        <th class="show-th">入金予定額</th>
          <% @panda_claim_expected.each do |panda| %>
        <td class="show-td">
          ¥<%= panda[1] * 20000 %>
        </td>
          <% end %>
      </tr>
        <th class="show-th"></th>
          <% @panda_claim.each do |panda| %>
        <th class="show-th">
          <%= panda[0][0] %>年<%= panda[0][1] + 1 %>年
        </th>
          <% end %>
      </tr>
      <tr class="show-tr">
        <th class="show-th">入金額</th>
        <% @panda_claim.each do |panda| %>
        <td class="show-td">
        ¥<% panda[1] * 20000 %>
        </td>
      </tr>
        <% end %>
    </table>
    <%= area_chart @chart %>
    
</div>
  </main>