<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<% if (current_user.name == "管理用") || (current_user.name == "佐藤健二") || (current_user.name == "三宅翔馬") %>
<div data-scope-path="shared/header">
  <h1>auPay未入金一覧</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
  <div data-scope-path="shared/side_bar_humbarger">
    <%= render "shared/sidebar" %>
  </div>
  <div data-scope-path="shares/index">
    <hr>
      <%= render "shared/payment_links" %>
    <hr>
    <h2 class="">
      <%= link_to "<<",conf_index_payment_aupays_path(month:@month.prev_month),"data-turbolinks": false, class:"link" %>
      <%= @period.first.strftime("%Y年%m月") %>〜<%= @period.last.strftime("%Y年%m月") %>成果auPay未入金案件
      <%= link_to ">>",conf_index_payment_aupays_path(month:@month.next_month),"data-turbolinks": false, class:"link" %>
    </h2>
    <hr>
    <%# 検索機能 %>
    <div class="search-form">
      <%# <p class="search-title">検索</p> %>
      <%= form_with url: conf_index_payment_aupays_path, local: true, method: :get do |f| %>
      <% end %>
    </div>
    <%# /検索機能 %>
    <table>
      <tr>
        <th class="out-th">No.</th>
        <th class="out-th">管理番号</th>
        <th class="out-th">獲得会社</th>
        <th class="out-th">店舗名</th>
        <th class="out-th">獲得者</th>
        <th class="out-th">獲得日</th>
        <th class="out-th">審査ステータス</th>
        <th class="out-th">決済完了日</th>
        <th class="out-th">入金予定月</th>
      </tr>
      <% cnt = 0 %>
      <% @aupays.each do |aupay| %><%# auPayデータ %>
      <tr>
        <td><%= cnt += 1 %></td>
        <td><%= aupay.customer_num %></td>
        <td><%= aupay.user.group %></td>
        <td><%= aupay.store_prop.name %></td>
        <td><%= aupay.user.name %></td>
        <td><%= aupay.date %></td>
        <td><%= aupay.status %></td>
        <td class="red"><%= aupay.status_update_settlement %></td>
        <td><%= aupay.status_update_settlement.since(1.month).strftime("%Y年%m月") %></td>
      </tr>
      <% end %><%# auPayデータ %>
    </table>
  </div>
</div>
<% end %>