<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
  <%# 商材（評価売上変数） %>
      <%# dメル %>
        <%# 新規 %>
          <% 
            dmer_valuations = 
              @dmer_uq.sum(:valuation_new) -
              @dmer_def.sum(:valuation_new) +
              @dmer_db.sum(:valuation_new)
          %>
          <% 
            dmer_len =  
              @dmer_uq.length -
              @dmer_def.length +
              @dmer_db.length
          %>
        <%# 決済 %>
          <% dmer_slmt_valuations = @dmer_slmt.sum(:valuation_settlement) %>
          <% dmer_slmt_len = @dmer_slmt.length %>
          <% dmer_slmt2nd_valuations = @dmer_slmt2nd.sum(:valuation_second_settlement) %>
          <% dmer_slmt2nd_len =  @dmer_slmt2nd_get.length %>
      <%# aupay %>
        <%# 新規 %>
          <%# 合計 %>
          <% 
            aupay_valuations =
              @aupay_uq.sum(:valuation_new) - 
              @aupay_def.sum(:valuation_new) + 
              @aupay_db.sum(:valuation_new)
          %>
          <% 
            aupay_len = 
              @aupay_uq.length - @aupay_def.length + 
               @aupay_db.length
          %>
        <%# 決済 %>
          <% aupay_slmt_valuations = @aupay_slmt.sum(:valuation_settlement) %>
          <% aupay_slmt_len = @aupay_slmt.length %>
      <%# PayPay %>
        <% paypay_valuations = @paypay_result.sum(:valuation) %>
        <% paypay_len = @paypay_data.length %>
        <% paypay_r_len = @paypay_result.length %>
      <%# 少額短期保険 %>
        <% st_insurance_user = StInsurance.where(user_id: @results_date.first.user_id) %>
        <% st_insurance_data = this_period(st_insurance_user,@results_date) %>
        <% st_insurance_valuations = st_insurance_data.sum(:valuation) %>
        <% st_insurance_len = st_insurance_data.length %>
      <%# 楽天ペイ %>
          <%
            rakuten_pay_valuations =
              @rakuten_pay_uq.sum(:valuation) - 
              @rakuten_pay_def.sum(:valuation)
          %>
          <% 
            rakuten_pay_len =  
              @rakuten_pay_uq.length - 
              @rakuten_pay_def.length 
          %>
      <%# 合計売上 %>
        <% sum_profit_new = dmer_valuations + aupay_valuations + paypay_valuations + st_insurance_valuations + rakuten_pay_valuations %>
        <% sum_profit_slmt = dmer_slmt_valuations + dmer_slmt2nd_valuations + aupay_slmt_valuations %>
        <% sum_profit = sum_profit_new + sum_profit_slmt %>
      <%# 平均売上 %>
        <% ave_profit_new = sum_profit_new.to_f / @digestion_new %>
        <% ave_profit_slmt = sum_profit_slmt.to_f / @digestion_settlement %>
        <% ave_profit = (sum_profit.to_f / @results_date.where.not(shift: "休み").where.not(shift: "帯同").where.not(shift: "内勤").where.not(shift: "欠勤").length) %>
      <%# 楽天ペイインセン（40件で5万, 50件で10万） %>
          <% rakuten_bonus = 0 %>
          <% if @results_date.minimum(:date).day == 1 %>
            <% if rakuten_pay_len >= 50 %>
              <% rakuten_bonus = 100000 %>
            <% elsif rakuten_pay_len >= 40  %>
              <% rakuten_bonus = 50000 %>
            <% else %>
              <% rakuten_bonus = 0 %>
            <% end %>
          <% elsif @results_date.minimum(:date).day == 26 %>
            <% if rakuten_pay_len >= 50 %>
              <% rakuten_bonus = 100000 %>
            <% elsif rakuten_pay_len >= 40  %>
              <% rakuten_bonus = 50000 %>
            <% else %>
              <% rakuten_bonus = 0 %>
            <% end %>
          <% end %>
<div class="result-flex">
  <div class="right-frame"><%#日々進捗の区切り%>
    <h2>日々進捗</h2>
    <table class="date-tb">
      <thead>
        <tr></tr>
        <tr>
        <%# カラム %>
          <th class="date-th" colspan="8" ><span class="date-span">日々結果</span></th>
          <th class="date-th" colspan="5" ><span class="date-span">合計</span></th>
          <th class="date-th" colspan="5" ><span class="date-span">前半</span></th>
          <th class="date-th" colspan="5"><span class="date-span">後半</span></th>
          <th class="date-th head-th" rowspan="2" ><span class="date-span">店舗別</span></th>
          <th class="date-th" colspan="2" ><span class="date-span">喫茶・カフェ</span></th>
          <th class="date-th" colspan="2" ><span class="date-span">その他飲食</span></th>
          <th class="date-th" colspan="2" ><span class="date-span">車屋</span></th>
          <th class="date-th" colspan="2" ><span class="date-span">その他小売</span></th>
          <th class="date-th" colspan="2" ><span class="date-span">理容・美容</span></th>
          <th class="date-th" colspan="2" ><span class="date-span">整体・鍼灸</span></th>
          <th class="date-th" colspan="2" ><span class="date-span">その他サービス</span></th>
        <%# キャッシュレス切り返し %>
          <% if @results.where(shift: "キャッシュレス新規").empty? %>
          <% else %>
          <th class="date-th head-th" rowspan="2"><span class="date-span">キャッシュ切り返し</span></th>
          <th class="date-th" colspan="3"><span class="date-span">どういうこと？</span></th>
          <th class="date-th" colspan="3"><span class="date-span">君は誰？協会？</span></th>
          <th class="date-th" colspan="3"><span class="date-span">もらうだけでいいの？</span></th>
          <th class="date-th" colspan="3"><span class="date-span">PayPayのみ</span></th>
          <th class="date-th" colspan="3"><span class="date-span">AirPayのみ</span></th>
          <th class="date-th" colspan="3"><span class="date-span">カードのみ</span></th>
          <th class="date-th" colspan="3"><span class="date-span">先延ばし</span></th>
          <th class="date-th" colspan="3"><span class="date-span">忙しい</span></th>
          <th class="date-th" colspan="3"><span class="date-span">現金のみ</span></th>
          <th class="date-th" colspan="3"><span class="date-span">面倒くさい</span></th>
          <th class="date-th" colspan="3"><span class="date-span">情報不足</span></th>
          <th class="date-th" colspan="3"><span class="date-span">ペロ</span></th>
          <th class="date-th" colspan="3"><span class="date-span">その他</span></th>
          <% end %>
        <%# サミット切り返し %>
          <% if @results.where(shift: "サミット").empty? %>
          <% else %>
          <th rowspan="2">　サミット切り返し　</th>
          <th colspan="2">NG理由</th>
          <th colspan="3">引き落とし拒否</th>
          <th colspan="3">忙しい</th>
          <th colspan="3">怪しい</th>
          <th colspan="3">検討したい</th>
          <th colspan="3">変えたくない</th>
          <th colspan="3">ペロ</th>
          <th colspan="3">その他</th>
          <% end %>
        <%# フェムト切り返し %>
          <% if @results.where(shift: "楽天フェムト新規").empty? %>
          <% else %>
          <th rowspan="2">　フェムト切り返し　</th>
          <th colspan="3">０１：楽天使ってない</th>
          <th colspan="3">０２：面倒くさい</th>
          <th colspan="3">０３：置く場所がない</th>
          <th colspan="3">０４：メリットがない</th>
          <th colspan="3">０５：前断った</th>
          <th colspan="3">０６：必要ない</th>
          <th colspan="3">０７：忙しい</th>
          <th colspan="3">０８：ペロ</th>
          <th colspan="3">０９：その他</th>
          <% end %>
          <th class="date-th head-th" rowspan="2"><span class="date-span">時間別基準値</span></th>
          <th class="date-th " colspan="2"><span class="date-span">10時</span></th>
          <th class="date-th " colspan="2"><span class="date-span">11時</span></th>
          <th class="date-th " colspan="2"><span class="date-span">12時</span></th>
          <th class="date-th " colspan="2"><span class="date-span">13時</span></th>
          <th class="date-th " colspan="2"><span class="date-span">14時</span></th>
          <th class="date-th " colspan="2"><span class="date-span">15時</span></th>
          <th class="date-th " colspan="2"><span class="date-span">16時</span></th>
          <th class="date-th " colspan="2"><span class="date-span">17時</span></th>
          <th class="date-th " colspan="2"><span class="date-span">18時</span></th>
          <th class="date-th " colspan="2"><span class="date-span">19時以降</span></th>
          <th class="date-th" rowspan="2"><span class="date-span">獲得商材</span></th>
          <th class="date-th" colspan="2" rowspan="2"><span class="date-span">編集</span></th>
          <th class="date-th" rowspan="2"><span class="date-span">削除</span></th>
        </tr>
        <tr >
        <%# 大枠基準値（見出し） %>
            <th class="date-th"><span class="date-span">日付</span></th>
            <th class="date-th"><span class="date-span">曜日</span></th>
            <th class="date-th"><span class="date-span">予定シフト</span></th>
            <th class="date-th"><span class="date-span">消化シフト</span></th>
            <th class="date-th"><span class="date-span">帯同</span></th>
            <th class="date-th"><span class="date-span">エリア</span></th>
            <th class="date-th"><span class="date-span">営業予想売上</span></th>
            <th class="date-th"><span class="date-span">売上</span></th>
            <th class="date-th"><span class="date-span">訪問</span></th>
            <th class="date-th"><span class="date-span">対応</span></th>
            <th class="date-th"><span class="date-span">対面</span></th>
            <th class="date-th"><span class="date-span">フル</span></th>
            <th class="date-th"><span class="date-span">成約</span></th>
            <th class="date-th"><span class="date-span">訪問</span></th>
            <th class="date-th"><span class="date-span">対応</span></th>
            <th class="date-th"><span class="date-span">対面</span></th>
            <th class="date-th"><span class="date-span">フル</span></th>
            <th class="date-th"><span class="date-span">成約</span></th>
            <th class="date-th"><span class="date-span">訪問</span></th>
            <th class="date-th"><span class="date-span">対応</span></th>
            <th class="date-th"><span class="date-span">対面</span></th>
            <th class="date-th"><span class="date-span">フル</span></th>
            <th class="date-th"><span class="date-span">成約</span></th>
        <%# 店舗別基準値（見出し） %>
          <% 7.times do %>
          <th class="date-th"><span class="date-span">訪問数</span></th>
          <th class="date-th"><span class="date-span">獲得数</span></th>
          <% end %>
        <%# キャッシュレス切り返し（見出し） %>
          <% if @results.where(shift: "キャッシュレス新規").empty? %>
          <% else %>
            <% 13.times do %>
            <th class="date-th" style="border-left: 1px solid rgb(214, 219, 235);"><span class="date-span">対面数<span class="date-span"></th>
            <th class="date-th"><span class="date-span">フル数</span></th>
            <th class="date-th"><span class="date-span">成約数</span></th>
            <% end %>
          <% end %>
          <% 10.times do %><%# 時間別基準値 %>
            <th class="date-th"><span class="date-span">訪問</span></th>
            <th class="date-th"><span class="date-span">成約</span></th>
          <% end %>
        <%# サミット切り返し（見出し） %>
          <% if @results.where(shift: "サミット").empty? %>
          <% else %>
            <th class="date-th">明細なし</th>
            <th class="date-th">明細NG</th>
            <% 7.times do %>
            <th style="border-left: 1px solid rgb(214, 219, 235);">対面数</th>
            <th class="date-th">フル数</th>
            <th class="date-th">成約数</th>
            <% end %>
          <% end %>
        <%# フェムト切り返し（見出し） %>
          <% if @results.where(shift: "楽天フェムト新規").empty? %>
          <% else %>
            <% 9.times do %>
              <th style="border-left: 1px solid rgb(214, 219, 235);">対面数</th>
              <th class="date-th">フル数</th>
              <th class="date-th">成約数</th>
            <% end %>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <% @results.each do |result| %>
        <tr>
          <%#日付%>
          <th class="date-th"><span class="date-span"><%= result.date.month %>月<%= result.date.day %>日</span></th>
          <th class="date-th"><span class="date-span"><%= days[result.date.wday] %></span></th>
          <%# その日の予定シフト %>
          <% 
            shift_date_plan = 
              Shift.where(user_id: result.user_id).where(start_time: result.date).first.shift rescue "未申請"
          %>
          <td class="date-td"><span class="date-span"><%= shift_date_plan  %></span></td>
          <% if shift_date_plan == result.shift %>
          <td class="date-td" style="color:blue;"><span class="date-span"><%= result.shift %></span></td>
          <% else %>
          <td class="date-td" style="color:red;"><span class="date-span"><%= result.shift %></span></td>
          <% end %>
          <td class="date-td"><span class="date-span"><%= result.ojt.name rescue "" %></span></td>
          <td class="date-td"><span class="date-span"><%= result.area %></span></td>
          <%# その日の売上 %>
            <% 
            date_profit =
              @dmer_user.where(date: result.date).where(store_prop: {head_store: nil}).sum(:valuation_new) +
              @dmer_slmter.where(status_settlement: "完了").where(picture: result.date).sum(:valuation_settlement) +
              @dmer_slmter.where(settlement_second: result.date).sum(:valuation_second_settlement) +
              @aupay_user.where(date: result.date).sum(:valuation_new) + 
              @aupay_slmter.where(status_settlement: "完了").where(picture: result.date).sum(:valuation_settlement) +
              @paypay_user.where(date: result.date).sum(:valuation) +
              @rakuten_pay_user.where(user_id: result.user_id).where(date: result.date).sum(:valuation)
            %>
          <% if result.profit.present? %>
            <% if result.profit == date_profit.to_i %>
            <td class="date-td" style="color:blue;"><span class="date-span"><%= result.profit.to_s(:delimited) %></span></td>
            <% else %>
            <td class="date-td" style="color:red;"><span class="date-span"><%= result.profit.to_s(:delimited) %></span></td>
            <% end %>
          <% else %>
            <td class="date-td"><span class="date-span"><%= result.profit.to_s(:delimited) rescue "未入力" %></span></td>
          <% end %>
          
          <td class="date-td"><span class="date-span"><%= date_profit.round().to_s(:delimited) %></td>
          <td class="date-td"><span class="date-span"><%= result.first_total_visit + result.latter_total_visit rescue "NaN" %></span></td>
          <td class="date-td"><span class="date-span"><%= result.first_visit + result.latter_visit rescue "NaN" %></td>
          <td class="date-td"><span class="date-span"><%= result.first_interview + result.latter_interview rescue "NaN" %></span></td>
          <td class="date-td"><span class="date-span"><%= result.first_full_talk + result.latter_full_talk rescue "NaN" %></span></td>
          <td class="date-td"><span class="date-span"><%= result.first_get + result.latter_get rescue "NaN" %></td>
        <%#前半%>
          <td class="date-td"><span class="date-span"><%= result.first_total_visit rescue "NaN" %></span></td>
          <td class="date-td"><span class="date-span"><%= result.first_visit rescue "NaN" %></td>
          <td class="date-td"><span class="date-span"><%= result.first_interview rescue "NaN" %></span></td>
          <td class="date-td"><span class="date-span"><%= result.first_full_talk rescue "NaN" %></span></td>
          <td class="date-td"><span class="date-span"><%= result.first_get rescue "NaN" %></td>
        <%# 後半 %>
          <td class="date-td"><span class="date-span"><%= result.latter_total_visit rescue "NaN" %></span></td>
          <td class="date-td"><span class="date-span"><%= result.latter_visit rescue "NaN" %></span></td>
          <td class="date-td"><span class="date-span"><%= result.latter_interview rescue "NaN" %></span></td>
          <td class="date-td"><span class="date-span"><%= result.latter_full_talk rescue "NaN" %></span></td>
          <td class="date-td"><span class="date-span"><%= result.latter_get rescue "NaN" %></span></td>
        <%# 店舗別基準値(値) %>
          <th class="th-blank"></th>
          <%# 喫茶・カフェ %>
          <td class="date-td"><span class="date-span"><%= result.cafe_visit %></span></td>
          <td class="date-td"><span class="date-span"><%= result.cafe_get %></span></td>
          <%#その他飲食%>
          <td class="date-td"><span class="date-span"><%= result.other_food_visit %></span></td>
          <td class="date-td"><span class="date-span"><%= result.other_food_get %></span></td>
          <%#車屋%>
          <td class="date-td"><span class="date-span"><%= result.car_visit %></span></td>
          <td class="date-td"><span class="date-span"><%= result.car_get %></span></td>
          <%#その他小売%>
          <td class="date-td"><span class="date-span"><%= result.other_retail_visit %></span></td>
          <td class="date-td"><span class="date-span"><%= result.other_retail_get %></span></td>
          <%#理容・美容%>
          <td class="date-td"><span class="date-span"><%= result.hair_salon_visit %></span></td>
          <td class="date-td"><span class="date-span"><%= result.hair_salon_get %></span></td>
          <%#整体・鍼灸%>
          <td class="date-td"><span class="date-span"><%= result.manipulative_visit %></span></td>
          <td class="date-td"><span class="date-span"><%= result.manipulative_get %></span></td>
          <%#その他・サービス%>
          <td class="date-td"><span class="date-span"><%= result.other_service_visit %></span></td>
          <td class="date-td"><span class="date-span"><%= result.other_service_get %></span></td>
      <%# キャッシュレス切り返し %>
        <% if @results.where(shift: "キャッシュレス新規").empty? %>
        <% else %>
          <% if result.result_cash.nil? %>
            <td class="td-blank"></td>
            <% 39.times do %>
            <td class="td-blank"></td>
            <% end %>
          <% else %>
          <th class="th-blank"></th>
          <%#どういうこと？%>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_01 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_01 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_get_01 %></span></td>
          <%#君は誰？%>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_02 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_02 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_get_02 %></span></td>
          <%#もうらだけでいいの？%>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_03 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_03 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_get_03 %></span></td>
          <%#PayPayのみ%>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_04 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_04 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_get_04 %></span></td>
          <%#AirPayのみ%>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_05 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_05 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_get_05 %></span></td>
          <%#カードのみ%>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_06 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_06 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_get_06 %></span></td>
          <%#先延ばし%>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_07 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_07 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_get_07 %></span></td>
          <%#現金のみ%>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_08 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_08 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_get_08 %></span></td>
          <%#忙しい%>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_09 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_09 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_get_09 %></span></td>
          <%#面倒くさい%>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_10 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_10 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_get_10 %></span></td>
          <%#情報不足%>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_11 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_11 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_get_11 %></span></td>
          <%#ペロ%>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_12 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_12 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_get_12 %></span></td>
          <%#その他%>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_interview_13 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_full_talk_13 %></span></td>
          <td class="date-td"><span class="date-span"><%= result.result_cash.out_get_13 %></td>
          <% end %>
        <% end %>
      <%# 楽天フェムト切り返し %>
        <% if @results.where(shift: "楽天フェムト新規").empty? %>
        <% else %>
          <% if result.result_casa.nil? %>
            <td class="td-blank"></td>
            <% 27.times do %>
            <td class="td-blank"></td>
            <% end %>
          <% else %>
          <td class="td-blank"></td>
          <% casa_out = result.result_casa %>
          <%#０１：楽天使ってない%>
          <td ><%= casa_out.out_interview_01 %></td>
          <td ><%= casa_out.out_full_talk_01 %></td>
          <td ><%= casa_out.out_get_01 %></td>
          <%#０２：めんどくさい%>
          <td ><%= casa_out.out_interview_02 %></td>
          <td ><%= casa_out.out_full_talk_02 %></td>
          <td ><%= casa_out.out_get_02 %></td>
          <%#０３：置く場所がない%>
          <td ><%= casa_out.out_interview_03 %></td>
          <td ><%= casa_out.out_full_talk_03 %></td>
          <td ><%= casa_out.out_get_03 %></td>
          <%#０４：メリットない%>
          <td ><%= casa_out.out_interview_04 %></td>
          <td ><%= casa_out.out_full_talk_04 %></td>
          <td ><%= casa_out.out_get_04 %></td>
          <%#０５：前断った%>
          <td ><%= casa_out.out_interview_05 %></td>
          <td ><%= casa_out.out_full_talk_05 %></td>
          <td ><%= casa_out.out_get_05 %></td>
          <%#０６：必要ない%>
          <td ><%= casa_out.out_interview_06 %></td>
          <td ><%= casa_out.out_full_talk_06 %></td>
          <td ><%= casa_out.out_get_06 %></td>
          <%#０７：忙しい%>
          <td ><%= casa_out.out_interview_07 %></td>
          <td ><%= casa_out.out_full_talk_07 %></td>
          <td ><%= casa_out.out_get_07 %></td>
          <%#０８：ペロ%>
          <td ><%= casa_out.out_interview_08 %></td>
          <td ><%= casa_out.out_full_talk_08 %></td>
          <td ><%= casa_out.out_get_08 %></td>
          <%#０９：そのた%>
          <td ><%= casa_out.out_interview_09 %></td>
          <td ><%= casa_out.out_full_talk_09 %></td>
          <td ><%= casa_out.out_get_09 %></td>
          <% end %>
        <% end %>
      <%# 時間別基準値 %>
        <th class="blank-th"></th>
        <td class="date-td"><span class="date-span">
          <%= result.visit10 %>
        </span></td>
        <td class="date-td"><span class="date-span">
          <%= result.get10 %>
        </span></td>
        <td class="date-td"><span class="date-span">
          <%= result.visit11 %>
        </span></td>
        <td class="date-td"><span class="date-span">
          <%= result.get11 %>
        </span></td>
        <td class="date-td"><span class="date-span">
          <%= result.visit12 %>
        </span></td>
        <td class="date-td"><span class="date-span">
          <%= result.get12 %>
        </span></td>
        <td class="date-td"><span class="date-span">
          <%= result.visit13 %>
        </span></td>
        <td class="date-td"><span class="date-span">
          <%= result.get13 %>
        </span></td>
        <td class="date-td"><span class="date-span">
          <%= result.visit14 %>
        </span></td>
        <td class="date-td"><span class="date-span">
          <%= result.get14 %>
        </span></td>
        <td class="date-td"><span class="date-span">
          <%= result.visit15 %>
        </span></td>
        <td class="date-td"><span class="date-span">
          <%= result.get15 %>
        </span></td>
        <td class="date-td"><span class="date-span">
          <%= result.visit16 %>
        </span></td>
        <td class="date-td"><span class="date-span">
          <%= result.get16 %>
        </span></td>
        <td class="date-td"><span class="date-span">
          <%= result.visit17 %>
        </span></td>
        <td class="date-td"><span class="date-span">
          <%= result.get17 %>
        </span></td>
        <td class="date-td"><span class="date-span">
          <%= result.visit18 %>
        </span></td>
        <td class="date-td"><span class="date-span">
          <%= result.get18 %>
        </span></td>
        <td class="date-td"><span class="date-span">
          <%= result.visit19 %>
        </span></td>
        <td class="date-td"><span class="date-span">
          <%= result.get19 %>
        </span></td>
      <%# 時間別基準値 %>
      <%# 獲得商材 %>
        <% dmer_uq_user = @dmer_user.where(store_prop: {head_store: nil}) %>
        <% 
          dmax_date_len = 
            dmer_uq_user.where(date: result.date).where(client: "マックス通常").length 
        %>
        <% 
          dmax_mer_date_len = 
            dmer_uq_user.where(user_id: result.user_id).where(date: result.date).where(client: "マックス即時（メル）").length 
        %>
        <% 
          dmax_d_date_len = 
            dmer_uq_user.where(user_id: result.user_id).where(date: result.date).where(client: "マックス即時（ｄ）").length 
        %>
        <% 
          dpias_date_len = 
            dmer_uq_user.where(user_id: result.user_id).where(date: result.date).where(client: "ピアズ").length 
        %>
        <% 
          dusen_date_len = 
            dmer_uq_user.where(user_id: result.user_id).where(date: result.date).where(client: "USEN").length 
        %>
        <%# 決済 %>
        <% dmax_mer_slmt_date_len = @dmer_slmter.where(status_settlement: "完了").where(picture: result.date).where(client: "マックス即時（メル）").length %>
        <% dpias_slmt_date_len = @dmer_slmter.where(status_settlement: "完了").where(picture: result.date).where(client: "ピアズ").length %>
        <% dmax_slmt_date_len = @dmer_slmter.where(status_settlement: "完了").where(picture: result.date).where(client: "マックス通常").length %>
        <% dmax_d_slmt_date_len = @dmer_slmter.where(status_settlement: "完了").where(picture: result.date).where(client: "マックス即時（ｄ）").length %>
        <% dusen_slmt_date_len = @dmer_slmter.where(status_settlement: "完了").where(picture: result.date).where(client: "USEN").length %>
        <% dmer_slmt2nd_date_len = @dmer_slmter.where(settlement_second: result.date).length %>
        <% 
          aupay_date_len = 
            @aupay_user.where(user_id: result.user_id).where(date: result.date).length 
        %>
        <% aupay_slmt_date_len = @aupay_user.where(status_settlement: "完了").where(picture: result.date).length %>
        <% paypay_date_len = @paypay_user.where(date: result.date).length %>
        <% rakuten_pay_date_len = @rakuten_pay_user.where(date: result.date).length %>
        <td class="date-td">
        <span class="date-span">
          <% if dmax_date_len != 0 %>
            dマックス通常<%= dmax_date_len %><br>
          <% end %>
          <% if dmax_mer_date_len != 0 %>
            d即時（メル）<%= dmax_mer_date_len %><br>
          <% end %>
          <% if dmax_d_date_len != 0 %>
            d即時（d）<%= dmax_d_date_len %><br>
          <% end %>
          <% if dpias_date_len != 0 %>
            dピアズ<%= dpias_date_len %><br>
          <% end %>
          <% if dusen_date_len != 0 %>
            dUSEN<%= dpias_date_len %><br>
          <% end %>
          <% if aupay_date_len != 0 %>
            auPay<%= aupay_date_len %><br>
          <% end %>
          <% if paypay_date_len != 0 %>
            PayPay<%= paypay_date_len %><br>
          <% end %>
          <% if rakuten_pay_date_len != 0 %>
            楽天ペイ<%= rakuten_pay_date_len %><br>
          <% end %>
          <% if dmax_slmt_date_len != 0 %>
            dマックス通常決済<%= dmax_slmt_date_len %><br>
          <% end %>
          <% if dmax_mer_slmt_date_len != 0 %>
            d即時（メル）決済<%= dmax_mer_slmt_date_len %><br>
          <% end %>
          <% if dmax_d_slmt_date_len != 0 %>
            d即時（d）決済<%= dmax_d_slmt_date_len %><br>
          <% end %>
          <% if dpias_slmt_date_len != 0 %>
            dピアズ決済<%= dpias_slmt_date_len %><br>
          <% end %>
          <% if dusen_slmt_date_len != 0 %>
            dメル決済USEN<%= dusen_slmt_date_len %><br>
          <% end %>
          <% if dmer_slmt2nd_date_len != 0 %>
            dメル2回目決済<%= dmer_slmt2nd_date_len %><br>
          <% end %>
          <% if aupay_slmt_date_len != 0 %>
            auPay決済<%= aupay_slmt_date_len %><br>
          <% end %>
        </span>
        </td>
        <td class="date-td"><span class="date-span"><%= link_to "基準値編集", edit_result_path(result.id),class: "link" %></span></td>
        <% if result.shift == "キャッシュレス新規" || result.shift == "キャッシュレス決済" %>
          <td class="date-td" ><span class="date-span"><%= link_to "切り返し編集", edit_result_cash_path(result.result_cash.id),class: "link" rescue "error" %></span></td>
        <% elsif result.shift == "楽天フェムト新規" %>
        <td ><span class="date-span"><%= link_to "切り返し編集", edit_result_casa_path(result.result_casa.id),class: "link" %></span></td>
        <% else %>
        <td class="total-td"></td>
        <% end %>
        <td class="date-td"><span class="date-span"><%= link_to "削除", result_path(result.id),method: :delete,data: {confirm: "削除してもよろしいですか？"},class: "link" %></span></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div><%#/日々進捗の区切り%>
  <div class="left-frame">
  <%#シフト/売上の区切り%>
    <% if @result_shift.blank? %>
      <p class="caution-text">予定シフトがありません。シフト申請を行ってください</p>
    <% else %>
    <h2 class="shift-h2">予定シフト：<%= @result_shift_min.strftime('%Y-%m-%d') %>（<%= days[@result_shift_min.wday] %>）〜<%= @result_shift_max.strftime('%Y-%m-%d') %>（<%= days[@result_shift_max.wday] %>）</h2>
    <% end %>
    <p class="caution-text">※売上は営業予想売上を参照しています。</p>
    <table>
      <tr>
        <th class="date-th">シフト（内訳）</th>
        <th class="date-th">予定</th>
        <th class="date-th">消化</th>
        <th class="date-th">残シフト</th>
        <th class="date-th">現状売上</th>
        <th class="date-th">Ave</th>
        <th class="date-th">予測終着</th>
      </tr>
      <tr>
        <td class="date-td">キャッシュレス新規</td><%# 欠勤 %>
        <td class="date-td"><%= @new_shift %></td>
        <td class="date-td"><%= @digestion_new %></td>
        <td class="date-td"><%= @new_shift - @digestion_new %></td>
        <td class="date-td"><%= @sales_new_profit_sum.to_s(:delimited) %></td>
        <td class="date-td"><%= @sales_new_profit_ave.round().to_s(:delimited) rescue "測定不可" %></td>
        <td class="date-td"><%= @sales_new_profit_fin.round().to_s(:delimited) rescue "測定不可" %></td>
      </tr>
      <tr>
        <td class="date-td">キャッシュレス決済</td>
        <td class="date-td"><%= @settlement_shift %></td>
        <td class="date-td"><%= @digestion_settlement %></td>
        <td class="date-td"><%= @settlement_shift - @digestion_settlement %></td>
        <td class="date-td"><%= @sales_slmt_profit_sum.to_s(:delimited) %></td>
        <td class="date-td"><%= @sales_slmt_profit_ave.round().to_s(:delimited) rescue "測定不可" %></td>
        <td class="date-td"><%= @sales_slmt_profit_fin.to_s(:delimited) rescue "測定不可" %></td>
      </tr>
      <tr>
        <td class="date-td">サミット</td>
        <td class="date-td"><%= @summit_shift %></td>
        <td class="date-td"><%= @digestion_summit %></td>
        <td class="date-td"><%= @summit_shift - @digestion_summit %></td>
        <td class="date-td"></td>
        <td class="date-td"></td>
        <td class="date-td"></td>
      </tr>
      <tr>
        <td class="date-td">楽天フェムト新規</td>
        <td class="date-td"><%= @casa_shift %></td>
        <td class="date-td"><%= @digestion_casa %></td>
        <td class="date-td"><%= @casa_shift - @digestion_casa %></td>
        <td class="date-td"></td>
        <td class="date-td"></td>
        <td class="date-td"></td>
      </tr>
      <tr>
        <td class="date-td">楽天フェムト設置</td>
        <td class="date-td"><%= @casa_put_shift %></td>
        <td class="date-td"><%= @digestion_casa_put %></td>
        <td class="date-td"><%= @casa_put_shift - @digestion_casa_put %></td>
        <td class="date-td"></td>
        <td class="date-td"></td>
        <td class="date-td"></td>
      </tr>
      <tr>
        <td class="date-td">帯同</td>
        <td class="date-td"><%= @ojt_shift %></td>
        <td class="date-td"><%= @digestion_ojt %></td>
        <td class="date-td"><%= @ojt_shift - @digestion_ojt %></td>
        <td class="date-td"></td>
        <td class="date-td"></td>
        <td class="date-td"></td>
      </tr>
      <tr>
        <td class="date-td">内勤</td>
        <td class="date-td"><%= @house_work_shift %></td>
        <td class="date-td"><%= @digestion_house_work %></td>
        <td class="date-td"><%= @house_work_shift - @digestion_house_work %></td>
        <td class="date-td"></td>
        <td class="date-td"></td>
        <td class="date-td"></td>
      </tr>
      <tr>
        <td class="date-td">合計</td>
        <td class="date-td"><%= shift_sum = @new_shift + @settlement_shift + @summit_shift + @casa_shift + @casa_put_shift + @ojt_shift + @house_work_shift %></td>
            <td class="date-td"><%= digestion_sum = @digestion_new + @digestion_settlement + @digestion_summit + @digestion_casa + @digestion_casa_put + @digestion_ojt + @digestion_house_work %></td>
        <td class="date-td"><%= shift_sum - digestion_sum %></td>
        <td class="date-td"><%= (@sales_new_profit_sum + @sales_slmt_profit_sum).to_s(:delimited) %></td>
        <td class="date-td"><%= @sales_profit_ave.round().to_s(:delimited) rescue "測定不可" %></td>
        <td class="date-td"><%= @sales_profit_fin.round().to_s(:delimited) rescue "測定不可" %></td>
      </tr>
    </table>
  <%#/シフト/売上の区切り%>
  <%#基準値区切り%>
      <h2>基準値</h2>
      <table class="total-tb">
        <thead>
          <tr>
            <th class="total-th">項目</th>
            <th class="total-th">内訳</th>
            <th class="total-th">合計</th>
            <th class="total-th">平均</th>
            <th class="total-th">比率</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th rowspan="4" class="total-th">合計</th>
            <th class="total-th">訪問</th>
            <td class="total-td"><%= @sum_visit %></td>
            <td class="total-td"><%= (@sum_visit.to_f / @digestion_new).to_f().round(1) %></td>
            <td class="total-td">-</td>
          </tr>
          <tr>
            <th class="total-th">面会</th>
            <td class="total-td"><%= @sum_interview %></td>
            <td class="total-td"><%= (@sum_interview.to_f / @digestion_new).to_f().round(1) %></td>
            <td class="total-td"><%= number_to_percentage(@sum_interview.to_f / @sum_visit.to_f * 100, precision: 1)  %></td>
          </tr>
          <tr>
            <th class="total-th">フル</th>
            <td class="total-td"><%= @sum_full_talk %></td>
            <td class="total-td"><%= (@sum_full_talk.to_f / @digestion_new).to_f.round(1) %></td>
            <td class="total-td"><%= number_to_percentage(@sum_full_talk.to_f / @sum_interview.to_f * 100, precision: 1)  %></td>
          </tr>
          <tr>
            <th class="total-th">成約</th>
            <td class="total-td"><%= @sum_get %></td>
            <td class="total-td"><%= (@sum_get.to_f / @digestion_new).to_f.round(1) %></td>
            <td class="total-td"><%= number_to_percentage(@sum_get.to_f / @sum_full_talk.to_f * 100, precision: 1)  %></td>
          </tr>
          <tr>
            <th rowspan="4" class="total-th">前半</th>
            <th class="total-th">訪問</th>
            <td class="total-td"><%= @sum_visit_f %></td>
            <td class="total-td"><%= (@sum_visit_f.to_f / @digestion_new).round(1) %></td>
            <td class="total-td">-</td>
          </tr>
          <tr>
            <th class="total-th">面会</th>
            <td class="total-td"><%= @sum_interview_f %></td>
            <td class="total-td"><%= (@sum_interview_f.to_f / @digestion_new).round(1) %></td>
            <td class="total-td"><%= number_to_percentage(@sum_interview_f.to_f / @sum_visit_f.to_f * 100, precision: 1)  %></td>
          </tr>
          <tr>
            <th class="total-th">フル</th>
            <td class="total-td"><%= @sum_full_talk_f %></td>
            <td class="total-td"><%= (@sum_full_talk_f.to_f / @digestion_new).round(1) %></td>
            <td class="total-td"><%= number_to_percentage(@sum_full_talk_f.to_f / @sum_interview_f.to_f * 100, precision: 1)  %></td>
          </tr>
          <tr>
            <th class="total-th">成約</th>
            <td class="total-td"><%= @sum_get_f %></td>
            <td class="total-td"><%= (@sum_get_f.to_f / @digestion_new).round(1) %></td>
            <td class="total-td"><%= number_to_percentage(@sum_get_f.to_f / @sum_full_talk_f.to_f * 100, precision: 1)  %></td>
          </tr>
          <tr>
            <th rowspan="4" class="total-th">後半</th>
            <th class="total-th">訪問</th>
            <td class="total-td"><%= @sum_visit_l %></td>
            <td class="total-td"><%= (@sum_visit_l.to_f / @digestion_new).round(1) %></td>
            <td class="total-td">-</td>
          </tr>
          <tr>
            <th class="total-th">面会</th>
            <td class="total-td"><%= @sum_interview_l %></td>
            <td class="total-td"><%= (@sum_interview_l.to_f / @digestion_new).round(1) %></td>
            <td class="total-td"><%= number_to_percentage(@sum_interview_l.to_f / @sum_visit_l.to_f * 100, precision: 1)  %></td>
          </tr>
          <tr>
            <th class="total-th">フル</th>
            <td class="total-td"><%= @sum_full_talk_l %></td>
            <td class="total-td"><%= (@sum_full_talk_l.to_f / @digestion_new).round(1) %></td>
            <td class="total-td"><%= number_to_percentage(@sum_full_talk_l.to_f / @sum_interview_l.to_f * 100, precision: 1)  %></td>
          </tr>
          <tr>
            <th class="total-th">成約</th>
            <td class="total-td"><%= @sum_get_l %></td>
            <td class="total-td"><%= (@sum_get_l.to_f / @digestion_new).round(1) %></td>
            <td class="total-td"><%= number_to_percentage(@sum_get_l.to_f / @sum_full_talk_l.to_f * 100, precision: 1)  %></td>
          </tr>
        </tbody>
      </table>
  <%#/基準値区切り%>
  <%# 店舗別基準値 %>
    <h2>店舗別基準値</h2>

    <table class="out-tb">
      <thead>
        <th class="total-th">項目</th>
        <th class="total-th">内訳</th>
        <th class="total-th">合計</th>
        <th class="total-th">平均</th>
        <th class="total-th">成約率</th>
      </thead>
      <tbody>
      <tr>
        <th rowspan="2" class="total-th">喫茶・カフェ</th>
        <th class="total-th">訪問</th>
        <td class="total-td"><%= @cafe_visit_sum %></td>
        <td class="total-td"><%= (@cafe_visit_sum.to_f / @digestion_new).round(1) %></td>
        <td class="total-td">-</td>
      </tr>
      <tr>
        <th class="total-th">成約</th>
        <td class="total-td"><%= @cafe_get_sum %></td>
        <td class="total-td"><%= (@cafe_get_sum.to_f / @digestion_new).round(1) %></td>
        <td class="total-td"><%= number_to_percentage(@cafe_get_sum.to_f / @cafe_visit_sum.to_f * 100, precision: 1) %></td>
      </tr>
      <tr>
        <th rowspan="2" class="total-th">その他飲食</th>
        <th class="total-th">訪問</th>
        <td class="total-td"><%= @other_food_visit_sum %></td>
        <td class="total-td"><%= (@other_food_visit_sum.to_f / @digestion_new).round(1) %></td>
        <td class="total-td">-</td>
      </tr>
      <tr>
        <th class="total-th">成約</th>
        <td class="total-td"><%= @other_food_get_sum %></td>
        <td class="total-td"><%= (@other_food_get_sum.to_f / @digestion_new).round(1) %></td>
        <td class="total-td"><%= number_to_percentage(@other_food_get_sum.to_f / @other_food_visit_sum.to_f * 100, precision: 1) %></td>
      </tr>
      <tr>
        <th rowspan="2" class="total-th">車屋</th>
        <th class="total-th">訪問</th>
        <td class="total-td"><%= @car_visit_sum %></td>
        <td class="total-td"><%= (@car_visit_sum.to_f / @digestion_new).round(1) %></td>
        <td class="total-td">-</td>

      </tr>
      <tr>
        <th class="total-th">成約</th>
        <td class="total-td"><%= @car_get_sum %></td>
        <td class="total-td"><%= (@car_get_sum.to_f / @digestion_new).round(1) %></td>
        <td class="total-td"><%= number_to_percentage(@car_get_sum.to_f / @car_visit_sum.to_f * 100, precision: 1) %></td>
      </tr>
      <tr>
        <th rowspan="2" class="total-th">その他小売</th>
        <th class="total-th">訪問</th>
        <td class="total-td"><%= @other_retail_visit_sum %></td>
        <td class="total-td"><%= (@other_retail_visit_sum.to_f / @digestion_new).round(1) %></td>
        <td class="total-td">-</td>
      </tr>
      <tr>
        <th class="total-th">成約</th>
        <td class="total-td"><%= @other_retail_get_sum %></td>
        <td class="total-td"><%= (@other_retail_get_sum.to_f / @digestion_new).round(1) %></td>
        <td class="total-td"><%= number_to_percentage(@other_retail_get_sum.to_f / @other_retail_visit_sum.to_f * 100, precision: 1) %></td>
      </tr>
      <tr>
        <th rowspan="2" class="total-th">理容・美容</th>
        <th class="total-th">訪問</th>
        <td class="total-td"><%= @hair_salon_visit_sum %></td>
        <td class="total-td"><%= (@hair_salon_visit_sum.to_f / @digestion_new).round(1) %></td>
        <td class="total-td">-</td>
      </tr>
      <tr>
        <th class="total-th">成約</th>
        <td class="total-td"><%= @hair_salon_get_sum %></td>
        <td class="total-td"><%= (@hair_salon_get_sum.to_f / @digestion_new).round(1) %></td>
        <td class="total-td"><%= number_to_percentage(@hair_salon_get_sum.to_f / @hair_salon_visit_sum.to_f * 100, precision: 1) %></td>
      </tr>
      <tr>
        <th rowspan="2" class="total-th">整体・鍼灸</th>
        <th class="total-th">訪問</th>
        <td class="total-td"><%= @manipulative_visit_sum %></td>
        <td class="total-td"><%= (@manipulative_visit_sum.to_f / @digestion_new).round(1) %></td>
        <td class="total-td">-</td>
      </tr>
      <tr>
        <th class="total-th">成約</th>
        <td class="total-td"><%= @manipulative_get_sum %></td>
        <td class="total-td"><%= (@manipulative_get_sum.to_f / @digestion_new).round(1) %></td>
        <td class="total-td"><%= number_to_percentage(@manipulative_get_sum.to_f / @manipulative_visit_sum.to_f * 100, precision: 1) %></td>
      </tr>
      <tr>
        <th rowspan="2" class="total-th">その他サービス</th>
        <th class="total-th">訪問</th>
        <td class="total-td"><%= @other_service_visit_sum %></td>
        <td class="total-td"><%= (@other_service_visit_sum.to_f / @digestion_new).round(1) %></td>
        <td class="total-td">-</td>
      </tr>
      <tr>
        <th class="total-th">成約</th>
        <td class="total-td"><%= @other_service_get_sum %></td>
        <td class="total-td"><%= (@other_service_get_sum.to_f / @digestion_new).round(1) %></td>
        <td class="total-td"><%= number_to_percentage(@other_service_get_sum.to_f / @other_service_visit_sum.to_f * 100, precision: 1) %></td>
      </tr>
      </tbody>
    </table>
  <%# /店舗別基準値 %>
  <%# 切り返し区切り %>
      <h2>切り返し</h2>
      <table class="total-tb">
        <thead>
        <tr>
          <th class="total-th">切り返し内容</th>
          <th class="total-th">内訳</th>
          <th class="total-th">合計</th>
          <th class="total-th">平均</th>
          <th class="total-th">成約率</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th rowspan="3" class="total-th">０１：どういうこと？</th>
          <th class="total-th">決済者面会</th>
          <td class="total-td"><%= @results_out.sum(:out_interview_01) %></td>
          <td class="total-td"><%= @results_out.average(:out_interview_01).to_f.round(1) %></td>
          <td class="total-td"></td>
        </tr>
        <tr>
          <th class="total-th">フル数</th>
          <td class="total-td"><%= @results_out.sum(:out_full_talk_01) %></td>
          <td class="total-td"><%= @results_out.average(:out_full_talk_01).to_f.round(1) %></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_full_talk_01).to_f / @results_out.sum(:out_interview_01).to_f * 100,precision: 1) %></td>
        </tr>
        <tr>
          <th class="total-th">成約数</th>
          <td class="total-td"><%= @results_out.sum(:out_get_01) %></td>
          <td class="total-td"><%= @results_out.average(:out_get_01).to_f.round(1)%></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_get_01).to_f / @results_out.sum(:out_full_talk_01).to_f * 100,precision: 1) %></td>
        </tr>
        <tr>
        <th rowspan="3" class="total-th">０２：君は誰？協会？</th>
          <th class="total-th">決済者面会</th>
          <td class="total-td"><%= @results_out.sum(:out_interview_02) %></td>
          <td class="total-td"><%= @results_out.average(:out_interview_02).to_f.round(1) %></td>
          <td class="total-td"></td>
        </tr>
        <tr>
          <th class="total-th">フル数</th>
          <td class="total-td"><%= @results_out.sum(:out_full_talk_02) %></td>
          <td class="total-td"><%= @results_out.average(:out_full_talk_02).to_f.round(1) %></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_full_talk_02).to_f / @results_out.sum(:out_interview_02).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
          <th class="total-th">成約数</th>
          <td class="total-td"><%= @results_out.sum(:out_get_02) %></td>
          <td class="total-td"><%= @results_out.average(:out_get_02).to_f.round(1) %></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_get_02).to_f / @results_out.sum(:out_full_talk_02).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
        <th rowspan="3" class="total-th">０３：もらうだけでいいの？</th>
          <th class="total-th">決済者面会</th>
          <td class="total-td"><%= @results_out.sum(:out_interview_03) %></td>
          <td class="total-td"><%= @results_out.average(:out_interview_03).to_f.round(1) %></td>
          <td class="total-td"></td>
        </tr>
        <tr>
          <th class="total-th">フル数</th>
          <td class="total-td"><%= @results_out.sum(:out_full_talk_03) %></td>
          <td class="total-td"><%= @results_out.average(:out_full_talk_03).to_f.round(1) %></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_full_talk_03).to_f / @results_out.sum(:out_interview_03).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
          <th class="total-th">成約数</th>
          <td class="total-td"><%= @results_out.sum(:out_get_03) %></td>
          <td class="total-td"><%= @results_out.average(:out_get_03).to_f.round(1) %></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_get_03).to_f / @results_out.sum(:out_full_talk_03).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
        <th rowspan="3" class="total-th">０４：PayPayのみ</th>
          <th class="total-th">決済者面会</th>
          <td class="total-td"><%= @results_out.sum(:out_interview_04) %></td>
          <td class="total-td"><%= @results_out.average(:out_interview_04).to_f.round(1) %></td>
          <td class="total-td"></td>
        </tr>
        <tr>
          <th class="total-th">フル数</th>
          <td class="total-td"><%= @results_out.sum(:out_full_talk_04) %></td>
          <td class="total-td"><%= @results_out.average(:out_full_talk_04).to_f.round(1) %></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_full_talk_04).to_f / @results_out.sum(:out_interview_04).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
          <th class="total-th">成約数</th>
          <td class="total-td"><%= @results_out.sum(:out_get_04) %></td>
          <td class="total-td"><%= @results_out.average(:out_get_04).to_f.round(1) %></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_get_04).to_f / @results_out.sum(:out_full_talk_04).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
        <th rowspan="3" class="total-th">０５：AirPayのみ</th>
          <th class="total-th">決済者面会</th>
          <td class="total-td"><%= @results_out.sum(:out_interview_05) %></td>
          <td class="total-td"><%= @results_out.average(:out_interview_05).to_f.round(1) %></td>
          <td class="total-td"></td>
        </tr>
        <tr>
          <th class="total-th">フル数</th>
          <td class="total-td"><%= @results_out.sum(:out_full_talk_05) %></td>
          <td class="total-td"><%= @results_out.average(:out_full_talk_05).to_f.round(1) %></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_full_talk_05).to_f / @results_out.sum(:out_interview_05).to_f * 100,precision: 1) %></td>
        </tr>
        <tr>
          <th class="total-th">成約数</th>
          <td class="total-td"><%= @results_out.sum(:out_get_05) %></td>
          <td class="total-td"><%= @results_out.average(:out_get_05).to_f.round(1) %></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_get_05).to_f / @results_out.sum(:out_full_talk_05).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
        <th rowspan="3" class="total-th">０６：カードのみ</th>
          <th class="total-th">決済者面会</th>
          <td class="total-td"><%= @results_out.sum(:out_interview_06) %></td>
          <td class="total-td"><%= @results_out.average(:out_interview_06).to_f.round(1) %></td>
          <td class="total-td"></td>
        </tr>
        <tr>
          <th class="total-th">フル数</th>
          <td class="total-td"><%= @results_out.sum(:out_full_talk_06) %></td>
          <td class="total-td"><%= @results_out.average(:out_full_talk_06).to_f.round(1) %></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_full_talk_06).to_f / @results_out.sum(:out_interview_06).to_f * 100,precision: 1) %></td>
        </tr>
        <tr>
          <th class="total-th">成約数</th>
          <td class="total-td"><%= @results_out.sum(:out_get_06) %></td>
          <td class="total-td"><%= @results_out.average(:out_get_06).to_f.round(1) %></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_get_06).to_f / @results_out.sum(:out_full_talk_06).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
        <th rowspan="3" class="total-th">０７：先延ばし</th>
          <th class="total-th">決済者面会</th>
          <td class="total-td"><%= @results_out.sum(:out_interview_07) %></td>
          <td class="total-td"><%= @results_out.average(:out_interview_07).to_f.round(1) %></td>
          <td class="total-td"></td>
        </tr>
        <tr>
          <th class="total-th">フル数</th>
          <td class="total-td"><%= @results_out.sum(:out_full_talk_07) %></td>
          <td class="total-td"><%= @results_out.average(:out_full_talk_07).to_f.round(1) %></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_full_talk_07).to_f / @results_out.sum(:out_interview_07).to_f * 100,precision: 1) %></td>
        </tr>
        <tr>
          <th class="total-th">成約数</th>
          <td class="total-td"><%= @results_out.sum(:out_get_07) %></td>
          <td class="total-td"><%= @results_out.average(:out_get_07).to_f.round(1) %></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_get_07).to_f / @results_out.sum(:out_full_talk_07).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
        <th rowspan="3" class="total-th">０８：忙しい</th>
          <th class="total-th">決済者面会</th>
          <td class="total-td"><%= @results_out.sum(:out_interview_08) %></td>
          <td class="total-td"><%= @results_out.average(:out_interview_08).to_f.round(1) %></td>
          <td class="total-td"></td>
        </tr>
        <tr>
          <th class="total-th">フル数</th>
          <td class="total-td"><%= @results_out.sum(:out_full_talk_08) %></td>
          <td class="total-td"><%= @results_out.average(:out_full_talk_08).to_f.round(1) %></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_full_talk_08).to_f / @results_out.sum(:out_interview_08).to_f * 100,precision: 1) %></td>
        </tr>
        <tr>
          <th class="total-th">成約数</th>
          <td class="total-td"><%= @results_out.sum(:out_get_08) %></td>
          <td class="total-td"><%= @results_out.average(:out_get_08).to_f.round(1) %></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_get_08).to_f / @results_out.sum(:out_full_talk_08).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
        <th rowspan="3" class="total-th">０９：現金のみ</th>
          <th class="total-th">決済者面会</th>
          <td class="total-td"><%= @results_out.sum(:out_interview_09) %></td>
          <td class="total-td"><%= @results_out.average(:out_interview_09).to_f.round(1) %></td>
          <td class="total-td"></td>
        </tr>
        <tr>
          <th class="total-th">フル数</th>
          <td class="total-td"><%= @results_out.sum(:out_full_talk_09) %></td>
          <td class="total-td"><%= @results_out.average(:out_full_talk_09).to_f.round(1) %></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_full_talk_09).to_f / @results_out.sum(:out_interview_09).to_f * 100,precision: 1) %></td>
        </tr>
        <tr>
          <th class="total-th">成約数</th>
          <td class="total-td"><%= @results_out.sum(:out_get_09) %></td>
          <td class="total-td"><%= @results_out.average(:out_get_09).to_f.round(1) %></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_get_09).to_f / @results_out.sum(:out_full_talk_09).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
        <th rowspan="3" class="total-th">１０：面倒くさい</th>
          <th class="total-th">決済者面会</th>
          <td class="total-td"><%= @results_out.sum(:out_interview_10) %></td>
          <td class="total-td"><%= @results_out.average(:out_interview_10).to_f.round(1) %></td>
          <td class="total-td"></td>
        </tr>
        <tr>
          <th class="total-th">フル数</th>
          <td class="total-td"><%= @results_out.sum(:out_full_talk_10) %></td>
          <td class="total-td"><%= @results_out.average(:out_full_talk_10).to_f.round(1) %></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_full_talk_10).to_f / @results_out.sum(:out_interview_10).to_f * 100,precision: 1) %></td>
        </tr>
        <tr>
          <th class="total-th">成約数</th>
          <td class="total-td"><%= @results_out.sum(:out_get_10) %></td>
          <td class="total-td"><%= @results_out.average(:out_get_10).to_f.round(1) %></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_get_10).to_f / @results_out.sum(:out_full_talk_10).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
        <th rowspan="3" class="total-th">１１：情報不足</th>
          <th class="total-th">決済者面会</th>
          <td class="total-td"><%= @results_out.sum(:out_interview_11) %></td>
          <td class="total-td"><%= @results_out.average(:out_interview_11).to_f.round(1) %></td>
          <td class="total-td"></td>
        </tr>
        <tr>
          <th class="total-th">フル数</th>
          <td class="total-td"><%= @results_out.sum(:out_full_talk_11) %></td>
          <td class="total-td"><%= @results_out.average(:out_full_talk_11).to_f.round(1) %></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_full_talk_11).to_f / @results_out.sum(:out_interview_11).to_f * 100,precision: 1) %></td>
        </tr>
        <tr>
          <th class="total-th">成約数</th>
          <td class="total-td"><%= @results_out.sum(:out_get_11) %></td>
          <td class="total-td"><%= @results_out.average(:out_get_11).to_f.round(1) %></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_get_11).to_f / @results_out.sum(:out_full_talk_11).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
        <th rowspan="3" class="total-th">１２：ペロ</th>
          <th class="total-th">決済者面会</th>
          <td class="total-td"><%= @results_out.sum(:out_interview_12) %></td>
          <td class="total-td"><%= @results_out.average(:out_interview_12).to_f.round(1) %></td>
          <td class="total-td"></td>
        </tr>
        <tr>
          <th class="total-th">フル数</th>
          <td class="total-td"><%= @results_out.sum(:out_full_talk_12) %></td>
          <td class="total-td"><%= @results_out.average(:out_full_talk_12).to_f.round(1) %></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_full_talk_12).to_f / @results_out.sum(:out_interview_12).to_f * 100,precision: 1) %></td>
        </tr>
        <tr>
          <th class="total-th">成約数</th>
          <td class="total-td"><%= @results_out.sum(:out_get_12) %></td>
          <td class="total-td"><%= @results_out.average(:out_get_12).to_f.round(1) %></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_get_12).to_f / @results_out.sum(:out_full_talk_12).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
        <th rowspan="3" class="total-th">１３：その他</th>
          <th class="total-th">決済者面会</th>
          <td class="total-td"><%= @results_out.sum(:out_interview_13) %></td>
          <td class="total-td"><%= @results_out.average(:out_interview_13).to_f.round(1) %></td>
          <td class="total-td"></td>
        </tr>
        <tr>
          <th class="total-th">フル数</th>
          <td class="total-td"><%= @results_out.sum(:out_full_talk_13) %></td>
          <td class="total-td"><%= @results_out.average(:out_full_talk_13).to_f.round(1) %></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_full_talk_13).to_f / @results_out.sum(:out_interview_13).to_f * 100,precision: 1) %></td>
        </tr>
        <tr>
          <th class="total-th">成約数</th>
          <td class="total-td"><%= @results_out.sum(:out_get_13) %></td>
          <td class="total-td"><%= @results_out.average(:out_get_13).to_f.round(1) %></td>
          <td class="total-td"><%= number_to_percentage(@results_out.sum(:out_get_13).to_f / @results_out.sum(:out_full_talk_13).to_f * 100,precision: 1)  %></td>
        </tr>
        </tbody>
      </table>
  <%# /切り返し区切り %>
  <%# 時間別基準値 %>
  <h2>時間別基準値</h2>
    <table class="out-tb">
      <thead>
        <th class="total-th">訪問時間</th>
        <th class="total-th">内訳</th>
        <th class="total-th">合計</th>
        <th class="total-th">平均</th>
        <th class="total-th">成約率</th>
      </thead>
      <tbody>
      <% time = 10 %>
      <% cnt = 0 %>
      <% 10.times do %>
      <tr>
        <th rowspan="2" class="total-th"><%= time %>時</th>
        <th class="total-th">訪問</th>
        <td class="total-td"><%= @time_visit_sum[cnt] %></td>
        <td class="total-td"><%= @time_visit_ave[cnt] %></td>
        <td class="total-td">-</td>
      </tr>
      <tr>
        <th class="total-th">成約</th>
        <td class="total-td"><%= @time_get_sum[cnt] %></td>
        <td class="total-td"><%= @time_get_ave[cnt] %></td>
        <td class="total-td"><%= number_to_percentage(@time_get_sum[cnt].to_f / @time_visit_sum[cnt].to_f * 100, precision: 1) %></td>
      </tr>
      <% time += 1 %>
      <% cnt += 1 %>
      <% end %>
      </tbody>
    </table>
  <%# /時間別基準値 %>
  </div>
</div>
<div class="result-flex">
  <div>
  <%# 週間基準値 %>
    <% if 
      @digestion_new.present? && 
      @results_date_min.month == @results_date_max.prev_month.month 
    %>
      <h2>週間基準値（新規のみ）</h2>
      <p class="caution-text">※こちらの情報に増減は含まれておりません</p>
      <table>
      <thead>
        <tr>
          <th class="total-th" colspan="2">期間</th>
          <th class="total-th">消化シフト</th>
          <th class="total-th">売上</th>
          <th class="total-th">平均</th>
          <th class="total-th">dメル生産性</th>
          <th class="total-th">auPay生産性</th>
          <th class="total-th" colspan="2">　訪問　</th>
          <th class="total-th" colspan="2">面会</th>
          <th class="total-th" colspan="2">フル</th>
          <th class="total-th" colspan="2">成約</th>
        </tr>
      </thead>
      <tbody>
    <%# 目標変数 %>
      <% goal_valuations = 1200000 %>
      <% goal_ave = 67500 %>
      <% goal_dmer = 2.5 %>
      <% goal_aupay = 2.5 %>
      <% goal_visit = 20.0 %>
      <% goal_interview = 12.0 %>
      <% goal_interview_ratio = 60 %>
      <% goal_full_talk = 8.0 %>
      <% goal_full_talk_ratio = 67 %>
      <% goal_get = 2.5 %>
      <% goal_get_ratio = 31 %>
    <%# 目標 %>
    <%# 死守変数 %>
      <% dg_valuations = 800000 %>
      <% dg_ave = 40500 %>
      <% dg_dmer = 1.5 %>
      <% dg_aupay = 1.5 %>
      <% dg_visit = 20.0 %>
      <% dg_interview = 12.0 %>
      <% dg_interview_ratio = 60 %>
      <% dg_full_talk = 7.0 %>
      <% dg_full_talk_ratio = 58 %>
      <% dg_get = 1.5 %>
      <% dg_get_ratio = 31 %>
    <%# 死守変数 %>
      <tr>
        <td colspan="2" class="total-td" style="color:blue;">目標</td>
        <td class="total-td"></td>
        <td class="total-td" style="color:blue;"><%= goal_valuations.to_s(:delimited)  %></td>
        <td class="total-td" style="color:blue;"><%= goal_ave.to_s(:delimited)  %></td>
        <td class="total-td" style="color:blue;"><%= goal_dmer.to_s(:delimited)  %></td>
        <td class="total-td" style="color:blue;"><%= goal_aupay.to_s(:delimited)  %></td>
        <td class="total-td" colspan="2" style="color:blue;"><%= goal_visit.to_s(:delimited)  %></td>
        <td class="total-td" style="color:blue;"><%= goal_interview  %></td>
        <td class="total-td" style="color:blue;"><%= goal_interview_ratio  %>%</td>
        <td class="total-td" style="color:blue;"><%= goal_full_talk %></td>
        <td class="total-td" style="color:blue;"><%= goal_full_talk_ratio  %>%</td>
        <td class="total-td" style="color:blue;"><%= goal_get %></td>
        <td class="total-td" style="color:blue;"><%= goal_get_ratio %>%</td>
      </tr>
        <tr>
          <td colspan="2" class="total-td" style="color:red;">死守</td>
          <td class="total-td" ></td>
          <td class="total-td" style="color:red;"><%= dg_valuations.to_s(:delimited)  %></td>
          <td class="total-td" style="color:red;"><%= dg_ave.to_s(:delimited)  %></td>
          <td class="total-td" style="color:red;"><%= dg_dmer.to_s(:delimited)  %></td>
          <td class="total-td" style="color:red;"><%= dg_aupay.to_s(:delimited)  %></td>
          <td class="total-td" colspan="2" style="color:red;"><%= dg_visit.to_s(:delimited)  %></td>
          <td class="total-td" style="color:red;"><%= dg_interview  %></td>
          <td class="total-td" style="color:red;"><%= dg_interview_ratio  %>%</td>
          <td class="total-td" style="color:red;"><%= dg_full_talk %></td>
          <td class="total-td" style="color:red;"><%= dg_full_talk_ratio  %>%</td>
          <td class="total-td" style="color:red;"><%= dg_get %></td>
          <td class="total-td" style="color:red;"><%= dg_get_ratio %>%</td>
        </tr>
    <%# 商材（週間の評価売上変数） %>
      <% weeks = [@results_week1, @results_week2,@results_week3, @results_week4, @results_week5] %>
      <% week_cnt = 1 %>
      <% week_sum_shift = 0 %>
      <% dmer_sum_len_week = 0 %>
      <% aupay_sum_len_week = 0 %>
      <% week_sum_valuations = 0 %>
      <% week_sum_visit = 0 %>
      <% week_sum_interview = 0 %>
      <% week_sum_full_talk = 0 %>
      <% week_sum_get = 0 %>
      <% weeks.each do |week| %>
      <% week_valuations = 0 %>
      <% week_ave = 0 %>
      <%# dメル %>
        <%# 新規 %>
          <% dmer_uq_week = this_period(@dmer_user,week).where(store_prop: {head_store: nil}) %>
          <% if week.length == 0 %>
          <% dmer_valuations_week = 0 %>
          <% dmer_len_week = 0 %>
          <% else %>
          <% dmer_valuations_week = dmer_uq_week.sum(:valuation_new) rescue 0 %>
          <% week_valuations += dmer_valuations_week %>
          <% 
            dmer_len_week =  
              dmer_uq_week.length
          %>
          <% end %>
          <% dmer_sum_len_week += dmer_len_week %>
          <%# week_valuations += dmer_slmt2nd_valuations %>
      <%# aupay %>
        <%# 新規 %>
          <% 
            aupay_uq_week = 
              this_period(@aupay_user,week)
              .where(store_prop: {head_store: nil})
          %>
          <%# 合計 %>
        <% if week.length == 0 %>
          <% aupay_valuations_week = 0 %>
          <% aupay_len_week = 0 %>
        <% else %>
          <% 
            aupay_valuations_week =
              aupay_uq_week.sum(:valuation_new) rescue 0
          %>
          <% week_valuations += aupay_valuations_week %>
          <% 
            aupay_len_week = 
              aupay_uq_week.length
          %>
        <% end %>
          <% aupay_sum_len_week += aupay_len_week %>
        <%# 決済 %>
      <%# PayPay %>
        <% paypay_data_week = this_period(@paypay_user ,week) %>
        <% if week.length == 0 %>
        <% paypay_valuations_week = 0 %>
        <% else %>
        <% paypay_valuations_week = paypay_data_week.sum(:valuation) rescue 0 %>
        <% week_valuations += paypay_valuations_week %>
        <% end %>
      <%# 少額短期保険 %>
      <%# 楽天ペイ %>
        <% 
          rakuten_pay_uq_week =
            this_period(@rakuten_pay_user,week)
        %>
        <% if week.length == 0 %>
          <% rakuten_pay_valuations_week = 0 %>
          <% else %>
          <%
            rakuten_pay_valuations_week = rakuten_pay_uq_week.sum(:valuation) rescue 0
          %>
        <% end %>
          <% week_valuations += rakuten_pay_valuations_week %>
        <%# シフト %>
          <% week_shift = week.where(shift: "キャッシュレス新規").length %>
        <%# 基準値 %>
          <% week_visit = week.sum("first_visit + latter_visit") %>
          <% week_interview = week.sum("first_interview + latter_interview") %>
          <% week_full_talk = week.sum("first_full_talk + latter_full_talk") %>
          <% week_get = week.sum("first_get + latter_get") %>
        <%# 合計 %>
          <% week_sum_shift += week_shift %>
          <% week_sum_valuations += week_valuations %>
          <% week_sum_visit += week_visit %>
          <% week_sum_interview += week_interview %>
          <% week_sum_full_talk += week_full_talk %>
          <% week_sum_get += week_get %>
        <%# 平均 %>
          <% week_visit_ave = week_visit.to_f / week_shift %>
          <% week_interview_ave = week_interview.to_f / week_shift %>
          <% week_full_talk_ave = week_full_talk.to_f / week_shift %>
          <% week_get_ave = week_get.to_f / week_shift %>
        <tr>
        </tr>
        <tr>
        <% if week_shift != 0 %>
          <td class="total-td"><%= week_cnt %>週目</td>
          <% if week.present? %>
          <td class="total-td">（<%= week.minimum(:date).strftime('%m/%d') %>-<%= week.maximum(:date).strftime('%m/%d') %>）</td>
          <% else %>
          <td class="total-td">不明</td>
          <% end %>
          <td class="total-td"><%= week_shift %></td>
          <td class="total-td"><%= week_valuations.to_s(:delimited) %></td>
          <% if week_valuations / week_shift >= goal_ave %>
          <td class="total-td" style="color:blue;"><%= (week_valuations / week_shift).round().to_s(:delimited) rescue "NaN" %></td>
          <% elsif dg_ave > week_valuations / week_shift %>
          <td class="total-td" style="color:red;"><%= (week_valuations / week_shift).round().to_s(:delimited) rescue "NaN" %></td>
          <% else %>
          <td class="total-td"><%= (week_valuations / week_shift).round().to_s(:delimited) rescue "NaN" %></td>
          <% end %>

          <% dmer_len_week_ave = dmer_len_week.to_f / week_shift rescue 0 %>
          <% if dmer_len_week_ave >= goal_dmer %>
          <td class="total-td" style="color:blue;"><%= (dmer_len_week_ave).round(1) rescue "NaN" %></td>
          <% elsif dg_dmer > dmer_len_week_ave %>
          <td class="total-td" style="color:red;"><%= (dmer_len_week_ave).round(1) rescue "NaN" %></td>
          <% else %>
          <td class="total-td"><%= (dmer_len_week_ave).round(1) rescue "NaN" %></td>
          <% end %>

          <% if aupay_len_week.to_f / week_shift >= goal_aupay %>
          <td class="total-td" style="color:blue;"><%= (aupay_len_week.to_f / week_shift).round(1) rescue "NaN" %></td>
          <% elsif dg_aupay > aupay_len_week.to_f / week_shift %>
          <td class="total-td" style="color:red;"><%= (aupay_len_week.to_f / week_shift).round(1) rescue "NaN" %></td>
          <% else %>
          <td class="total-td" ><%= (aupay_len_week.to_f / week_shift).round(1) rescue "NaN" %></td>
          <% end %>

          <% if week_visit_ave >= goal_visit %>
          <td class="total-td" colspan="2" style="color:blue;"><%= week_visit_ave.round(1).to_s(:delimited) rescue "NaN" %></td>
          <% elsif dg_visit > week_visit_ave %>
          <td class="total-td" colspan="2" style="color:red;"><%= week_visit_ave.round(1).to_s(:delimited) rescue "NaN" %></td>
          <% else %>
          <td class="total-td" colspan="2"><%= week_visit_ave.round(1).to_s(:delimited) rescue "NaN" %></td>
          <% end %>

          <% if week_interview_ave >= goal_interview %>
          <td class="total-td" style="color:blue;"><%= week_interview_ave.round(1) rescue "NaN" %></td>
          <% elsif dg_interview > week_interview_ave %>
          <td class="total-td" style="color:red;"><%= week_interview_ave.round(1) rescue "NaN" %></td>
          <% else %>
          <td class="total-td"><%= week_interview_ave.round(1) rescue "NaN" %></td>
          <% end %>

          <% if (week_interview_ave / week_visit_ave * 100) >= goal_interview_ratio %>
          <td class="total-td" style="color: blue;"><%= number_to_percentage(week_interview_ave / week_visit_ave * 100, precision: 0) rescue "NaN" %></td>
          <% elsif dg_interview_ratio > (week_interview_ave / week_visit_ave * 100) %>
          <td class="total-td" style="color: red;"><%= number_to_percentage(week_interview_ave / week_visit_ave * 100, precision: 0) rescue "NaN" %></td>
          <% else %>
          <td class="total-td"><%= number_to_percentage(week_interview_ave / week_visit_ave * 100, precision: 0) rescue "NaN" %></td>
          <% end %>

          <% if week_full_talk_ave >= goal_full_talk %>
          <td class="total-td" style="color:blue;"><%= week_full_talk_ave.round(1) rescue "NaN" %></td>
          <% elsif dg_interview > week_full_talk_ave %>
          <td class="total-td" style="color:red;"><%= week_full_talk_ave.round(1) rescue "NaN" %></td>
          <% else %>
          <td class="total-td"><%= week_full_talk_ave.round(1) rescue "NaN" %></td>
          <% end %>

          <% if (week_full_talk_ave / week_interview_ave * 100) >= goal_full_talk_ratio %>
          <td class="total-td" style="color:blue;"><%= number_to_percentage(week_full_talk_ave / week_interview_ave * 100, precision: 0) rescue "NaN" %></td>
          <% elsif dg_full_talk_ratio > (week_full_talk_ave / week_interview_ave * 100) %>
          <td class="total-td" style="color:red;"><%= number_to_percentage(week_full_talk_ave / week_interview_ave * 100, precision: 0) rescue "NaN" %></td>
          <% else %>
          <td class="total-td"><%= number_to_percentage(week_full_talk_ave / week_interview_ave * 100, precision: 0) rescue "NaN" %></td>
          <% end %>

          <% if week_get >= goal_get %>
          <td class="total-td" style="color:blue;"><%= week_get_ave.round(1) rescue "NaN" %></td>
          <% elsif dg_get > week_get %>
          <td class="total-td" style="color:red;"><%= week_get_ave.round(1) rescue "NaN" %></td>
          <% else %>
          <td class="total-td"><%= week_get_ave.round(1) rescue "NaN" %></td>
          <% end %>

          <% if (week_get_ave / week_full_talk_ave * 100) >= goal_get_ratio %>
          <td class="total-td" style="color:blue;"><%= number_to_percentage(week_get_ave / week_full_talk_ave * 100, precision: 0) rescue "NaN" %></td>
          <% elsif dg_get_ratio > (week_get_ave / week_full_talk_ave * 100) %>
          <td class="total-td" style="color:red;"><%= number_to_percentage(week_get_ave / week_full_talk_ave * 100, precision: 0) rescue "NaN" %></td>
          <% else %>
          <td class="total-td"><%= number_to_percentage(week_get_ave / week_full_talk_ave * 100, precision: 0) rescue "NaN" %></td>
          <% end %>
          </tr>
            <% week_cnt += 1 %>
          <% end %>
        <% end %>
        <% week_sum_visit_ave = week_sum_visit.to_f / week_sum_shift %>
        <% week_sum_interview_ave = week_sum_interview.to_f / week_sum_shift %>
        <% week_sum_full_talk_ave = week_sum_full_talk.to_f / week_sum_shift %>
        <% week_sum_get_ave = week_sum_get.to_f / week_sum_shift %>
        <tr>
          <td class="total-td" colspan="2">合計</td>
          <td class="total-td"><%= week_sum_shift %></td>
          <td class="total-td"><%= week_sum_valuations.to_s(:delimited) %></td>

          <% if week_sum_valuations / week_sum_shift >= goal_ave %>
          <td class="total-td" style="color:blue;"><%= (week_sum_valuations / week_sum_shift).round(1) rescue "NaN" %></td>
          <% elsif dg_ave > week_sum_valuations / week_sum_shift %>
          <td class="total-td" style="color:red;"><%= (week_sum_valuations / week_sum_shift).round(1) rescue "NaN" %></td>
          <% else %>
          <td class="total-td" ><%= (week_sum_valuations / week_sum_shift).round(1) rescue "NaN" %></td>
          <% end %>

          <% if dmer_sum_len_week.to_f / week_sum_shift >= goal_dmer %>
          <td class="total-td" style="color:blue;"><%= (dmer_sum_len_week.to_f / week_sum_shift).round(1) rescue "NaN" %></td>
          <% elsif dg_dmer > dmer_sum_len_week.to_f / week_sum_shift %>
          <td class="total-td" style="color:red;"><%= (dmer_sum_len_week.to_f / week_sum_shift).round(1) rescue "NaN" %></td>
          <% else %>
          <td class="total-td"><%= (dmer_sum_len_week.to_f / week_sum_shift).round(1) rescue "NaN" %></td>
          <% end %>

          <% if aupay_sum_len_week.to_f / week_sum_shift >= goal_aupay %>
          <td class="total-td" style="color: blue;"><%= (aupay_sum_len_week.to_f / week_sum_shift).round(1) rescue "NaN" %></td>
          <% elsif dg_aupay > aupay_sum_len_week.to_f / week_sum_shift %>
          <td class="total-td" style="color: red;"><%= (aupay_sum_len_week.to_f / week_sum_shift).round(1) rescue "NaN" %></td>
          <% else %>
          <td class="total-td"><%= (aupay_sum_len_week.to_f / week_sum_shift).round(1) rescue "NaN" %></td>
          <% end %>

          <% if week_sum_visit_ave >= goal_visit %>
          <td class="total-td"  colspan="2" style="color: blue;"><%= week_sum_visit_ave.round(1) rescue "NaN" %></td>
          <% elsif dg_visit > week_sum_visit_ave %>
          <td class="total-td"  colspan="2" style="color: red;"><%= week_sum_visit_ave.round(1) rescue "NaN" %></td>
          <% else %>
          <td class="total-td" colspan="2"><%= week_sum_visit_ave.round(1) rescue "NaN" %></td>
          <% end %>

          <% if week_sum_interview_ave >= goal_interview %>
          <td class="total-td" style="color: blue;"><%= week_sum_interview_ave.round(1) rescue "NaN" %></td>
          <% elsif dg_interview > week_sum_interview_ave.round(1) %>
          <td class="total-td" style="color: red;"><%= week_sum_interview_ave.round(1) rescue "NaN" %></td>
          <% else %>
          <td class="total-td"><%= week_sum_interview_ave.round(1) rescue "NaN" %></td>
          <% end %>

          <% if week_sum_interview_ave / week_sum_visit_ave * 100 >= goal_interview_ratio %>
          <td class="total-td" style="color:blue;"><%= number_to_percentage(week_sum_interview_ave / week_sum_visit_ave * 100, precision: 0) rescue "NaN" %></td>
          <% elsif dg_interview_ratio > week_sum_interview_ave / week_sum_visit_ave * 100 %>
          <td class="total-td" style="color:red;"><%= number_to_percentage(week_sum_interview_ave / week_sum_visit_ave * 100, precision: 0) rescue "NaN" %></td>
          <% else %>
          <td class="total-td"><%= number_to_percentage(week_sum_interview_ave / week_sum_visit_ave * 100, precision: 0) rescue "NaN" %></td>
          <% end %>

          <% if week_sum_full_talk_ave >= goal_full_talk %>
          <td class="total-td" style="color: blue;"><%= week_sum_full_talk_ave.round(1) rescue "NaN" %></td>
          <% elsif dg_full_talk > week_sum_full_talk_ave %>
          <td class="total-td" style="color: red;"><%= week_sum_full_talk_ave.round(1) rescue "NaN" %></td>
          <% else %>
          <td class="total-td"><%= week_sum_full_talk_ave.round(1) rescue "NaN" %></td>
          <% end %>

          <% if week_sum_full_talk_ave / week_sum_interview_ave.to_f * 100 >= goal_full_talk_ratio %>        
          <td class="total-td" style="color:blue;"><%= number_to_percentage((week_sum_full_talk_ave / week_sum_interview_ave).to_f * 100, precision: 0) rescue "NaN" %></td>
          <% elsif dg_full_talk_ratio > week_sum_full_talk_ave / week_sum_interview_ave.to_f * 100 %>
          <td class="total-td" style="color:red;"><%= number_to_percentage((week_sum_full_talk_ave / week_sum_interview_ave).to_f * 100, precision: 0) rescue "NaN" %></td>
          <% else %>
          <td class="total-td"><%= number_to_percentage((week_sum_full_talk_ave / week_sum_interview_ave).to_f * 100, precision: 0) rescue "NaN" %></td>
          <% end %> 

          <% if week_sum_get_ave >= goal_get %>
          <td class="total-td" style="color: blue;"><%= week_sum_get_ave.round(1) rescue "NaN" %></td>
          <% elsif dg_get > week_sum_get_ave %>
          <td class="total-td" style="color: red;"><%= week_sum_get_ave.round(1) rescue "NaN" %></td>
          <% else %>
          <td class="total-td"><%= week_sum_get_ave.round(1) rescue "NaN" %></td>
          <% end %>

          <% if week_sum_get_ave / week_sum_full_talk_ave * 100 >= goal_get_ratio %>
          <td class="total-td" style="color: blue;"><%= number_to_percentage(week_sum_get_ave / week_sum_full_talk_ave * 100, precision: 0) rescue "NaN" %></td>
          <% elsif dg_get_ratio > week_sum_get_ave / week_sum_full_talk_ave * 100 %>
          <td class="total-td" style="color: red;"><%= number_to_percentage(week_sum_get_ave / week_sum_full_talk_ave * 100, precision: 0) rescue "NaN" %></td>
          <% else %>
          <td class="total-td"><%= number_to_percentage(week_sum_get_ave / week_sum_full_talk_ave * 100, precision: 0) rescue "NaN" %></td>
          <% end %>
        </tr>
      </tbody>
      </table>
    <% else %>
    <p class="caution-text">
      ※週間基準値は<%= @results_date_min.month + 1 %>月1日以降の終着が入力されると表示されます。
    </p>
    <% end %>
  <%# /週間基準値 %>
  </div>
  <div>
  <%# 商材別売上/生産性 %>
    <h2>商材別売上/生産性</h2>
    <table>
      <tr>
        <th class="total-th">商材</th>
        <th class="total-th">dメル（新規）</th>
        <th class="total-th">dメル（決済）</th>
        <th class="total-th">dメル（2回目決済）</th>
        <th class="total-th">aupay（新規）</th>
        <th class="total-th">aupay（決済）</th>
        <th class="total-th">PayPay</th>
        <th class="total-th">楽天ペイ</th>
        <th class="total-th">全商材</th>
      </tr>
      <tr>
        <th class="total-th">獲得数</th>
        <td class="total-td"><%= dmer_len %></td>
        <td class="total-td"><%= dmer_slmt_len %></td>
        <td class="total-td"><%= dmer_slmt2nd_len %></td>
        <td class="total-td"><%= aupay_len %></td>
        <td class="total-td"><%= aupay_slmt_len %></td>
        <td class="total-td"><%= paypay_r_len %></td>
        <td class="total-td"><%= rakuten_pay_len %></td>
        <td class="total-td"><%=  %></td>
      </tr>
      <tr>
        <th class="total-th">生産性</th>
        <td class="total-td"><%= dmer_len_ave = (dmer_len.to_f / @digestion_new).round(1) rescue "NaN" %></td>
        <td class="total-td"><%= dmer_slmt_len_ave = (dmer_slmt_len.to_f / @digestion_settlement).round(1) rescue "NaN" %></td>
        <td class="total-td"><%= dmer_2ndslmt_len_ave = (dmer_slmt2nd_len.to_f / @digestion_settlement).round(1) rescue "NaN" %></td>
        <td class="total-td"><%= aupay_len_ave = (aupay_len.to_f / @digestion_new).round(1) rescue "NaN" %></td>
        <td class="total-td"><%= aupay_slmt_len_ave = (aupay_slmt_len.to_f / @digestion_settlement).round(1) rescue "NaN" %></td>
        <td class="total-td"><%= paypay_len_ave = (paypay_r_len.to_f / @digestion_new).round(1) rescue "NaN" %></td>
        <td class="total-td"><%= rakuten_pay_len_ave = (rakuten_pay_len.to_f / @digestion_new).round(1) rescue "NaN" %></td>
        <td class="total-td"><%=  %></td>
      </tr>
      <tr>
        <th class="total-th">終着獲得見込</th>
        <td class="total-td"><%= (dmer_len_ave * @new_shift).round(0) rescue "NaN" %></td>
        <td class="total-td"><%= (dmer_slmt_len_ave * @settlement_shift).round(0) rescue "NaN" %></td>
        <td class="total-td"><%= (dmer_2ndslmt_len_ave * @settlement_shift).round(0) rescue "NaN" %></td>
        <td class="total-td"><%= (aupay_len_ave * @new_shift).round(0) rescue "NaN" %></td>
        <td class="total-td"><%= (aupay_slmt_len_ave * @settlement_shift).round(0) rescue "NaN" %></td>
        <td class="total-td"><%= (paypay_len_ave * @new_shift).round(0) rescue "NaN" %></td>
        <td class="total-td"><%= (rakuten_pay_len_ave * @new_shift).round(0) rescue "NaN" %></td>
        <td class="total-td"><%=  %></td>
      </tr>
      <tr>
        <th class="total-th">平均売上</th>
        <td class="total-td"><%= (dmer_valuations.to_f / @digestion_new).round().to_s(:delimited) rescue "NaN" %></td>
        <td class="total-td"><%= (dmer_slmt_valuations.to_f / @digestion_settlement).round().to_s(:delimited) rescue "NaN" %></td>
        <td class="total-td"><%= (dmer_slmt2nd_valuations.to_f / @digestion_settlement).round().to_s(:delimited) rescue "NaN" %></td>
        <td class="total-td"><%= (aupay_valuations.to_f / @digestion_new).round().to_s(:delimited) rescue "NaN" %></td>
        <td class="total-td"><%= (aupay_slmt_valuations.to_f / @digestion_settlement).round().to_s(:delimited) rescue "NaN" %></td>
        <td class="total-td"><%= (paypay_valuations.to_f / @digestion_new).round().to_s(:delimited) rescue "NaN" %></td>
        <td class="total-td"><%= (rakuten_pay_valuations.to_f / @digestion_new).round().to_s(:delimited) rescue "NaN" %></td>
        <td class="total-td"><%=  %></td>
      </tr>
      <tr>
        <th class="total-th">合計売上</th>
        <td class="total-td"><%= dmer_valuations.to_s(:delimited) %></td>
        <td class="total-td"><%= dmer_slmt_valuations.to_s(:delimited) %></td>
        <td class="total-td"><%= dmer_slmt2nd_valuations.to_s(:delimited) %></td>
        <td class="total-td"><%= aupay_valuations.to_s(:delimited) %></td>
        <td class="total-td"><%= aupay_slmt_valuations.to_s(:delimited) %></td>
        <td class="total-td"><%= paypay_valuations.to_s(:delimited) %></td>
        <td class="total-td"><%= rakuten_pay_valuations.to_s(:delimited) %></td>
        <td class="total-td"><%= sum_profit.to_s(:delimited) %></td>
      </tr>
      <tr>
        <th class="total-th">終着見込売上</th>
        <td class="total-td"><%= (dmer_valuations.to_f / @digestion_new * @new_shift).round().to_s(:delimited) rescue "NaN" %></td>
        <td class="total-td"><%= (dmer_slmt_valuations.to_f / @digestion_settlement * @settlement_shift).round().to_s(:delimited) rescue "NaN" %></td>
        <td class="total-td"><%= (dmer_slmt2nd_valuations.to_f / @digestion_settlement * @settlement_shift).round().to_s(:delimited) rescue "NaN" %></td>
        <td class="total-td"><%= (aupay_valuations.to_f / @digestion_new * @new_shift).round().to_s(:delimited) rescue "NaN" %></td>
        <td class="total-td"><%= (aupay_slmt_valuations.to_f / @digestion_settlement * @settlement_shift).round().to_s(:delimited) rescue "NaN" %></td>
        <td class="total-td"><%= (paypay_valuations.to_f / @digestion_new * @new_shift).round().to_s(:delimited) rescue "NaN" %></td>
        <td class="total-td"><%= (rakuten_pay_valuations.to_f / @digestion_new * @new_shift).round().to_s(:delimited) rescue "NaN" %></td>
        <td class="total-td"><%=  %></td>
      </tr>
    </table>
  <%# /商材別売上/生産性 %>
  <%# 獲得内訳 %>
    <h2>獲得内訳</h2>
    <table>
      <tr>
      </tr>
      <tr>
        <th class="total-th"colspan="3">dメル（新規）</th>
        <th class="total-th"colspan="">dメル（初回決済）</th>
        <th class="total-th"colspan="">dメル（2回目決済）</th>
        <th class="total-th"colspan="3">aupay（新規）</th>
        <th class="total-th"colspan="">aupay（決済）</th>
        <th class="total-th"colspan="">PayPay</th>
        <th class="total-th"colspan="">少額短期保険</th>
        <th class="total-th"colspan="2">楽天ペイ</th>
      </tr>
      <tr></tr>
      <tr>
      </tr>
        <th class="total-th"colspan="3" style="border-left: 1px solid rgb(214, 219, 235);">評価対象</th>
        <th class="total-th"colspan="" style="border-left: 1px solid rgb(214, 219, 235);">評価対象</th>
        <th class="total-th"colspan="" style="border-left: 1px solid rgb(214, 219, 235);">評価対象</th>
        <th class="total-th"colspan="3" style="border-left: 1px solid rgb(214, 219, 235);">評価対象</th>
        <th class="total-th"colspan="" style="border-left: 1px solid rgb(214, 219, 235);">評価対象</th>
        <% 2.times do %>
        <th class="total-th"colspan="" style="border-left: 1px solid rgb(214, 219, 235);">評価対象</th>
        <% end %>
        <th class="total-th"colspan="2" style="border-left: 1px solid rgb(214, 219, 235);">評価対象</th>
      <tr>
        <td class="total-td" colspan="3"><%= dmer_len %></td>
        <td class="total-td" colspan=""><%= dmer_slmt_len %></td>
        <td class="total-td" colspan=""><%= dmer_slmt2nd_len %></td>
        <td class="total-td" colspan="3"><%= aupay_len %></td>
        <td class="total-td" colspan=""><%= aupay_slmt_len %></td>
        <td class="total-td" colspan=""><%= paypay_len %></td>
        <td class="total-td" colspan=""><%= st_insurance_len %></td>
        <td class="total-td" colspan="2"><%= rakuten_pay_len %></td>
      </tr>
      <tr>
        <th class="total-th">獲得数</th>
        <th class="total-th">不備・NG</th>
        <th class="total-th">複数追加</th>
        <th class="total-th">獲得数</th>
        <th class="total-th"><%= @results_date.minimum(:date).next_month.month %>月獲得数/総獲得数</th>
        <th class="total-th">獲得数</th>
        <th class="total-th">不備・NG</th>
        <th class="total-th">複数追加</th>
        <th class="total-th">獲得数</th>
        
        <th class="total-th">審査完了/獲得数</th>
        <th class="total-th">獲得数</th>
        <th class="total-th">獲得数</th>
        <th class="total-th">不備・NG</th>
      </tr>
      <tr>
      <%# 各商材の対象店舗の確認 %>
      <% @dmer_slmter.group(:client).each do |d| %>
        <%#  d.client %>
      <% end %>
        <%# dメル %>
          <td class="total-td" style="color: blue;"><%= @dmer_uq.length %></td>
          <td class="total-td" style="color: red;"><%= @dmer_def.length %></td>
          <td class="total-td" style="color: blue;"><%= @dmer_db.length %></td>

          <td class="total-td" style="color: blue;"><%= dmer_slmt_len %></td>
          <td class="total-td" style="color: blue;"><%= @dmer_slmt2nd_get.length %></td>
        <%# aupay %>
          <td class="total-td" style="color: blue;"><%= @aupay_uq.length %></td>
          <td class="total-td" style="color: red;"><%= @aupay_def.length %></td>
          <td class="total-td" style="color: blue;"><%= @aupay_db.length %></td>

          <td class="total-td" style="color: blue;"><%= aupay_slmt_len %></td>
        <%# PayPay %>
          <td class="total-td" colspan="" style="color: blue;"><%= paypay_len %></td>
        <%# 少額短期保険 %>
          <td class="total-td" colspan="" style="color: blue;"><%= @st_insurances_this_month.length %></td>
        <%# 楽天ペイ %>
          <td class="total-td" style="color: blue;"><%= @rakuten_pay_uq.length  %></td>
          <td class="total-td" style="color: red;"><%= @rakuten_pay_def.length %></td>
      </tr>
      <tr>
        <th class="total-th" rowspan="2">dメル獲得内訳</th>
        <% if @dmer_uq.where(client: "USEN").length != 0 %>
        <th class="total-th">USEN</th>
        <% end %>
        <% if @dmer_uq.where(client: "マックス通常").length != 0 %>
        <th class="total-th">マックス通常</th>
        <% end %>
        <% if @dmer_uq.where(client: "マックス即時（ｄ）").length != 0 %>
        <th class="total-th">マックス即時（ｄ）</th>
        <% end %>
        <% if @dmer_uq.where(client: "マックス即時（メル）").length != 0 %>
        <th class="total-th">マックス即時（メル）</th>
        <% end %>
        <% if @dmer_uq.where(client: "ピアズ").length != 0 %>
        <th class="total-th">ピアズ</th>
        <% end %>
        <% if @dmer_uq.where(client: "ピアズ即時").length != 0 %>
        <th class="total-th">ピアズ即時</th>
        <% end %>
        <th class="total-th" rowspan="2">dメル決済内訳</th>
        <% if @dmer_slmt.where(client: "USEN").length != 0 %>
        <th class="total-th">USEN</th>
        <% end %>
        <% if @dmer_slmt.where(client: "マックス通常").length != 0 %>
        <th class="total-th">マックス通常</th>
        <% end %>
        <% if @dmer_slmt.where(client: "マックス即時（ｄ）").length != 0 %>
        <th class="total-th">マックス即時（ｄ）</th>
        <% end %>
        <% if @dmer_slmt.where(client: "マックス即時（メル）").length != 0 %>
        <th class="total-th">マックス即時（メル）</th>
        <% end %>
        <% if @dmer_slmt.where(client: "ピアズ").length != 0 %>
        <th class="total-th">ピアズ</th>
        <% end %>
        <% if @dmer_slmt.where(client: "ピアズ即時").length != 0 %>
        <th class="total-th">ピアズ即時</th>
        <% end %>
      </tr>
      <tr>
        <% if @dmer_uq.where(client: "USEN").length != 0 %>
        <td class="total-td"><%= @dmer_uq.where(client: "USEN").length %></td>
        <% end %>
        <% if @dmer_uq.where(client: "マックス通常").length != 0 %>
        <td class="total-td"><%= @dmer_uq.where(client: "マックス通常").length %></td>
        <% end %>
        <% if @dmer_uq.where(client: "マックス即時（ｄ）").length != 0 %>
        <td class="total-td"><%= @dmer_uq.where(client: "マックス即時（ｄ）").length %></td>
        <% end %>
        <% if @dmer_uq.where(client: "マックス即時（メル）").length != 0 %>
        <td class="total-td"><%= @dmer_uq.where(client: "マックス即時（メル）").length %></td>
        <% end %>
        <% if @dmer_uq.where(client: "ピアズ").length != 0 %>
        <td class="total-td"><%= @dmer_uq.where(client: "ピアズ").length %></td>
        <% end %>
        <% if @dmer_uq.where(client: "ピアズ即時").length != 0 %>
        <td class="total-td"><%= @dmer_uq.where(client: "ピアズ即時").length %></td>
        <% end %>
        <% if @dmer_slmt.where(client: "USEN").length != 0 %>
        <td class="total-td"><%= @dmer_slmt.where(client: "USEN").length %></td>
        <% end %>
        <% if @dmer_slmt.where(client: "マックス通常").length != 0 %>
        <td class="total-td"><%= @dmer_slmt.where(client: "マックス通常").length %></td>
        <% end %>
        <% if @dmer_slmt.where(client: "マックス即時（ｄ）").length != 0 %>
        <td class="total-td"><%= @dmer_slmt.where(client: "マックス即時（ｄ）").length %></td>
        <% end %>
        <% if @dmer_slmt.where(client: "マックス即時（メル）").length != 0 %>
        <td class="total-td"><%= @dmer_slmt.where(client: "マックス即時（メル）").length %></td>
        <% end %>
        <% if @dmer_slmt.where(client: "ピアズ").length != 0 %>
        <td class="total-td"><%= @dmer_slmt.where(client: "ピアズ").length %></td>
        <% end %>
        <% if @dmer_slmt.where(client: "ピアズ即時").length != 0 %>
        <td class="total-td"><%= @dmer_slmt.where(client: "ピアズ即時").length %></td>
        <% end %>
      </tr>
    </table>
  <%# /獲得内訳 %>
  </div>
</div>