<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>年間売上（実売）</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div data-scope-path="shares/date-progress">
    <div data-scope-path="shares/index">
      <hr>
        <%= render "shared/praness_links" %>
    </div>
      <h2>
        <%= link_to "<<",year_profit_payment_pranesses_path(month: @month.ago(1.month),display: @display_params), class:"link","data-turbolinks": false %>
        <span class="caution-txt"><%= @month.year %>年　入金待ち：
              <% if Date.new(@month.year, Date.today.month,15).since(2.month) >= Date.today %>
              ¥<%= 
                (
                  @billings.where(status: "入金待ち").where(payment_date: @month.prev_month.beginning_of_month).sum(:price) +
                  @billings.where(status: "入金待ち").where(payment_date: @month.beginning_of_month).sum(:price)
                  ).to_s(:delimited) 
              %>
              （<%= 
                (
                  @billings.where(status: "入金待ち").where(payment_date: @month.prev_month.beginning_of_month).length +
                  @billings.where(status: "入金待ち").where(payment_date: @month.beginning_of_month).length
                  ).to_s(:delimited) 
              %>件）</span>
              <% else %>
              ¥0
              <% end %>
        <%= link_to ">>",year_profit_payment_pranesses_path(month: @month.since(1.month),display: @display_params), class:"link","data-turbolinks": false %>
      </h2>
      <br>
      <% if @display_params == "件数" %>
        <h2>◆<%= @month.year %>年件数（表記→ぷらねす：オプション）<button class="active-btn"><%= link_to "売上内訳に切替",year_profit_payment_pranesses_path(month: @month,display: "金額"), class:"link","data-turbolinks": false %></button></h2>
        <%= render_async year_profit_len_path(month: @month) %>
      <% else %>
        <h2>◆<%= @month.year %>年売上（表記→ぷらねす：オプション）<button class="active-btn"><%= link_to "獲得内訳に切替",year_profit_payment_pranesses_path(month: @month,display: "件数"), class:"link","data-turbolinks": false %></button></h2>
        <%= render_async year_profit_price_path(month: @month) %>
      <% end %>
    <br>
    <h2>◆売上推移</h2>
    <% 
      chart_data =  
        [
          {name:"売上", data: @billings.where(status: "完了").or(@billings.where(status: "入金待ち")).group(:payment_date).sum(:price)},
          {name:"入金", data: @billings.group(:payment_date).where(status: "完了").sum(:price)},
          {name:"未入金", data: @billings.group(:payment_date).where(status: "入金待ち").sum(:price)}
        ]
    %>
    <br>
        <%= line_chart chart_data,options = {thousands: ","} %>
        <p class="caution-text">※こちらのグラフ（未入金）は入金待ちも含まれてます。</p>
  </div>
</div>