<h2>◆<%= "#{@shift_case}：" %>切り返し</h2><%# 1~7項目 %>
<table class="progress-tb">
    <thead>
      <tr>
        <th class="progress-th1" colspan="2">基本情報</th>
        <% @out_ary.each do | out_name | %>
        <th class="progress-th1" colspan="3"><%= out_name %></th>
        <% end %>
      </tr>
      <tr>
        <th class="progress-th2">人員</th>
        <th class="progress-th2">項目</th>
        <% 8.times do %>
        <th class="progress-th2">対面</th>
        <th class="progress-th2">フル</th>
        <th class="progress-th2">成約</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <% result_user = @results_base.where(user_id: user.id) %><%# 個別ユーザーの終着情報 %>
        <tr><%# /個別 %>
          <td class="progress-td" rowspan="2"><br><%= link_to "#{user.name}", result_product_case_path(user_id: user.id), class: "link" %></td>
          <td class="progress-td">平均</td>
          <% @out_num.each do | out_cnt_str | %>
          <td class="progress-td"><%= (result_user.sum("out_interview_#{out_cnt_str}").to_f / result_user.length).round(1) rescue 0 %></td>
          <td class="progress-td"><%= (result_user.sum("out_full_talk_#{out_cnt_str}").to_f / result_user.length).round(1) rescue 0 %></td>
          <td class="progress-td"><%= (result_user.sum("out_get_#{out_cnt_str}").to_f / result_user.length).round(1) rescue 0 %></td>
          <% end %>
        </tr>
        <tr class="percent-tr">
          <td class="difference-td">成約率</td>
          <% @out_num.each do | out_cnt_str | %>
          <td class="difference-td">-</td>
          <td class="difference-td">
            <%= (result_user.sum("out_full_talk_#{out_cnt_str}").to_f / result_user.sum("out_interview_#{out_cnt_str}").round(2) * 100).round() rescue 0 %>%
          </td>
          <td class="difference-td">
            <%= (result_user.sum("out_get_#{out_cnt_str}").to_f / result_user.sum("out_full_talk_#{out_cnt_str}") * 100).round() rescue 0 %>%
          </td>
          <% end %>
        </tr><%# /個別 %>
      <% end %>
        <tr class="">
          <td rowspan="2" class="progress-td"><br>合計稼働人員（<%= @users.group(:id).length %>人）</td>
          <td class="progress-td">平均</td>
          <% @out_num.each do | out_cnt_str | %>
          <td class="progress-td"><%= (@results_base.sum("out_interview_#{out_cnt_str}").to_f / @results_base.length).round(1) rescue 0 %></td>
          <td class="progress-td"><%= (@results_base.sum("out_full_talk_#{out_cnt_str}").to_f / @results_base.length).round(1) rescue 0 %></td>
          <td class="progress-td"><%= (@results_base.sum("out_get_#{out_cnt_str}").to_f / @results_base.length).round(1) rescue 0 %></td>
          <% end %>
        </tr>
        <tr class="difference-tr">
          <td class="difference-td">成約率</td>
          <% @out_num.each do | out_cnt_str | %>
          <td class="difference-td">-</td>
          <td class="difference-td">
            <%= (@results_base.sum("out_full_talk_#{out_cnt_str}").to_f / @results_base.sum("out_interview_#{out_cnt_str}").round(2) * 100).round() rescue 0 %>%
          </td>
          <td class="difference-td">
            <%= (@results_base.sum("out_get_#{out_cnt_str}").to_f / @results_base.sum("out_full_talk_#{out_cnt_str}").round(2) * 100).round() rescue 0 %>%
          </td>
          <% end %>
        </tr><%# /合計 %>
    </tbody>
</table>