<h2>◆<%= @base %>生産性</h2>
<table class="progress-tb">
  <tr>
    <th class="product-th1" colspan="2">基本情報</th>
    <th class="product-th1" colspan="2">新規シフト</th>
    <th class="product-th1" colspan="4">dメル</th>
    <th class="product-th1" colspan="4">dメル専売</th>
    <th class="product-th1" colspan="3">auPay</th>
    <th class="product-th1" colspan="3">楽天ペイ</th>
    <th class="product-th1" colspan="3">AirPay</th>
    <th class="product-th1" colspan="">PayPay</th>
    <th class="product-th1" colspan="3">UsenPay</th>
  </tr>
  <tr>
    <th class="progress-th2">氏名</th>
    <th class="progress-th2">役職</th>
    <th class="progress-th2">予定</th>
    <th class="progress-th2">消化</th>
    <% 2.times do %>
    <th class="progress-th2">獲得Ave</th>
    <th class="progress-th2">獲得</th>
    <th class="progress-th2">不備・NG</th>
    <th class="progress-th2">獲得終着</th>
    <% end %>
    <% 3.times do %>
    <th class="progress-th2">獲得Ave</th>
    <th class="progress-th2">獲得</th>
    <th class="progress-th2">獲得終着</th>
    <% end %>
    <th class="progress-th2">獲得</th>
    <th class="progress-th2">獲得Ave</th>
    <th class="progress-th2">獲得</th>
    <th class="progress-th2">獲得終着</th>

  </tr>
  <% @users.each do |user| %>
  <tr class="progress-tr">
    <td class="progress-td"><%= user.name %></td>
    <td class="progress-td"><%= user.position_sub %></td>
    <td class="progress-td"><%= @cash_date_progress.find_by(user_id: user.id).shift_schedule rescue 0 %></td>
    <td class="progress-td"><%= @cash_date_progress.find_by(user_id: user.id).shift_digestion rescue 0 %></td>
    <td class="progress-td"><%= (@dmer_date_progress.find_by(user_id: user.id).fin_len.to_f / @dmer_date_progress.find_by(user_id: user.id).shift_schedule).round(1) rescue 0 %></td>
    <td class="progress-td"><%= @dmer_date_progress.find_by(user_id: user.id).get_len rescue 0 %></td>
    <td class="progress-td"><%= @dmer_date_progress.find_by(user_id: user.id).def_len rescue 0 %></td>
    <td class="progress-td"><%= @dmer_date_progress.find_by(user_id: user.id).fin_len rescue 0 %></td>
    <td class="progress-td"><%= (@dmer_senbai_date_progress.find_by(user_id: user.id).fin_len.to_f / @dmer_senbai_date_progress.find_by(user_id: user.id).shift_schedule).round(1) rescue 0 %></td>
    <td class="progress-td"><%= @dmer_senbai_date_progress.find_by(user_id: user.id).get_len rescue 0 %></td>
    <td class="progress-td"><%= @dmer_senbai_date_progress.find_by(user_id: user.id).def_len rescue 0 %></td>
    <td class="progress-td"><%= @dmer_senbai_date_progress.find_by(user_id: user.id).fin_len rescue 0 %></td>
    <td class="progress-td"><%= (@aupay_date_progress.find_by(user_id: user.id).fin_len.to_f / @aupay_date_progress.find_by(user_id: user.id).shift_schedule).round(1) rescue 0 %></td>
    <td class="progress-td"><%= @aupay_date_progress.find_by(user_id: user.id).get_len rescue 0 %></td>
    <td class="progress-td"><%= @aupay_date_progress.find_by(user_id: user.id).fin_len rescue 0 %></td>
    <td class="progress-td"><%= (@rakuten_pay_date_progress.find_by(user_id: user.id).fin_len.to_f / @rakuten_pay_date_progress.find_by(user_id: user.id).shift_schedule).round(1) rescue 0 %></td>
    <td class="progress-td"><%= @rakuten_pay_date_progress.find_by(user_id: user.id).get_len rescue 0 %></td>
    <td class="progress-td"><%= @rakuten_pay_date_progress.find_by(user_id: user.id).fin_len rescue 0 %></td>
    <td class="progress-td"><%= (@airpay_date_progress.find_by(user_id: user.id).fin_len.to_f / @airpay_date_progress.find_by(user_id: user.id).shift_schedule).round(1) rescue 0 %></td>
    <td class="progress-td"><%= @airpay_date_progress.find_by(user_id: user.id).get_len rescue 0 %></td>
    <td class="progress-td"><%= @airpay_date_progress.find_by(user_id: user.id).fin_len rescue 0 %></td>
    <td class="progress-td"><%= @paypay_date_progress.find_by(user_id: user.id).get_len rescue 0 %></td>
    <td class="progress-td"><%= (@usen_pay_date_progress.find_by(user_id: user.id).fin_len.to_f / @cash_date_progress.find_by(user_id: user.id).shift_schedule).round(1) rescue 0 %></td>
    <td class="progress-td"><%= @usen_pay_date_progress.find_by(user_id: user.id).get_len rescue 0 %></td>
    <td class="progress-td"><%= @usen_pay_date_progress.find_by(user_id: user.id).fin_len rescue 0 %></td>
  </tr>
  <% end %>
  <tr>
    <td class="difference-td" colspan="2">合計</td>
    <td class="difference-td"><%= @cash_date_progress.sum(:shift_schedule) rescue 0 %></td>
    <td class="difference-td"><%= @cash_date_progress.sum(:shift_digestion) rescue 0 %></td>
    <td class="difference-td"><%= (@dmer_date_progress.sum(:fin_len).to_f / @dmer_date_progress.sum(:shift_schedule)).round(1) rescue 0 %></td>
    <td class="difference-td"><%= @dmer_date_progress.sum(:get_len) rescue 0 %></td>
    <td class="difference-td"><%= @dmer_date_progress.sum(:def_len) rescue 0 %></td>
    <td class="difference-td"><%= @dmer_date_progress.sum(:fin_len) rescue 0 %></td>
    <td class="difference-td"><%= (@dmer_senbai_date_progress.sum(:fin_len).to_f / @dmer_senbai_date_progress.sum(:shift_schedule)).round(1) rescue 0 %></td>
    <td class="difference-td"><%= @dmer_senbai_date_progress.sum(:get_len) rescue 0 %></td>
    <td class="difference-td"><%= @dmer_senbai_date_progress.sum(:def_len) rescue 0 %></td>
    <td class="difference-td"><%= @dmer_senbai_date_progress.sum(:fin_len) rescue 0 %></td>
    <td class="difference-td"><%= (@aupay_date_progress.sum(:fin_len).to_f / @aupay_date_progress.sum(:shift_schedule)).round(1) rescue 0 %></td>
    <td class="difference-td"><%= @aupay_date_progress.sum(:get_len) rescue 0 %></td>
    <td class="difference-td"><%= @aupay_date_progress.sum(:fin_len) rescue 0 %></td>

    <td class="difference-td"><%= (@rakuten_pay_date_progress.sum(:fin_len).to_f / @rakuten_pay_date_progress.sum(:shift_schedule)).round(1) rescue 0 %></td>
    <td class="difference-td"><%= @rakuten_pay_date_progress.sum(:get_len) rescue 0 %></td>
    <td class="difference-td"><%= @rakuten_pay_date_progress.sum(:fin_len) rescue 0 %></td>

    <td class="difference-td"><%= (@airpay_date_progress.sum(:fin_len).to_f / @cash_date_progress.sum(:shift_schedule)).round(1) rescue 0 %></td>
    <td class="difference-td"><%= @airpay_date_progress.sum(:get_len) rescue 0 %></td>
    <td class="difference-td"><%= @airpay_date_progress.sum(:fin_len) rescue 0 %></td>

    <td class="difference-td"><%= @paypay_date_progress.sum(:get_len) rescue 0 %></td>
    <td class="difference-td"><%= (@usen_pay_date_progress.sum(:fin_len).to_f / @cash_date_progress.sum(:shift_schedule)).round(1) rescue 0 %></td>
    <td class="difference-td"><%= @usen_pay_date_progress.sum(:get_len) rescue 0 %></td>
    <td class="difference-td"><%= @usen_pay_date_progress.sum(:fin_len) rescue 0 %></td>
  </tr>
</table>