<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<%# calc_periods_ary = [@calc_periods_val, @calc_periods_prof] %>
<% tb_cnt = 0 %>
<div data-scope-path="shared/header">
  <h1 class="sub-title"><%= @base %>利益表（評価売）</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;"><%# サイドバーとメインバーを分ける %>
  <div data-scope-path="shared/side_bar"><%# サイドバー %>
    <%= render "shared/sidebar" %>
  </div><%# サイドバー %>
  <div data-scope-path="shares/date-progress"><%# メインバー %>
      <div data-scope-path="shares/index">
      <%= render "shared/result_links" %>
    </div>
    <hr>
    <p class="caution-txt"><%= alert %></p>
    <div class="date-head"><%# 日付切替 %>
      <h2>
        <%= link_to "<<",results_base_valuations_path(month: @month.ago(1.month),base: @base), class:"link","data-turbolinks": false %>
        <%= @month.month %>月進捗
        <%= link_to ">>",results_base_valuations_path(month: @month.since(1.month),base: @base), class:"link","data-turbolinks": false %>
      </h2>
    </div><%# 日付切替 %>
    <hr>
    <%= render_async valuation_path(month: @month, base: @base) %><%# 売上 %>
    <%= render_async standard_val_path(month: @month, base: @base) %><%# 基準値 %>
    <%= render_async productivity_path(month: @month, base: @base) %><%# 生産性 %>
    <%# render_async current_result_path(month: @month, base: @base) %><%# 成果 %>
  </div>
</div>