<% if current_user.position_sub == "99：退職" %>
  <p>退職者は利用できません。</p>
<% else %>
<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>固定費一覧（削除用）</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
<div data-scope-path="shared/side_bar">
  <%= render "shared/sidebar" %>
</div>
<div data-scope-path="shares/index">
  <div class="main">
    <h2 class="">
      <%= link_to "<<",delete_page_fixed_sales_path(month:@month.prev_month),"data-turbolinks": false, class:"link" %>
      <%= @month.strftime("%Y年%m月") %>
      <%= link_to ">>",delete_page_fixed_sales_path(month:@month.next_month),"data-turbolinks": false, class:"link" %>
    </h2><br>
    <div class="caution-text"><%= alert %></div>
    <% if @fixed_sales.present? %><%# 戻入案件があるか確認 %>
    <h2 class="">◆登録した固定費(<%= link_to "戻る", fixed_sales_path, class: "link" %>)</h2>
    <table>
      <thead>
        <tr>
          <th>拠点</th>
          <th>名称</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @fixed_sales.each do |fixed_sale| %>
        <tr>
          <td><%= fixed_sale.base %></td>
          <td><%= fixed_sale.name %></td>
          <td><%= link_to "削除", fixed_sale_path(fixed_sale.id),method: :delete,data: {confirm: "#{fixed_sale.base}：#{fixed_sale.name}を削除してもよろしいですか？"},class: "red" %></td>
          <% end %>
        </tr>
        <tr>
      </tbody>
    </table>
    <% else %>
      <h2>まだ今月はまだ固定費の登録はされておりません。</h2>
    <% end %><%# 戻入案件があるか確認 %>
  </div>
</div>
<% end %>