<% if current_user.position_sub == "99：退職" %>
  <p>退職者は利用できません。</p>
<% else %>
<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>固定費一覧</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
<div data-scope-path="shared/side_bar">
  <%= render "shared/sidebar" %>
</div>
<div data-scope-path="shares/index">
  <div class="main">
    <h2 class="">
      <%= link_to "<<",fixed_sales_path(month:@month.prev_month),"data-turbolinks": false, class:"link" %>
      <%= @month.strftime("%Y年%m月") %><button class="new-btn"><%= link_to "新規登録", new_fixed_sale_path(month: @month),"data-turbolinks": false, class:"reg-link" %></button>
      <%= link_to ">>",fixed_sales_path(month:@month.next_month),"data-turbolinks": false, class:"link" %>
    </h2><br>
    <div class="caution-text"><%= alert %></div>
    <% if @fixed_sales.present? %><%# 戻入案件があるか確認 %>
    <h2>◆固定費一覧（<%= link_to "選択して削除",delete_page_fixed_sales_path(month: @month),class: "link" %>）</h2>
    <table>
      <thead>
        <tr>
          <th>拠点</th>
          <% @fixed_sales.group(:name).order(:name).each do |f_name| %>
          <th><%= f_name.name %></th>
          <% end %>
          <th>合計</th>
        </tr>
      </thead>
      <tbody>
        <% @fixed_sales.group(:base).each do |f_base| %>
        <tr>
          <td><%= f_base.base %></td>
          <% @fixed_sales.group(:name).order(:name).each do |f_name| %>
            <% f_product = @fixed_sales.where(base: f_base.base).find_by(name: f_name.name) %>
            <% f_price = f_product.price.to_s(:delimited) rescue 0 %>
          <% if f_price == 0 %>
            <td>0</td>
          <% else %>
            <td><%= link_to f_price, edit_fixed_sale_path(f_product.id,),"data-turbolinks": false,class: "link" %></td>
          <% end %>
          <% end %>
          <td><%= @fixed_sales.where(base: f_base.base).sum(:price).to_s(:delimited) %></td>
        </tr>
        <% end %>
        <tr>
          <td>合計</td>
          <% @fixed_sales.group(:name).order(:name).each do |f_name| %>
          <td><%= @fixed_sales.where(name: f_name.name).sum(:price).to_s(:delimited) %></td>
          <% end %>
          <td><%= @fixed_sales.sum(:price).to_s(:delimited) %></td>
        </tr>
      </tbody>
    </table>
    <h2><%= link_to "戻る",calc_periods_path,class: "" %></h2>
    <% else %>
      <h2>まだ今月はまだ固定費の登録はされておりません（<%= link_to "戻る",calc_periods_path,class: "link" %>）</h2>
    <% end %><%# 戻入案件があるか確認 %>
  </div>
</div>
<% end %>