<div data-scope-path="shared/header">
  <h1>固定費新規登録</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;"><%# フレックス %>
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div data-scope-path="shared/form"><%# CSSスコープ %>
    <div class="form-main"><%# フォーム外枠 %>
      <div class="form-title">
        <h2><%= @category %>：登録情報</h2>
      </div>
      <%= form_with model: @select_column,  class: "form-frame", local: true do |f| %>
        <%= render "shared/error_messages", model: f.object %>
        <%= f.hidden_field :category , value: @category %>  
        <div class="form">
            <p><%= f.label :name, "名称", class: "form-text" %></p>
            <p><%= f.text_field :name , class: "input" %></p>
        </div>
    </div><%# フォーム外枠 %>
        <div class="form-submit">
            <%= f.submit "登録", class: "submit-btn",data: { confirm: "登録してもよろしいですか？" }  %>
        </div>
    <% end %>
  </div><%# CSSスコープ %>
</div><%# フレックス %>