<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<% calc_periods_ary = [@calc_periods_val, @calc_periods_prof] %>
<% tb_cnt = 0 %>
<div data-scope-path="shared/header">
  <h1 class="sub-title">dメル日々進捗データ</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
<div data-scope-path="shared/side_bar">
  <%= render "shared/sidebar" %>
</div>
<div data-scope-path="shares/date-progress">
  <div class="date-head"><%# 日付切替 %>
  <p class="caution-txt"><%= alert %></p>
    <h2>

      <%= link_to "<<",dmer_date_progresses_path(month: @month.ago(1.month)), class:"link","data-turbolinks": false %>
      <%= @month.month %>月（<%= @current_progress.first.date rescue "データなし" %>）進捗
      <%= link_to ">>",dmer_date_progresses_path(month: @month.since(1.month)), class:"link","data-turbolinks": false %>
    </h2>
  </div><%# 日付切替 %>
  <hr>
  <%= javascript_pack_tag 'dmer_date_progress' %>
  <script>
    window.profit_price1=<%= @profit_price1.to_json.html_safe %>;
    window.profit_price2=<%= @profit_price2.to_json.html_safe %>;
    window.profit_price3=<%= @profit_price3.to_json.html_safe %>;
    window.date_group=<%= @date_group.to_json.html_safe %>;
    window.create_group=<%= @create_group.to_json.html_safe %>;
    window.current_arry=<%= @current_arry.to_json.html_safe %>;
    window.comparison_arry=<%= @comparison_arry.to_json.html_safe %>;
    window.current_progress=<%= @current_progress.to_json.html_safe %>;
    window.comparison=<%= @comparison.to_json.html_safe %>;
    window.current_data_chubu=<%= @current_data_chubu.to_json.html_safe %>;
    window.current_data_kansai=<%= @current_data_kansai.to_json.html_safe %>;
    window.current_data_kanto=<%= @current_data_kanto.to_json.html_safe %>;
    window.current_data_kyushu=<%= @current_data_kyushu.to_json.html_safe %>;
    window.current_data_partner=<%= @current_data_partner.to_json.html_safe %>;
    window.current_data_other=<%= @current_data_other.to_json.html_safe %>;
    window.current_data_retire=<%= @current_data_retire.to_json.html_safe %>;
    window.comparison_data_chubu=<%= @comparison_data_chubu.to_json.html_safe %>;
    window.comparison_data_kansai=<%= @comparison_data_kansai.to_json.html_safe %>;
    window.comparison_data_kanto=<%= @comparison_data_kanto.to_json.html_safe %>;
    window.comparison_data_kyushu=<%= @comparison_data_kyushu.to_json.html_safe %>;
    window.comparison_data_partner=<%= @comparison_data_partner.to_json.html_safe %>;
    window.comparison_data_other=<%= @comparison_data_other.to_json.html_safe %>;
    window.comparison_data_retire=<%= @comparison_data_retire.to_json.html_safe %>;
    window.users=<%= @users.to_json.html_safe %>;
  </script>
  <article id="dmer-progress">
    <div class="head-form"><%# ヘッド部分 %>
      <div><%# 検索 %>
        <%= form_with url: dmer_date_progresses_path, local: true, method: :get do |f| %>
              <%= f.hidden_field :search_date, value: @month %>
            <table class="s-tb">
              <tr>
                <th class="s-th">日付</th>
                <td class="s-td"><%= f.date_field :date,class:"s-input" %></td>
                <td class="s-submit"><%= f.submit "絞込み",class: "s-btn" %></td>
              </tr>
              <tr>
                <th class="s-th">比較する日付</th>
                <td class="s-td"><%= f.date_field :comparison_date,class:"s-input" %></td>
                <td class="s-reset"><%= link_to "リセット",dmer_date_progresses_path(month: @month),class:"reset-link","data-turbolinks": false %></td>
              </tr>
            </table>
        <% end %>
      </div><%# 検索 %>
      <div class="btn-form"><%# 切替ボタン %>
        <button @click="active" v-if="isActive" class="active-btn">獲得内訳に切替</button>
        <button @click="active" v-if="!isActive" class="active-btn">売上内訳に切替</button>
        <button @click="difActive" v-if="isDifActive" class="active-btn">差異のみ表示させる</button>
        <button @click="difActive" v-if="!isDifActive" class="active-btn">全て表示</button>
      </div><%# 切替ボタン %>
    </div><%# ヘッド部分 %>
    <% if @current_progress.present? %>
      <% if DmerDateProgress.where(date: @current_progress.first.date).group(:create_date).length > 1 %>
      <h2 class="caution-txt">※現状（<%= @current_progress.first.date %>）は違う日付に作成された進捗データがあります。</h2>
        <div class="create-path-form">
        <% DmerDateProgress.where(date: @current_progress.first.date).group(:create_date).each do |d_date| %>
          <% if @comparison.present? %>
          <p class="create-data"><%= link_to "#{d_date.create_date}で表示", dmer_date_progresses_path(month: @current_progress.first.date,create_d: d_date.create_date,comparison_date: @comparison.first.date),class: "create-link","data-turbolinks": false %><%= link_to "削除",date_destroy_dmer_date_progresses_path(month: @current_progress.first.date,create_d: d_date.create_date),data: {confirm: "#{d_date.create_date}に作成した進捗を削除してもよろしいですか？"},class: "destroy-link"  %></p>
          <% else %>
          <p class="create-data"><%= link_to "#{d_date.create_date}で表示", dmer_date_progresses_path(month: @current_progress.first.date,create_d: d_date.create_date),class: "create-link","data-turbolinks": false %><%= link_to "削除",date_destroy_dmer_date_progresses_path(month: @current_progress.first.date,create_d: d_date.create_date),data: {confirm: "#{d_date.create_date}に作成した進捗を削除してもよろしいですか？"},class: "destroy-link"  %></p>
          <% end %>
        <% end %>
        </div>
      <% end %>
  <div v-if="!isActive" class="s-form">
    <h2>◆全体獲得内訳</h2>
    <%= @create_date %>

    <table class="progress-tb">
      <tr>
        <th class="progress-th1" colspan="5">基本情報</th>
        <th class="progress-th1" colspan="3">獲得内訳</th>
        <th class="progress-th1" colspan="3">成果内訳</th>
        <th class="progress-th1" colspan="3">終着内訳</th>
        <th class="progress-th1" colspan="2">前月決済</th>
      </tr>
      <tr>
        <th class="progress-th2">比較対象</th>
        <th class="progress-th2">日付</th>
        <th class="progress-th2">作成日</th>
        <th class="progress-th2">予定シフト</th>
        <th class="progress-th2">消化シフト</th>
        <th class="progress-th2">獲得数</th>
        <th class="progress-th2">不備・NG</th>
        <th class="progress-th2">獲得終着見込</th>
        <th class="progress-th2">決済＋審査完了</th>
        <th class="progress-th2">アクセプタンス</th>
        <th class="progress-th2">２回目決済</th>
        <th class="progress-th2">決済＋審査完了</th>
        <th class="progress-th2">アクセプタンス</th>
        <th class="progress-th2">２回目決済</th>
        <th class="progress-th2">母体</th>
        <th class="progress-th2">期限切れ</th>
      </tr>
      <tr v-if="isDifActive">
        <td class="progress-td">現状</td>
        <td class="progress-td"><%= @current_progress.first.date %></td>
        <td class="progress-td"><%= @current_progress.first.create_date %></td>
        <td class="progress-td"><%= @current_progress.sum(:shift_schedule) %></td>
        <td class="progress-td"><%= @current_progress.sum(:shift_digestion) %></td>
        <td class="progress-td"><%= @current_progress.sum(:get_len) %></td>
        <td class="progress-td"><%= @current_progress.sum(:def_len) %></td>
        <td class="progress-td"><%= @current_progress.sum(:fin_len) %></td>
        <td class="progress-td"><%= @current_progress.sum(:result1_len) %></td>
        <td class="progress-td"><%= @current_progress.sum(:result2_len) %></td>
        <td class="progress-td"><%= @current_progress.sum(:result3_len) %></td>
        <td class="progress-td"><%= @current_progress.sum(:result1_fin_len) %></td>
        <td class="progress-td"><%= @current_progress.sum(:result2_fin_len) %></td>
        <td class="progress-td"><%= @current_progress.sum(:result3_fin_len) %></td>
        <td class="progress-td"><%= @current_progress.sum(:slmt_tgt_prev) %></td>
        <td class="progress-td"><%= @current_progress.sum(:slmt_dead_len) %></td>
        
      </tr>
      <% if @comparison.present? %>
      <tr v-if="isDifActive">
        <td class="progress-td">比較対象</td>
        <td class="progress-td"><%= @comparison.first.date %></td>
        <td class="progress-td"><%= @comparison.first.create_date %></td>
        <td class="progress-td"><%= @comparison.sum(:shift_schedule) %></td>
        <td class="progress-td"><%= @comparison.sum(:shift_digestion) %></td>
        <td class="progress-td"><%= @comparison.sum(:get_len) %></td>
        <td class="progress-td"><%= @comparison.sum(:def_len) %></td>
        <td class="progress-td"><%= @comparison.sum(:fin_len) %></td>
        <td class="progress-td"><%= @comparison.sum(:result1_len) %></td>
        <td class="progress-td"><%= @comparison.sum(:result2_len) %></td>
        <td class="progress-td"><%= @comparison.sum(:result3_len) %></td>
        <td class="progress-td"><%= @comparison.sum(:result1_fin_len) %></td>
        <td class="progress-td"><%= @comparison.sum(:result2_fin_len) %></td>
        <td class="progress-td"><%= @comparison.sum(:result3_fin_len) %></td>
        <td class="progress-td"><%= @comparison.sum(:slmt_tgt_prev) %></td>
        <td class="progress-td"><%= @comparison.sum(:slmt_dead_len) %></td>
      </tr>
      <tr>
        <td class="difference-td" colspan="3">差異</td>
        <td class="difference-td <%= "red" if 0 > @current_progress.sum(:shift_schedule) - @comparison.sum(:shift_schedule) %>">
          <%= @current_progress.sum(:shift_schedule) - @comparison.sum(:shift_schedule) %>
        </td>
        <td class="difference-td <%= "red" if 0 > @current_progress.sum(:shift_digestion) - @comparison.sum(:shift_digestion) %>">
          <%= @current_progress.sum(:shift_digestion) - @comparison.sum(:shift_digestion) %>
        </td>
        <td class="difference-td <%= "red" if 0 > @current_progress.sum(:get_len) - @comparison.sum(:get_len) %>">
          <%= @current_progress.sum(:get_len) - @comparison.sum(:get_len) %>
        </td>
        <td class="difference-td <%= "red" if 0 > @current_progress.sum(:def_len) - @comparison.sum(:def_len) %>">
          <%= @current_progress.sum(:def_len) - @comparison.sum(:def_len) %>
        </td>
        <td class="difference-td <%= "red" if 0 > @current_progress.sum(:fin_len) - @comparison.sum(:fin_len) %>">
          <%= @current_progress.sum(:fin_len) - @comparison.sum(:fin_len) %>
        </td>
        <td class="difference-td <%= "red" if 0 > @current_progress.sum(:result1_len) - @comparison.sum(:result1_len) %>">
          <%= @current_progress.sum(:result1_len) -  @comparison.sum(:result1_len) %>
        </td>
        <td class="difference-td <%= "red" if 0 > @current_progress.sum(:result2_len) - @comparison.sum(:result2_len) %>">
          <%= @current_progress.sum(:result2_len) -  @comparison.sum(:result2_len) %>
        </td>
        <td class="difference-td <%= "red" if 0 > @current_progress.sum(:result3_len) - @comparison.sum(:result3_len) %>">
          <%= @current_progress.sum(:result3_len) - @comparison.sum(:result3_len) %>
        </td>
        <td class="difference-td <%= "red" if 0 > @current_progress.sum(:result1_fin_len) - @comparison.sum(:result1_fin_len) %>">
          <%= @current_progress.sum(:result1_fin_len) -  @comparison.sum(:result1_fin_len) %>
        </td>
        <td class="difference-td <%= "red" if 0 > @current_progress.sum(:result2_fin_len) - @comparison.sum(:result2_fin_len) %>">
          <%= @current_progress.sum(:result2_fin_len) -  @comparison.sum(:result2_fin_len) %>
        </td>
        <td class="difference-td <%= "red" if 0 > @current_progress.sum(:result3_fin_len) - @comparison.sum(:result3_fin_len) %>">
          <%= @current_progress.sum(:result3_fin_len) - @comparison.sum(:result3_fin_len) %>
        </td>
        <td class="difference-td <%= "red" if 0 > @current_progress.sum(:slmt_tgt_prev) - @comparison.sum(:slmt_tgt_prev) %>">
          <%= @current_progress.sum(:slmt_tgt_prev) - @comparison.sum(:slmt_tgt_prev) %>
        </td>
        <td class="difference-td <%= "red" if 0 > @current_progress.sum(:slmt_dead_len) - @comparison.sum(:slmt_dead_len) %>">
          <%= @current_progress.sum(:slmt_dead_len) - @comparison.sum(:slmt_dead_len) %>
        </td>
      </tr>
      <% end %>
    </table>
    <%# 拠点別 %>
    <h2>◆拠点別獲得内訳</h2>
    <table class="progress-tb">
      <tr>
        <th class="progress-th1" colspan="5">基本情報</th>
        <th class="progress-th1" colspan="3">獲得内訳</th>
        <th class="progress-th1" colspan="3">成果内訳</th>
        <th class="progress-th1" colspan="3">終着内訳</th>
        <th class="progress-th1" colspan="2">前月決済</th>
      </tr>
    <tr>
      <th class="progress-th2">拠点</th>
      <th class="progress-th2">日付</th>
      <th class="progress-th2">作成日</th>
      <th class="progress-th2">予定シフト</th>
      <th class="progress-th2">消化シフト</th>
      <th class="progress-th2">獲得数</th>
      <th class="progress-th2">不備・NG</th>
      <th class="progress-th2">獲得終着見込</th>
      <th class="progress-th2">決済＋審査完了</th>
      <th class="progress-th2">アクセプタンス</th>
      <th class="progress-th2">２回目決済</th>
      <th class="progress-th2">決済＋審査完了</th>
      <th class="progress-th2">アクセプタンス</th>
      <th class="progress-th2">２回目決済</th>
      <th class="progress-th2">母体</th>
      <th class="progress-th2">期限切れ</th>
    </tr>
    <% @current_arry.zip(@comparison_arry).each do |current,comparison| %>
    <% if current.present? %>
    <tr v-if="isDifActive">
        <td class="progress-td"><%= current.first.base %>（現状）</td>
        <td class="progress-td"><%= current.first.date %></td>
        <td class="progress-td"><%= current.first.create_date %></td>
        <td class="progress-td"><%= current.sum(:shift_schedule) %></td>
        <td class="progress-td"><%= current.sum(:shift_digestion) %></td>
        <td class="progress-td"><%= current.sum(:get_len) %></td>
        <td class="progress-td"><%= current.sum(:def_len) %></td>
        <td class="progress-td"><%= current.sum(:fin_len) %></td>
        <td class="progress-td"><%= current.sum(:result1_len) %></td>
        <td class="progress-td"><%= current.sum(:result2_len) %></td>
        <td class="progress-td"><%= current.sum(:result3_len) %></td>
        <td class="progress-td"><%= current.sum(:result1_fin_len) %></td>
        <td class="progress-td"><%= current.sum(:result2_fin_len) %></td>
        <td class="progress-td"><%= current.sum(:result3_fin_len) %></td>
        <td class="progress-td"><%= current.sum(:slmt_tgt_prev) %></td>
        <td class="progress-td"><%= current.sum(:slmt_dead_len) %></td>
    </tr>
    <% if comparison.present? %>
    <tr v-if="isDifActive">
        <td class="progress-td"><%= comparison.first.base %>（比較対象）</td>
        <td class="progress-td"><%= comparison.first.date %></td>
        <td class="progress-td"><%= comparison.first.create_date %></td>
        <td class="progress-td"><%= comparison.sum(:shift_schedule) %></td>
        <td class="progress-td"><%= comparison.sum(:shift_digestion) %></td>
        <td class="progress-td"><%= comparison.sum(:get_len) %></td>
        <td class="progress-td"><%= comparison.sum(:def_len) %></td>
        <td class="progress-td"><%= comparison.sum(:fin_len) %></td>
        <td class="progress-td"><%= comparison.sum(:result1_len) %></td>
        <td class="progress-td"><%= comparison.sum(:result2_len) %></td>
        <td class="progress-td"><%= comparison.sum(:result3_len) %></td>
        <td class="progress-td"><%= comparison.sum(:result1_fin_len) %></td>
        <td class="progress-td"><%= comparison.sum(:result2_fin_len) %></td>
        <td class="progress-td"><%= comparison.sum(:result3_fin_len) %></td>
        <td class="progress-td"><%= comparison.sum(:slmt_tgt_prev) %></td>
        <td class="progress-td"><%= comparison.sum(:slmt_dead_len) %></td>
    </tr>
    <tr>
        <td class="difference-td" colspan="3"><%= current.first.base %>比較差異</td>
        <td class="difference-td <%= "red" if 0 > current.sum(:shift_schedule) - comparison.sum(:shift_schedule) %>">
          <%= current.sum(:shift_schedule) - comparison.sum(:shift_schedule) %>
        </td>
        <td class="difference-td <%= "red" if 0 > current.sum(:shift_digestion) - comparison.sum(:shift_digestion) %>">
          <%= current.sum(:shift_digestion) - comparison.sum(:shift_digestion) %>
        </td>
        <td class="difference-td <%= "red" if 0 > current.sum(:get_len) - comparison.sum(:get_len) %>">
          <%= current.sum(:get_len) - comparison.sum(:get_len) %>
        </td>
        <td class="difference-td <%= "red" if 0 > current.sum(:def_len) - comparison.sum(:def_len) %>">
          <%= current.sum(:def_len) - comparison.sum(:def_len) %>
        </td>
        <td class="difference-td <%= "red" if 0 > current.sum(:fin_len) - comparison.sum(:fin_len) %>">
          <%= current.sum(:fin_len) - comparison.sum(:fin_len) %>
        </td>
        <td class="difference-td <%= "red" if 0 > current.sum(:result1_len) - comparison.sum(:result1_len) %>">
          <%= current.sum(:result1_len) - comparison.sum(:result1_len) %>
        </td>
        <td class="difference-td <%= "red" if 0 > current.sum(:result2_len) - comparison.sum(:result2_len) %>">
          <%= current.sum(:result2_len) - comparison.sum(:result2_len) %>
        </td>
        <td class="difference-td <%= "red" if 0 > current.sum(:result3_len) - comparison.sum(:result3_len) %>">
          <%= current.sum(:result3_len) - comparison.sum(:result3_len) %>
        </td>
        <td class="difference-td <%= "red" if 0 > current.sum(:result1_fin_len) - comparison.sum(:result1_fin_len) %>">
          <%= current.sum(:result1_fin_len) - comparison.sum(:result1_fin_len) %></td>
        <td class="difference-td <%= "red" if 0 > current.sum(:result2_fin_len) - comparison.sum(:result2_fin_len) %>">
          <%= current.sum(:result2_fin_len) - comparison.sum(:result2_fin_len) %>
        </td>
        <td class="difference-td <%= "red" if 0 > current.sum(:result3_fin_len) - comparison.sum(:result3_fin_len) %>">
          <%= current.sum(:result3_fin_len) - comparison.sum(:result3_fin_len) %>
        </td>
        
        <td class="difference-td <%= "red" if 0 > current.sum(:slmt_tgt_prev) - comparison.sum(:slmt_tgt_prev) %>">
          <%= current.sum(:slmt_tgt_prev) - comparison.sum(:slmt_tgt_prev) %>
        </td>
        <td class="difference-td <%= "red" if 0 > current.sum(:slmt_dead_len) - comparison.sum(:slmt_dead_len) %>">
          <%= current.sum(:slmt_dead_len) - comparison.sum(:slmt_dead_len) %>
        </td>
    </tr>
    <% end %>
    <% end %>
    <% end %>
    </table>
  </div>

  <% else %>
  <p class="caution-txt">進捗データがありません、作成してください。</p>
  <% end %>
  <% if @current_progress.present? %>
  <div v-if="isActive" class="s-form">
    <h2>◆全体売上内訳</h2>
    <table class="progress-tb">
      <tr>
        <th class="progress-th1" colspan="5">基本情報</th>
        <th class="progress-th1" colspan="4">現状実売</th>
        <th class="progress-th1" colspan="4">終着実売</th>
      </tr>
      <tr>
        <th class="progress-th2">比較対象</th>
        <th class="progress-th2">日付</th>
        <th class="progress-th2">作成日</th>
        <th class="progress-th2">予定シフト</th>
        <th class="progress-th2">消化シフト</th>
        <th class="progress-th2">決済＋審査完了</th>
        <th class="progress-th2">アクセプタンス</th>
        <th class="progress-th2">２回目決済</th>
        <th class="progress-th2">合計</th>
        <th class="progress-th2">決済＋審査完了</th>
        <th class="progress-th2">アクセプタンス</th>
        <th class="progress-th2">２回目決済</th>
        <th class="progress-th2">合計</th>
      </tr>
      <tr v-if="isDifActive">
        <td class="progress-td">現状</td>
        <td class="progress-td"><%= @current_progress.first.date %></td>
        <td class="progress-td"><%= @current_progress.first.create_date %></td>
        <td class="progress-td"><%= @current_progress.sum(:shift_schedule) %></td>
        <td class="progress-td"><%= @current_progress.sum(:shift_digestion) %></td>
        <td class="progress-td"><%= @current_progress.sum(:profit_current1).to_s(:delimited) %></td>
        <td class="progress-td"><%= @current_progress.sum(:profit_current2).to_s(:delimited) %></td>
        <td class="progress-td"><%= @current_progress.sum(:profit_current3).to_s(:delimited) %></td>
        <td class="progress-td"><%= @current_progress.sum(:profit_current).to_s(:delimited) %></td>
        <td class="progress-td"><%= @current_progress.sum(:profit_fin1).to_s(:delimited) %></td>
        <td class="progress-td"><%= @current_progress.sum(:profit_fin2).to_s(:delimited) %></td>
        <td class="progress-td"><%= @current_progress.sum(:profit_fin3).to_s(:delimited) %></td>
        <td class="progress-td"><%= (
          @current_progress.sum(:profit_fin1) +
            @current_progress.sum(:profit_fin2) +
            @current_progress.sum(:profit_fin3)
          ).to_s(:delimited) 
        %></td>
      </tr>
      <% if @comparison.present? %>
      <tr v-if="isDifActive">
        <td class="progress-td">比較対象</td>
        <td class="progress-td"><%= @comparison.first.date %></td>
        <td class="progress-td"><%= @comparison.first.create_date %></td>
        <td class="progress-td"><%= @comparison.sum(:shift_schedule) %></td>
        <td class="progress-td"><%= @comparison.sum(:shift_digestion) %></td>
        <td class="progress-td"><%= @comparison.sum(:profit_current1).to_s(:delimited) %></td>
        <td class="progress-td"><%= @comparison.sum(:profit_current2).to_s(:delimited) %></td>
        <td class="progress-td"><%= @comparison.sum(:profit_current3).to_s(:delimited) %></td>
        <td class="progress-td"><%= @comparison.sum(:profit_current).to_s(:delimited) %></td>
        <td class="progress-td"><%= @comparison.sum(:profit_fin1).to_s(:delimited) %></td>
        <td class="progress-td"><%= @comparison.sum(:profit_fin2).to_s(:delimited) %></td>
        <td class="progress-td"><%= @comparison.sum(:profit_fin3).to_s(:delimited) %></td>
        <td class="progress-td"><%= (
          @comparison.sum(:profit_fin1) +
            @comparison.sum(:profit_fin2) +
            @comparison.sum(:profit_fin3)
          ).to_s(:delimited) 
        %></td>
      </tr>
      <tr>
        <td class="difference-td" colspan="3">差異</td>
        <td class="difference-td <%= "red" if 0 > @current_progress.sum(:shift_schedule) - @comparison.sum(:shift_schedule) %>">
          <%= @current_progress.sum(:shift_schedule) - @comparison.sum(:shift_schedule) %>
        </td>
        <td class="difference-td <%= "red" if 0 > @current_progress.sum(:shift_digestion) - @comparison.sum(:shift_digestion) %>">
          <%= @current_progress.sum(:shift_digestion) - @comparison.sum(:shift_digestion) %>
        </td>
        <td class="difference-td <%= "red" if 0 > @current_progress.sum(:profit_current1) - @comparison.sum(:profit_current1) %>"><%= 
          (
            @current_progress.sum(:profit_current1) -
            @comparison.sum(:profit_current1)

          ).to_s(:delimited) 
        %></td>
        <td class="difference-td <%= "red" if 0 > @current_progress.sum(:profit_current2) - @comparison.sum(:profit_current2) %>"><%= 
          (
            @current_progress.sum(:profit_current2) -
            @comparison.sum(:profit_current2)
            ).to_s(:delimited) 
        %></td>
        <td class="difference-td <%= "red" if 0 > @current_progress.sum(:profit_current3) - @comparison.sum(:profit_current3) %>"><%= 
          (
            @current_progress.sum(:profit_current3) - 
            @comparison.sum(:profit_current3)
          ).to_s(:delimited) 
        %></td>
        <td class="difference-td <%= "red" if 0 > @current_progress.sum(:profit_current) - @comparison.sum(:profit_current) %>"><%= 
          (
            @current_progress.sum(:profit_current) - 
            @comparison.sum(:profit_current)
          ).to_s(:delimited) 
        %></td>
        <td class="difference-td <%= "red" if 0 > @current_progress.sum(:profit_fin1) - @comparison.sum(:profit_fin1) %>">
          <%= (@current_progress.sum(:profit_fin1) - @comparison.sum(:profit_fin1)).to_s(:delimited) %>
        </td>
        <td class="difference-td <%= "red" if 0 > @current_progress.sum(:profit_fin2) - @comparison.sum(:profit_fin2) %>">
          <%= (@current_progress.sum(:profit_fin2) - @comparison.sum(:profit_fin2)).to_s(:delimited) %>
        </td>
        <td class="difference-td <%= "red" if 0 > @current_progress.sum(:profit_fin3) - @comparison.sum(:profit_fin3) %>">
          <%= (@current_progress.sum(:profit_fin3) - @comparison.sum(:profit_fin3)).to_s(:delimited) %>
        </td>
        <% all_current_fin_sum = @current_progress.sum(:profit_fin1) + @current_progress.sum(:profit_fin2) + @current_progress.sum(:profit_fin3) %>
        <% all_comparison_fin_sum = @comparison.sum(:profit_fin1) + @comparison.sum(:profit_fin2) + @comparison.sum(:profit_fin3) %>
        <td class="difference-td <%= "red" if 0 > all_current_fin_sum - all_comparison_fin_sum %>">
        <%= (all_current_fin_sum - all_comparison_fin_sum).to_s(:delimited) 
        %></td>
      </tr>
      <% end %>
    </table>

    <h2>◆拠点別売上内訳</h2>
    <table class="progress-tb">
      <tr>
        <th class="progress-th1" colspan="5">基本情報</th>
        <th class="progress-th1" colspan="4">現状実売</th>
        <th class="progress-th1" colspan="4">終着実売</th>
      </tr>
      <tr>
        <th class="progress-th2">比較対象</th>
        <th class="progress-th2">日付</th>
        <th class="progress-th2">作成日</th>
        <th class="progress-th2">予定シフト</th>
        <th class="progress-th2">消化シフト</th>
        <th class="progress-th2">決済＋審査完了</th>
        <th class="progress-th2">アクセプタンス</th>
        <th class="progress-th2">２回目決済</th>
        <th class="progress-th2">合計</th>
        <th class="progress-th2">決済＋審査完了</th>
        <th class="progress-th2">アクセプタンス</th>
        <th class="progress-th2">２回目決済</th>
        <th class="progress-th2">合計</th>
      </tr>
    <% @current_arry.zip(@comparison_arry).each do |current,comparison| %>
    <% if current.present? %>
    <tr v-if="isDifActive">
        <td class="progress-td"><%= current.first.base %>（現状）</td>
        <td class="progress-td"><%= current.first.date %></td>
        <td class="progress-td"><%= current.first.create_date %></td>
        <td class="progress-td"><%= current.sum(:shift_schedule) %></td>
        <td class="progress-td"><%= current.sum(:shift_digestion) %></td>
        <td class="progress-td"><%= current.sum(:profit_current1).to_s(:delimited) %></td>
        <td class="progress-td"><%= current.sum(:profit_current2).to_s(:delimited) %></td>
        <td class="progress-td"><%= current.sum(:profit_current3).to_s(:delimited) %></td>
        <td class="progress-td"><%= current.sum(:profit_current).to_s(:delimited) %></td>
        <td class="progress-td"><%= current.sum(:profit_fin1).to_s(:delimited) %></td>
        <td class="progress-td"><%= current.sum(:profit_fin2).to_s(:delimited) %></td>
        <td class="progress-td"><%= current.sum(:profit_fin3).to_s(:delimited) %></td>
        <td class="progress-td"><%= (
          current.sum(:profit_fin1) +
            current.sum(:profit_fin2) +
            current.sum(:profit_fin3)
          ).to_s(:delimited) 
        %></td>
    </tr>
    <% if comparison.present? %>
    <tr v-if="isDifActive">
        <td class="progress-td"><%= comparison.first.base %>（比較）</td>
        <td class="progress-td"><%= comparison.first.date %></td>
        <td class="progress-td"><%= comparison.first.create_date %></td>
        <td class="progress-td"><%= comparison.sum(:shift_schedule) %></td>
        <td class="progress-td"><%= comparison.sum(:shift_digestion) %></td>
        <td class="progress-td"><%= (comparison.sum(:result1_len) * @profit_price1).to_s(:delimited) %></td>
        <td class="progress-td"><%= (comparison.sum(:result2_len) * @profit_price2).to_s(:delimited) %></td>
        <td class="progress-td"><%= (comparison.sum(:result3_len) * @profit_price3).to_s(:delimited) %></td>
        <td class="progress-td"><%= 
          (
            (comparison.sum(:result1_len) * @profit_price1) +
            (comparison.sum(:result2_len) * @profit_price2) + 
            (comparison.sum(:result3_len) * @profit_price3)
          ).to_s(:delimited) 
        %></td>
        <td class="progress-td"><%= comparison.sum(:profit_fin1).to_s(:delimited) %></td>
        <td class="progress-td"><%= comparison.sum(:profit_fin2).to_s(:delimited) %></td>
        <td class="progress-td"><%= comparison.sum(:profit_fin3).to_s(:delimited) %></td>
        <td class="progress-td"><%= (
          comparison.sum(:profit_fin1) +
            comparison.sum(:profit_fin2) +
            comparison.sum(:profit_fin3)
          ).to_s(:delimited) 
        %></td>
    </tr>
      <tr>
        <td class="difference-td" colspan="3"><%= current.first.base %>差異</td>
        <td class="difference-td <%= "red" if 0 > current.sum(:shift_schedule) - comparison.sum(:shift_schedule) %>">
          <%= current.sum(:shift_schedule) - comparison.sum(:shift_schedule) %>
        </td>
        <td class="difference-td <%= "red" if 0 > current.sum(:shift_digestion) - comparison.sum(:shift_digestion) %>">
          <%= current.sum(:shift_digestion) - comparison.sum(:shift_digestion) %>
        </td>
        <td class="difference-td <%= "red" if 0 > current.sum(:profit_current1) - comparison.sum(:profit_current1) %>"><%= 
          (
            current.sum(:profit_current1) -
            comparison.sum(:profit_current1)
          ).to_s(:delimited) 
        %></td>
        <td class="difference-td <%= "red" if 0 > current.sum(:profit_current2) - comparison.sum(:profit_current2) %>"><%= 
          (
            current.sum(:profit_current2) -
            comparison.sum(:profit_current2)
          ).to_s(:delimited) 
        %></td>
        <td class="difference-td <%= "red" if 0 > current.sum(:profit_current3) - comparison.sum(:profit_current3) %>"><%= 
          (
            current.sum(:profit_current3) -
            comparison.sum(:profit_current3)
          ).to_s(:delimited) 
        %></td>
        <td class="difference-td <%= "red" if 0 > current.sum(:profit_current) - comparison.sum(:profit_current) %>"><%= 
          (
            current.sum(:profit_current) - 
            comparison.sum(:profit_current)
          ).to_s(:delimited) 
        %></td>
        <td class="difference-td <%= "red" if 0 > current.sum(:profit_fin1) - comparison.sum(:profit_fin1) %>">
          <%= (current.sum(:profit_fin1) - comparison.sum(:profit_fin1)).to_s(:delimited) %>
        </td>
        <td class="difference-td <%= "red" if 0 > current.sum(:profit_fin2) - comparison.sum(:profit_fin2) %>">
          <%= (current.sum(:profit_fin2) - comparison.sum(:profit_fin2)).to_s(:delimited) %>
        </td>
        <td class="difference-td <%= "red" if 0 > current.sum(:profit_fin3) - comparison.sum(:profit_fin3) %>">
          <%= (current.sum(:profit_fin3) - comparison.sum(:profit_fin3)).to_s(:delimited) %>
        </td>
        <% base_current_fin_sum = current.sum(:profit_fin1) + current.sum(:profit_fin2) + current.sum(:profit_fin3) %>
        <% base_comparison_fin_sum = comparison.sum(:profit_fin1) + comparison.sum(:profit_fin2) + comparison.sum(:profit_fin3) %>
        <td class="difference-td <%= "red" if 0 > base_current_fin_sum - base_comparison_fin_sum %>">
          <%= (base_current_fin_sum - base_comparison_fin_sum).to_s(:delimited) %>
        </td>
      </tr>
    <% end %>
    <% end %>
    <% end %>
    </table>
  </div>
  
  <hr>

  <h2>
    ◆
    <select @change="baseSlct" class="base-slcter">
          <option value="中部SS">中部SS</option>
          <option value="関西SS">関西SS</option>
          <option value="関東SS">関東SS</option>
          <option value="九州SS">九州SS</option>
          <option value="2次店">２次店</option>
          <option value="その他">その他</option>
          <option value="退職">退職</option>
    </select>
    獲得内訳
  </h2>
  <table class="progress-tb">
    <tr>
      <th class="progress-th1" colspan="5">基本情報</th>
      <th class="progress-th1" colspan="3">獲得内訳</th>
      <th class="progress-th1" colspan="3">成果内訳</th>
      <th class="progress-th1" colspan="2">前月決済</th>
    </tr>
    <tr>
      <th class="progress-th2">名前</th>
      <th class="progress-th2">日付</th>
      <th class="progress-th2">作成日</th>
      <th class="progress-th2">予定シフト</th>
      <th class="progress-th2">消化シフト</th>
      <th class="progress-th2">獲得数</th>
      <th class="progress-th2">不備・NG</th>
      <th class="progress-th2">獲得終着見込</th>
      <th class="progress-th2">決済＋審査完了</th>
      <th class="progress-th2">アクセプタンス</th>
      <th class="progress-th2">２回目決済</th>
      <th class="progress-th2">母体</th>
      <th class="progress-th2">期限切れ</th>
    </tr>
    <tr v-for="item in currentItems" :key="item" class="progress-tr">
      <td class="progress-td">{{ users.find((u) => u.id == item.user_id).name }}</td>
      <td class="progress-td">{{ item.date }}</td>
      <td class="progress-td">{{ item.create_date }}</td>
      <td class="progress-td">{{ item.shift_schedule }}</td>
      <td class="progress-td">{{ item.shift_digestion }}</td>
      <td class="progress-td">{{ item.get_len }}</td>
      <td class="progress-td">{{ item.def_len }}</td>
      <td class="progress-td">{{ item.fin_len }}</td>
      <td class="progress-td">{{ item.result1_len }}</td>
      <td class="progress-td">{{ item.result2_len }}</td>
      <td class="progress-td">{{ item.result3_len }}</td>
      <td class="progress-td">{{ item.slmt_tgt_prev }}</td>
      <td class="progress-td">{{ item.slmt_dead_len }}</td>
    </tr>
    <tr class="sum-tr">
      <td class="progress-td" colspan="3">合計（現状）</td>
      <td class="progress-td">{{ currentItems.reduce((sum,element)=> sum +element.shift_schedule,0) }}</td>
      <td class="progress-td">{{ currentItems.reduce((sum,element)=> sum +element.shift_digestion,0) }}</td>
      <td class="progress-td">{{ currentItems.reduce((sum,element)=> sum +element.get_len,0) }}</td>
      <td class="progress-td">{{ currentItems.reduce((sum,element)=> sum +element.def_len,0) }}</td>
      <td class="progress-td">{{ currentItems.reduce((sum,element)=> sum +element.fin_len,0) }}</td>
      <td class="progress-td">{{ currentItems.reduce((sum,element)=> sum +element.result1_len,0) }}</td>
      <td class="progress-td">{{ currentItems.reduce((sum,element)=> sum +element.result2_len,0) }}</td>
      <td class="progress-td">{{ currentItems.reduce((sum,element)=> sum +element.result3_len,0) }}</td>
      <td class="progress-td">{{ currentItems.reduce((sum,element)=> sum +element.slmt_tgt_prev,0) }}</td>
      <td class="progress-td">{{ currentItems.reduce((sum,element)=> sum +element.slmt_dead_len,0) }}</td>
    </tr>
    <tr v-if="comparisonItems.length != 0" class="difference-tr">
      <td class="progress-td" colspan="3">合計（比較対象{{ comparisonItems[0].date }}）</td>
      <td class="progress-td">{{ comparisonItems.reduce((sum,element)=> sum +element.shift_schedule,0) }}</td>
      <td class="progress-td">{{ comparisonItems.reduce((sum,element)=> sum +element.shift_digestion,0) }}</td>
      <td class="progress-td">{{ comparisonItems.reduce((sum,element)=> sum +element.get_len,0) }}</td>
      <td class="progress-td">{{ comparisonItems.reduce((sum,element)=> sum +element.def_len,0) }}</td>
      <td class="progress-td">{{ comparisonItems.reduce((sum,element)=> sum +element.fin_len,0) }}</td>
      <td class="progress-td">{{ comparisonItems.reduce((sum,element)=> sum +element.result1_len,0) }}</td>
      <td class="progress-td">{{ comparisonItems.reduce((sum,element)=> sum +element.result2_len,0) }}</td>
      <td class="progress-td">{{ comparisonItems.reduce((sum,element)=> sum +element.result3_len,0) }}</td>
      <td class="progress-td">{{ comparisonItems.reduce((sum,element)=> sum +element.slmt_tgt_prev,0) }}</td>
      <td class="progress-td">{{ comparisonItems.reduce((sum,element)=> sum +element.slmt_dead_len,0) }}</td>
    </tr>
    <tr v-if="comparisonItems.length != 0">
      <td class="difference-td" colspan="3">比較対象との差異</td>
      <td class="difference-td">{{
         currentItems.reduce((sum,element)=> sum +element.shift_schedule,0) -
         comparisonItems.reduce((sum,element)=> sum +element.shift_schedule,0)
         }}</td>
      <td class="difference-td">{{
         currentItems.reduce((sum,element)=> sum +element.shift_digestion,0) -
         comparisonItems.reduce((sum,element)=> sum +element.shift_digestion,0)
         }}</td>
      <td class="difference-td">{{ 
        currentItems.reduce((sum,element)=> sum +element.get_len,0) -
        comparisonItems.reduce((sum,element)=> sum +element.get_len,0)
        }}</td>
      <td class="difference-td">{{ 
        currentItems.reduce((sum,element)=> sum +element.def_len,0) -
        comparisonItems.reduce((sum,element)=> sum +element.def_len,0)
        }}</td>
      <td class="difference-td">{{ 
        currentItems.reduce((sum,element)=> sum +element.fin_len,0) -
        comparisonItems.reduce((sum,element)=> sum +element.fin_len,0) 
        }}</td>
      <td class="difference-td">{{ 
        currentItems.reduce((sum,element)=> sum +element.result1_len,0) -
        comparisonItems.reduce((sum,element)=> sum +element.result1_len,0) 
        }}</td>
      <td class="difference-td">{{ 
        currentItems.reduce((sum,element)=> sum +element.result2_len,0) -
        comparisonItems.reduce((sum,element)=> sum +element.result2_len,0) 
        }}</td>
      <td class="difference-td">{{ 
        currentItems.reduce((sum,element)=> sum +element.result3_len,0) -
        comparisonItems.reduce((sum,element)=> sum +element.result3_len,0) 
        }}</td>
      <td class="difference-td">{{ 
        currentItems.reduce((sum,element)=> sum +element.slmt_tgt_prev,0) -
        comparisonItems.reduce((sum,element)=> sum +element.slmt_tgt_prev,0) 
        }}</td>
      <td class="difference-td">{{ 
        currentItems.reduce((sum,element)=> sum +element.slmt_dead_len,0) -
        comparisonItems.reduce((sum,element)=> sum +element.slmt_dead_len,0) 
        }}</td>
    </tr>
  </table>
  <% else %>
  <% end %>
  <% if @current_progress.present? %>
  <h2>◆売上内訳</h2>
  <table class="progress-tb">
    <tr>
      <th class="progress-th1" colspan="5">基本情報</th>
      <th class="progress-th1" colspan="4">現状実売</th>
      <th class="progress-th1" colspan="4">終着実売</th>
    </tr>
    <tr>
      <th class="progress-th2">名前</th>
      <th class="progress-th2">日付</th>
      <th class="progress-th2">作成日</th>
      <th class="progress-th2">予定シフト</th>
      <th class="progress-th2">消化シフト</th>
      <th class="progress-th2">決済＋審査完了</th>
      <th class="progress-th2">アクセプタンス</th>
      <th class="progress-th2">２回目決済</th>
      <th class="progress-th2">合計</th>
      <th class="progress-th2">決済＋審査完了</th>
      <th class="progress-th2">アクセプタンス</th>
      <th class="progress-th2">２回目決済</th>
      <th class="progress-th2">合計</th>
    </tr>
    <tr v-for="item in currentItems" :key="item" class="progress-tr">
      <td class="progress-td">{{ users.find((u) => u.id == item.user_id).name }}</td>
      <td class="progress-td">{{ item.date }}</td>
      <td class="progress-td">{{ item.create_date }}</td>
      <td class="progress-td">{{ item.shift_schedule }}</td>
      <td class="progress-td">{{ item.shift_digestion }}</td>
      <td class="progress-td">{{ (item.result1_len * profit_price1).toLocaleString() }}</td>
      <td class="progress-td">{{ (item.result2_len * profit_price2).toLocaleString() }}</td>
      <td class="progress-td">{{ (item.result3_len * profit_price3).toLocaleString() }}</td>
      <td class="progress-td">{{ 
        (
          (item.result1_len * profit_price1) + 
          (item.result2_len * profit_price2) + 
          (item.result3_len * profit_price3)
        ).toLocaleString()
        }}</td>
      <td class="progress-td">{{ item.profit_fin1.toLocaleString() }}</td>
      <td class="progress-td">{{ item.profit_fin2.toLocaleString() }}</td>
      <td class="progress-td">{{ item.profit_fin3.toLocaleString() }}</td>
      <td class="progress-td">{{
         (
           item.profit_fin1 +
           item.profit_fin2 +
           item.profit_fin3
          ).toLocaleString() 
         }}</td>
    </tr>
    <tr class="sum-tr">
      <td class="progress-td" colspan="3">合計（現状）</td>
      <td class="progress-td">{{ (currentItems.reduce((sum,element)=> sum +element.shift_schedule,0)) }}</td>
      <td class="progress-td">{{ (currentItems.reduce((sum,element)=> sum +element.shift_digestion,0)) }}</td>
      <td class="progress-td">{{ (currentItems.reduce((sum,element)=> sum +element.result1_len,0) * profit_price1).toLocaleString() }}</td>
      <td class="progress-td">{{ (currentItems.reduce((sum,element)=> sum +element.result2_len,0) * profit_price2).toLocaleString() }}</td>
      <td class="progress-td">{{ (currentItems.reduce((sum,element)=> sum +element.result3_len,0) * profit_price3).toLocaleString() }}</td>
      <td class="progress-td">{{ 
        (
          (currentItems.reduce((sum,element)=> sum +element.result1_len,0) * profit_price1) +
          (currentItems.reduce((sum,element)=> sum +element.result2_len,0) * profit_price2) +
          (currentItems.reduce((sum,element)=> sum +element.result3_len,0) * profit_price3)
        ).toLocaleString() 
        }}</td>
      <td class="progress-td">{{ (currentItems.reduce((sum,element)=> sum +element.profit_fin1,0)).toLocaleString() }}</td>
      <td class="progress-td">{{ (currentItems.reduce((sum,element)=> sum +element.profit_fin2,0)).toLocaleString() }}</td>
      <td class="progress-td">{{ (currentItems.reduce((sum,element)=> sum +element.profit_fin3,0)).toLocaleString() }}</td>
      <td class="progress-td">{{
         (
           currentItems.reduce((sum,element)=> sum +element.profit_fin1,0) +
           currentItems.reduce((sum,element)=> sum +element.profit_fin2,0) +
           currentItems.reduce((sum,element)=> sum +element.profit_fin3,0)
           ).toLocaleString() 
         }}</td>
    </tr>
    <% if @comparison.present? %>
    <tr class="difference-tr">
      <td class="progress-td" colspan="3">合計（比較対象{{ comparisonItems[0].date }}）</td>
      <td class="progress-td">{{ (comparisonItems.reduce((sum,element)=> sum +element.shift_schedule,0)) }}</td>
      <td class="progress-td">{{ (comparisonItems.reduce((sum,element)=> sum +element.shift_digestion,0)) }}</td>
      <td class="progress-td">{{ (comparisonItems.reduce((sum,element)=> sum +element.result1_len,0) * profit_price1).toLocaleString() }}</td>
      <td class="progress-td">{{ (comparisonItems.reduce((sum,element)=> sum +element.result2_len,0) * profit_price2).toLocaleString() }}</td>
      <td class="progress-td">{{ (comparisonItems.reduce((sum,element)=> sum +element.result3_len,0) * profit_price3).toLocaleString() }}</td>
      <td class="progress-td">{{ 
        (
          (comparisonItems.reduce((sum,element)=> sum +element.result1_len,0) * profit_price1) +
          (comparisonItems.reduce((sum,element)=> sum +element.result2_len,0) * profit_price2) +
          (comparisonItems.reduce((sum,element)=> sum +element.result3_len,0) * profit_price3)
        ).toLocaleString() 
        }}</td>
      <td class="progress-td">{{ (comparisonItems.reduce((sum,element)=> sum +element.profit_fin1,0)).toLocaleString() }}</td>
      <td class="progress-td">{{ (comparisonItems.reduce((sum,element)=> sum +element.profit_fin2,0)).toLocaleString() }}</td>
      <td class="progress-td">{{ (comparisonItems.reduce((sum,element)=> sum +element.profit_fin3,0)).toLocaleString() }}</td>
      <td class="progress-td">{{
         (
           comparisonItems.reduce((sum,element)=> sum +element.profit_fin1,0) +
           comparisonItems.reduce((sum,element)=> sum +element.profit_fin2,0) +
           comparisonItems.reduce((sum,element)=> sum +element.profit_fin3,0)
           ).toLocaleString() 
         }}</td>
    </tr>
    <tr >
      <td class="difference-td" colspan="3">比較対象との差異</td>
      <td class="difference-td">{{ 
        (
          currentItems.reduce((sum,element)=> sum +element.shift_schedule,0) - 
          comparisonItems.reduce((sum,element)=> sum +element.shift_schedule,0)
        )
        }}</td>
      <td class="difference-td">{{ 
        (
          currentItems.reduce((sum,element)=> sum +element.shift_digestion,0) -
          comparisonItems.reduce((sum,element)=> sum +element.shift_digestion,0)
        ) 
        }}</td>
      <td class="difference-td">{{ 
        (
          (currentItems.reduce((sum,element)=> sum +element.result1_len,0) * profit_price1) - 
          (comparisonItems.reduce((sum,element)=> sum +element.result1_len,0) * profit_price1)
        ).toLocaleString() 
        }}</td>
      <td class="difference-td">{{ 
        (
          (currentItems.reduce((sum,element)=> sum +element.result2_len,0) * profit_price2) -
          (comparisonItems.reduce((sum,element)=> sum +element.result2_len,0) * profit_price2)
        ).toLocaleString() 
        }}</td>
      <td class="difference-td">{{ 
        (
          (currentItems.reduce((sum,element)=> sum +element.result3_len,0) * profit_price3) -
          (comparisonItems.reduce((sum,element)=> sum +element.result3_len,0) * profit_price3)
          ).toLocaleString() 
        }}</td>
      <td class="difference-td">{{ 
        (
          (
            (currentItems.reduce((sum,element)=> sum +element.result1_len,0) * profit_price1) +
            (currentItems.reduce((sum,element)=> sum +element.result2_len,0) * profit_price2) +
            (currentItems.reduce((sum,element)=> sum +element.result3_len,0) * profit_price3)
          ) - 
          (
            (comparisonItems.reduce((sum,element)=> sum +element.result1_len,0) * profit_price1) +
            (comparisonItems.reduce((sum,element)=> sum +element.result2_len,0) * profit_price2) +
            (comparisonItems.reduce((sum,element)=> sum +element.result3_len,0) * profit_price3)
          )
        ).toLocaleString() 
        }}</td>
      <td class="difference-td">{{ 
        (
          currentItems.reduce((sum,element)=> sum +element.profit_fin1,0) -
          comparisonItems.reduce((sum,element)=> sum +element.profit_fin1,0)
        ).toLocaleString() 
        }}</td>
      <td class="difference-td">{{ 
        (
          currentItems.reduce((sum,element)=> sum +element.profit_fin2,0) - 
          comparisonItems.reduce((sum,element)=> sum +element.profit_fin2,0)
          ).toLocaleString() 
        }}</td>
      <td class="difference-td">{{ 
        (
          currentItems.reduce((sum,element)=> sum +element.profit_fin3,0) -
          comparisonItems.reduce((sum,element)=> sum +element.profit_fin3,0)
          ).toLocaleString() 
      }}</td>
      <td class="difference-td">{{
         (
           (
            currentItems.reduce((sum,element)=> sum +element.profit_fin1,0) +
            currentItems.reduce((sum,element)=> sum +element.profit_fin2,0) +
            currentItems.reduce((sum,element)=> sum +element.profit_fin3,0)
           ) -
           (
            comparisonItems.reduce((sum,element)=> sum +element.profit_fin1,0) +
            comparisonItems.reduce((sum,element)=> sum +element.profit_fin2,0) +
            comparisonItems.reduce((sum,element)=> sum +element.profit_fin3,0)
           )
           ).toLocaleString()
         }}</td>
    </tr>
  <% end %>
  </table>
  <% else %>
  <% end %>
  </article>
  <hr>
  <% if @current_progress.present? %>
  <h2>
  グラフ：
  <select class="graph-slct" id="graph-change" >
    <option value="終着売上推移">終着売上</option>
    <option value="現状実売推移">現状実売</option>
    <option value="一次成果推移">一次成果（審査完了+決済）</option>
    <option value="二次成果推移">二次成果（アクセプタンス審査通過）</option>
    <option value="三次成果推移">三次成果（アクセプタンス審査通過）</option>
  </select>
  </h2>
  <div class="graph-form-first" id="fin-graph">
  <h2>◆終着実売</h2><br>
  <%= line_chart @data_fin,options = {
    thousands: ","
  } 
  %>
  </div>
  <div class="graph-form" id="current-graph">
  <h2>◆現状実売推移</h2><br>
  <%= line_chart @data_current,options = {
    thousands: ","
  } 
  %>
  </div>
  <div class="graph-form" id="result1-graph">
  <h2>◆一次成果推移（審査完了+決済）</h2><br>
  <%= line_chart @result1_graph,options = {
    thousands: ","
  }  
  %>
  </div>
  <div class="graph-form" id="result2-graph">
  <h2>◆二次成果推移（アクセプタンス審査通過）</h2><br>
  <%= line_chart @result2_graph,options = {
    thousands: ","
  }  
  %>
  </div>
  <div class="graph-form" id="result3-graph">
  <h2>◆三次成果推移（アクセプタンス審査通過）</h2><br>
  <%= line_chart @result3_graph,options = {
    thousands: ","
  }  
  %>
  </div>
  <% end %>
</div>