<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>実売資料</h1>
  <%= render "shared/header" %>
</div>
  <div class="main">
    <div data-scope-path="results/index">
        <h2>
          <%= link_to "<<",profits_path(month:@month.prev_month), class:"link","data-turbolinks": false %>
          <%= @month.month %>月
          <%= link_to ">>",profits_path(month:@month.next_month), class:"link","data-turbolinks": false %>
        </h2>
    <%= render 'profit_parts/person_profit' %>
  </div>
