<h1>店舗情報編集</h1>
<%= render "shared/header" %>
<div class="main">
  <%= render "shared/side_bar" %>
  <div>
    <h1 class="show-title">店舗情報</h1>
    <table class="table">
    <tr class="table-row">
    <th class="thead">店舗名</th>
    <td class="tdata"><%= @store_prop.name %></td>
    </tr>
    <th class="thead">属性</th>
    <td class="tdata"><%= @store_prop.race %></td>
    <th class="thead">業種</th>
    <td class="tdata"><%= @store_prop.industry %></td>
    <tr class="table-row">
    </tr>
    <tr class="table-row">
    <tr class="table-row">
    <tr class="table-row">
    <th class="thead">店舗代表</th>
    <td class="tdata"><%= @store_prop.person_main %></td>
    <th class="thead">店舗担当</th>
    <td class="tdata"><%= @store_prop.person_sub %></td>
    </tr>
    </table>
    <table class="table">
    <tr class="table-row">
    <th class="thead">店舗住所</th>
    <td class="tdata-long"><%= @store_prop.prefectures %><%= @store_prop.city %><%= @store_prop.municipalities %><%= @store_prop.address %><%= @store_prop.building_name %></td>
    </table>
    <h1 class="show-title">連絡先</h1>
    <table class="table">
    <th class="thead">電話番号1</th>
    <td class="tdata"><%= @store_prop.phone_number_1 %></td>
    <th class="thead">電話番号2</th>
    <td class="tdata"><%= @store_prop.phone_number_2 %></td>
    <th class="thead">好適時間</th>
    <td class="tdata"><%= @store_prop.suitable_time %></td>
    </tr>
    <tr class="table-row">
    <th class="thead">備考</th>
    <td class="tdata"><%= @store_prop.description %></td>
    </tr>
    </table>
  </div>
</div>