<%= render "shared/header" %>

<div class="main">
  <%= render "shared/side_bar" %>
  <main class="right-bar">
    <h1 class="sub-title">店舗一覧</h1>
    <div class="search-body">
  <%# <div>＃ここに検索機能を入れる</div> %>
    <%= search_form_for @q do |f| %>
      <%= f.label :name, "店舗名", class: "search-label" %>
      <%= f.search_field :name_cont %>
      <%= f.label :prefecture, "都道府県", class: "search-label" %>
      <%= f.text_field :prefecture_cont %>
      <%= f.label :city, "市区", class: "search-label" %>
      <%= f.text_field :city_cont %>
      <%= f.submit "検索" %>
    <% end %>
    </div>
 

    <div class="csv">
    <%= form_with url: import_store_props_path do |f| %>
  <button class="header-btn"><%= link_to "新規店舗登録", new_store_prop_path, class: "btn-text" %></button>
      <%= f.label :file, "店舗情報：CSV取り込み",class:"csv-title" %>
      <%= f.file_field :file, accept: '.csv', class: "csv-btn"  %>
      <%= f.submit  "インポート", class: "csv-submit", data: {confirm: "インポートしますか？"}  %>
    <% end %>

    </div>
 
  
    <table class="table">
    <tr class="table-row"><th class="thead"></th>
      <th class="thead"><%= sort_link(@q, :id, "ID") %></th>
      <th class="thead"><%= sort_link(@q, :race, "法人/個人") %></th>
      <th class="thead"><%= sort_link(@q, :name, "店舗名") %></th>
    <% @store_props.each do |store_prop| %>
    <tr class="table-row">
    <td class="tdata"><%= link_to "詳細",  store_prop_path(store_prop.id) ,class: "link" %></td>
    <td class="tdata"><%= store_prop.id %></td>
    <td class="tdata"><%= store_prop.race %></td>
    <td class="tdata"><%= store_prop.name %></td>
    </tr>
    <% end %>
    </table>
  </main>
</div>
