<div data-scope-path="shared/header">
  <h1>店舗一覧</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div data-scope-path="store_props/index">
  <div class="main">
    <div class="flex">
      <% if current_user.position == "権限①" %>
      <table>
        <th class="reg"><%= link_to "CSV出力", export_store_props_path(format: :csv), data: {confirm: "CSVを出力しますか？"}, class: "reg-link",id:'download-csv' %></th>
      </table>
      <% end %>
    </div>
    <% if current_user.position_sub == "管理" %>
      <%= form_with url: import_store_props_path do |f| %>
      <table class="csv-tb">
        <td class="csv-label">CSV</td>
        <td><%= f.file_field :file, accept:'.csv', class:"csv-input" %></td>
        <td class="csv-result"><%= f.submit "インポート", class: "result-btn", data: {confirm: "インポートしますか？", disable_with: "インポート中"} %>
      <% end %>
      </table>
    <% end %>

    <%= search_form_for @q do |f| %>
    <table>
      <tr>
        <th class="search-head" rowspan="2" >検索</th>
        <th class="search-th">店舗名</th>
        <th class="search-th">担当カナ</th>
        <th class="search-th">連絡先</th>
        <th class="search-th">都道府県</th>
        <th class="search-th">市区</th>
        <th class="search-th">建物名</th>
        <td class="result"><%= f.submit "絞込", data: {disable_with: '絞込中'}, class: "result-btn" %></td>
      </tr>
      <tr>
        <td ><%= f.search_field :name_cont, class: "input" %></td>
        <td><%= f.search_field :person_main_kana_or_person_sub_kana_cont, class: "input" %></td>
        <td ><%= f.search_field :phone_number_1_or_phone_number_2_cont, class: "input" %></td>
        <td ><%= f.text_field :prefecture_cont, class: "input" %></td>
        <td ><%= f.text_field :city_cont, class: "input" %></td>
        <td ><%= f.text_field :building_name_cont, class: "input" %></td>
        <td  class="reset"><%= link_to "リセット", store_props_path ,class: "reset-link" %></td>
      </tr>
    </table>
    <% end %>
    
    <hr>
    <%= alert %>
      <% if @store_props.empty? %>
      <div class="warning"><%= alert %></div>
      <% else %>
        <table>
          <tr>
            <th>店舗数</th>
            <th>dメル</th>
            <th>auPay</th>
            <th>PayPay</th>
            <th>楽天ペイ</th>
            <th>AirPay</th>
            <th>出前館</th>
          </tr>
          <tr class="search-tr">
            <td ><%= @store_props.length %></td>
            <td ><%= @store_props.where.not(dmer: {id: nil}).length %></td>
            <td ><%= @store_props.where.not(aupay: {id: nil}).length %></td>
            <td ><%= @store_props.where.not(paypay: {id: nil}).length %></td>
            <td ><%= @store_props.where.not(rakuten_pay: {id: nil}).length %></td>
            <td ><%= @store_props.where.not(airpay: {id: nil}).length %></td>
            <td ><%= @store_props.where.not(demaekan: {id: nil}).length %></td>
          </tr>
        </table>

        <p class="text">※不備となっている案件は獲得案件の文字が赤くなっています。</p>

        <table class="out-tb">
        <thead>
        <tr>
          <th class="out-th"></th>
          <th class="out-th"><%= sort_link(@q, :id, "ID",{},{class: "reset-link"}) %></th>
          <th class="out-th"><%= sort_link(@q, :race, "法人/個人",{},{class: "reset-link"}) %></th>
          <th class="out-th"><%= sort_link(@q, :name, "店舗名",{},{class: "reset-link"}) %></th>
          <% if current_user.position == "権限①" %>
          <th class="out-th">獲得商材</th>
          <% end %>
          <th class="out-th"></th>
        </tr>
        </thead>
        <tbody>
        <% @store_props_data.each do |store_prop| %>
        <tr>
          <td ><%= link_to "　詳細　", store_prop_path(store_prop.id), class: "link" %></td>
          <td ><%= store_prop.id %></td>
          <td ><%= store_prop.race %></td>
          <td ><%= store_prop.name %></td>
          <% if current_user.position == "権限①" %>
            <td >
            <%  if store_prop.dmer.present? %>
              <% if store_prop.dmer.status == "不備対応中" %>
                <%= link_to "dメル", dmer_path(store_prop.dmer.id),class:"caution-link" %>
              <% else %>
                <%= link_to "dメル", dmer_path(store_prop.dmer.id),class:"link" %>
              <% end %>
            <% end %>
            <%  if store_prop.aupay.present? %>
              <% if store_prop.aupay.status == "差し戻し" %>
                <%= link_to "auPay", aupay_path(store_prop.aupay.id),class:"caution-link" %>
              <% else %>
                <%= link_to "auPay", aupay_path(store_prop.aupay.id),class:"link" %>
              <% end %>
            <% end %>
            <%  if store_prop.paypay.present? %>
                <%= link_to "PayPay", paypay_path(store_prop.paypay.id),class:"link" %>
            <% end %>
            <%  if store_prop.rakuten_pay.present? %>
              <% if store_prop.rakuten_pay.status == "自社不備" %>
                <%= link_to "楽天ペイ", rakuten_pay_path(store_prop.rakuten_pay.id),class:"caution-link" %>
              <% else %>
                <%= link_to "楽天ペイ", rakuten_pay_path(store_prop.rakuten_pay.id),class:"link" %>
              <% end %>
            <% end %>
            <% if store_prop.airpay.present? %>
              AirPay
            <% end %>
            <% if store_prop.demaekan.present? %>
              出前館
            <% end %>
            </td>
              <% if current_user.position == "権限①" %>
                <td ><%= link_to "　削除　", store_prop_path(store_prop.id),method: :delete,data: {confirm: "削除しますか？"}, class: "link" %></td>
              <% end %>
          <% end %>
        </tr>
        <% end %>
        </tbody>
        </table>
        <div class="kaminari-page">
          <%= paginate @store_props_data %>
        </div>
      <% end %>
    </div>
  </div>
</div>
