
<%= render "shared/header" %>

<div class="main">
  <%= render "shared/side_bar" %>
  <main class="right-bar">
    <h1 class="sub-title">店舗一覧</h1>
      <table class="search-table">
        <th class="store-link"><%= link_to "店舗登録", new_store_prop_path, class: "new-link" %></th>
        <th class="cashless-result"><%= link_to "SS終着", new_result_path, class: "new-link" %></th>
        <th class="cashless-result"><%= link_to "N終着", new_n_result_path, class: "new-link" %></th>
      </table>

      <%= search_form_for @q do |f| %>
    <table class="search-frame">
      
      <tr class="search-tr">
        <th class="search-th"><%= f.label :industry, "業種", class: "search-label" %></th>
        <th class="search-th"><%= f.label :name, "店舗名", class: "search-label" %></th>
        <th class="search-th"><%= f.label :prefecture, "都道府県", class: "search-label" %></th>
        <th class="search-th"><%= f.label :city, "市区", class: "search-label" %></th>
        <td class="search-result"><%= f.submit "絞込み", class: "search-btn" %></td>
      </tr>
      <tr class="search-tr">
        <td class="search-form"><%= f.select :industry_eq, {"飲食": "飲食", "小売": "小売", "サービス": "サービス"} , {include_blank: true},{class: "search-input"} %></td>
        <td class="search-td"><%= f.search_field :name_cont, class: "search-input" %></td>
        <td class="search-td"><%= f.text_field :prefecture_cont, class: "search-input" %></td>
        <td class="search-td"><%= f.text_field :city_cont, class: "search-input" %></td>
        <td  class="search-reset"><%= link_to "絞込みリセット", root_path ,class: "reset-link" %></td>
      </tr>
      <% end %>
    </table>
    <hr>
    <% if @store_props.empty? %>
    <% else %>
 
    <table class="search-table">
      <tr>
        <th class="search-th">店舗数</th>
        <th class="search-th">法人</th>
        <th class="search-th">個人</th>
        </tr>

      <tr class="search-tr">
        <td class="search-td"><%= @store_props.length %></td>
        <td class="search-td"><%= @store_props.where(race: '法人').length %></td>
        <td class="search-td"><%= @store_props.where(race: '個人').length %></td>
      </tr>
    </table>
  
    <table class="index-table">
    <tr class="index-tr">
      <th class="index-th"></th>
      <th class="index-th"><%= sort_link(@q, :id, "ID",{},{class: "index-sort"}) %></th>
      <th class="index-th"><%= sort_link(@q, :race, "法人/個人",{},{class: "index-sort"}) %></th>
      <th class="index-th"><%= sort_link(@q, :name, "店舗名",{},{class: "index-sort"}) %></th>
    <% @store_props.each do |store_prop| %>
    <tr class="index-tr">
    <td class="index-td"><%= link_to "詳細",  store_prop_path(store_prop.id) ,class: "index-link" %></td>
    <td class="index-td"><%= store_prop.id %></td>
    <td class="index-td"><%= store_prop.race %></td>
    <td class="index-td"><%= store_prop.name %></td>
    </tr>
    <% end %>
    </table>
  <% end %>
  </main>
</div>
