<div data-scope-path="store_props/index">
  <h1>店舗一覧</h1>
  <%= render "shared/header" %>
    <table>
      <th class="reg"><%= link_to "店舗登録", new_store_prop_path, class: "reg-link" %></th>
    </table>
  <%= form_with url: import_store_props_path do |f| %>
    <table>
        <td class="csv-label">CSV</td>
        <td><%= f.file_field :file, accept: '.csv', class: "input"  %></td>
        <td class="result"><%= f.submit "インポート", class: "result-btn", data: {confirm: "インポートしますか？"},id: "dl-reload", target: "_blank" %>
    </table>
  <% end %>
      <%= search_form_for @q do |f| %>
      <div class="check-form">
        <span class="check-label">dメル</span>
        <%= f.check_box :dmer_id_not_null, {class: "check-input"}, true, false %>
        <span class="check-label">aupay</span>
        <%= f.check_box :aupay_id_not_null, {class: "check-input"},true, false %>
      </div>
    <table>
      <tr>
        <th class="search-title" rowspan="2" >検索</th>
        <th class="search1">業種</th>
        <th class="search1">店舗名</th>
        <th class="search1">担当者名(カナ)</th>
        <th class="search1">連絡先</th>
        <th class="search1">都道府県</th>
        <th class="search1">市区</th>
        <td class="result"><%= f.submit "絞込み", class: "result-btn" %></td>
      </tr>
      <tr>
        <td><%= f.select :industry_eq, {"飲食": "飲食", "小売": "小売", "サービス": "サービス"} , {include_blank: true},{class: "input"} %></td>
        <td ><%= f.search_field :name_cont, class: "input" %></td>
        <td><%= f.search_field :person_main_kana_or_person_sub_kana_cont, class: "input" %></td>
        <td ><%= f.search_field :phone_number_1_or_phone_number_2_cont, class: "input" %></td>
        <td ><%= f.text_field :prefecture_cont, class: "input" %></td>
        <td ><%= f.text_field :city_cont, class: "input" %></td>
        <td  class="reset"><%= link_to "絞込みリセット", store_props_path ,class: "reset-link" %></td>
      </tr>
    </table>
      <% end %>
    <hr>
      <%= alert %>
    <% if @store_props.empty? %>

    <% else %>
    <table>
      <tr>
        <th class="search2">店舗数</th>
        <th class="search2">法人</th>
        <th class="search2">個人</th>
      </tr>

      <tr class="search-tr">
        <td ><%= @store_props.length %></td>
        <td ><%= @store_props.where(race: '法人').length %></td>
        <td ><%= @store_props.where(race: '個人').length %></td>
      </tr>
    </table>
  
    <table>
    <tr>
      <th></th>
      <th><%= sort_link(@q, :id, "ID",{},{class: "reset-link"}) %></th>
      <th><%= sort_link(@q, :race, "法人/個人",{},{class: "reset-link"}) %></th>
      <th><%= sort_link(@q, :name, "店舗名",{},{class: "reset-link"}) %></th>
    <% @store_props.each do |store_prop| %>
    <tr>
    <td ><%= link_to "詳細", store_prop_path(store_prop.id), class: "link" %></td>
    <td ><%= store_prop.id %></td>
    <td ><%= store_prop.race %></td>
    <td ><%= store_prop.name %></td>
    </tr>
    <% end %>
    </table>
  <% end %>
</div>
