<%= render "shared/header" %>

<div class="main">
  <%= render "shared/side_bar" %>
  <main class="right-bar">
  <h1 class="show-title">新規情報入力（店舗）</h1>

  <%= form_with model: @store_prop, class: "form-frame", local: true do |f| %>
  <div class="form-group">
      <div class="form-interval">
        <%= f.label :race, "区分", class: "form-text" %><br>
      <%= f.select :race , {"個人": "個人", "法人": "法人"},{include_blank: "選択してください"}, {class: "form-input"} %>
      </div>

    <div class="form-interval">
      <%= f.label :name, "店舗名", class: "form-text" %><br>
    <%= f.text_field :name , class: "form-input" %>
    </div>

    <div class="form-interval">
      <%= f.label :name, "業種", class: "form-text" %><br>
    <%= f.text_field :industry , class: "form-input" %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-interval">
      <%= f.label :prefectures, "都道府県", class: "form-text" %><br>
      <%= f.text_field :prefectures , class: "form-input" %>
    </div>

    <div class="form-interval">
      <%= f.label :city, "市区", class: "form-text" %><br>
      <%= f.text_field :city , class: "form-input" %>
    </div>
  </div>

  <div class="form-group">
    <div class="form-interval">
      <%= f.label :municipalities, "町村", class: "form-text" %><br>
      <%= f.text_field :municipalities , class: "form-input" %>
    </div>

    <div class="form-interval">
      <%= f.label :address, "番地", class: "form-text" %><br>
      <%= f.text_field :address , class: "form-input" %>
    </div>

    <div class="form-interval">
      <%= f.label :building_name, "建物名", class: "form-text" %><br>
      <%= f.text_field :building_name , class: "form-input" %>
    </div>
  </div>

    <div class="form-group">
    <div class="form-interval">
      <%= f.label :person_main, "担当１", class: "form-text" %><br>
      <%= f.text_field :person_main , class: "form-input" %>
    </div>

    <div class="form-interval">
      <%= f.label :person_sub, "担当２", class: "form-text" %><br>
      <%= f.text_field :person_sub , class: "form-input" %>
    </div>
  </div>


  <div class="form-group">
    <div class="form-interval">
      <%= f.label :phone_number_1, "電話番号１", class: "form-text" %><br>
      <%= f.text_field :phone_number_1 , class: "form-input" %>
    </div>

    <div class="form-interval">
      <%= f.label :phone_number_2, "電話番号２", class: "form-text" %><br>
      <%= f.text_field :phone_number_2 , class: "form-input" %>
    </div>

    <div class="form-interval">
      <%= f.label :suitable_time, "好適時間", class: "form-text" %><br>
      <%= f.text_field :suitable_time , class: "form-input" %>
    </div>
  </div>


  

  
  <div class="form-group">
    <div class="form-interval">
      <%= f.label :description, "備考", class: "form-text" %><br>
      <%= f.text_field :description , class: "form-input" %>
    </div>
  </div>
    <%= f.submit "登録", class: "form-btn" %>
  <% end %>
  </main>
</div>