<div data-scope-path="shared/header">
  <h1>新規情報入力（店舗）</h1>
  <%= render "shared/header" %> 
</div>

<div style="display:flex;">
<div data-scope-path="shared/side_bar">
  <%= render "shared/sidebar" %> 
</div>
  <div data-scope-path="store_props/new">
  <div class="main">
    <%= form_with model: @store_prop, class: "form-frame", local: true do |f| %>
    <%= render "shared/error_messages",model: f.object %>
    <h1>店舗情報</h1>
    <table>
  <%# 一列目 %>
    <tr>
      <th><%= f.label :head_store, "本店名（複数点のみ）", class: "form-text" %></th>
      <th><%= f.label :name, "店舗名", class: "form-text" %></th>
      <th><%= f.label :race, "区分", class: "form-text" %></th>
      <th><%= f.label :industry, "業種", class: "form-text" %></th>
      <th></th>
    </tr>
          
    <tr>
      <td><%= f.text_field :head_store, class: "form-input" %></td>
      <td><%= f.text_field :name , class: "form-input" %></td>
      <td><%= f.select :race , {"個人": "個人", "法人": "法人"},{include_blank: "選択してください"}, {class: "form-input"} %></td>
      <td><%= f.select :industry, { "飲食": "飲食","小売": "小売", "サービス": "サービス"} ,{include_blank:"選択してください"}, {class: "form-input"} %></td>
      <td></td>
    </tr>
    <tr>
      <th><%= f.label :corporate_name, "法人名", class: "form-text" %></th>
      <th><%= f.label :corporate_address, "法人番号", class: "form-text" %></th>
      <th><%= f.label :corporate_num, "法人住所", class: "form-text" %></th>
    </tr>
    <tr>
      <td><%= f.text_field :corporate_name , class: "form-input" %></td>
      <td><%= f.number_field :corporate_num , class: "form-input" %></td>
      <td><%= f.text_field :corporate_address , class: "form-input" %></td>
    </tr>
  </table>
  <h1>店舗担当者情報</h1>
  <div style="display: flex;">
    <h2>店舗担当者情報①</h2>   
    <div class="form-radio">
      <%= f.radio_button :gender_main, "男性" %>
      <%= f.label :gender_main, "男性",value: "男性", checked: true, class: "radio-btn" %>
      <%= f.radio_button :gender_main,"女性" %>
      <%= f.label :gender_main, "女性", value: "女性",class: "radio-btn" %>
    </div>
  </div>
  <table>
    <tr>
      <th><%= f.label :person_main_name, "名前", class: "form-text" %></th>
      <th><%= f.label :person_main_kana, "フリガナ", class: "form-text" %></th>
      <th><%= f.label :person_main_class, "役職", class: "form-text" %></th>
      <th><%= f.label :birthday, "生年月日", class: "form-text" %></th>
      <th></th>
    </tr>
    <tr>
      <td><%= f.text_field :person_main_name , class: "form-input" %></td>
      <td><%= f.text_field :person_main_kana , class: "form-input" %></td>
      <td><%= f.text_field :person_main_class , class: "form-input" %></td>
      <td><%= f.date_select :person_main_birthday,{start_year: 1950, prompt:"--"}, {class: "birthday-input"} %></td>
      <td></td>
    </tr>
  </table>
  <div style="display: flex;">
    <h2>店舗担当者情報②</h2>
    <div class="form-radio">
      <%= f.radio_button :gender_sub, "男性" %>
      <%= f.label :gender_sub, "男性",value: "男性", checked: true, class: "radio-btn" %>
      <%= f.radio_button :gender_sub,"女性" %>
      <%= f.label :gender_sub, "女性", value: "女性",class: "radio-btn" %>
      <%= f.radio_button :gender_sub,"" %>
      <%= f.label :gender_sub, "なし", value: "",class: "radio-btn" %>
    </div>
  </div>
  <table>
    <tr>
      <th><%= f.label :person_sub_name, "名前", class: "form-text" %></th>
      <th><%= f.label :person_sub_kana, "フリガナ", class: "form-text" %></th>
      <th><%= f.label :person_sub_class, "役職", class: "form-text" %></th>
      <th><%= f.label :birthday, "生年月日", class: "form-text" %></th>
      <th></th>
    </tr>
    <tr>
      <td><%= f.text_field :person_sub , class: "form-input" %></td>
      <td><%= f.text_field :person_sub_kana , class: "form-input" %></td>
      <td><%= f.text_field :person_sub_class , class: "form-input" %></td>
      <td><%= f.date_select :person_sub_birthday,{start_year: 1950, prompt:"--"}, {class: "birthday-input"} %></td>
      <td></td>
    </tr>
  </table>
  <h2>連絡先</h2>
  <table>
    <tr>
      <th><%= f.label :phone_number_1, "電話番号１", class: "form-text" %></th>
      <th><%= f.label :phone_number_2, "電話番号２", class: "form-text" %></th>
      <th><%= f.label :mail_1, "メールアドレス１", class: "form-text" %></th>
      <th><%= f.label :mail_2, "メールアドレス2", class: "form-text" %></th>
      <th></th>
    </tr>
    <tr>
      <td><%= f.text_field :phone_number_1 , class: "form-input" %></td>
      <td><%= f.text_field :phone_number_2 , class: "form-input" %></td>
      <td><%= f.text_field :mail_1, class: "form-input" %></td>
      <td><%= f.text_field :mail_2, class: "form-input" %></td>
      <td></td>
    </tr>
  </table>
  <h1>店舗住所/その他情報</h1>
  <table>
  <%# 一列目 %>
    <tr>
      <th><%= f.label :prefecture, "都道府県", class: "form-text" %></th>
      <th><%= f.label :city, "市区", class: "form-text" %></th>
      <th><%= f.label :municipalities, "町村", class: "form-text" %></th>
      <th><%= f.label :address, "番地", class: "form-text" %></th>
      <th><%= f.label :building_name, "建物名", class: "form-text" %></th>
    </tr>
    <tr>
      <td><%= f.text_field :prefecture , class: "form-input" %></td>
      <td><%= f.text_field :city , class: "form-input" %></td>
      <td><%= f.text_field :municipalities , class: "form-input" %></td>
      <td><%= f.text_field :address , class: "form-input" %></td>
      <td><%= f.text_field :building_name , class: "form-input" %></td>
    </tr>
  </table>
  <table>
    <tr>
      <th><%= f.label :holiday, "定休日", class: "form-text" %></th>
      <th><%= f.label :suitable_time, "好適時間", class: "form-text" %></th>
      <th><%= f.label :description, "備考", class: "form-text" %></th>
      <th></th>
    </tr>
    <tr>
      <td><%= f.text_field :holiday ,class: "form-input" %></td>
      <td><%= f.text_field :suitable_time , class: "form-input" %></td>
      <td><%= f.text_field :description , class: "form-input" %></td>
      <td></td>
    </tr>
  </table>
    <%= f.submit "登録", class: "submit-btn" %>
  <% end %>
  </div>
  </div>
</div>