<div data-scope-path="shared/header">
  <h1 class="sub-title">店舗詳細</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
<div data-scope-path="shared/side_bar">
  <%= render "shared/sidebar" %>
</div>
<div data-scope-path="store_props/show">
<div class="main">
  <% if current_user.position == "権限①" %>
    <table>
      <tr >
        <th class="product-th">dメル</th>
        <th class="product-th">auペイ</th>
        <th class="product-th">PayPay</th>
        <th class="product-th">楽天フェムト</th>
      </tr>
      <tr >
        <% if @dmer.nil? %>
          <td><%= link_to "新規登録", store_prop_dmers_new_path(@store_prop.id), class: "link" %></td>
        <% else %>
          <td class="reg-td"><%= link_to "登録済/詳細", dmer_path(@store_prop.dmer.id),class: "link" %></td>
        <% end %>
        <% if @aupay.nil? %>
          <td><%= link_to "新規登録",  store_prop_aupays_new_path(@store_prop.id), class: "link" %></td>
        <% else %>
          <td class="reg-td"><%= link_to "登録済/詳細", aupay_path(@store_prop.aupay.id),class: "link" %></td>
        <% end %>
        <% if @paypay.nil? %>
          <td><%= link_to "新規登録",  store_prop_paypays_new_path(@store_prop.id), class: "link" %></td>
        <% else %>
          <td class="reg-td"><%= link_to "登録済/詳細", paypay_path(@store_prop.paypay.id),class: "link" %></td>
        <% end %>
        <% if @rakuten_casa.nil? %>
          <td><%= link_to "新規登録", store_prop_rakuten_casas_new_path(@store_prop.id), class: "link" %></td>
        <% else %>
          <td class="reg-td"><%= link_to "登録済/詳細", rakuten_casa_path(@store_prop.rakuten_casa.id),class: "link" %></td>
        <% end %>
      </tr>
      <tr>
        <th class="product-th">少額短期保険</th>
        <th class="product-th">楽天ペイ</th>
      </tr>
      <tr>
        <% if @st_insurance.nil? %>
          <td><%= link_to "新規登録", store_prop_st_insurances_new_path(@store_prop.id), class: "link" %></td>
        <% else %>
          <td class="reg-td"><%= link_to "登録済/詳細", st_insurance_path(@store_prop.st_insurance.id),class: "link" %></td>
        <% end %>
        <% if @rakuten_pay.nil? %>
          <td><%= link_to "新規登録", store_prop_rakuten_pays_new_path(@store_prop.id), class: "link" %></td>
        <% else %>
          <td class="reg-td"><%= link_to "登録済/詳細", rakuten_pay_path(@store_prop.rakuten_pay.id),class: "link" %></td>
        <% end %>
      </tr>
    </table>
    <% end %>
    <hr>
    <h1>店舗情報</h1>
    <table >
      <tr>
        <th>店舗名</th>
        <td><%= @store_prop.name %></td>
        <th>本店名</th>
        <% if @store_prop.name == @store_prop.head_store %>
        <td>本店</td>
        <% elsif @store_prop.head_store.nil? %>
        <td>複数店なし</td>
        <% else %>
        <td><%= @store_prop.head_store %></td>
        <% end %>
      </tr>
      <tr >
        <th>法人/個人</th>
        <td><%= @store_prop.race %></td>
        <th>業種</th>
        <td><%= @store_prop.industry %></td>
      </tr>
      <th>店舗住所</th>
        <td colspan="3"><%= @store_prop.prefecture %><%= @store_prop.city %><%= @store_prop.municipalities %><%= @store_prop.address %><%= @store_prop.building_name %></td>
      </tr>

      <tr >
        <th>法人名</th>
        <td><%= @store_prop.corporate_name %></td>
        <th>法人番号</th>
        <td><%= @store_prop.corporate_num %></td>
      </tr>
      <tr>
        <th>法人住所</th>
        <td colspan="3"><%= @store_prop.corporate_address %></td>
      </tr>
      <tr>
    </table>
    <h1>担当者情報</h1>
    <table>
      <tr >
        <th colspan="4">店舗担当者①</th>
      </tr>
    <tr>
      <th>性別</th>
        <td><%= @store_prop.gender_main %></td>
        <th colspan="2"></th>
    <tr>
    <tr>
      <th>名前</th>
        <td><%= @store_prop.person_main_name %></td>
      <th>フリガナ</th>
        <td><%= @store_prop.person_main_kana %></td>
    </tr>
    <tr>
      <th>生年月日</th>
        <td><%= @store_prop.person_main_birthday %></td>
      <th>役職</th>
        <td><%= @store_prop.person_main_class %></td>
      
    </tr>
    <tr>
      <th colspan="4">店舗担当者②</th>
    </tr>
    <tr>
      <th>性別</th>
        <td><%= @store_prop.gender_sub %></td>
      <th colspan="2"></th>
    </tr>
    <tr>
      <th>名前</th>
        <td><%= @store_prop.person_sub_name %></td>
      <th>フリガナ</th>
        <td><%= @store_prop.person_sub_kana %></td>
    </tr>
    <tr>
      <th>生年月日</th>
        <td><%= @store_prop.person_sub_birthday %></td>
      <th>役職</th>
        <td><%= @store_prop.person_sub_class %></td>
    </tr>
    </table>
    <table >
    </table>
        <h1>連絡先</h1>
    <table >
      <tr>
      <th>電話番号1</th>
        <td><%= @store_prop.phone_number_1 %></td>
      <th>電話番号2</th>
        <td><%= @store_prop.phone_number_2 %></td>
      </tr>
      <tr>
      <th>メールアドレス1</th>
        <td><%= @store_prop.mail_1 %></td>
      <th>メールアドレス2</th>
        <td><%= @store_prop.mail_2 %></td>
      </tr>
      <tr >
      <th>好適時間</th>
        <td><%= @store_prop.suitable_time %></td>
      <th>定休日</th>
        <td><%= @store_prop.holiday %></td>
      </tr>
      <tr>
        <th>備考</th>
        <td colspan="2"><%= @store_prop.description %></td>
        <td><%= link_to "編集", edit_store_prop_path, class: "link" %></td>
      </tr>
    </table>
  </div>
  </div>
</div>