<%= render "shared/header" %>
<div class="main">
  <%= render "shared/side_bar" %>
  <div>
    <h1>店舗詳細</h1>
    <label>法人/個人</label>
    <%= @store_prop.race %><br>
    <label>店舗名</label>
    <%= @store_prop.name %><br>
    <label>好適時間</label>
    <%= @store_prop.suitable_time %><br>
    <label>業種</label>
    <%= @store_prop.industry %><br>
    <label>電話番号1</label>
    <%= @store_prop.phone_number_1 %><br>
    <label>電話番号2</label>
    <%= @store_prop.phone_number_2 %><br>
    <label>店舗担当</label>
    <%= @store_prop.person %><br>
    <label>住所</label>
    <%= @store_prop.prefectures %>
    <label></label>
    <%= @store_prop.city %>
    <label></label>
    <%= @store_prop.municipalities %>
    <label></label> 
    <%= @store_prop.address %>
    <label></label>
    <%= @store_prop.building_name %>
    <%= @store_prop.description %>
  </div>
</div>