<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<% calc_periods_ary = [@calc_periods_val, @calc_periods_prof] %>
<% tb_cnt = 0 %>
<div data-scope-path="shared/header">
  <h1 class="sub-title">売上計算期間設定</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
<div data-scope-path="shared/side_bar">
  <%= render "shared/sidebar" %>
</div>
<div data-scope-path="shares/index">
  <div class="main">
    <p class="s-text"><%= alert %></p>
    <h2>
      <%= link_to "<<",calc_periods_path(month: @month.ago(1.month)), class:"link" %>
      <%= @month.month %>月利益表設定内容
      <%= link_to ">>",calc_periods_path(month: @month.since(1.month)), class:"link" %>
      <button class="new-btn"><%= link_to "新規登録", new_calc_period_path,class: "reg-link" %></button>
    </h2>
    <hr>
      <h2>◆進捗資料の作成（<%= link_to "週間生産性",weekly_data_calc_periods_path, class:"link" %>）</h2>
      <table>
        <tr>
          <th>進捗データ作成</th>
          <th>進捗</th>
          <th>最終作成日</th>
          <th>CSV出力</th>
        </tr>
        <tr>
          <td><%= link_to "dメル", progress_create_dmer_date_progresses_path(month: @month),data: {confirm: "#{@month.month}月の売上結果を保存してもよろしいですか？"}, class: "link" %></td>
          <td><%= link_to "詳細", dmer_date_progresses_path(month: @month),"data-turbolinks": false, class: "link" %></td>
          <td><%= @dmer_date_progresses_last_update %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= link_to "dメル専売", progress_create_dmer_senbai_date_progresses_path(month: @month),data: {confirm: "#{@month.month}月の売上結果を保存してもよろしいですか？"}, class: "link" %></td>
          <td><%= link_to "詳細", dmer_senbai_date_progresses_path(month: @month),"data-turbolinks": false, class: "link" %></td>
          <td><%= @dmer_date_progresses_last_update %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= link_to "auPay", progress_create_aupay_date_progresses_path(month: @month),data: {confirm: "#{@month.month}月の売上結果を保存してもよろしいですか？"}, class: "link" %></td>
          <td><%= link_to "詳細", aupay_date_progresses_path(month: @month),"data-turbolinks": false, class: "link" %></td>
          <td><%= @aupay_date_progresses_last_update %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= link_to "PayPay", progress_create_paypay_date_progresses_path(month: @month),data: {confirm: "#{@month.month}月の売上結果を保存してもよろしいですか？"}, class: "link" %></td>
          <td><%= link_to "詳細", paypay_date_progresses_path(month: @month),"data-turbolinks": false, class: "link" %></td>
          <td><%= @paypay_date_progresses_last_update %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= link_to "楽天Pay", progress_create_rakuten_pay_date_progresses_path(month: @month),data: {confirm: "#{@month.month}月の売上結果を保存してもよろしいですか？"}, class: "link" %></td>
          <td><%= link_to "詳細", rakuten_pay_date_progresses_path(month: @month),"data-turbolinks": false, class: "link" %></td>
          <td><%= @rakuten_pay_date_progresses_last_update %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= link_to "AirPay", progress_create_airpay_date_progresses_path(month: @month),data: {confirm: "#{@month.month}月の売上結果を保存してもよろしいですか？"}, class: "link" %></td>
          <td><%= link_to "詳細", airpay_date_progresses_path(month: @month),"data-turbolinks": false, class: "link" %></td>
          <td><%= @airpay_date_progresses_last_update %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= link_to "出前館", progress_create_demaekan_date_progresses_path(month: @month),data: {confirm: "#{@month.month}月の売上結果を保存してもよろしいですか？"}, class: "link" %></td>
          <td><%= link_to "詳細", demaekan_date_progresses_path(month: @month),"data-turbolinks": false, class: "link" %></td>
          <td><%= @demaekan_date_progresses_last_update %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= link_to "auステッカー", progress_create_austicker_date_progresses_path(month: @month),data: {confirm: "#{@month.month}月の売上結果を保存してもよろしいですか？"}, class: "link" %></td>
          <td><%= link_to "詳細", austicker_date_progresses_path(month: @month),"data-turbolinks": false, class: "link" %></td>
          <td><%= @austicker_date_progresses_last_update %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= link_to "dメルステッカー", progress_create_dmersticker_date_progresses_path(month: @month),data: {confirm: "#{@month.month}月の売上結果を保存してもよろしいですか？"}, class: "link" %></td>
          <td><%= link_to "詳細", dmersticker_date_progresses_path(month: @month),"data-turbolinks": false, class: "link" %></td>
          <td><%= @dmersticker_date_progresses_last_update %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= link_to "AirPayステッカー", progress_create_airpaysticker_date_progresses_path(month: @month),data: {confirm: "#{@month.month}月の売上結果を保存してもよろしいですか？"}, class: "link" %></td>
          <td><%= link_to "詳細", airpaysticker_date_progresses_path(month: @month),"data-turbolinks": false, class: "link" %></td>
          <td><%= @airpaysticker_date_progresses_last_update %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= link_to "ITSS", progress_create_itss_date_progresses_path(month: @month),data: {confirm: "#{@month.month}月の売上結果を保存してもよろしいですか？"}, class: "link" %></td>
          <td><%= link_to "詳細", itss_date_progresses_path(month: @month),"data-turbolinks": false, class: "link" %></td>
          <td><%= @itss_date_progresses_last_update %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= link_to "UsenPay", progress_create_usen_pay_date_progresses_path(month: @month),data: {confirm: "#{@month.month}月の売上結果を保存してもよろしいですか？"}, class: "link" %></td>
          <td><%= link_to "詳細", usen_pay_date_progresses_path(month: @month),"data-turbolinks": false, class: "link" %></td>
          <td><%= @usen_pay_date_progresses_last_update %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= link_to "キャッシュ合計", progress_create_cash_date_progresses_path(month: @month),data: {confirm: "#{@month.month}月の売上結果を保存してもよろしいですか？"}, class: "link" %></td>
          <td><%= link_to "詳細", cash_date_progresses_path(month: @month),"data-turbolinks": false, class: "link" %></td>
          <td><%= @cash_date_progresses_last_update %></td>
          <td><%= link_to "Excelで出力(実売資料)",calc_periods_path(format: :xlsx,month: @month), data: {confirm: "Excelを出力しますか？"}, class: "link",id:'download-csv' %></td>
        </tr>
      </table>
    <% calc_periods_ary.each do |calc_periods| %>
    <% if tb_cnt == 0 %>
      <h2>◆評価売</h2>
      <%# 重複確認 %>
    <% else %>
    <h2>◆実売</h2>
    <% end %>
    <% calc_duplicate = calc_periods.group(:name).having("count(*) >= 2") %>
    <% if calc_duplicate.present? %>
    <p class="nav-text" style="color: red;">案件重複
      <% calc_duplicate.each do |db| %>
        <%= db.name %>, 
      <% end %>
      削除するか"案件名"、もしくは"売上区分"を変更してください。
    </p>
    <% end %>
    <% tb_cnt += 1 %>
    <table>
      <thead>
        <tr>
          <th>商材</th>
          <th>売上区分</th>
          <th>集計期間（始）</th>
          <th>集計期間（終）</th>
          <th>締め日</th>
          <th>当月成果率（％）</th>
          <th>過去月成果率（％）</th>
          <th>単価</th>
          <th>インセン１（件数）</th>
          <th>インセン１（単価）</th>
          <th>インセン２（件数）</th>
          <th>インセン２（単価）</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% calc_periods.each do |calc_period| %>
          <%# 獲得期間の日付 %>
          <% if calc_period.start_date_day == 0 %>
            <% start_date_day = @month.end_of_month.day %>
          <% else %>
            <% start_date_day = "#{calc_period.start_date_day}日" %>
          <% end %>
          <% if calc_period.end_date_day == 0 %>
            <% end_date_day = @month.end_of_month.day %>
          <% else %>
            <% end_date_day = "#{calc_period.end_date_day}日" %>
          <% end %>
          <%# 締め日の日付 %>
          <% if calc_period.closing_date_day == 0 %>
            <% closing_date_day = @month.end_of_month.day %>
          <% else %>
            <% closing_date_day = "#{calc_period.closing_date_day}日" %>
          <% end %>
        <tr>
          <td><%= calc_period.name %></td>
          <td><%= calc_period.sales_category %></td>
          <%# 獲得期間 %>
            <td><%= @month.since(calc_period.start_date_month.month).month %>月<%= start_date_day %></td>
            <td><%= @month.since(calc_period.end_date_month.month).month %>月<%= end_date_day %></td>
          <%# 締め日 %>
            <td><%= @month.since(calc_period.closing_date_month.month).month %>月<%= closing_date_day %></td>
            <td><%= (calc_period.this_month_per * 100).to_i %>%</td>
            <td><%= (calc_period.prev_month_per * 100).to_i %>%</td>
            <td><%= calc_period.price.to_s(:delimited) rescue "" %></td>
            <td><%= calc_period.bonus1_len rescue "" %></td>
            <td><%= calc_period.bonus1_price.to_s(:delimited) rescue "" %></td>
            <td><%= calc_period.bonus2_len rescue "" %></td>
            <td><%= calc_period.bonus2_price.to_s(:delimited) rescue "" %></td>
            <td><%= link_to "編集", edit_calc_period_path(calc_period),class: "link" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
    <p class="caution-text">※過去月も<%= Date.today.month %>月と同じ基準で利益表の計算を行っております。</p>
    <hr>
    <%= render_async val_users_path %>
  </div>
</div>