<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<% calc_periods_ary = [@calc_periods_val, @calc_periods_prof] %>
<% tb_cnt = 0 %>
<div data-scope-path="shared/header">
  <h1 class="sub-title">売上計算期間設定</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
<div data-scope-path="shared/side_bar">
  <%= render "shared/sidebar" %>
</div>
<div data-scope-path="shares/index">
  <div class="main">
    <p class="s-text"><%= alert %></p>
    <h2>
      <%= link_to "<<",calc_periods_path(month: @month.ago(1.month)), class:"link" %>
      <%= @month.month %>月利益表設定内容
      <%= link_to ">>",calc_periods_path(month: @month.since(1.month)), class:"link" %>
      <button class="new-btn"><%= link_to "新規登録", new_calc_period_path,class: "reg-link" %></button>
    </h2>
    <hr>
      <h2>◆進捗資料の作成（<%= link_to "固定費一覧",fixed_sales_path, class:"link" %>）</h2>
    <% if @activity_bases.present? %><%# 活動拠点が登録されていないと実売資料が作れないようにする。 %>
      <table>
        <tr>
          <th>進捗データ作成</th>
          <th>進捗</th>
          <th>最終作成日</th>
          <th>CSV出力</th>
        </tr>
        <tr>
          <td><%= link_to "dメル", progress_create_dmer_date_progresses_path(month: @month),data: {confirm: "#{@month.month}月の売上結果を保存してもよろしいですか？"}, class: "link" %></td>
          <td><%= link_to "詳細", dmer_date_progresses_path(month: @month),"data-turbolinks": false, class: "link" %></td>
          <td><%= @dmer_date_progresses_last_update %></td>
          <td></td>
        </tr>
        <tr> 
          <% if @dmer_senbai_users.present? %>
          <td><%= link_to "dメル専売", progress_create_dmer_senbai_date_progresses_path(month: @month),data: {confirm: "#{@month.month}月の売上結果を保存してもよろしいですか？"}, class: "link" %></td>
          <td><%= link_to "詳細", dmer_senbai_date_progresses_path(month: @month),"data-turbolinks": false, class: "link" %></td>
          <% else %>
          <td><%= link_to "dメル専売の人員登録", dmer_senbai_users_path(month: @month),data: {}, class: "red" %></td>
          <td><%= link_to "詳細", dmer_senbai_date_progresses_path(month: @month),"data-turbolinks": false, class: "link" %></td>
          <% end %>
          <td><%= @dmer_senbai_date_progresses_last_update %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= link_to "auPay", progress_create_aupay_date_progresses_path(month: @month),data: {confirm: "#{@month.month}月の売上結果を保存してもよろしいですか？"}, class: "link" %></td>
          <td><%= link_to "詳細", aupay_date_progresses_path(month: @month),"data-turbolinks": false, class: "link" %></td>
          <td><%= @aupay_date_progresses_last_update %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= link_to "PayPay", progress_create_paypay_date_progresses_path(month: @month),data: {confirm: "#{@month.month}月の売上結果を保存してもよろしいですか？"}, class: "link" %></td>
          <td><%= link_to "詳細", paypay_date_progresses_path(month: @month),"data-turbolinks": false, class: "link" %></td>
          <td><%= @paypay_date_progresses_last_update %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= link_to "楽天Pay", progress_create_rakuten_pay_date_progresses_path(month: @month),data: {confirm: "#{@month.month}月の売上結果を保存してもよろしいですか？"}, class: "link" %></td>
          <td><%= link_to "詳細", rakuten_pay_date_progresses_path(month: @month),"data-turbolinks": false, class: "link" %></td>
          <td><%= @rakuten_pay_date_progresses_last_update %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= link_to "AirPay", progress_create_airpay_date_progresses_path(month: @month),data: {confirm: "#{@month.month}月の売上結果を保存してもよろしいですか？"}, class: "link" %></td>
          <td><%= link_to "詳細", airpay_date_progresses_path(month: @month),"data-turbolinks": false, class: "link" %></td>
          <td><%= @airpay_date_progresses_last_update %></td>
          <td></td>
        </tr>
        <% @other_products.group(:product_name).each do |product| %>
        <tr>
          <td><%= link_to "#{product.product_name}", progress_create_other_product_date_progresses_path(month: @month, product_name: product.product_name),data: {confirm: "#{@month.month}月#{product.product_name}：売上結果を保存してもよろしいですか？"}, class: "link" %></td>
          <td><%= link_to "詳細", other_product_date_progresses_path(month: @month, product_name: product.product_name),"data-turbolinks": false, class: "link" %></td>
          <td><%= OtherProductDateProgress.where(product_name: product.product_name).where(date: @month.all_month).maximum(:create_date)  %></td>
          <td></td>
        </tr>
        <% end %>
        <tr>
          <td><%= link_to "UsenPay", progress_create_usen_pay_date_progresses_path(month: @month),data: {confirm: "#{@month.month}月の売上結果を保存してもよろしいですか？"}, class: "link" %></td>
          <td><%= link_to "詳細", usen_pay_date_progresses_path(month: @month),"data-turbolinks": false, class: "link" %></td>
          <td><%= @usen_pay_date_progresses_last_update %></td>
          <td></td>
        </tr>
        <tr>
          <td><%= link_to "キャッシュ合計", progress_create_cash_date_progresses_path(month: @month),data: {confirm: "#{@month.month}月の売上結果を保存してもよろしいですか？"}, class: "link" %></td>
          <td><%= link_to "詳細", cash_date_progresses_path(month: @month),"data-turbolinks": false, class: "link" %></td>
          <td><%= @cash_date_progresses_last_update %></td>
          <td><%= link_to "Excelで出力(実売資料)",calc_periods_path(format: :xlsx,month: @month), data: {confirm: "Excelを出力しますか？"}, class: "link",id:'download-csv' %></td>
        </tr>
      </table>
    <% else %>
      <h2 class="caution-text"><%= @month.month %>月の活動拠点が登録されておりません。登録してから実売資料を作成してください。</h2><br>
      <p class="caution-text"><%= link_to "※活動拠点を登録するページへ移動",activity_bases_path(month: @month), class: "red" %></p>
    <% end %>
    <% calc_periods_ary.each do |calc_periods| %>
    <% if tb_cnt == 0 %>
      <h2>◆評価売</h2>
      <%# 重複確認 %>
    <% else %>
    <h2>◆実売</h2>
    <% end %>
    <% calc_duplicate = calc_periods.group(:name).having("count(*) >= 2") %>
    <% if calc_duplicate.present? %>
    <p class="nav-text" style="color: red;">案件重複
      <% calc_duplicate.each do |db| %>
        <%= db.name %>, 
      <% end %>
      削除するか"案件名"、もしくは"売上区分"を変更してください。
    </p>
    <% end %>
    <% tb_cnt += 1 %>
    <table>
      <thead>
        <tr>
          <th>商材</th>
          <th>売上区分</th>
          <th>集計期間（始）</th>
          <th>集計期間（終）</th>
          <th>締め日</th>
          <th>当月成果率（％）</th>
          <th>過去月成果率（％）</th>
          <th>単価</th>
          <th>インセン１（件数）</th>
          <th>インセン１（単価）</th>
          <th>インセン２（件数）</th>
          <th>インセン２（単価）</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% calc_periods.each do |calc_period| %>
          <%# 獲得期間の日付 %>
          <% if calc_period.start_date_day == 0 %>
            <% start_date_day = @month.end_of_month.day %>
          <% else %>
            <% start_date_day = "#{calc_period.start_date_day}日" %>
          <% end %>
          <% if calc_period.end_date_day == 0 %>
            <% end_date_day = @month.end_of_month.day %>
          <% else %>
            <% end_date_day = "#{calc_period.end_date_day}日" %>
          <% end %>
          <%# 締め日の日付 %>
          <% if calc_period.closing_date_day == 0 %>
            <% closing_date_day = @month.end_of_month.day %>
          <% else %>
            <% closing_date_day = "#{calc_period.closing_date_day}日" %>
          <% end %>
        <tr>
          <td><%= calc_period.name %></td>
          <td><%= calc_period.sales_category %></td>
          <%# 獲得期間 %>
            <td><%= @month.since(calc_period.start_date_month.month).month %>月<%= start_date_day %></td>
            <td><%= @month.since(calc_period.end_date_month.month).month %>月<%= end_date_day %></td>
          <%# 締め日 %>
            <td><%= @month.since(calc_period.closing_date_month.month).month %>月<%= closing_date_day %></td>
            <td><%= (calc_period.this_month_per * 100).to_i %>%</td>
            <td><%= (calc_period.prev_month_per * 100).to_i %>%</td>
            <td><%= calc_period.price.to_s(:delimited) rescue "" %></td>
            <td><%= calc_period.bonus1_len rescue "" %></td>
            <td><%= calc_period.bonus1_price.to_s(:delimited) rescue "" %></td>
            <td><%= calc_period.bonus2_len rescue "" %></td>
            <td><%= calc_period.bonus2_price.to_s(:delimited) rescue "" %></td>
            <td><%= link_to "編集", edit_calc_period_path(calc_period),class: "link" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
    <p class="caution-text">※過去月も<%= Date.today.month %>月と同じ基準で利益表の計算を行っております。</p>

    <h2>◆目標売上</h2>
    <table>
      <thead>
        <tr>
          <th>売上</th>
          <th>オーナー不在:a</th>
          <th>対面:b(率)</th>
          <th>フル:c(率)</th>
          <th>情報聞いた:d1(率)</th>
          <th>認証キー回収:d2(率)</th>
          <th>成約:e(率)</th>
          <th>成約:e(成約/フル)</th>
        </tr>
      </thead>
      <tbody>
        <% @baseline_sales.each do |baseline_sale| %>
        <tr>
          <td><%= link_to baseline_sale.sales_goal, edit_baseline_sale_path(baseline_sale.id),"data-turbolinks": false, class: "link" %></td>
          <% if baseline_sale.baseline_metrics.present? %>
            <% baseline_a = baseline_sale.baseline_metrics.find_by(metric_name: "a") %>
            <td><%=
              link_to baseline_a.metric_val, edit_baseline_sale_baseline_metric_path(baseline_sale, baseline_sale.baseline_metrics.find_by(metric_name: "a")), "data-turbolinks": false, class: "link" rescue link_to "入力", new_baseline_sale_baseline_metric_path(baseline_sale.id, metric_name: "a"),"data-turbolinks": false, class: "link" 
            %></td>
            <% metric_name_list = ["b", "c", "d1", "d2", "e", "e_rate_from_full_talk"] %>
            <% metric_name_list.each do |metric_name| %>
              <% target_baseline_metric = baseline_sale.baseline_metrics.find_by(metric_name: metric_name) %>
              <% target_metric_per = baseline_sale.baseline_metrics.find_by(metric_name: metric_name).metric_per rescue "未設定" %>
              <td><%= link_to "#{target_baseline_metric.metric_val} (#{target_metric_per})%", edit_baseline_sale_baseline_metric_path(baseline_sale, target_baseline_metric),"data-turbolinks": false, class: "link" rescue link_to "入力", new_baseline_sale_baseline_metric_path(baseline_sale.id, metric_name: metric_name),"data-turbolinks": false, class: "link" %></td>
            <% end %>

          <% else %>
            <td><%= link_to "入力", new_baseline_sale_baseline_metric_path(baseline_sale.id, metric_name: "a"),"data-turbolinks": false, class: "link" %></td>
            <td><%= link_to "入力", new_baseline_sale_baseline_metric_path(baseline_sale.id, metric_name: "b"),"data-turbolinks": false, class: "link" %></td>
            <td><%= link_to "入力", new_baseline_sale_baseline_metric_path(baseline_sale.id, metric_name: "c"),"data-turbolinks": false, class: "link" %></td>
            <td><%= link_to "入力", new_baseline_sale_baseline_metric_path(baseline_sale.id, metric_name: "d1"),"data-turbolinks": false, class: "link" %></td>
            <td><%= link_to "入力", new_baseline_sale_baseline_metric_path(baseline_sale.id, metric_name: "d2"),"data-turbolinks": false, class: "link" %></td>
            <td><%= link_to "入力", new_baseline_sale_baseline_metric_path(baseline_sale.id, metric_name: "e"),"data-turbolinks": false, class: "link" %></td>
            <td><%= link_to "入力", new_baseline_sale_baseline_metric_path(baseline_sale.id, metric_name: "e_rate_from_full_talk"),"data-turbolinks": false, class: "link" %></td>
          <% end %>
        </tr>

        <% end %>
        <tr>
          <td><%= link_to "目標売上入力", new_baseline_sale_path,"data-turbolinks": false, class: "link" %></td>
        </tr>
      </tbody>
    </table>

    <hr>
    <%= render_async val_users_path %>
  </div>
</div>