  <h2>商材別実売（現状）</h2>
  <table>
    <tr>
      <th>商材</th>
      <th>評価件数</th>
      <th>獲得件数</th>
      <th>不備・NG件数</th>
      <th>増加数</th>
      <th>減少数</th>
      <th>現状売上</th>
      
    </tr>
    <tr>
      <th>dメル（新規）</th>
      <td ><%= @chubu_dmers_length + @kanto_dmers_length + @kansai_dmers_length %></td>
      <td style="color:blue;"><%= @chubu_dmer_this_period.length + @kanto_dmer_this_period.length + @kansai_dmer_this_period.length %></td>
      <td style="color:red;"><%= @chubu_dmer_def_period.length + @kanto_dmer_def_period.length + @kansai_dmer_def_period.length %></td>
      <td style="color:blue;"><%= @chubu_dmer_inc_period.length + @kanto_dmer_inc_period.length + @kansai_dmer_inc_period.length %></td>
      <td style="color:red;"><%= @chubu_dmer_dec_period.length + @kanto_dmer_dec_period.length + @kansai_dmer_dec_period.length %></td>
      <td><%= (@chubu_dmer_profit + @kanto_dmer_profit + @kansai_dmer_profit).to_s(:delimited) %></td>
    </tr>
    <tr>
      <th>dメル（決済）</th>
      <td ><%= @chubu_dmers_slmt_length + @kanto_dmers_slmt_length %></td>
      <td style="color:blue;"><%= @chubu_dmer_slmt_this_period.length + @kanto_dmer_slmt_this_period.length + @kansai_dmer_slmt_this_period.length %></td>
      <td style="color:red;"><%= @chubu_dmer_slmt_def_period.length + @kanto_dmer_slmt_def_period.length + @kansai_dmer_slmt_def_period.length %></td>
      <td style="color:blue;"><%= @chubu_dmer_slmt_inc_period.length + @kanto_dmer_slmt_inc_period.length + @kansai_dmer_slmt_inc_period.length %></td>
      <td style="color:red;"><%= @chubu_dmer_slmt_dec_period.length + @kanto_dmer_slmt_dec_period.length + @kansai_dmer_slmt_dec_period.length %></td>
      <td><%= (@chubu_dmer_slmt_profit + @kanto_dmer_slmt_profit + @kansai_dmer_slmt_profit).to_s(:delimited) %></td>
    </tr>
    <tr>
      <th>aupay（新規）</th>
      <td ><%= @chubu_aupays_length + @kanto_aupays_length + @kansai_aupays_length %></td>
      <td style="color:blue;"><%= @chubu_aupay_this_period.length + @kanto_aupay_this_period.length + @kansai_aupay_this_period.length %></td>
      <td style="color:red;"><%= @chubu_aupay_def_period.length + @kanto_aupay_def_period.length + @kansai_aupay_def_period.length %></td>
      <td style="color:blue;"><%= @chubu_aupay_inc_period.length + @kanto_aupay_inc_period.length + @kansai_aupay_inc_period.length %></td>
      <td style="color:red;"><%= @chubu_aupay_dec_period.length + @kanto_aupay_dec_period.length + @kanto_aupay_dec_period.length %></td>
      <td><%= (@chubu_aupay_profit + @kanto_aupay_profit + @kansai_aupay_profit).to_s(:delimited) %></td>
    </tr>
    <tr>
      <th>aupay（決済）</th>
      <td ><%= @chubu_aupays_slmt_length + @kanto_aupays_slmt_length + @kansai_aupays_slmt_length %></td>
      <td style="color:blue;"><%= @chubu_aupay_slmt_this_period.length + @kanto_aupay_slmt_this_period.length + @kansai_aupay_slmt_this_period.length %></td>
      <td style="color:red;"><%= @chubu_aupay_slmt_def_period.length + @kanto_aupay_slmt_def_period.length + @kansai_aupay_slmt_def_period.length %></td>
      <td style="color:blue;"><%= @chubu_aupay_slmt_inc_period.length + @kanto_aupay_slmt_inc_period.length + @kansai_aupay_slmt_inc_period.length %></td>
      <td style="color:red;"><%= @chubu_aupay_slmt_dec_period.length + @kanto_aupay_slmt_dec_period.length + @kansai_aupay_slmt_dec_period.length %></td>
      <td><%= (@chubu_aupay_slmt_profit + @kanto_aupay_slmt_profit + @kansai_aupay_slmt_profit).to_s(:delimited) %></td>
    </tr>
    <tr>
      <th>PayPay</th>
      <td ><%= @chubu_paypays_length + @kanto_paypays_length + @kansai_paypays_length %></td>
      <td style="color:blue;"><%= @chubu_paypay_this_period.length + @kanto_paypay_this_period.length + @kansai_paypay_this_period.length %></td>
      <td style="color:red;"><%= @chubu_paypay_def_period.length + @kanto_paypay_def_period.length + @kansai_paypay_def_period.length %></td>
      <td class="blank"></td>
      <td class="blank"></td>
      <td><%= (@chubu_paypay_profit + @kanto_paypay_profit + @kansai_paypay_profit).to_s(:delimited) %></td>
    </tr>
    <tr>
      <th>楽天ペイ</th>
      <td ><%= @chubu_rakuten_pays_length + @kanto_rakuten_pays_length + @kansai_rakuten_pays_length %></td>
      <td style="color:blue;"><%= @chubu_rakuten_pay_this_period.length + @kanto_rakuten_pay_this_period.length + @kansai_rakuten_pay_this_period.length %></td>
      <td style="color:red;"><%= @chubu_rakuten_pay_def_period.length + @kanto_rakuten_pay_def_period.length + @kansai_rakuten_pay_def_period.length %></td>
      <td style="color:blue;"><%= @chubu_rakuten_pay_inc_period.length + @kanto_rakuten_pay_inc_period.length + @kansai_rakuten_pay_inc_period.length %></td>
      <td style="color:red;"><%= @chubu_rakuten_pay_dec_period.length + @kanto_rakuten_pay_dec_period.length + @kanto_rakuten_pay_dec_period.length %></td>
      <td><%= (@chubu_rakuten_pay_profit + @kanto_rakuten_pay_profit + @kansai_rakuten_pay_profit).to_s(:delimited) %></td>
    </tr>
  </table>