<%# 変数 %>
  <%# 予定シフト %>
    <% 
      shift_chubu_p = 
        @cash_shifts.where(user: {base: "中部SS"})
        .where(shift: "キャッシュレス新規").length + 
        @cash_shifts.where(user: {base: "中部SS"})
        .where(shift: "キャッシュレス決済").length 
    %>
    <% 
      shift_kansai_p = 
        @cash_shifts.where(user: {base: "関西SS"})
        .where(shift: "キャッシュレス新規").length + 
        @cash_shifts.where(user: {base: "関西SS"})
        .where(shift: "キャッシュレス決済").length 
    %>
    <% 
      shift_kanto_p = 
        @cash_shifts.where(user: {base: "関東SS"})
        .where(shift: "キャッシュレス新規").length + 
        @cash_shifts.where(user: {base: "関東SS"})
        .where(shift: "キャッシュレス決済").length 
    %>
    <% 
      shift_sum_p = 
        @cash_shifts.where(shift: "キャッシュレス新規").length +  
        @cash_shifts.where(shift: "キャッシュレス決済").length  
    %>
  <%# 消化シフト %>
    <% 
      shift_chubu_d = 
        @cash_results_chubu.where(shift: "キャッシュレス新規")
        .or(@cash_results_chubu.where(shift: "キャッシュレス決済"))
    %>
    <% 
      shift_kansai_d = 
        @cash_results_kansai.where(shift: "キャッシュレス新規")
        .or(@cash_results_kansai.where(shift: "キャッシュレス決済"))
    %>
    <% 
      shift_kanto_d = 
        @cash_results_kanto.where(shift: "キャッシュレス新規")
        .or(@cash_results_kanto.where(shift: "キャッシュレス決済"))
    %>
    <% 
      shift_sum_d = 
        @cash_results.where(shift: "キャッシュレス新規")
        .or(@cash_results.where(shift: "キャッシュレス決済"))
    %>
    <%# 前週 %>
    <% 
      shift_chubu_d_prev_week = 
        @cash_results.where(shift: "キャッシュレス新規")
        .where(user: {base: "中部SS"})
        .where(date: @cash_results.minimum(:date)..@cash_results.maximum(:date).ago(7.days))
        .or(
          @cash_results.where(shift: "キャッシュレス決済")
          .where(user: {base: "中部SS"})
          .where(date: @cash_results.minimum(:date)..@cash_results.maximum(:date).ago(7.days))
        )
    %>
    <% 
      shift_kansai_d_prev_week = 
        @cash_results.where(shift: "キャッシュレス新規")
        .where(user: {base: "関西SS"})
        .where(date: @cash_results.minimum(:date)..@cash_results.maximum(:date).ago(7.days))
        .or(
          @cash_results.where(shift: "キャッシュレス決済")
          .where(user: {base: "関西SS"})
          .where(date: @cash_results.minimum(:date)..@cash_results.maximum(:date).ago(7.days))
        )
    %>
    <% 
      shift_kanto_d_prev_week = 
        @cash_results.where(shift: "キャッシュレス新規")
        .where(user: {base: "関東SS"})
        .where(date: @cash_results.minimum(:date)..@cash_results.maximum(:date).ago(7.days))
        .or(
          @cash_results.where(shift: "キャッシュレス決済")
          .where(user: {base: "関東SS"})
          .where(date: @cash_results.minimum(:date)..@cash_results.maximum(:date).ago(7.days))
        )
    %>
<%# 指定した期間 %>
  <%# 中部キャッシュ %>
    <% valuation_sum_chubu = 0 %>
    <% profit_sum_chubu = 0 %>
    <%# dメル %>
      <% 
        dmer_chubu = 
          Dmer.includes(:store_prop, :user)
          .where(user: {base: "中部SS"})
          .where(user: {base_sub: "キャッシュレス"})
      %>
    <%# 新規 %>
      <% 
        dmer_chubu_uq = 
          this_period(dmer_chubu,shift_chubu_d)
          .where(store_prop: {head_store: nil})
      %>
      <% dmer_chubu_def =  dmer_def(dmer_chubu_uq,shift_chubu_d) %>
      <% 
        dmer_chubu_db = 
          share_period(dmer_chubu,shift_chubu_d)
          .where.not(store_prop: {head_store: nil})
          .where.not(industry_status: "×")
          .where.not(industry_status: "NG")
          .where(status: "審査OK")
      %>
      <% 
        dmer_chubu_v =  
          dmer_chubu_uq.sum(:valuation_new) - dmer_chubu_def.sum(:valuation_new) +
          dmer_chubu_db.sum(:valuation_new)
      %>
      <% 
        dmer_chubu_p =  
          dmer_chubu_uq.sum(:profit_new) - dmer_chubu_def.sum(:profit_new) +
          dmer_chubu_db.sum(:profit_new)
      %>
      <% valuation_sum_chubu += dmer_chubu_v %>
      <% profit_sum_chubu += dmer_chubu_p %>
    <%# 決済 %>
      <%         
        dmer_slmter_chubu = 
          Dmer.includes(:store_prop, :settlementer)
          .where(settlementer: {base: "中部SS"})
          .where(settlementer: {base_sub: "キャッシュレス"}) 
      %>
      <% 
        dmer_slmt_chubu = 
          slmt_this_period(dmer_slmter_chubu ,shift_chubu_d)
          .where.not(industry_status: "×")
          .where.not(industry_status: "NG")
          .or(slmt_this_period(dmer_slmter_chubu, shift_chubu_d)
          .where(industry_status: nil))
      %>
      <% valuation_sum_chubu += dmer_slmt_chubu.sum(:valuation_settlement) %>
      <% profit_sum_chubu += dmer_slmt_chubu.sum(:profit_settlement) %>

      <% dmer_2ndslmt_chubu = slmt_second(dmer_slmter_chubu,shift_chubu_d) %>
      <% valuation_sum_chubu += dmer_2ndslmt_chubu.sum(:valuation_second_settlement) %>
      <% profit_sum_chubu += dmer_2ndslmt_chubu.sum(:profit_second_settlement) %>
    <%# auPay %>
      <% 
        aupay_chubu = 
          Aupay.includes(:store_prop, :user)
          .where(user: {base: "中部SS"})
          .where(user: {base_sub: "キャッシュレス"})
      %>
    <%# 新規 %>
      <% 
        aupay_chubu_uq = 
          this_period(aupay_chubu,shift_chubu_d)
          .where(store_prop: {head_store: nil})
      %>
      <% aupay_chubu_def =  aupay_def(aupay_chubu_uq,shift_chubu_d) %>
      <% 
        aupay_chubu_db = 
          share_period(aupay_chubu,shift_chubu_d)
          .where.not(store_prop: {head_store: nil})
          .where(status: "審査通過")
      %>
      <% 
        aupay_chubu_v =  
          aupay_chubu_uq.sum(:valuation_new) - aupay_chubu_def.sum(:valuation_new) +
          aupay_chubu_db.sum(:valuation_new)
      %>
      <% 
        aupay_chubu_p =  
          aupay_chubu_uq.sum(:profit_new) - aupay_chubu_def.sum(:profit_new) +
          aupay_chubu_db.sum(:profit_new)
      %>
      <% valuation_sum_chubu += aupay_chubu_v %>
      <% profit_sum_chubu += aupay_chubu_p %>
    <%# 決済 %>
      <%         
        aupay_slmter_chubu = 
          Aupay.includes(:store_prop, :settlementer)
          .where(settlementer: {base: "中部SS"})
          .where(settlementer: {base_sub: "キャッシュレス"}) 
      %>
      <% 
        aupay_slmt_chubu = 
          slmt_this_period(aupay_slmter_chubu ,shift_chubu_d)
      %>
      <% valuation_sum_chubu += aupay_slmt_chubu.sum(:valuation_settlement) %>
      <% profit_sum_chubu += aupay_slmt_chubu.sum(:profit_settlement) %>
    <%# PayPay %>
      <% 
        paypay_chubu = 
          Paypay.includes(:user)
          .where(user: {base: "中部SS"})
          .where(user: {base_sub: "キャッシュレス"})  
      %>
      <% paypay_chubu_data = this_period(paypay_chubu ,shift_chubu_d) %>
      <% valuation_sum_chubu += paypay_chubu_data.sum(:valuation) %>
      <% profit_sum_chubu += paypay_chubu_data.sum(:profit) %>
    <%# 楽天ペイ %>
      <% 
        rakuten_pay_chubu = 
          RakutenPay.includes(:user)
          .where(user: {base: "中部SS"})
          .where(user: {base_sub: "キャッシュレス"})
      %>
      <% rakuten_pay_chubu_data = this_period(rakuten_pay_chubu ,shift_chubu_d) %>
      <% 
        rakuten_pay_chubu_def = 
          rakuten_pay_chubu_data.where(status: "自社不備")
          .or(rakuten_pay_chubu_data.where(status: "自社NG"))
      %>
      <% rakuten_pay_chubu_v = 
         rakuten_pay_chubu_data.sum(:valuation) - 
         rakuten_pay_chubu_def.sum(:valuation) 
      %>
      <% rakuten_pay_chubu_p = 
         rakuten_pay_chubu_data.sum(:profit) - 
         rakuten_pay_chubu_def.sum(:profit) 
      %>
      <% valuation_sum_chubu += rakuten_pay_chubu_v %>
      <% profit_sum_chubu += rakuten_pay_chubu_p %>
    <%# 平均売 %>
      <% valuation_ave_chubu = valuation_sum_chubu / shift_chubu_d.length %>
      <% profit_ave_chubu = profit_sum_chubu / shift_chubu_d.length %>
  <%# 関西キャッシュ %>
    <% valuation_sum_kansai = 0 %>
    <% profit_sum_kansai = 0 %>
    <%# dメル %>
      <% 
        dmer_kansai = 
          Dmer.includes(:store_prop, :user)
          .where(user: {base: "関西"})
          .where(user: {base_sub: "キャッシュレス"})
      %>
    <%# 新規 %>
      <% 
        dmer_kansai_uq = 
          this_period(dmer_kansai,shift_kansai_d)
          .where(store_prop: {head_store: nil})
      %>
      <% dmer_kansai_def =  dmer_def(dmer_kansai_uq,shift_kansai_d) %>
      <% 
        dmer_kansai_db = 
          share_period(dmer_kansai,shift_kansai_d)
          .where.not(store_prop: {head_store: nil})
          .where.not(industry_status: "×")
          .where.not(industry_status: "NG")
          .where(status: "審査OK")
      %>
      <% 
        dmer_kansai_v =  
          dmer_kansai_uq.sum(:valuation_new) - dmer_kansai_def.sum(:valuation_new) +
          dmer_kansai_db.sum(:valuation_new)
      %>
      <% 
        dmer_kansai_p =  
          dmer_kansai_uq.sum(:profit_new) - dmer_kansai_def.sum(:profit_new) +
          dmer_kansai_db.sum(:profit_new)
      %>
      <% valuation_sum_kansai += dmer_kansai_v %>
      <% profit_sum_kansai += dmer_kansai_p %>
    <%# 決済 %>
      <%         
        dmer_slmter_kansai = 
          Dmer.includes(:store_prop, :settlementer)
          .where(settlementer: {base: "関西SS"})
          .where(settlementer: {base_sub: "キャッシュレス"}) 
      %>
      <% 
        dmer_slmt_kansai = 
          slmt_this_period(dmer_slmter_kansai ,shift_kansai_d)
          .where.not(industry_status: "×")
          .where.not(industry_status: "NG")
          .or(slmt_this_period(dmer_slmter_kansai, shift_kansai_d)
          .where(industry_status: nil))
      %>
      <% valuation_sum_kansai += dmer_slmt_kansai.sum(:valuation_settlement) %>
      <% profit_sum_kansai += dmer_slmt_kansai.sum(:profit_settlement) %>

      <% dmer_2ndslmt_kansai = slmt_second(dmer_slmter_kansai,shift_kansai_d) %>
      <% valuation_sum_kansai += dmer_2ndslmt_kansai.sum(:valuation_second_settlement) %>
      <% profit_sum_kansai += dmer_2ndslmt_kansai.sum(:profit_second_settlement) %>
    <%# auPay %>
      <% 
        aupay_kansai = 
          Aupay.includes(:store_prop, :user)
          .where(user: {base: "関西SS"})
          .where(user: {base_sub: "キャッシュレス"})
      %>
    <%# 新規 %>
      <% 
        aupay_kansai_uq = 
          this_period(aupay_kansai,shift_kansai_d)
          .where(store_prop: {head_store: nil})
      %>
      <% aupay_kansai_def =  aupay_def(aupay_kansai_uq,shift_kansai_d) %>
      <% 
        aupay_kansai_db = 
          share_period(aupay_kansai,shift_kansai_d)
          .where.not(store_prop: {head_store: nil})
          .where(status: "審査通過")
      %>
      <% 
        aupay_kansai_v =  
          aupay_kansai_uq.sum(:valuation_new) - aupay_kansai_def.sum(:valuation_new) +
          aupay_kansai_db.sum(:valuation_new)
      %>
      <% 
        aupay_kansai_p =  
          aupay_kansai_uq.sum(:profit_new) - aupay_kansai_def.sum(:profit_new) +
          aupay_kansai_db.sum(:profit_new)
      %>
      <% valuation_sum_kansai += aupay_kansai_v %>
      <% profit_sum_kansai += aupay_kansai_p %>
    <%# 決済 %>
      <%         
        aupay_slmter_kansai = 
          Aupay.includes(:store_prop, :settlementer)
          .where(settlementer: {base: "関西SS"})
          .where(settlementer: {base_sub: "キャッシュレス"}) 
      %>
      <% 
        aupay_slmt_kansai = 
          slmt_this_period(aupay_slmter_kansai ,shift_kansai_d)
      %>
      <% valuation_sum_kansai += aupay_slmt_kansai.sum(:valuation_settlement) %>
      <% profit_sum_kansai += aupay_slmt_kansai.sum(:profit_settlement) %>
    <%# PayPay %>
      <% 
        paypay_kansai = 
          Paypay.includes(:user)
          .where(user: {base: "関西SS"})
          .where(user: {base_sub: "キャッシュレス"})  
      %>
      <% paypay_kansai_data = this_period(paypay_kansai ,shift_kansai_d) %>
      <% valuation_sum_kansai += paypay_kansai_data.sum(:valuation) %>
      <% profit_sum_kansai += paypay_kansai_data.sum(:profit) %>
    <%# 楽天ペイ %>
      <% 
        rakuten_pay_kansai = 
          RakutenPay.includes(:user)
          .where(user: {base: "関西SS"})
          .where(user: {base_sub: "キャッシュレス"})
      %>
      <% rakuten_pay_kansai_data = this_period(rakuten_pay_kansai ,shift_kansai_d) %>
      <% 
        rakuten_pay_kansai_def = 
          rakuten_pay_kansai_data.where(status: "自社不備")
          .or(rakuten_pay_kansai_data.where(status: "自社NG"))
      %>
      <% rakuten_pay_kansai_v = 
         rakuten_pay_kansai_data.sum(:valuation) - 
         rakuten_pay_kansai_def.sum(:valuation) 
      %>
      <% rakuten_pay_kansai_p = 
         rakuten_pay_kansai_data.sum(:profit) - 
         rakuten_pay_kansai_def.sum(:profit) 
      %>
      <% valuation_sum_kansai += rakuten_pay_kansai_v %>
      <% profit_sum_kansai += rakuten_pay_kansai_p %>
    <%# 平均売 %>
      <% valuation_ave_kansai = valuation_sum_kansai / shift_kansai_d.length %>
      <% profit_ave_kansai = profit_sum_kansai / shift_kansai_d.length %>
  <%# 関東キャッシュ %>
    <% valuation_sum_kanto = 0 %>
    <% profit_sum_kanto = 0 %>
    <%# dメル %>
      <% 
        dmer_kanto = 
          Dmer.includes(:store_prop, :user)
          .where(user: {base: "関東"})
          .where(user: {base_sub: "キャッシュレス"})
      %>
    <%# 新規 %>
      <% 
        dmer_kanto_uq = 
          this_period(dmer_kanto,shift_kanto_d)
          .where(store_prop: {head_store: nil})
      %>
      <% dmer_kanto_def =  dmer_def(dmer_kanto_uq,shift_kanto_d) %>
      <% 
        dmer_kanto_db = 
          share_period(dmer_kanto,shift_kanto_d)
          .where.not(store_prop: {head_store: nil})
          .where.not(industry_status: "×")
          .where.not(industry_status: "NG")
          .where(status: "審査OK")
      %>
      <% 
        dmer_kanto_v =  
          dmer_kanto_uq.sum(:valuation_new) - dmer_kanto_def.sum(:valuation_new) +
          dmer_kanto_db.sum(:valuation_new)
      %>
      <% 
        dmer_kanto_p =  
          dmer_kanto_uq.sum(:profit_new) - dmer_kanto_def.sum(:profit_new) +
          dmer_kanto_db.sum(:profit_new)
      %>
      <% valuation_sum_kanto += dmer_kanto_v %>
      <% profit_sum_kanto += dmer_kanto_p %>
    <%# 決済 %>
      <%         
        dmer_slmter_kanto = 
          Dmer.includes(:store_prop, :settlementer)
          .where(settlementer: {base: "関東SS"})
          .where(settlementer: {base_sub: "キャッシュレス"}) 
      %>
      <% 
        dmer_slmt_kanto = 
          slmt_this_period(dmer_slmter_kanto ,shift_kanto_d)
          .where.not(industry_status: "×")
          .where.not(industry_status: "NG")
          .or(slmt_this_period(dmer_slmter_kanto, shift_kanto_d)
          .where(industry_status: nil))
      %>
      <% valuation_sum_kanto += dmer_slmt_kanto.sum(:valuation_settlement) %>
      <% profit_sum_kanto += dmer_slmt_kanto.sum(:profit_settlement) %>

      <% dmer_2ndslmt_kanto = slmt_second(dmer_slmter_kanto,shift_kanto_d) %>
      <% valuation_sum_kanto += dmer_2ndslmt_kanto.sum(:valuation_second_settlement) %>
      <% profit_sum_kanto += dmer_2ndslmt_kanto.sum(:profit_second_settlement) %>
    <%# auPay %>
      <% 
        aupay_kanto = 
          Aupay.includes(:store_prop, :user)
          .where(user: {base: "関東SS"})
          .where(user: {base_sub: "キャッシュレス"})
      %>
    <%# 新規 %>
      <% 
        aupay_kanto_uq = 
          this_period(aupay_kanto,shift_kanto_d)
          .where(store_prop: {head_store: nil})
      %>
      <% aupay_kanto_def =  aupay_def(aupay_kanto_uq,shift_kanto_d) %>
      <% 
        aupay_kanto_db = 
          share_period(aupay_kanto,shift_kanto_d)
          .where.not(store_prop: {head_store: nil})
          .where(status: "審査通過")
      %>
      <% 
        aupay_kanto_v =  
          aupay_kanto_uq.sum(:valuation_new) - aupay_kanto_def.sum(:valuation_new) +
          aupay_kanto_db.sum(:valuation_new)
      %>
      <% 
        aupay_kanto_p =  
          aupay_kanto_uq.sum(:profit_new) - aupay_kanto_def.sum(:profit_new) +
          aupay_kanto_db.sum(:profit_new)
      %>
      <% valuation_sum_kanto += aupay_kanto_v %>
      <% profit_sum_kanto += aupay_kanto_p %>
    <%# 決済 %>
      <%         
        aupay_slmter_kanto = 
          Aupay.includes(:store_prop, :settlementer)
          .where(settlementer: {base: "関東SS"})
          .where(settlementer: {base_sub: "キャッシュレス"}) 
      %>
      <% 
        aupay_slmt_kanto = 
          slmt_this_period(aupay_slmter_kanto ,shift_kanto_d)
      %>
      <% valuation_sum_kanto += aupay_slmt_kanto.sum(:valuation_settlement) %>
      <% profit_sum_kanto += aupay_slmt_kanto.sum(:profit_settlement) %>
    <%# PayPay %>
      <% 
        paypay_kanto = 
          Paypay.includes(:user)
          .where(user: {base: "関東SS"})
          .where(user: {base_sub: "キャッシュレス"})  
      %>
      <% paypay_kanto_data = this_period(paypay_kanto ,shift_kanto_d) %>
      <% valuation_sum_kanto += paypay_kanto_data.sum(:valuation) %>
      <% profit_sum_kanto += paypay_kanto_data.sum(:profit) %>
    <%# 楽天ペイ %>
      <% 
        rakuten_pay_kanto = 
          RakutenPay.includes(:user)
          .where(user: {base: "関東SS"})
          .where(user: {base_sub: "キャッシュレス"})
      %>
      <% rakuten_pay_kanto_data = this_period(rakuten_pay_kanto ,shift_kanto_d) %>
      <% 
        rakuten_pay_kanto_def = 
          rakuten_pay_kanto_data.where(status: "自社不備")
          .or(rakuten_pay_kanto_data.where(status: "自社NG"))
      %>
      <% rakuten_pay_kanto_v = 
         rakuten_pay_kanto_data.sum(:valuation) - 
         rakuten_pay_kanto_def.sum(:valuation) 
      %>
      <% rakuten_pay_kanto_p = 
         rakuten_pay_kanto_data.sum(:profit) - 
         rakuten_pay_kanto_def.sum(:profit) 
      %>
      <% valuation_sum_kanto += rakuten_pay_kanto_v %>
      <% profit_sum_kansai += rakuten_pay_kansai_p %>
      <% profit_sum_kanto += rakuten_pay_kanto_p %>
    <%# 平均売 %>
      <% valuation_ave_kanto = valuation_sum_kanto / shift_kanto_d.length %>
      <% profit_ave_kanto = profit_sum_kanto / shift_kanto_d.length %>
<%# 前週 %>
<% if @display_period_1.end_period_01.ago(7.days) > @display_period_1.start_period_01 %>
  <%# 中部キャッシュ %>
  <% valuation_sum_chubu_lweek = 0 %>
  <% profit_sum_chubu_lweek = 0 %>
  <%# dメル %>
    <% 
      dmer_chubu_lweek = 
        Dmer.includes(:store_prop, :user)
        .where(user: {base: "中部SS"})
        .where(user: {base_sub: "キャッシュレス"})
    %>
  <%# 新規 %>
    <% 
      dmer_chubu_lweek_uq = 
        this_period(dmer_chubu_lweek,shift_chubu_d_prev_week)
        .where(store_prop: {head_store: nil})
    %>
    <% dmer_chubu_d_prev_weekef =  dmer_def(dmer_chubu_lweek_uq,shift_chubu_d_prev_week) %>
    <% 
      dmer_chubu_d_prev_weekb = 
        share_period(dmer_chubu_lweek,shift_chubu_d_prev_week)
        .where.not(store_prop: {head_store: nil})
        .where.not(industry_status: "×")
        .where.not(industry_status: "NG")
        .where(status: "審査OK")
    %>
    <% 
      dmer_chubu_lweek_v =  
        dmer_chubu_lweek_uq.sum(:valuation_new) - dmer_chubu_d_prev_weekef.sum(:valuation_new) +
        dmer_chubu_d_prev_weekb.sum(:valuation_new)
    %>
    <% 
      dmer_chubu_lweek_p =  
        dmer_chubu_lweek_uq.sum(:profit_new) - dmer_chubu_d_prev_weekef.sum(:profit_new) +
        dmer_chubu_d_prev_weekb.sum(:profit_new)
    %>
    <% valuation_sum_chubu_lweek += dmer_chubu_lweek_v %>
    <% profit_sum_chubu_lweek += dmer_chubu_lweek_p %>
  <%# 決済 %>
    <%         
      dmer_slmter_chubu_lweek = 
        Dmer.includes(:store_prop, :settlementer)
        .where(settlementer: {base: "中部SS"})
        .where(settlementer: {base_sub: "キャッシュレス"}) 
    %>
    <% 
      dmer_slmt_chubu_lweek = 
        slmt_this_period(dmer_slmter_chubu_lweek ,shift_chubu_d_prev_week)
        .where.not(industry_status: "×")
        .where.not(industry_status: "NG")
        .or(slmt_this_period(dmer_slmter_chubu_lweek, shift_chubu_d_prev_week)
        .where(industry_status: nil))
    %>
    <% valuation_sum_chubu_lweek += dmer_slmt_chubu_lweek.sum(:valuation_settlement) %>
    <% profit_sum_chubu_lweek += dmer_slmt_chubu_lweek.sum(:profit_settlement) %>

    <% dmer_2ndslmt_chubu_lweek = slmt_second(dmer_slmter_chubu_lweek,shift_chubu_d_prev_week) %>
    <% valuation_sum_chubu_lweek += dmer_2ndslmt_chubu_lweek.sum(:valuation_second_settlement) %>
    <% profit_sum_chubu_lweek += dmer_2ndslmt_chubu_lweek.sum(:profit_second_settlement) %>
  <%# auPay %>
    <% 
      aupay_chubu_lweek = 
        Aupay.includes(:store_prop, :user)
        .where(user: {base: "中部SS"})
        .where(user: {base_sub: "キャッシュレス"})
    %>
  <%# 新規 %>
    <% 
      aupay_chubu_lweek_uq = 
        this_period(aupay_chubu_lweek,shift_chubu_d_prev_week)
        .where(store_prop: {head_store: nil})
    %>
    <% aupay_chubu_d_prev_weekef =  aupay_def(aupay_chubu_lweek_uq,shift_chubu_d_prev_week) %>
    <% 
      aupay_chubu_d_prev_weekb = 
        share_period(aupay_chubu_lweek,shift_chubu_d_prev_week)
        .where.not(store_prop: {head_store: nil})
        .where(status: "審査通過")
    %>
    <% 
      aupay_chubu_lweek_v =  
        aupay_chubu_lweek_uq.sum(:valuation_new) - aupay_chubu_d_prev_weekef.sum(:valuation_new) +
        aupay_chubu_d_prev_weekb.sum(:valuation_new)
    %>
    <% 
      aupay_chubu_lweek_p =  
        aupay_chubu_lweek_uq.sum(:profit_new) - aupay_chubu_d_prev_weekef.sum(:profit_new) +
        aupay_chubu_d_prev_weekb.sum(:profit_new)
    %>
    <% valuation_sum_chubu_lweek += aupay_chubu_lweek_v %>
    <% profit_sum_chubu_lweek += aupay_chubu_lweek_p %>
  <%# 決済 %>
    <%         
      aupay_slmter_chubu_lweek = 
        Aupay.includes(:store_prop, :settlementer)
        .where(settlementer: {base: "中部SS"})
        .where(settlementer: {base_sub: "キャッシュレス"}) 
    %>
    <% 
      aupay_slmt_chubu_lweek = 
        slmt_this_period(aupay_slmter_chubu_lweek ,shift_chubu_d_prev_week)
    %>
    <% valuation_sum_chubu_lweek += aupay_slmt_chubu_lweek.sum(:valuation_settlement) %>
    <% profit_sum_chubu_lweek += aupay_slmt_chubu_lweek.sum(:profit_settlement) %>
  <%# PayPay %>
    <% 
      paypay_chubu_lweek = 
        Paypay.includes(:user)
        .where(user: {base: "中部SS"})
        .where(user: {base_sub: "キャッシュレス"})  
    %>
    <% paypay_chubu_d_prev_weekata = this_period(paypay_chubu_lweek ,shift_chubu_d_prev_week) %>
    <% valuation_sum_chubu_lweek += paypay_chubu_d_prev_weekata.sum(:valuation) %>
    <% profit_sum_chubu_lweek += paypay_chubu_d_prev_weekata.sum(:profit) %>
  <%# 楽天ペイ %>
    <% 
      rakuten_pay_chubu_lweek = 
        RakutenPay.includes(:user)
        .where(user: {base: "中部SS"})
        .where(user: {base_sub: "キャッシュレス"})
    %>
    <% rakuten_pay_chubu_d_prev_weekata = this_period(rakuten_pay_chubu_lweek ,shift_chubu_d_prev_week) %>
    <% 
      rakuten_pay_chubu_d_prev_weekef = 
        rakuten_pay_chubu_d_prev_weekata.where(status: "自社不備")
        .or(rakuten_pay_chubu_d_prev_weekata.where(status: "自社NG"))
    %>
    <% rakuten_pay_chubu_lweek_v = 
       rakuten_pay_chubu_d_prev_weekata.sum(:valuation) - 
       rakuten_pay_chubu_d_prev_weekef.sum(:valuation) 
    %>
    <% rakuten_pay_chubu_lweek_p = 
       rakuten_pay_chubu_d_prev_weekata.sum(:profit) - 
       rakuten_pay_chubu_d_prev_weekef.sum(:profit) 
    %>
    <% valuation_sum_chubu_lweek += rakuten_pay_chubu_lweek_v %>
    <% profit_sum_chubu_lweek += rakuten_pay_chubu_lweek_p %>
  <%# 平均売 %>
    <% valuation_ave_chubu_lweek = valuation_sum_chubu_lweek / shift_chubu_d_prev_week.length %>
    <% profit_ave_chubu_lweek = profit_sum_chubu_lweek / shift_chubu_d_prev_week.length %>
  <%# 関西キャッシュ %>
  <% valuation_sum_kansai_lweek = 0 %>
  <% profit_sum_kansai_lweek = 0 %>
  <%# dメル %>
    <% 
      dmer_kansai_lweek = 
        Dmer.includes(:store_prop, :user)
        .where(user: {base: "関西SS"})
        .where(user: {base_sub: "キャッシュレス"})
    %>
  <%# 新規 %>
    <% 
      dmer_kansai_lweek_uq = 
        this_period(dmer_kansai_lweek,shift_kansai_d_prev_week)
        .where(store_prop: {head_store: nil})
    %>
    <% dmer_kansai_d_prev_weekef =  dmer_def(dmer_kansai_lweek_uq,shift_kansai_d_prev_week) %>
    <% 
      dmer_kansai_d_prev_weekb = 
        share_period(dmer_kansai_lweek,shift_kansai_d_prev_week)
        .where.not(store_prop: {head_store: nil})
        .where.not(industry_status: "×")
        .where.not(industry_status: "NG")
        .where(status: "審査OK")
    %>
    <% 
      dmer_kansai_lweek_v =  
        dmer_kansai_lweek_uq.sum(:valuation_new) - dmer_kansai_d_prev_weekef.sum(:valuation_new) +
        dmer_kansai_d_prev_weekb.sum(:valuation_new)
    %>
    <% 
      dmer_kansai_lweek_p =  
        dmer_kansai_lweek_uq.sum(:profit_new) - dmer_kansai_d_prev_weekef.sum(:profit_new) +
        dmer_kansai_d_prev_weekb.sum(:profit_new)
    %>
    <% valuation_sum_kansai_lweek += dmer_kansai_lweek_v %>
    <% profit_sum_kansai_lweek += dmer_kansai_lweek_p %>
  <%# 決済 %>
    <%         
      dmer_slmter_kansai_lweek = 
        Dmer.includes(:store_prop, :settlementer)
        .where(settlementer: {base: "関西SS"})
        .where(settlementer: {base_sub: "キャッシュレス"}) 
    %>
    <% 
      dmer_slmt_kansai_lweek = 
        slmt_this_period(dmer_slmter_kansai_lweek ,shift_kansai_d_prev_week)
        .where.not(industry_status: "×")
        .where.not(industry_status: "NG")
        .or(slmt_this_period(dmer_slmter_kansai_lweek, shift_kansai_d_prev_week)
        .where(industry_status: nil))
    %>
    <% valuation_sum_kansai_lweek += dmer_slmt_kansai_lweek.sum(:valuation_settlement) %>
    <% profit_sum_kansai_lweek += dmer_slmt_kansai_lweek.sum(:profit_settlement) %>

    <% dmer_2ndslmt_kansai_lweek = slmt_second(dmer_slmter_kansai_lweek,shift_kansai_d_prev_week) %>
    <% valuation_sum_kansai_lweek += dmer_2ndslmt_kansai_lweek.sum(:valuation_second_settlement) %>
    <% profit_sum_kansai_lweek += dmer_2ndslmt_kansai_lweek.sum(:profit_second_settlement) %>
  <%# auPay %>
    <% 
      aupay_kansai_lweek = 
        Aupay.includes(:store_prop, :user)
        .where(user: {base: "関西SS"})
        .where(user: {base_sub: "キャッシュレス"})
    %>
  <%# 新規 %>
    <% 
      aupay_kansai_lweek_uq = 
        this_period(aupay_kansai_lweek,shift_kansai_d_prev_week)
        .where(store_prop: {head_store: nil})
    %>
    <% aupay_kansai_d_prev_weekef =  aupay_def(aupay_kansai_lweek_uq,shift_kansai_d_prev_week) %>
    <% 
      aupay_kansai_d_prev_weekb = 
        share_period(aupay_kansai_lweek,shift_kansai_d_prev_week)
        .where.not(store_prop: {head_store: nil})
        .where(status: "審査通過")
    %>
    <% 
      aupay_kansai_lweek_v =  
        aupay_kansai_lweek_uq.sum(:valuation_new) - aupay_kansai_d_prev_weekef.sum(:valuation_new) +
        aupay_kansai_d_prev_weekb.sum(:valuation_new)
    %>
    <% 
      aupay_kansai_lweek_p =  
        aupay_kansai_lweek_uq.sum(:profit_new) - aupay_kansai_d_prev_weekef.sum(:profit_new) +
        aupay_kansai_d_prev_weekb.sum(:profit_new)
    %>
    <% valuation_sum_kansai_lweek += aupay_kansai_lweek_v %>
    <% profit_sum_kansai_lweek += aupay_kansai_lweek_p %>
  <%# 決済 %>
    <%         
      aupay_slmter_kansai_lweek = 
        Aupay.includes(:store_prop, :settlementer)
        .where(settlementer: {base: "関西SS"})
        .where(settlementer: {base_sub: "キャッシュレス"}) 
    %>
    <% 
      aupay_slmt_kansai_lweek = 
        slmt_this_period(aupay_slmter_kansai_lweek ,shift_kansai_d_prev_week)
    %>
    <% valuation_sum_kansai_lweek += aupay_slmt_kansai_lweek.sum(:valuation_settlement) %>
    <% profit_sum_kansai_lweek += aupay_slmt_kansai_lweek.sum(:profit_settlement) %>
  <%# PayPay %>
    <% 
      paypay_kansai_lweek = 
        Paypay.includes(:user)
        .where(user: {base: "関西SS"})
        .where(user: {base_sub: "キャッシュレス"})  
    %>
    <% paypay_kansai_d_prev_weekata = this_period(paypay_kansai_lweek ,shift_kansai_d_prev_week) %>
    <% valuation_sum_kansai_lweek += paypay_kansai_d_prev_weekata.sum(:valuation) %>
    <% profit_sum_kansai_lweek += paypay_kansai_d_prev_weekata.sum(:profit) %>
  <%# 楽天ペイ %>
    <% 
      rakuten_pay_kansai_lweek = 
        RakutenPay.includes(:user)
        .where(user: {base: "関西SS"})
        .where(user: {base_sub: "キャッシュレス"})
    %>
    <% rakuten_pay_kansai_d_prev_weekata = this_period(rakuten_pay_kansai_lweek ,shift_kansai_d_prev_week) %>
    <% 
      rakuten_pay_kansai_d_prev_weekef = 
        rakuten_pay_kansai_d_prev_weekata.where(status: "自社不備")
        .or(rakuten_pay_kansai_d_prev_weekata.where(status: "自社NG"))
    %>
    <% rakuten_pay_kansai_lweek_v = 
       rakuten_pay_kansai_d_prev_weekata.sum(:valuation) - 
       rakuten_pay_kansai_d_prev_weekef.sum(:valuation) 
    %>
    <% rakuten_pay_kansai_lweek_p = 
       rakuten_pay_kansai_d_prev_weekata.sum(:profit) - 
       rakuten_pay_kansai_d_prev_weekef.sum(:profit) 
    %>
    <% valuation_sum_kansai_lweek += rakuten_pay_kansai_lweek_v %>
    <% profit_sum_kansai_lweek += rakuten_pay_kansai_lweek_p %>
  <%# 平均売 %>
    <% valuation_ave_kansai_lweek = valuation_sum_kansai_lweek / shift_kansai_d_prev_week.length %>
    <% profit_ave_kansai_lweek = profit_sum_kansai_lweek / shift_kansai_d_prev_week.length %>
  <%# 関東キャッシュ %>
  <% valuation_sum_kanto_lweek = 0 %>
  <% profit_sum_kanto_lweek = 0 %>
  <%# dメル %>
    <% 
      dmer_kanto_lweek = 
        Dmer.includes(:store_prop, :user)
        .where(user: {base: "関東SS"})
        .where(user: {base_sub: "キャッシュレス"})
    %>
  <%# 新規 %>
    <% 
      dmer_kanto_lweek_uq = 
        this_period(dmer_kanto_lweek,shift_kanto_d_prev_week)
        .where(store_prop: {head_store: nil})
    %>
    <% dmer_kanto_d_prev_weekef =  dmer_def(dmer_kanto_lweek_uq,shift_kanto_d_prev_week) %>
    <% 
      dmer_kanto_d_prev_weekb = 
        share_period(dmer_kanto_lweek,shift_kanto_d_prev_week)
        .where.not(store_prop: {head_store: nil})
        .where.not(industry_status: "×")
        .where.not(industry_status: "NG")
        .where(status: "審査OK")
    %>
    <% 
      dmer_kanto_lweek_v =  
        dmer_kanto_lweek_uq.sum(:valuation_new) - dmer_kanto_d_prev_weekef.sum(:valuation_new) +
        dmer_kanto_d_prev_weekb.sum(:valuation_new)
    %>
    <% 
      dmer_kanto_lweek_p =  
        dmer_kanto_lweek_uq.sum(:profit_new) - dmer_kanto_d_prev_weekef.sum(:profit_new) +
        dmer_kanto_d_prev_weekb.sum(:profit_new)
    %>
    <% valuation_sum_kanto_lweek += dmer_kanto_lweek_v %>
    <% profit_sum_kanto_lweek += dmer_kanto_lweek_p %>
  <%# 決済 %>
    <%         
      dmer_slmter_kanto_lweek = 
        Dmer.includes(:store_prop, :settlementer)
        .where(settlementer: {base: "関東SS"})
        .where(settlementer: {base_sub: "キャッシュレス"}) 
    %>
    <% 
      dmer_slmt_kanto_lweek = 
        slmt_this_period(dmer_slmter_kanto_lweek ,shift_kanto_d_prev_week)
        .where.not(industry_status: "×")
        .where.not(industry_status: "NG")
        .or(slmt_this_period(dmer_slmter_kanto_lweek, shift_kanto_d_prev_week)
        .where(industry_status: nil))
    %>
    <% valuation_sum_kanto_lweek += dmer_slmt_kanto_lweek.sum(:valuation_settlement) %>
    <% profit_sum_kanto_lweek += dmer_slmt_kanto_lweek.sum(:profit_settlement) %>

    <% dmer_2ndslmt_kanto_lweek = slmt_second(dmer_slmter_kanto_lweek,shift_kanto_d_prev_week) %>
    <% valuation_sum_kanto_lweek += dmer_2ndslmt_kanto_lweek.sum(:valuation_second_settlement) %>
    <% profit_sum_kanto_lweek += dmer_2ndslmt_kanto_lweek.sum(:profit_second_settlement) %>
  <%# auPay %>
    <% 
      aupay_kanto_lweek = 
        Aupay.includes(:store_prop, :user)
        .where(user: {base: "関東SS"})
        .where(user: {base_sub: "キャッシュレス"})
    %>
  <%# 新規 %>
    <% 
      aupay_kanto_lweek_uq = 
        this_period(aupay_kanto_lweek,shift_kanto_d_prev_week)
        .where(store_prop: {head_store: nil})
    %>
    <% aupay_kanto_d_prev_weekef =  aupay_def(aupay_kanto_lweek_uq,shift_kanto_d_prev_week) %>
    <% 
      aupay_kanto_d_prev_weekb = 
        share_period(aupay_kanto_lweek,shift_kanto_d_prev_week)
        .where.not(store_prop: {head_store: nil})
        .where(status: "審査通過")
    %>
    <% 
      aupay_kanto_lweek_v =  
        aupay_kanto_lweek_uq.sum(:valuation_new) - aupay_kanto_d_prev_weekef.sum(:valuation_new) +
        aupay_kanto_d_prev_weekb.sum(:valuation_new)
    %>
    <% 
      aupay_kanto_lweek_p =  
        aupay_kanto_lweek_uq.sum(:profit_new) - aupay_kanto_d_prev_weekef.sum(:profit_new) +
        aupay_kanto_d_prev_weekb.sum(:profit_new)
    %>
    <% valuation_sum_kanto_lweek += aupay_kanto_lweek_v %>
    <% profit_sum_kanto_lweek += aupay_kanto_lweek_p %>
  <%# 決済 %>
    <%         
      aupay_slmter_kanto_lweek = 
        Aupay.includes(:store_prop, :settlementer)
        .where(settlementer: {base: "関東SS"})
        .where(settlementer: {base_sub: "キャッシュレス"}) 
    %>
    <% 
      aupay_slmt_kanto_lweek = 
        slmt_this_period(aupay_slmter_kanto_lweek ,shift_kanto_d_prev_week)
    %>
    <% valuation_sum_kanto_lweek += aupay_slmt_kanto_lweek.sum(:valuation_settlement) %>
    <% profit_sum_kanto_lweek += aupay_slmt_kanto_lweek.sum(:profit_settlement) %>
  <%# PayPay %>
    <% 
      paypay_kanto_lweek = 
        Paypay.includes(:user)
        .where(user: {base: "関東SS"})
        .where(user: {base_sub: "キャッシュレス"})  
    %>
    <% paypay_kanto_d_prev_weekata = this_period(paypay_kanto_lweek ,shift_kanto_d_prev_week) %>
    <% valuation_sum_kanto_lweek += paypay_kanto_d_prev_weekata.sum(:valuation) %>
    <% profit_sum_kanto_lweek += paypay_kanto_d_prev_weekata.sum(:profit) %>
  <%# 楽天ペイ %>
    <% 
      rakuten_pay_kanto_lweek = 
        RakutenPay.includes(:user)
        .where(user: {base: "関東SS"})
        .where(user: {base_sub: "キャッシュレス"})
    %>
    <% rakuten_pay_kanto_d_prev_weekata = this_period(rakuten_pay_kanto_lweek ,shift_kanto_d_prev_week) %>
    <% 
      rakuten_pay_kanto_d_prev_weekef = 
        rakuten_pay_kanto_d_prev_weekata.where(status: "自社不備")
        .or(rakuten_pay_kanto_d_prev_weekata.where(status: "自社NG"))
    %>
    <% rakuten_pay_kanto_lweek_v = 
       rakuten_pay_kanto_d_prev_weekata.sum(:valuation) - 
       rakuten_pay_kanto_d_prev_weekef.sum(:valuation) 
    %>
    <% rakuten_pay_kanto_lweek_p = 
       rakuten_pay_kanto_d_prev_weekata.sum(:profit) - 
       rakuten_pay_kanto_d_prev_weekef.sum(:profit) 
    %>
    <% valuation_sum_kanto_lweek += rakuten_pay_kanto_lweek_v %>
    <% profit_sum_kanto_lweek += rakuten_pay_kanto_lweek_p %>
  <%# 平均売 %>
    <% valuation_ave_kanto_lweek = valuation_sum_kanto_lweek / shift_kanto_d_prev_week.length %>
    <% profit_ave_kanto_lweek = profit_sum_kanto_lweek / shift_kanto_d_prev_week.length %>
<% end %>

<h2>キャッシュレス</h2>

<table>
  <thead>
    <tr>
      <th class="profit-th">拠点</th>
      <th class="profit-th">中部キャッシュ</th>
      <th class="profit-th">関西キャッシュ</th>
      <th class="profit-th">関東キャッシュ</th>
      <th class="profit-th">キャッシュ合計</th>
    </tr>
  </thead>
  <tbody>
    <tr></tr>
    <tr>
      <th>人員数</th>
      <td><%= @cash_results.where(user: {base: "中部SS"}).group(:user_id).length %></td>
      <td><%= @cash_results.where(user: {base: "関西SS"}).group(:user_id).length %></td>
      <td><%= @cash_results.where(user: {base: "関東SS"}).group(:user_id).length %></td>
      <td><%= @cash_results.group(:user_id).length %></td>
    </tr>
    <tr>
      <th>消化シフト/予定シフト</th>
      <td><%= shift_chubu_d.length %>/<%= shift_chubu_p %></td>
      <td><%= shift_kansai_d.length %>/<%= shift_kansai_p %></td>
      <td><%= shift_kanto_d.length %>/<%= shift_kanto_p %></td>
      <td><%= shift_sum_d.length %>/<%= shift_sum_p %></td>
    </tr>
  <%# 評価売 %>
    <tr>
      <th>現状売上（評価売）</th>
      <td><%= valuation_sum_chubu.to_s(:delimited) %></td>
      <td><%= valuation_sum_kansai.to_s(:delimited) %></td>
      <td><%= valuation_sum_kanto.to_s(:delimited) %></td>
      <td><%= (valuation_sum_chubu + valuation_sum_kansai + valuation_sum_kanto).to_s(:delimited) %></td>
    </tr>
    <tr>
      <th>前週Ave（評価売）</th>
      <% if shift_chubu_d_prev_week.present? %>
      <td><%= (valuation_ave_chubu_lweek).to_s(:delimited) %></td>
      <td><%= (valuation_ave_kansai_lweek).to_s(:delimited) %></td>
      <td><%= (valuation_ave_kanto_lweek).to_s(:delimited) %></td>
      <td><%= (valuation_ave_kanto_lweek + valuation_ave_kansai_lweek + valuation_ave_chubu_lweek).to_s(:delimited) %></td>
      <% else %>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <% end %>
    </tr>
    <tr>
      <th>現状Ave（評価売）</th>
      <td><%= (valuation_ave_chubu).to_s(:delimited) %></td>
      <td><%= (valuation_ave_kansai).to_s(:delimited) %></td>
      <td><%= (valuation_ave_kanto).to_s(:delimited) %></td>
      <td><%= (valuation_ave_chubu + valuation_ave_kansai + valuation_ave_kanto).to_s(:delimited) %></td>
    </tr>
    <tr>
      <th>前週比（評価売）</th>
    <% if @display_period_1.end_period_01.ago(7.days) > @display_period_1.start_period_01  %>
      <% if valuation_ave_chubu - valuation_ave_chubu_lweek > 0 %>
      <td style="color:blue;"><%= (valuation_ave_chubu - valuation_ave_chubu_lweek).to_s(:delimited) %></td>
      <% else %>
      <td style="color:red;"><%= (valuation_ave_chubu - valuation_ave_chubu_lweek).to_s(:delimited) %></td>
      <% end %>
      <% if valuation_ave_kansai - valuation_ave_kansai_lweek > 0 %>
      <td style="color:blue;"><%= (valuation_ave_kansai - valuation_ave_kansai_lweek).to_s(:delimited) %></td>
      <% else %>
      <td style="color:red;"><%= (valuation_ave_kansai - valuation_ave_kansai_lweek).to_s(:delimited) %></td>
      <% end %>
      <% if valuation_ave_kanto - valuation_ave_kanto_lweek > 0 %>
      <td style="color:blue;"><%= (valuation_ave_kanto - valuation_ave_kanto_lweek).to_s(:delimited) %></td>
      <% else %>
      <td style="color:red;"><%= (valuation_ave_kanto - valuation_ave_kanto_lweek).to_s(:delimited) %></td>
      <% end %>
      <% if (valuation_ave_chubu + valuation_ave_kansai + valuation_ave_kanto) - (valuation_ave_kanto_lweek + valuation_ave_kansai_lweek + valuation_ave_chubu_lweek) > 0 %>
      <td style="color:blue;"><%= ((valuation_ave_chubu + valuation_ave_kansai + valuation_ave_kanto) - (valuation_ave_kanto_lweek + valuation_ave_kansai_lweek + valuation_ave_chubu_lweek)).to_s(:delimited) %></td>
      <% else %>
      <td style="color:red;"><%= ((valuation_ave_chubu + valuation_ave_kansai + valuation_ave_kanto) - (valuation_ave_kanto_lweek + valuation_ave_kansai_lweek + valuation_ave_chubu_lweek)).to_s(:delimited) %></td>
      <% end %>
    <% else %>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    <% end %>
    </tr>
    <tr>
      <th>終着見込売上（評価売）</th>
      <td><%= (valuation_ave_chubu * shift_chubu_p).to_s(:delimited) rescue 'NaN' %></td>
      <td><%= (valuation_ave_kansai * shift_kansai_p).to_s(:delimited) rescue 'NaN' %></td>
      <td><%= (valuation_ave_kanto * shift_kanto_p).to_s(:delimited) rescue 'NaN' %></td>
      <td><%= ((valuation_ave_kanto_lweek + valuation_ave_kansai_lweek + valuation_ave_chubu_lweek) * shift_sum_p).to_s(:delimited) rescue 'NaN' %></td>
    </tr>
  <%# 実売り %>
  <% if current_user.position == "権限①" %>
    <tr>
      <th class="profit-th">現状売上（実売）</th>
      <td><%= profit_sum_chubu.to_s(:delimited) %></td>
      <td><%= profit_sum_kansai.to_s(:delimited) %></td>
      <td><%= profit_sum_kanto.to_s(:delimited) %></td>
      <td><%= (profit_sum_chubu + profit_sum_kansai + profit_sum_kanto).to_s(:delimited) %></td>
    </tr>
    <tr>
      <th class="profit-th">前週Ave（実売）</th>
      <% if shift_chubu_d_prev_week.present? %>
      <td><%= (profit_ave_chubu_lweek).to_s(:delimited) %></td>
      <td><%= (profit_ave_kansai_lweek).to_s(:delimited) %></td>
      <td><%= (profit_ave_kanto_lweek).to_s(:delimited) %></td>
      <td><%= (profit_ave_kanto_lweek + profit_ave_kansai_lweek + profit_ave_chubu_lweek).to_s(:delimited) %></td>
      <% else %>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <% end %>
    </tr>
    <tr>
      <th class="profit-th">現状Ave（実売）</th>
      <td><%= (profit_ave_chubu).to_s(:delimited) %></td>
      <td><%= (profit_ave_kansai).to_s(:delimited) %></td>
      <td><%= (profit_ave_kanto).to_s(:delimited) %></td>
      <td><%= (profit_ave_chubu + profit_ave_kansai + profit_ave_kanto).to_s(:delimited) %></td>
    </tr>
    <tr>
      <th class="profit-th">前週比（実売）</th>
    <% if @display_period_1.end_period_01.ago(7.days) > @display_period_1.start_period_01  %>
      <% if profit_ave_chubu - profit_ave_chubu_lweek > 0 %>
      <td style="color:blue;"><%= (profit_ave_chubu - profit_ave_chubu_lweek).to_s(:delimited) %></td>
      <% else %>
      <td style="color:red;"><%= (profit_ave_chubu - profit_ave_chubu_lweek).to_s(:delimited) %></td>
      <% end %>
      <% if profit_ave_kansai - profit_ave_kansai_lweek > 0 %>
      <td style="color:blue;"><%= (profit_ave_kansai - profit_ave_kansai_lweek).to_s(:delimited) %></td>
      <% else %>
      <td style="color:red;"><%= (profit_ave_kansai - profit_ave_kansai_lweek).to_s(:delimited) %></td>
      <% end %>
      <% if profit_ave_kanto - profit_ave_kanto_lweek > 0 %>
      <td style="color:blue;"><%= (profit_ave_kanto - profit_ave_kanto_lweek).to_s(:delimited) %></td>
      <% else %>
      <td style="color:red;"><%= (profit_ave_kanto - profit_ave_kanto_lweek).to_s(:delimited) %></td>
      <% end %>
      <% if (profit_ave_chubu + profit_ave_kansai + profit_ave_kanto) - (profit_ave_kanto_lweek + profit_ave_kansai_lweek + profit_ave_chubu_lweek) > 0 %>
      <td style="color:blue;"><%= ((profit_ave_chubu + profit_ave_kansai + profit_ave_kanto) - (profit_ave_kanto_lweek + profit_ave_kansai_lweek + profit_ave_chubu_lweek)).to_s(:delimited) %></td>
      <% else %>
      <td style="color:red;"><%= ((profit_ave_chubu + profit_ave_kansai + profit_ave_kanto) - (profit_ave_kanto_lweek + profit_ave_kansai_lweek + profit_ave_chubu_lweek)).to_s(:delimited) %></td>
      <% end %>
    <% else %>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    <% end %>
    </tr>
    <tr>
      <% profit_exp_chubu = profit_ave_chubu * shift_chubu_p %>
      <% profit_exp_kansai = profit_ave_kansai * shift_kansai_p %>
      <% profit_exp_kanto = profit_ave_kanto * shift_kanto_p %>
      <% profit_exp_all = profit_exp_chubu + profit_exp_kansai + profit_exp_kanto %>
      <th class="profit-th">終着見込売上（実売）</th>
      <td><%= profit_exp_chubu.to_s(:delimited) rescue 'NaN' %></td>
      <td><%= profit_exp_kansai.to_s(:delimited) rescue 'NaN' %></td>
      <td><%= profit_exp_kanto.to_s(:delimited) rescue 'NaN' %></td>
      <td><%= profit_exp_all.to_s(:delimited) rescue 'NaN' %></td>
    </tr>
    <tr>
      <% paying15per_chubu = ((@cost_chubu.sum(:sales_man) + @cost_chubu.sum(:office_worker)) * 0.15).round() %>
      <% paying15per_kansai = ((@cost_kansai.sum(:sales_man) + @cost_kansai.sum(:office_worker)) * 0.15).round() %>
      <% paying15per_kanto = ((@cost_kanto.sum(:sales_man) + @cost_kanto.sum(:office_worker)) * 0.15).round() %>
      <% paying15per_all = ((@cost_all.sum(:sales_man) + @cost_all.sum(:office_worker)) * 0.15).round() %>
      <th class="profit-th">人件費合計</th>
      <td><%=
        (@cost_chubu.sum("sales_man + office_worker") + paying15per_chubu)
        .to_s(:delimited) rescue "未入力" 
      %></td>
      <td><%=
        (@cost_kansai.sum("sales_man + office_worker") + paying15per_kansai)
        .to_s(:delimited) rescue "未入力" 
      %></td>
      <td><%=
        (@cost_kanto.sum("sales_man + office_worker") + paying15per_kanto)
        .to_s(:delimited) rescue "未入力" 
      %></td>
      <td><%=
        (@cost_all.sum("sales_man + office_worker") + paying15per_all)
        .to_s(:delimited) rescue "未入力" 
      %></td>

    </tr>
    <tr>
      <th class="profit-th">粗利益</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th class="profit-th">販管費合計</th>
      <% 
        cost_chubu_sum = 
          @cost_chubu.sum("
            sales_man + office_worker + administrator + social_insurance +
            sales_man_cost + office_worker_cost + office + dorm + utility_net_cost +
            bonus_stock + travel_stock + other
          ") + paying15per_chubu
      %>
      <% 
        cost_kansai_sum = 
          @cost_kansai.sum("
            sales_man + office_worker + administrator + social_insurance +
            sales_man_cost + office_worker_cost + office + dorm + utility_net_cost +
            bonus_stock + travel_stock + other
          ") + paying15per_kansai
      %>
      <% 
        cost_kanto_sum = 
          @cost_kansai.sum("
            sales_man + office_worker + administrator + social_insurance +
            sales_man_cost + office_worker_cost + office + dorm + utility_net_cost +
            bonus_stock + travel_stock + other
          ") + paying15per_kanto
      %>
      <% 
        cost_all_sum = 
          @cost_all.sum("
            sales_man + office_worker + administrator + social_insurance +
            sales_man_cost + office_worker_cost + office + dorm + utility_net_cost +
            bonus_stock + travel_stock + other
          ") + paying15per_all
      %>
      <td><%= cost_chubu_sum.to_s(:delimited) %></td>
      <td><%= cost_kansai_sum.to_s(:delimited) %></td>
      <td><%= cost_kanto_sum.to_s(:delimited) %></td>
      <td><%= cost_all_sum.to_s(:delimited) %></td>
    </tr>
    <tr>
      <th class="profit-th">営業利益</th>
      <td><%= (profit_exp_chubu - cost_chubu_sum).to_s(:delimited) %></td>
      <td><%= (profit_exp_kansai - cost_kansai_sum).to_s(:delimited) %></td>
      <td><%= (profit_exp_kanto - cost_kanto_sum).to_s(:delimited) %></td>
      <td><%= (profit_exp_all - cost_all_sum).to_s(:delimited) %></td>
    </tr>
  <% end %>
  </tbody>
</table>