<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1 class="sub-title">サミットエナジー</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
<div data-scope-path="shared/side_bar">
  <%= render "shared/sidebar" %>
</div>
<div data-scope-path="shares/index">
<div class="main">
<% if current_user.position_sub == "管理" %>
  <%= form_with url: import_summits_path do |f| %>
    <table class="csv-tb">
      <tr>
        <td class="csv-label" >CSV</td>
        <td class=""><%= f.file_field :file, accept: ".csv", class: "input" %></td>
        <td class="result"><%= f.submit  "インポート", class: "result-btn",data: { confirm: 'インポートしますか？',disable_with: "インポート中" } %></td>
        </tr>
      </table>
  <% end %>
<% end %>
      <hr>
  <% if @summits.empty? %>
    <div class="warning"><%= alert %></div>
  <% else %>
      <h1>獲得日：<%= @summits.minimum(:date) %>（<%= days[@summits.minimum(:date).wday] %>）〜<%= @summits.maximum(:date) %>（<%= days[@summits.maximum(:date).wday] %>）</h1>
    <table >
      <tr>
        <th class="search-th">獲得数</th>
        <th class="search-th">書類提出待ち</th>
        <th class="search-th">審査中</th>
        <th class="search-th">審査完了</th>
        <th class="search-th">審査NG</th>
        <th class="search-th">キャンセル</th>
      </tr>
      <tr>
        <td><%= @summits.length %></td>
        <td><%= @summits.where(status: "書類提出待ち").length %></td>
        <td><%= @summits.where(status: "審査中").length %></td>
        <td><%= @summits.where(status: "審査完了").length %></td>
        <td><%= @summits.where(status: "審査NG").length %></td>
        <td><%= @summits.where(status: "キャンセル").length %></td>
      </tr>
    </table>
    <table class="out-tb">
      <thead>
      <tr>
        <th class="out-th">ID</th>
        <th class="out-th">店舗名</th>
        <th class="out-th">店舗番号</th>
        <th class="out-th"><%= sort_link(@q, :date, "獲得日",{}, {class: "reset-link"}) %></th>
        <th class="out-th">獲得者</th>
        <th class="out-th">審査ステータス</th>
        <th class="out-th">書類提出期限</th>
        <th class="out-th">審査完了日</th>
        <th class="out-th">iPad申込区分</th>
        <th class="out-th">書類フォロー</th>
        <th class="out-th">配送ステータス</th>
        <th class="out-th">アクティベート日</th>
        <th class="out-th">詳細</th>
      </tr>
      </thead>
      <tbody>
      <% @summits_data.each do |summit| %>
      <tr >
        <td class="out-td"><%= summit.id %></td>
        <td class="out-td"><%= summit.customer_num %></td>
        <td class="out-td"><%= summit.store_prop.name %></td>
        <td class="out-td"><%= summit.date %></td>
        <td class="out-td"><%= summit.user.name %></td>
        <td class="out-td"><%= summit.status %></td>
        <td class="out-td"><%= summit.doc_deadline %></td>
        <td class="out-td"><%= summit.result_point %></td>
        <td class="out-td"><%= summit.ipad_flag %></td>
        <td class="out-td"><%= summit.doc_follow %></td>
        <td class="out-td"><%= summit.delivery_status %></td>
        <td class="out-td"><%= summit.activate %></td>
        <td class="out-td"><%= link_to "詳細", summit_path(summit.id),class: "link" %></td>
      <% end %>
      </tbody>
    </table>
  <div class="kaminari-page">
    <%= paginate @summits_data %>
  </div>
  <% end %>
  </div>
  </div>
</div>