<div data-scope-path="summits/index">
  <h1>サミットエナジー一覧</h1>
  <%= render "shared/header" %>
    <%= search_form_for @q do |f| %>
    <table>
      <tr>
        <th class="search1">獲得日付</th>
        <td><%= f.date_field :get_date_gteq, class: "input" %>~</td>
        <td><%= f.date_field :get_date_lteq, class: "input" %></td>
        <th class="search1">利用開始</th>
        <td><%= f.date_field :start_gteq, class: "input" %>~</td>
        <td><%= f.date_field :start_lteq, class: "input" %></td>
      </tr>
    </table>
    <table>
      <tr>
        <th class="search1">電力会社</th>
        <th class="search1">獲得者</th>
        <th class="search1">審査ステータス</th>
        <th class="search1">契約種別</th>
        <td class="result"><%= f.submit "絞込み" , class: "result-btn" %></td>
      </tr>
      <tr>
        <td><%= f.select :power_company_eq, options_from_collection_for_select(Summit.select(:power_company).distinct, :power_company, :power_company), {include_blank: true},{class: "input"} %></td>
        <td><%= f.select :user_id_eq, options_from_collection_for_select(User.joins(:summits).where.not(base: "退職").distinct, :id, :name), {prompt: "全体"},{class: "input"} %></td>
        <td><%= f.select :status_eq, options_from_collection_for_select(Summit.select(:status).distinct, :status, :status), {include_blank: true} ,{class: "input"} %></td>
        <td><%= f.select :contract_type_eq, options_from_collection_for_select(Summit.select(:contract_type).distinct, :contract_type, :contract_type), {include_blank: true} ,{class: "input"} %></td>
        <td class="reset"><%= link_to "絞込みリセット", summits_path, class: "reset-link" %></td>
      </tr>
    </table>
    <% end %>
    <hr>
  <% if @summits.empty? %>
  <% if @amount_month.empty? %>
  <% else %>

    <h1>サミット全体獲得詳細</h1>
    <h1>月間平均</h1>
    <table>
      <tr>
          <th></th>
        <% @amount_month.each do |amount| %>
          <th><%= amount[0][0] %>年<%= amount[0][1] %>月</td>
        <% end %>
      </tr>        

      <tr>
          <th>従量電灯</th>
          <% @metered_month.each do |metered| %>
            <td><%= metered[1] %>kVA</td>
          <% end %>
      </tr>

      <tr>
          <th>低圧電力</th>
        <% @low_voltage_month.each do |low_voltage| %>
          <td><%= low_voltage[1] %>kW</td>
        <% end %>
      </tr>


      <tr>
          <th>使用量</th>
        <% @amount_month.each do |amount| %>
          <td><%= amount[1] %>kWh</td>
        <% end %>
      </tr>
    </table>

    <h2>入金</h2>
    <table>
      <tr>
        <th></th>
        <% Summit.group("YEAR(start)").group("MONTH(start)").where.not(start: nil).each do |summit| %>
        <th>
          <%= summit.start.year %>年<%= summit.start.month + 1 %>月
        </th>
        <% end %>
      </tr>
      <tr>
        <% low_voltage_profit_expected = [] %>
        <th>低圧電力入金予定</th>
        <% @low_voltage_profit_expected.each do |amount| %>
          <% low_voltage_profit_expected << [amount[0],(amount[1] * 0.02 / 12).round] %>
          <td><%= (amount[1] * 0.02 / 12).round %>円</td>
        <% end %>
      </tr>
      <tr>
        <th>低圧電力入金額</th>
        <td></td>
      </tr>
      <tr>
        <% metered_profit_expected = [] %>
        <th>従量電灯入金予定</th>
        <% @metered_profit_expected.each do |amount| %>
          <% metered_profit_expected << [amount[0],(amount[1] * 0.07 / 12).round] %>
          <td><%= (amount[1] * 0.07 / 12).round %>円</td>
        <% end %>
      </tr>
      <tr>
        <th>従量電灯入金額</th>
        <td></td>
      </tr>

        

          
      
    </table>

  <h2>月毎の各電力の平均容量</h2>
  <%= column_chart @chart %>
  <h2>月毎の各電力>の平均使用量</h2>
  <%= area_chart @amount_chart %>
  <h2>月毎の請求予測額</h2>
  <%= line_chart [
    { name: "予測請求額(従量電灯)",data: metered_profit_expected },
    { name: "予測請求額(低圧電力)",data: low_voltage_profit_expected }
  ] %>
<% end %>
  <% else %>
    <% low_voltage_sum = 0 %>
    <% lamp_sum = 0 %>
    <% amount_sum = 0 %>
    <% low_voltage_count = 0 %>
    <% lamp_count = 0 %>
    <% amount_count = 0 %>
    <% @summits.each do |summit| %>
      <% if summit.contract_type == "低圧電力" && summit.contract_cap != nil %>
        <% low_voltage_sum += summit.contract_cap %>
        <% low_voltage_count += 1 %>
      <% elsif summit.contract_type != "低圧電力" && summit.contract_cap != nil %>
        <% lamp_sum += summit.contract_cap %>
        <% lamp_count += 1 %>
      <% end %>
      <% if summit.amount_use != nil %>
      <% amount_sum += summit.amount_use %>
      <% amount_count += 1 %>
      <% end %>
    <% end %>
    
      <h1>表示範囲：<%= @summits.minimum(:get_date) %>〜<%= @summits.maximum(:get_date) %></h2>
    <table>
      <tr>
        <th class="search1">契約数</th>
        <th class="search1">従量電灯合計</th>
        <th class="search1">低圧電力合計</th>
        <th class="search1">使用量合計</th>
      </tr>
      <tr>
        <td><%= @summits.length  %>件</td>
        <td><%= lamp_sum %>kWh</td>
        <td><%= low_voltage_sum %>kW</td>
        <td><%= amount_sum %>kWh</td>
        
      </tr>
      <tr>
        <th class="search1"></th>
        <th class="search1">従量電灯平均</th>
        <th class="search1">低圧電力平均</th>
        <th class="search1">使用量平均</th>
      </tr>
      <tr>
        <td></td>
        <% if lamp_count == 0 %>
        <td>0kWh</td>
        <% else %>
        <td><%= lamp_sum / lamp_count %>kWh</td>
        <% end %>
        <% if low_voltage_count == 0 %>
        <td>0kW</td>
        <% else %>
        <td><%= low_voltage_sum / low_voltage_count %>kW</td>
        <% end %>
        <% if amount_count == 0 %>
        <td>0kWh</td>
        <% else %>
        <td><%= amount_sum / amount_count %>kWh</td>
        <% end %>
        <td><%= link_to "月毎のデータ", summit_customer_props_path, class: "reset-link" %></td>
      </tr>
    </table>

    <table>
    <tr>
      <th></th>
      <th></th>
      <th><%= sort_link(@q, :get_date, "獲得日",{},{class: "reset-link"}) %></th>
      <th><%= sort_link(@q, :start, "利用開始日",{},{class: "reset-link"}) %></th>
      <th>電力会社</th>
      <th>店舗名</th>
      <th>契約種別</th>
      <th>契約容量</th>
      <th>使用量</th>
      <th><%= sort_link(@q, :user_id,"獲得者",{},{class: "reset-link"}) %></th>
      <th>審査ステータス</th>
    </tr>
    <% @summits.each do |summit| %>
    <tr>
      <td><%= link_to "削除",  summit_path(summit.id),method: :delete, data: {confirm: "削除しますか？"} ,class: "link" %></td>
      <td><%= link_to "詳細",  summit_customer_prop_path(summit.summit_customer_prop.id) ,class: "link" %></td>
      <td><%= summit.get_date %></td>
      <td><%= summit.start %></td>
      <td><%= summit.power_company %></td>
      <td><%= summit.summit_customer_prop.store_prop.name %></td>
      <td><%= summit.contract_type %></td>
      <td><%= summit.contract_cap %><%= summit.contract_cap_unit %></td>
      <td><%= summit.amount_use %>kWh</td>
      <td><%= summit.user.name %></td>
      <td><%= summit.status %></td>
    </tr>
    <% end %>
    </table>
  <% end %>
</div>
  </main>