<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1 class="sub-title">サミットエナジー</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
<div data-scope-path="shared/side_bar">
  <%= render "shared/sidebar" %>
</div>
<div data-scope-path="shares/index">
<div class="main">
    <hr>
        <%= render 'shared/summit_links' %>
  <h2>
    <%= link_to "<<",sw_error_summits_path(month: @month.ago(1.month)), class:"link" %>
    <%= @month.month %>月サミットSWエラー一覧
    <%= link_to ">>",sw_error_summits_path(month: @month.since(1.month)), class:"link" %>
  </h2>
    <table class="out-tb">
      <thead>
      <tr>
        <th class="out-th">No</th>
        <th class="out-th">連携</th>
        <th class="out-th">レコード番号</th>
        <th class="out-th">店舗名</th>
        <th class="out-th">獲得日</th>
        <th class="out-th">獲得者</th>
        <th class="out-th">ステータス</th>
        <th class="out-th">エラー内容</th>
        <th class="out-th">備考</th>
        <th class="out-th">詳細</th>
      </tr>
      </thead>
      <tbody>
      <% @sw_errors.order(:user_id).each_with_index do |summit,i| %>
      <tr >
        <td class="out-td"><%= i + 1 %></td>
        <% if summit.summit_client.present? %>
        <td class="out-td">連携済</td>
        <% else %>
        <% if current_user.name == "管理用" %>
        <td class="out-td"><%= link_to "未連携", summit_path(summit.id), method: :delete,data: { confirm: "#{summit.store_prop.name}の自社サミット情報を削除してもよろしいですか？" } ,class: "link","data-turbolinks": false %></td>
        <% else %>
        <td class="out-td b-red">未連携</td>
        <% end  %>
        <% end %>
        <td class="out-td"><%= summit.record_num %></td>
        <td class="out-td"><%= summit.store_prop.name %></td>
        <td class="out-td"><%= summit.date %></td>
        <td class="out-td"><%= summit.user.name %></td>
        <td class="out-td"><%= summit.summit_client.start_status rescue "" %></td>
        <td class="out-td"><%= summit.summit_client.error_contents rescue "" %></td>
        <td class="remarks-td"><%= summit.summit_client.remarks rescue "" %></td>
        <td class="out-td"><%= link_to "詳細", summit_path(summit.id),class: "link","data-turbolinks": false %></td>
      <% end %>
      </tbody>
    </table>
  <div class="kaminari-page">
  </div>
  </div>
  </div>
</div>