<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>帯同結果</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div class="main">
    <div data-scope-path="results/ojt">
    <h2>◆<%= @ojt_date.user.name %> 日々進捗（帯同者 <%= @ojt_date.ojt.name %>）</h2>
    <table class="date-tb">
      <thead class="date-thead">
        <tr>
            <th class="date-th"><span class="date-span">日付</span></th>
            <th class="date-th"><span class="date-span">曜日</span></th>
            <th class="date-th"><span class="date-span">帯同者</span></th>
            <th class="date-th"><span class="date-span">地域</span></th>
            <th class="date-th"><span class="date-span">訪問</span></th>
            <th class="date-th"><span class="date-span">応答</span></th>
            <th class="date-th"><span class="date-span">対面</span></th>
            <th class="date-th"><span class="date-span">フル</span></th>
            <th class="date-th"><span class="date-span">成約</span></th>
            <th class="date-th"><span class="date-span">dメル</span></th>
            <th class="date-th"><span class="date-span">auPay</span></th>
            <th class="date-th"><span class="date-span">楽天ペイ</span></th>
            <th class="date-th"><span class="date-span">AirPay</span></th>
        </tr>
      </thead>
      <tbody>
      <% before_dmer = 0 %>
      <% before_aupay = 0 %>
      <% before_rakuten_pay = 0 %>
      <% before_airpay = 0 %>
      <% after_dmer = 0 %>
      <% after_aupay = 0 %>
      <% after_rakuten_pay = 0 %>
      <% after_airpay = 0 %>
      <% @ojt_before.each do |ojt| %>
        <tr class="date-tr">
          <th class="date-th"><span class="date-span"><%= ojt.date.month %>月<%= ojt.date.day %>日</span></th>
          <th class="date-th"><span class="date-span"><%= days[ojt.date.wday] %></span></th>
          <td class="date-td"><span class="date-span"><%= ojt.ojt.name rescue "" %></span></td>
          <td class="date-td"><span class="date-span"><%= ojt.area %></span></td>
          <td class="date-td"><span class="date-span"><%= ojt.first_total_visit.to_i + ojt.latter_total_visit.to_i %></span></td>
          <td class="date-td"><span class="date-span"><%= ojt.first_visit + ojt.latter_visit rescue 0 %></span></td>
          <td class="date-td"><span class="date-span"><%= ojt.first_interview + ojt.latter_interview rescue 0 %></span></td>
          <td class="date-td"><span class="date-span"><%= ojt.first_full_talk + ojt.latter_full_talk rescue 0 %></span></td>
          <td class="date-td"><span class="date-span"><%= ojt.first_get + ojt.latter_get rescue 0 %></span></td>
          <td class="date-td"><span class="date-span"><%= ojt.result_cash.dmer rescue 0 %></span></td>
          <td class="date-td"><span class="date-span"><%= ojt.result_cash.aupay rescue 0 %></span></td>
          <td class="date-td"><span class="date-span"><%= ojt.result_cash.rakuten_pay rescue 0 %></span></td>
          <td class="date-td"><span class="date-span"><%= ojt.result_cash.airpay rescue 0 %></span></td>
          <% if ojt.result_cash.present? %>
            <% if ojt.result_cash.dmer.present? %>
            <% before_dmer += ojt.result_cash.dmer  %>
            <% end %>
            <% if ojt.result_cash.aupay.present? %>
            <% before_aupay += ojt.result_cash.aupay  %>
            <% end %>
            <% if ojt.result_cash.rakuten_pay.present? %>
            <% before_rakuten_pay += ojt.result_cash.rakuten_pay %>
            <% end %>
            <% if ojt.result_cash.airpay.present? %>
            <% before_airpay += ojt.result_cash.airpay %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
        <tr class="date-tr">
          <th class="date-th"><span class="date-span"><%= @ojt_date.date.month %>月<%= @ojt_date.date.day %>日</span></th>
          <th class="date-th"><span class="date-span"><%= days[@ojt_date.date.wday] %></span></th>
          <td class="date-td"><span class="date-span"><%= @ojt_date.ojt.name rescue "" %></span></td>
          <td class="date-td"><span class="date-span"><%= @ojt_date.area %></span></td>
          <td class="date-td"><span class="date-span"><%= @ojt_date.first_total_visit.to_i + @ojt_date.latter_total_visit.to_i rescue 0 %></span></td>
          <td class="date-td"><span class="date-span"><%= @ojt_date.first_visit + @ojt_date.latter_visit rescue 0 %></span></td>
          <td class="date-td"><span class="date-span"><%= @ojt_date.first_interview + @ojt_date.latter_interview rescue 0 %></span></td>
          <td class="date-td"><span class="date-span"><%= @ojt_date.first_full_talk + @ojt_date.latter_full_talk rescue 0 %></span></td>
          <td class="date-td"><span class="date-span"><%= @ojt_date.first_get + @ojt_date.latter_get rescue 0 %></span></td>
          <td class="date-td"><span class="date-span"><%= @ojt_date.result_cash.dmer rescue 0 %></span></td>
          <td class="date-td"><span class="date-span"><%= @ojt_date.result_cash.aupay rescue 0 %></span></td>
          <td class="date-td"><span class="date-span"><%= @ojt_date.result_cash.rakuten_pay rescue 0 %></span></td>
          <td class="date-td"><span class="date-span"><%= @ojt_date.result_cash.airpay rescue 0 %></span></td>
        </tr>
      <% @ojt_after.each do |ojt| %>
        <tr class="date-tr">
          <th class="date-th"><span class="date-span"><%= ojt.date.month %>月<%= ojt.date.day %>日</span></th>
          <th class="date-th"><span class="date-span"><%= days[ojt.date.wday] %></span></th>
          <td class="date-td"><span class="date-span"><%= ojt.ojt.name rescue "" %></span></td>
          <td class="date-td"><span class="date-span"><%= ojt.area %></span></td>
          <td class="date-td"><span class="date-span"><%= ojt.first_total_visit + ojt.latter_total_visit rescue 0 %></span></td>
          <td class="date-td"><span class="date-span"><%= ojt.first_visit + ojt.latter_visit rescue 0 %></span></td>
          <td class="date-td"><span class="date-span"><%= ojt.first_interview + ojt.latter_interview rescue 0 %></span></td>
          <td class="date-td"><span class="date-span"><%= ojt.first_full_talk + ojt.latter_full_talk rescue 0 %></span></td>
          <td class="date-td"><span class="date-span"><%= ojt.first_get + ojt.latter_get rescue 0 %></span></td>
          <td class="date-td"><span class="date-span"><%= ojt.result_cash.dmer rescue 0 %></span></td>
          <td class="date-td"><span class="date-span"><%= ojt.result_cash.aupay rescue 0 %></span></td>
          <td class="date-td"><span class="date-span"><%= ojt.result_cash.rakuten_pay rescue 0 %></span></td>
          <td class="date-td"><span class="date-span"><%= ojt.result_cash.airpay rescue 0 %></span></td>
          <% if ojt.result_cash.present? %>
            <% if ojt.result_cash.dmer.present? %>
            <% after_dmer += ojt.result_cash.dmer  %>
            <% end %>
            <% if ojt.result_cash.aupay.present? %>
            <% after_aupay += ojt.result_cash.aupay  %>
            <% end %>
            <% if ojt.result_cash.rakuten_pay.present? %>
            <% after_rakuten_pay += ojt.result_cash.rakuten_pay %>
            <% end %>
            <% if ojt.result_cash.airpay.present? %>
            <% after_airpay += ojt.result_cash.airpay %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
    <h2>◆帯同結果</h2>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>日付</th>
          <th>訪問</th>
          <th>応答</th>
          <th>応答率</th>
          <th>対面</th>
          <th>対面率</th>
          <th>フル</th>
          <th>フル率</th>
          <th>成約</th>
          <th>成約率</th>
          <th>dメル</th>
          <th>auPay</th>
          <th>楽天ペイ</th>
          <th>AirPay</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>帯同日</th>
          <td ><%= @ojt_date.date.month %>月<%= @ojt_date.date.day %>日</td>
          <td ><%= total_visit = @ojt_date.first_total_visit + @ojt_date.latter_total_visit rescue 0 %></td>
          <td ><%= visit = @ojt_date.first_visit + @ojt_date.latter_visit rescue 0 %></td>

          <td ><%= number_to_percentage(visit.to_f / total_visit.to_f * 100,precision: 0) %></td>
          <td ><%= interview = @ojt_date.first_interview + @ojt_date.latter_interview rescue 0 %></td>
          <td ><%= number_to_percentage(interview.to_f / visit.to_f * 100,precision: 0) %></td>
          <td ><%= full_talk = @ojt_date.first_full_talk + @ojt_date.latter_full_talk rescue 0 %></td>
          <td ><%= number_to_percentage(full_talk.to_f / interview.to_f * 100,precision: 0) %></td>
          <td ><%= get = @ojt_date.first_get + @ojt_date.latter_get rescue 0 %></td>
          <td ><%= number_to_percentage(get.to_f / full_talk.to_f * 100,precision: 0) %></td>
          <td ><%= @ojt_date.result_cash.dmer rescue 0 %></td>
          <td ><%= @ojt_date.result_cash.aupay rescue 0 %></td>
          <td ><%= @ojt_date.result_cash.rakuten_pay rescue 0 %></td>
          <td ><%= @ojt_date.result_cash.airpay rescue 0 %></td>
        </tr>
        <% if @ojt_before.present? %>
        <tr>
          <th>帯同前</th>
          <td>
            <%= @ojt_before.first.date.month %>月
            <%= @ojt_before.first.date.day %>日〜
            <%= @ojt_before.last.date.month %>月
            <%= @ojt_before.last.date.day %>日
          </td>
          <td><%= before_total_visit = ((@ojt_before.sum {|hash| hash[:first_total_visit].to_i} + @ojt_before.sum {|hash| hash[:latter_total_visit].to_i}).to_f / @ojt_before.length).round(1) %></td>
          <td><%= before_visit = ((@ojt_before.sum {|hash| hash[:first_visit].to_i} + @ojt_before.sum {|hash| hash[:latter_visit].to_i}).to_f / @ojt_before.length).round(1) %></td>
          <td ><%= number_to_percentage(before_visit.to_f / before_total_visit.to_f * 100,precision: 0) %></td>
          <td><%= before_interview = ((@ojt_before.sum {|hash| hash[:first_interview].to_i} + @ojt_before.sum {|hash| hash[:latter_interview].to_i}).to_f / @ojt_before.length).round(1) %></td>
          <td ><%= number_to_percentage(before_interview.to_f / before_visit.to_f * 100,precision: 0) %></td>
          <td><%= before_full_talk = ((@ojt_before.sum {|hash| hash[:first_full_talk].to_i} + @ojt_before.sum {|hash| hash[:latter_full_talk].to_i}).to_f / @ojt_before.length).round(1) %></td>
          <td ><%= number_to_percentage(before_full_talk.to_f / before_interview.to_f * 100,precision: 0) %></td>
          <td><%= before_get = ((@ojt_before.sum {|hash| hash[:first_get].to_i} + @ojt_before.sum {|hash| hash[:latter_get].to_i}).to_f / @ojt_before.length).round(1) %></td>
          <td ><%= number_to_percentage(before_get.to_f / before_full_talk.to_f * 100,precision: 0) %></td>
          <td><%= (before_dmer.to_f / @ojt_before.length).round(1) %></td>
          <td><%= (before_aupay.to_f / @ojt_before.length).round(1) %></td>
          <td><%= (before_rakuten_pay.to_f / @ojt_before.length).round(1) %></td>
          <td><%= (before_airpay.to_f / @ojt_before.length).round(1) %></td>
        </tr>
        <% end %>
        <% if @ojt_after.present? %>
        <tr>
          <th>帯同後</th>
          <td>
            <%= @ojt_after.first.date.month %>月
            <%= @ojt_after.last.date.day %>日〜
            <%= @ojt_after.first.date.month %>月
            <%= @ojt_after.last.date.day %>日
          </td>
          <% after_total_visit = ((@ojt_after.sum {|hash| hash[:first_total_visit].to_i} + @ojt_after.sum {|hash| hash[:latter_total_visit].to_i}).to_f / @ojt_after.length).round(1) %>
          <% after_visit = ((@ojt_after.sum {|hash| hash[:first_visit].to_i} + @ojt_after.sum {|hash| hash[:latter_visit].to_i}).to_f / @ojt_after.length).round(1) %>
          <% after_interview = ((@ojt_after.sum {|hash| hash[:first_interview].to_i} + @ojt_after.sum {|hash| hash[:latter_interview].to_i}).to_f / @ojt_after.length).round(1) %>
          <% after_full_talk = ((@ojt_after.sum {|hash| hash[:first_full_talk].to_i} + @ojt_after.sum {|hash| hash[:latter_full_talk].to_i}).to_f / @ojt_after.length).round(1) %>
          <% after_get = ((@ojt_after.sum {|hash| hash[:first_get].to_i} + @ojt_after.sum {|hash| hash[:latter_get].to_i}).to_f / @ojt_after.length).round(1) %>
          <% if after_total_visit.to_i >= before_total_visit.to_i %>
          <td style="color: blue;"><%= after_total_visit %></td>
          <% else %>
          <td style="color: red;"><%= after_total_visit %></td>
          <% end %>
          <% if after_visit.to_i >= before_visit.to_i %>
          <td style="color: blue;"><%= after_visit %></td>
          <% else %>
          <td style="color: red;"><%= after_visit %></td>
          <% end %>
          <td ><%= number_to_percentage(after_visit.to_f / after_total_visit.to_f * 100,precision: 0) %></td>
          <% if after_interview.to_i >= before_interview.to_i  %>
          <td style="color: blue;"><%= after_interview %></td>
          <% else %>
          <td style="color: red;"><%= after_interview %></td>
          <% end %>
          
          <td ><%= number_to_percentage(after_interview.to_f / after_visit.to_f * 100,precision: 0) %></td>
          <% if after_full_talk.to_i >= before_full_talk.to_i  %>
          <td style="color: blue;"><%= after_full_talk %></td>
          <% else %>
          <td style="color: red;"><%= after_full_talk %></td>
          <% end %>
          <td ><%= number_to_percentage(after_full_talk.to_f / after_interview.to_f * 100,precision: 0) %></td>
          <% if after_get.to_i >= before_get.to_i %>
          <td style="color: blue;"><%= after_get %></td>
          <% else %>
          <td style="color: red;"><%= after_get %></td>
          <% end %>
          <td ><%= number_to_percentage(after_get.to_f / after_full_talk.to_f * 100,precision: 0) %></td>
          <% if after_dmer.to_i >= before_dmer.to_i %>
          <td style="color: blue;"><%= (after_dmer.to_f / @ojt_after.length).round(1) %></td>
          <% else %>
          <td style="color: red;"><%= (after_dmer.to_f / @ojt_after.length).round(1) %></td>
          <% end %>
          <% if after_aupay.to_i >= before_aupay.to_i %>
          <td style="color: blue;"><%= (after_aupay.to_f / @ojt_after.length).round(1) %></td>
          <% else %>
          <td style="color: red;"><%= (after_aupay.to_f / @ojt_after.length).round(1) %></td>
          <% end %>
          <% if after_rakuten_pay.to_i >= before_rakuten_pay.to_i %>
          <td style="color: blue;"><%= (after_rakuten_pay.to_f / @ojt_after.length).round(1) %></td>
          <% else %>
          <td style="color: red;"><%= (after_rakuten_pay.to_f / @ojt_after.length).round(1) %></td>
          <% end %>
          <% if before_airpay.to_i >= after_airpay.to_i %>
          <td style="color: blue;"><%= (after_airpay.to_f / @ojt_after.length).round(1) %></td>
          <% else %>
          <td style="color: red;"><%= (after_airpay.to_f / @ojt_after.length).round(1) %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
