<div data-scope-path="rakuten_casas/index">
  <h1>楽天カーサ一覧</h1>
  <%= render "shared/header" %>

        <%= search_form_for @q do |f| %>
      <table>
        <tr>
          <th class="search1">獲得日付</th>
          <td><%= f.date_field :date_gteq, class: "input" %>~</td>
          <td><%= f.date_field :date_lteq, class: "input" %></td>
        </tr>
      </table>
      <table>
        <tr>
          <th class="search1">獲得者</th>
          <th class="search1">審査ステータス</th>

          <td class="result"><%= f.submit "絞込み", class: "result-btn" %></td>
        </tr>
        <tr>
          <td><%= f.text_field :user_name_cont, class: "input" %></td>
          <td><%= f.select :status_eq, options_from_collection_for_select(RakutenCasa.select(:status).distinct,:status, :status),{include_blank: true}, {class: "input"} %></td>
          <td class="reset"><%= link_to "絞込みリセット", rakuten_casas_path, class: "reset-link" %></td>
        </tr>
      </table>
        <% end %>
      <% if @rakuten_casas.empty? %>
      <% else %>

      <hr>
      <table>
        <tr>
          <th class="search1">獲得件数</th>
          <th class="search1">入金済</th>

        </tr>
        <tr>
          <td><%= @rakuten_casas.length %></td>
          <td><%= @rakuten_casas.where.not(payment: nil).length %></td>

        </tr>
      </table>

    <table>
    <tr >
      <th></th>
      <th>お客様番号</th>
      <th>商流</th>
      <th>獲得者</th>
      <th>獲得日</th>
      <th>店舗名</th> 
      <th>審査ステータス</th>
      <th>不備ステータス</th>
      <th>不備対応ボール</th>
      <th>入金日</th>
      <% @rakuten_casas.each do |casa| %>
      <tr >
      <td><%= link_to "詳細",  rakuten_casa_path(casa.id) ,class: "link" %></td>
      <td><%= casa.customer_num %></td>
      <td><%= casa.client %></td>
      <td><%= casa.user.name %></td>
      <td><%= casa.date.month %>月<%= casa.date.day %>日</td>
      <td><%= casa.store_prop.name %></td>
      <td><%= casa.status %></td>
      <td><%= casa.error_status %></td>
      <td><%= casa.error_confirmer %></td>
      <td><%= casa.payment %></td>
      <% end %>
    <% end %>
  </div>
</main>