<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>楽天カーサ一覧</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div data-scope-path="rakuten_casas/index">
  <%= form_with url: import_rakuten_casas_path do |f| %>
    <table class="csv-tb">
      <tr>
        <td class="csv-label" >CSV</td>
        <td class=""><%= f.file_field :file, accept: ".csv", class: "input" %></td>
        <td class="result"><%= f.submit  "インポート", class: "result-btn",data: { confirm: 'インポートしますか？', disable_with: "インポート中" } %></td>
        </tr>
      </table>
    <% end %>
    <p class="nav-text">こちらから確認したい情報を絞り込んでください</p>
        <%= search_form_for @q do |f| %>
      <table>
        <tr>
          <th class="search-th" >獲得日付（始）</th>
          <th class="search-th" >獲得日付（終）</th>
          <th class="search-th">設置日予定（始）</th>
          <th class="search-th">設置日予定（終）</th>
          <th class="search-th">設置日（始）</th>
          <th class="search-th">設置日（終）</th>
        </tr>
        <tr>
          <td><%= f.date_field :date_gteq, class: "input" %></td>
          <td><%= f.date_field :date_lteq, class: "input" %></td>
          <td><%= f.date_field :put_plan_gteq, class: "input" %></td>
          <td><%= f.date_field :put_plan_lteq, class: "input" %></td>
          <td><%= f.date_field :put_gteq, class: "input" %></td>
          <td><%= f.date_field :put_lteq, class: "input" %></td>
        </tr>
      </table>
      <table>
        <tr>
          <th class="search-head" rowspan="2" >検索</th>
          <th class="search-th">FemtoID</th>
          <th class="search-th">店舗名</th>
          <th class="search-th">商流</th>
          <th class="search-th">獲得者</th>
          <th class="search-th">設置者</th>
          <th class="search-th">審査ステータス</th>

          <td class="result"><%= f.submit "絞込み", class: "result-btn",data: {disable_with: "絞り込み中"} %></td>
        </tr>
        <tr>
          <td><%= f.text_field :femto_id_cont, class: "input" %></td>
          <td><%= f.text_field :store_prop_name_cont, class: "input" %></td>
          <td><%= f.select :client_eq, options_from_collection_for_select(RakutenCasa.select(:client).distinct,:client, :client),{include_blank: true}, {class: "input"} %></td>
          <td><%= f.text_field :user_name_cont, class: "input" %></td>
          <td><%= f.text_field :putter_name_cont, class: "input" %></td>
          <td><%= f.select :status_eq, options_from_collection_for_select(RakutenCasa.select(:status).distinct,:status, :status),{include_blank: true}, {class: "input"} %></td>
          <td class="reset"><%= link_to "絞込みリセット", rakuten_casas_path, class: "reset-link" %></td>
        </tr>
      </table>
        <% end %>
      <% if @rakuten_casas.empty? %>
      <div class="warning"><%= alert %></div>
      <h2><%= link_to "<<",rakuten_casas_path(month:@month.prev_month), class:"link" %>
          <%= @month.year %>年<%= @month.month %>月設置状況
          <%= link_to ">>",rakuten_casas_path(month:@month.next_month), class:"link" %>
      </h2>
      <%# 設置数が合わない時に確認ように使用 %>
      <%# @rakuten_casa.where(user: {base: '関西N'}).each do |r| %>
        <%# r.user.name %>
      <%# end %>
        <div class="balloonoya">データ参照
          <span class="balloon">
          設置済数：設置日に入力があるものの合計<br>
          設置予定数：設置予定日の入力があるものの合計<br>
          </span>
        </div>
      <table>
        <tr>
          <th>拠点</th>
          <th colspan="2">中部</th>
          <th colspan="2">関東</th>
          <th colspan="2">関西</th>
          <th >全拠点設置数</th>
        </tr>
        <tr>
          <th>設置済/設置可能件数</th>
          <td colspan="2"><%= @rakuten_casa.where.not(put: nil).where(user: {base: '中部SS'}).length %> / <%= @rakuten_casa.where.not(put_plan: nil).where(user: {base: '中部SS'}).length %></td>
          <td colspan="2"><%= @rakuten_casa.where.not(put: nil).where(user: {base: '関東SS'}).length %> / <%= @rakuten_casa.where.not(put_plan: nil).where(user: {base: '関東SS'}).length %></td>
          <td colspan="2"><%= @rakuten_casa.where.not(put: nil).where(user: {base: '関西SS'}).length %> / <%= @rakuten_casa.where.not(put_plan: nil).where(user: {base: '関西SS'}).length %></td>
          <td colspan="2"> <%= @rakuten_casa.where.not(put: nil).length %> / <%= @rakuten_casa.where.not(put_plan: nil).length %></td>
        </tr>
        <tr>
          <th>設置予定日</th><th>設置予定数</th><th>設置数</th><th>設置予定数</th><th>設置数</th><th>設置予定数</th><th>設置数</th><th>設置数</th>
        </tr>
        <tr>
        <% @rakuten_casa.group(:put_plan).each do |casa| %>
          <th><%= casa.put_plan.month %>月<%= casa.put_plan.day %>日（<%= days[casa.put_plan.wday] %>）</th>
          <td style="opacity:0.5;"><%= casa_chubu_plan = @rakuten_casa.where(put_plan: casa.put_plan).where(user: {base: '中部SS'}).length %></td>
          <td><%= casa_chubu = @rakuten_casa.where(put: casa.put_plan).where(user: {base: '中部SS'}).length %></td>
          <td style="opacity:0.5;"><%= casa_kanto_plan = @rakuten_casa.where(put_plan: casa.put_plan).where(user: {base: '関東SS'}).length %></td>
          <td><%= casa_kanto = @rakuten_casa.where(put: casa.put_plan).where(user: {base: '関東SS'}).length %></td>
          <td style="opacity:0.5;"><%= casa_kansai_plan = @rakuten_casa.where(put_plan: casa.put_plan).where(user: {base: '関西SS'}).length %></td>
          <td><%= casa_kansai = @rakuten_casa.where(put: casa.put_plan).where(user: {base: '関西SS'}).length %></td>
          <% if (casa_chubu + casa_kanto + casa_kansai) < (casa_chubu_plan + casa_kanto_plan + casa_kansai_plan) %>
          <td style="color: red;"><%= casa_chubu + casa_kanto + casa_kansai %></td>
          <% else %>
          <td style="color: blue;"><%= casa_chubu + casa_kanto + casa_kansai %></td>
          <% end %>
        </tr>
        <% end %>
      </table>
      <% else %>
        <div class="balloonoya">データ参照
          <span class="balloon">
          獲得数：全件数の合計<br>
          審査待ち：OSS登録日が入力されていない合計数から各種不備件数を引いた値<br>
          審査通過：OSS登録日が入力されている合計数<br>
          自社不備：ステータス00.情報不足の合計数<br>
          回線不備：07.回線不備+08.回線際チェック中+04-1.回線依頼中(反社完了)の合計数<br>
          反社不備：05.反社不備+06.反社再チェック中+04-2.反社依頼中(回線完了)の合計数<br>
          未設置：設置日が入力されていない案件の数<br>
          設置予定有り：設置予定日が入力されている案件の数<br>
          設置済み：設置日が入力されている案件の数<br>
          残：設置予定有り - 設置済み<br>
          キャンセル：00.キャンセル+00.解消期限切れの合計数<br>
          </span>
        </div>
      <table>
        <tr>
          <th class="search-th">獲得数</th>
          <th class="search-th">審査待ち</th>
          <th class="search-th">審査通過</th>
          <th class="search-th">自社不備数</th>
          <th class="search-th">回線不備数</th>
          <th class="search-th">反社不備数</th>
          <th class="search-th">キャンセル</th>
        </tr>
        <% done_oss = @rakuten_casas.where.not(done_oss: nil).length %>
        <% not_done_oss = @rakuten_casas.where(done_oss: nil).length %>
        <% cancel = @rakuten_casas.where(status: "00.キャンセル").length + @rakuten_casas.where(status: "00.解消期限切れ").length %>
        <% deficiency = @rakuten_casas.where(status: "00.情報不足").length %>
        <% deficiency_net = @rakuten_casas.where(status: "07.回線不備").length +
          @rakuten_casas.where(status: "08.回線再チェック中").length + 
          @rakuten_casas.where(status: "04-1.回線依頼中(反社完了)").length %>
        <% deficiency_anti = @rakuten_casas.where(status: "05.反社不備").length +
          @rakuten_casas.where(status: "06.反社再チェック中").length + 
          @rakuten_casas.where(status: "04-2.反社依頼中(回線完了)").length  %>
        <tr>
          <td class="search-td"><%= @rakuten_casas.length %></td>
          <td class="search-td"><%= not_done_oss - cancel - deficiency - deficiency_net - deficiency_anti %></td>
          <td class="search-td"><%= done_oss %></td>
          <td class="search-td"><%= deficiency %></td>
          <td class="search-td"><%= deficiency_net %></td>
          <td class="search-td"><%= deficiency_anti %></td>
          <td class="search-td"><%= cancel %></td>
        </tr>
        <tr>
          <th>設置予定有り</th>
          <th>設置済み</th>
          <th>設置予定残</th>
        </tr>
        <tr>
          <td><%= @rakuten_casas.where.not(put_plan: nil).length %></td>
          <td><%= @rakuten_casas.where.not(putter_id: nil).length %></td>
          <td><%= @rakuten_casas.where.not(put_plan: nil).length - @rakuten_casas.where.not(putter_id: nil).length %></td>
        </tr>
      </table>
      <hr>
    <table>
    <tr>
      <th>ID</th>
      <th></th>
      <th>FemtoID</th>
      <th>商流</th>
      <th>獲得者</th>
      <th><%= sort_link(@q, :date, "獲得日", {},{class: "reset-link"}) %></th>
      <th>店舗名</th> 
      <th>現状ステータス</th>
      <th>ステータス更新日</th>
      <th>OSS登録日</th>
      <th>端末到着日</th>
      <th>設置者</th>
      <th><%= sort_link(@q, :put_plan, "設置予定日", {},{class: "reset-link"}) %></th>
      <th>設置日</th>
      <th>入金日</th>
      <% @rakuten_casas.each do |casa| %>
      <tr >
      <td><%= casa.id %></td>
      <td><%= link_to "詳細",  rakuten_casa_path(casa.id) ,class: "link" %></td>
      <td><%= casa.femto_id %></td>
      <td><%= casa.client %></td>
      <td><%= casa.user.name %></td>
      <td><%= casa.date.month %>月<%= casa.date.day %>日</td>
      <td><%= casa.store_prop.name %></td>
      <td><%= casa.status %></td>
      <td><%= casa.status_update %></td>
      <td><%= casa.done_oss %></td>
      <td><%= casa.arrival %></td>
      <td><%= casa.putter.name if casa.putter_id.present? %></td>
      <td><%= casa.put_plan %></td>
      <td><%= casa.put %></td>
      <td><%= casa.payment %></td>
      <% end %>
    <% end %>
  </div>
</div>