<div data-scope-path="rakuten_casas/new">
  <h1><%= @store_prop.name %>情報入力（楽天カーサ）</h1>
<%= render "shared/header" %>
  <%= form_with url: import_rakuten_casas_path do |f| %>
      <table>
        <tr>
          <th class="csv"><%= f.label :file, "CSV取り込み",class:"csv-text" %></th>
          <td class="csv-td"><%= f.file_field :file, accept: ".csv", class: "csv-text" %></td>
          <td class="result"><%= f.submit  "インポート", class: "result-btn",data: { confirm: 'インポートしますか？' } %></td>
        <td class="reset"><%= link_to "楽天カーサ一覧に戻る", rakuten_casas_path ,class: "reset-link" %></td>
        </tr>
      </table>
    <% end %>

  <%= form_with model: @rakuten_casa,url:  store_prop_rakuten_casas_create_path(@store_prop.id),  class: "form-frame", local: true do |f| %>
      <%= render "shared/error_messages", model: f.object %>
      <%= f.hidden_field :store_prop_id, value: @store_prop.id %>
  <table>
  <%# 一列目ラベル %>
    <tr>
    <th><%= f.label :femto_id, "femto ID", class: "form-text" %></th>
    <th><%= f.label :client, "商流", class: "form-text" %></th>  
    <th><%= f.label :date, "獲得日", class: "form-text" %></th>
    <th><%= f.label :user_id, "獲得者ID", class: "form-text" %></th>
      
    </tr>
  <%# 一列目値 %>
    <tr>
      <td><%= f.text_field :femto_id , class: "form-input" %></td>
      <td><%= f.select :client, {"USEN": "USEN"} ,{}, {class: "form-input"} %></td>
      <td><%= f.date_field :date , class: "form-input" %></td>
      <td><%= f.number_field :user_id, class: "form-input" %></td>
    </tr>
  <%# 二列目ラベル %>
    <tr>
      <th><%= f.label :confirm_method, "回線確認方法", class: "form-text" %></th>
      <th><%= f.label :line_type, "回線事業者", class: "form-text" %></th>
      <th><%= f.label :hikari_collabo, "光コラボ", class: "form-text" %></th>
      <th><%= f.label :line_service, "回線サービス名", class: "form-text" %></th>
    </tr>
  <%# 二列目値 %>
    <tr>
      <td><%= f.select :confirm_method, {"開通案内": "開通案内","マイページ": "マイページ", "請求書": "請求書","その他": "その他" } ,{}, {class: "form-input"} %></td>
      <td><%= f.text_field :line_type ,class: "form-input" %></td>
      <td><%= f.text_field :hikari_collabo ,class: "form-input" %></td>
      <td><%= f.text_field :line_service ,class: "form-input" %></td>
    </tr>
  <%# 三列目ラベル %>
    <tr>
      <th><%= f.label :customer_num, "お客様番号", class: "form-text" %></th>
      <th><%= f.label :contracter, "契約者確認", class: "form-text" %></th>
      <th><%= f.label :femto_id, "Femto ID", class: "form-text" %></th>
      <th><%= f.label :status, "ステータス", class: "form-text" %></th>
    </tr>
  <%# 三列目値 %>
    <tr>
      <td><%= f.text_field :customer_num ,class: "form-input" %></td>
      <td><%= f.select :contracter, {"法人名": "法人名", "代表者名": "代表者名", "担当者名": "担当者名","その他": "その他"},{},{class: "form-input"} %></td>
      <td><%= f.text_field :femto_id, class: "form-input" %></td>
      <td><%= f.text_field :status, class: "form-input" %></td>
    </tr>
  <%# 四列目ラベル %>
    <tr>
      <th><%= f.label :error_status, "不備ステータス", class: "form-text" %></th>
      <th><%= f.label :error_confirmer, "不備対応者", class: "form-text" %></th>
      <th><%= f.label :payment, "入金日", class: "form-text" %></th>
    </tr>
  <%# 四列目値 %>
    <tr>
      <td><%= f.select :error_status, { "010:回線ID相違": "010:回線ID相違", "020:名義相違": "020:名義相違", "030:設置場所相違": "030:設置場所相違", "040:名義・設置場所相違": "040:名義・設置場所相違", "150:その他相違": "150:その他相違", "050:特定不可": "050:特定不可", "060:照合NG": "060:照合NG","070:照合NG(開通前)": "070:照合NG(開通前)","080:照合NG（タイプ対象外）": "080:照合NG（タイプ対象外）"}, {include_blank: true}, {class: "form-input"} %></td>
      <td><%= f.select :error_confirmer, {"営業": "営業", "管理": "管理", "クライアント": "クライアント"}, {include_blank: true} ,{class: "form-input"} %></td>
      <td><%= f.date_field :payment, class: "form-input" %></td>
    </tr>
  <%# 五列目ラベル %>
    <tr>
      <th><%= f.label :valuation_profit, "評価売上", class: "form-text" %></th>
      <th><%= f.label :actual_profit, "実売上", class: "form-text" %></th>
      <th><%= f.label :remarks, "備考", class: "form-text" %></th>
    </tr>
  <%# 五列目値 %>
    <tr>
      <td><%= f.number_field :valuation_profit , class: "form-input" %></td>
      <td><%= f.number_field :actual_profit , class: "form-input" %></td>
      <td><%= f.text_field :remarks, class: "form-input" %></td>
    </tr>
  </table>
    <%= f.submit "登録", class: "submit-btn" %>
  <% end %>
</div>








    




