<%# 個別実売基準値 %>
<script>
  window.chubu_base=<%= @chubu_cash_list.to_json.html_safe %>;
  window.kansai_base=<%= @kansai_cash_list.to_json.html_safe %>;
  window.kanto_base=<%= @kanto_cash_list.to_json.html_safe %>;
  window.femto_base=<%= @femto_list.to_json.html_safe %>;
  window.summit_base=<%= @summit_list.to_json.html_safe %>;
  window.partner_base=<%= @partner_cash_list.to_json.html_safe %>;
  window.retire_base=<%= @retire_list.to_json.html_safe %>;
  window.all_base=<%= @all_list.to_json.html_safe %>;
</script>
<h2>合計実売
<% shifts_prev_len = @shifts.where(start_time: @start_date..Date.today.ago(1.days)).length %>
<% results_prev_len = @results.where(date: @start_date..Date.today.ago(1.days)).length %>
<% if shifts_prev_len == results_prev_len %>
  <span class="shift-text">（<%= Date.today.ago(1.days).strftime("%m月%d日") %>までの予定シフト数<%= shifts_prev_len %>, 消化シフト, <%= results_prev_len %>）</span>
<% else %>
  <span class="shift-text red">（<%= Date.today.ago(1.days).strftime("%m月%d日") %>までの予定シフト数<%= shifts_prev_len %>, 消化シフト, <%= results_prev_len %>）</span>
<% end %>
</h2>
<table>
  <tr>
    <th>拠点</th>
    <th>実売Ave</th>
    <th>現状実売</th>
    <th>終着実売</th>
    <th>dメル最終更新日</th>
    <th>auPay最終更新日</th>
    <th>PayPay最終更新日</th>
    <th>楽天ペイ最終更新日</th>
  </tr>
  <% all_ave = 0 %>
  <%# 中身確認 %>
  <%# @chubu_cash_list[4] %>
  <% @base_list.each do |base| %>
  <% base_fin = base.sum { |hash| hash["合計終着"] } rescue 0 %>
  <% base_shift = base.sum { |hash| hash["予定シフト"] } rescue 0 %>
  <% base_ave = (base_fin.to_f / base_shift).round() rescue 0 %>
  <% if (base[0]["拠点"] == "中部SS") || (base[0]["拠点"] == "関西SS") || (base[0]["拠点"] == "関東SS") %>
  <% all_ave += base_ave %>
  <% end %>
  <tr>
    <td><%= base[0]["拠点"] %></td>
    <td><%= base_ave.to_s(:delimited) rescue 0 %></td>
    <td><%= (base.sum { |hash| hash["合計現状売上"] }).to_s(:delimited) rescue "" %></td>
    <td><%= base_fin.to_s(:delimited) rescue 0 %></td>
    <% if (base[0]["拠点"] == "フェムト") || (base[0]["拠点"] == "サミット") %>
    <td><%= Dmer.includes(:user).where(user: {base_sub: base[0]["拠点"]}).maximum(:status_update).strftime("%m月%d日") rescue "" %></td>
    <td><%= Aupay.includes(:user).where(user: {base_sub: base[0]["拠点"]}).maximum(:status_update).strftime("%m月%d日") rescue "" %></td>
    <td><%= Paypay.includes(:user).where(user: {base_sub: base[0]["拠点"]}).maximum(:status_update).strftime("%m月%d日") rescue "" %></td>
    <td><%= RakutenPay.includes(:user).where(user: {base_sub: base[0]["拠点"]}).maximum(:status_update).strftime("%m月%d日") rescue "" %></td>
    <% else %>
    <td><%= Dmer.includes(:user).where(user: {base: base[0]["拠点"]}).maximum(:status_update).strftime("%m月%d日") rescue "" %></td>
    <td><%= Aupay.includes(:user).where(user: {base: base[0]["拠点"]}).maximum(:status_update).strftime("%m月%d日") rescue "" %></td>
    <td><%= Paypay.includes(:user).where(user: {base: base[0]["拠点"]}).maximum(:status_update).strftime("%m月%d日") rescue "" %></td>
    <td><%= RakutenPay.includes(:user).where(user: {base: base[0]["拠点"]}).maximum(:status_update).strftime("%m月%d日") rescue "" %></td>
    <% end %>
  </tr>
  <% end %>
  <tr>
    <td>全拠点</td>
    <td><%= (all_ave / 3).round().to_s(:delimited) rescue 0 %></td>
    <td><%= @all_list.sum { |hash| hash["合計現状売上"] } %></td>
    <td><%= @all_list.sum { |hash| hash["合計終着"] } %></td>
    <td><%= Dmer.maximum(:status_update).strftime("%m月%d日") rescue 0 %></td>
    <td><%= Aupay.maximum(:status_update).strftime("%m月%d日") rescue 0 %></td>
    <td><%= Paypay.maximum(:status_update).strftime("%m月%d日") rescue 0 %></td>
    <td><%= RakutenPay.maximum(:status_update).strftime("%m月%d日") rescue 0 %></td>
  </tr>
</table>
<div>
  <%= javascript_pack_tag 'profit_person' %>
  <%= stylesheet_pack_tag 'profit_person' %>
</div>
