<%= render "shared/header" %>

<div class="main">
  <%= render "shared/side_bar" %>
  <main class="right-bar">
    <h1 class="sub-title">フードパンダ一覧</h1>
  <div class="search-body">
    <label class="search-label"><%= Date.today.month %>月獲得数</label>
    <label class="search-label"><%= Panda.all.where(get_date: Time.now.beginning_of_month..Time.now.end_of_month).length %>件</label>
    <%= search_form_for @q do |f| %>
      <div class="search-form">
      <%= f.label :user_id, "獲得者", class: "search-label" %>
      <%= f.select :user_id_eq, options_from_collection_for_select(User.all, :id, :name), {prompt: "なし"},{class: "search-input"} %>
      <%= f.label :get_date, "獲得日付" %>
      <%= f.date_field :get_date_gteq, class: "search-date" %>
      <%= f.label :get_date, "〜", class: "search-label" %>
      <%= f.date_field :get_date_lt, class: "search-date" %>
      <%= f.label :status, "審査ステータス" %>
      <%= f.select :status, options_from_collection_for_select(Panda.all, :status, :status), {include_blank: true} ,{class: "search-date"} %>
      <%= f.submit "検索" %>
      <label><%= link_to "検索リセット", pandas_path, class: "reset-link" %></label>
      </div>
    <% end %>
  </div>
  <div class="csv">
  <button class="header-btn">
    <%= link_to "新規店舗登録", new_store_prop_path, class: "btn-text" %>
  </button>
  </div>
  
 
  
    <table class="table">
    <tr class="table-row">
      <th class="thead"></th>
      <th class="thead"><%= sort_link(@q, :get_date, "獲得日") %></th>
      <th class="thead">法人/個人</th>
      <th class="thead">店舗名</th>
    </tr>
    <% @pandas.each do |panda| %>
    <tr class="table-row">
      <td class="tdata"><%= link_to "詳細",  panda_path(panda.id) ,class: "link" %></td>
      <td class="tdata"><%= panda.get_date %></td>
      <td class="tdata"><%= panda.store_prop.race %></td>
      <td class="tdata"><%= panda.store_prop.name %></td>
    </tr>
    <% end %>
    </table>
</div>
  </main>
