<div data-scope-path="pandas/new">
  <h1><%= @store_prop.name %>情報入力（フードパンダ）</h1>
  <%= render "shared/header" %>
      
  <%= form_with url: import_pandas_path do |f| %>
    <table>
      <tr>
        <th class="csv"><label>CSV取り込み</label></th>
        <td class="csv-td"><%= f.file_field :file, accept: ".csv", class: "csv-text" %></td>
        <td class="result"><%= f.submit  "インポート", class: "result-btn",data: { confirm: 'インポートしますか？' } %></td>
      <td class="reset"><%= link_to "パンダ一覧に戻る", pandas_path ,class: "reset-link" %></td>
      </tr>
    </table>
    <% end %>

  <%= form_with model: @panda,url:  store_prop_pandas_create_path(@store_prop.id),  class: "form-frame", local: true do |f| %>
      <%= render "shared/error_messages", model: f.object %>
      <%= f.hidden_field :store_prop_id, value: @store_prop.id %>
    <table>
    <%# 一行目ラベル %>
      <tr>
        <th><%= f.label :grid_id, "Grid ID", class: "form-text" %></th>
        <th><%= f.label :client, "商流", class: "form-text" %></th>
        <th><%= f.label :food_category, "料理区分", class: "form-text" %></th>
        <th><%= f.label :ghost_flag, "ゴースト店名", class: "form-text" %></th>
      </tr>
    <%# 一行目値 %>
      <tr>
        <td><%= f.text_field :grid_id , class: "form-input" %></td>
        <td><%= f.select :client, {"Delivery Hero Japan(株)": "Delivery Hero Japan(株)"} ,{}, {class: "form-input"} %></td>
        <td><%= f.select :food_category, {"中華料理": "中華料理", "韓国料理": "韓国料理", "台湾料理": "台湾料理", "和食料理": "和食料理","インド料理": "インド料理", "タイ料理": "タイ料理", "西洋料理": "西洋料理", "アジア料理": "アジア料理", "アメリカ料理": "アメリカ料理","イタリア料理": "イタリア料理","フランス料理": "フランス料理","ベトナム料理": "ベトナム料理", "ハンバーガー": "ハンバーガー", "ピザ": "ピザ", "サンドイッチ": "サンドイッチ","チキン": "チキン","海鮮料理": "海鮮料理", "ベジタリアン": "ベジタリアン", "健康食品": "健康食品", "ケーキ・パン": "ケーキ・パン", "ドリンク": "ドリンク", "その他海外料理": "その他海外料理" } , {}, {class: "form-input"} %></td>
        <td><%= f.text_field :ghost_flag,  class: "form-input" %></td>
      </tr>
        
    <%# 二行目ラベル %>
      <tr>
        <th><%= f.label :get_date, "獲得日", class: "form-text" %></th>
        <th><%= f.label :user_id, "獲得者", class: "form-text" %></th>
        <th><%= f.label :status, "ステータス", class: "form-text" %></th>
        <th></th>
      </tr>
    <%# 二行目値 %>
      <tr>
        <td><%= f.date_field :get_date , class: "form-input" %></td>
        <td><%= f.collection_select(:user_id, User.where(base_sub: "キャッシュ・パンダ"), :id, :name,{}, {class: "form-input"})%></td>
        <td><%= f.select :status, {"未申請": "未申請","情報不備": "情報不備", "リード作成待ち": "リード作成待ち",
          "リード変更待ち": "リード変更待ち","取引先変更待ち": "取引先変更待ち","DocuSign送付待ち": "DocuSign送付待ち",
          "DocuSign締結待ち　不備": "DocuSign締結待ち　不備", "DocuSign締結待ち": "DocuSign締結待ち",
          "品質チェック待ち　不備": "品質チェック待ち　不備","品質チェック待ち": "品質チェック待ち",
          "端末配送待ち　不備": "端末配送待ち　不備","端末配送待ち": "端末配送待ち", "トレーニング待ち　不備": "トレーニング待ち　不備",
          "トレーニング待ち": "トレーニング待ち","掲載開始待ち": "掲載開始待ち",
          "入金待ち": "入金待ち", "入金済": "入金済"} ,{}, {class: "form-input"} %></td>
        <td></td>
      </tr>
    <%# 三行目ラベル %>
      <tr>
        <th><%= f.label :docu_sign_send, "ドキュサイン送付", class: "form-text" %></th>
        <th><%= f.label :docu_sign_done, "ドキュサイン完了日", class: "form-text" %></th>
        <th><%= f.label :quality_check, "品質チェック日", class: "form-text" %></th>
        <th><%= f.label :delivery_arrangements, "配送手配完了日", class: "form-text" %></th>
        <th><%= f.label :traning, "トレーニング完了日", class: "form-text" %></th>
      </tr>
    <%# 三行目値 %>
      <tr>
        <td><%= f.date_field :docu_sign_send ,class: "form-input" %></td>
        <td><%= f.date_field :docu_sign_done ,class: "form-input" %></td>
        <td><%= f.date_field :quality_check, class: "form-input" %></td>
        <td><%= f.date_field :delivery_arrangements, class: "form-input" %></td>
        <td><%= f.date_field :traning, class: "form-input" %></td>
      </tr>
    <%# 四行目ラベル %>
      <tr>
        <th><%= f.label :confirm_ball, "不備対応ボール", class: "form-text" %></th>
        <th><%= f.label :confirm_date, "不備確認日", class: "form-text" %></th>
        <th><%= f.label :confirmer, "不備確認者", class: "form-text" %></th>
        <th><%= f.label :deficiency, "不備詳細", class: "form-text" %></th>
        <th><%= f.label :deficiency_result, "不備対応内容", class: "form-text" %></th>
      </tr>
    <%# 四行目値 %>
      <tr>
        <td><%= f.select :confirm_ball, {"営業": "営業", "管理": "管理", "クライアント": "クライアント"}, {include_blank: true}, {class: "form-input"} %></td>
        <td><%= f.date_field :confirm_date, class: "form-input" %></td>
        <td><%= f.text_field :confirmer, class: "form-input" %></td>
        <td><%= f.text_field :deficiency, class: "form-input" %></td>
        <td><%= f.text_field :deficiency_result, class: "form-input" %></td>
      </tr>
    <%# 五行目ラベル %>
      <tr>
        <th><%= f.label :solution_date, "不備解消日", class: "form-text" %></th>
        <th><%= f.label :result_point, "成果地点", class: "form-text" %></th>
        <th><%= f.label :payment, "入金日", class: "form-text" %></th>
        <th><%= f.label :remarks, "備考", class: "form-text" %></th>
        <th><%= f.label :valuation_profit, "評価売上", class: "form-text" %></th>
        <th><%= f.label :actual_profit, "実売上", class: "form-text" %></th>
      </tr>
    <%# 五行目値 %>
      <tr>
        <td><%= f.date_field :solution_date, class: "form-input" %></td>
        <td><%= f.date_field :result_point, class: "form-input" %></td>
        <td><%= f.date_field :payment, class: "form-input" %></td>
        <td><%= f.text_field :remarks ,class: "form-input" %></td>
        <td><%= f.number_field :valuation_profit , class: "form-input" %></td>
        <td><%= f.number_field :actual_profit , class: "form-input" %></td>
      </tr>        
      </table>
    <%= f.submit "登録", class: "submit-btn" %>
  <% end %>
</div>








    




