<div data-scope-path="pandas/show">
  <h1>フードパンダ詳細</h1>
  <%= render "shared/header" %>
    <table>
      <tr>
        <th colspan="4">店舗情報</th>
      </tr>
    <tr>
      <th>店舗名</th>
      <td colspan="2"><%= @panda.store_prop.name %></td>
    </tr>
      <th>属性</th>
      <td><%= @panda.store_prop.race %></td>
      <th>料理区分</th>
      <td><%= @panda.food_category %></td>
    <tr>
    </tr>
    <tr>
      <th>店舗代表</th>
      <td><%= @panda.store_prop.person_main %></td>
      <th>（フリガナ）</th>
      <td><%= @panda.store_prop.person_main_kana %></td>
    </tr>
    <tr>
      <th>店舗担当</th>
      <td><%= @panda.store_prop.person_sub %></td>
      <th>（フリガナ）</th>
      <td><%= @panda.store_prop.person_sub_kana %></td>
    </tr>
    <tr>
      <th>店舗住所</th>
      <td colspan="3"><%= @panda.store_prop.prefecture %><%= @panda.store_prop.city %><%= @panda.store_prop.municipalities %><%= @panda.store_prop.address %><%= @panda.store_prop.building_name %></td>
    </tr>
  </table>
  <h1>連絡先</h1>
  <table>
    <tr>
      <th>電話番号1</th>
      <td><%= @panda.store_prop.phone_number_1 %></td>
      <th>電話番号2</th>
      <td><%= @panda.store_prop.phone_number_2 %></td>
    </tr>
    <tr>
      <th>メールアドレス1</th>
      <td><%= @panda.store_prop.mail_1 %></td>
      <th>メールアドレス2</th>
      <td><%= @panda.store_prop.mail_2 %></td>
    </tr>
    <tr>
      <th>好適時間</th>
      <td><%= @panda.store_prop.suitable_time %></td>
      <th>定休日</th>
      <td><%= @panda.store_prop.holiday %></td>
    </tr>
    <tr>
      <th>備考</th>
      <td colspan="2"><%= @panda.store_prop.description %></td>
      <td><%= link_to "編集", edit_store_prop_path(@panda.store_prop.id), class: "link" %></td>
    </tr>
  </table>
  <h1 >フードパンダ・ステータス</h1>
  <table>
    <tr>
      <th>Grid ID</th>
      <td><%= @panda.grid_id %></td>
      <th>商流</th>
      <td><%= @panda.client %></td>
    </tr>
    <tr>
      <th>料理区分</th>
      <td><%= @panda.food_category %></td>
      <th>ゴースト店名</th>
      <td><%= @panda.ghost_flag %></td>
    </tr>
    <tr>
      <th>獲得日</th>
      <td><%= @panda.get_date %></td>
      <th>獲得者</th>
      <td><%= @panda.user.name %></td>
    </tr>
    <tr>
      <th>ステータス</th>
      <td><%= @panda.status %></td>
    </tr>
  <table>
    <tr>
      <th>ドキュサイン送付日</th>
      <th>ドキュサイン完了日</th>
      <th>品質チェック日</th>
      <th>配送手配完了日</th>
      <th>トレーニング完了日</th>
    </tr>
    <tr>
      <td><%= @panda.docu_sign_send %></td>
      <td><%= @panda.docu_sign_done %></td>
      <td><%= @panda.quality_check %></td>
      <td><%= @panda.delivery_arrangements %></td>
      <td><%= @panda.traning %></td>
    </tr>
  </table>
  <h1>不備状況</h1>
  <table>
    <tr>
      <th>不備対応ボール</th>
      <th>不備確認日</th>
      <th>不備確確認者</th>
      <th>不備詳細</th> 
      <th>不備対応内容</th> 
    </tr>
    <tr>
      <td><%= @panda.confirm_ball %></td>
      <td><%= @panda.confirm_date %></td>
      <td><%= @panda.confirmer %></td>
      <td><%= @panda.deficiency %></td>
      <td><%= @panda.deficiency_result %></td>
    </tr>
  </table>
  <table>
    <tr>
      <th>不備解消日</th>
      <td><%= @panda.solution_date %></td>
      <th>成果地点</th>
      <td><%= @panda.result_point %></td>
    </tr>
    <tr>
      <th>入金日</th>
      <td><%= @panda.payment %></td>
      <th>評価売上</th>
      <td><%= @panda.valuation_profit %></td>
    </tr>
    <tr>
      <th>実売上</th>
      <td><%= @panda.actual_profit %></td>
      <th>入金日</th>
      <td><%= @panda.payment %></td>
    </tr>
    <tr>
      <th>備考</th> 
      <td colspan="2"><%= @panda.remarks %></td>
      <td><%= link_to "編集", edit_panda_path, class: "link" %></td>
    </tr>
  </table>


  </main>
</div>
