<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<%# 各商材の%を選択 %>
<% dmer_this_month_slmt_per = 0.6 %>
<% dmer_prev_month_slmt_per = 0.9 %>
<% dmer_this_month_pic_per = 0.6 %>
<% dmer_prev_month_pic_per = 0.9 %>
<% dmer_this_month_2ndslmt_per = 0.9 %>
<% dmer_prev_month_2ndslmt_per = 0.9 %>
    <% if @cash_result.empty? %>
    <p class="caution-text">指定した日付には終着がありません。</p>
    <% else %>
    <h1>
      <% if @cash_result.group(:base).length > 1 %>
      全拠点
      <% else %>
      <%= @cash_result.first.user.base %>
      <% end %>
      （稼働訪問員<%= @cash_result.group(:user_id).length %>人）
      表示範囲：
      <%= @cash_result.minimum(:date) %>（<%= days[@cash_result.minimum(:date).wday] %>）〜<%= @cash_result.maximum(:date) %>（<%= days[@cash_result.maximum(:date).wday] %>）
    </h1> 
  <table class="base-tb">
    <tr>
      <th class="sticky" rowspan="2" >名前</th>
      <th class="search-th" rowspan="2" >担当商材</th>
      <th class="search-th" rowspan="2" >新規予定シフト</th>
      <th class="search-th" rowspan="2" >決済予定シフト</th>
      <th class="search-th" rowspan="2" >新規消化シフト</th>
      <th class="search-th" rowspan="2" >決済消化シフト</th>
      <th class="search-th" colspan="" >評価売上</th>
      <th class="search-th" colspan="5">基準値</th>
      <th class="search-th" colspan="8">商材別獲得数</th>
      <th class="search-th" colspan="8">商材別成果数</th>
      <th class="search-th" colspan="5">商材別平均獲得数</th>
      <th class="search-th" colspan="5">商材別獲得終着見込</th>
    </tr>
    <tr>
      <th class="search-th" >現状成果売上</th>
      <th class="search-th">訪問</th>
      <th class="search-th">応答</th>
      <th class="search-th">対面</th>
      <th class="search-th">フル</th>
      <th class="search-th">獲得</th>
      <%# 獲得商材 %>
      <th class="search-th">dメル（新規）</th>
      <th class="search-th">dメル（決済+写真）</th>
      <th class="search-th">dメル（2回目決済）</th>
      <th class="search-th">aupay（新規）</th>
      <th class="search-th">aupay（決済）</th>
      <th class="search-th">PayPay</th>
      <th class="search-th">楽天ペイ</th>
      <th class="search-th">AirPay</th>
      <%# 成果件数 %>
      <th class="search-th">dメル（審査通過+決済）</th>
      <th class="search-th">dメル（写真）</th>
      <th class="search-th">dメル（2回目決済）</th>
      <th class="search-th">auPay（決済+写真）</th>
      <th class="search-th">PayPay（審査通過）</th>
      <th class="search-th">AirPay（審査通過）</th>
      <%# 平均・終着 %>
      <% 2.times do %>
      <th class="search-th">dメル（新規）</th>
      <th class="search-th">aupay（新規）</th>
      <th class="search-th">PayPay</th>
      <th class="search-th">楽天ペイ</th>
      <th class="search-th">AirPay</th>
      <% end %>
    </tr>
    <tr></tr>
    <%# 合計値 %>
      <% base_shift = 0 %>
      <% base_new_shift = 0 %>
      <% base_slmt_shift = 0 %>
      <% 
        base_shift_digestion = 
          @cash_result.where.not(shift: "休み")
          .where.not(shift: "内勤")
          .where.not(shift: "帯同")
          .where.not(shift: "欠勤").length  
      %>
      <% 
        base_new_shift_digestion = 
        @cash_result.where(shift: "キャッシュレス新規")
        .or(
          @cash_result.where(shift: "フェムト新規")
        )
        .or(
          @cash_result.where(shift: "サミット")
        ).length  
      %>
            <% 
        base_slmt_shift_digestion = 
          @cash_result.where(shift: "キャッシュレス決済").length  
      %>
      <% base_ave = 0 %>
      <% base_sum = 0 %>
      <%# 拠点獲得数 %>
      <% base_dmer = 0 %>
      <% base_dmer_ave = 0 %>
      <% base_dmer_fin = 0 %>
      <% base_dmer_slmt = 0 %>
      <% base_dmer_slmt2nd = 0 %>
      <% base_aupay = 0 %>
      <%# 拠点成果件数 %>
      <% base_dmer_result1_len = 0 %>
      <% base_dmer_result2_len = 0 %>
      <% base_dmer_result3_len = 0 %>
      <% base_aupay_result1_len = 0 %>
      <% base_paypay_result1_len = 0 %>
      <% base_airpay_result1_len = 0 %>

      <% base_aupay_ave = 0 %>
      <% base_aupay_fin = 0 %>
      <% base_aupay_slmt = 0 %>
      <% base_paypay = 0 %>
      <% base_paypay_ave = 0 %>
      <% base_paypay_fin = 0 %>
      <% base_rakuten_pay = 0 %>
      <% base_rakuten_pay_ave = 0 %>
      <% base_rakuten_pay_fin = 0 %>
      <% base_airpay = 0 %>
      <% base_airpay_ave = 0 %>
      <% base_airpay_fin = 0 %>
      <% base_st_insurace = 0 %>
    <% @cash_result.group(:user_id).each do |r| %>
    <%# 変数 %>
      <% r_user = @cash_result.where(user_id: r.user.id) %>
      <%# シフト %>
        <% 
          new_shift = 
          Shift.where(start_time: @cash_result.minimum(:date)..@results.minimum(:date).beginning_of_month.since(1.month).since(24.days)).where(user_id: r.user_id).where(shift: "キャッシュレス新規")
          .or(
            Shift.where(start_time: @cash_result.minimum(:date)..@results.minimum(:date).beginning_of_month.since(1.month).since(24.days)).where(user_id: r.user_id).where(shift: "フェムト新規")
            )
          .or(
            Shift.where(start_time: @cash_result.minimum(:date)..@results.minimum(:date).beginning_of_month.since(1.month).since(24.days)).where(user_id: r.user_id).where(shift: "サミット")
            ).length
        %>
        <% slmt_shift = Shift.where(start_time: @cash_result.minimum(:date)..@results.minimum(:date).beginning_of_month.since(1.month).since(24.days)).where(user_id: r.user_id).where(shift: "キャッシュレス決済").length %>
        <%
          shifts = Shift.where(user_id: r.user_id)
          .where(start_time: @cash_result.minimum(:date)..@results.minimum(:date).beginning_of_month.since(1.month).since(24.days))
          .where.not(shift: "休み")
          .where.not(shift: "内勤")
          .where.not(shift: "帯同")
          .where.not(shift: "欠勤").length
        %>
        <% base_new_shift += new_shift %>
        <% base_shift += shifts %><%# 予定シフトの合計を取得 %>
        <% 
          shift_digestion = r_user
          .where.not(shift: "休み")
          .where.not(shift: "内勤")
          .where.not(shift: "帯同")
          .where.not(shift: "欠勤").length 
        %>
        <% 
          new_shift_digestion = 
            r_user.where(shift: "キャッシュレス新規")
            .or(r_user.where(shift: "フェムト新規"))
            .or(r_user.where(shift: "サミット")).length
        %>
        <% slmt_shift_digestion = r_user.where(shift: "キャッシュレス決済").length %>
      <%# 基準値 %>
        <% sum_total_visit = r_user.sum("first_total_visit + latter_total_visit").to_f %>
        <% sum_visit = r_user.sum("first_visit + latter_visit").to_f %>
        <% sum_interview = r_user.sum("first_interview + latter_interview").to_f %>
        <% sum_full_talk = r_user.sum("first_full_talk + latter_full_talk").to_f %>
        <% sum_get = r_user.sum("first_get + latter_get").to_f %>

      <%# 各商材変数（評価売） %>
        <%# dメル（新規） %>
          <% dmer_user = Dmer.includes(:store_prop).where(user_id: r.user_id) %>
          <% 
            dmer_uq = 
              this_period(dmer_user,@cash_result)
              .where(store_prop: {head_store: nil})
          %><%# dメル期間内獲得数 %>
          <% 
            dmer_db = 
              share_period(dmer_user,@cash_result)
              .where.not(store_prop: {head_store: nil})
              .where.not(industry_status: "×")
              .where.not(industry_status: "NG")
              .where.not(industry_status: "要確認")
              .where(status: "審査OK")
          %>
          <% dmer_def =  dmer_def(dmer_uq,@cash_result) %><%# dメル不備 %>
          <% 
            dmer_inc = 
              judge_inc(dmer_user,@cash_result)
              .where(store_prop: {head_store: nil})
              .where.not(industry_status: "NG")
              .where.not(industry_status: "×") 
          %>

        <%# dメル第一成果 %>
          <% 
            dmer_result1 =
              dmer_user.where(result_point: @month.next_month.beginning_of_month..@month.next_month.end_of_month)
              .where.not(industry_status: "NG")
              .where.not(industry_status: "×")
              .where.not(industry_status: "要確認")
              .where(status: "審査OK")
              .where("? >= settlement", @month.next_month.end_of_month)
              .select(:valuation_new, :industry_status, :user_id, :store_prop_id)
              .or(
                dmer_user.where(settlement: @month.next_month.beginning_of_month..@month.next_month.end_of_month)
                .where.not(industry_status: "NG")
                .where.not(industry_status: "×")
                .where.not(industry_status: "要確認")
                .where(status: "審査OK")
                .where("? >= result_point", @month.next_month.end_of_month)
                .select(:valuation_new, :industry_status, :user_id, :store_prop_id)
              )
          %>
          <% dmer_valuations = dmer_result1.sum(:valuation_new) %>
          <% dmer_result1_len = dmer_result1.length %>
          <% 
            dmer_len = 
              dmer_uq.length  - dmer_def.length + dmer_db.length
          %>
          <% dmer_len_ave = (dmer_len.to_f / new_shift_digestion).round(1) rescue 0 %>
          <% dmer_len_fin = (dmer_len_ave * new_shift).round() rescue 0 %>
        <%# dメル（決済） %>
          <% dmer_slmter = Dmer.where(settlementer_id: r.user_id) %>
          <% 
            dmer_slmt = 
              slmt_period(dmer_slmter ,@cash_result)
              .where.not(industry_status: "×")
              .where.not(industry_status: "NG")
              .where.not(industry_status: "要確認")
              .or(slmt_period(dmer_slmter, @cash_result)
              .where(industry_status: ""))
          %>
          <% dmer_result2 =               
              dmer_slmter.where(status_update_settlement: @month.next_month.beginning_of_month..@month.next_month.end_of_month)
              .where.not(industry_status: "NG")
              .where.not(industry_status: "×")
              .where.not(industry_status: "要確認")
              .where(status: "審査OK")
              .where(status_settlement: "完了")
          %>
          <% dmer_slmt_valuations = dmer_result2.sum(:valuation_settlement) %>
          <% dmer_result2_len = dmer_result2.length %>
          <% dmer_slmt_len = dmer_slmt.length %>
          <% dmer_slmt2nd = slmt_second(dmer_slmter,@cash_result) %>
          <% dmer_result3 = 
              dmer_slmter.where(settlement_second: @month.next_month.beginning_of_month..@month.next_month.end_of_month)
              .where.not(industry_status: "NG")
              .where.not(industry_status: "×")
              .where.not(industry_status: "要確認")
              .where(status: "審査OK")
              .where(status_settlement: "完了")
              .where("status_update_settlement >= ?", Date.today)
              .or(
                dmer_slmter.where.not(settlement_second: nil)
                .where.not(industry_status: "NG")
                .where.not(industry_status: "×")
                .where.not(industry_status: "要確認")
                .where(status: "審査OK")
                .where(status_settlement: "完了")
                .where(status_update_settlement: @month.next_month.beginning_of_month..@month.next_month.end_of_month)
              )
          %>
          <% dmer_slmt2nd_valuations = dmer_result3.sum(:valuation_second_settlement) %>
          <% dmer_result3_len = dmer_result3.length %>
          <% dmer_slmt2nd_len = dmer_slmt2nd.length %>
        <%# dメル終着見込 %>
          <% dmer_val_len = dmer_uq.length - dmer_def.length %><%# 成果件数 %>
          <% dmer_val_len_ave = (dmer_val_len.to_f / new_shift_digestion).round(1) rescue 0 %><%# 生産性 %>
          <% dmer_val_len_fin = dmer_val_len_ave * new_shift %><%# 獲得終着見込 %>
          <% dmer_result1_this_month_fin = dmer_val_len_fin %>
        <%# aupay（新規） %>
          <% aupay_user = Aupay.includes(:store_prop).where(user_id: r.user_id) %>
          <% 
            aupay_uq = 
              this_period(aupay_user,@cash_result)
              .where(store_prop: {head_store: nil})
          %>
          <% 
            aupay_db = 
              result_period(aupay_user,@cash_result)
              .where.not(store_prop: {head_store: nil})
              .where(status: "審査通過")
          %>

          <% aupay_def =  aupay_def(aupay_uq,@cash_result) %>
          <% aupay_inc = judge_inc(aupay_user,@cash_result)  %>
          <% aupay_judge_dec = judge_dec(aupay_user,@cash_result)  %>
          <%# 合計 %>
          <% 
            aupay_valuations = 0
          %>
          <% 
            aupay_len = 
              aupay_uq.length - aupay_def.length + aupay_db.length
          %>
          <% aupay_len_ave = (aupay_len.to_f / new_shift_digestion).round(1) rescue 0 %>
          <% aupay_len_fin = (aupay_len_ave * new_shift).round() rescue 0 %>
        <%# aupay（決済） %>
          <% aupay_slmt_user = Aupay.where(settlementer_id: r.user_id) %>
          <% aupay_slmt = slmt_period(aupay_slmt_user ,@cash_result) %>
          <% 
            aupay_result1 = 
              aupay_slmt_user.where(status_update_settlement: @month.next_month.beginning_of_month..@month.next_month.end_of_month)
              .where(status: "審査通過")
              .where(status_settlement: "完了")
          %>
          <% aupay_slmt_valuations = aupay_result1.sum(:valuation_settlement) %>
          <% aupay_result1_len = aupay_result1.length %>
          <% aupay_slmt_len = aupay_slmt.length %>
        <%# PayPay %>
          <% paypay_user = Paypay.where(user_id: r.user_id) %>
          <% paypay_data = this_period(paypay_user ,@cash_result) %>
          <% paypay_result = result_period(paypay_user ,@cash_result) %>
          <% 
            paypay_result1 = 
              paypay_user.where(result_point: @month.next_month.beginning_of_month..@month.next_month.end_of_month)
          %>
          <% paypay_valuations = paypay_result1.sum(:valuation) %>
          <% paypay_result1_len = paypay_result1.length %>
          <% paypay_len = paypay_data.length %>
          <% paypay_len_ave = (paypay_len.to_f / new_shift_digestion).round(1) rescue 0 %>
          <% paypay_len_fin = (paypay_len_ave * new_shift).round() rescue 0 %>
        <%# 楽天ペイ %>
          <% rakuten_pay_user = RakutenPay.includes(:store_prop).where(user_id: r.user_id) %>
          <% 
            rakuten_pay_uq = 
              this_period(rakuten_pay_user,@cash_result)
          %>
          <% 
            rakuten_pay_dec = 
              rakuten_pay_uq.where.not(deficiency: nil)
              .where.not(share: @cash_result.minimum(:date)..@cash_result.maximum(:date))
          %>

          <% 
            rakuten_pay_def =  
              rakuten_pay_uq.where(status: "自社不備")
              .or(rakuten_pay_uq.where(status: "自社NG")) %>
          <% rakuten_pay_inc = rakuten_inc(rakuten_pay_user,@cash_result)  %>
          <%# 合計 %>
            <% 
              rakuten_pay_valuations =
                rakuten_pay_uq.sum(:valuation) - 
                rakuten_pay_def.sum(:valuation) -
                rakuten_pay_dec.sum(:valuation) +
                rakuten_pay_inc.sum(:valuation)
            %>
            <% 
              rakuten_pay_len = 
                rakuten_pay_uq.length - 
                rakuten_pay_def.length -
                rakuten_pay_dec.length +
                rakuten_pay_inc.length
            %>
          <% rakuten_pay_len_ave = (rakuten_pay_len.to_f / new_shift_digestion).round(1) rescue 0 %>
          <% rakuten_pay_len_fin = (rakuten_pay_len_ave * new_shift).round() rescue 0 %>
        <%# AirPay %>
          <% airpay_user = Airpay.where(user_id: r.user_id) %>
          <% 
            airpay_data = this_period(airpay_user ,@cash_result)
          %>
          <% airpay_len = airpay_data.length %>
          <% 
            airpay_len_ave = 
              (airpay_len.to_f / new_shift_digestion).round(1) rescue 0 
          %>
          <% airpay_len_fin = (airpay_len_ave * new_shift).round() rescue 0 %>
          <% 
            airpay_valuations = 
              if airpay_len >= 10
                airpay_user
                .where(result_point: @month.next_month.beginning_of_month..@month.next_month.end_of_month).where(status: "審査完了").sum(:valuation) + (airpay_len * 2000)
              else  
                airpay_user.where(result_point: @month.next_month.beginning_of_month..@month.next_month.end_of_month).where(status: "審査完了").sum(:valuation)
              end
          %>
          <% airpay_result1_len = airpay_user.where(result_point: @month.next_month.beginning_of_month..@month.next_month.end_of_month).where(status: "審査完了").length %>

        <%# 少額短期保険 %>
          <% st_insurance_user = StInsurance.includes(:store_prop).where(user_id: r.user_id) %>
          <% st_insurance_data = this_period(st_insurance_user,@cash_result) %>
          <% st_insurance_valuations = st_insurance_data.sum(:valuation) %>
          <% st_insurance_len = st_insurance_data.length %>
        <%# 楽天フェムト（新規） %>
        <%# 楽天フェムト（設置） %>
        <%# 現状売上 %>
          <% 
            sum_valuations = 
              dmer_valuations +
              dmer_slmt_valuations +
              dmer_slmt2nd_valuations +
              aupay_valuations + 
              aupay_slmt_valuations +
              paypay_valuations +
              rakuten_pay_valuations + 
              st_insurance_valuations +
              airpay_valuations
          %>
          <% ave_valuations = sum_valuations / shift_digestion rescue 0 %>
          <% base_dmer += dmer_len %>
          <% base_dmer_ave = base_dmer / shift_digestion %>
          <% base_dmer_fin += dmer_len_fin %>
          <% base_dmer_slmt += dmer_slmt_len %>
          <% base_dmer_slmt2nd += dmer_slmt2nd_len %>
          <% base_aupay += aupay_len %>
          <% base_aupay_ave = base_aupay / shift_digestion %>
          <% base_aupay_fin += aupay_len_fin %>
          <% base_aupay_slmt += aupay_slmt_len %>
          <% base_paypay += paypay_len %>
          <% base_paypay_ave = base_paypay / shift_digestion %>
          <% base_paypay_fin += paypay_len_fin %>
          <% base_rakuten_pay += rakuten_pay_len %>
          <% base_rakuten_pay_ave = base_rakuten_pay / shift_digestion %>
          <% base_rakuten_pay_fin += rakuten_pay_len_fin %>
          <% base_airpay += airpay_len %>
          <% base_airpay_ave = base_airpay / shift_digestion %>
          <% base_airpay_fin += airpay_len_fin %>
          <% base_st_insurace += st_insurance_len %>
          <% base_sum += sum_valuations %>
          <%# 成果件数 %>
          <% base_dmer_result1_len += dmer_result1_len %>
          <% base_dmer_result2_len += dmer_result2_len %>
          <% base_dmer_result3_len += dmer_result3_len %>
          <% base_aupay_result1_len += aupay_result1_len %>
          <% base_paypay_result1_len += paypay_result1_len %>
          <% base_airpay_result1_len += airpay_result1_len %>

    <tr>
      <th class="sticky"><%= r.user.name %></th>
      <td ><%= r.user.base_sub  %></td>
      <td ><%= new_shift %></td>
      <td ><%= slmt_shift %></td>
      <td ><%= new_shift_digestion %></td>
      <td ><%= slmt_shift_digestion %></td>
      <%# 評価売上 %>
      <td ><%= sum_valuations.to_s(:delimited) rescue 0 %></td>
      <%# 基準値 %>
      <td><%= (sum_total_visit / new_shift_digestion).round(1) rescue 0 %></td>
      <td><%= (sum_visit / new_shift_digestion).round(1) rescue 0 %></td>
      <td><%= (sum_interview / new_shift_digestion).round(1) rescue 0 %></td>
      <td><%= (sum_full_talk / new_shift_digestion).round(1) rescue 0 %></td>
      <td><%= (sum_get / new_shift_digestion).round(1) rescue 0 %></td>
      <%# 獲得数 %>
      <td ><%= dmer_len %></td>
      <td ><%= dmer_slmt_len %></td>
      <td ><%= dmer_slmt2nd_len %></td>
      <td ><%= aupay_len %></td>
      <td ><%= aupay_slmt_len %></td>
      <td ><%= paypay_len %></td>
      <td ><%= rakuten_pay_len %></td>
      <td ><%= airpay_len %></td>
      <%# 成果件数 %>
      <td ><%= dmer_result1_len %></td>
      <td ><%= dmer_result2_len %></td>
      <td ><%= dmer_result3_len %></td>
      <td ><%= aupay_result1_len %></td>
      <td ><%= paypay_result1_len %></td>
      <td ><%= airpay_result1_len %></td>

      <%# 平均獲得数 %>
      <td ><%= dmer_len_ave %></td>
      <td ><%= aupay_len_ave %></td>
      <td ><%= paypay_len_ave %></td>
      <td ><%= rakuten_pay_len_ave %></td>
      <td ><%= airpay_len_ave %></td>
      <%# 獲得終着 %>
      <td ><%= dmer_len_fin %></td>
      <td ><%= aupay_len_fin %></td>
      <td ><%= paypay_len_fin %></td>
      <td ><%= rakuten_pay_len_fin %></td>
      <td ><%= airpay_len_fin %></td>
    </tr>
      <% end %>
    <tr>
        <th class="sticky">全体</th>
        <td ></td>
        <td><%= base_new_shift %></td>
        <td><%= base_slmt_shift %></td>
        <td><%= base_new_shift_digestion %></td>
        <td><%= base_slmt_shift_digestion %></td>
        <%# 全体評価売上 %>
        <td><%= base_sum.to_s(:delimited) rescue 0 %></td>
        <td><%= (@cash_result.sum("first_total_visit + latter_total_visit") / base_new_shift_digestion).round(1) rescue 0 %></td>
        <td><%= (@cash_result.sum("first_visit + latter_visit").to_f / base_new_shift_digestion).round(1) rescue 0 %></td>
        <td><%= (@cash_result.sum("first_interview + latter_interview").to_f / base_new_shift_digestion).round(1) rescue 0 %></td>
        <td><%= (@cash_result.sum("first_full_talk + latter_full_talk").to_f / base_new_shift_digestion).round(1) rescue 0 %></td>
        <td><%= (@cash_result.sum("first_get + latter_get").to_f / base_new_shift_digestion).round(1) rescue 0 %></td>
        <%# 全体獲得数 %>
        <td><%= base_dmer %></td>
        <td><%= base_dmer_slmt %></td>
        <td><%= base_dmer_slmt2nd %></td>
        <td><%= base_aupay %></td>
        <td><%= base_aupay_slmt %></td>
        <td><%= base_paypay %></td>
        <td><%= base_rakuten_pay %></td>
        <td><%= base_airpay %></td>
        <%# 全体成果件数 %>
        <td><%= base_dmer_result1_len %></td>
        <td><%= base_dmer_result2_len %></td>
        <td><%= base_dmer_result3_len %></td>
        <td><%= base_aupay_result1_len %></td>
        <td><%= base_paypay_result1_len %></td>
        <td><%= base_airpay_result1_len %></td>
        
        <%# 全体平均獲得数 %>
        <td><%= base_dmer_ave %></td>
        <td><%= base_aupay_ave %></td>
        <td><%= base_paypay_ave %></td>
        <td><%= base_rakuten_pay_ave %></td>
        <td><%= base_airpay_ave %></td>
        <%# 全体終着獲得数 %>
        <td><%= base_dmer_fin %></td>
        <td><%= base_aupay_fin %></td>
        <td><%= base_paypay_fin %></td>
        <td><%= base_rakuten_pay_fin %></td>
        <td><%= base_airpay_fin %></td>
    </tr>
  </table>
  <% end %>