<% days = ["日", "月", "火", "水", "木", "金", "土"] %>

    <h1>全拠点売上（稼働訪問員<%= @results.group(:user_id).length %>人）　表示範囲：
      <%= @results.minimum(:date) %>（<%= days[@results.minimum(:date).wday] %>）〜<%= @results.maximum(:date) %>（<%= days[@results.maximum(:date).wday] %>）
    </h1>
        <%# 予定シフト数 %>
            <% chubu_cash_shift = 0 %>
            <% chubu_casa_shift = 0 %>
            <% kanto_cash_shift = 0 %>
            <% kanto_casa_shift = 0 %>
            <% kansai_cash_shift = 0 %>
            <% kansai_casa_shift = 0 %>
                        <% chubu_cash_shift += @shifts.where(user: {base: "中部SS"}).where(shift: "キャッシュレス新規").length %>
                        <% chubu_casa_shift += shift.rakuten_casa + shift.rakuten_casa_put %>
                        <% kanto_cash_shift += shift.cashless_new + shift.cashless_settlement %>
                        <% kanto_casa_shift += shift.rakuten_casa + shift.rakuten_casa_put %>
                        <% kansai_cash_shift += shift.cashless_new + shift.cashless_settlement %>
                        <% kansai_casa_shift += shift.rakuten_casa + shift.rakuten_casa_put %>
        <%# 消化シフト %>
            <% chubu_cash_shift_digestion = @results.where(user: {base: "中部SS"}).where(shift: "キャッシュレス新規").or(@results.where(user: {base: "中部SS"}).where(shift: "キャッシュレス決済")).length %>
            <% chubu_casa_shift_digestion = @results.where(user: {base: "中部SS"}).where(shift: "楽天フェムト新規").or(@results.where(user: {base: "中部SS"}).where(shift: "楽天フェムト設置")).length %>
            <% kanto_cash_shift_digestion = @results.where(user: {base: "関東SS"}).where(shift: "キャッシュレス新規").or(@results.where(user: {base: "関東SS"}).where(shift: "キャッシュレス決済")).length %>
            <% kanto_casa_shift_digestion = @results.where(user: {base: "関東SS"}).where(shift: "楽天フェムト新規").or(@results.where(user: {base: "関東SS"}).where(shift: "楽天フェムト設置")).length %>
            <% kansai_cash_shift_digestion = @results.where(user: {base: "関西SS"}).where(shift: "キャッシュレス新規").or(@results.where(user: {base: "関西SS"}).where(shift: "キャッシュレス決済")).length %>
            <% kansai_casa_shift_digestion = @results.where(user: {base: "関西SS"}).where(shift: "楽天フェムト新規").or(@results.where(user: {base: "関西SS"}).where(shift: "楽天フェムト設置")).length %>
            <% shift_digestion_sum = chubu_cash_shift_digestion + chubu_casa_shift_digestion + kanto_cash_shift_digestion + kanto_casa_shift_digestion +
                kansai_cash_shift_digestion + kansai_casa_shift_digestion %>
        <%# 消化シフト（前週） %>
            <% chubu_cash_shift_digestion_last_week = @results.where(date: @results.minimum(:date)..@results.maximum(:date).ago(7.days)).where(user: {base: "中部SS"}).where(shift: "キャッシュレス新規").or(@results.where(user: {base: "中部SS"}).where(shift: "キャッシュレス決済")).length %>
            <% chubu_casa_shift_digestion_last_week = @results.where(date: @results.minimum(:date)..@results.maximum(:date).ago(7.days)).where(user: {base: "中部SS"}).where(shift: "楽天フェムト新規").or(@results.where(user: {base: "中部SS"}).where(shift: "楽天フェムト設置")).length %>
            <% kanto_cash_shift_digestion_last_week = @results.where(date: @results.minimum(:date)..@results.maximum(:date).ago(7.days)).where(user: {base: "関東SS"}).where(shift: "キャッシュレス新規").or(@results.where(user: {base: "関東SS"}).where(shift: "キャッシュレス決済")).length %>
            <% kanto_casa_shift_digestion_last_week = @results.where(date: @results.minimum(:date)..@results.maximum(:date).ago(7.days)).where(user: {base: "関東SS"}).where(shift: "楽天フェムト新規").or(@results.where(user: {base: "関東SS"}).where(shift: "楽天フェムト設置")).length %>
            <% kansai_cash_shift_digestion_last_week= @results.where(date: @results.minimum(:date)..@results.maximum(:date).ago(7.days)).where(user: {base: "関西SS"}).where(shift: "キャッシュレス新規").or(@results.where(user: {base: "関西SS"}).where(shift: "キャッシュレス決済")).length %>
            <% kansai_casa_shift_digestion_last_week = @results.where(date: @results.minimum(:date)..@results.maximum(:date).ago(7.days)).where(user: {base: "関西SS"}).where(shift: "楽天フェムト新規").or(@results.where(user: {base: "関西SS"}).where(shift: "楽天フェムト設置")).length %>
            <% sum_shift_last_week = chubu_cash_shift_digestion_last_week + chubu_casa_shift_digestion_last_week +
                kanto_cash_shift_digestion_last_week + kanto_casa_shift_digestion_last_week +
                kansai_cash_shift_digestion_last_week + kansai_casa_shift_digestion_last_week %>
    <h3 class="warning-sub">※予定シフトと終着の入力がない場合,訪問員数と予定シフトは反映されません</h3>

<div style="display: flex;">
    <div>
        <h2>評価売</h2>
    <table>
        <tr>
            <th></th>
            <th>中部キャッシュ</th>
            <th>中部フェムト</th>
            <th>関東キャッシュ</th>
            <th>関東フェムト</th>
            <th>関西キャッシュ</th>
            <th>関西フェムト</th>
            <th>キャッシュ・フェムト合計</th>
        </tr>
        <tr>
            <th>訪問員人数</th>
            <td><%= @chubu_cash_persons.length %></td>
            <td><%= @chubu_femto_persons.length %></td>
            <td><%= @kanto_cash_persons.length %></td>
            <td><%= @kanto_femto_persons.length %></td>
            <td><%= @kansai_cash_persons.length %></td>
            <td><%= @kansai_femto_persons.length %></td>
            <td><%= @results.group(:user_id).length %></td>
        </tr>
        <tr>
            <th>予定シフト</th>
            <td><%= chubu_cash_shift %></td>
            <td><%= chubu_casa_shift %></td>
            <td><%= kanto_cash_shift %></td>
            <td><%= kanto_casa_shift %></td>
            <td><%= kansai_cash_shift %></td>
            <td><%= kansai_casa_shift %></td>
            <td><%= sum_shift = chubu_cash_shift + chubu_casa_shift + kanto_cash_shift + kanto_casa_shift + kansai_cash_shift + kansai_casa_shift %></td>
        </tr>
        <tr>
            <th>消化シフト</th>
            <td><%= chubu_cash_shift_digestion %></td>
            <td><%= chubu_casa_shift_digestion %></td>
            <td><%= kanto_cash_shift_digestion %></td>
            <td><%= kanto_casa_shift_digestion %></td>
            <td><%= kansai_cash_shift_digestion %></td>
            <td><%= kansai_casa_shift_digestion %></td>
            <td><%= shift_digestion_sum %></td>
        </tr>
        <tr>
            <th>現状売上</th>
            <td><%= (@chubu_cash_sum_valuation).to_s(:delimited) %></td>
            <td><%= (@chubu_rakuten_casa_valuation_sum).round().to_s(:delimited) %></td>
            <td><%= (@kanto_cash_sum_valuation).to_s(:delimited) %></td>
            <td><%= (@kanto_rakuten_casa_valuation_sum).round().to_s(:delimited) %></td>
            <td><%= (@kansai_cash_sum_valuation).to_s(:delimited) %></td>
            <td><%= (@kansai_rakuten_casa_valuation_sum).round().to_s(:delimited) %></td>
            <td><%= (@chubu_cash_sum_valuation + @chubu_rakuten_casa_valuation_sum + @kanto_cash_sum_valuation + @kanto_rakuten_casa_valuation_sum + @kansai_cash_sum_valuation + @kansai_rakuten_casa_valuation_sum).round().to_s(:delimited) %></td>
        </tr>
        <tr>
            <th>前週Ave</th>
            <td><%= (@chubu_cash_sum_valuation_last_week / chubu_cash_shift_digestion_last_week).round().to_s(:delimited) if chubu_cash_shift_digestion_last_week != 0 %></td>
            <td><%= (@chubu_rakuten_casa_valuation_sum_last_week / chubu_casa_shift_digestion_last_week).round().to_s(:delimited) if chubu_casa_shift_digestion_last_week != 0 %></td>
            <td><%= (@kanto_cash_sum_valuation_last_week / kanto_cash_shift_digestion_last_week).round().to_s(:delimited) if kanto_cash_shift_digestion_last_week != 0 %></td>
            <td><%= (@kanto_rakuten_casa_valuation_sum_last_week / kanto_casa_shift_digestion_last_week).round().to_s(:delimited) if kanto_casa_shift_digestion_last_week != 0 %></td>
            <td><%= (@kansai_cash_sum_valuation_last_week / kansai_cash_shift_digestion_last_week).round().to_s(:delimited) if kansai_cash_shift_digestion_last_week != 0 %></td>
            <td><%= (@kansai_rakuten_casa_valuation_sum_last_week / kansai_casa_shift_digestion_last_week).round().to_s(:delimited) if kansai_casa_shift_digestion_last_week != 0 %></td>
            <td><%= (@sum_valuation_last_week / sum_shift_last_week).round().to_s(:delimited) if sum_shift_last_week != 0 %></td>
        </tr>
        <tr>
            <th>現状Ave</th>
            <td><%= (@chubu_cash_sum_valuation / chubu_cash_shift_digestion).round().to_s(:delimited) if chubu_cash_shift_digestion != 0 %></td>
            <td><%= (@chubu_rakuten_casa_valuation_sum / chubu_casa_shift_digestion).round().to_s(:delimited) if chubu_casa_shift_digestion != 0 %></td>
            <td><%= (@kanto_cash_sum_valuation / kanto_cash_shift_digestion).round().to_s(:delimited) if kanto_cash_shift_digestion != 0 %></td>
            <td><%= (@kanto_rakuten_casa_valuation_sum / kanto_casa_shift_digestion).round().to_s(:delimited) if kanto_casa_shift_digestion != 0 %></td>
            <td><%= (@kansai_cash_sum_valuation / kansai_cash_shift_digestion).round().to_s(:delimited) if kansai_cash_shift_digestion != 0 %></td>
            <td><%= (@kansai_rakuten_casa_valuation_sum / kansai_casa_shift_digestion).round().to_s(:delimited) if kansai_casa_shift_digestion != 0 %></td>
            <td><%= (@sum_valuation / shift_digestion_sum).round().to_s(:delimited) if shift_digestion_sum != 0 %></td>
        </tr>
        <tr>
            <th>前週比</th>
                <td><%= ((@chubu_cash_sum_valuation / chubu_cash_shift_digestion) - (@chubu_cash_sum_valuation_last_week / chubu_cash_shift_digestion_last_week)).to_s(:delimited) if chubu_cash_shift_digestion != 0 && chubu_cash_shift_digestion_last_week != 0 %></td>
                <td><%= ((@chubu_rakuten_casa_valuation_sum / chubu_casa_shift_digestion)  - (@chubu_rakuten_casa_valuation_sum_last_week / chubu_casa_shift_digestion_last_week)).round().to_s(:delimited) if chubu_casa_shift_digestion != 0 && chubu_casa_shift_digestion_last_week != 0 %></td>
                <td><%= ((@kanto_cash_sum_valuation / kanto_cash_shift_digestion) - (@kanto_cash_sum_valuation_last_week / kanto_cash_shift_digestion_last_week)).to_s(:delimited) if kanto_cash_shift_digestion != 0 && kanto_cash_shift_digestion_last_week != 0 %></td>
                <td><%= ((@kanto_rakuten_casa_valuation_sum / kanto_casa_shift_digestion)  - (@kanto_rakuten_casa_valuation_sum_last_week / kanto_casa_shift_digestion_last_week)).round().to_s(:delimited) if kanto_casa_shift_digestion != 0 && kanto_casa_shift_digestion_last_week != 0 %></td>
                <td><%= ((@kansai_cash_sum_valuation / kansai_cash_shift_digestion) - (@kansai_cash_sum_valuation_last_week / kansai_cash_shift_digestion_last_week)).to_s(:delimited) if kansai_cash_shift_digestion != 0 && kansai_cash_shift_digestion_last_week != 0 %></td>
                <td><%= ((@kansai_rakuten_casa_valuation_sum / kansai_casa_shift_digestion)  - (@kansai_rakuten_casa_valuation_sum_last_week / kansai_casa_shift_digestion_last_week)).round().to_s(:delimited) if kansai_casa_shift_digestion != 0 && kansai_casa_shift_digestion_last_week != 0 %></td>
                <td><%((@sum_valuation / shift_digestion_sum) - (@sum_valuation_last_week / sum_shift_last_week)).round().to_s(:delimited) if shift_digestion_sum != 0 || sum_shift_last_week != 0 %></td>
        </tr>
        <tr>
            <th>終着見込売上</th>
                <td><%= ((@chubu_cash_sum_valuation / chubu_cash_shift_digestion) * chubu_cash_shift).to_s(:delimited) if chubu_cash_shift_digestion != 0 && chubu_cash_shift != 0 %></td>
                <td><%= ((@chubu_rakuten_casa_valuation_sum / chubu_casa_shift_digestion) * chubu_casa_shift).round().to_s(:delimited) if chubu_casa_shift_digestion != 0 && chubu_casa_shift != 0 %></td>
                <td><%= ((@kanto_cash_sum_valuation / kanto_cash_shift_digestion) * kanto_cash_shift).to_s(:delimited) if kanto_cash_shift_digestion != 0 && kanto_cash_shift != 0 %></td>
                <td><%= ((@kanto_rakuten_casa_valuation_sum / kanto_casa_shift_digestion) * kanto_casa_shift).round().to_s(:delimited) if kanto_casa_shift_digestion != 0 && kanto_casa_shift != 0 %></td>
                <td><%= ((@kansai_cash_sum_valuation / kansai_cash_shift_digestion) * kansai_cash_shift).to_s(:delimited) if kansai_cash_shift_digestion != 0 && kansai_cash_shift != 0 %></td>
                <td><%= ((@kansai_rakuten_casa_valuation_sum / kansai_casa_shift_digestion) * kansai_casa_shift).round().to_s(:delimited) if kansai_casa_shift_digestion != 0 && kansai_casa_shift != 0 %></td>
                <td><%= ((@sum_valuation / shift_digestion_sum) * sum_shift).round().to_s(:delimited) if shift_digestion_sum != 0 || sum_shift != 0 %></td>
        </tr>
    </table>
    </div>
    <div>
    <h2>商材別売上</h2>
    <table>
        <tr>
            <th>商材</th>
            <th>現状売上</th>
            <th>獲得数</th>
            <th>不備・NG</th>
            <th>増加</th>
            <th>減少</th>
        </tr>
        <tr>
            <th>dメル（新規）</th>
            <td><%= @chubu_dmers_new_valuation.to_s(:delimited) %></td>
            <td><%= @chubu_dmers_this_month.length %></td>
            <td><%= @chubu_dmers_def_this_month.length %></td>
            <td><%= @chubu_dmers_inc.length %></td>
            <td><%= @chubu_dmers_dec.length %></td>
        </tr>
        <tr>
            <th>dメル（決済）</th>
            <td><%= @chubu_dmers_slmt_valuation.to_s(:delimited) %></td>
            <td><%= @chubu_dmers_slmt_this_month.length %></td>
            <td><%= @chubu_dmers_slmt_def_this_month.length %></td>
            <td><%= @chubu_dmers_slmt_inc.length %></td>
            <td><%= @chubu_dmers_slmt_dec.length %></td>
        </tr>
        <tr>
            <th>aupay（新規）</th>
            <td><%= @chubu_aupays_new_valuation.to_s(:delimited) %></td>
            <td><%= @chubu_aupays_this_month.length %></td>
            <td><%= @chubu_aupays_def_this_month.length %></td>
            <td><%= @chubu_aupays_inc.length %></td>
            <td><%= @chubu_aupays_dec.length %></td>
        </tr>
        <tr>
            <th>aupay（決済）</th>
            <td><%= @chubu_aupays_slmt_valuation.to_s(:delimited) %></td>
            <td><%= @chubu_aupays_slmt_this_month.length %></td>
            <td><%= @chubu_aupays_slmt_def_this_month.length %></td>
            <td><%= @chubu_aupays_slmt_inc.length %></td>
            <td><%= @chubu_aupays_slmt_dec.length %></td>
        </tr>
        <tr>
            <th>楽天ペイ</th>
            <td><%= @chubu_rakuten_pays_valuation.to_s(:delimited) %></td>
            <td><%= @chubu_rakuten_pays_this_month.length %></td>
            <td><%= @chubu_rakuten_pays_def_this_month.length %></td>
            <td><%= @chubu_rakuten_pays_inc.length %></td>
            <td><%= @chubu_rakuten_pays_dec.length %></td>
        </tr>
        <tr>
            <th>楽天フェムト（新規）</th>
            <td><%= @chubu_rakuten_casas_valuation.to_s(:delimited) %></td>
            <td><%= @chubu_rakuten_casas_this_month.length %></td>
            <td><%= @chubu_rakuten_casas_def_this_month.length %></td>
            <td><%= @chubu_rakuten_casas_inc.length %></td>
            <td><%= @chubu_rakuten_casas_dec.length %></td>
        </tr>
        <tr>
            <th>楽天フェムト（設置）</th>
            <td><%= @chubu_rakuten_casas_put_valuation.to_s(:delimited) %></td>
            <td><%= @chubu_rakuten_casa_put.length %></td>
            <td class="td-blank"></td>
            <td class="td-blank"></td>
            <td class="td-blank"></td>
        </tr>
        <tr>
            <th>PayPay</th>
            <td><%= @chubu_paypays_valuation.to_s(:delimited) %></td>
            <td><%= @chubu_paypays_this_month.length %></td>
            <td><%= @chubu_rakuten_pays_def_this_month.length %></td>
            <td class="td-blank"></td>
            <td class="td-blank"></td>
        </tr>
        <tr>
            <th>少額短期保険</th>
            <td><%= @chubu_st_insurances_valuation.to_s(:delimited) %></td>
            <td><%= @chubu_st_insurances_this_month.length %></td>
            <td><%= @chubu_st_insurances_def_this_month.length %></td>
            <td class="td-blank"></td>
            <td class="td-blank"></td>
        </tr>
    </table>
    </div>
</div>
<% if current_user.position == "権限①" %>
        <h2>実売</h2>
        <table>
            <tr>
                <th></th>
                <th>中部キャッシュ</th>
                <th>中部フェムト</th>
                <th>関東キャッシュ</th>
                <th>関東フェムト</th>
                <th>関西キャッシュ</th>
                <th>関西フェムト</th>
                <th>キャッシュ・フェムト合計</th>
            </tr>
            <tr>
                <th>現状売上</th>
                <td><%= (@chubu_cash_sum_profit).to_s(:delimited) %></td>
                <td><%= (@chubu_rakuten_casa_profit_sum).round().to_s(:delimited) %></td>
                <td><%= (@kanto_cash_sum_profit).to_s(:delimited) %></td>
                <td><%= (@kanto_rakuten_casa_profit_sum).round().to_s(:delimited) %></td>
                <td><%= (@kansai_cash_sum_profit).to_s(:delimited) %></td>
                <td><%= (@kansai_rakuten_casa_profit_sum).round().to_s(:delimited) %></td>
                <td><%= (@sum_profit).round().to_s(:delimited) %></td>
            </tr>
            <tr>
                <th>前週Ave</th>
                <td><%= (@chubu_cash_sum_profit_last_week / chubu_cash_shift_digestion_last_week).round().to_s(:delimited) if chubu_cash_shift_digestion_last_week != 0 %></td>
                <td><%= (@chubu_rakuten_casa_profit_sum_last_week / chubu_casa_shift_digestion_last_week).round().to_s(:delimited) if chubu_casa_shift_digestion_last_week != 0 %></td>
                <td><%= (@kanto_cash_sum_profit_last_week / kanto_cash_shift_digestion_last_week).round().to_s(:delimited) if kanto_cash_shift_digestion_last_week != 0 %></td>
                <td><%= (@kanto_rakuten_casa_profit_sum_last_week / kanto_casa_shift_digestion_last_week).round().to_s(:delimited) if kanto_casa_shift_digestion_last_week != 0 %></td>
                <td><%= (@kansai_cash_sum_profit_last_week / kansai_cash_shift_digestion_last_week).round().to_s(:delimited) if kansai_cash_shift_digestion_last_week != 0 %></td>
                <td><%= (@kansai_rakuten_casa_profit_sum_last_week / kansai_casa_shift_digestion_last_week).round().to_s(:delimited) if kansai_casa_shift_digestion_last_week != 0 %></td>
                <td><%= (@sum_profit_last_week / sum_shift_last_week).round().to_s(:delimited) if sum_shift_last_week != 0 %></td>
            </tr>
            <tr>
                <th>現状Ave</th>
                <td><%= (@chubu_cash_sum_profit / chubu_cash_shift_digestion).to_s(:delimited) if chubu_cash_shift_digestion != 0 %></td>
                <td><%= (@chubu_rakuten_casa_profit_sum / chubu_casa_shift_digestion).round().to_s(:delimited) if chubu_cash_shift_digestion != 0 %></td>
                <td><%= (@kanto_cash_sum_profit / kanto_cash_shift_digestion).to_s(:delimited) if kanto_cash_shift_digestion != 0 %></td>
                <td><%= (@kanto_rakuten_casa_profit_sum / kanto_casa_shift_digestion).round().to_s(:delimited) if kanto_casa_shift_digestion != 0 %></td>
                <td><%= (@kansai_cash_sum_profit / kansai_cash_shift_digestion).to_s(:delimited) if kansai_cash_shift_digestion != 0 %></td>
                <td><%= (@kansai_rakuten_casa_profit_sum / kansai_casa_shift_digestion).round().to_s(:delimited) if kansai_casa_shift_digestion != 0 %></td>
                <td><%= (@sum_profit / shift_digestion_sum).round().to_s(:delimited) if shift_digestion_sum != 0 %></td>
            </tr>
            <tr>
                <th>前週比</th>
                <td><%= ((@chubu_cash_sum_profit / chubu_cash_shift_digestion) - (@chubu_cash_sum_profit_last_week / chubu_cash_shift_digestion_last_week)).to_s(:delimited) if chubu_cash_shift_digestion != 0 && chubu_cash_shift_digestion_last_week != 0 %></td>
                <td><%= ((@chubu_rakuten_casa_profit_sum / chubu_casa_shift_digestion)  - (@chubu_rakuten_casa_profit_sum_last_week / chubu_casa_shift_digestion_last_week)).round().to_s(:delimited) if chubu_cash_shift_digestion != 0 && chubu_casa_shift_digestion_last_week != 0 %></td>
                <td><%= ((@kanto_cash_sum_profit / kanto_cash_shift_digestion) - (@kanto_cash_sum_profit_last_week / kanto_cash_shift_digestion_last_week)).to_s(:delimited) if kanto_cash_shift_digestion != 0 && kanto_cash_shift_digestion_last_week != 0 %></td>
                <td><%= ((@kanto_rakuten_casa_profit_sum / kanto_casa_shift_digestion)  - (@kanto_rakuten_casa_profit_sum_last_week / kanto_casa_shift_digestion_last_week)).round().to_s(:delimited) if kanto_casa_shift_digestion != 0 && kanto_casa_shift_digestion_last_week != 0 %></td>
                <td><%= ((@kansai_cash_sum_profit / kansai_cash_shift_digestion) - (@kansai_cash_sum_profit_last_week / kansai_cash_shift_digestion_last_week)).to_s(:delimited) if kansai_cash_shift_digestion != 0 && kansai_cash_shift_digestion_last_week != 0 %></td>
                <td><%= ((@kansai_rakuten_casa_profit_sum / kansai_casa_shift_digestion)  - (@kansai_rakuten_casa_profit_sum_last_week / kansai_casa_shift_digestion_last_week)).round().to_s(:delimited) if kansai_casa_shift_digestion != 0 && kansai_casa_shift_digestion_last_week != 0 %></td>
                <td><%((@sum_profit / shift_digestion_sum) - (@sum_profit_last_week / sum_shift_last_week)).round().to_s(:delimited) if shift_digestion_sum != 0 || sum_shift_last_week != 0 %></td>
            </tr>
            <tr>
                <th>終着見込売上</th>
                <td><%= ((@chubu_cash_sum_profit / chubu_cash_shift_digestion) * chubu_cash_shift).to_s(:delimited) if chubu_cash_shift_digestion != 0 && chubu_cash_shift != 0 %></td>
                <td><%= ((@chubu_rakuten_casa_profit_sum / chubu_casa_shift_digestion) * chubu_casa_shift).round().to_s(:delimited) if chubu_casa_shift_digestion != 0 && chubu_casa_shift != 0 %></td>
                <td><%= ((@kanto_cash_sum_profit / kanto_cash_shift_digestion) * kanto_cash_shift).to_s(:delimited) if kanto_cash_shift_digestion != 0 && kanto_cash_shift != 0 %></td>
                <td><%= ((@kanto_rakuten_casa_profit_sum / kanto_casa_shift_digestion) * kanto_casa_shift).round().to_s(:delimited) if kanto_casa_shift_digestion != 0 && kanto_casa_shift != 0 %></td>
                <td><%= ((@kansai_cash_sum_profit / kansai_cash_shift_digestion) * kansai_cash_shift).to_s(:delimited) if kansai_cash_shift_digestion != 0 && kansai_cash_shift != 0 %></td>
                <td><%= ((@kansai_rakuten_casa_profit_sum / kansai_casa_shift_digestion) * kansai_casa_shift).round().to_s(:delimited) if kansai_casa_shift_digestion != 0 && kansai_casa_shift != 0 %></td>
                <td><%= ((@sum_profit / shift_digestion_sum) * sum_shift).round().to_s(:delimited) if shift_digestion_sum != 0 || sum_shift != 0 %></td>
            </tr>
        </table>
<% else %>
<% end %>