<%# 基準値 %>
  <%# 総合基準値ラベル %>
    <table >
    <tr>
      <th rowspan="3">全商材合計</th>
      <th colspan="3">売上</th>
      <th colspan="7">基準値</th>
    </tr>
    <tr>
      <th>平均売上</th>
      <th>現状売上</th>
      <th>予想終着</th>
      <th>訪問数</th>
      <th>対面率</th>
      <th>対面数</th>
      <th>フル率</th>
      <th>フル数</th>
      <th>成約率</th>
      <th>平均獲得数</th>
    </tr>
      <% dmer_profit = Dmer.where(date: @results.minimum(:date)..@results.maximum(:date) ) %>
      <% visit = basic_results.sum(:first_visit).to_f + basic_results.sum(:latter_visit).to_f %>
      <% interview = basic_results.sum(:first_interview).to_f + basic_results.sum(:latter_interview).to_f %>
      <% full_talk = basic_results.sum(:first_full_talk).to_f + basic_results.sum(:latter_full_talk).to_f %>
      <% get = basic_results.sum(:first_get).to_f + basic_results.sum(:latter_get).to_f %>
      <% cash_ave = @results.where(shift: "キャッシュレス新規").average(:profit).round() rescue 0 %>
      <% settlement_ave = @results.where(shift: "キャッシュレス決済").average(:profit).round() rescue 0 %>
      <% panda_ave = @results.where(shift: "パンダ").average(:profit).round() rescue 0 %>
      <% casa_ave = @results.where(shift: "フェムト").average(:profit).round() rescue 0 %>
  <%# 総合基準値値 %>
    <tr>
      <td class="search-td"><%= @results.where.not(shift: "内勤").where.not(shift: "帯同").where.not(shift: "休み").where.not(shift: "欠勤").average(:profit).round().to_s(:delimited) rescue 0 %></td>
      <td ><%= @results.sum(:profit).to_s(:delimited) %></td>
      <% if shift_sum == 0 || shift_sum.empty? %>
      <td>シフトを入力してください</td>
      <% else %>
      <td ><%= (cash_ave * new_shift + settlement_ave * settlement_shift + panda_ave * panda_shift).to_s(:delimited) %></td>
      <% end %>
      <td class="search-td"><%= ( visit / basic_results.length).round(1) %></td>
      <td class="search-td"><%= number_to_percentage(interview / visit * 100, precision: 1) rescue 0 %></td>
      <td class="search-td"><%=  (interview / @results.length).round(1) %></td>
      <td class="search-td"><%= number_to_percentage(full_talk / interview * 100 , precision: 1) rescue 0 %></td>
      <td class="search-td"><%= ( full_talk / basic_results.length).round(1) %></td>
      <td class="search-td"><%= number_to_percentage(get / full_talk * 100, precision: 1) rescue 0 %></td>
      <td class="search-td"><%= ( get / basic_results.length).round(1) rescue 0 %></td>
    </tr>
  <%# キャッシュレス基準値早見表 %>
    <% if @results.where(shift: "キャッシュレス新規").empty? %>
    <% else %>
    <tr >
      <th>キャッシュレス</th>
      <th>平均売上</th>
      <th>現状売上</th>
      <th>予想終着</th>
      <th rowspan="2">獲得商材</th>
      <th>dメル（新規）</th>
      <th>dメル（決済）</th>
      <th>aupay（新規）</th>
      <th>aupay（決済）</th>
      <th>PayPay（新規）</th>
    </tr>
    <tr>
      <th>新規</th>
      <td class="search-td"><%= cash_ave.to_s(:delimited) %></td>
      <td class="search-td"><%= @results.where(shift: "キャッシュレス新規").sum(:profit).to_s(:delimited) %></td>
      <% if new_shift == 0 %>
      <td class="search-td">シフトを入力してください</td>
      <% else %>
      <td class="search-td"><%= (cash_ave * new_shift).to_s(:delimited) %></td>
      <% end %>
      <td class="search-td"><%= @results.where(shift: "キャッシュレス新規").sum(:dmer) %></td>
      <td class="search-td"><%= @results.sum(:dmer_settlement) %></td>
      <td class="search-td"><%= @results.where(shift: "キャッシュレス新規").sum(:aupay) %></td>
      <td class="search-td"><%= @results.sum(:aupay_settlement) %></td>
      <td class="search-td"><%= @results.where(shift: "キャッシュレス新規").sum(:paypay) %></td>
    </tr>
    <% end %>
    <%# キャッシュレス決済 %>
      <% if @results.where(shift: "キャッシュレス決済").empty? %>
      <% else %>
      <tr>
        <th>決済</th>
        <td class="search-td"><%= settlement_ave.to_s(:delimited) %></td>
        <td class="search-td"><%= @results.where(shift: "キャッシュレス決済").sum(:profit).to_s(:delimited) %></td>
        <% if settlement_shift == 0 %>
        <td class="search-td">シフトを入力してください</td>
        <% else %> 
        <td class="search-td"><%= (settlement_ave * settlement_shift).to_s(:delimited) %></td>
        <% end %>
        
      </tr>
      <% end %>
    <%# キャッシュレス成約率 %>
      <% if @results.where(shift: "キャッシュレス新規").empty? %>
      <% else %>
      <tr >
        <th rowspan="15">キャッシュ切り返し</th>
        <th colspan="4">どういうこと？</th>
        <th colspan="4">君は誰？教会？</th>
        <th colspan="4">もらうだけでいいの？</th>
      </tr>
      <tr>
      <% 3.times do %>
        <th>対面</th>
        <th>フル</th>
        <th>獲得</th>
        <th>成約率</th>
      <% end %>
      </tr>
      <tr>
        <td class="search-td"><%= @results.sum(:cashless_what_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_what_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_what_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:cashless_what_get).to_f / @results.sum(:cashless_what_full_talk) *100,precision: 1) rescue 0 %></td>
        <td class="search-td"><%= @results.sum(:cashless_who_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_who_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_who_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:cashless_who_get).to_f / @results.sum(:cashless_who_full_talk) *100,precision: 1) rescue 0 %></td>
        <td class="search-td"><%= @results.sum(:cashless_just_get_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_just_get_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_just_get_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:cashless_just_get_get).to_f / @results.sum(:cashless_just_get_full_talk) *100,precision: 1) rescue 0 %></td>
      </tr>
      <tr>
        <th colspan="4">PayPayのみ</th>
        <th colspan="4">AirPayのみ</th>
        <th colspan="4">カードのみ</th>
      </tr>
      <tr>
      <% 3.times do %>
        <th>対面</th>
        <th>フル</th>
        <th>獲得</th>
        <th>成約率</th>
      <% end %>
      </tr>
      <tr>
        <td class="search-td"><%= @results.sum(:cashless_paypay_only_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_paypay_only_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_paypay_only_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:cashless_paypay_only_get).to_f / @results.sum(:cashless_paypay_only_full_talk) *100,precision: 1) rescue 0 %></td>
        <td class="search-td"><%= @results.sum(:cashless_airpay_only_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_airpay_only_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_airpay_only_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:cashless_airpay_only_get).to_f / @results.sum(:cashless_airpay_only_full_talk) *100,precision: 1) rescue 0 %></td>
        <td class="search-td"><%= @results.sum(:cashless_card_only_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_card_only_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_card_only_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:cashless_card_only_get).to_f / @results.sum(:cashless_card_only_full_talk) *100,precision: 1) rescue 0 %></td>
      </tr>
      <tr>
        <th colspan="4">先延ばし</th>
        <th colspan="4">現金のみ</th>
        <th colspan="4">忙しい</th>
      </tr>
      <tr>
      <% 3.times do %>
        <th>対面</th>
        <th>フル</th>
        <th>獲得</th>
        <th>成約率</th>
      <% end %>
      </tr>
      <tr >
        <td class="search-td"><%= @results.sum(:cashless_yet_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_yet_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_yet_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:cashless_yet_get).to_f / @results.sum(:cashless_yet_full_talk) *100,precision: 1) rescue 0 %></td>
        <td class="search-td"><%= @results.sum(:cashless_cash_only_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_cash_only_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_cash_only_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:cashless_cash_only_get).to_f / @results.sum(:cashless_cash_only_full_talk) *100,precision: 1) rescue 0 %></td>
        <td class="search-td"><%= @results.sum(:cashless_busy_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_busy_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_busy_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:cashless_busy_get).to_f / @results.sum(:cashless_busy_full_talk) *100,precision: 1) rescue 0 %></td>
      </tr>
      <tr >
        <th colspan="4">面倒くさい</th>
        <th colspan="4">情報不足</th>
        <th colspan="4">ペロ</th>
      </tr>
      <tr>
      <% 3.times do %>
        <th>対面</th>
        <th>フル</th>
        <th>獲得</th>
        <th>成約率</th>
      <% end %>
      </tr>
      <tr>
        <td class="search-td"><%= @results.sum(:cashless_dull_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_dull_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_dull_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:cashless_dull_get).to_f / @results.sum(:cashless_dull_full_talk) *100,precision: 1) rescue 0 %></td>
        <td class="search-td"><%= @results.sum(:cashless_lack_info_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_lack_info_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_lack_info_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:cashless_lack_info_get).to_f / @results.sum(:cashless_lack_info_full_talk) *100,precision: 1) rescue 0 %></td>
        <td class="search-td"><%= @results.sum(:cashless_easy_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_easy_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_easy_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:cashless_easy_get).to_f / @results.sum(:cashless_easy_full_talk) *100,precision: 1) rescue 0 %></td>
      </tr>

      <tr>
        <th colspan="4">その他</th>
        <th colspan="8"></th>
      </tr>
      <tr>
        <th>対面</th>
        <th>フル</th>
        <th>獲得</th>
        <th>成約率</th>
      <% 8.times do %>
        <td rowspan="2" class="td-blank"></td>
      <% end %>
      </tr>
      <tr>
        <td class="search-td"><%= @results.sum(:cashless_other_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_other_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:cashless_other_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:cashless_other_get).to_f / @results.sum(:cashless_other_full_talk) *100,precision: 1) rescue 0 %></td>
      </tr>
      <tr>


      </tr>
        <% end %>
    <%# フェムト基準値早見表 %>
      <% if @results.where(shift: "フェムト").empty? %>
      <% else %>
      <tr>
        <th rowspan="2">フェムト</th>
        <th>平均売上</th>
        <th>現状売上</th>
        <th>予想終着</th>
        <th>フェムト平均獲得数</th>
        <th>フェムト現状獲得数</th>
        <th>フェムト現状設置数</th>
      </tr>
      <tr>
        <td class="search-td"><%= casa_ave.to_s(:delimited) %></td>
        <td class="search-td"><%= @results.where(shift: "フェムト").sum(:profit).to_s(:delimited) %></td>
        <% if casa_shift == 0 %>
        <td class="search-td">予定シフトが入力されていません</td>
        <% else %>
        <td class="search-td"><%=  (casa_ave * casa_shift).to_s(:delimited) %></td>
        <% end %>
        <td class="search-td"><%= @results.where(shift: "フェムト").average(:rakuten_casa).round(1) %></td>
        <td class="search-td"><%= @results.where(shift: "フェムト").sum(:rakuten_casa).round(1) %></td>
        <td class="search-td"><%= @results.where(shift: "楽天フェムト設置").sum(:rakuten_casa_put).round(1) %></td>
      </tr>
    <%# フェムト切り返し %>
      <tr>
        <th rowspan="12">フェムト切り返し</th>
        <th colspan="4">忙しい</th>
        <th colspan="4">面倒くさい</th>
        <th colspan="4">置く場所がない</th>
      </tr>
      <tr>
      <% 3.times do %>
        <th>対面</th>
        <th>フル</th>
        <th>獲得</th>
        <th>成約率</th>
      <% end %>
      </tr>
      <tr>
        <td class="search-td"><%= @results.sum(:casa_busy_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:casa_busy_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:casa_busy_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:casa_busy_get).to_f / @results.sum(:casa_busy_full_talk).to_f * 100,precision: 1) rescue 0 %></td>
        <td class="search-td"><%= @results.sum(:casa_dull_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:casa_dull_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:casa_dull_get).to_f / @results.sum(:casa_dull_full_talk).to_f * 100,precision: 1) rescue 0 %></td>
        <td class="search-td"><%= @results.sum(:casa_not_put_space_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:casa_not_put_space_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:casa_not_put_space_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:casa_not_put_space_get).to_f / @results.sum(:casa_not_put_space_full_talk).to_f * 100,precision: 1) rescue 0 %></td>
      </tr>
      <tr>
        <th colspan="4">メリットがない</th>
        <th colspan="4">不審</th>
        <th colspan="4">回線を使われたくない</th>
      </tr>
      <tr>
      <% 3.times do %>
        <th>対面</th>
        <th>フル</th>
        <th>獲得</th>
        <th>成約率</th>
      <% end %>
      </tr>
      <tr>
        <td class="search-td"><%= @results.sum(:casa_no_merit_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:casa_no_merit_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:casa_no_merit_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:casa_no_merit_get).to_f / @results.sum(:casa_no_merit_full_talk).to_f * 100,precision: 1) rescue 0 %></td>
        <td class="search-td"><%= @results.sum(:casa_distrust_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:casa_distrust_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:casa_distrust_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:casa_distrust_get).to_f / @results.sum(:casa_distrust_full_talk).to_f * 100,precision: 1) rescue 0 %></td>
        <td class="search-td"><%= @results.sum(:casa_not_use_net_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:casa_not_use_net_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:casa_not_use_net_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:casa_not_use_net_get).to_f / @results.sum(:casa_not_use_net_full_talk).to_f * 100,precision: 1) rescue 0 %></td>
      </tr>
      <tr>
        <th colspan="4">結構です</th>
        <th colspan="4">ペロ</th>
        <th colspan="4">その他</th>
      </tr>
      <tr>
      <% 3.times do %>
        <th>対面</th>
        <th>フル</th>
        <th>獲得</th>
        <th>成約率</th>
      <% end %>
      </tr>

      <tr>
        <td class="search-td"><%= @results.sum(:casa_not_need_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:casa_not_need_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:casa_not_need_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:casa_not_need_get).to_f / @results.sum(:casa_not_need_full_talk).to_f * 100,precision: 1) rescue 0 %></td>
        <td class="search-td"><%= @results.sum(:casa_easy_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:casa_easy_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:casa_easy_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:casa_easy_get).to_f / @results.sum(:casa_easy_full_talk).to_f * 100,precision: 1) rescue 0 %></td>
        <td class="search-td"><%= @results.sum(:casa_other_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:casa_other_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:casa_other_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:casa_other_get).to_f / @results.sum(:casa_other_full_talk).to_f * 100,precision: 1) rescue 0 %></td>
      </tr>
      <% end %>
    <%# パンダ成約率 %>
      <% if @results.where(shift: "パンダ").empty? %>
      <% else %>
      <tr>
        <th rowspan="2">パンダ</th>
        <th>平均売上</th>
        <th>現状売上</th>
        <th>予想終着</th>
        <th>パンダ平均獲得数</th>
        <th>パンダ合計獲得数</th>
      </tr>
      <tr>
        <td class="search-td"><%= panda_ave.to_s(:delimited) %></td>
        <td class="search-td"><%= @results.where(shift: "パンダ").sum(:profit).to_s(:delimited) %></td>
        <% if panda_shift == 0 %>
        <td class="search-td">パンダシフトがありません</td>
        <% else %>
        <td class="search-td"><%=  (panda_ave * panda_shift).to_s(:delimited) %></td>
        <% end %>
        <td class="search-td"><%= @results.average(:panda).round(1) %></td>
        <td class="search-td"><%= @results.sum(:panda).round().to_s(:delimited) %></td>
      </tr>
      <tr>
        <th rowspan="4" class="th-side-head">パンダ切り返し</th>
        <th>結構です</th>
        <th>忙しい</th>
        <th>検討する</th>
        <th>デリバリーはいい</th>
        <th>増やしたくない</th>
      </tr>
      <tr>
        <td class="search-td"><%= number_to_percentage(@results.sum(:panda_not_need_get).to_f / @results.sum(:panda_not_need_full_talk) * 100,precision: 1) rescue 0 %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:panda_busy_get).to_f / @results.sum(:panda_busy_full_talk) * 100,precision: 1) rescue 0 %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:panda_yet_get).to_f / @results.sum(:panda_yet_full_talk) * 100,precision: 1) rescue 0 %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:panda_not_delivery_get).to_f / @results.sum(:panda_not_delivery_full_talk) * 100,precision: 1) rescue 0 %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:panda_not_increment_get).to_f / @results.sum(:panda_not_increment_full_talk) * 100,precision: 1) rescue 0 %></td>
      </tr>
      
      <tr>
        <th>やる余裕がない</th>
        <th>面倒くさい</th>
        <th>情報不足</th>
        <th>フードネコ</th>
        <th>ペロ</th>
        <th>その他</th>
      </tr>

      <tr>
        <td class="search-td"><%= number_to_percentage(@results.sum(:panda_not_margin_get).to_f / @results.sum(:panda_not_margin_full_talk) * 100,precision: 1) rescue 0 %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:panda_dull_get).to_f / @results.sum(:panda_dull_full_talk) * 100,precision: 1) rescue 0 %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:panda_lack_info_get).to_f / @results.sum(:panda_lack_info_full_talk) * 100,precision: 1) rescue 0 %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:panda_food_neko_get).to_f / @results.sum(:panda_food_neko_full_talk) * 100,precision: 1) rescue 0 %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:panda_easy_get).to_f / @results.sum(:panda_easy_full_talk) * 100,precision: 1) rescue 0 %></td>

        <td class="search-td"><%= number_to_percentage(@results.sum(:panda_other_get).to_f / @results.sum(:panda_other_full_talk) * 100,precision: 1) rescue 0 %></td>
      </tr>
      </table>
      <% end %>
    
  <%# サミット使用量、従量など %>
      <% if @results.where(shift: "サミット").empty? %>
      <% else %>
      <table >
        <tr >
            <% summit = @summits.where(get_date: @results.minimum(:date)..@results.maximum(:date)) %>
            <% amount_sum = summit.sum(:amount_use) %>
            <% metered_lamp_sum = summit.where.not(contract_type: "低圧電力").sum(:contract_cap) %>
            <% low_voltage_sum = summit.where.not(contract_type: "低圧電力").sum(:contract_cap) %>
            <% summit_shift = @results.where(shift: "サミット").length %>
        <tr class="">
          <th>サミット月間獲得</th>
          <th>従量電灯</th>
          <th>低圧電力</th>
          <th>使用量</th>
          <th>獲得件数（従量）</th>
          <th>獲得件数（動力）</th>
        </tr>
        <tr class="">
          <th>合計</th>
          <td ><%= metered_lamp_sum %>kWh</td>
          <td ><%= low_voltage_sum %>kW</td>
          <td ><%= amount_sum %>kWh</td>
          <td ><%= @results.sum(:summit_metered_lamp) %></td>
          <td ><%= @results.sum(:summit_power) %></td>
        </tr>

        <tr class="">
          <td>平均</th>
          <td class="search-td"><%= metered_lamp_sum / summit_shift rescue 0 %>kWh</td>
          <td class="search-td"><%= low_voltage_sum / summit_shift rescue 0 %>kW</td>
          <td class="search-td"><%= amount_sum / summit_shift rescue 0 %>kWh</td>
          <td class="search-td"><%= @results.where(shift: "サミット").average(:summit_metered_lamp).round(1) %></td>
          <td class="search-td"><%= @results.where(shift: "サミット").average(:summit_power).round(1) %></td>

        </tr>
  <%# サミット成約率 %>
      <tr>
        <th rowspan="12">サミット成約率</th>
        <th colspan="4">明細</th>
        <th colspan="4">引き落とし拒否</th>
        <th colspan="4">忙しい</th>
        
      </tr>
      <tr>
        <th>なし合計</th>
        <th>なし平均</th>
        <th>NG合計</th>
        <th>NG平均</th>
      <% 2.times do %>
        <th>対面</th>
        <th>フル</th>
        <th>獲得</th>
        <th>成約率</th>
      <% end %>
      </tr>
      <tr>
        <td class="search-td"><%= @results.sum(:summit_no_detail).round(1) %></td>
        <td class="search-td"><%= @results.where(shift: "サミット").average(:summit_no_detail).round(1) %></td>
        <td class="search-td"><%= @results.sum(:summit_ng_detail).round(1) %></td>
        <td class="search-td"><%= @results.where(shift: "サミット").average(:summit_ng_detail).round(1) %></td>
        <td class="search-td"><%= @results.sum(:summit_reject_cash_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:summit_reject_cash_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:summit_reject_cash_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:summit_reject_cash_get).to_f / @results.sum(:summit_reject_cash_full_talk) *100,precision: 1) rescue 0 %></td>
        <td class="search-td"><%= @results.sum(:summit_busy_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:summit_busy_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:summit_busy_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:summit_busy_get).to_f / @results.sum(:summit_busy_full_talk) * 100, precision: 1) rescue 0 %></td>

      </tr>
      <tr>
        <th colspan="4">怪しい</th>
        <th colspan="4">検討したい</th>
        <th colspan="4">変えたくない</th>
      </tr>
      <tr>
      <% 3.times do %>
        <th>対面</th>
        <th>フル</th>
        <th>獲得</th>
        <th>成約率</th>
      <% end %>
      </tr>
      <tr>
        <td class="search-td"><%= @results.sum(:summit_doubt_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:summit_doubt_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:summit_doubt_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:summit_doubt_get).to_f / @results.sum(:summit_doubt_full_talk) * 100, precision: 1) rescue 0 %></td>
        <td class="search-td"><%= @results.sum(:summit_yet_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:summit_yet_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:summit_yet_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:summit_yet_get).to_f / @results.sum(:summit_yet_full_talk) * 100,precision: 1) rescue 0 %></td>
        <td class="search-td"><%= @results.sum(:summit_not_change_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:summit_not_change_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:summit_not_change_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:summit_not_change_get).to_f / @results.sum(:summit_not_change_full_talk) * 100,precision: 1) rescue 0 %></td>

      </tr>
      <tr>
        <th colspan="4">ペロ</th>
        <th colspan="4">その他</th>
        <td colspan="4" rowspan="3" class="td-blank"></td>
      </tr>
      <tr>
        <% 2.times do %>
        <th>対面</th>
        <th>フル</th>
        <th>獲得</th>
        <th>成約率</th>
        <% end %>
      </tr>
      <tr>
        <td class="search-td"><%= @results.sum(:summit_other_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:summit_other_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:summit_other_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:summit_other_get).to_f / @results.sum(:summit_other_full_talk) * 100, precision: 1) rescue 0 %></td>
        <td class="search-td"><%= @results.sum(:summit_easy_interview).round(1) %></td>
        <td class="search-td"><%= @results.sum(:summit_easy_full_talk).round(1) %></td>
        <td class="search-td"><%= @results.sum(:summit_easy_get).round(1) %></td>
        <td class="search-td"><%= number_to_percentage(@results.sum(:summit_easy_get).to_f / @results.sum(:summit_easy_full_talk) * 100,precision: 1) rescue 0 %></td>

      </tr>
      </table>
      <% end %>
    

      <% break %>
      <% end %>
  <%#帯同%>
      <table class="n-result-table">
      <% if @results.where(ojt_id: nil).blank? %>
      <% else %>
        <% @results.where.not(ojt_id: nil).each do |result| %>
          <% ojt_prev = @results.where(date: result.date.ago(7.days)..result.date.ago(1.days)).where.not(shift: 'キャッシュレス決済').where.not(shift: '休み').where.not(shift: '内勤') %>
          <% ojt_next = @results.where(date: result.date.tomorrow..result.date.since(7.days)).where.not(shift: 'キャッシュレス決済').where.not(shift: '休み').where.not(shift: '内勤') %>
          <% ojt_date = result.date %>
          <% week_prev = result.date.ago(7.days) %>
          <% week_next = result.date.since(7.days) %>
      <table>
        <tr>
          <th>帯同資料　</th>
          <th>帯同者：</th>
          <th><%= result.ojt.name %></th>
        </tr>
        <tr >
          <th>帯同日</th>
          <th>平均売上</th>
          <th>訪問</th>
          <th>対面</th>
          <th>フル</th>
          <th>獲得</th>
          <th rowspan="2">確認期間</th>
        <%# 帯同日 %>
        <tr >
            <td ><%= result.date.month %>月<%= result.date.day %>日</td>
            <td ><%= result.profit.to_s(:delimited) %></td>
            <td ><%= result.first_visit + result.latter_visit %></td>
            <td ><%= result.first_interview + result.latter_interview %></td>
            <td ><%= result.first_full_talk + result.latter_full_talk %></td>
            <td ><%= result.first_get + result.latter_get %></td>
        </tr>
        <%# 帯同前 %>
          <tr >
            <th>帯同前</th>
            <% if ojt_prev.empty? %>
            <td ><%= ojt_prev_profit = "確認対象なし" %></td>
            <td colspan="4"></td>
            <% else %>
            <% ojt_prev_profit = ojt_prev.average(:profit).round() %>
            <td ><%= ojt_prev_profit.to_s(:delimited) %></td>
            <td ><%= ojt_prev_visit = ojt_prev.average(:first_visit).round(1) + ojt_prev.average(:latter_visit).round(1) %></td>
            <td ><%= ojt_prev_interview = ojt_prev.average(:first_interview).round(1) + ojt_prev.average(:latter_interview).round(1) %></td>
            <td ><%= ojt_prev_full_talk = ojt_prev.average(:first_full_talk).round(1) + ojt_prev.average(:latter_full_talk).round(1) %></td>
            <td ><%= ojt_prev_get = ojt_prev.average(:first_get).round(1) + ojt_prev.average(:latter_get).round(1) %></td>
            <% end %>
            <td ><%= week_prev.month %>月<%= week_prev.day%>日〜<%= ojt_date.month %>月<%= ojt_date.ago(1.days).day %>日</td>
          </tr>
        <%# 帯同後 %>
          <tr >
            <th>帯同後</th>
            <% if ojt_next.empty? %>
            <td ><%= ojt_prev_profit = "確認対象なし" %></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <% else %>
            <% ojt_next_profit = ojt_next.average(:profit).round() %>
            <td ><%= ojt_next_profit.to_s(:delimited) %></td>
            <td ><%= ojt_next_visit = ojt_next.average(:first_visit).round(1) + ojt_next.average(:latter_visit).round(1) %></td>
            <td ><%= ojt_next_interview = ojt_next.average(:first_interview).round(1) + ojt_next.average(:latter_interview).round(1) %></td>
            <td ><%= ojt_next_full_talk = ojt_next.average(:first_full_talk).round(1) + ojt_next.average(:latter_full_talk).round(1) %></td>
            <td ><%= ojt_next_get = ojt_next.average(:first_get).round(1) + ojt_next.average(:latter_get).round(1) %></td>
            <td ><%= ojt_date.tomorrow.month %>月<%= ojt_date.tomorrow.day %>日〜<%= week_next.month %>月<%= week_next.day %>日</td>
          </tr>
          <% end %>
        <%# 帯同結果 %>
          <tr>
          <% if ojt_prev.empty? || ojt_next.empty? %>
          <% else %>
            <th>帯同結果</th>
            <% if ojt_next_profit >= ojt_prev_profit %>
            <td style="color: blue; font-weight: bold;"> ＋<%= (ojt_next_profit - ojt_prev_profit).to_s(:delimited) %></td>
            <% else %>
            <td style="color: red;"><%= (ojt_next_profit - ojt_prev_profit).to_s(:delimited) %></td>
            <% end %>
            <% if ojt_next_visit >= ojt_prev_visit %>
            <td style="color: blue; font-weight: bold;"> ＋<%= ojt_next_visit - ojt_prev_visit %></td>
            <% else %>
            <td style="color: red;"><%= ojt_next_visit - ojt_prev_visit %></td>
            <% end %>
            <% if ojt_next_interview >= ojt_prev_interview %>
            <td style="color: blue; font-weight: bold;"> ＋<%= ojt_next_interview - ojt_prev_interview %></td>
            <% else %>
            <td style="color: red;"><%= ojt_next_interview - ojt_prev_interview %></td>
            <% end %>
            <% if ojt_next_full_talk >= ojt_prev_full_talk %>
            <td style="color: blue; font-weight: bold;"> ＋<%= ojt_next_full_talk - ojt_prev_full_talk %></td>
            <% else %>
            <td style="color: red;"><%= ojt_next_full_talk - ojt_prev_full_talk %></td>
            <% end %>
            <% if ojt_next_get >= ojt_prev_get %>
            <td style="color: blue; font-weight: bold;"> ＋<%= ojt_next_get - ojt_prev_get %></td>
            <% else %>
            <td style="color: red;"><%= ojt_next_get - ojt_prev_get %></td>
            <% end %>

          <% end %>
          </tr>
        <% end %>
        <% end %>
        </table>
  
  <%# 日々終着一覧（見出し） %>
    <table >

      </tr>
<% @results.each do |result| %>
    <%# 大枠基準値（値） %>
      <tr>

  <% end %>
  </tr>
</table>