<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<%# 個別利益表 %>
    <h1>表示範囲：<%= @results.minimum(:date) %>（<%= days[@results.minimum(:date).wday] %>）〜<%= @results.maximum(:date) %>（<%= days[@results.maximum(:date).wday] %>）</h1>
    <h1>
      <% @results.each do |result| %>
        拠点：
        <%= result.user.base %>
        <%= result.user.base_sub %>
        <%= result.user.name %>
    </h1>
<div >
<%# シフト %>
  <table >
    <tr >
      <th class="th-head">シフト（メイン商材）</th>
      <th class="th-head">予定</th>
      <th class="th-head">消化</th>
      <th class="th-head">残シフト</th>
      <th class="th-head">欠勤</th>
    </tr>
    <tr class="result-shit-tr">
      <% new_shift = 0 %>
      <% settlement_shift = 0 %>
      <% summit_shift = 0 %>
      <% casa_shift = 0 %>
      <% casa_put_shift = 0 %>
      <% panda_shift = 0 %>
      <% ojt_shift = 0 %>
      <% house_work_shift = 0 %>
      <% @shifts.each do |shift| %>
        <% if shift.year == result.date.year && shift.month == result.date.month && shift.user.name == result.user.name %>
          <% new_shift = shift.cashless_new %>
          <% settlement_shift = shift.cashless_settlement %>
          <% summit_shift = shift.summit %>
          <% casa_shift = shift.rakuten_casa %>
          <% casa_put_shift= shift.rakuten_casa_put %>
          <% panda_shift = shift.panda %>
          <% ojt_shift = shift.ojt %>
          <% house_work_shift = shift.house_work %> 
        <% end %>
      <% end %>
    </tr>
    <tr class="result-shit-tr">
      <th class="th-side-head-even">キャッシュレス新規</th><%# 欠勤 %>
          <td ><%= new_shift %></td>
          <td ><%= digestion_new = @results.where(shift: "キャッシュレス新規").length %></td>
          <td ><%= new_shift - digestion_new %></td>
          <td style="color:red; font-weight:bold;"><%= absence = @results.where(shift: "欠勤").length %></td>
      </tr>
    <tr class="result-shit-tr">
      <th class="th-side-head">キャッシュレス決済</th>
          <td ><%= settlement_shift %></td>
          <td ><%= digestion_settlement = @results.where(shift: "キャッシュレス決済").length %></td>
          <td ><%= settlement_shift - digestion_settlement %></td>
    </tr>
    <tr class="result-shit-tr">
      <th class="th-side-head-even">サミット</th>
          <td ><%= summit_shift %></td>
          <td ><%= digestion_summit = @results.where(shift: "サミット").length %></td>
          <td ><%= summit_shift - digestion_summit %></td>
    </tr>
    <tr class="result-shit-tr">
      <th class="th-side-head">パンダ</th>
          <td ><%= panda_shift %></td>
          <td ><%= digestion_panda = @results.where(shift: "パンダ").length %></td>
          <td ><%= panda_shift - digestion_panda %></td>
    </tr>
    <tr class="result-shit-tr">
      <th class="th-side-head-even">フェムト</th>
          <td ><%= casa_shift %></td>
          <td ><%= digestion_casa = @results.where(shift: "フェムト").length %></td>
          <td ><%= casa_shift - digestion_casa %></td>
    </tr>
    <tr class="result-shit-tr">
      <th class="th-side-head">フェムト（設置）</th>
          <td ><%= casa_put_shift %></td>
          <td ><%= digestion_casa_put = @results.where(shift: "フェムト（設置）").length %></td>
          <td ><%= casa_put_shift - digestion_casa_put %></td>
    </tr>
    <tr class="result-shit-tr">
      <th class="th-side-head-even">帯同</th>
          <td ><%= ojt_shift %></td>
          <td ><%= digestion_ojt = @results.where(shift: "帯同").length %></td>
          <td ><%= ojt_shift - digestion_ojt %></td>
    </tr>
    <tr class="result-shit-tr">
      <th class="th-side-head">内勤</th>
          <td ><%= house_work_shift %></td>
          <td ><%= digestion_house_work = @results.where(shift: "内勤").length %></td>
          <td ><%= house_work_shift - digestion_house_work %></td>
    </tr>
    <tr class="result-shit-tr">
      <th class="th-head">合計</th>
          <td class="td-sum"><%= shift_sum = new_shift + settlement_shift + summit_shift + panda_shift + casa_shift + casa_put_shift + ojt_shift + house_work_shift %></td>
          <td ><%= digestion_sum = digestion_new + digestion_settlement + digestion_summit + digestion_panda + digestion_casa + digestion_casa_put + digestion_ojt + digestion_house_work + absence %></td>
          <td ><%= shift_sum - digestion_sum %></td>
    </tr>
  </table>
  <% if shift_sum == 0 %>
    <h2 class="warning">予定シフトがありません。シフト申請を行ってください</h2>
  <% end %>
<%# 基準値 %>
  <%# 総合基準値ラベル %>
    <table >
    <tr>
      <th rowspan="3" class="th-head">全商材合計</th>
      <th colspan="3" class="th-head">売上</th>
      <th colspan="7" class="th-head">基準値</th>
    </tr>
    <tr>
      <th class="th-head-sub">平均売上</th>
      <th class="th-head-sub">現状売上</th>
      <th class="th-head-sub">予想終着</th>
      <th class="th-head-sub">訪問数</th>
      <th class="th-head-sub">対面率</th>
      <th class="th-head-sub">対面数</th>
      <th class="th-head-sub">フル率</th>
      <th class="th-head-sub">フル数</th>
      <th class="th-head-sub">成約率</th>
      <th class="th-head">平均獲得数</th>
    </tr>
      <% basic_results = @results.where.not(shift: "キャッシュレス決済").where.not(shift: "内勤").where.not(shift: "帯同").where.not(shift: "フェムト（設置）").where.not(shift: "欠勤").where.not(shift: "休み") %>
      <% visit = basic_results.sum(:first_visit).to_f + basic_results.sum(:latter_visit).to_f %>
      <% interview = basic_results.sum(:first_interview).to_f + basic_results.sum(:latter_interview).to_f %>
      <% full_talk = basic_results.sum(:first_full_talk).to_f + basic_results.sum(:latter_full_talk).to_f %>
      <% get = basic_results.sum(:first_get).to_f + basic_results.sum(:latter_get).to_f %>
      <% cash_ave = @results.where(shift: "キャッシュレス新規").average(:profit).round() rescue 0 %>
      <% settlement_ave = @results.where(shift: "キャッシュレス決済").average(:profit).round() rescue 0 %>
      <% panda_ave = @results.where(shift: "パンダ").average(:profit).round() rescue 0 %>
      <% casa_ave = @results.where(shift: "フェムト").average(:profit).round() rescue 0 %>
  <%# 総合基準値値 %>
    <tr>
      <td ><%= @results.where.not(shift: "内勤").where.not(shift: "帯同").where.not(shift: "休み").where.not(shift: "欠勤").average(:profit).round().to_s(:delimited) rescue 0 %></td>
      <td ><%= @results.sum(:profit).to_s(:delimited) %></td>
      <% if shift_sum == 0 %>
      <td>シフトを入力してください</td>
      <% else %>
      <td ><%= (cash_ave * new_shift + settlement_ave * settlement_shift + panda_ave * panda_shift).to_s(:delimited) %></td>
      <% end %>
      <td ><%= ( visit / basic_results.length).round(1) %></td>
      <td ><%= number_to_percentage(interview / visit * 100, precision: 1) rescue 0 %></td>
      <td ><%=  (interview / @results.length).round(1) %></td>
      <td ><%= number_to_percentage(full_talk / interview * 100 , precision: 1) rescue 0 %></td>
      <td ><%= ( full_talk / basic_results.length).round(1) %></td>
      <td ><%= number_to_percentage(get / full_talk * 100, precision: 1) rescue 0 %></td>
      <td ><%= ( get / basic_results.length).round(1) rescue 0 %></td>
    </tr>
  <%# キャッシュレス基準値早見表 %>
    <% if @results.where(shift: "キャッシュレス新規").empty? %>
    <% else %>
    <tr >
      <th class="th-side-head-even">キャッシュレス</th>
      <th class="th-head-sub">平均売上</th>
      <th class="th-head-sub">現状売上</th>
      <th class="th-head-sub">予想終着</th>
      <th rowspan="2" class="th-head">獲得商材</th>
      <th class="th-head-sub">dメル（新規）</th>
      <th class="th-head-sub">dメル（決済）</th>
      <th class="th-head-sub">aupay（新規）</th>
      <th class="th-head-sub">aupay（決済）</th>
      <th class="th-head-sub">PayPay（新規）</th>
    </tr>
    <tr>
      <th class="th-side-head-even">新規</th>
      <td ><%= cash_ave.to_s(:delimited) %></td>
      <td ><%= @results.where(shift: "キャッシュレス新規").sum(:profit).to_s(:delimited) %></td>
      <% if new_shift == 0 %>
      <td >シフトを入力してください</td>
      <% else %>
      <td ><%= (cash_ave * new_shift).to_s(:delimited) %></td>
      <% end %>
      <td ><%= @results.where(shift: "キャッシュレス新規").sum(:dmer) %></td>
      <td ><%= @results.sum(:dmer_settlement) %></td>
      <td ><%= @results.where(shift: "キャッシュレス新規").sum(:aupay) %></td>
      <td ><%= @results.sum(:aupay_settlement) %></td>
      <td ><%= @results.where(shift: "キャッシュレス新規").sum(:paypay) %></td>
    </tr>
    <% end %>
    <%# キャッシュレス決済 %>
      <% if @results.where(shift: "キャッシュレス決済").empty? %>
      <% else %>
      <tr>
        <th class="th-side-head-even">決済</th>
        <td ><%= settlement_ave.to_s(:delimited) %></td>
        <td ><%= @results.where(shift: "キャッシュレス決済").sum(:profit).to_s(:delimited) %></td>
        <% if settlement_shift == 0 %>
        <td >シフトを入力してください</td>
        <% else %> 
        <td ><%= (settlement_ave * settlement_shift).to_s(:delimited) %></td>
        <% end %>
        
      </tr>
      <% end %>
    <%# キャッシュレス成約率 %>
      <% if @results.where(shift: "キャッシュレス新規").empty? %>
      <% else %>
      <tr >
        <th rowspan="15" class="th-head">キャッシュ切り返し</th>
        <th class="th-head" colspan="4">どういうこと？</th>
        <th class="th-head" colspan="4">君は誰？教会？</th>
        <th class="th-head" colspan="4">もらうだけでいいの？</th>
      </tr>
      <tr>
      <% 3.times do %>
        <th class="th-head-sub">対面</th>
        <th class="th-head-sub">フル</th>
        <th class="th-head-sub">獲得</th>
        <th class="th-head-sub">成約率</th>
      <% end %>
      </tr>
      <tr>
        <td><%= @results.sum(:cashless_what_interview).round(1) %></td>
        <td><%= @results.sum(:cashless_what_full_talk).round(1) %></td>
        <td><%= @results.sum(:cashless_what_get).round(1) %></td>
        <td ><%= number_to_percentage(@results.sum(:cashless_what_get).to_f / @results.sum(:cashless_what_full_talk) *100,precision: 1) rescue 0 %></td>
        <td><%= @results.sum(:cashless_who_interview).round(1) %></td>
        <td><%= @results.sum(:cashless_who_full_talk).round(1) %></td>
        <td><%= @results.sum(:cashless_who_get).round(1) %></td>
        <td ><%= number_to_percentage(@results.sum(:cashless_who_get).to_f / @results.sum(:cashless_who_full_talk) *100,precision: 1) rescue 0 %></td>
        <td><%= @results.sum(:cashless_just_get_interview).round(1) %></td>
        <td><%= @results.sum(:cashless_just_get_full_talk).round(1) %></td>
        <td><%= @results.sum(:cashless_just_get_get).round(1) %></td>
        <td ><%= number_to_percentage(@results.sum(:cashless_just_get_get).to_f / @results.sum(:cashless_just_get_full_talk) *100,precision: 1) rescue 0 %></td>
      </tr>
      <tr>
        <th class="th-head" colspan="4">PayPayのみ</th>
        <th class="th-head" colspan="4">AirPayのみ</th>
        <th class="th-head" colspan="4">カードのみ</th>
      </tr>
      <tr>
      <% 3.times do %>
        <th class="th-head-sub">対面</th>
        <th class="th-head-sub">フル</th>
        <th class="th-head-sub">獲得</th>
        <th class="th-head-sub">成約率</th>
      <% end %>
      </tr>
      <tr>
        <td><%= @results.sum(:cashless_paypay_only_interview).round(1) %></td>
        <td><%= @results.sum(:cashless_paypay_only_full_talk).round(1) %></td>
        <td><%= @results.sum(:cashless_paypay_only_get).round(1) %></td>
        <td ><%= number_to_percentage(@results.sum(:cashless_paypay_only_get).to_f / @results.sum(:cashless_paypay_only_full_talk) *100,precision: 1) rescue 0 %></td>
        <td><%= @results.sum(:cashless_airpay_only_interview).round(1) %></td>
        <td><%= @results.sum(:cashless_airpay_only_full_talk).round(1) %></td>
        <td><%= @results.sum(:cashless_airpay_only_get).round(1) %></td>
        <td ><%= number_to_percentage(@results.sum(:cashless_airpay_only_get).to_f / @results.sum(:cashless_airpay_only_full_talk) *100,precision: 1) rescue 0 %></td>
        <td><%= @results.sum(:cashless_card_only_interview).round(1) %></td>
        <td><%= @results.sum(:cashless_card_only_full_talk).round(1) %></td>
        <td><%= @results.sum(:cashless_card_only_get).round(1) %></td>
        <td ><%= number_to_percentage(@results.sum(:cashless_card_only_get).to_f / @results.sum(:cashless_card_only_full_talk) *100,precision: 1) rescue 0 %></td>
      </tr>
      <tr>
        <th class="th-head" colspan="4">先延ばし</th>
        <th class="th-head" colspan="4">現金のみ</th>
        <th class="th-head" colspan="4">忙しい</th>
      </tr>
      <tr>
      <% 3.times do %>
        <th class="th-head-sub">対面</th>
        <th class="th-head-sub">フル</th>
        <th class="th-head-sub">獲得</th>
        <th class="th-head-sub">成約率</th>
      <% end %>
      </tr>
      <tr >
        <td><%= @results.sum(:cashless_yet_interview).round(1) %></td>
        <td><%= @results.sum(:cashless_yet_full_talk).round(1) %></td>
        <td><%= @results.sum(:cashless_yet_get).round(1) %></td>
        <td ><%= number_to_percentage(@results.sum(:cashless_yet_get).to_f / @results.sum(:cashless_yet_full_talk) *100,precision: 1) rescue 0 %></td>
        <td><%= @results.sum(:cashless_cash_only_interview).round(1) %></td>
        <td><%= @results.sum(:cashless_cash_only_full_talk).round(1) %></td>
        <td><%= @results.sum(:cashless_cash_only_get).round(1) %></td>
        <td ><%= number_to_percentage(@results.sum(:cashless_cash_only_get).to_f / @results.sum(:cashless_cash_only_full_talk) *100,precision: 1) rescue 0 %></td>
        <td><%= @results.sum(:cashless_busy_interview).round(1) %></td>
        <td><%= @results.sum(:cashless_busy_full_talk).round(1) %></td>
        <td><%= @results.sum(:cashless_busy_get).round(1) %></td>
        <td ><%= number_to_percentage(@results.sum(:cashless_busy_get).to_f / @results.sum(:cashless_busy_full_talk) *100,precision: 1) rescue 0 %></td>
      </tr>
      <tr >
        <th class="th-head" colspan="4">面倒くさい</th>
        <th class="th-head" colspan="4">情報不足</th>
        <th class="th-head" colspan="4">ペロ</th>
      </tr>
      <tr>
      <% 3.times do %>
        <th class="th-head-sub">対面</th>
        <th class="th-head-sub">フル</th>
        <th class="th-head-sub">獲得</th>
        <th class="th-head-sub">成約率</th>
      <% end %>
      </tr>
      <tr>
        <td><%= @results.sum(:cashless_dull_interview).round(1) %></td>
        <td><%= @results.sum(:cashless_dull_full_talk).round(1) %></td>
        <td><%= @results.sum(:cashless_dull_get).round(1) %></td>
        <td ><%= number_to_percentage(@results.sum(:cashless_dull_get).to_f / @results.sum(:cashless_dull_full_talk) *100,precision: 1) rescue 0 %></td>
        <td><%= @results.sum(:cashless_lack_info_interview).round(1) %></td>
        <td><%= @results.sum(:cashless_lack_info_full_talk).round(1) %></td>
        <td><%= @results.sum(:cashless_lack_info_get).round(1) %></td>
        <td ><%= number_to_percentage(@results.sum(:cashless_lack_info_get).to_f / @results.sum(:cashless_lack_info_full_talk) *100,precision: 1) rescue 0 %></td>
        <td><%= @results.sum(:cashless_easy_interview).round(1) %></td>
        <td><%= @results.sum(:cashless_easy_full_talk).round(1) %></td>
        <td><%= @results.sum(:cashless_easy_get).round(1) %></td>
        <td ><%= number_to_percentage(@results.sum(:cashless_easy_get).to_f / @results.sum(:cashless_easy_full_talk) *100,precision: 1) rescue 0 %></td>
      </tr>

      <tr>
        <th class="th-head" colspan="4">その他</th>
        <th class="th-head" colspan="8"></th>
      </tr>
      <tr>
        <th class="th-head-sub">対面</th>
        <th class="th-head-sub">フル</th>
        <th class="th-head-sub">獲得</th>
        <th class="th-head-sub">成約率</th>
      <% 8.times do %>
        <td rowspan="2" class="td-blank"></td>
      <% end %>
      </tr>
      <tr>
        <td><%= @results.sum(:cashless_other_interview).round(1) %></td>
        <td><%= @results.sum(:cashless_other_full_talk).round(1) %></td>
        <td><%= @results.sum(:cashless_other_get).round(1) %></td>
        <td ><%= number_to_percentage(@results.sum(:cashless_other_get).to_f / @results.sum(:cashless_other_full_talk) *100,precision: 1) rescue 0 %></td>
      </tr>
      <tr>


      </tr>
        <% end %>
    <%# フェムト基準値早見表 %>
      <% if @results.where(shift: "フェムト").empty? %>
      <% else %>
      <tr>
        <th rowspan="2" class="th-head">フェムト</th>
        <th class="th-head">平均売上</th>
        <th class="th-head">現状売上</th>
        <th class="th-head">予想終着</th>
        <th class="th-head">フェムト平均獲得数</th>
        <th class="th-head">フェムト現状獲得数</th>
        <th class="th-head">フェムト現状設置数</th>
      </tr>
      <tr>
        <td><%= casa_ave.to_s(:delimited) %></td>
        <td><%= @results.where(shift: "フェムト").sum(:profit).to_s(:delimited) %></td>
        <% if casa_shift == 0 %>
        <td>予定シフトが入力されていません</td>
        <% else %>
        <td ><%=  (casa_ave * casa_shift).to_s(:delimited) %></td>
        <% end %>
        <td ><%= @results.where(shift: "フェムト").average(:rakuten_casa).round(1) %></td>
        <td ><%= @results.where(shift: "フェムト").sum(:rakuten_casa).round(1) %></td>
        <td ><%= @results.where(shift: "フェムト（設置）").sum(:rakuten_casa_put).round(1) %></td>
      </tr>
    <%# フェムト切り返し %>
      <tr>
        <th rowspan="12" class="th-head">フェムト切り返し</th>
        <th colspan="4" class="th-head">忙しい</th>
        <th colspan="4" class="th-head">面倒くさい</th>
        <th colspan="4" class="th-head">置く場所がない</th>
      </tr>
      <tr>
      <% 3.times do %>
        <th class="th-head-sub">対面</th>
        <th class="th-head-sub">フル</th>
        <th class="th-head-sub">獲得</th>
        <th class="th-head-sub">成約率</th>
      <% end %>
      </tr>
      <tr>
        <td><%= @results.sum(:casa_busy_interview).round(1) %></td>
        <td><%= @results.sum(:casa_busy_full_talk).round(1) %></td>
        <td><%= @results.sum(:casa_busy_get).round(1) %></td>
        <td><%= number_to_percentage(@results.sum(:casa_busy_get).to_f / @results.sum(:casa_busy_full_talk).to_f * 100,precision: 1) rescue 0 %></td>
        <td><%= @results.sum(:casa_dull_interview).round(1) %></td>
        <td><%= @results.sum(:casa_dull_full_talk).round(1) %></td>
        <td><%= @results.sum(:casa_dull_get).round(1) %></td>
        <td><%= number_to_percentage(@results.sum(:casa_dull_get).to_f / @results.sum(:casa_dull_full_talk).to_f * 100,precision: 1) rescue 0 %></td>
        <td><%= @results.sum(:casa_not_put_space_interview).round(1) %></td>
        <td><%= @results.sum(:casa_not_put_space_full_talk).round(1) %></td>
        <td><%= @results.sum(:casa_not_put_space_get).round(1) %></td>
        <td><%= number_to_percentage(@results.sum(:casa_not_put_space_get).to_f / @results.sum(:casa_not_put_space_full_talk).to_f * 100,precision: 1) rescue 0 %></td>
      </tr>
      <tr>
        <th colspan="4" class="th-head">メリットがない</th>
        <th colspan="4" class="th-head">不審</th>
        <th colspan="4" class="th-head">回線を使われたくない</th>
      </tr>
      <tr>
      <% 3.times do %>
        <th class="th-head-sub">対面</th>
        <th class="th-head-sub">フル</th>
        <th class="th-head-sub">獲得</th>
        <th class="th-head-sub">成約率</th>
      <% end %>
      </tr>
      <tr>
        <td><%= @results.sum(:casa_no_merit_interview).round(1) %></td>
        <td><%= @results.sum(:casa_no_merit_full_talk).round(1) %></td>
        <td><%= @results.sum(:casa_no_merit_get).round(1) %></td>
        <td><%= number_to_percentage(@results.sum(:casa_no_merit_get).to_f / @results.sum(:casa_no_merit_full_talk).to_f * 100,precision: 1) rescue 0 %></td>
        <td><%= @results.sum(:casa_distrust_interview).round(1) %></td>
        <td><%= @results.sum(:casa_distrust_full_talk).round(1) %></td>
        <td><%= @results.sum(:casa_distrust_get).round(1) %></td>
        <td><%= number_to_percentage(@results.sum(:casa_distrust_get).to_f / @results.sum(:casa_distrust_full_talk).to_f * 100,precision: 1) rescue 0 %></td>
        <td><%= @results.sum(:casa_not_use_net_interview).round(1) %></td>
        <td><%= @results.sum(:casa_not_use_net_full_talk).round(1) %></td>
        <td><%= @results.sum(:casa_not_use_net_get).round(1) %></td>
        <td><%= number_to_percentage(@results.sum(:casa_not_use_net_get).to_f / @results.sum(:casa_not_use_net_full_talk).to_f * 100,precision: 1) rescue 0 %></td>
      </tr>
      <tr>
        <th colspan="4" class="th-head">結構です</th>
        <th colspan="4" class="th-head">ペロ</th>
        <th colspan="4" class="th-head">その他</th>
      </tr>
      <tr>
      <% 3.times do %>
        <th class="th-head-sub">対面</th>
        <th class="th-head-sub">フル</th>
        <th class="th-head-sub">獲得</th>
        <th class="th-head-sub">成約率</th>
      <% end %>
      </tr>

      <tr>
        <td><%= @results.sum(:casa_not_need_interview).round(1) %></td>
        <td><%= @results.sum(:casa_not_need_full_talk).round(1) %></td>
        <td><%= @results.sum(:casa_not_need_get).round(1) %></td>
        <td><%= number_to_percentage(@results.sum(:casa_not_need_get).to_f / @results.sum(:casa_not_need_full_talk).to_f * 100,precision: 1) rescue 0 %></td>
        <td><%= @results.sum(:casa_easy_interview).round(1) %></td>
        <td><%= @results.sum(:casa_easy_full_talk).round(1) %></td>
        <td><%= @results.sum(:casa_easy_get).round(1) %></td>
        <td><%= number_to_percentage(@results.sum(:casa_easy_get).to_f / @results.sum(:casa_easy_full_talk).to_f * 100,precision: 1) rescue 0 %></td>
        <td><%= @results.sum(:casa_other_interview).round(1) %></td>
        <td><%= @results.sum(:casa_other_full_talk).round(1) %></td>
        <td><%= @results.sum(:casa_other_get).round(1) %></td>
        <td><%= number_to_percentage(@results.sum(:casa_other_get).to_f / @results.sum(:casa_other_full_talk).to_f * 100,precision: 1) rescue 0 %></td>
      </tr>
      <% end %>
    <%# パンダ成約率 %>
      <% if @results.where(shift: "パンダ").empty? %>
      <% else %>
      <tr>
        <th rowspan="2" class="th-side-head-even">パンダ</th>
        <th class="th-head-sub">平均売上</th>
        <th class="th-head-sub">現状売上</th>
        <th class="th-head-sub">予想終着</th>
        <th class="th-head-sub">パンダ平均獲得数</th>
        <th class="th-head-sub">パンダ合計獲得数</th>
      </tr>
      <tr>
        <td ><%= panda_ave.to_s(:delimited) %></td>
        <td ><%= @results.where(shift: "パンダ").sum(:profit).to_s(:delimited) %></td>
        <% if panda_shift == 0 %>
        <td >パンダシフトがありません</td>
        <% else %>
        <td ><%=  (panda_ave * panda_shift).to_s(:delimited) %></td>
        <% end %>
        <td ><%= @results.average(:panda).round(1) %></td>
        <td ><%= @results.sum(:panda).round().to_s(:delimited) %></td>
      </tr>
      <tr>
        <th rowspan="4" class="th-side-head">パンダ切り返し</th>
        <th class="th-head-sub">結構です</th>
        <th class="th-head-sub">忙しい</th>
        <th class="th-head-sub">検討する</th>
        <th class="th-head-sub">デリバリーはいい</th>
        <th class="th-head-sub">増やしたくない</th>
      </tr>
      <tr>
        <td ><%= number_to_percentage(@results.sum(:panda_not_need_get).to_f / @results.sum(:panda_not_need_full_talk) * 100,precision: 1) rescue 0 %></td>
        <td ><%= number_to_percentage(@results.sum(:panda_busy_get).to_f / @results.sum(:panda_busy_full_talk) * 100,precision: 1) rescue 0 %></td>
        <td ><%= number_to_percentage(@results.sum(:panda_yet_get).to_f / @results.sum(:panda_yet_full_talk) * 100,precision: 1) rescue 0 %></td>
        <td ><%= number_to_percentage(@results.sum(:panda_not_delivery_get).to_f / @results.sum(:panda_not_delivery_full_talk) * 100,precision: 1) rescue 0 %></td>
        <td ><%= number_to_percentage(@results.sum(:panda_not_increment_get).to_f / @results.sum(:panda_not_increment_full_talk) * 100,precision: 1) rescue 0 %></td>
      </tr>
      
      <tr>
        <th class="th-head-sub">やる余裕がない</th>
        <th class="th-head-sub">面倒くさい</th>
        <th class="th-head-sub">情報不足</th>
        <th class="th-head-sub">フードネコ</th>
        <th class="th-head-sub">ペロ</th>
        <th class="th-head-sub">その他</th>
      </tr>

      <tr>
        <td ><%= number_to_percentage(@results.sum(:panda_not_margin_get).to_f / @results.sum(:panda_not_margin_full_talk) * 100,precision: 1) rescue 0 %></td>
        <td ><%= number_to_percentage(@results.sum(:panda_dull_get).to_f / @results.sum(:panda_dull_full_talk) * 100,precision: 1) rescue 0 %></td>
        <td ><%= number_to_percentage(@results.sum(:panda_lack_info_get).to_f / @results.sum(:panda_lack_info_full_talk) * 100,precision: 1) rescue 0 %></td>
        <td ><%= number_to_percentage(@results.sum(:panda_food_neko_get).to_f / @results.sum(:panda_food_neko_full_talk) * 100,precision: 1) rescue 0 %></td>
        <td ><%= number_to_percentage(@results.sum(:panda_easy_get).to_f / @results.sum(:panda_easy_full_talk) * 100,precision: 1) rescue 0 %></td>

        <td ><%= number_to_percentage(@results.sum(:panda_other_get).to_f / @results.sum(:panda_other_full_talk) * 100,precision: 1) rescue 0 %></td>
      </tr>
      </table>
      <% end %>
    
  <%# サミット使用量、従量など %>
      <% if @results.where(shift: "サミット").empty? %>
      <% else %>
      <table >
        <tr >
            <% summit = @summits.where(get_date: @results.minimum(:date)..@results.maximum(:date)) %>
            <% amount_sum = summit.sum(:amount_use) %>
            <% metered_lamp_sum = summit.where.not(contract_type: "低圧電力").sum(:contract_cap) %>
            <% low_voltage_sum = summit.where.not(contract_type: "低圧電力").sum(:contract_cap) %>
            <% summit_shift = @results.where(shift: "サミット").length %>
        <tr class="">
          <th class="th-head">サミット月間獲得</th>
          <th class="th-head">従量電灯</th>
          <th class="th-head">低圧電力</th>
          <th class="th-head">使用量</th>
          <th class="th-head">獲得件数（従量）</th>
          <th class="th-head">獲得件数（動力）</th>
        </tr>
        <tr class="">
          <th class="th-side-head-even">合計</th>
          <td ><%= metered_lamp_sum %>kWh</td>
          <td ><%= low_voltage_sum %>kW</td>
          <td ><%= amount_sum %>kWh</td>
          <td ><%= @results.sum(:summit_metered_lamp) %></td>
          <td ><%= @results.sum(:summit_power) %></td>
        </tr>

        <tr class="">
          <th class="th-side-head">平均</th>
          <td ><%= metered_lamp_sum / summit_shift rescue 0 %>kWh</td>
          <td ><%= low_voltage_sum / summit_shift rescue 0 %>kW</td>
          <td ><%= amount_sum / summit_shift rescue 0 %>kWh</td>
          <td ><%= @results.where(shift: "サミット").average(:summit_metered_lamp).round(1) %></td>
          <td ><%= @results.where(shift: "サミット").average(:summit_power).round(1) %></td>

        </tr>
  <%# サミット成約率 %>
      <tr>
        <th rowspan="12" class="th-head">サミット成約率</th>
        <th colspan="4" class="th-head">明細</th>
        <th colspan="4" class="th-head">引き落とし拒否</th>
        <th colspan="4" class="th-head">忙しい</th>
        
      </tr>
      <tr>
        <th class="th-head-sub">なし合計</th>
        <th class="th-head-sub">なし平均</th>
        <th class="th-head-sub">NG合計</th>
        <th class="th-head-sub">NG平均</th>
      <% 2.times do %>
        <th class="th-head-sub">対面</th>
        <th class="th-head-sub">フル</th>
        <th class="th-head-sub">獲得</th>
        <th class="th-head-sub">成約率</th>
      <% end %>
      </tr>
      <tr>
        <td><%= @results.sum(:summit_no_detail).round(1) %></td>
        <td><%= @results.where(shift: "サミット").average(:summit_no_detail).round(1) %></td>
        <td><%= @results.sum(:summit_ng_detail).round(1) %></td>
        <td><%= @results.where(shift: "サミット").average(:summit_ng_detail).round(1) %></td>
        <td><%= @results.sum(:summit_reject_cash_interview).round(1) %></td>
        <td><%= @results.sum(:summit_reject_cash_full_talk).round(1) %></td>
        <td><%= @results.sum(:summit_reject_cash_get).round(1) %></td>
        <td ><%= number_to_percentage(@results.sum(:summit_reject_cash_get).to_f / @results.sum(:summit_reject_cash_full_talk) *100,precision: 1) rescue 0 %></td>
        <td><%= @results.sum(:summit_busy_interview).round(1) %></td>
        <td><%= @results.sum(:summit_busy_full_talk).round(1) %></td>
        <td><%= @results.sum(:summit_busy_get).round(1) %></td>
        <td ><%= number_to_percentage(@results.sum(:summit_busy_get).to_f / @results.sum(:summit_busy_full_talk) * 100, precision: 1) rescue 0 %></td>

      </tr>
      <tr>
        <th colspan="4" class="th-head">怪しい</th>
        <th colspan="4" class="th-head">検討したい</th>
        <th colspan="4" class="th-head">変えたくない</th>
      </tr>
      <tr>
      <% 3.times do %>
        <th class="th-head-sub">対面</th>
        <th class="th-head-sub">フル</th>
        <th class="th-head-sub">獲得</th>
        <th class="th-head-sub">成約率</th>
      <% end %>
      </tr>
      <tr>
        <td><%= @results.sum(:summit_doubt_interview).round(1) %></td>
        <td><%= @results.sum(:summit_doubt_full_talk).round(1) %></td>
        <td><%= @results.sum(:summit_doubt_get).round(1) %></td>
        <td ><%= number_to_percentage(@results.sum(:summit_doubt_get).to_f / @results.sum(:summit_doubt_full_talk) * 100, precision: 1) rescue 0 %></td>
        <td><%= @results.sum(:summit_yet_interview).round(1) %></td>
        <td><%= @results.sum(:summit_yet_full_talk).round(1) %></td>
        <td><%= @results.sum(:summit_yet_get).round(1) %></td>
        <td ><%= number_to_percentage(@results.sum(:summit_yet_get).to_f / @results.sum(:summit_yet_full_talk) * 100,precision: 1) rescue 0 %></td>
        <td><%= @results.sum(:summit_not_change_interview).round(1) %></td>
        <td><%= @results.sum(:summit_not_change_full_talk).round(1) %></td>
        <td><%= @results.sum(:summit_not_change_get).round(1) %></td>
        <td ><%= number_to_percentage(@results.sum(:summit_not_change_get).to_f / @results.sum(:summit_not_change_full_talk) * 100,precision: 1) rescue 0 %></td>

      </tr>
      <tr>
        <th colspan="4" class="th-head">ペロ</th>
        <th colspan="4" class="th-head">その他</th>
        <td colspan="4" rowspan="3" class="td-blank"></td>
      </tr>
      <tr>
        <% 2.times do %>
        <th class="th-head-sub">対面</th>
        <th class="th-head-sub">フル</th>
        <th class="th-head-sub">獲得</th>
        <th class="th-head-sub">成約率</th>
        <% end %>
      </tr>
      <tr>
        <td><%= @results.sum(:summit_other_interview).round(1) %></td>
        <td><%= @results.sum(:summit_other_full_talk).round(1) %></td>
        <td><%= @results.sum(:summit_other_get).round(1) %></td>
        <td ><%= number_to_percentage(@results.sum(:summit_other_get).to_f / @results.sum(:summit_other_full_talk) * 100, precision: 1) rescue 0 %></td>
        <td><%= @results.sum(:summit_easy_interview).round(1) %></td>
        <td><%= @results.sum(:summit_easy_full_talk).round(1) %></td>
        <td><%= @results.sum(:summit_easy_get).round(1) %></td>
        <td ><%= number_to_percentage(@results.sum(:summit_easy_get).to_f / @results.sum(:summit_easy_full_talk) * 100,precision: 1) rescue 0 %></td>

      </tr>
      </table>
      <% end %>
    

      <% break %>
      <% end %>
  <%#帯同%>
      <table class="n-result-table">
      <% if @results.where(ojt_id: nil).blank? %>
      <% else %>
        <% @results.where.not(ojt_id: nil).each do |result| %>
          <% ojt_prev = @results.where(date: result.date.ago(7.days)..result.date.ago(1.days)).where.not(shift: 'キャッシュレス決済').where.not(shift: '休み').where.not(shift: '内勤') %>
          <% ojt_next = @results.where(date: result.date.tomorrow..result.date.since(7.days)).where.not(shift: 'キャッシュレス決済').where.not(shift: '休み').where.not(shift: '内勤') %>
          <% ojt_date = result.date %>
          <% week_prev = result.date.ago(7.days) %>
          <% week_next = result.date.since(7.days) %>
      <table>
        <tr>
          <th class="th-head">帯同資料　</th>
          <th class="th-head">帯同者：</th>
          <th class="th-head"><%= result.ojt.name %></th>
        </tr>
        <tr >
          <th class="th-head">帯同日</th>
          <th class="th-head">平均売上</th>
          <th class="th-head">訪問</th>
          <th class="th-head">対面</th>
          <th class="th-head">フル</th>
          <th class="th-head">獲得</th>
          <th rowspan="2" class="th-head">確認期間</th>
        <%# 帯同日 %>
        <tr >
            <td ><%= result.date.month %>月<%= result.date.day %>日</td>
            <td ><%= result.profit.to_s(:delimited) %></td>
            <td ><%= result.first_visit + result.latter_visit %></td>
            <td ><%= result.first_interview + result.latter_interview %></td>
            <td ><%= result.first_full_talk + result.latter_full_talk %></td>
            <td ><%= result.first_get + result.latter_get %></td>
        </tr>
        <%# 帯同前 %>
          <tr >
            <th class="th-head">帯同前</th>
            <% if ojt_prev.empty? %>
            <td ><%= ojt_prev_profit = "確認対象なし" %></td>
            <td colspan="4"></td>
            <% else %>
            <% ojt_prev_profit = ojt_prev.average(:profit).round() %>
            <td ><%= ojt_prev_profit.to_s(:delimited) %></td>
            <td ><%= ojt_prev_visit = ojt_prev.average(:first_visit).round(1) + ojt_prev.average(:latter_visit).round(1) %></td>
            <td ><%= ojt_prev_interview = ojt_prev.average(:first_interview).round(1) + ojt_prev.average(:latter_interview).round(1) %></td>
            <td ><%= ojt_prev_full_talk = ojt_prev.average(:first_full_talk).round(1) + ojt_prev.average(:latter_full_talk).round(1) %></td>
            <td ><%= ojt_prev_get = ojt_prev.average(:first_get).round(1) + ojt_prev.average(:latter_get).round(1) %></td>
            <% end %>
            <td ><%= week_prev.month %>月<%= week_prev.day%>日〜<%= ojt_date.month %>月<%= ojt_date.ago(1.days).day %>日</td>
          </tr>
        <%# 帯同後 %>
          <tr >
            <th class="th-head">帯同後</th>
            <% if ojt_next.empty? %>
            <td ><%= ojt_prev_profit = "確認対象なし" %></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <td ></td>
            <% else %>
            <% ojt_next_profit = ojt_next.average(:profit).round() %>
            <td ><%= ojt_next_profit.to_s(:delimited) %></td>
            <td ><%= ojt_next_visit = ojt_next.average(:first_visit).round(1) + ojt_next.average(:latter_visit).round(1) %></td>
            <td ><%= ojt_next_interview = ojt_next.average(:first_interview).round(1) + ojt_next.average(:latter_interview).round(1) %></td>
            <td ><%= ojt_next_full_talk = ojt_next.average(:first_full_talk).round(1) + ojt_next.average(:latter_full_talk).round(1) %></td>
            <td ><%= ojt_next_get = ojt_next.average(:first_get).round(1) + ojt_next.average(:latter_get).round(1) %></td>
            <td ><%= ojt_date.tomorrow.month %>月<%= ojt_date.tomorrow.day %>日〜<%= week_next.month %>月<%= week_next.day %>日</td>
          </tr>
          <% end %>
        <%# 帯同結果 %>
          <tr>
          <% if ojt_prev.empty? || ojt_next.empty? %>
          <% else %>
            <th class="th-head">帯同結果</th>
            <% if ojt_next_profit >= ojt_prev_profit %>
            <td style="color: blue; font-weight: bold;"> ＋<%= (ojt_next_profit - ojt_prev_profit).to_s(:delimited) %></td>
            <% else %>
            <td style="color: red;"><%= (ojt_next_profit - ojt_prev_profit).to_s(:delimited) %></td>
            <% end %>
            <% if ojt_next_visit >= ojt_prev_visit %>
            <td style="color: blue; font-weight: bold;"> ＋<%= ojt_next_visit - ojt_prev_visit %></td>
            <% else %>
            <td style="color: red;"><%= ojt_next_visit - ojt_prev_visit %></td>
            <% end %>
            <% if ojt_next_interview >= ojt_prev_interview %>
            <td style="color: blue; font-weight: bold;"> ＋<%= ojt_next_interview - ojt_prev_interview %></td>
            <% else %>
            <td style="color: red;"><%= ojt_next_interview - ojt_prev_interview %></td>
            <% end %>
            <% if ojt_next_full_talk >= ojt_prev_full_talk %>
            <td style="color: blue; font-weight: bold;"> ＋<%= ojt_next_full_talk - ojt_prev_full_talk %></td>
            <% else %>
            <td style="color: red;"><%= ojt_next_full_talk - ojt_prev_full_talk %></td>
            <% end %>
            <% if ojt_next_get >= ojt_prev_get %>
            <td style="color: blue; font-weight: bold;"> ＋<%= ojt_next_get - ojt_prev_get %></td>
            <% else %>
            <td style="color: red;"><%= ojt_next_get - ojt_prev_get %></td>
            <% end %>

          <% end %>
          </tr>
        <% end %>
        <% end %>
        </table>

  <%# 日々終着一覧（見出し） %>
    <table >
    <%# 総合 %>
      <tr >
      <th colspan="5" class="th-head">終着</th>
      <th colspan="5" class="th-head">合計</th>
      <th colspan="4" class="th-head">前半</th>
      <th colspan="4" class="th-head">後半</th>
      <th rowspan="2" class="th-head">店舗別</th>
      <th colspan="2" class="th-head">喫茶・カフェ</th>
      <th colspan="2" class="th-head">その他飲食</th>
      <th colspan="2" class="th-head">車屋</th>
      <th colspan="2" class="th-head">その他小売</th>
      <th colspan="2" class="th-head">理容・美容</th>
      <th colspan="2" class="th-head">整体・鍼灸</th>
      <th colspan="2" class="th-head">その他サービス</th>
    <%# キャッシュレス切り返し %>
      <% if @results.where(shift: "キャッシュレス新規").empty? %>
      <% else %>
        <th rowspan="2" class="th-head">キャッシュ切り返し</th>
        <th colspan="3" class="th-head">どういうこと？</th>
        <th colspan="3" class="th-head">君は誰？協会？</th>
        <th colspan="3" class="th-head">もらうだけでいいの？</th>
        <th colspan="3" class="th-head">PayPayのみ</th>
        <th colspan="3" class="th-head">AirPayのみ</th>
        <th colspan="3" class="th-head">カードのみ</th>
        <th colspan="3" class="th-head">先延ばし</th>
        <th colspan="3" class="th-head">忙しい</th>
        <th colspan="3" class="th-head">現金のみ</th>
        <th colspan="3" class="th-head">面倒くさい</th>
        <th colspan="3" class="th-head">情報不足</th>
        <th colspan="3" class="th-head">ペロ</th>
        <th colspan="3" class="th-head">その他</th>
      <% end %>
    <%# サミット切り返し %>
      <% if @results.where(shift: "サミット").empty? %>
      <% else %>
        <th rowspan="2" class="th-head">サミット切り返し</th>
        <th colspan="2" class="th-head">NG理由</th>
        <th colspan="3" class="th-head">引き落とし拒否</th>
        <th colspan="3" class="th-head">忙しい</th>
        <th colspan="3" class="th-head">怪しい</th>
        <th colspan="3" class="th-head">検討したい</th>
        <th colspan="3" class="th-head">変えたくない</th>
        <th colspan="3" class="th-head">ペロ</th>
        <th colspan="3" class="th-head">その他</th>
      <% end %>
      
    <%# パンダ切り返し %>
      <% if @results.where(shift: "パンダ").empty? %>
      <% else %>
        <th rowspan="2" class="th-head">パンダ切り返し</th>
        <th class="th-head" colspan="3">結構です</th>
        <th class="th-head" colspan="3">忙しい</th>
        <th class="th-head" colspan="3">検討する</th>
        <th class="th-head" colspan="3">デリバリーはいい</th>
        <th class="th-head" colspan="3">増やしたくない</th>
        <th class="th-head" colspan="3">やる余裕がない</th>
        <th class="th-head" colspan="3">面倒くさい</th>
        <th class="th-head" colspan="3">情報不足</th>
        <th class="th-head" colspan="3">フードネコ</th>
        <th class="th-head" colspan="3">ペロ</th>
        <th class="th-head" colspan="3">その他</th>
      <% end %>
    <%# フェムト切り返し %>
      <% if @results.where(shift: "フェムト").empty? %>
      <% else %>
      <th rowspan="2" class="th-head">フェムト切り返し</th>
        <th colspan="3" class="th-head">忙しい</th>
        <th colspan="3" class="th-head">面倒くさい</th>
        <th colspan="3" class="th-head">置く場所がない</th>
        <th colspan="3" class="th-head">メリットがない</th>
        <th colspan="3" class="th-head">不審</th>
        <th colspan="3" class="th-head">回線使われたくない</th>
        <th colspan="3" class="th-head">結構です</th>
        <th colspan="3" class="th-head">ペロ</th>
        <th colspan="3" class="th-head">その他</th>
      <% end %>
      </tr>
    <%# 大枠基準値（見出し） %>
      <tr >
        <th colspan="2" class="th-head-sub">シフト</th>
        <th class="th-head-sub">日付</th>
        <th class="th-head-sub">帯同</th>
        <th class="th-head-sub">エリア</th>
        <th class="th-head-sub">売上</th>
        <th class="th-head-sub">訪問数</th>
        <th class="th-head-sub">対面数</th>
        <th class="th-head-sub">フル数</th>
        <th class="th-head-sub">成約数</th>
        <th class="th-head-sub">訪問数</th>
        <th class="th-head-sub">対面数</th>
        <th class="th-head-sub">フル数</th>
        <th class="th-head-sub">成約数</th>
        <th class="th-head-sub">訪問数</th>
        <th class="th-head-sub">対面数</th>
        <th class="th-head-sub">フル数</th>
        <th class="th-head-sub">成約数</th>
    <%# 店舗別基準値（見出し） %>
        <% 7.times do %>
        <th class="th-head-sub">訪問数</th>
        <th class="th-head-sub">獲得数</th>
        <% end %>
    <%# キャッシュレス切り返し（見出し） %>
      <% if @results.where(shift: "キャッシュレス新規").empty? %>
      <% else %>
          <% 13.times do %>
          <th class="th-head-sub">対面数</th>
          <th class="th-head-sub">フル数</th>
          <th class="th-head-sub">成約数</th>
          <% end %>
      <% end %>
    <%# サミット切り返し（見出し） %>
      <% if @results.where(shift: "サミット").empty? %>
      <% else %>
        <th class="th-head-sub">明細なし</th>
        <th class="th-head-sub">明細NG</th>
          <% 7.times do %>
          <th class="th-head-sub">対面数</th>
          <th class="th-head-sub">フル数</th>
          <th class="th-head-sub">成約数</th>
          <% end %>
      <% end %>
    <%# パンダ切り返し（見出し） %>
      <% if @results.where(shift: "パンダ").empty? %>
      <% else %>
        <% 11.times do %>
          <th class="th-head-sub">対面数</th>
          <th class="th-head-sub">フル数</th>
          <th class="th-head-sub">成約数</th>
        <% end %>
      <% end %>
    <%# フェムト切り返し（見出し） %>
      <% if @results.where(shift: "フェムト").empty? %>
      <% else %>
        <% 9.times do %>
          <th class="th-head-sub">対面数</th>
          <th class="th-head-sub">フル数</th>
          <th class="th-head-sub">成約数</th>
        <% end %>

      <% end %>
      </tr>
<% @results.each do |result| %>
    <%# 大枠基準値（値） %>
      <tr>
      <td style="padding: 0 20px;"><%= link_to "編集", edit_result_path(result.id),class: "link" %></td>
      <td ><%= result.shift %></td>
      <td ><%= result.date.month %>月<%= result.date.day %>日</td>
      <td ><%= result.ojt.name rescue "" %></td>
      <td ><%= result.area %></td>
      <td ><%= number_with_delimiter(result.profit) %></td>
      <td ><%= result.first_visit + result.latter_visit %></td>
      <td ><%= result.first_interview + result.latter_interview %></td>
      <td ><%= result.first_full_talk + result.latter_full_talk %></td>
      <td ><%= result.first_get + result.latter_get %></td>
    <%#前半%>
      <td ><%= result.first_visit  %></td>
      <td ><%= result.first_interview %></td>
      <td ><%= result.first_full_talk %></td>
      <td ><%= result.first_get %></td>

    <%# 後半 %>
      <td ><%= result.latter_visit %></td>
      <td ><%= result.latter_interview %></td>
      <td ><%= result.latter_full_talk %></td>
      <td ><%= result.latter_get %></td>
      
    <%# 店舗別基準値(値) %>
      <td class="td-blank"></td>
      <%# 喫茶・カフェ %>
        <td ><%= result.cafe_visit %></td>
        <td ><%= result.cafe_get %></td>
      <%#その他飲食%>
        <td ><%= result.other_food_visit %></td>
        <td ><%= result.other_food_get %></td>
      <%#車屋%>
        <td ><%= result.car_visit %></td>
        <td ><%= result.car_get %></td>
      <%#その他小売%>
        <td ><%= result.other_retail_visit %></td>
        <td ><%= result.other_retail_get %></td>
      <%#理容・美容%>
        <td ><%= result.hair_salon_visit %></td>
        <td ><%= result.hair_salon_get %></td>
      <%#整体・鍼灸%>
        <td ><%= result.manipulative_visit %></td>
        <td ><%= result.manipulative_get %></td>
      <%#その他・サービス%>
        <td ><%= result.other_service_visit %></td>
        <td ><%= result.other_service_get %></td>
    <%# キャッシュレス切り返し %>
      <% if @results.where(shift: "キャッシュレス新規").empty? %>
      <% else %>
      <td class="td-blank"></td>
      <%#どういうこと？%>
      <td ><%= result.cashless_what_interview %></td>
      <td ><%= result.cashless_what_full_talk %></td>
      <td ><%= result.cashless_what_get %></td>
      <%#君は誰？%>
      <td ><%= result.cashless_who_interview %></td>
      <td ><%= result.cashless_who_full_talk %></td>
      <td ><%= result.cashless_who_get %></td>
      <%#もうらだけでいいの？%>
      <td ><%= result.cashless_just_get_interview %></td>
      <td ><%= result.cashless_just_get_full_talk %></td>
      <td ><%= result.cashless_just_get_get %></td>
      <%#PayPayのみ%>
      <td ><%= result.cashless_paypay_only_interview %></td>
      <td ><%= result.cashless_paypay_only_full_talk %></td>
      <td ><%= result.cashless_paypay_only_get %></td>
      <%#AirPayのみ%>
      <td ><%= result.cashless_airpay_only_interview %></td>
      <td ><%= result.cashless_airpay_only_full_talk %></td>
      <td ><%= result.cashless_airpay_only_get %></td>
      <%#カードのみ%>
      <td ><%= result.cashless_card_only_interview %></td>
      <td ><%= result.cashless_card_only_full_talk %></td>
      <td ><%= result.cashless_card_only_get %></td>
      <%#先延ばし%>
      <td ><%= result.cashless_yet_interview %></td>
      <td ><%= result.cashless_yet_full_talk %></td>
      <td ><%= result.cashless_yet_get %></td>
      <%#現金のみ%>
      <td ><%= result.cashless_cash_only_interview %></td>
      <td ><%= result.cashless_cash_only_full_talk %></td>
      <td ><%= result.cashless_cash_only_get %></td>
      <%#忙しい%>
      <td ><%= result.cashless_busy_interview %></td>
      <td ><%= result.cashless_busy_full_talk %></td>
      <td ><%= result.cashless_busy_get %></td>
      <%#面倒くさい%>
      <td ><%= result.cashless_dull_interview %></td>
      <td ><%= result.cashless_dull_full_talk %></td>
      <td ><%= result.cashless_dull_get %></td>
      <%#情報不足%>
      <td ><%= result.cashless_lack_info_interview %></td>
      <td ><%= result.cashless_lack_info_full_talk %></td>
      <td ><%= result.cashless_lack_info_get %></td>
      <%#ペロ%>
      <td ><%= result.cashless_easy_interview %></td>
      <td ><%= result.cashless_easy_full_talk %></td>
      <td ><%= result.cashless_easy_get %></td>
      <%#その他%>
      <td ><%= result.cashless_other_interview %></td>
      <td ><%= result.cashless_other_full_talk %></td>
      <td ><%= result.cashless_other_get %></td>
      <% end %>
    <%# サミット切り返し %>
      <%# NG %>
      <% if @results.where(shift: "サミット").empty? %>
      <% else %>
      <td class="td-blank"></td>
      <td ><%= result.summit_no_detail %></td>
      <td ><%= result.summit_ng_detail %></td>
      <%# 引き落とし拒否 %>
      <td ><%= result.summit_reject_cash_interview %></td>
      <td ><%= result.summit_reject_cash_full_talk %></td>
      <td ><%= result.summit_reject_cash_get %></td>
      <%# 忙しい %>
      <td ><%= result.summit_busy_interview %></td>
      <td ><%= result.summit_busy_full_talk %></td>
      <td ><%= result.summit_busy_get %></td>
      <%# 怪しい %>
      <td ><%= result.summit_doubt_interview %></td>
      <td ><%= result.summit_doubt_full_talk %></td>
      <td ><%= result.summit_doubt_get %></td>
      <%# 検討したい %>
      <td ><%= result.summit_yet_interview %></td>
      <td ><%= result.summit_yet_full_talk %></td>
      <td ><%= result.summit_yet_get %></td>
      <%# 変えたくない %>
      <td ><%= result.summit_not_change_interview %></td>
      <td ><%= result.summit_not_change_full_talk %></td>
      <td ><%= result.summit_not_change_get %></td>
      <%# ペロ %>
      <td ><%= result.summit_easy_interview %></td>
      <td ><%= result.summit_easy_full_talk %></td>
      <td ><%= result.summit_easy_get %></td>
      <%# その他 %>
      <td ><%= result.summit_other_interview %></td>
      <td ><%= result.summit_other_full_talk %></td>
      <td ><%= result.summit_other_get %></td>
      <% end %>
    <%# パンダ切り返し %>
      <% if @results.where(shift: "パンダ").empty? %>
      <% else %>
        <td class="td-blank"></td>
      <%# 結構です %>
        <td><%= result.panda_not_need_interview %></td>
        <td><%= result.panda_not_need_full_talk %></td>
        <td><%= result.panda_not_need_get %></td>
      <%# 忙しい %>
        <td><%= result.panda_busy_interview %></td>
        <td><%= result.panda_busy_full_talk %></td>
        <td><%= result.panda_busy_get %></td>
      <%# 検討する %>
        <td ><%= result.panda_yet_interview %></td>
        <td ><%= result.panda_yet_full_talk %></td>
        <td ><%= result.panda_yet_get %></td>
      <%# デリバリーはいい %>
        <td ><%= result.panda_not_delivery_interview %></td>
        <td ><%= result.panda_not_delivery_full_talk %></td>
        <td ><%= result.panda_not_delivery_get %></td>
      <%# 増やしたくない %>
        <td ><%= result.panda_not_increment_interview %></td>
        <td ><%= result.panda_not_increment_full_talk %></td>
        <td ><%= result.panda_not_increment_get %></td>
      <%# やる余裕がない %>
        <td ><%= result.panda_not_margin_interview %></td>
        <td ><%= result.panda_not_margin_full_talk %></td>
        <td ><%= result.panda_not_margin_get %></td>
      <%# 面倒くさい%>
        <td ><%= result.panda_dull_interview %></td>
        <td ><%= result.panda_dull_full_talk %></td>
        <td ><%= result.panda_dull_get %></td>
      <%# 情報不足 %>
        <td ><%= result.panda_lack_info_interview %></td>
        <td ><%= result.panda_lack_info_full_talk %></td>
        <td ><%= result.panda_lack_info_get %></td>
      <%# フードネコ %>
        <td ><%= result.panda_food_neko_interview %></td>
        <td ><%= result.panda_food_neko_full_talk %></td>
        <td ><%= result.panda_food_neko_get %></td>
      <%# ペロ %>
        <td ><%= result.panda_easy_interview %></td>
        <td ><%= result.panda_easy_full_talk %></td>
        <td ><%= result.panda_easy_get %></td>
      <%# その他 %>
        <td ><%= result.panda_other_interview %></td>
        <td ><%= result.panda_other_full_talk %></td>
        <td ><%= result.panda_other_get %></td>
      <% end %>
  <%# 楽天フェムト切り返し %>
    <% if @results.where(shift: "フェムト").empty? %>
    <% else %>
    <td class="td-blank"></td>
      <%# 忙しい %>
      <td><%= result.casa_busy_interview %></td>
      <td><%= result.casa_busy_full_talk %></td>
      <td><%= result.casa_busy_get %></td>
      <%# 面倒 %>
      <td><%= result.casa_dull_interview %></td>
      <td><%= result.casa_dull_full_talk %></td>
      <td><%= result.casa_dull_get %></td>
      <%# 置く場所がない %>
      <td><%= result.casa_not_put_space_interview %></td>
      <td><%= result.casa_not_put_space_full_talk %></td>
      <td><%= result.casa_not_put_space_get %></td>
      <%# メリットがない %>
      <td><%= result.casa_no_merit_interview %></td>
      <td><%= result.casa_no_merit_full_talk %></td>
      <td><%= result.casa_no_merit_get %></td>
      <%# 不審 %>
      <td><%= result.casa_distrust_interview %></td>
      <td><%= result.casa_distrust_full_talk %></td>
      <td><%= result.casa_distrust_get %></td>
      <%# 回線を使われたくない %>
      <td><%= result.casa_not_use_net_interview %></td>
      <td><%= result.casa_not_use_net_full_talk %></td>
      <td><%= result.casa_not_use_net_get %></td>
      <%# 結構です %>
      <td><%= result.casa_not_need_interview%></td>
      <td><%= result.casa_not_need_full_talk%></td>
      <td><%= result.casa_not_need_get%></td>
      <%# ぺろ %>
      <td><%= result.casa_easy_interview%></td>
      <td><%= result.casa_easy_full_talk%></td>
      <td><%= result.casa_easy_get%></td>
      <%# その他 %>
      <td><%= result.casa_other_interview %></td>
      <td><%= result.casa_other_full_talk %></td>
      <td><%= result.casa_other_get %></td>
    <% end %>
  <% end %>
  </tr>
</table>
  