<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
      <% shifts = @shifts.where(user_id: @results.first.user_id).where(start_time: @results.minimum(:date)..@results.minimum(:date).next_month.ago(1.days)) %>
  <%# 個別利益表 %>
    <h1>表示範囲：<%= @results.minimum(:date) %>（<%= days[@results.minimum(:date).wday] %>）〜<%= @results.maximum(:date) %>（<%= days[@results.maximum(:date).wday] %>）</h1>
  <%# 初期値変数 %>
    <%# シフト変数 %>
        <% new_shift = 0 %>
        <% settlement_shift = 0 %>
        <% summit_shift = 0 %>
        <% casa_shift = 0 %>
        <% casa_put_shift = 0 %>
        <% ojt_shift = 0 %>
        <% house_work_shift = 0 %>
        <% new_shift = shifts.where(shift: "キャッシュレス新規").length %>
        <% settlement_shift = shifts.where(shift: "キャッシュレス決済").length %>
        <% summit_shift = shifts.where(shift: "サミット").length %>
        <% casa_shift = shifts.where(shift: "楽天フェムト新規").length %>
        <% casa_put_shift= shifts.where(shift: "楽天フェムト設置").length %>
        <% ojt_shift = shifts.where(shift: "帯同").length %>
        <% house_work_shift = shifts.where(shift: "内勤").length %> 

      <h1>拠点：<%= @results.first.user.base %><%= @results.first.user.base_sub %><%= @results.first.user.name %></h1>
  <%# シフト %>
    <% if shifts.blank? %>
      <h1 class="warning">予定シフトがありません。シフト申請を行ってください</h1>
    <% else %>
    <h2 class="shift-h2">予定シフト：<%= shifts.minimum(:start_time).strftime('%Y-%m-%d') %>（<%= days[shifts.minimum(:start_time).wday] %>）〜<%= shifts.maximum(:start_time).strftime('%Y-%m-%d') %>（<%= days[shifts.maximum(:start_time).wday] %>）</h2>
    <% end %>
    <table>
      <tr>
        <th class="shift-th">シフト（内訳）</th>
        <th class="shift-th">予定</th>
        <th class="shift-th">消化</th>
        <th class="shift-th">残シフト</th>
        <th class="shift-th">欠勤</th>
      </tr>
      <tr>
        <td >キャッシュレス新規</td><%# 欠勤 %>
        <td ><%= new_shift %></td>
        <td ><%= digestion_new = @results.where(shift: "キャッシュレス新規").length %></td>
        <td ><%= new_shift - digestion_new %></td>
        <td style="color:red; font-weight:bold;"><%= absence = @results.where(shift: "欠勤").length %></td>
      </tr>
      <tr>
        <td >キャッシュレス決済</td>
        <td ><%= settlement_shift %></td>
        <td ><%= digestion_settlement = @results.where(shift: "キャッシュレス決済").length %></td>
        <td ><%= settlement_shift - digestion_settlement %></td>
      </tr>
      <tr>
        <td>サミット</td>
        <td ><%= summit_shift %></td>
        <td ><%= digestion_summit = @results.where(shift: "サミット").length %></td>
        <td ><%= summit_shift - digestion_summit %></td>
      </tr>
      <tr>
        <td>楽天フェムト新規</td>
        <td ><%= casa_shift %></td>
        <td ><%= digestion_casa = @results.where(shift: "楽天フェムト新規").length %></td>
        <td ><%= casa_shift - digestion_casa %></td>
      </tr>
      <tr>
        <td>楽天フェムト設置</td>
        <td ><%= casa_put_shift %></td>
        <td ><%= digestion_casa_put = @results.where(shift: "楽天フェムト設置").length %></td>
        <td ><%= casa_put_shift - digestion_casa_put %></td>
      </tr>
      <tr>
        <td>帯同</td>
        <td ><%= ojt_shift %></td>
        <td ><%= digestion_ojt = @results.where(shift: "帯同").length %></td>
        <td ><%= ojt_shift - digestion_ojt %></td>
      </tr>
      <tr>
        <td>内勤</td>
        <td ><%= house_work_shift %></td>
        <td ><%= digestion_house_work = @results.where(shift: "内勤").length %></td>
        <td ><%= house_work_shift - digestion_house_work %></td>
      </tr>
      <tr>
        <td>合計</td>
        <td class="td-sum"><%= shift_sum = new_shift + settlement_shift + summit_shift + casa_shift + casa_put_shift + ojt_shift + house_work_shift %></td>
            <td ><%= digestion_sum = digestion_new + digestion_settlement + digestion_summit + digestion_casa + digestion_casa_put + digestion_ojt + digestion_house_work + absence %></td>
        <td ><%= shift_sum - digestion_sum %></td>
      </tr>
    </table>
  <%# 商材（評価売上変数） %>
      <%# dメル %>
        <%# 新規 %>
          <% 
            dmer_user = 
              Dmer.includes(:store_prop)
              .where(user_id: @results.first.user_id ) 
          %>
          <% 
            dmer_uq = 
              this_period(dmer_user,@results)
              .where(store_prop: {head_store: nil})
          %>
          <% 
            dmer_db = 
              result_period(dmer_user,@results)
              .where.not(store_prop: {head_store: nil})
              .where.not(industry_status: "×")
              .where.not(industry_status: "NG")
              .where(status: "審査OK")
          %>

          <% dmer_def = dmer_def(dmer_uq, @results) %>
          <% 
            dmer_inc = 
              judge_inc(dmer_user,@results)
              .where(store_prop: {head_store: nil})
              .where.not(industry_status: "NG")
              .where.not(industry_status: "×")
              .where(status: "審査OK")
          %>
          <% 
            dmer_dec = 
              judge_dec(dmer_user,@results)
              .where.not(industry_status: "NG")
              .where.not(industry_status: "×")  
          %>
          <% dmer_def.length %>
          <% 
            dmer_valuations = 
              dmer_uq.sum(:valuation_new) -
              dmer_def.sum(:valuation_new) +
              dmer_inc.sum(:valuation_new) +
              dmer_db.sum(:valuation_new) -
              dmer_dec.sum(:valuation_new) 
          %>
          <% 
            dmer_len =  
              dmer_uq.length -
              dmer_def.length +
              dmer_inc.length +
              dmer_db.length -
              dmer_dec.length  
          %>
        <%# 決済 %>
          <% dmer_slmter = Dmer.where(settlementer_id: @results.first.user_id ) %>
          <% 
            dmer_slmt = 
              slmt_this_period(dmer_slmter, @results)
              .where.not(industry_status: "×")
              .where.not(industry_status: "NG")
              .or(slmt_this_period(dmer_slmter, @results)
              .where(industry_status: nil))
          %>
          <% dmer_slmt_valuations = dmer_slmt.sum(:valuation_settlement) %>
          <% dmer_slmt_len = dmer_slmt.length %>
          <% dmer_slmt2nd = slmt_second(dmer_slmter,@results) %>
          <% dmer_slmt2nd_valuations = dmer_slmt2nd.sum(:valuation_second_settlement) %>
          <% dmer_slmt2nd_len =  dmer_slmt2nd.length %>
          <% 
            dmers_slmt_target = 
              slmt_dead_line(dmer_user,@results)
              .where.not(industry_status: "NG")
              .where.not(industry_status: "×")
              .or(slmt_dead_line(dmer_slmter, @results)
              .where(industry_status: nil))
          %>
          <% dmer_slmt2nd_target = slmt2nd_dead_line(dmer_user,@results) %>
      <%# aupay %>
        <%# 新規 %>
          <% aupay_user = Aupay.includes(:store_prop).where(user_id: @results.first.user_id) %>
          <% 
            aupay_uq = 
              this_period(aupay_user,@results)
              .where(store_prop: {head_store: nil})
          %>
          <% 
            aupay_db = 
              result_period(aupay_user,@results)
              .where.not(store_prop: {head_store: nil})
              .where(status: "審査通過")
          %>
          <% aupay_def =  aupay_def(aupay_uq,@results) %>
          <% aupay_inc = judge_inc(aupay_user,@results)  %>
          <% aupay_dec = judge_dec(aupay_user,@results)  %>
          <%# 合計 %>
          <% 
            aupay_valuations =
              aupay_uq.sum(:valuation_new) - 
              aupay_def.sum(:valuation_new) + 
              aupay_inc.sum(:valuation_new) +
              aupay_db.sum(:valuation_new) -
              aupay_dec.sum(:valuation_new)
          %>
          <% 
            aupay_len = 
              aupay_uq.length - aupay_def.length + 
              aupay_inc.length + aupay_db.length -
              aupay_dec.length
          %>
        <%# 決済 %>
          <% aupay_slmter = Aupay.where(settlementer_id: @results.first.user_id ) %>
          <% aupay_slmt = slmt_this_period(aupay_slmter,@results) %>
          <% aupay_slmt_valuations = aupay_slmt.sum(:valuation_settlement) %>
          <% aupay_slmt_len = aupay_slmt.length %>
          <% aupay_slmt_target = slmt_dead_line(aupay_user, @results)  %>
      <%# PayPay %>
        <% paypay_user = Paypay.where(user_id: @results.first.user_id) %>
        <% paypay_data = this_period(paypay_user ,@results) %>
        <% paypay_valuations = paypay_data.sum(:valuation) %>
        <% paypay_len = paypay_data.length %>
      <%# 少額短期保険 %>
        <% st_insurance_user = StInsurance.where(user_id: @results.first.user_id) %>
        <% st_insurance_data = this_period(st_insurance_user,@results) %>
        <% st_insurance_valuations = st_insurance_data.sum(:valuation) %>
        <% st_insurance_len = st_insurance_data.length %>
      <%# 楽天ペイ %>
        <% rakuten_pay_user = RakutenPay.includes(:store_prop).where(user_id: @results.first.user_id) %>
        <% 
          rakuten_pay_uq =
            this_period(rakuten_pay_user,@results)
            
        %>
        <% 
          rakuten_pay_dec = 
            rakuten_pay_uq.where.not(deficiency: nil)
            .where.not(share: @results.minimum(:date)..@results.maximum(:date))
        %>

        <% 
          rakuten_pay_def =  
            rakuten_pay_uq.where(status: "自社不備")
            .or(rakuten_pay_uq.where(status: "自社NG")) %>
        
        <% rakuten_pay_inc = rakuten_inc(rakuten_pay_user,@results)  %>
      <%# 合計 %>
          <%
            rakuten_pay_valuations =
              rakuten_pay_uq.sum(:valuation) - 
              rakuten_pay_def.sum(:valuation) + 
              rakuten_pay_inc.sum(:valuation) - 
              rakuten_pay_dec.sum(:valuation)
          %>
          <% 
            rakuten_pay_len =  
              rakuten_pay_uq.length - 
              rakuten_pay_def.length + 
              rakuten_pay_inc.length -
              rakuten_pay_dec.length
          %>
      <%# フェムト新規 %>
        <% casa_new_profit = @rakuten_casas_this_month.sum(:valuation_new) - @rakuten_casas_cancel.sum(:valuation_new) + @rakuten_casas_inc.sum(:valuation_new) %>
      <%# フェムト設置 %>
        <% casa_put_profit = (@rakuten_casas_put_self.sum(:valuation_put) + (@rakuten_casas_put_other.sum(:valuation_put) * 0.8) + (@rakuten_casas_put_request.sum(:valuation_put) * 0.3)).to_i %>
      <%# 合計売上 %>
        <% sum_profit_new = dmer_valuations + aupay_valuations + paypay_valuations + st_insurance_valuations + rakuten_pay_valuations %>
        <% sum_profit_slmt = dmer_slmt_valuations + dmer_slmt2nd_valuations + aupay_slmt_valuations %>
        <% sum_profit = casa_new_profit + casa_put_profit %>
      <%# 平均売上 %>
        <% ave_profit_new = sum_profit_new.to_f / digestion_new %>
        <% ave_profit_slmt = sum_profit_slmt.to_f / digestion_settlement %>
        <% ave_profit = (sum_profit.to_f / @results.where.not(shift: "休み").where.not(shift: "帯同").where.not(shift: "内勤").where.not(shift: "欠勤").length) %>
        <% rakuten_casa_len =  @rakuten_casas_this_month.length - @rakuten_casas_cancel.length + @rakuten_casas_inc.length %>
        <% rakuten_casa_put_len = @rakuten_casas_put_self.length + @rakuten_casas_put_other.length + @rakuten_casas_put_request.length  %>
      <%# 楽天ペイインセン（40件で5万, 50件で10万） %>
          <% rakuten_bonus = 0 %>
          <% if @results.minimum(:date).day == 1 %>
            <% if rakuten_pay_len >= 50 %>
              <% rakuten_bonus = 100000 %>
            <% elsif rakuten_pay_len >= 40  %>
              <% rakuten_bonus = 50000 %>
            <% else %>
              <% rakuten_bonus = 0 %>
            <% end %>
          <% elsif @results.minimum(:date).day == 26 %>
            <% if rakuten_pay_len >= 50 %>
              <% rakuten_bonus = 100000 %>
            <% elsif rakuten_pay_len >= 40  %>
              <% rakuten_bonus = 50000 %>
            <% else %>
              <% rakuten_bonus = 0 %>
            <% end %>
          <% end %>
    <h1>獲得商材内訳</h1>
      <h2>売上/予測値 決済予定</h2>
      <table>
        <tr></tr>
        <tr>
          <th>平均売上（新規）</th>
          <th>平均売上（決済）</th>
          <th>現状売上（新規）</th>
          <th>現状売上（決済）</th>
          <th>現状合計売上</th>
        <tr>
        </tr>
          <td><%= ave_profit_new.round().to_s(:delimited) rescue "NaN" %></td>
          <td><%= ave_profit_slmt.round().to_s(:delimited) rescue "NaN" %></td>
          <td><%= sum_profit_new.to_s(:delimited) %></td>
          <td><%= sum_profit_slmt.to_s(:delimited) %></td>
          <td><%= (sum_profit_new + sum_profit_slmt + rakuten_bonus).to_s(:delimited) %></td>
        </tr>
        <tr>
          <th>決済対象（dメル）</th>
          <th>決済対象（ピアズ２回目）</th>
          <th>決済対象（aupay）</th>
          <th>楽天ペイ特別インセン</th>
          <th>終着見込(新規)</th>
        </tr>
        <input type="hidden", id="dmer-slmt-price" value="<%= dmers_slmt_target.sum(:valuation_settlement) %>"><%# 決済売上の値をjsで取得する %>
        <input type="hidden", id="pias-slmt2nd-price" value="<%= dmer_slmt2nd_target.sum(:valuation_second_settlement) %>"><%# 決済売上の値をjsで取得する %>
        <input type="hidden", id="aupay-slmt-price" value="<%= aupay_slmt_target.sum(:valuation_settlement) %>"><%# 決済売上の値をjsで取得する %>
        <input type="hidden", id="new-sum" value="<%= ave_profit_new * new_shift + rakuten_bonus %>"><%# 決済合計売上の値をjsで取得する %>
        <tr>
          <td><%= dmers_slmt_target.length %></td>
          <td><%= dmer_slmt2nd_target.length %></td>
          <td><%= aupay_slmt_target.length %></td>
          <td><%= rakuten_bonus.to_s(:delimited) %></td>
          <td><%= (ave_profit_new * new_shift + rakuten_bonus).round().to_s(:delimited) rescue "計算不可" %></td>
        </tr>
        <tr>
          <th>dメル決済率</th>
          <th>dメル決済率（2回目）</th>
          <th>auPay決済率</th>
          <th>終着見込(決済)</th>
          <th>終着見込（合計）</th><%# （平均売上 * 予定シフト数） %>
        </tr>
        <tr>
          <td><input type="number", class="input-math", id="slmt-dmer" max="100", placeholder="見込決済率を入力" >％</td>
          <td><input type="number", class="input-math", id="slmt-dmer2nd" max="100", placeholder="見込決済率を入力" >％</td>
          <td><input type="number", class="input-math", id="slmt-aupay" max="100", placeholder="見込決済率を入力" >％</td>
          <td><span class="input-math", id="slmt-profit">決済率と連動してます</span></td>
          <td ><span id="sum-profit" >決済率と連動してます</span></td>
        </tr>
        <tr>
        </tr>
      </table>
              <p class="nav-text">決済対象は決済期限が検索した日付の初日〜検索した日付の最終日より3ヶ月後の末日までの決済対象になります。</p>
              <p class="nav-text">2回目決済対象は決済期限が検索した日付の初日より1ヶ月前の初日〜検索した日付の最終日より3ヶ月後の末日までで尚且つ初回決済日が検索期間初日前月の初日~検索期間末日の前月末日までに決済したものが対象になります。</p>
          <p class="caution-text">※検索範囲外で決済されている案件は決済対象に含まれません。</p>

    <h2>商材別売上/生産性</h2>
    <table>
      <tr>
        <th>商材</th>
        <th>dメル（新規）</th>
        <th>dメル（決済）</th>
        <th>dメル（2回目決済）</th>
        <th>aupay（新規）</th>
        <th>aupay（決済）</th>
        <th>PayPay</th>
        <th>楽天ペイ</th>
        <th >フェムト（新規）</th>
        <th >フェムト（設置）</th>
      </tr>
      <tr>
        <th>獲得数</th>
        <td><%= dmer_len %></td>
        <td><%= dmer_slmt_len %></td>
        <td><%= dmer_slmt2nd_len %></td>
        <td><%= aupay_len %></td>
        <td><%= aupay_slmt_len %></td>
        <td><%= paypay_len %></td>
        <td><%= rakuten_pay_len %></td>
        <td><%= rakuten_casa_len %></td>
        <td><%= rakuten_casa_put_len %></td>
      </tr>
      <tr>
        <th>生産性</th>
        <td><%= (dmer_len.to_f / digestion_new).round(1) %></td>
        <td><%= (dmer_slmt_len.to_f / digestion_settlement).round(1) %></td>
        <td><%= (dmer_slmt2nd_len.to_f / digestion_settlement).round(1) %></td>
        <td><%= (aupay_len.to_f / digestion_new).round(1) %></td>
        <td><%= (aupay_slmt_len.to_f / digestion_settlement).round(1) %></td>
        <td><%= (paypay_len.to_f / digestion_new).round(1) %></td>
        <td><%= (rakuten_pay_len.to_f / digestion_new).round(1) %></td>
        <td><%= (rakuten_casa_len.to_f / digestion_casa).round(1) %></td>
        <td><%= (rakuten_casa_put_len.to_f / digestion_casa_put).round(1) %></td>
      </tr>
      <tr>
        <th>平均売上</th>
        <td><%= (dmer_valuations.to_f / digestion_new).round().to_s(:delimited) rescue "NaN" %></td>
        <td><%= (dmer_slmt_valuations.to_f / digestion_settlement).round().to_s(:delimited) rescue "NaN" %></td>
        <td><%= (dmer_slmt2nd_valuations.to_f / digestion_settlement).round().to_s(:delimited) rescue "NaN" %></td>
        <td><%= (aupay_valuations.to_f / digestion_new).round().to_s(:delimited) rescue "NaN" %></td>
        <td><%= (aupay_slmt_valuations.to_f / digestion_settlement).round().to_s(:delimited) rescue "NaN" %></td>
        <td><%= (paypay_valuations.to_f / digestion_new).round().to_s(:delimited) rescue "NaN" %></td>
        <td><%= (rakuten_pay_valuations.to_f / digestion_new).round().to_s(:delimited) rescue "NaN" %></td>
        <td><%= (casa_new_profit.to_f / digestion_casa).round().to_s(:delimited) rescue "NaN" %></td>
        <td><%= (casa_put_profit.to_f / digestion_casa_put).round().to_s(:delimited) rescue "NaN" %></td>
      </tr>
      <tr>
        <th>合計売上</th>
        <td><%= dmer_valuations.to_s(:delimited) %></td>
        <td><%= dmer_slmt_valuations.to_s(:delimited) %></td>
        <td><%= dmer_slmt2nd_valuations.to_s(:delimited) %></td>
        <td><%= aupay_valuations.to_s(:delimited) %></td>
        <td><%= aupay_slmt_valuations.to_s(:delimited) %></td>
        <td><%= paypay_valuations.to_s(:delimited) %></td>
        <td><%= rakuten_pay_valuations.to_s(:delimited) %></td>
        <td><%= casa_new_profit.to_s(:delimited) %></td>
        <td><%= casa_put_profit.to_s(:delimited) %></td>
      </tr>
    </table>
    <h2>獲得数</h2>
    <table>
      <tr>
      </tr>
      <tr>
        <th colspan="5">dメル（新規）</th>
        <th colspan="">dメル（決済）</th>
        <th colspan="5">aupay（新規）</th>
        <th colspan="">aupay（決済）</th>
        <th colspan="">PayPay</th>
        <th colspan="">少額短期保険</th>
        <th colspan="4">楽天ペイ</th>
        <th colspan="4">フェムト（新規）</th>
        <th colspan="">フェムト（設置）</th>
        <th colspan="">フェムト（他者設置）</th>
        <th colspan="">フェムト（設置依頼）</th>
      </tr>
      <tr></tr>
      <tr>
      </tr>
        <% 2.times do %>
        <th colspan="5" style="border-left: 1px solid rgb(214, 219, 235);">評価対象</th>
        <th colspan="" style="border-left: 1px solid rgb(214, 219, 235);">評価対象</th>
        <% end %>
        <% 2.times do %>
        <th colspan="" style="border-left: 1px solid rgb(214, 219, 235);">評価対象</th>
        <% end %>
        <th colspan="4" style="border-left: 1px solid rgb(214, 219, 235);">評価対象</th>
        <th colspan="4" style="border-left: 1px solid rgb(214, 219, 235);">評価対象</th>
        <% 3.times do %>
        <th colspan="" style="border-left: 1px solid rgb(214, 219, 235);">評価対象</th>
        <% end %>
      <tr>
        <td colspan="5"><%= dmer_len %></td>
        <td colspan=""><%= dmer_slmt_len %></td>

        <td colspan="5"><%= aupay_len %></td>
        <td colspan=""><%= aupay_slmt_len %></td>
        <td colspan=""><%= paypay_len %></td>
        <td colspan=""><%= st_insurance_len %></td>
        <td colspan="4"><%= rakuten_pay_len %></td>
        <td colspan="4"><%= @rakuten_casas_this_month.length - @rakuten_casas_cancel.length + @rakuten_casas_inc.length %></td>
        <td colspan=""><%= @rakuten_casas_put_self.length %></td>
        <td colspan=""><%= @rakuten_casas_put_other.length %></td>
        <td colspan=""><%= @rakuten_casas_put_request.length %></td>
      </tr>
      <tr>
        <% 2.times do %>
        <th>獲得数</th>
        <th>不備・NG</th>
        <th>複数追加</th>
        <th>審査別月（増加）</th>
        <th>審査別月（減少）</th>
        <th>獲得数</th>
        <% end %>
        
        <% 2.times do %>
        <th>獲得数</th>
        <% end %>
        <th>獲得数</th>
        <th>不備・NG</th>
        <th>増加数</th>
        <th>不備解消別月</th>
        <th>獲得数</th>
        <th>不備・NG</th>
        <th>増加数</th>
      </tr>
      <tr>
      <%# 各商材の対象店舗の確認 %>
      <% dmer_slmter.group(:client).each do |d| %>
        <%#  d.client %>
      <% end %>
        <%# dメル %>
          <td style="color: blue;"><%= dmer_uq.length %></td>
          <td><%= link_to dmer_def.length,user_path(@results.first.user.id,month: @month), class: "def-link" %></td>
          <td style="color: blue;"><%= dmer_db.length %></td>
          <td style="color: blue;"><%= dmer_inc.length %></td>
          <td><%= link_to dmer_dec.length,user_path(@results.first.user.id,month: @month), class: "def-link" %></td>

          <td style="color: blue;"><%= dmer_slmt_len %></td>
        <%# aupay %>
          <td style="color: blue;"><%= aupay_uq.length %></td>
          <td ><%= link_to aupay_def.length, user_path(@results.first.user.id,month: @month), class: "def-link" %></td>
          <td style="color: blue;"><%= aupay_db.length %></td>
          <td style="color: blue;"><%= aupay_inc.length %></td>
          <td ><%= link_to aupay_dec.length, user_path(@results.first.user.id,month: @month), class: "def-link" %></td>

          <td style="color: blue;"><%= aupay_slmt_len %></td>
        <%# PayPay %>
          <td colspan="" style="color: blue;"><%= @paypays_this_month.length %></td>
        <%# 少額短期保険 %>
          <td colspan="" style="color: blue;"><%= @st_insurances_this_month.length %></td>
        <%# 楽天ペイ %>
          <td style="color: blue;"><%= rakuten_pay_uq.length  %></td>
          <td style="color: red;"><%= link_to  rakuten_pay_def.length, user_path(@results.first.user.id, month: @month), class: "def-link" %></td>
          <td style="color: blue;"><%= rakuten_pay_inc.length %></td>
          <td style="color: red;"><%= rakuten_pay_dec.length %></td>
        <%# 楽天フェムト新規 %>
          <td style="color: blue;"><%= @rakuten_casas_this_month.length %></td>
          <td style="color: red;"><%= @rakuten_casas_cancel.length %></td>
          <td style="color: blue;"><%= @rakuten_casas_inc.length %></td>
      </tr>
      <tr>
        <th colspan=4>dメル獲得 内訳</th>
        <th colspan=4>dメル決済内訳</th>
      </tr>
      <tr>
        <th>USEN</th>
        <th>マックス通常</th>
        <th>マックス即時</th>
        <th>ピアズ</th>
        <th>USEN</th>
        <th>マックス通常</th>
        <th>マックス即時</th>
        <th>ピアズ</th>
      </tr>
      <tr></tr>
      <tr>
        <td><%= dmer_uq.where(client: "USEN").length %></td>
        <td><%= dmer_uq.where(client: "マックスサポート").length %></td>
        <td><%= dmer_uq.where(client: "マックス即時").length %></td>
        <td><%= dmer_uq.where(client: "ピアズ").length %></td>
        <td><%= dmer_slmt.where(client: "USEN").length %></td>
        <td><%= dmer_slmt.where(client: "マックスサポート").length %></td>
        <td><%= dmer_slmt.where(client: "マックス即時").length %></td>
        <td><%= dmer_slmt.where(client: "ピアズ").length %></td>
      </tr>
    </table>
  <h1>基準値</h1>
    <% if @results.where(shift: "キャッシュレス新規").empty? %>
    <% else %>
  <%# 合計変数 %>
    <% sum_visit = @results.where(shift: "キャッシュレス新規").sum("first_visit + latter_visit") %>
    <% sum_interview = @results.where(shift: "キャッシュレス新規").sum("first_interview + latter_interview") %>
    <% sum_full_talk = @results.where(shift: "キャッシュレス新規").sum("first_full_talk + latter_full_talk") %>
    <% sum_get = @results.where(shift: "キャッシュレス新規").sum("first_get + latter_get") %>
  <%# 前半変数 %>
    <% sum_visit_f = @results.where(shift: "キャッシュレス新規").sum(:first_visit) %>
    <% sum_interview_f = @results.where(shift: "キャッシュレス新規").sum(:first_interview) %>
    <% sum_full_talk_f = @results.where(shift: "キャッシュレス新規").sum(:first_full_talk) %>
    <% sum_get_f = @results.where(shift: "キャッシュレス新規").sum(:first_get) %>
  <%# 後半変数 %>
    <% sum_visit_l = @results.where(shift: "キャッシュレス新規").sum(:latter_visit) %>
    <% sum_interview_l = @results.where(shift: "キャッシュレス新規").sum(:latter_interview) %>
    <% sum_full_talk_l = @results.where(shift: "キャッシュレス新規").sum(:latter_full_talk) %>
    <% sum_get_l = @results.where(shift: "キャッシュレス新規").sum(:latter_get) %>
  <div class="result-flex">
    <div class="base-frame">
      <h2>基準値</h2>
      <table class="out-tb">
        <thead>
          <tr>
            <th >項目</th>
            <th >内訳</th>
            <th >合計</th>
            <th >平均</th>
            <th >比率</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th rowspan="4" class="out-th">合計</th>
            <th>訪問</th>
            <td><%= sum_visit %></td>
            <td><%= (sum_visit.to_f / digestion_new).to_f().round(1) %></td>
            <td>-</td>
          </tr>
          <tr>
            <th>面会</th>
            <td><%= sum_interview %></td>
            <td><%= (sum_interview.to_f / digestion_new).to_f().round(1) %></td>
            <td><%= number_to_percentage(sum_interview.to_f / sum_visit.to_f * 100, precision: 1)  %></td>
          </tr>
          <tr>
            <th>フル</th>
            <td><%= sum_full_talk %></td>
            <td><%= (sum_full_talk.to_f / digestion_new).to_f.round(1) %></td>
            <td><%= number_to_percentage(sum_full_talk.to_f / sum_interview.to_f * 100, precision: 1)  %></td>
          </tr>
          <tr>
            <th>成約</th>
            <td><%= sum_get %></td>
            <td><%= (sum_get.to_f / digestion_new).to_f.round(1) %></td>
            <td><%= number_to_percentage(sum_get.to_f / sum_full_talk.to_f * 100, precision: 1)  %></td>
          </tr>
          <tr>
            <th rowspan="4" class="out-th">前半</th>
            <th>訪問</th>
            <td><%= sum_visit_f %></td>
            <td><%= (sum_visit_f.to_f / digestion_new).round(1) %></td>
            <td>-</td>
          </tr>
          <tr>
            <th>面会</th>
            <td><%= sum_interview_f %></td>
            <td><%= (sum_interview_f.to_f / digestion_new).round(1) %></td>
            <td><%= number_to_percentage(sum_interview_f.to_f / sum_visit_f.to_f * 100, precision: 1)  %></td>
          </tr>
          <tr>
            <th>フル</th>
            <td><%= sum_full_talk_f %></td>
            <td><%= (sum_full_talk_f.to_f / digestion_new).round(1) %></td>
            <td><%= number_to_percentage(sum_full_talk_f.to_f / sum_interview_f.to_f * 100, precision: 1)  %></td>
          </tr>
          <tr>
            <th>成約</th>
            <td><%= sum_get_f %></td>
            <td><%= (sum_get_f.to_f / digestion_new).round(1) %></td>
            <td><%= number_to_percentage(sum_get_f.to_f / sum_full_talk_f.to_f * 100, precision: 1)  %></td>
          </tr>
          <tr>
            <th rowspan="4" class="out-th">後半</th>
            <th>訪問</th>
            <td><%= sum_visit_l %></td>
            <td><%= (sum_visit_l.to_f / digestion_new).round(1) %></td>
            <td>-</td>
          </tr>
          <tr>
            <th>面会</th>
            <td><%= sum_interview_l %></td>
            <td><%= (sum_interview_l.to_f / digestion_new).round(1) %></td>
            <td><%= number_to_percentage(sum_interview_l.to_f / sum_visit_l.to_f * 100, precision: 1)  %></td>
          </tr>
          <tr>
            <th>フル</th>
            <td><%= sum_full_talk_l %></td>
            <td><%= (sum_full_talk_l.to_f / digestion_new).round(1) %></td>
            <td><%= number_to_percentage(sum_full_talk_l.to_f / sum_interview_l.to_f * 100, precision: 1)  %></td>
          </tr>
          <tr>
            <th>成約</th>
            <td><%= sum_get_l %></td>
            <td><%= (sum_get_l.to_f / digestion_new).round(1) %></td>
            <td><%= number_to_percentage(sum_get_l.to_f / sum_full_talk_l.to_f * 100, precision: 1)  %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="base-frame">
    <h2>店舗別基準値</h2>
    <%# 店舗別合計変数 %>
    <% cafe_visit_sum = @results.where(shift: "キャッシュレス新規").sum(:cafe_visit) %>
    <% cafe_get_sum = @results.where(shift: "キャッシュレス新規").sum(:cafe_get) %>
    <% other_food_visit_sum = @results.where(shift: "キャッシュレス新規").sum(:other_food_visit) %>
    <% other_food_get_sum = @results.where(shift: "キャッシュレス新規").sum(:other_food_get) %>
    <% car_visit_sum = @results.where(shift: "キャッシュレス新規").sum(:car_visit) %>
    <% car_get_sum = @results.where(shift: "キャッシュレス新規").sum(:car_get) %>
    <% other_retail_visit_sum = @results.where(shift: "キャッシュレス新規").sum(:other_retail_visit) %>
    <% other_retail_get_sum = @results.where(shift: "キャッシュレス新規").sum(:other_retail_get) %>
    <% hair_salon_visit_sum = @results.where(shift: "キャッシュレス新規").sum(:hair_salon_visit) %>
    <% hair_salon_get_sum = @results.where(shift: "キャッシュレス新規").sum(:hair_salon_get) %>
    <% manipulative_visit_sum = @results.where(shift: "キャッシュレス新規").sum(:manipulative_visit) %>
    <% manipulative_get_sum = @results.where(shift: "キャッシュレス新規").sum(:manipulative_get) %>
    <% other_service_visit_sum = @results.where(shift: "キャッシュレス新規").sum(:other_service_visit) %>
    <% other_service_get_sum = @results.where(shift: "キャッシュレス新規").sum(:other_service_get) %>
    <%# 全店舗合計変数 %>
    <% store_visit_sum = cafe_visit_sum +  other_food_visit_sum + car_visit_sum + other_retail_visit_sum + hair_salon_visit_sum + manipulative_visit_sum + other_service_visit_sum %>
    <% store_get_sum = cafe_get_sum +  other_food_get_sum + car_get_sum + other_retail_get_sum + hair_salon_get_sum + manipulative_get_sum + other_service_get_sum %>
    <table class="out-tb">
      <thead>
        <th>項目</th>
        <th>内訳</th>
        <th>合計</th>
        <th>平均</th>
        <th>成約率</th>
      </thead>
      <tbody>

      </tbody>
      <tr>
        <th rowspan="2" class="out-th">喫茶・カフェ</th>
        <th>訪問</th>
        <td><%= cafe_visit_sum %></td>
        <td><%= (cafe_visit_sum.to_f / digestion_new).round(1) %></td>
        <td>-</td>
      </tr>
      <tr>
        <th>成約</th>
        <td><%= cafe_get_sum %></td>
        <td><%= (cafe_get_sum.to_f / digestion_new).round(1) %></td>
        <td><%= number_to_percentage(cafe_get_sum.to_f / cafe_visit_sum.to_f * 100, precision: 1) %></td>
      </tr>
      <tr>
        <th rowspan="2" class="out-th">その他飲食</th>
        <th>訪問</th>
        <td><%= other_food_visit_sum %></td>
        <td><%= (other_food_visit_sum.to_f / digestion_new).round(1) %></td>
        <td>-</td>
      </tr>
      <tr>
        <th>成約</th>
        <td><%= other_food_get_sum %></td>
        <td><%= (other_food_get_sum.to_f / digestion_new).round(1) %></td>
        <td><%= number_to_percentage(other_food_get_sum.to_f / other_food_visit_sum.to_f * 100, precision: 1) %></td>
      </tr>
      <tr>
        <th rowspan="2" class="out-th">車屋</th>
        <th>訪問</th>
        <td><%= car_visit_sum %></td>
        <td><%= (car_visit_sum.to_f / digestion_new).round(1) %></td>
        <td>-</td>

      </tr>
      <tr>
        <th>成約</th>
        <td><%= car_get_sum %></td>
        <td><%= (car_get_sum.to_f / digestion_new).round(1) %></td>
        <td><%= number_to_percentage(car_get_sum.to_f / car_visit_sum.to_f * 100, precision: 1) %></td>
      </tr>
      <tr>
        <th rowspan="2" class="out-th">その他小売</th>
        <th>訪問</th>
        <td><%= other_retail_visit_sum %></td>
        <td><%= (other_retail_visit_sum.to_f / digestion_new).round(1) %></td>
        <td>-</td>
      </tr>
      <tr>
        <th>成約</th>
        <td><%= other_retail_get_sum %></td>
        <td><%= (other_retail_get_sum.to_f / digestion_new).round(1) %></td>
        <td><%= number_to_percentage(other_retail_get_sum.to_f / other_retail_visit_sum.to_f * 100, precision: 1) %></td>
      </tr>
      <tr>
        <th rowspan="2" class="out-th">理容・美容</th>
        <th>訪問</th>
        <td><%= hair_salon_visit_sum %></td>
        <td><%= (hair_salon_visit_sum.to_f / digestion_new).round(1) %></td>
        <td>-</td>
      </tr>
      <tr>
        <th>成約</th>
        <td><%= hair_salon_get_sum %></td>
        <td><%= (hair_salon_get_sum.to_f / digestion_new).round(1) %></td>
        <td><%= number_to_percentage(hair_salon_get_sum.to_f / hair_salon_visit_sum.to_f * 100, precision: 1) %></td>
      </tr>
      <tr>
        <th rowspan="2" class="out-th">整体・鍼灸</th>
        <th>訪問</th>
        <td><%= manipulative_visit_sum %></td>
        <td><%= (manipulative_visit_sum.to_f / digestion_new).round(1) %></td>
        <td>-</td>
      </tr>
      <tr>
        <th>成約</th>
        <td><%= manipulative_get_sum %></td>
        <td><%= (manipulative_get_sum.to_f / digestion_new).round(1) %></td>
        <td><%= number_to_percentage(manipulative_get_sum.to_f / manipulative_visit_sum.to_f * 100, precision: 1) %></td>
      </tr>
      <tr>
        <th rowspan="2" class="out-th">その他サービス</th>
        <th>訪問</th>
        <td><%= other_service_visit_sum %></td>
        <td><%= (other_service_visit_sum.to_f / digestion_new).round(1) %></td>
        <td>-</td>
      </tr>
      <tr>
        <th>成約</th>
        <td><%= other_service_get_sum %></td>
        <td><%= (other_service_get_sum.to_f / digestion_new).round(1) %></td>
        <td><%= number_to_percentage(other_service_get_sum.to_f / other_service_visit_sum.to_f * 100, precision: 1) %></td>
      </tr>
    </table>
    </div>
      <div>
      <h2 class="base-frame">切り返し</h2>
      <table class="out-tb">
        <thead>
        <tr>
          <th >切り返し内容</th>
          <th >内訳</th>
          <th>合計</th>
          <th>平均</th>
          <th>成約率</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th rowspan="3" class="out-th">０１：どういうこと？</th>
          <th>決済者面会</th>
          <td><%= @results.includes(:result_cash).sum(:out_interview_01) %></td>
          <td><%= @results.includes(:result_cash).average(:out_interview_01).to_f.round(1) %></td>
          <td></td>
        </tr>
        <tr>
          <th>フル数</th>
          <td><%= @results.includes(:result_cash).sum(:out_full_talk_01) %></td>
          <td><%= @results.includes(:result_cash).average(:out_full_talk_01).to_f.round(1) %></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_full_talk_01).to_f / @results.includes(:result_cash).sum(:out_interview_01).to_f * 100,precision: 1) %></td>
        </tr>
        <tr>
          <th>成約数</th>
          <td><%= @results.includes(:result_cash).sum(:out_get_01)%></td>
          <td><%= @results.includes(:result_cash).average(:out_get_01).to_f.round(1)%></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_get_01).to_f / @results.includes(:result_cash).sum(:out_full_talk_01).to_f * 100,precision: 1) %></td>
        </tr>
        <tr>
        <th rowspan="3" class="out-th">０２：君は誰？協会？</th>
          <th>決済者面会</th>
          <td><%= @results.includes(:result_cash).sum(:out_interview_02) %></td>
          <td><%= @results.includes(:result_cash).average(:out_interview_02).to_f.round(1) %></td>
          <td></td>
        </tr>
        <tr>
          <th>フル数</th>
          <td><%= @results.includes(:result_cash).sum(:out_full_talk_02) %></td>
          <td><%= @results.includes(:result_cash).average(:out_full_talk_02).to_f.round(1) %></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_full_talk_02).to_f / @results.includes(:result_cash).sum(:out_interview_02).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
          <th>成約数</th>
          <td><%= @results.includes(:result_cash).sum(:out_get_02) %></td>
          <td><%= @results.includes(:result_cash).average(:out_get_02).to_f.round(1) %></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_get_02).to_f / @results.includes(:result_cash).sum(:out_full_talk_02).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
        <th rowspan="3" class="out-th">０３：もらうだけでいいの？</th>
          <th>決済者面会</th>
          <td><%= @results.includes(:result_cash).sum(:out_interview_03) %></td>
          <td><%= @results.includes(:result_cash).average(:out_interview_03).to_f.round(1) %></td>
          <td></td>
        </tr>
        <tr>
          <th>フル数</th>
          <td><%= @results.includes(:result_cash).sum(:out_full_talk_03).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_full_talk_03).to_f.round(1) %></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_full_talk_03).to_f / @results.includes(:result_cash).sum(:out_interview_03).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
          <th>成約数</th>
          <td><%= @results.includes(:result_cash).sum(:out_get_03).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_get_03).to_f.round(1) %></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_get_03).to_f / @results.includes(:result_cash).sum(:out_full_talk_03).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
        <th rowspan="3" class="out-th">０４：PayPayのみ</th>
          <th>決済者面会</th>
          <td><%= @results.includes(:result_cash).sum(:out_interview_04).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_interview_04).to_f.round(1) %></td>
          <td></td>
        </tr>
        <tr>
          <th>フル数</th>
          <td><%= @results.includes(:result_cash).sum(:out_full_talk_04).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_full_talk_04).to_f.round(1) %></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_full_talk_04).to_f / @results.includes(:result_cash).sum(:out_interview_04).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
          <th>成約数</th>
          <td><%= @results.includes(:result_cash).sum(:out_get_04).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_get_04).to_f.round(1) %></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_get_04).to_f / @results.includes(:result_cash).sum(:out_full_talk_04).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
        <th rowspan="3" class="out-th">０５：AirPayのみ</th>
          <th>決済者面会</th>
          <td><%= @results.includes(:result_cash).sum(:out_interview_05).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_interview_05).to_f.round(1) %></td>
          <td></td>
        </tr>
        <tr>
          <th>フル数</th>
          <td><%= @results.includes(:result_cash).sum(:out_full_talk_05).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_full_talk_05).to_f.round(1) %></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_full_talk_05).to_f / @results.includes(:result_cash).sum(:out_interview_05).to_f * 100,precision: 1) %></td>
        </tr>
        <tr>
          <th>成約数</th>
          <td><%= @results.includes(:result_cash).sum(:out_get_05).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_get_05).to_f.round(1) %></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_get_05).to_f / @results.includes(:result_cash).sum(:out_full_talk_05).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
        <th rowspan="3" class="out-th">０６：カードのみ</th>
          <th>決済者面会</th>
          <td><%= @results.includes(:result_cash).sum(:out_interview_06).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_interview_06).to_f.round(1) %></td>
          <td></td>
        </tr>
        <tr>
          <th>フル数</th>
          <td><%= @results.includes(:result_cash).sum(:out_full_talk_06).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_full_talk_06).to_f.round(1) %></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_full_talk_06).to_f / @results.includes(:result_cash).sum(:out_interview_06).to_f * 100,precision: 1) %></td>
        </tr>
        <tr>
          <th>成約数</th>
          <td><%= @results.includes(:result_cash).sum(:out_get_06).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_get_06).to_f.round(1) %></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_get_06).to_f / @results.includes(:result_cash).sum(:out_full_talk_06).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
        <th rowspan="3" class="out-th">０７：先延ばし</th>
          <th>決済者面会</th>
          <td><%= @results.includes(:result_cash).sum(:out_interview_07).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_interview_07).to_f.round(1) %></td>
          <td></td>
        </tr>
        <tr>
          <th>フル数</th>
          <td><%= @results.includes(:result_cash).sum(:out_full_talk_07).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_full_talk_07).to_f.round(1) %></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_full_talk_07).to_f / @results.includes(:result_cash).sum(:out_interview_07).to_f * 100,precision: 1) %></td>
        </tr>
        <tr>
          <th>成約数</th>
          <td><%= @results.includes(:result_cash).sum(:out_get_07).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_get_07).to_f.round(1) %></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_get_07).to_f / @results.includes(:result_cash).sum(:out_full_talk_07).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
        <th rowspan="3" class="out-th">０８：忙しい</th>
          <th>決済者面会</th>
          <td><%= @results.includes(:result_cash).sum(:out_interview_08).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_interview_08).to_f.round(1) %></td>
          <td></td>
        </tr>
        <tr>
          <th>フル数</th>
          <td><%= @results.includes(:result_cash).sum(:out_full_talk_08).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_full_talk_08).to_f.round(1) %></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_full_talk_08).to_f / @results.includes(:result_cash).sum(:out_interview_08).to_f * 100,precision: 1) %></td>
        </tr>
        <tr>
          <th>成約数</th>
          <td><%= @results.includes(:result_cash).sum(:out_get_08).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_get_08).to_f.round(1) %></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_get_08).to_f / @results.includes(:result_cash).sum(:out_full_talk_08).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
        <th rowspan="3" class="out-th">０９：現金のみ</th>
          <th>決済者面会</th>
          <td><%= @results.includes(:result_cash).sum(:out_interview_09).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_interview_09).to_f.round(1) %></td>
          <td></td>
        </tr>
        <tr>
          <th>フル数</th>
          <td><%= @results.includes(:result_cash).sum(:out_full_talk_09).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_full_talk_09).to_f.round(1) %></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_full_talk_09).to_f / @results.includes(:result_cash).sum(:out_interview_09).to_f * 100,precision: 1) %></td>
        </tr>
        <tr>
          <th>成約数</th>
          <td><%= @results.includes(:result_cash).sum(:out_get_09).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_get_09).to_f.round(1) %></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_get_09).to_f / @results.includes(:result_cash).sum(:out_full_talk_09).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
        <th rowspan="3" class="out-th">１０：面倒くさい</th>
          <th>決済者面会</th>
          <td><%= @results.includes(:result_cash).sum(:out_interview_10).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_interview_10).to_f.round(1) %></td>
          <td></td>
        </tr>
        <tr>
          <th>フル数</th>
          <td><%= @results.includes(:result_cash).sum(:out_full_talk_10).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_full_talk_10).to_f.round(1) %></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_full_talk_10).to_f / @results.includes(:result_cash).sum(:out_interview_10).to_f * 100,precision: 1) %></td>
        </tr>
        <tr>
          <th>成約数</th>
          <td><%= @results.includes(:result_cash).sum(:out_get_10).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_get_10).to_f.round(1) %></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_get_10).to_f / @results.includes(:result_cash).sum(:out_full_talk_10).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
        <th rowspan="3" class="out-th">１１：情報不足</th>
          <th>決済者面会</th>
          <td><%= @results.includes(:result_cash).sum(:out_interview_11).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_interview_11).to_f.round(1) %></td>
          <td></td>
        </tr>
        <tr>
          <th>フル数</th>
          <td><%= @results.includes(:result_cash).sum(:out_full_talk_11).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_full_talk_11).to_f.round(1) %></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_full_talk_11).to_f / @results.includes(:result_cash).sum(:out_interview_11).to_f * 100,precision: 1) %></td>
        </tr>
        <tr>
          <th>成約数</th>
          <td><%= @results.includes(:result_cash).sum(:out_get_11).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_get_11).to_f.round(1) %></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_get_11).to_f / @results.includes(:result_cash).sum(:out_full_talk_11).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
        <th rowspan="3" class="out-th">１２：ペロ</th>
          <th>決済者面会</th>
          <td><%= @results.includes(:result_cash).sum(:out_interview_12).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_interview_12).to_f.round(1) %></td>
          <td></td>
        </tr>
        <tr>
          <th>フル数</th>
          <td><%= @results.includes(:result_cash).sum(:out_full_talk_12).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_full_talk_12).to_f.round(1) %></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_full_talk_12).to_f / @results.includes(:result_cash).sum(:out_interview_12).to_f * 100,precision: 1) %></td>
        </tr>
        <tr>
          <th>成約数</th>
          <td><%= @results.includes(:result_cash).sum(:out_get_12).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_get_12).to_f.round(1) %></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_get_12).to_f / @results.includes(:result_cash).sum(:out_full_talk_12).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
        <th rowspan="3" class="out-th">１３：その他</th>
          <th>決済者面会</th>
          <td><%= @results.includes(:result_cash).sum(:out_interview_13).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_interview_13).to_f.round(1) %></td>
          <td></td>
        </tr>
        <tr>
          <th>フル数</th>
          <td><%= @results.includes(:result_cash).sum(:out_full_talk_13).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_full_talk_13).to_f.round(1) %></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_full_talk_13).to_f / @results.includes(:result_cash).sum(:out_interview_13).to_f * 100,precision: 1) %></td>
        </tr>
        <tr>
          <th>成約数</th>
          <td><%= @results.includes(:result_cash).sum(:out_get_13).to_f.round(1) %></td>
          <td><%= @results.includes(:result_cash).average(:out_get_13).to_f.round(1) %></td>
          <td><%= number_to_percentage(@results.includes(:result_cash).sum(:out_get_13).to_f / @results.includes(:result_cash).sum(:out_full_talk_13).to_f * 100,precision: 1)  %></td>
        </tr>
        </tbody>
        </table>
      </div>
    </div>

    <% end %>
    <% if @results.where(shift: "楽天フェムト新規").empty? %>
    <% else %>
    <div style="display: flex;">
    <div>
  <h2>楽天フェムト新規</h2>
    <table>
    <tr>
    </tr>
      <tr>
        <th colspan="4">合計</th>
        <th colspan="4">前半</th>
        <th colspan="4">後半</th>
      </tr>
      <tr>
      <% 3.times do %>
        <th style="border-left: 1px solid rgb(214, 219, 235);">訪問</th>
        <th>対面</th>
        <th>フル</th>
        <th>成約</th>
      <% end %>
      </tr>
      <tr>
      <%# 合計 %>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum("first_visit + latter_visit").to_f / @results.where(shift: "楽天フェムト新規").length).to_f().round(1) %></td>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum("first_interview + latter_interview").to_f / @results.where(shift: "楽天フェムト新規").length).to_f().round(1) %></td>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum("first_full_talk + latter_full_talk").to_f / @results.where(shift: "楽天フェムト新規").length).to_f().round(1) %></td>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum("first_get + latter_get").to_f / @results.where(shift: "楽天フェムト新規").length).to_f().round(1) %></td>
      <%# 前半 %>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum(:first_visit).to_f / @results.where(shift: "楽天フェムト新規").length).round(1) %></td>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum(:first_interview).to_f / @results.where(shift: "楽天フェムト新規").length).round(1) %></td>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum(:first_full_talk).to_f / @results.where(shift: "楽天フェムト新規").length).round(1) %></td>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum(:first_get).to_f / @results.where(shift: "楽天フェムト新規").length).round(1) %></td>
      <%# 後半 %>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum(:latter_visit).to_f / @results.where(shift: "楽天フェムト新規").length).round(1) %></td>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum(:latter_interview).to_f / @results.where(shift: "楽天フェムト新規").length).round(1) %></td>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum(:latter_full_talk).to_f / @results.where(shift: "楽天フェムト新規").length).round(1) %></td>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum(:latter_get).to_f / @results.where(shift: "楽天フェムト新規").length).round(1) %></td>
      </tr>
    </table>
    </div>
    <div>
    <h2>店舗別基準値</h2>
    <table>
      <tr>
        <th colspan="2">喫茶・カフェ</th>
        <th colspan="2">その他飲食</th>
        <th colspan="2">車屋</th>
        <th colspan="2">その他小売</th>
        <th colspan="2">理容・美容</th>
        <th colspan="2">整体・鍼灸</th>
        <th colspan="2">その他サービス</th>
      </tr>
      <tr>
      <% 7.times do %>
        <th>訪問</th>
        <th>獲得</th>
      <% end %>
      </tr>
      <tr>
      </tr>
    <%# 店舗別基準値（値） %>
      <tr>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum(:cafe_visit).to_f() / @results.where(shift: "楽天フェムト新規").length).round(1) %></td>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum(:cafe_get).to_f() / @results.where(shift: "楽天フェムト新規").length).round(1) %></td>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum(:other_food_visit).to_f() / @results.where(shift: "楽天フェムト新規").length).round(1) %></td>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum(:other_food_get).to_f() / @results.where(shift: "楽天フェムト新規").length).round(1) %></td>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum(:car_visit).to_f() / @results.where(shift: "楽天フェムト新規").length).round(1) %></td>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum(:car_get).to_f() / @results.where(shift: "楽天フェムト新規").length).round(1) %></td>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum(:other_retail_visit).to_f() / @results.where(shift: "楽天フェムト新規").length).round(1) %></td>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum(:other_retail_get).to_f() / @results.where(shift: "楽天フェムト新規").length).round(1) %></td>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum(:hair_salon_visit).to_f() / @results.where(shift: "楽天フェムト新規").length).round(1) %></td>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum(:hair_salon_get).to_f() / @results.where(shift: "楽天フェムト新規").length).round(1) %></td>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum(:manipulative_visit).to_f() / @results.where(shift: "楽天フェムト新規").length).round(1) %></td>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum(:manipulative_get).to_f() / @results.where(shift: "楽天フェムト新規").length).round(1) %></td>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum(:other_service_visit).to_f() / @results.where(shift: "楽天フェムト新規").length).round(1) %></td>
        <td><%= (@results.where(shift: "楽天フェムト新規").sum(:other_service_get).to_f() / @results.where(shift: "楽天フェムト新規").length).round(1) %></td>
      </tr>
    </table>
    </div>
  </div>
  <div style="display: flex;">
      <table>
        <tr>
          <th></th>
          <th>決済者面会</th>
          <th>フル数</th>
          <th>フル率（％）</th>
          <th>成約数</th>
          <th>成約率（％）</th>
        </tr>
        <tr>
          <% casa_out = @results.includes(:result_casa) %>
          <th style="text-align:left;">０１：楽天使ってない</th>
          <td><%= casa_out.average(:out_interview_01).to_f.round(1) %></td>
          <td><%= casa_out.average(:out_full_talk_01).to_f.round(1) %></td>
          <td><%= number_to_percentage(casa_out.sum(:out_full_talk_01).to_f / casa_out.sum(:out_interview_01).to_f * 100,precision: 1) %></td>
          <td><%= casa_out.average(:out_get_01).to_f.round(1)%></td>
          <td><%= number_to_percentage(casa_out.sum(:out_get_01).to_f / casa_out.sum(:out_full_talk_01).to_f * 100,precision: 1) %></td>
        </tr>
        <tr>
          <th style="text-align:left;">０２：面倒くさい</th>
          <td><%= casa_out.average(:out_interview_02).to_f.round(1) %></td>
          <td><%= casa_out.average(:out_full_talk_02).to_f.round(1) %></td>
          <td><%= number_to_percentage(casa_out.sum(:out_full_talk_02).to_f / casa_out.sum(:out_interview_02).to_f * 100,precision: 1)  %></td>
          <td><%= casa_out.average(:out_get_02).to_f.round(1) %></td>
          <td><%= number_to_percentage(casa_out.sum(:out_get_02).to_f / casa_out.sum(:out_full_talk_02).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
          <th style="text-align:left;">０３：置く場所がない</th>
          <td><%= casa_out.average(:out_interview_03).to_f.round(1) %></td>
          <td><%= casa_out.average(:out_full_talk_03).to_f.round(1) %></td>
          <td><%= number_to_percentage(casa_out.sum(:out_full_talk_03).to_f / casa_out.sum(:out_interview_03).to_f * 100,precision: 1)  %></td>
          <td><%= casa_out.average(:out_get_03).to_f.round(1) %></td>
          <td><%= number_to_percentage(casa_out.sum(:out_get_03).to_f / casa_out.sum(:out_full_talk_03).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
          <th style="text-align:left;">０４：メリットがない</th>
          <td><%= casa_out.average(:out_interview_04).to_f.round(1) %></td>
          <td><%= casa_out.average(:out_full_talk_04).to_f.round(1) %></td>
          <td><%= number_to_percentage(casa_out.sum(:out_full_talk_04).to_f / casa_out.sum(:out_interview_04).to_f * 100,precision: 1)  %></td>
          <td><%= casa_out.average(:out_get_04).to_f.round(1) %></td>
          <td><%= number_to_percentage(casa_out.sum(:out_get_04).to_f / casa_out.sum(:out_full_talk_04).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
          <th style="text-align:left;">０５：前断った</th>
          <td><%= casa_out.average(:out_interview_05).to_f.round(1) %></td>
          <td><%= casa_out.average(:out_full_talk_05).to_f.round(1) %></td>
          <td><%= number_to_percentage(casa_out.sum(:out_full_talk_05).to_f / casa_out.sum(:out_interview_05).to_f * 100,precision: 1) %></td>
          <td><%= casa_out.average(:out_get_05).to_f.round(1) %></td>
          <td><%= number_to_percentage(casa_out.sum(:out_get_05).to_f / casa_out.sum(:out_full_talk_05).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
          <th style="text-align:left;">０６：必要ない</th>
          <td><%= casa_out.average(:out_interview_06).to_f.round(1) %></td>
          <td><%= casa_out.average(:out_full_talk_06).to_f.round(1) %></td>
          <td><%= number_to_percentage(casa_out.sum(:out_full_talk_06).to_f / casa_out.sum(:out_interview_06).to_f * 100,precision: 1) %></td>
          <td><%= casa_out.average(:out_get_06).to_f.round(1) %></td>
          <td><%= number_to_percentage(casa_out.sum(:out_get_06).to_f / casa_out.sum(:out_full_talk_06).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
          <th style="text-align:left;">０７：忙しい</th>
          <td><%= casa_out.average(:out_interview_07).to_f.round(1) %></td>
          <td><%= casa_out.average(:out_full_talk_07).to_f.round(1) %></td>
          <td><%= number_to_percentage(casa_out.sum(:out_full_talk_07).to_f / casa_out.sum(:out_interview_07).to_f * 100,precision: 1) %></td>
          <td><%= casa_out.average(:out_get_07).to_f.round(1) %></td>
          <td><%= number_to_percentage(casa_out.sum(:out_get_07).to_f / casa_out.sum(:out_full_talk_07).to_f * 100,precision: 1)  %></td>
        </tr>
        <tr>
          <th style="text-align:left;">０８：ペロ</th>
          <td><%= casa_out.average(:out_interview_08).to_f.round(1) %></td>
          <td><%= casa_out.average(:out_full_talk_08).to_f.round(1) %></td>
          <td><%= number_to_percentage(casa_out.sum(:out_full_talk_08).to_f / casa_out.sum(:out_interview_08).to_f * 100,precision: 1) %></td>
          <td><%= casa_out.average(:out_get_08).to_f.round(1) %></td>
          <td><%= number_to_percentage(casa_out.sum(:out_get_08).to_f / casa_out.sum(:out_full_talk_08).to_f * 100,precision: 1)  %></td>
        </tr>
          <th style="text-align:left;">０９：その他</th>
          <td><%= casa_out.average(:out_interview_09).to_f.round(1) %></td>
          <td><%= casa_out.average(:out_full_talk_09).to_f.round(1) %></td>
          <td><%= number_to_percentage(casa_out.sum(:out_full_talk_09).to_f / casa_out.sum(:out_interview_09).to_f * 100,precision: 1) %></td>
          <td><%= casa_out.average(:out_get_09).to_f.round(1) %></td>
          <td><%= number_to_percentage(casa_out.sum(:out_get_09).to_f / casa_out.sum(:out_full_talk_09).to_f * 100,precision: 1)  %></td>
        </tr>
      </table>
  </div>
    <% end %>
    <% if @results.where(shift: "サミット").empty? %>
    <% else %>
  </div>
    <div style="display: flex;">
  <h2>サミット</h2>
    <table>
      <tr>
        <th>訪問</th>
        <th>対面</th>
        <th>フル</th>
        <th>成約</th>
      </tr>
      <tr>
        <td><%= (@results.where(shift: "サミット").sum("first_visit + latter_visit") / @results.where(shift: "サミット").length).to_f().round(1) %></td>
        <td><%= (@results.where(shift: "サミット").sum("first_interview + latter_interview") / @results.where(shift: "サミット").length).to_f().round(1) %></td>
        <td><%= (@results.where(shift: "サミット").sum("first_full_talk + latter_full_talk") / @results.where(shift: "サミット").length).to_f().round(1) %></td>
        <td><%= (@results.where(shift: "サミット").sum("first_get + latter_get") / @results.where(shift: "サミット").length).to_f().round(1) %></td>
      </tr>
    </table>
    </div>
    <div>
    <h2>店舗別基準値</h2>
    <table>
      <tr>
        <th colspan="2">喫茶・カフェ</th>
        <th colspan="2">その他飲食</th>
        <th colspan="2">車屋</th>
        <th colspan="2">その他小売</th>
        <th colspan="2">理容・美容</th>
        <th colspan="2">整体・鍼灸</th>
        <th colspan="2">その他サービス</th>
      </tr>
      <tr>
      <% 7.times do %>
        <th>訪問</th>
        <th>獲得</th>
      <% end %>
      </tr>
      <tr>
      </tr>
    <%# 店舗別基準値（値）サミット %>
      <tr>
        <td><%= (@results.where(shift: "サミット").sum(:cafe_visit).to_f() / @results.where(shift: "サミット").length).round(1) %></td>
        <td><%= (@results.where(shift: "サミット").sum(:cafe_get).to_f() / @results.where(shift: "サミット").length).round(1) %></td>
        <td><%= (@results.where(shift: "サミット").sum(:other_food_visit).to_f() / @results.where(shift: "サミット").length).round(1) %></td>
        <td><%= (@results.where(shift: "サミット").sum(:other_food_get).to_f() / @results.where(shift: "サミット").length).round(1) %></td>
        <td><%= (@results.where(shift: "サミット").sum(:car_visit).to_f() / @results.where(shift: "サミット").length).round(1) %></td>
        <td><%= (@results.where(shift: "サミット").sum(:car_get).to_f() / @results.where(shift: "サミット").length).round(1) %></td>
        <td><%= (@results.where(shift: "サミット").sum(:other_retail_visit).to_f() / @results.where(shift: "サミット").length).round(1) %></td>
        <td><%= (@results.where(shift: "サミット").sum(:other_retail_get).to_f() / @results.where(shift: "サミット").length).round(1) %></td>
        <td><%= (@results.where(shift: "サミット").sum(:hair_salon_visit).to_f() / @results.where(shift: "サミット").length).round(1) %></td>
        <td><%= (@results.where(shift: "サミット").sum(:hair_salon_get).to_f() / @results.where(shift: "サミット").length).round(1) %></td>
        <td><%= (@results.where(shift: "サミット").sum(:manipulative_visit).to_f() / @results.where(shift: "サミット").length).round(1) %></td>
        <td><%= (@results.where(shift: "サミット").sum(:manipulative_get).to_f() / @results.where(shift: "サミット").length).round(1) %></td>
        <td><%= (@results.where(shift: "サミット").sum(:other_service_visit).to_f() / @results.where(shift: "サミット").length).round(1) %></td>
        <td><%= (@results.where(shift: "サミット").sum(:other_service_get).to_f() / @results.where(shift: "サミット").length).round(1) %></td>
      </tr>
    </table>
    </div>
    </div>
    <% end %>

  <h1>日々進捗</h1>
  <table class="out-tb">
    <thead>
      <tr></tr>
      <tr>
      <%# カラム %>
        <th colspan="7" >終着</th>
        <th colspan="5" >合計</th>
        <th colspan="4" >前半</th>
        <th colspan="4 ">後半</th>
        <th rowspan="2" >　店舗別　</th>
        <th colspan="2" >喫茶・カフェ</th>
        <th colspan="2" >その他飲食</th>
        <th colspan="2" >車屋</th>
        <th colspan="2" >その他小売</th>
        <th colspan="2" >理容・美容</th>
        <th colspan="2" >整体・鍼灸</th>
        <th colspan="2" >その他サービス</th>
      <%# キャッシュレス切り返し %>
        <% if @results.where(shift: "キャッシュレス新規").empty? %>
        <% else %>
        <th rowspan="2">　キャッシュ切り返し　</th>
        <th colspan="3">どういうこと？</th>
        <th colspan="3">君は誰？協会？</th>
        <th colspan="3">もらうだけでいいの？</th>
        <th colspan="3">PayPayのみ</th>
        <th colspan="3">AirPayのみ</th>
        <th colspan="3">カードのみ</th>
        <th colspan="3">先延ばし</th>
        <th colspan="3">忙しい</th>
        <th colspan="3">現金のみ</th>
        <th colspan="3">面倒くさい</th>
        <th colspan="3">情報不足</th>
        <th colspan="3">ペロ</th>
        <th colspan="3">その他</th>
        <% end %>
      <%# サミット切り返し %>
        <% if @results.where(shift: "サミット").empty? %>
        <% else %>
        <th rowspan="2">　サミット切り返し　</th>
        <th colspan="2">NG理由</th>
        <th colspan="3">引き落とし拒否</th>
        <th colspan="3">忙しい</th>
        <th colspan="3">怪しい</th>
        <th colspan="3">検討したい</th>
        <th colspan="3">変えたくない</th>
        <th colspan="3">ペロ</th>
        <th colspan="3">その他</th>
        <% end %>
      <%# フェムト切り返し %>
        <% if @results.where(shift: "楽天フェムト新規").empty? %>
        <% else %>
        <th rowspan="2">　フェムト切り返し　</th>
        <th colspan="3">０１：楽天使ってない</th>
        <th colspan="3">０２：面倒くさい</th>
        <th colspan="3">０３：置く場所がない</th>
        <th colspan="3">０４：メリットがない</th>
        <th colspan="3">０５：前断った</th>
        <th colspan="3">０６：必要ない</th>
        <th colspan="3">０７：忙しい</th>
        <th colspan="3">０８：ペロ</th>
        <th colspan="3">０９：その他</th>
        <% end %>
        <th >獲得商材</th>
      </tr>
      <tr >
      <%# 大枠基準値（見出し） %>
          <th>ID</th>
          <th></th>
          <th></th>
          <th >シフト</th>
          <th class="sticky">日付</th>
          <th >帯同</th>
          <th >エリア</th>
          <th >売上</th>
          <th >訪問数</th>
          <th >対面数</th>
          <th >フル数</th>
          <th >成約数</th>
          <th >訪問数</th>
          <th >対面数</th>
          <th >フル数</th>
          <th >成約数</th>
          <th >訪問数</th>
          <th >対面数</th>
          <th >フル数</th>
          <th >成約数</th>
      <%# 店舗別基準値（見出し） %>
        <% 7.times do %>
        <th>訪問数</th>
        <th>獲得数</th>
        <% end %>
      <%# キャッシュレス切り返し（見出し） %>
        <% if @results.where(shift: "キャッシュレス新規").empty? %>
        <% else %>
          <% 13.times do %>
          <th style="border-left: 1px solid rgb(214, 219, 235);">対面数</th>
          <th>フル数</th>
          <th>成約数</th>
          <% end %>
        <% end %>
      <%# サミット切り返し（見出し） %>
        <% if @results.where(shift: "サミット").empty? %>
        <% else %>
          <th>明細なし</th>
          <th>明細NG</th>
          <% 7.times do %>
          <th style="border-left: 1px solid rgb(214, 219, 235);">対面数</th>
          <th>フル数</th>
          <th>成約数</th>
          <% end %>
        <% end %>
      <%# フェムト切り返し（見出し） %>
        <% if @results.where(shift: "楽天フェムト新規").empty? %>
        <% else %>
          <% 9.times do %>
            <th style="border-left: 1px solid rgb(214, 219, 235);">対面数</th>
            <th>フル数</th>
            <th>成約数</th>
          <% end %>
        <% end %>
        <th><%#獲得商材%></th>
      </tr>
    </thead>
    <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.id %></td>
        <td style="padding: 0 20px;"><%= link_to "基準値編集", edit_result_path(result.id),class: "link" %></td>
        <% if result.shift == "キャッシュレス新規" %>
          <td style="padding: 0 20px;"><%= link_to "切り返し編集", edit_result_cash_path(result.result_cash.id),class: "link" rescue "error" %></td>
        <% elsif result.shift == "楽天フェムト新規" %>
        <td style="padding: 0 20px;"><%= link_to "切り返し編集", edit_result_casa_path(result.result_casa.id),class: "link" %></td>
        <% else %>
        <td></td>
        <% end %>
        <td ><%= result.shift %></td>
        <th class="sticky"><%= result.date.month %>月<%= result.date.day %>日（<%= days[result.date.wday] %>）</th>
        <td ><%= result.ojt.name rescue "" %></td>
        <td ><%= result.area %></td>
        <%# その日の売上 %>
          <%# フェムト設置依頼 %>
          <% casa_put_request = RakutenCasa.where(put: result.date).where(user_id: result.user_id).where.not(putter_id: result.user_id).sum(:valuation_put).to_f * 0.2 %>
          <%# フェムト他者設置 %>
          <% casa_put_other = RakutenCasa.where(put: result.date).where(putter_id: result.user_id).where.not(user_id: result.user_id).sum(:valuation_put).to_f * 0.8 %>
          <%# フェムト自分で設置 %>
          <% casa_put_self = RakutenCasa.where(put: result.date).where(user_id: result.user_id).where(putter_id: result.user_id).sum(:valuation_put).to_f %>
          <% date_profit =
          Dmer.where(user_id: result.user_id).where(date: result.date).sum(:valuation_new) +
          Dmer.where(status_settlement: "完了").where(settlementer_id: result.user_id).where(settlement: result.date).sum(:valuation_settlement) +
          Aupay.where(user_id: result.user_id).where(date: result.date).sum(:valuation_new) + 
          Aupay.where(status_settlement: "完了").where(settlementer_id: result.user_id).where(settlement: result.date).sum(:valuation_settlement) +
          Paypay.where(user_id: result.user_id).where(date: result.date).sum(:valuation) +
          StInsurance.where(user_id: result.user_id).where(date: result.date).sum(:valuation) +
          RakutenPay.where(user_id: result.user_id).where(date: result.date).sum(:valuation) +
          RakutenCasa.where(user_id: result.user_id).where(date: result.date).sum(:valuation_new) +
          casa_put_self + casa_put_other + casa_put_request %>
        <td ><%= date_profit.round().to_s(:delimited) %></td>
        <td ><%= result.first_visit + result.latter_visit rescue "NaN" %></td>
        <td ><%= result.first_interview + result.latter_interview rescue "NaN" %></td>
        <td ><%= result.first_full_talk + result.latter_full_talk rescue "NaN" %></td>
        <td ><%= result.first_get + result.latter_get rescue "NaN" %></td>
      <%#前半%>
        <td ><%= result.first_visit rescue "NaN" %></td>
        <td ><%= result.first_interview rescue "NaN" %></td>
        <td ><%= result.first_full_talk rescue "NaN" %></td>
        <td ><%= result.first_get rescue "NaN" %></td>
      <%# 後半 %>
        <td ><%= result.latter_visit rescue "NaN" %></td>
        <td ><%= result.latter_interview rescue "NaN" %></td>
        <td ><%= result.latter_full_talk rescue "NaN" %></td>
        <td ><%= result.latter_get rescue "NaN" %></td>
      <%# 店舗別基準値(値) %>
        <td class="td-blank"></td>
        <%# 喫茶・カフェ %>
        <td ><%= result.cafe_visit %></td>
        <td ><%= result.cafe_get %></td>
        <%#その他飲食%>
        <td ><%= result.other_food_visit %></td>
        <td ><%= result.other_food_get %></td>
        <%#車屋%>
        <td ><%= result.car_visit %></td>
        <td ><%= result.car_get %></td>
        <%#その他小売%>
        <td ><%= result.other_retail_visit %></td>
        <td ><%= result.other_retail_get %></td>
        <%#理容・美容%>
        <td ><%= result.hair_salon_visit %></td>
        <td ><%= result.hair_salon_get %></td>
        <%#整体・鍼灸%>
        <td ><%= result.manipulative_visit %></td>
        <td ><%= result.manipulative_get %></td>
        <%#その他・サービス%>
        <td ><%= result.other_service_visit %></td>
        <td ><%= result.other_service_get %></td>
    <%# キャッシュレス切り返し %>
      <% if @results.where(shift: "キャッシュレス新規").empty? %>
      <% else %>
        <% if result.result_cash.nil? %>
          <td class="td-blank"></td>
          <% 39.times do %>
          <td class="td-blank"></td>
          <% end %>
        <% else %>
        <td class="td-blank"></td>
        <%#どういうこと？%>
        <td ><%= result.result_cash.out_interview_01 %></td>
        <td ><%= result.result_cash.out_full_talk_01 %></td>
        <td ><%= result.result_cash.out_get_01 %></td>
        <%#君は誰？%>
        <td ><%= result.result_cash.out_interview_02 %></td>
        <td ><%= result.result_cash.out_full_talk_02 %></td>
        <td ><%= result.result_cash.out_get_02 %></td>
        <%#もうらだけでいいの？%>
        <td ><%= result.result_cash.out_interview_03 %></td>
        <td ><%= result.result_cash.out_full_talk_03 %></td>
        <td ><%= result.result_cash.out_get_03 %></td>
        <%#PayPayのみ%>
        <td ><%= result.result_cash.out_interview_04 %></td>
        <td ><%= result.result_cash.out_full_talk_04 %></td>
        <td ><%= result.result_cash.out_get_04 %></td>
        <%#AirPayのみ%>
        <td ><%= result.result_cash.out_interview_05 %></td>
        <td ><%= result.result_cash.out_full_talk_05 %></td>
        <td ><%= result.result_cash.out_get_05 %></td>
        <%#カードのみ%>
        <td ><%= result.result_cash.out_interview_06 %></td>
        <td ><%= result.result_cash.out_full_talk_06 %></td>
        <td ><%= result.result_cash.out_get_06 %></td>
        <%#先延ばし%>
        <td ><%= result.result_cash.out_interview_07 %></td>
        <td ><%= result.result_cash.out_full_talk_07 %></td>
        <td ><%= result.result_cash.out_get_07 %></td>
        <%#現金のみ%>
        <td ><%= result.result_cash.out_interview_08 %></td>
        <td ><%= result.result_cash.out_full_talk_08 %></td>
        <td ><%= result.result_cash.out_get_08 %></td>
        <%#忙しい%>
        <td ><%= result.result_cash.out_interview_09 %></td>
        <td ><%= result.result_cash.out_full_talk_09 %></td>
        <td ><%= result.result_cash.out_get_09 %></td>
        <%#面倒くさい%>
        <td ><%= result.result_cash.out_interview_10 %></td>
        <td ><%= result.result_cash.out_full_talk_10 %></td>
        <td ><%= result.result_cash.out_get_10 %></td>
        <%#情報不足%>
        <td ><%= result.result_cash.out_interview_11 %></td>
        <td ><%= result.result_cash.out_full_talk_11 %></td>
        <td ><%= result.result_cash.out_get_11 %></td>
        <%#ペロ%>
        <td ><%= result.result_cash.out_interview_12 %></td>
        <td ><%= result.result_cash.out_full_talk_12 %></td>
        <td ><%= result.result_cash.out_get_12 %></td>
        <%#その他%>
        <td ><%= result.result_cash.out_interview_13 %></td>
        <td ><%= result.result_cash.out_full_talk_13 %></td>
        <td ><%= result.result_cash.out_get_13 %></td>
        <% end %>
      <% end %>
    <%# 楽天フェムト切り返し %>
      <% if @results.where(shift: "楽天フェムト新規").empty? %>
      <% else %>
        <% if result.result_casa.nil? %>
          <td class="td-blank"></td>
          <% 27.times do %>
          <td class="td-blank"></td>
          <% end %>
        <% else %>
        <td class="td-blank"></td>
        <% casa_out = result.result_casa %>
        <%#０１：楽天使ってない%>
        <td ><%= casa_out.out_interview_01 %></td>
        <td ><%= casa_out.out_full_talk_01 %></td>
        <td ><%= casa_out.out_get_01 %></td>
        <%#０２：めんどくさい%>
        <td ><%= casa_out.out_interview_02 %></td>
        <td ><%= casa_out.out_full_talk_02 %></td>
        <td ><%= casa_out.out_get_02 %></td>
        <%#０３：置く場所がない%>
        <td ><%= casa_out.out_interview_03 %></td>
        <td ><%= casa_out.out_full_talk_03 %></td>
        <td ><%= casa_out.out_get_03 %></td>
        <%#０４：メリットない%>
        <td ><%= casa_out.out_interview_04 %></td>
        <td ><%= casa_out.out_full_talk_04 %></td>
        <td ><%= casa_out.out_get_04 %></td>
        <%#０５：前断った%>
        <td ><%= casa_out.out_interview_05 %></td>
        <td ><%= casa_out.out_full_talk_05 %></td>
        <td ><%= casa_out.out_get_05 %></td>
        <%#０６：必要ない%>
        <td ><%= casa_out.out_interview_06 %></td>
        <td ><%= casa_out.out_full_talk_06 %></td>
        <td ><%= casa_out.out_get_06 %></td>
        <%#０７：忙しい%>
        <td ><%= casa_out.out_interview_07 %></td>
        <td ><%= casa_out.out_full_talk_07 %></td>
        <td ><%= casa_out.out_get_07 %></td>
        <%#０８：ペロ%>
        <td ><%= casa_out.out_interview_08 %></td>
        <td ><%= casa_out.out_full_talk_08 %></td>
        <td ><%= casa_out.out_get_08 %></td>
        <%#０９：そのた%>
        <td ><%= casa_out.out_interview_09 %></td>
        <td ><%= casa_out.out_full_talk_09 %></td>
        <td ><%= casa_out.out_get_09 %></td>
        <% end %>
      <% end %>
    <%# サミット切り返し %>
      <% dmaxspt_date_len = Dmer.where(user_id: result.user_id).where(date: result.date).where(client: "マックスサポート").length %>
      <% dmax_date_len = Dmer.where(user_id: result.user_id).where(date: result.date).where(client: "マックス即時").length %>
      <% dpias_date_len = Dmer.where(user_id: result.user_id).where(date: result.date).where(client: "ピアズ").length %>
      <% dusen_date_len = Dmer.where(user_id: result.user_id).where(date: result.date).where(client: "USEN").length %>
      <% dmax_slmt_date_len = Dmer.where(settlementer_id: result.user_id).where(settlement: result.date).where(client: "マックス即時").length %>
      <% dpias_slmt_date_len = Dmer.where(settlementer_id: result.user_id).where(settlement: result.date).where(client: "ピアズ").length %>
      <% dusen_slmt_date_len = Dmer.where(settlementer_id: result.user_id).where(settlement: result.date).where(client: "USEN").length %>
      <% dmer_slmt2nd_date_len = Dmer.where(settlementer_id: result.user_id).where(settlement_second: result.date).length %>
      <% aupay_date_len = Aupay.where(user_id: result.user_id).where(date: result.date).length %>
      <% aupay_slmt_date_len = Aupay.where(settlementer_id: result.user_id).where(settlement: result.date).length %>
      <% paypay_date_len = Paypay.where(user_id: result.user_id).where(date: result.date).length %>
      <% rakuten_pay_date_len = RakutenPay.where(user_id: result.user_id).where(date: result.date).length %>
      <td>
        <% if dmaxspt_date_len != 0 %>
          dメルマックス<%= dmaxspt_date_len %>
        <% end %>
        <% if dmax_date_len != 0 %>
          dメル即時<%= dmax_date_len %>
        <% end %>
        <% if dpias_date_len != 0 %>
          dメルピアズ<%= dpias_date_len %>
        <% end %>
        <% if dusen_date_len != 0 %>
          dメルUSEN<%= dpias_date_len %>
        <% end %>
        <% if aupay_date_len != 0 %>
          auPay<%= aupay_date_len %>
        <% end %>
        <% if paypay_date_len != 0 %>
          PayPay<%= paypay_date_len %>
        <% end %>
        <% if rakuten_pay_date_len != 0 %>
          楽天ペイ<%= rakuten_pay_date_len %>
        <% end %>
        <% if dmax_slmt_date_len != 0 %>
          dメル決済マックス<%= dmax_slmt_date_len %>
        <% end %>
        <% if dpias_slmt_date_len != 0 %>
          dメル決済ピアズ<%= dpias_slmt_date_len %>
        <% end %>
        <% if dusen_slmt_date_len != 0 %>
          dメル決済USEN<%= dusen_slmt_date_len %>
        <% end %>
        <% if dmer_slmt2nd_date_len != 0 %>
          dメル2回目決済<%= dmer_slmt2nd_date_len %>
        <% end %>
        <% if aupay_slmt_date_len != 0 %>
          auPay決済<%= aupay_slmt_date_len %>
        <% end %>
      </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <h1>評価対象一覧新規</h1>
    <% 
      dmer_new = 
        dmer_user
        .where(result_point: @results.maximum(:date).beginning_of_month..@results.maximum(:date).end_of_month)
        .where.not(industry_status: "×")
        .where.not(industry_status: "NG")
        .where(status: "審査OK")
    %>
    <% 
      aupay_new = 
        aupay_user
        .where(result_point: @results.maximum(:date).beginning_of_month..@results.maximum(:date).end_of_month)
        .where(status: "審査通過")
    %>
    <div class="result-flex">
      <div class="base-frame">
      <h2>dメル新規<%= dmer_new.length %>件</h2>
        <table class="out-tb">
          <thead>
          <tr>
            <th class="out-th"></th>
            <th class="out-th">商材</th>
            <th class="out-th">商流</th>
            <th class="out-th">店舗名</th>
            <th class="out-th">獲得日</th>
            <th class="out-th">審査ステータス</th>
            <th class="out-th">審査完了日</th>
          </tr>
          </thead>
          <tr>
          <% dmer_new.each do |dmer| %>
            <td class="out-tb"><%=link_to "詳細",dmer_path(dmer.id),class: "link"  %></td>
            <td class="out-tb">dメル新規</td>
            <td class="out-tb"><%= dmer.client %></td>
            <td class="out-tb"><%= dmer.store_prop.name %></td>
            <td class="out-tb"><%= dmer.date %></td>
            <td class="out-tb"><%= dmer.status %></td>
            <td class="out-tb"><%= dmer.result_point %></td>
          </tr>
          <% end %>
          <tbody>
        </table>
      </div>
      <div class="base-frame">
      <h2>auPay新規<%= aupay_new.length %>件</h2>
        <table class="out-tb">
          <thead>
          <tr>
            <th class="out-th"></th>
            <th class="out-th">商材</th>
            <th class="out-th">商流</th>
            <th class="out-th">店舗名</th>
            <th class="out-th">獲得日</th>
            <th class="out-th">審査ステータス</th>
            <th class="out-th">審査完了日</th>
          </tr>
          </thead>
          <tr>
          <% aupay_new.each do |aupay| %>
            <td class="out-tb"><%=link_to "詳細",aupay_path(aupay.id),class: "link"  %></td>
            <td class="out-tb">auPay新規</td>
            <td class="out-tb"><%= aupay.client %></td>
            <td class="out-tb"><%= aupay.store_prop.name %></td>
            <td class="out-tb"><%= aupay.date %></td>
            <td class="out-tb"><%= aupay.status %></td>
            <td class="out-tb"><%= aupay.result_point %></td>
          </tr>
          <% end %>
          <tbody>
        </table>
      </div>
    </div>
    <h1>評価対象一覧決済</h1>
    <div class="result-flex">
      <div class="base-frame">
      <h2>dメル決済<%= dmer_slmt.length %>件</h2>
        <table class="out-tb">
          <thead>
          <tr>
            <th class="out-th"></th>
            <th class="out-th">商材</th>
            <th class="out-th">商流</th>
            <th class="out-th">店舗名</th>
            <th class="out-th">獲得日</th>
            <th class="out-th">審査ステータス</th>
            <th class="out-th">決済完了日</th>
          </tr>
          </thead>
          <tr>
          <% dmer_slmt.each do |dmer| %>
            <td class="out-tb"><%=link_to "詳細",dmer_path(dmer.id),class: "link"  %></td>
            <td class="out-tb">dメル決済</td>
            <td class="out-tb"><%= dmer.client %></td>
            <td class="out-tb"><%= dmer.store_prop.name %></td>
            <td class="out-tb"><%= dmer.date %></td>
            <td class="out-tb"><%= dmer.status %></td>
            <td class="out-tb"><%= dmer.status_update_settlement %></td>
          </tr>
          <% end %>
          <tbody>
        </table>
      </div>
      <div class="base-frame">
      <h2>auPay決済<%= aupay_slmt.length %>件</h2>
        <table class="out-tb">
          <thead>
          <tr>
            <th class="out-th"></th>
            <th class="out-th">商材</th>
            <th class="out-th">商流</th>
            <th class="out-th">店舗名</th>
            <th class="out-th">獲得日</th>
            <th class="out-th">審査ステータス</th>
            <th class="out-th">決済完了日</th>
          </tr>
          </thead>
          <tr>
          <% aupay_slmt.each do |aupay| %>
            <td class="out-tb"><%=link_to "詳細",aupay_path(aupay.id),class: "link"  %></td>
            <td class="out-tb">auPay決済</td>
            <td class="out-tb"><%= aupay.client %></td>
            <td class="out-tb"><%= aupay.store_prop.name %></td>
            <td class="out-tb"><%= aupay.date %></td>
            <td class="out-tb"><%= aupay.status %></td>
            <td class="out-tb"><%= aupay.status_update_settlement %></td>
          </tr>
          <% end %>
          <tbody>
        </table>
      </div>
    </div>