

<%# 
  ◆注意事項 
    利用する際は@result_categoryを指定する必要があります。
%>
<%# 初期設定 %>
  <% days = ["日", "月", "火", "水", "木", "金", "土"] %>
  <% ranking = {} %>
  <% ranking_ave = {} %>
<%# 拠点合計シフト %>
  <% base_shift = 0 %>
  <% base_new_shift = 0 %>
  <% base_slmt_shift = 0 %>
  <% 
    base_shift_digestion = 
      @cash_result.where.not(shift: "休み")
      .where.not(shift: "内勤")
      .where.not(shift: "帯同")
      .where.not(shift: "欠勤").length  
  %>
  <% 
    base_new_shift_digestion = 
    @cash_result.where(shift: "キャッシュレス新規")
    .or(
      @cash_result.where(shift: "フェムト新規")
    )
    .or(
      @cash_result.where(shift: "サミット")
    ).length  
  %>
  <% 
    base_slmt_shift_digestion = 
      @cash_result.where(shift: "キャッシュレス決済").length  
  %>
<%# 拠点評価売上 %>
  <% base_ave = 0 %>
  <% base_fin = 0 %>
  <% base_sum = 0 %>
<%# 拠点獲得数 %>
  <% base_sum_product = 0 %>
  <% base_dmer = 0 %>
  <% base_dmer_ave = 0 %>
  <% base_dmer_fin = 0 %>
  <% base_dmer_slmt = 0 %>
  <% base_dmer_slmt2nd = 0 %>
  <% base_aupay = 0 %>
<%# 拠点成果件数 %>
  <% base_dmer_result1_len = 0 %>
  <% base_dmer_result2_len = 0 %>
  <% base_dmer_result3_len = 0 %>
  <% base_aupay_result1_len = 0 %>
  <% base_paypay_result1_len = 0 %>
  <% base_airpay_result1_len = 0 %>
  <% base_aupay_ave = 0 %>
  <% base_aupay_fin = 0 %>
  <% base_aupay_slmt = 0 %>
  <% base_paypay = 0 %>
  <% base_paypay_ave = 0 %>
  <% base_paypay_fin = 0 %>
  <% base_rakuten_pay = 0 %>
  <% base_rakuten_pay_ave = 0 %>
  <% base_rakuten_pay_fin = 0 %>
  <% base_airpay = 0 %>
  <% base_airpay_ave = 0 %>
  <% base_airpay_fin = 0 %>
  <% base_st_insurace = 0 %>
<%# 終着 %>

<% if @cash_result.empty? %><%# 大元のresultデータベースがあるか判別する %>
  <p class="caution-text">指定した日付には終着がありません。</p>
<% else %>
  <% if  @result_category == "拠点別終着" %><%# 利用内容に合わせて表示させるカラムを変更 %>
    <h2 class="base-title">
      <% if @cash_result.group(:base).length > 1 %>
      ◆全拠点
      <% else %>
      <%= @cash_result.first.user.base %>
      <% end %>
      （稼働訪問員<%= @cash_result.group(:user_id).length %>人）
      表示範囲：
      <%= @cash_result.minimum(:date) %>
      （<%= days[@cash_result.minimum(:date).wday] %>）〜<%= @cash_result.maximum(:date) %>（<%= days[@cash_result.maximum(:date).wday] %>）
    </h2> 
    <table class="base-tb">
      <tr>
        <th class="sticky" rowspan="2" >名前</th>
        <th class="base-th" rowspan="2" >担当商材</th>
        <th class="base-th" rowspan="2" >新規予定シフト</th>
        <th class="base-th" rowspan="2" >決済予定シフト</th>
        <th class="base-th" rowspan="2" >新規消化シフト</th>
        <th class="base-th" rowspan="2" >決済消化シフト</th>
        <th class="base-th" colspan="3" >評価売上</th>
        <th class="base-th" colspan="9">基準値</th>
        <th class="base-th" colspan="8">商材別獲得数</th>
        <th class="base-th" colspan="6">商材別成果数</th>
        <th class="base-th" colspan="5">商材別平均獲得数</th>
        <th class="base-th" colspan="5">商材別獲得終着見込</th>
        <th class="base-th" colspan="5">AirPay導入基準値</th>
        <th class="base-th" colspan="3">出前館基準値</th>
      </tr>
      <tr>
        <th class="base-th" >平均売上</th>
        <th class="base-th" >現状成果売上</th>
        <th class="base-th" >終着売上</th>
        <th class="base-th">訪問</th>
        <th class="base-th">応答</th>
        <th class="base-th">応答率</th>
        <th class="base-th">対面</th>
        <th class="base-th">対面率</th>
        <th class="base-th">フル</th>
        <th class="base-th">フル率</th>
        <th class="base-th">成約</th>
        <th class="base-th">獲得成約率</th>
        <%# 獲得商材 %>
        <th class="base-th">dメル（新規）</th>
        <th class="base-th">dメル（決済+写真）</th>
        <th class="base-th">dメル（2回目決済）</th>
        <th class="base-th">aupay（新規）</th>
        <th class="base-th">aupay（決済）</th>
        <th class="base-th">PayPay</th>
        <th class="base-th">楽天ペイ</th>
        <th class="base-th">AirPay</th>
        <%# 成果件数 %>
        <th class="base-th">dメル（審査通過）</th>
        <th class="base-th">dメル（決済+写真）</th>
        <th class="base-th">dメル（2回目決済）</th>
        <th class="base-th">auPay（決済+写真）</th>
        <th class="base-th">PayPay（審査通過）</th>
        <th class="base-th">AirPay（審査通過）</th>
        <%# 平均・終着 %>
        <% 2.times do %>
        <th class="base-th">dメル（新規）</th>
        <th class="base-th">aupay（新規）</th>
        <th class="base-th">PayPay</th>
        <th class="base-th">楽天ペイ</th>
        <th class="base-th">AirPay</th>
        <% end %>
        <%# 商材別基準値 %>
        <%# AirPay %>
        <th class="base-th">訪問</th>
        <th class="base-th">対面</th>
        <th class="base-th">対面率</th>
        <th class="base-th">成約</th>
        <th class="base-th">成約率</th>
        <%# 出前館 %>
        <th class="base-th">フル</th>
        <th class="base-th">成約</th>
        <th class="base-th">成約率</th>
      </tr>
      <tr></tr>
  <% elsif @result_category == "利益計算用終着" %><%# 利益計算用終着 %>
    <table>
      <tr>
        <th class="rank-th">氏名</th>
        <th class="rank-th">役職</th>
        <th class="rank-th">終着売上</th>
      </tr>
  <% end %><%# /利用内容に合わせて表示させるカラムを変更 %>
  <% @cash_result.group(:user_id).each do |r| %><%# 個別終着を出力 %>
    <%# ユーザーデータ %>
      <% r_user = @cash_result.where(user_id: r.user.id) %>
    <%# シフト %>
      <% 
        new_shift = 
        Shift.where(start_time: @cash_result.minimum(:date)..@results.minimum(:date).beginning_of_month.since(1.month).since(24.days)).where(user_id: r.user_id).where(shift: "キャッシュレス新規").length
      %>
      <% slmt_shift = Shift.where(start_time: @cash_result.minimum(:date)..@results.minimum(:date).beginning_of_month.since(1.month).since(24.days)).where(user_id: r.user_id).where(shift: "キャッシュレス決済").length %>
      <% base_slmt_shift += slmt_shift %>
      <%
        shifts = Shift.where(user_id: r.user_id)
        .where(start_time: @cash_result.minimum(:date)..@results.minimum(:date).beginning_of_month.since(1.month).since(24.days))
        .where.not(shift: "休み")
        .where.not(shift: "内勤")
        .where.not(shift: "帯同")
        .where.not(shift: "欠勤").length
      %>
      <% shift_data = Shift.where(user_id: r.user_id)
        .where(start_time: @cash_result.minimum(:date)..@results.minimum(:date).beginning_of_month.since(1.month).since(24.days))
        .where.not(shift: "休み")
        .where.not(shift: "内勤")
        .where.not(shift: "帯同")
        .where.not(shift: "欠勤") %>
      <% base_new_shift += new_shift %>
      <% base_shift += shifts %><%# 予定シフトの合計を取得 %>
      <% 
        shift_digestion = r_user
        .where.not(shift: "休み")
        .where.not(shift: "内勤")
        .where.not(shift: "帯同")
        .where.not(shift: "欠勤").length 
      %>
      <% 
        new_shift_digestion = 
          r_user.where(shift: "キャッシュレス新規").length
      %>
      <% slmt_shift_digestion = r_user.where(shift: "キャッシュレス決済").length %>
    <%# 基準値 %>
      <% sum_total_visit = (r_user.where(shift: "キャッシュレス新規").sum(:first_total_visit) + r_user.where(shift: "キャッシュレス新規").sum(:latter_total_visit)).to_f %>
      <% sum_visit = (r_user.where(shift: "キャッシュレス新規").sum(:first_visit) + r_user.where(shift: "キャッシュレス新規").sum(:latter_visit)).to_f %>
      <% sum_interview = (r_user.where(shift: "キャッシュレス新規").sum(:first_interview) + r_user.where(shift: "キャッシュレス新規").sum(:latter_interview)).to_f %>
      <% sum_full_talk = (r_user.where(shift: "キャッシュレス新規").sum(:first_full_talk) + r_user.where(shift: "キャッシュレス新規").sum(:latter_full_talk)).to_f %>
      <% sum_get = (r_user.where(shift: "キャッシュレス新規").sum(:first_get) + r_user.where(shift: "キャッシュレス新規").sum(:latter_get)).to_f %>
    <%# 各商材変数（評価売） %>
      <%# dメル（新規） %>
        <% dmer_user = Dmer.includes(:store_prop).where(user_id: r.user_id) %>
        <% 
          dmer_uq = 
            this_period(dmer_user,@cash_result).where(store_prop: {head_store: nil})
        %><%# dメル期間内獲得数 %>
        <% dmer_def =  dmer_def(dmer_uq,@cash_result) %><%# dメル不備 %>
        <% 
          dmer_inc = 
            judge_inc(dmer_user,@cash_result)
            .where(store_prop: {head_store: nil})
            .where.not(industry_status: "NG")
            .where.not(industry_status: "×") 
        %>
        <% 
          dmer_db = 
            share_period(dmer_user,@cash_result).where.not(store_prop: {head_store: nil})
            .where.not(industry_status: "×").where.not(industry_status: "NG").where.not(industry_status: "要確認")
            .where(status: "審査OK")
        %>
        <% 
          dmer_result1 =  
            dmer_user.where(result_point: @month_result.next_month.beginning_of_month..@month_result.next_month.end_of_month).where.not(industry_status: "NG").where.not(industry_status: "×").where.not(industry_status: "要確認").where(status: "審査OK")
        %>
        <% dmer_valuations = dmer_result1.sum(:valuation_new) %>
        <% dmer_result1_len = dmer_result1.length %>
        <% dmer_len = dmer_uq.length  - dmer_def.length + dmer_db.length %>
        <% if dmer_len == 0 %>
        <% dmer_len_ave = 0  %>
        <% else %>
        <% dmer_len_ave = (dmer_len.to_f / new_shift_digestion).round(1) rescue 0 %>
        <% end %>
        <% dmer_len_fin = (dmer_len_ave * new_shift).round() rescue 0 %>
      <%# 過去月決済対象の数 %>
        <% 
          dmer_slmt_tgt_prev = 
            dmer_user.where("settlement_deadline >= ?",@cash_result.minimum(:date))
            .where("? > date", @cash_result.minimum(:date))
            .where(status: "審査OK")
            .where.not(industry_status: "×")
            .where.not(industry_status: "NG")
            .where.not(industry_status: "要確認")
        %>
        <% dmer1_tgt_prev =  dmer_uq.where(status: "審査待ち").where("? > date", @cash_result.minimum(:date))
        %>
        <% dmer1_prev_val = 
          dmer1_tgt_prev.where(result_point: @cash_result.minimum(:date)..@cash_result.minimum(:date).next_month.end_of_month) 
        %>
        <% dmer1_prev_val_len = dmer1_prev_val.length %>
        <% dmer2_slmt_tgt_prev =  
            dmer_slmt_tgt_prev.where(status_update_settlement: @month_result.next_month.beginning_of_month..@month_result.next_month.end_of_month)
            .or(dmer_slmt_tgt_prev.where(status_update_settlement: nil))
        %>
        <% dmer3_slmt_tgt_prev = dmer2_slmt_tgt_prev.where("? >= settlement_second", @month_result.next_month.end_of_month) %>

        <% dmer_slmt_tgt_prev_len = dmer_slmt_tgt_prev.length rescue 0 %>
      <%# 決済期限切れ %>
            <% 
              dmer_slmt_dead = 
                dmer_slmt_tgt_prev.where(status_settlement: "期限切れ")
                .where(status_update_settlement: nil) 
            %>
            <% dmer_slmt_dead_len = dmer_slmt_dead.length %>
            <%# 過去の決済対象で今月成果になったもの %>
            <% 
              dmer_slmt_prev_val =  
                dmer_slmt_tgt_prev.where(status_update_settlement: @month_result.next_month.beginning_of_month..@month_result.next_month.end_of_month)
            %>
            <%
              dmer_2ndslmt_prev_val = 
                dmer_slmt_prev_val.where("? >= settlement_second", @month_result.next_month.end_of_month)
            %>
            <% dmer_slmt_prev_val_len = dmer_slmt_prev_val.length %>
            <% dmer_2ndslmt_prev_val_len = dmer_2ndslmt_prev_val.length %>
      <%# 第一成果終着 %>
        <%# 終着獲得数 %>
          <% 
            dmer_val_period =  
              dmer_user.where(status: "審査OK")
              .where.not(industry_status: "×")
              .where.not(industry_status: "NG")
              .where.not(industry_status: "要確認")
              .where(date: @cash_result.minimum(:date)..@cash_result.minimum(:date).end_of_month)
          %>
          <% dmer_val1_period = dmer_val_period.where(result_point: @cash_result.minimum(:date)..@cash_result.minimum(:date).end_of_month) %>
          <%
            dmer_val2_period = 
              dmer_val1_period.where(status_update_settlement: @cash_result.minimum(:date)..@cash_result.minimum(:date).end_of_month).where(status_settlement: "完了")
          %>
          <%
            dmer_val3_period = dmer_val2_period.where("? > settlement_second", @cash_result.maximum(:date).end_of_month)
          %>
          <% dmer_val1_period_len = dmer_val1_period.length %>
          <% dmer_val2_period_len = dmer_val2_period.length %>
          <% dmer_val3_period_len = dmer_val3_period.length %>
        <%# 期間内終着 %>
          <% if new_shift_digestion * new_shift == 0 %>
          <% dmer_result1_fin_this_month_len = 0 %>
          <% dmer_result1_fin_len = 0 %>
          <% else %>
          <% dmer_result1_fin_len = (dmer_len_ave * new_shift).round() %>
          <%
            dmer_result1_fin_this_month_len = 
              (
                dmer_len.to_f / new_shift_digestion * new_shift * (@dmer1_this_month_per - @dmer1_dec_per)
              ).round() rescue 0 
          %>
          <% end %>
          <% dmer_result1_fin_this_month = (@dmer1_price * dmer_result1_fin_this_month_len) - dmer_val1_period.sum(:valuation_new) %>
        <%# 過去月終着 %>
          <%# 過去月でまだ審査待ちの案件 %>
          <% dmer_result1_fin_prev_month = (@dmer1_price * (dmer1_tgt_prev.length * @dmer1_prev_month_per).round()) + dmer_result1.where("? > date",@cash_result.minimum(:date)).sum(:valuation_new) %>
          <% dmer_result1_fin = dmer_result1_fin_this_month + dmer_result1_fin_prev_month %>
          
        <%# dメル（決済） %>
          <% dmer_slmter = Dmer.where(settlementer_id: r.user_id) %>
          <% 
            dmer_slmt = 
              slmt_period(dmer_slmter ,@cash_result).where.not(industry_status: "×")
              .where.not(industry_status: "NG").where.not(industry_status: "要確認")
              .or(
                  slmt_period(dmer_slmter, @cash_result).where(industry_status: "")
                )
          %>
          <% dmer_result2 = 
              dmer_slmter.where(status_update_settlement: @month_result.next_month.beginning_of_month..@month_result.next_month.end_of_month)
              .where.not(industry_status: "NG").where.not(industry_status: "×")
              .where.not(industry_status: "要確認")
              .where(status: "審査OK")
              .where(status_settlement: "完了") 
          %>
          <% dmer_slmt_valuations = dmer_result2.sum(:valuation_settlement) %>
          <% dmer_result2_len = dmer_result2.length %>
          <% dmer_slmt_len = dmer_slmt.length %>
          <% dmer_slmt2nd = slmt_second(dmer_slmter,@cash_result) %>
      <%# 第二成果終着 %>
        <%# 期間内 %>
          <% 
            dmer_result2_fin_this_month_len =
              (
                dmer_len.to_f / new_shift_digestion * new_shift * (@dmer2_this_month_per - @dmer2_dec_per)
              ).round() rescue 0
          %>
          <%
            dmer_result2_fin_this_month = 
              (@dmer2_price * dmer_result2_fin_this_month_len) - dmer_val2_period.sum(:valuation_settlement) 
          %>
          <%
            dmer_result2_fin_prev_month_len =
              (
                (dmer2_slmt_tgt_prev.length - dmer_slmt_prev_val_len).to_f * 
                (@dmer2_prev_month_per - @dmer2_prev_dec_per)
              ).round()
          %>
        <%# 過去月 %>
          <%
            dmer_result2_fin_prev_month = 
              (@dmer2_price * dmer_result2_fin_prev_month_len) + 
              dmer_result2.where("? > date",@cash_result.minimum(:date)).sum(:valuation_settlement)
          %>
          <% dmer_result2_fin = dmer_result2_fin_this_month + dmer_result2_fin_prev_month %>
      <%# 第三成果終着 %>
          <%# 第三成果の過去母体 %>
            <% dmer_result3 = 
              dmer_slmter.where(settlement_second: @month_result.next_month.beginning_of_month..@month_result.next_month.end_of_month)
              .where.not(industry_status: "NG")
              .where.not(industry_status: "×")
              .where.not(industry_status: "要確認")
              .where(status: "審査OK")
              .where(status_settlement: "完了")
              .where("? >= status_update_settlement", @month_result.next_month.end_of_month)
              .or(
                dmer_slmter
                .where.not(industry_status: "NG")
                .where.not(industry_status: "×")
                .where.not(industry_status: "要確認")
                .where(status: "審査OK")
                .where(status_settlement: "完了")
                .where(status_update_settlement: @month_result.next_month.beginning_of_month..@month_result.next_month.end_of_month)
                .where("? >= settlement_second", @month_result.next_month.end_of_month)
              )
            %>
            <% dmer_slmt2nd_valuations = dmer_result3.sum(:valuation_second_settlement) %>
            <% dmer_result3_len = dmer_result3.length %>
            <% dmer_slmt2nd_len = dmer_slmt2nd.length %>
          <%# 期間内 %>
            <% if new_shift_digestion * new_shift == 0 %>
            <% dmer_result3_fin_this_month_len = 0 %>
            <% else %>
            <% 
              dmer_result3_fin_this_month_len = 
                (
                  dmer_len.to_f / new_shift_digestion * new_shift * 
                  (@dmer3_this_month_per - @dmer3_dec_per)
                ).round() rescue 0 
            %>
            <% end %>
            <% 
              dmer_result3_fin_this_month = 
              (@dmer3_price * dmer_result3_fin_this_month_len) - dmer_val3_period.sum(:valuation_second_settlement) rescue 0
            %>
          <%# 過去月 %>
            <% 
              dmer_result3_fin_prev_month = 
              (
                @dmer3_price * (dmer2_slmt_tgt_prev.length - dmer3_slmt_tgt_prev.length - dmer_slmt_dead_len)
              ) + (dmer_result3.where("? > date",@cash_result.minimum(:date)).sum(:valuation_second_settlement))
            %>
            <% dmer_result3_fin = dmer_result3_fin_this_month + dmer_result3_fin_prev_month %>
          <%# dメル終着見込獲得数 %>
            <% dmer_val_len = dmer_uq.length - dmer_def.length %><%# 成果件数 %>
            <% dmer_val_len_ave = (dmer_val_len.to_f / new_shift_digestion).round(1) rescue 0 %><%# 生産性 %>
            <% dmer_val_len_fin = dmer_val_len_ave * new_shift %><%# 獲得終着見込 %>
            <% dmer_result1_this_month_fin = dmer_val_len_fin %>
      <%# aupay（新規） %>
        <% aupay_user = Aupay.includes(:store_prop).where(user_id: r.user_id) %>
        <% 
          aupay_uq = 
            this_period(aupay_user,@cash_result).where(store_prop: {head_store: nil})
        %>
        <% aupay_def =  aupay_def(aupay_uq,@cash_result) %>
        <% aupay_inc = judge_inc(aupay_user,@cash_result)  %>
        <% aupay_judge_dec = judge_dec(aupay_user,@cash_result)  %>
        <% aupay_db = 
          result_period(aupay_user,@cash_result)
          .where.not(store_prop: {head_store: nil})
          .where(status: "審査通過") 
        %>
      <%# 合計 %>
        <% 
          aupay_valuations = 0
        %>
        <% 
          aupay_len = 
            aupay_uq.length - aupay_def.length + aupay_db.length
        %>
        <% if aupay_len == 0 %>
        <% aupay_len_ave = 0 %>
        <% else %>
        <% aupay_len_ave = (aupay_len.to_f / new_shift_digestion).round(1) rescue 0 %>
        <% end %>
        <% aupay_len_fin = (aupay_len_ave * new_shift).round() rescue 0 %>
      <%# aupay（決済） %>
        <% aupay_slmt_user = Aupay.where(settlementer_id: r.user_id) %>
        <% aupay_slmt = slmt_period(aupay_slmt_user ,@cash_result) %>
        <% 
          aupay_result1 = 
            aupay_slmt_user.where(status_update_settlement: @month_result.next_month.beginning_of_month..@month_result.next_month.end_of_month)
            .where(status: "審査通過")
            .where(status_settlement: "完了")
        %>
        <% aupay_slmt_valuations = aupay_result1.sum(:valuation_settlement) %>
        <% aupay_result1_len = aupay_result1.length %>
        <% aupay_slmt_len = aupay_slmt.length %>
      <%# 過去月決済対象の数 %>
        <% 
          aupay_slmt_tgt_prev = 
            aupay_user.where("settlement_deadline >= ?", @cash_result.minimum(:date))
            .where("? > date", @cash_result.minimum(:date))
            .where(status: "審査通過")
            .where(status_update_settlement: nil)
            .or(
              aupay_user.where("settlement_deadline >= ?", @cash_result.minimum(:date))
              .where("? > date", @cash_result.minimum(:date))
              .where(status: "審査通過")
              .where(status_update_settlement: @month_result.next_month.beginning_of_month..@month_result.next_month.end_of_month)
            )
        %>
        <%
          aupay_slmt_prev_val = 
          aupay_slmt_tgt_prev.where(status_update_settlement: @month_result.next_month.beginning_of_month..@month_result.next_month.end_of_month)
        %>
        <% aupay_slmt_prev_val_len = aupay_slmt_prev_val.length %>
        <% 
          aupay_uq_26_10 = 
            Aupay.where(user_id: r.user_id)
            .where(date: @cash_result.minimum(:date)..@month_result.next_month.beginning_of_month.since(9.days)) 
        %>
        <%
          aupay_val_26_10 = 
            aupay_uq_26_10.where(status: "審査通過")
            .where(status_settlement: "完了")
            .where(status_update_settlement: @month_result.next_month.beginning_of_month..@month_result.next_month.end_of_month)
        %>
        <%
          aupay_def_26_10 = 
            aupay_uq_26_10.where(status: "不合格")
            .or(aupay_uq_26_10.where(status: "申込取消"))
            .or(aupay_uq_26_10.where(status: "差し戻し"))
            .or(aupay_uq_26_10.where(status: "報酬対象外"))
            .or(aupay_uq_26_10.where(status: "重複対象外"))
            .or(aupay_uq_26_10.where(status: "本店審査待ち"))
            .or(aupay_uq_26_10.where(status: "自社NG"))
            .or(aupay_uq_26_10.where(status: "自社不備"))
        %>
        <% aupay_slmt_tgt_prev_len = aupay_slmt_tgt_prev.length %>
        <% aupay_uq_26_10_len = aupay_uq_26_10.length %>
        <% aupay_val_26_10_len = aupay_val_26_10.length %>
        <% aupay_def_26_10_len = aupay_def_26_10.length %>
      <%# 第一成果終着 %>
        <%# 期間内 %>
          <% 
            aupay_result1_fin_len = 
              (
                (aupay_uq_26_10_len - aupay_def_26_10_len - aupay_val_26_10_len).to_f / 
                new_shift_digestion * new_shift * @aupay1_this_month_per
              ).round() rescue 0 
          %>
          <%
            aupay_result1_fin_this_month = 
              (@aupay1_price * aupay_result1_fin_len) + 
              aupay_result1.where(date: @cash_result.minimum(:date)..@cash_result.maximum(:date))
              .sum(:valuation_settlement) rescue 0
          %>
        <%# 過去月 %>
          <%
            aupay_result1_fin_prev_month_len = 
              (
                (aupay_slmt_tgt_prev_len - aupay_slmt_prev_val_len) * (@aupay1_prev_month_per - @aupay_prev_dec_per)
              ).round() rescue 0
          %>
          <%
            aupay_result1_fin_prev_month = 
              (@aupay1_price * aupay_result1_fin_prev_month_len) + 
              aupay_result1.where("? > date",@cash_result.minimum(:date))
              .sum(:valuation_settlement) rescue 0
          %>

          <% aupay_result1_fin = aupay_result1_fin_prev_month %>
      <%# auPay写真 %>
        <% 
          aupay_pic = 
            OtherProduct.where(user_id: r.user_id)
            .where(product_name: "auPay写真")
            .where(date: @month_result.next_month.beginning_of_month..@month_result.next_month.end_of_month)
        %>
        <% aupay_pic_val = aupay_pic.sum(:valuation) %>
      <%# dメルステッカー %>
        <% 
          dmer_pic = 
            OtherProduct.where(user_id: r.user_id)
            .where(product_name: "dメルステッカー")
            .where(date: @month_result.next_month.beginning_of_month..@month_result.next_month.end_of_month)
        %>
        <% dmer_pic_val = aupay_pic.sum(:valuation) %>
      <%# PayPay %>
        <%# 基本情報 %>
          <% paypay_user = Paypay.where(user_id: r.user_id) %>
          <% paypay_data = this_period(paypay_user ,@cash_result) %>
          <% paypay_result = result_period(paypay_user ,@cash_result) %>
          <% 
            paypay_result1 = 
              paypay_user.where(result_point: @month_result.next_month.beginning_of_month..@month_result.next_month.end_of_month)
          %>
          <% paypay_valuations = paypay_result1.sum(:valuation) %>
          <% paypay_result1_len = paypay_result1.length %>
          <% paypay_len = paypay_data.length %>
          <% if paypay_len == 0 %>
          <% paypay_len_ave = 0 %>
          <% else %>
          <% paypay_len_ave = (paypay_len.to_f / new_shift_digestion).round(1) rescue 0 %>
          <% end %>
          <% paypay_fin_len = (paypay_len_ave * new_shift).round() rescue 0 %>
        <%# 第一成果終着 %>
          <% paypay_result1_fin = @paypay_price * paypay_fin_len rescue 0 %>
          <% if (paypay_valuations > paypay_result1_fin) || (Date.today >= Date.new(@month_result.since(2.month).year,@month_result.since(2.month).month,@closing_date.day)) %>
          <% paypay_result1_fin = paypay_valuations %>
          <% end %>
      <%# 楽天ペイ %>
        <%# 基本情報 %>
          <% rakuten_pay_user = RakutenPay.includes(:store_prop).where(user_id: r.user_id) %>
          <% 
            rakuten_pay_uq = 
              this_period(rakuten_pay_user,@cash_result)
          %>
          <% 
            rakuten_pay_dec = 
              rakuten_pay_uq.where.not(deficiency: nil)
              .where.not(share: @cash_result.minimum(:date)..@cash_result.maximum(:date))
          %>
          <% 
            rakuten_pay_def =  
              rakuten_pay_uq.where(status: "自社不備")
              .or(rakuten_pay_uq.where(status: "自社NG")) %>
          <% rakuten_pay_inc = rakuten_inc(rakuten_pay_user,@cash_result) %>
        <%# 不備なども含めた合計獲得数 %>
          <% 
            rakuten_pay_valuations =
              rakuten_pay_uq.sum(:valuation) - 
              rakuten_pay_def.sum(:valuation) -
              rakuten_pay_dec.sum(:valuation) +
              rakuten_pay_inc.sum(:valuation)
          %>
          <% 
            rakuten_pay_len = 
              rakuten_pay_uq.length - 
              rakuten_pay_def.length -
              rakuten_pay_dec.length +
              rakuten_pay_inc.length
          %>
          <% if rakuten_pay_len == 0 %>
          <% rakuten_pay_len_ave = 0 %>
          <% else %>
          <% rakuten_pay_len_ave = (rakuten_pay_len.to_f / new_shift_digestion).round(1) rescue 0 %>
          <% end %>
          <% rakuten_pay_len_fin = (rakuten_pay_len_ave * new_shift).round() rescue 0 %>
        <%# 第一成果 %>
          <% rakuten_pay_result1_fin_len = (rakuten_pay_len_ave * new_shift * @rakuten_pay1_this_month_per).round() rescue 0 %>
          <% rakuten_pay_result1_fin = @rakuten_pay_price * rakuten_pay_result1_fin_len rescue 0 %>
          <% if (rakuten_pay_valuations > rakuten_pay_result1_fin) || (Date.today >= Date.new(@month_result.since(2.month).year,@month_result.since(2.month).month,@closing_date.day)) %>
          <% rakuten_pay_result1_fin = rakuten_pay_valuations %>
          <% end %>
      <%# AirPay %>
        <%# 基本情報 %>
          <% airpay_user = Airpay.where(user_id: r.user_id) %>
          <% 
            airpay_prev = 
              airpay_user.where("? > date",@cash_result.minimum(:date))
              .where(status: "審査中")
            %>
          <% airpay_done_len_prev = airpay_user.where("? > date",@cash_result.minimum(:date)).where(status: "審査完了").where(result_point: @month_result.next_month.beginning_of_month..@month_result.next_month.end_of_month).length  %>
          <% airpays_result_len = @cash_result.includes(:result_cash).where(user_id: r.user_id).sum(:airpay) %>
          <% if (new_shift_digestion == 0) || (new_shift == 0) %>
            <% airpays_result_len_fin = 0 %>
          <% else %>
            <% 
              airpays_result_len_fin = (airpays_result_len.to_f / new_shift_digestion * new_shift * 
              (@airpay1_this_month_per - @airpay_dec_per)
              ).round()
            %>
          <% end %>
          <%
           airpay26_end_done = 
            airpay_user.where(date: @cash_result.minimum(:date)..@cash_result.minimum(:date).end_of_month)
            .where(result_point: @cash_result.minimum(:date)..@cash_result.minimum(:date).end_of_month)
            .where(status: "審査完了")
          %>
          <% 
            airpay_data = this_period(airpay_user ,@cash_result)
          %>
          <% airpay_result = airpay_data.where(status: "審査完了").or(airpay_data.where(status: "審査中"))
          %>
          <% airpay_len = airpay_result.length %>
          <% if airpay_len == 0 %>
          <% airpay_len_ave = 0 %>
          <% else %>
          <% 
            airpay_len_ave = 
              (airpay_len.to_f / new_shift_digestion).round(1) rescue 0 
          %>
          <% end %>
          <% airpay_len_fin = (airpay_len_ave * new_shift).round() rescue 0 %>
          <% airpay_result1_len = airpay_user.where(result_point: @month_result.next_month.beginning_of_month..@month_result.next_month.end_of_month).where(status: "審査完了").length %>
          
          <% 
            airpay_valuations = 
              if airpay_result1_len >= @airpay_bonus2_len
                airpay_result1_len * @airpay_bonus2_price
              elsif airpay_result1_len >= @airpay_bonus1_len
                airpay_result1_len * @airpay_bonus1_price
              else  
                airpay_result1_len * @airpay1_calc_data.price
              end
          %>
          <% if (airpays_result_len_fin + airpay_prev.length + airpay_done_len_prev) >= @airpay_bonus2_len %>
            <% airpay_price_fin = @airpay_bonus2_price %>
          <% elsif (airpays_result_len_fin + airpay_prev.length + airpay_done_len_prev) >= @airpay_bonus1_len %>
            <% airpay_price_fin = @airpay_bonus1_price %>
          <% else %>
            <% airpay_price_fin = @airpay_price %>
          <% end %>
        <%# 第一成果終着 %>
          <% airpay_result1_fin_this_month = 
            airpay_price_fin * airpays_result_len_fin - 
            (airpay_price_fin * airpay26_end_done.length) rescue 0 
          %>

          <% airpay_prev_fin_len = (airpay_prev.length * (@airpay1_prev_month_per - @airpay_prev_dec_per)).round() rescue 0 %>
          <% airpay_prev_fin = (airpay_price_fin * airpay_prev_fin_len) + (airpay_price_fin * airpay_done_len_prev) %>
          
          <% airpay_result1_fin = airpay_result1_fin_this_month + airpay_prev_fin %>
          <% if (airpay_valuations > airpay_result1_fin) || (Date.today >= Date.new(@month_result.since(2.month).year,@month_result.since(2.month).month,@closing_date.day)) %>
          <% airpay_result1_fin = airpay_valuations %>
          <% end %>
          
      <%# 出前館 %>
        <% demaekan_user = Demaekan.where(user_id: r.user_id) %>
        <% demaekan_data = demaekan_user.where(first_cs_contract: @cash_result.minimum(:date)..@cash_result.maximum(:date)) %>
        <% demaekan_valuations = demaekan_data.sum(:valuation) %>
        <% demaekan_len = demaekan_data.length %>
      <%# 現状売上 %>
        <% 
          sum_valuations = 
            dmer_valuations +
            dmer_slmt_valuations +
            dmer_slmt2nd_valuations +
            aupay_valuations + 
            aupay_slmt_valuations +
            paypay_valuations +
            rakuten_pay_valuations + 
            airpay_valuations + 
            aupay_pic_val +
            dmer_pic_val +
            demaekan_valuations
        %>

        <% 
          sum_valuations_fin = 
            (
              dmer_result1_fin.to_i +
              dmer_result2_fin.to_i  +
              dmer_result3_fin.to_i +
              aupay_result1_fin.to_i +
              paypay_result1_fin.to_i +
              rakuten_pay_result1_fin.to_i +
              airpay_result1_fin.to_i +
              aupay_pic_val.to_i +
              dmer_pic_val.to_i +
              demaekan_valuations.to_i
            )
          %>
          
        <% if (sum_valuations > sum_valuations_fin) || (Date.today >= Date.new(@month_result.since(2.month).year,@month_result.since(2.month).month,@closing_date.day)) %>
          <% sum_valuations_fin = sum_valuations rescue 0 %>
        <% end %>
      <%# 拠点平均 %>
        <% sum_valuations_ave = 0 %>
        <% if (sum_valuations_fin.present?) || (shifts != 0) %>
          <% sum_valuations_ave = sum_valuations_fin / shifts rescue 0 %>
        <% end %>
      <%# 各訪問員のデータをハッシュに格納 %>
        <% ranking.store(r.user.name,[sum_valuations_fin]) %>
        <% ranking_ave.store(r.user.name,[sum_valuations_ave]) %>
        <% ranking = ranking.sort {|(k1,v1), (k2,v2)| v2<=>v1}.to_h %>
        <% ranking_ave = ranking_ave.sort {|(k1,v1), (k2,v2)| v2<=>v1}.to_h %>
      <%# 拠点合計獲得数 %>
        <% sum_product = (dmer_uq.length + rakuten_pay_uq.length + airpay_data.length).to_f %>
        <% base_sum_product += sum_product %>
        <% base_dmer += dmer_len %>
        <% base_dmer_ave = base_dmer / shift_digestion rescue 0 %>
        <% base_dmer_fin += dmer_len_fin %>
        <% base_dmer_slmt += dmer_slmt_len %>
        <% base_dmer_slmt2nd += dmer_slmt2nd_len %>
        <% base_aupay += aupay_len %>
        <% base_aupay_ave = base_aupay / shift_digestion rescue 0 %>
        <% base_aupay_fin += aupay_len_fin %>
        <% base_aupay_slmt += aupay_slmt_len %>
        <% base_paypay += paypay_len %>
        <% base_paypay_ave = base_paypay / shift_digestion rescue 0 %>
        <% base_paypay_fin += paypay_fin_len %>
        <% base_rakuten_pay += rakuten_pay_len %>
        <% base_rakuten_pay_ave = base_rakuten_pay / shift_digestion rescue 0 %>
        <% base_rakuten_pay_fin += rakuten_pay_len_fin %>
        <% base_airpay += airpay_len %>
        <% base_airpay_ave = base_airpay / shift_digestion rescue 0 %>
        <% base_airpay_fin += airpay_len_fin %>
        <% base_sum += sum_valuations %>
        <% base_fin += sum_valuations_fin %>
        <%# 成果件数 %>
        <% base_dmer_result1_len += dmer_result1_len %>
        <% base_dmer_result2_len += dmer_result2_len %>
        <% base_dmer_result3_len += dmer_result3_len %>
        <% base_aupay_result1_len += aupay_result1_len %>
        <% base_paypay_result1_len += paypay_result1_len %>
        <% base_airpay_result1_len += airpay_result1_len %>
    <% if  @result_category == "拠点別終着" %><%# 利用内容に合わせて表示させるカラムを変更 %>
      <tr>
        <th class="base-td sticky"><%= r.user.name %></th>
        <td class="base-td"><%= r.user.base_sub  %></td>
        <td class="base-td"><%= new_shift %></td>
        <td class="base-td"><%= slmt_shift %></td>
        <td class="base-td"><%= new_shift_digestion %></td>
        <td class="base-td"><%= slmt_shift_digestion %></td>
        <%# 評価売上 %>
        <td class="base-td"><%= sum_valuations_ave.to_s(:delimited) rescue 0 %></td>
        <td class="base-td"><%= sum_valuations.to_s(:delimited) rescue 0 %></td>
        <td class="base-td"><%= sum_valuations_fin.to_s(:delimited) rescue 0 %></td>
        <%# 基準値 %>
        <% total_visit_ave = (sum_total_visit / new_shift_digestion).round(1) rescue 0 %>
        <% visit_ave = (sum_visit / new_shift_digestion).round(1) rescue 0 %>
        <% interview_ave = (sum_interview / new_shift_digestion).round(1) rescue 0 %>
        <% full_talk_ave = (sum_full_talk / new_shift_digestion).round(1) rescue 0 %>
        <% sum_product_ave = (sum_product / 3 / new_shift_digestion).round(1) rescue 0 %>
        <td class="base-td"><%= total_visit_ave rescue 0 %></td>
        <td class="base-td"><%= visit_ave rescue 0 %></td>
        <td class="base-td"><%= number_to_percentage(visit_ave / total_visit_ave * 100,precision:0) rescue 0 %></td>
        <td class="base-td"><%= interview_ave rescue 0 %></td>
        <td class="base-td"><%= number_to_percentage(interview_ave / visit_ave * 100,precision:0) rescue 0 %></td>
        <td class="base-td"><%= full_talk_ave rescue 0 %></td>
        <td class="base-td"><%= number_to_percentage(full_talk_ave / interview_ave * 100,precision:0) rescue 0 %></td>
        <td class="base-td"><%= sum_product_ave %></td>
        <td class="base-td"><%= number_to_percentage(sum_product_ave / full_talk_ave * 100,precision:0) rescue 0 %></td>
        <%# 獲得数 %>
        <td class="base-td"><%= dmer_len %></td>
        <td class="base-td"><%= dmer_slmt_len %></td>
        <td class="base-td"><%= dmer_slmt2nd_len %></td>
        <td class="base-td"><%= aupay_len %></td>
        <td class="base-td"><%= aupay_slmt_len %></td>
        <td class="base-td"><%= paypay_len %></td>
        <td class="base-td"><%= rakuten_pay_len %></td>
        <td class="base-td"><%= airpay_len %></td>
        <%# 成果件数 %>
        <td class="base-td"><%= dmer_result1_len %></td>
        <td class="base-td"><%= dmer_result2_len %></td>
        <td class="base-td"><%= dmer_result3_len %></td>
        <td class="base-td"><%= aupay_result1_len %></td>
        <td class="base-td"><%= paypay_result1_len %></td>
        <td class="base-td"><%= airpay_result1_len %></td>
        <%# 平均獲得数 %>
        <td class="base-td"><%= dmer_len_ave %></td>
        <td class="base-td"><%= aupay_len_ave %></td>
        <td class="base-td"><%= paypay_len_ave %></td>
        <td class="base-td"><%= rakuten_pay_len_ave %></td>
        <td class="base-td"><%= airpay_len_ave %></td>
        <%# 獲得終着 %>
        <td class="base-td"><%= dmer_len_fin %></td>
        <td class="base-td"><%= aupay_len_fin %></td>
        <td class="base-td"><%= paypay_fin_len %></td>
        <td class="base-td"><%= rakuten_pay_len_fin %></td>
        <td class="base-td"><%= airpay_len_fin %></td>
        <%# 商材別基準値 %>
        <% cash_user = @cash_result_out.where(user_id: r.user_id) %>
        <%# AirPay基準値 %>
        <% airpay_interview_sum = cash_user.sum(:out_interview_19) %>
        <% airpay_interview_ave = (airpay_interview_sum.to_f / new_shift_digestion).round(1) %>
        <% airpay_full_talk_sum = cash_user.sum(:out_full_talk_19) %>
        <% airpay_full_talk_ave = (airpay_full_talk_sum.to_f / new_shift_digestion).round(1) %>
        <% airpay_get_sum = cash_user.sum(:out_get_19) %>
        <% airpay_get_ave = (airpay_get_sum.to_f / new_shift_digestion).round(1) %>
        <td class="base-td"><%= airpay_interview_ave %></td>
        <td class="base-td"><%= airpay_full_talk_ave %></td>
        <td class="base-td"><%= number_to_percentage(airpay_full_talk_ave / airpay_interview_ave * 100,precision:0) rescue 0 %></td>
        <td class="base-td"><%= airpay_get_ave %></td>
        <td class="base-td"><%= number_to_percentage(airpay_get_ave / airpay_full_talk_ave * 100,precision:0) rescue 0 %></td>
        <%# 出前館基準値 %>
        <% demaekan_full_talk_sum = cash_user.sum(:out_full_talk_20) %>
        <% demaekan_full_talk_ave = (demaekan_full_talk_sum.to_f / new_shift_digestion).round(1) %>
        <% demaekan_get_sum = cash_user.sum(:out_get_20) %>
        <% demaekan_get_ave = (demaekan_get_sum.to_f / new_shift_digestion).round(1) %>
        <td class="base-td"><%= airpay_full_talk_ave %></td>
        <td class="base-td"><%= airpay_get_ave %></td>
        <td class="base-td"><%= number_to_percentage(demaekan_get_ave / demaekan_full_talk_ave * 100,precision:0) rescue 0 %></td>
      </tr>
    <% elsif @result_category == "利益計算用終着" %><%# 利益計算用終着 %>
      <tr>
      <td class="rank-td"><%= r.user.name %></td>
      <td class="rank-td"><%= r.user.position_sub %></td>
      <td class="rank-td"><%= sum_valuations_fin.to_s(:delimited) %></td>
      </tr>
    <% end %><%# /利用内容に合わせて表示させるカラムを変更 %>
  <% end %><%# /個別終着を出力 %>

    <% if  @result_category == "拠点別終着" %><%# 利用内容に合わせて表示させるカラムを変更 %>
      <tr>
        <th class="sticky">全体</th>
        <td class="base-td"></td>
        <td class="base-td"><%= base_new_shift %></td>
        <td class="base-td"><%= base_slmt_shift %></td>
        <td class="base-td"><%= base_new_shift_digestion %></td>
        <td class="base-td"><%= base_slmt_shift_digestion %></td>
        <%# 全体評価売上 %>
        <td class="base-td"><%= (base_fin / (base_new_shift + base_slmt_shift)).round().to_s(:delimited) rescue 0 %></td>
        <td class="base-td"><%= base_sum.to_s(:delimited) rescue 0 %></td>
        <td class="base-td"><%= base_fin.to_s(:delimited) rescue 0 %></td>
        <%# 基準値 %>
        <% total_visit_ave_base = ((@cash_result.sum(:first_total_visit) + @cash_result.sum(:latter_total_visit)).to_f / base_new_shift_digestion).round(1) rescue 0 %>
        <% visit_ave_base = ((@cash_result.sum(:first_visit) + @cash_result.sum(:latter_visit)).to_f / base_new_shift_digestion).round(1) rescue 0 %>
        <% interview_ave_base = ((@cash_result.sum(:first_interview) + @cash_result.sum(:latter_interview)).to_f / base_new_shift_digestion).round(1) rescue 0 %>
        <% full_talk_ave_base = ((@cash_result.sum(:first_full_talk) + @cash_result.sum(:latter_full_talk)).to_f / base_new_shift_digestion).round(1) rescue 0 %>
      
        <% sum_product_ave_base = (base_sum_product / base_new_shift_digestion / 3).round(1) rescue 0 %>
        <td class="base-td"><%= total_visit_ave_base rescue 0 %></td>
        <td class="base-td"><%= visit_ave_base rescue 0 %></td>
        <td class="base-td"><%= number_to_percentage(visit_ave_base / total_visit_ave_base * 100,precision:0) rescue 0 %></td>
        <td class="base-td"><%= interview_ave_base rescue 0 %></td>
        <td class="base-td"><%= number_to_percentage(interview_ave_base / visit_ave_base  * 100,precision:0) rescue 0 %></td>
        <td class="base-td"><%= full_talk_ave_base rescue 0 %></td>
        <td class="base-td"><%= number_to_percentage(full_talk_ave_base / interview_ave_base * 100,precision:0) rescue 0 %></td>
        <td class="base-td"><%= sum_product_ave_base rescue 0 %></td>
        <td class="base-td"><%= number_to_percentage(sum_product_ave_base / full_talk_ave_base * 100,precision:0) rescue 0 %></td>
        <%# 全体獲得数 %>
        <td class="base-td"><%= base_dmer %></td>
        <td class="base-td"><%= base_dmer_slmt %></td>
        <td class="base-td"><%= base_dmer_slmt2nd %></td>
        <td class="base-td"><%= base_aupay %></td>
        <td class="base-td"><%= base_aupay_slmt %></td>
        <td class="base-td"><%= base_paypay %></td>
        <td class="base-td"><%= base_rakuten_pay %></td>
        <td class="base-td"><%= base_airpay %></td>
        <%# 全体成果件数 %>
        <td class="base-td"><%= base_dmer_result1_len %></td>
        <td class="base-td"><%= base_dmer_result2_len %></td>
        <td class="base-td"><%= base_dmer_result3_len %></td>
        <td class="base-td"><%= base_aupay_result1_len %></td>
        <td class="base-td"><%= base_paypay_result1_len %></td>
        <td class="base-td"><%= base_airpay_result1_len %></td>
        <%# 全体平均獲得数 %>
        <td class="base-td"><%= (base_dmer.to_f / base_new_shift_digestion).round(1) rescue 0 %></td>
        <td class="base-td"><%= (base_aupay.to_f / base_new_shift_digestion).round(1) rescue 0 %></td>
        <td class="base-td"><%= (base_paypay.to_f / base_new_shift_digestion).round(1) rescue 0 %></td>
        <td class="base-td"><%= (base_rakuten_pay.to_f / base_new_shift_digestion).round(1) rescue 0 %></td>
        <td class="base-td"><%= (base_airpay.to_f / base_new_shift_digestion).round(1) rescue 0 %></td>
        <%# 全体終着獲得数 %>
        <td class="base-td"><%= base_dmer_fin %></td>
        <td class="base-td"><%= base_aupay_fin %></td>
        <td class="base-td"><%= base_paypay_fin %></td>
        <td class="base-td"><%= base_rakuten_pay_fin %></td>
        <td class="base-td"><%= base_airpay_fin %></td>
        <%# 商材別基準値 %>
        <%#  AirPay %>
        <% airpay_interview_sum_base = @cash_result_out.sum(:out_interview_19) rescue 0 %>
        <% airpay_interview_ave_base = (airpay_interview_sum_base.to_f / base_new_shift_digestion).round(1) rescue 0 %>
        <% airpay_full_talk_sum_base = @cash_result_out.sum(:out_full_talk_19) rescue 0 %>
        <% airpay_full_talk_ave_base = (airpay_full_talk_sum_base.to_f / base_new_shift_digestion).round(1) rescue 0 %>
        <% airpay_get_sum_base = @cash_result_out.sum(:out_get_19) rescue 0 %>
        <% airpay_get_ave_base = (airpay_get_sum_base.to_f / base_new_shift_digestion).round(1) rescue 0 %>
        <td class="base-td"><%= airpay_interview_ave_base rescue 0 %></td>
        <td class="base-td"><%= airpay_full_talk_ave_base rescue 0 %></td>
        <td class="base-td"><%= number_to_percentage(airpay_full_talk_ave_base / airpay_interview_ave_base * 100,precision:0) rescue 0 %></td>
        <td class="base-td"><%= airpay_get_ave_base rescue 0 %></td>
        <td class="base-td"><%= number_to_percentage(airpay_get_ave_base / airpay_full_talk_ave_base * 100,precision:0) rescue 0 %></td>
        <%# 出前館 %>
        <% demaekan_full_talk_sum_base = @cash_result_out.sum(:out_full_talk_20) rescue 0 %>
        <% demaekan_full_talk_ave_base = (demaekan_full_talk_sum_base.to_f / base_new_shift_digestion).round(1) rescue 0 %>
        <% demaekan_get_sum_base = @cash_result_out.sum(:out_get_20) rescue 0 %>
        <% demaekan_get_ave_base = (demaekan_get_sum_base.to_f / base_new_shift_digestion).round(1) rescue 0 %>
        <td class="base-td"><%= demaekan_full_talk_ave_base rescue 0 %></td>
        <td class="base-td"><%= demaekan_get_ave_base rescue 0 %></td>
        <td class="base-td"><%= number_to_percentage(demaekan_get_ave / demaekan_full_talk_ave * 100,precision:0) rescue 0 %></td>
      </tr>
    <% end %><%# 利用内容に合わせて表示させるカラムを変更 %>
  </table>
  <%# ランキング %>
    <% if @result_category == "ランキング" %>
    <div style="display: flex;">
      <div><%# 終着 %>
        <p class="sub-title">終着</p>
        <table>
          <thead>
            <tr>
              <th class="rank-th">順位</th>
              <th class="rank-th">氏名</th>
              <th class="rank-th">終着売上</th>
            </tr>
          </thead>
          <tbody>
          <% ranking.each_with_index do |rank,i| %>
            <tr>
              <td class="rank-td"><%= i + 1 %>位</td>
              <td class="rank-td"><%= rank[0] %></td>
              <td class="rank-td"><%= (rank[1][0]).to_s(:delimited) %></td>
            </tr>
          <% break if i == 4 %>
          <% end %>
          </tbody>
        </table>
      </div><%# /終着 %>
      <div><%# Ave %>
        <p class="sub-title">平均</p>
        <table>
          <thead>
            <tr>
              <th class="rank-th">順位</th>
              <th class="rank-th">氏名</th>
              <th class="rank-th">Ave</th>
            </tr>
          </thead>
          <tbody>
          <% ranking_ave.each_with_index do |rank,i| %>
            <tr>
              <td class="rank-td"><%= i + 1 %>位</td>
              <td class="rank-td"><%= rank[0] %></td>
              <td class="rank-td"><%= (rank[1][0]).to_s(:delimited) %></td>
            </tr>
          <% break if i == 4 %>
          <% end %>
          </tbody>
        </table>
      </div><%# /終着 %>
    </div>
  <% end %><%# ランキング %>

<% end %><%# /大元のresultデータベースがあるか判別する %>