<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<div data-scope-path="shared/header">
  <h1>Nuro現状成果（月間）</h1>
  <%= render "shared/header" %>
</div>
<div style="display:flex;">
  <div data-scope-path="shared/side_bar">
    <%= render "shared/sidebar" %>
  </div>
  <div data-scope-path="shares/index">

    <div class="warning"><%= alert %></div><br>
    <%= render "shared/nuro_links" %>
    <h2>
      <%= link_to "<<",monthly_result_nuros_path(month: @month.ago(1.month)), class:"link" %>
      <%= @month.strftime("%Y年%m月") %>獲得成果
      <%= link_to ">>",monthly_result_nuros_path(month: @month.since(1.month)), class:"link" %>
    </h2><br>
    <table>
      <tr>
        <th>商材</th>
        <th>成果</th>
        <th>明細</th>
        <th>未入金</th>
      </tr>
      <tr>
        <td>光回線</td>
        <td><%= @nuros.where.not(start: nil).length %>件</td>
        <td><%= @nuros.where(nuro_payments: {category: "光回線"}).length %></td>
        <td><%= link_to @nuros.where.not(start: nil).length - @nuros.where(nuro_payments: {category: "光回線"}).length,"#",class: "link" %></td>
      </tr>
      <tr>
        <td>光でんわ</td>
        <td><%= @nuros.where.not(start: nil).where(option_tell: "有").length %>件</td>
        <td><%= @nuros.where(nuro_payments: {category: "光でんわ"}).length %></td>
        <td><%= link_to @nuros.where.not(start: nil).where(option_tell: "有").length - @nuros.where(nuro_payments: {category: "光でんわ"}).length,"#",class: "link" %></td>
      </tr>
      <tr>
        <td>ひかりTV</td>
        <td><%= @nuros.where.not(option_hikari_tv: nil).length %>件</td>
        <td><%= @nuros.where(nuro_payments: {category: "ひかりTV"}).length %></td>
        <td><%= link_to @nuros.where.not(option_hikari_tv: nil).length - @nuros.where(nuro_payments: {category: "ひかりTV"}).length,"#",class: "link" %></td>
      </tr>
      <tr>
        <td>ひかりTV２件目</td>
        <td><%= @nuros.where.not(option_hikari_tv2: nil).length %>件</td>
        <td><%= @nuros.where(nuro_payments: {category: "ひかりTV２件目"}).length %></td>
        <td><%= link_to @nuros.where.not(option_hikari_tv2: nil).length - @nuros.where(nuro_payments: {category: "ひかりTV２件目"}).length,category_not_payment_nuros_path(categpry: "ひかりTV２件目", month: @month),class: "link" %></td>
      </tr>
    </table>
  </div>
</div>