<% days = ["日", "月", "火", "水", "木", "金", "土"] %>
<%# 変数 %>
  <% not_payment1_price = 0 %>
  <% not_payment1_len = 0 %>
<%# /変数 %>
<% if (current_user.name == "管理用") || (current_user.name == "佐藤健二") || (current_user.name == "三宅翔馬") %>
  <div data-scope-path="shared/header">
    <h1>AirPay未入金一覧</h1>
    <%= render "shared/header" %>
  </div>
  <div style="display:flex;">
    <div data-scope-path="shared/side_bar">
      <%= render "shared/sidebar" %>
    </div>
    <div data-scope-path="shares/index">
      <hr>
        <%= render "shared/payment_links" %>
      <hr>
      <h2 class="">
        <%= link_to "<<",not_payment_payment_airpays_path(month:@month.prev_month),"data-turbolinks": false, class:"link" %>
        <%= @month.month %>月AirPay明細
        <%= link_to ">>",not_payment_payment_airpays_path(month:@month.next_month),"data-turbolinks": false, class:"link" %>
      </h2>
      <hr>
      <div class="flex"><%# 右と左と画面を分ける %>
        <div><%# 左（一覧） %>
        <h2>
          ◆明細未反映案件（審査完了：<%= @month.beginning_of_month.to_date %>〜<%= @month.end_of_month.to_date %>）
        </h2>
        <table>
          <tr>
            <th>No</th>
            <th>商流</th>
            <th>会社</th>
            <th>管理番号</th>
            <th>店舗名</th>
            <th>獲得者</th>
            <th>獲得日</th>
            <th>申込日</th>
            <th>成果になった日</th>
            <th>自社入金予想日</th>
          </tr>
          <% flag = "" %>
          <% result_date = "" %>
          <% billing_connect_len = 0 %>
          <% billing_connect_price = 0 %>
          <% @results_monthly.each do |airpay| %>
          <% billing_doubt = @billing_date.find_by(controll_num: airpay.customer_num) %>
          <% if  billing_doubt.present? %>
            <% billing_connect_len += 1 %>
            <% billing_connect_price += billing_doubt.price %>
          <% else %>
            <tr>
              <td><%= not_payment1_len += 1 %></td>
              <% not_payment1_price += 15000 %>
              <td><%= airpay.client %></td>
              <td><%= airpay.user.group %></td>
              <td><%= airpay.customer_num %></td>
              <td><%= airpay.store_prop.name %></td>
              <td><%= airpay.user.name %></td>
              <td><%= airpay.date %></td>
              <td><%= airpay.share %></td>
              <td><%= airpay.result_point %></td>
              <td><%= airpay.payment %></td>
            </tr>
          <% end %>
          <% end %>
        </table>
        </div><%# 左 %>
        <div><%# 右（合計） %>

          <h2>◆明細合計金額</h2>
          <table>
            <tr>
            <th class="green-th">項目</th>
            <th class="green-th">合計</th>
            <th class="green-th">合計連携済</th>
            <th class="green-th">当月連携済</th>
            </tr>
            <tr>
              <td class="">件数</td>
              <td class=""><%= @payments_monthly.length.to_s(:delimited) %></td>
              <td class=""><%= @payments_monthly.where.not(airpay_id: nil).length.to_s(:delimited) %></td>
              <td class=""><%= billing_connect_len.to_s(:delimited) %></td>
            </tr>
            <tr>
              <td class="">手数料</td>
              <td class=""><%= @payments_monthly.sum(:price).to_s(:delimited) %></td>
              <td class=""><%= @payments_monthly.where.not(airpay_id: nil).sum(:price).to_s(:delimited) %></td>
              <td class=""><%= billing_connect_price.to_s(:delimited) %></td>
            </tr>
          </table>
          <h2>◆自社成果合計金額</h2>
          <table>
            <tr>
              <th class="green-th">項目</th>
              <th class="green-th">合計</th>
              <th class="green-th">未確認</th>
            </tr>
            <tr>
              <td>件数</td>
              <td><%= @results_monthly.length.to_s(:delimited) %></td>
              <td class="red"><%= not_payment1_len.to_s(:delimited) %></td>
            </tr>
            <tr>
              <td>手数料</td>
              <td><%= @results_monthly.sum(:profit).to_s(:delimited) %></td>
              <td class="red"><%= (not_payment1_price).to_s(:delimited) %></td>
            </tr>
          </table>

          <% empty_data = @billing_date.where(airpay_id: nil) %>
          <% empty_data.each do |e| %>
          <h2 class="red">・自社当て付け失敗：<%= e.store_name %></h2>
          <% end  %>
        </div><%# 右 %>
      </div><%# 右と左と分ける %>
    </div>
  </div>
<% end %>